<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrOgnCurntMng" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectPrdcrOgnCurntMng */
				  CM.APO_CD
				, CM.APO_SE
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				, CM.APRV

				, EAM.YR
				, EAM.APLY_DAY
				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, EAM.ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO CM , TB_EV_APLY_MNG EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)

    	]]>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST LIKE #{cmptnInst} || '%'
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.II_CODE LIKE '%' || #{ctpv} || '%'
			</if>

			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD LIKE #{corpSeCd} || '%'
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD LIKE '%' || #{corpDtlSeCd} || '%'
			</if>

			<if test='brno != null and brno != ""'>
				AND CM.BRNO LIKE #{brno} || '%'
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='yr != null and yr != ""'>
				AND EAM.YR LIKE '%' || #{yr} || '%'
			</if>
		ORDER BY CM.CORP_NM DESC
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrOgnCurntMngList" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>

    	<![CDATA[
			SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectPrdcrOgnCurntMng */
				  CM.APO_CD
				, CM.APO_SE
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				, CM.APRV

				, EAM.YR
				, EAM.APLY_DAY
				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, EAM.ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO CM , TB_EV_APLY_MNG EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)

    	]]>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST LIKE #{cmptnInst} || '%'
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.II_CODE LIKE '%' || #{ctpv} || '%'
			</if>

			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD LIKE #{corpSeCd} || '%'
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD LIKE '%' || #{corpDtlSeCd} || '%'
			</if>

			<if test='brno != null and brno != ""'>
				AND CM.BRNO LIKE #{brno} || '%'
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='yr != null and yr != ""'>
				AND EAM.YR LIKE '%' || #{yr} || '%'
			</if>
		ORDER BY CM.CORP_NM DESC

		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>


	<insert id="insertPrdcrOgnCurntMng" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN CLT  /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertEvAplyMng */
		USING DUAL
			ON (
					CLT.APO_CD  = #{apoCd}
				 AND CLT.PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
				)
		WHEN MATCHED THEN
				 UPDATE /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertEvAplyMng */
					   SET
		    	        PRDCR_OGNZ_CD			= #{prdcrOgnzCd}
		    	        , PRDCR_OGNZ_NM			= #{prdcrOgnzNm}
		    	        , RMRK					= #{rmrk}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 AND CLT.APO_CD			= #{apoCd}
					 AND CLT.PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
		WHEN NOT MATCHED THEN
			 INSERT /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertEvAplyMng */
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , CRNO
		    		  , YR
		    		  , STTG_UPBR_ITEM_SE
		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , TRMT_TYPE
		    		  , PRDCR_OGNZ_SN
		    		  , PRDCR_OGNZ_CD
		    		  , PRDCR_OGNZ_NM
		    		  , RMRK
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , (case when #{apoSe} is not null then #{apoSe}
		   			  			ELSE (SELECT OGNZ_SE_CD FROM TB_APC_OGNZ_INFO WHERE OGNZ_CD = #{apoCd})
		   			  			END)
		   			  , #{brno}
		   			  , #{crno}
		   			  , #{yr}
		   			  , #{sttgUpbrItemSe}
		   			  , #{ctgryCd}
		   			  , #{itemCd}
		   			  , #{trmtType}
		   			  , SEQ_PRDCR_OGNZ_SN.NEXTVAL
		   			  , #{prdcrOgnzCd}
		   			  , #{prdcrOgnzNm}
		   			  , #{rmrk}
		   			)
    	]]>
    </insert>
	<update id="updatePrdcrOgnCurntMng" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.upatePrdcrOgnCurntMng */
	    		TB_PD_PrdcrCrclOgnVluIdctrMng
			   SET
			 	  AA	= #{aa}
			 	, BB 	= #{bb}
			 	, CC 	= #{cc}
			 	, CC_CODE 	= #{ccCode}
			 	, DD 	= #{dd}
			 	, DD_CODE 	= #{ddCode}
			 	, EE 	= #{ee}
			 	, FF 	= #{ff}
			 	, GG 	= #{gg}
			 	, HH 	= #{hh}
			 	, II 	= #{ii}
			 	, II_CODE 	= #{iiCode}
			 	, JJ 	= #{jj}
			 	, KK 	= #{kk}
			 	, LL 	= #{ll}
			 	, MM 	= #{mm}
			 	, NN 	= #{nn}
			 	, OO 	= #{oo}
			 	, PP 	= #{pp}
			 	, QQ 	= #{qq}
			 	, RR 	= #{rr}
			 	, SS 	= #{ss}
			 	, TT 	= #{tt}
			 	, UU 	= #{uu}
			 	, VV 	= #{vv}
			 	, WW 	= #{ww}
			 	, XX 	= #{xx}
			 	, YY 	= #{yy}
			 	, ZZ 	= #{zz}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND TEST_NO	= #{testNo}
    	]]>
    </update>


	<delete id="deletePrdcrOgnCurntMng" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
		<![CDATA[
		DELETE FROM TB_EV_FRMHS_APO
		 WHERE APO_CD			= #{apoCd}
		   AND PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
		]]>
	</delete>


    <select id="selectPrdcrOgnCurntMngDtlList" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectPrdcrOgnCurntMng */
				  CM.APO_CD
		    	, CM.APO_SE
		    	, CM.BRNO
		    	, CM.CRNO
		    	, CM.YR
		    	, CM.STTG_UPBR_ITEM_SE
		    	, CM.CTGRY_CD
		    	, CM.ITEM_CD
		    	, CM.TRMT_TYPE
		    	, CM.PRDCR_OGNZ_SN
		    	, CM.PRDCR_OGNZ_CD
		    	, CM.PRDCR_OGNZ_NM
		    	, CM.CLTVTN_AREA_RMRK

		    	, CM.JOIN_DAY
		    	, CM.WHDWL_DAY
		    	, CM.CLTVTN_AREA
		    	, CM.AVG_YR_PRDCTN_VLM

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN CM
			 WHERE 1=1

    	]]>
    		<if test='apoCd != null and apoCd != ""'>
				AND CM.APO_CD LIKE #{apoCd} || '%'
			</if>
			<if test='itemCd != null and itemCd != ""'>
				AND CM.ITEM_CD LIKE '%' || #{itemCd} || '%'
			</if>
			<if test='trmtType != null and trmtType != ""'>
				AND CM.TRMT_TYPE LIKE #{trmtType} || '%'
			</if>
		ORDER BY CM.PRDCR_OGNZ_SN DESC

    </select>
</mapper>