<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrOgnCurntMng" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectPrdcrOgnCurntMng */
				  CM.APO_CD
				, CM.APO_SE
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				, CM.APRV

				, EAM.YR
				, EAM.APLY_DAY
				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, EAM.ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO CM , TB_EV_APLY_MNG EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)

    	]]>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST = #{cmptnInst}
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.II_CODE = #{ctpv}
			</if>

			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD = #{corpSeCd}
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD = #{corpDtlSeCd}
			</if>

			<if test='brno != null and brno != ""'>
				AND CM.BRNO = #{brno}
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='yr != null and yr != ""'>
				AND EAM.YR = #{yr}
			</if>
		ORDER BY CM.CORP_NM DESC
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrOgnCurntMngList" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>

    	<![CDATA[
			SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectPrdcrOgnCurntMng */
				  CM.APO_CD
				, CM.APO_SE
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				, CM.APRV

				, EAM.YR
				, EAM.APLY_DAY
				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, EAM.ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO CM , TB_EV_APLY_MNG EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)

    	]]>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST = #{cmptnInst}
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.II_CODE = #{ctpv}
			</if>

			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD = #{corpSeCd}
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD = #{corpDtlSeCd}
			</if>

			<if test='brno != null and brno != ""'>
				AND CM.BRNO = #{brno}
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='yr != null and yr != ""'>
				AND EAM.YR = #{yr}
			</if>
		ORDER BY CM.CORP_NM DESC

		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>


	<insert id="insertPrdcrOgnCurntMngDtl" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN CLT  /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertEvAplyMng */
		USING DUAL
			ON (
					CLT.APO_CD  = #{apoCd}
				 AND CLT.PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
				 AND CLT.CLTVTN_LAND_SN	= #{cltvtnLandSn}
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	        CLTVTN_SFC			= #{cltvtnSfc}
		    	        , AVG_YR_PRDCTN_VLM		= #{avgYrPrdctnVlm}
		    	        , JOIN_DAY				= #{joinDay}
		    	        , WHDWL_DAY				= #{whdwlDay}
		    	        , CLTVTN_AREA_RMRK		= #{cltvtnAreaRmrk}

		    	        , PRDCTN_PLAN_VLM		= #{prdctnPlanVlm}
		    	        , EC_SPMT_PLAN_VLM		= #{ecSpmtPlanVlm}
		    	        , PLAN_RMRK				= #{planRmrk}

		    	        , PRDCTN_VLM			= #{prdctnVlm}
		    	        , EC_SPMT_VLM			= #{ecSpmtVlm}
		    	        , SPMT_PRC				= #{spmtPrc}
		    	        , SPMT_RMRK				= #{spmtRmrk}

		    	        , FLNM		= #{flnm}
		    	        , CLTVTN_LAND_ADDR		= #{cltvtnLandAddr}

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 AND CLT.APO_CD			= #{apoCd}
					 AND CLT.PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
					 AND CLT.CLTVTN_LAND_SN	= #{cltvtnLandSn}
		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , CRNO
		    		  , YR
		    		  , STTG_UPBR_ITEM_SE
		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , TRMT_TYPE
		    		  , PRDCR_OGNZ_SN
		    		  , PRDCR_OGNZ_CD
		    		  , PRDCR_OGNZ_NM

		    		  , CLTVTN_LAND_SN
		    		  , FLNM
		    		  , CLTVTN_LAND_ADDR
		    		  , CLTVTN_SFC
		    		  , AVG_YR_PRDCTN_VLM
		    		  , JOIN_DAY
		    		  , WHDWL_DAY
		    		  , CLTVTN_AREA_RMRK

		    		  , PRDCTN_PLAN_VLM
		    		  , EC_SPMT_PLAN_VLM
		    		  , PLAN_RMRK

		    		  , PRDCTN_VLM
		    		  , EC_SPMT_VLM
		    		  , SPMT_PRC
		    		  , SPMT_RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , (case when #{apoSe} is not null then #{apoSe}
		   			  			ELSE (SELECT OGNZ_SE_CD FROM TB_APC_OGNZ_INFO WHERE OGNZ_CD = #{apoCd})
		   			  			END)
		   			  , #{brno}
		   			  , (case when #{crno} is not null then #{crno}
		   			  			ELSE (SELECT CRNO FROM TB_EV_APO WHERE APO_CD = #{apoCd})
		   			  			END)
		   			  , TO_CHAR(SYSDATE,'YYYY')
		   			  , #{sttgUpbrItemSe}
		   			  , '0'
		   			  , #{itemCd}
		   			  , #{trmtType}
		   			  , #{prdcrOgnzSn}
		   			  , #{prdcrOgnzCd}
		   			  , #{prdcrOgnzNm}

		   			  , SEQ_CLTVTN_LAND_SN.NEXTVAL
		   			  , #{flnm}
		   			  , #{cltvtnLandAddr}

		   			  , #{cltvtnSfc}
		   			  , #{avgYrPrdctnVlm}
		   			  , #{joinDay}
		   			  , #{whdwlDay}
		   			  , #{cltvtnAreaRmrk}

		   			  , #{prdctnPlanVlm}
		   			  , #{ecSpmtPlanVlm}
		   			  , #{planRmrk}

		   			  , #{prdctnVlm}
		   			  , #{ecSpmtVlm}
		   			  , #{spmtPrc}
		   			  , #{spmtRmrk}

		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>

	<update id="updatePrdcrOgnCurntMng" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.upatePrdcrOgnCurntMng */
	    		TB_PD_PrdcrCrclOgnVluIdctrMng
			   SET
			 	  AA	= #{aa}
			 	, BB 	= #{bb}
			 	, CC 	= #{cc}
			 	, CC_CODE 	= #{ccCode}
			 	, DD 	= #{dd}
			 	, DD_CODE 	= #{ddCode}
			 	, EE 	= #{ee}
			 	, FF 	= #{ff}
			 	, GG 	= #{gg}
			 	, HH 	= #{hh}
			 	, II 	= #{ii}
			 	, II_CODE 	= #{iiCode}
			 	, JJ 	= #{jj}
			 	, KK 	= #{kk}
			 	, LL 	= #{ll}
			 	, MM 	= #{mm}
			 	, NN 	= #{nn}
			 	, OO 	= #{oo}
			 	, PP 	= #{pp}
			 	, QQ 	= #{qq}
			 	, RR 	= #{rr}
			 	, SS 	= #{ss}
			 	, TT 	= #{tt}
			 	, UU 	= #{uu}
			 	, VV 	= #{vv}
			 	, WW 	= #{ww}
			 	, XX 	= #{xx}
			 	, YY 	= #{yy}
			 	, ZZ 	= #{zz}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND TEST_NO	= #{testNo}
    	]]>
    </update>


	<delete id="deletePrdcrOgnCurntMngDtl" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
		<![CDATA[
		DELETE FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
		 WHERE APO_CD			= #{apoCd}
		   AND PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
		   AND CLTVTN_LAND_SN	= #{cltvtnLandSn}
		]]>
	</delete>

	<!-- 농가 리스트 조회 -->
    <select id="selectPrdcrOgnCurntMngDtlList" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnCurntMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectPrdcrOgnCurntMngDtlList */
				  CM.APO_CD
		    	, CM.APO_SE
		    	, CM.BRNO
		    	, CM.CRNO
		    	, CM.YR

		    	, CM.STTG_UPBR_ITEM_SE
		    	, CM.CTGRY_CD
		    	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS CTGRY_NM
		    	, CM.ITEM_CD
		    	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS ITEM_NM
		    	, CM.TRMT_TYPE
		    	, CM.PRDCR_OGNZ_SN
		    	, CM.PRDCR_OGNZ_CD
		    	, CM.PRDCR_OGNZ_NM

		    	, CM.JOIN_DAY
		    	, CM.WHDWL_DAY
		    	, CM.CLTVTN_SFC
		    	, CM.AVG_YR_PRDCTN_VLM
		    	, CM.CLTVTN_AREA_RMRK

		    	, CM.CLTVTN_LAND_SN
		    	, CM.FLNM
		    	, CM.CLTVTN_LAND_ADDR

		    	, CM.PRDCTN_PLAN_VLM
				, CM.EC_SPMT_PLAN_VLM
		    	, CM.PLAN_RMRK

		    	, CM.PRDCTN_VLM
				, CM.EC_SPMT_VLM
				, CM.SPMT_PRC
		    	, CM.SPMT_RMRK

				, CM.DEL_YN
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN CM
			 WHERE 1=1

    	]]>
    		<if test='apoCd != null and apoCd != ""'>
				AND CM.APO_CD = #{apoCd}
			</if>
			<if test='prdcrOgnzSn != null and prdcrOgnzSn != ""'>
				AND CM.PRDCR_OGNZ_SN = #{prdcrOgnzSn}
			</if>
		ORDER BY CM.PRDCR_OGNZ_SN ASC

    </select>


    <!-- 생산자조직 조회 -->
	<select id="selectTbEvFrmhsApo" parameterType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO" resultType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectTbEvFrmhsApo */
				  CM.APO_CD
				, CM.APO_SE
				, CM.BRNO
				, CM.CRNO
				, CM.YR

				, CM.STTG_UPBR_ITEM_SE
				, CM.CTGRY_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS CTGRY_NM
				, CM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS ITEM_NM
				, CM.TRMT_TYPE
				, CM.PRDCR_OGNZ_SN
				, CM.PRDCR_OGNZ_CD
				, CM.PRDCR_OGNZ_NM
				, CM.RMRK
				, CM.DEL_YN

				, TOT.CNT
				, TOT.PRDCTN_VLM_TOT
				, TOT.EC_SPMT_VLM_TOT
				, TOT.EC_SPMT_PLAN_VLM_TOT
				, TOT.SPMT_PRC_TOT
				, ROUND(NVL( TOT.EC_SPMT_VLM_TOT / NULLIF( TOT.PRDCTN_VLM_TOT, 0 ) , 0 ) * 100 , 2) AS EC_SPMT_RATE_A
				, ROUND(NVL( TOT.EC_SPMT_VLM_TOT / NULLIF( TOT.EC_SPMT_PLAN_VLM_TOT, 0 ) , 0 ) * 100 , 2) AS EC_SPMT_RATE_B

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_FRMHS_APO CM
			  , (SELECT
			  		NVL (COUNT(PRDCR_OGNZ_SN),0) AS CNT
			  		, NVL (SUM(PRDCTN_VLM),0)  AS PRDCTN_VLM_TOT
			  		, NVL (SUM(EC_SPMT_VLM),0)  AS EC_SPMT_VLM_TOT
			  		, NVL (SUM(EC_SPMT_PLAN_VLM),0) AS EC_SPMT_PLAN_VLM_TOT
			  		, NVL (SUM(SPMT_PRC),0) AS SPMT_PRC_TOT
			  		,PRDCR_OGNZ_SN
			  	FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
			  	GROUP BY PRDCR_OGNZ_SN) TOT
			 WHERE 1=1
			   AND CM.PRDCR_OGNZ_SN = TOT.PRDCR_OGNZ_SN(+)

    	]]>
    		<if test='apoCd != null and apoCd != ""'>
				AND CM.APO_CD = #{apoCd}
			</if>
			<if test='brno != null and brno != ""'>
				AND CM.BRNO = #{brno}
			</if>
			<if test='yr != null and yr != ""'>
				AND EAM.YR = #{yr}
			</if>
		ORDER BY CM.PRDCR_OGNZ_SN ASC

		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>

    <!-- 생산자조직 리스트 조회 -->
	<select id="selectTbEvFrmhsApoList" parameterType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO" resultType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>

    	<![CDATA[
			SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectTbEvFrmhsApoList */
				  CM.APO_CD
				, CM.APO_SE
				, CM.BRNO
				, CM.CRNO
				, CM.YR
				, CM.UO_BRNO
				, CM.UO_CD

				, CM.STTG_UPBR_ITEM_SE
				, CM.CTGRY_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS CTGRY_NM
				, CM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS ITEM_NM
				, CM.TRMT_TYPE
				, CM.PRDCR_OGNZ_SN
				, CM.PRDCR_OGNZ_CD
				, CM.PRDCR_OGNZ_NM
				, CM.RMRK
				, CM.DEL_YN
				, CM.STBLT_YN

				, TOT.CNT
				, TOT.PRDCTN_VLM_TOT
				, TOT.EC_SPMT_VLM_TOT
				, TOT.EC_SPMT_PLAN_VLM_TOT
				, TOT.SPMT_PRC_TOT
				, ROUND(NVL( TOT.EC_SPMT_VLM_TOT / NULLIF( TOT.PRDCTN_VLM_TOT, 0 ) , 0 ) * 100 , 2 ) AS EC_SPMT_RATE_A
				, ROUND(NVL( TOT.EC_SPMT_VLM_TOT / NULLIF( TOT.EC_SPMT_PLAN_VLM_TOT, 0 ) , 0 ) * 100 , 2 ) AS EC_SPMT_RATE_B

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID

			  FROM TB_EV_FRMHS_APO CM
			  , (SELECT
			  		NVL (COUNT(PRDCR_OGNZ_SN),0) AS CNT
			  		, NVL (SUM(PRDCTN_VLM),0) AS PRDCTN_VLM_TOT
			  		, NVL (SUM(EC_SPMT_VLM),0)  AS EC_SPMT_VLM_TOT
			  		, NVL (SUM(EC_SPMT_PLAN_VLM),0) AS EC_SPMT_PLAN_VLM_TOT
			  		, NVL (SUM(SPMT_PRC),0) AS SPMT_PRC_TOT
			  		,PRDCR_OGNZ_SN
			  	FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
			  	GROUP BY PRDCR_OGNZ_SN) TOT
			 WHERE 1=1
			   AND CM.PRDCR_OGNZ_SN = TOT.PRDCR_OGNZ_SN(+)

    	]]>
    		<if test='apoCd != null and apoCd != ""'>
				AND CM.APO_CD = #{apoCd}
			</if>
			<if test='brno != null and brno != ""'>
				AND CM.BRNO = #{brno}
			</if>
			<if test='uoBrno != null and uoBrno != ""'>
				AND CM.UO_BRNO = #{uoBrno}
			</if>
			<if test='yr != null and yr != ""'>
				AND CM.YR = #{yr}
			</if>
		ORDER BY CM.PRDCR_OGNZ_SN ASC

		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>

	<insert id="insertTbEvFrmhsApo" parameterType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO">
    	<![CDATA[
    	MERGE INTO TB_EV_FRMHS_APO CLT  /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.insertTbEvFrmhsApo */
		USING DUAL
			ON (
					CLT.APO_CD  = #{apoCd}
				AND CLT.BRNO	= #{brno}
				AND CLT.PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	        PRDCR_OGNZ_NM		= #{prdcrOgnzNm}
		    	        , RMRK				= #{rmrk}

		    	        , ITEM_CD				= #{itemCd}
		    	        , UO_BRNO				= #{uoBrno}
		    	        , UO_CD					= #{uoCd}
		    	        , CTGRY_CD				= #{ctgryCd}
		    	        , TRMT_TYPE				= #{trmtType}
		    	        , STTG_UPBR_ITEM_SE		= #{sttgUpbrItemSe}

		    	        , PRDCR_OGNZ_CD = FN_GET_PRDCR_OGNZ_CD (#{apoCd} , #{brno} , #{apoSe} , #{prdcrOgnzSn})

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 AND CLT.APO_CD			= #{apoCd}
					 AND CLT.PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , CRNO
		    		  , YR
		    		  , STTG_UPBR_ITEM_SE
		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , UO_BRNO
		    		  , UO_CD
		    		  , TRMT_TYPE

		    		  , PRDCR_OGNZ_SN
		    		  , PRDCR_OGNZ_CD
		    		  , PRDCR_OGNZ_NM
		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , (case when #{apoSe} is not null then #{apoSe}
		   			  			ELSE (SELECT OGNZ_SE_CD FROM TB_APC_OGNZ_INFO WHERE OGNZ_CD = #{apoCd})
		   			  			END)
		   			  , #{brno}
		   			  , #{crno}
		   			  , TO_CHAR(SYSDATE,'YYYY')
		   			  , #{sttgUpbrItemSe}
		   			  , #{ctgryCd}
		   			  , #{itemCd}
		   			  , #{uoBrno}
		   			  , #{uoCd}
		   			  , #{trmtType}

		   			  , SEQ_PRDCR_OGNZ_SN.NEXTVAL
		   			  , FN_GET_PRDCR_OGNZ_CD (#{apoCd} , #{brno} , #{apoSe} , SEQ_PRDCR_OGNZ_SN.CURRVAL)
		   			  , #{prdcrOgnzNm}

		   			  , #{rmrk}
		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>
    <update id="updateTbEvFrmhsPrdctnEcSpmtSttnApo" parameterType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO">
	    	UPDATE /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.updateTbEvFrmhsPrdctnEcSpmtSttnApo */
	    		TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
			   SET
			 	  ITEM_CD				= #{itemCd}
			 	, TRMT_TYPE				= #{trmtType}
			 	, STTG_UPBR_ITEM_SE		= #{sttgUpbrItemSe}
			 WHERE 1=1
			   AND PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
		   	   AND YR				= #{yr}
    </update>

	<delete id="deleteTbEvFrmhsApo" parameterType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO">
		<![CDATA[
		DELETE FROM TB_EV_FRMHS_APO	/* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.deleteTbEvFrmhsApo */
		 WHERE PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
		   AND YR				= #{yr}
		]]>
	</delete>
	<delete id="deleteTbEvFrmhsPrdctnEcSpmtSttnApo" parameterType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO">
		<![CDATA[
		DELETE FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN	/* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.deleteTbEvFrmhsPrdctnEcSpmtSttnApo */
		 WHERE PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
		   AND YR				= #{yr}
		]]>
	</delete>



	<!-- 적합여부 업데이트 -->
	<update id="updateTbEvFrmhsApoStbltYn" parameterType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO">
	    	UPDATE /* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.updateTbEvFrmhsApoStbltYn */
	    		TB_EV_FRMHS_APO
			   SET
			 	  STBLT_YN	= #{stbltYn}
			 WHERE 1=1
			   AND PRDCR_OGNZ_SN	= #{prdcrOgnzSn}
		   	   AND YR				= #{yr}
    </update>

    <!-- 적합여부 조회 -->
    <select id="selectTbEvFrmhsApoStbltYn" parameterType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO" resultType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO">
    	SELECT	/* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectTbEvFrmhsApoStbltYn */
			TOTAL.BRNO
			,TOTAL.UO_BRNO
			,TOTAL.PRDCR_OGNZ_SN
			,TOTAL.PRDCR_OGNZ_NM
			,TOTAL.YR
			,TOTAL.APRV
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'APRV_UPBR_SE_CD' AND CD_VL = TOTAL.APRV) AS APRV_NM
			,TOTAL.CTGRY_CD
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'CTGRY_CD' AND CD_VL = TOTAL.CTGRY_CD) AS CTGRY_NM
			,TOTAL.ITEM_CD
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = TOTAL.ITEM_CD) AS ITEM_NM
			,TOTAL.TRMT_TYPE
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'TRMT_TYPE' AND CD_VL = TOTAL.TRMT_TYPE) AS TRMT_TYPE_NM
			,TOTAL.STTG_UPBR_ITEM_SE
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = TOTAL.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
			,TOTAL.CNT
			,TOTAL.SPMT_PRC_TOT
			,TOTAL.PRDCTN_VLM_TOT
			,TOTAL.EC_SPMT_VLM_TOT
			,TOTAL.EC_SPMT_PLAN_VLM_TOT
			,TOTAL.EC_SPMT_RATE_A
			,TOTAL.EC_SPMT_RATE_B
			,(CASE WHEN APRV = '1' THEN
									(CASE WHEN TOTAL.STTG_UPBR_ITEM_SE = '1' THEN
																				(CASE WHEN TO_NUMBER(TOTAL.CNT) >= 5 AND TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 200000 AND TO_NUMBER(TOTAL.EC_SPMT_RATE_A) >= 80
																					THEN 'Y'
																					ELSE 'N' END)
										WHEN TOTAL.STTG_UPBR_ITEM_SE = '2' THEN 'Y'
										ELSE 'N' END)
					WHEN APRV = '2' THEN
									(CASE WHEN TRMT_TYPE = '1' THEN
																	(CASE WHEN TO_NUMBER(TOTAL.CNT) >= 5  AND TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 50000 AND TO_NUMBER(TOTAL.EC_SPMT_RATE_B) >= 80
																		THEN 'Y'
																		ELSE 'N' END)
											WHEN TRMT_TYPE = '2' THEN
																	(CASE WHEN TO_NUMBER(TOTAL.CNT) >= 5 AND TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 50000
																		THEN 'Y'
																		ELSE 'N' END)
											WHEN TRMT_TYPE = '3' THEN
																	(CASE WHEN TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 50000
																		THEN 'Y'
																		ELSE 'N' END)
															ELSE 'N' END)
				ELSE 'N'
				END
			) AS STBLT_YN
		FROM (SELECT
			TEFA.BRNO
			,TEFA.UO_BRNO
			,TEFA.PRDCR_OGNZ_SN
			,TEFA.PRDCR_OGNZ_NM
			,TEFA.YR
			,TEFA.APO_SE
			,TEFA.ITEM_CD
			,TEFA.CTGRY_CD
			,TEFA.STTG_UPBR_ITEM_SE
			,NVL(TEFA.TRMT_TYPE,'0') AS TRMT_TYPE
			,(SELECT APO_SE FROM TB_EV_APO WHERE BRNO = TEFA.BRNO) AS APO_SE_CHK
			,(SELECT NVL(APRV,'0')
				FROM TB_EV_APO
				WHERE BRNO = (CASE WHEN TEFA.APO_SE = '1'
									THEN NVL(TEFA.BRNO,'')
									ELSE NVL(TEFA.UO_BRNO,'') END)
			) AS APRV
			,CNT
			,TEFPSS.SPMT_PRC_TOT
			,TEFPSS.PRDCTN_VLM_TOT
			,TEFPSS.EC_SPMT_VLM_TOT
			,TEFPSS.EC_SPMT_PLAN_VLM_TOT
			,ROUND(NVL( TEFPSS.EC_SPMT_VLM_TOT/ NULLIF( TEFPSS.PRDCTN_VLM_TOT, 0 ) , 0 ) * 100 , 2 ) AS EC_SPMT_RATE_A
			,ROUND(NVL( TEFPSS.EC_SPMT_VLM_TOT/ NULLIF( TEFPSS.EC_SPMT_PLAN_VLM_TOT, 0 ) , 0 ) * 100 , 2 ) AS EC_SPMT_RATE_B
		FROM (SELECT *
					FROM TB_EV_FRMHS_APO
					WHERE 1=1
					<if test='prdcrOgnzSn != null and prdcrOgnzSn != ""'>
					  AND PRDCR_OGNZ_SN = #{prdcrOgnzSn}
					</if>
					<if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					</if>
					) TEFA
		LEFT JOIN (SELECT
								PRDCR_OGNZ_SN
								,YR
								,BRNO
								,COUNT(PRDCR_OGNZ_SN) AS CNT
								,SUM(NVL(SPMT_PRC,0)) AS SPMT_PRC_TOT
								,SUM(NVL(PRDCTN_VLM,0)) AS PRDCTN_VLM_TOT
								,SUM(NVL(EC_SPMT_VLM,0)) AS EC_SPMT_VLM_TOT
								,SUM(NVL(EC_SPMT_PLAN_VLM,0)) AS EC_SPMT_PLAN_VLM_TOT
							FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
							WHERE 1=1
							<if test='prdcrOgnzSn != null and prdcrOgnzSn != ""'>
							  AND PRDCR_OGNZ_SN = #{prdcrOgnzSn}
							</if>
							<if test='yr != null and yr != ""'>
							  AND YR = #{yr}
							</if>
							GROUP BY PRDCR_OGNZ_SN , YR , BRNO
							)TEFPSS
		ON TEFA.PRDCR_OGNZ_SN = TEFPSS.PRDCR_OGNZ_SN
		AND TEFA.YR = TEFPSS.YR
		AND TEFA.BRNO = TEFPSS.BRNO)TOTAL
    </select>

    <!-- 적합여부 조회 -->
    <select id="selectTbEvFrmhsApoStbltYnList" parameterType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO" resultType="com.at.apcss.pd.pom.vo.TbEvFrmhsApoVO">
    	SELECT	/* com.at.apcss.pd.pom.mapper.PrdcrOgnCurntMngMapper.selectTbEvFrmhsApoStbltYnList */
			TOTAL.BRNO
			,TOTAL.UO_BRNO
			,TOTAL.PRDCR_OGNZ_SN
			,TOTAL.PRDCR_OGNZ_NM
			,TOTAL.YR
			,TOTAL.APRV
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'APRV_UPBR_SE_CD' AND CD_VL = TOTAL.APRV) AS APRV_NM
			,TOTAL.CTGRY_CD
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'CTGRY_CD' AND CD_VL = TOTAL.CTGRY_CD) AS CTGRY_NM
			,TOTAL.ITEM_CD
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = TOTAL.ITEM_CD) AS ITEM_NM
			,TOTAL.TRMT_TYPE
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'TRMT_TYPE' AND CD_VL = TOTAL.TRMT_TYPE) AS TRMT_TYPE_NM
			,TOTAL.STTG_UPBR_ITEM_SE
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = TOTAL.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
			,TOTAL.CNT
			,TOTAL.SPMT_PRC_TOT
			,TOTAL.PRDCTN_VLM_TOT
			,TOTAL.EC_SPMT_VLM_TOT
			,TOTAL.EC_SPMT_PLAN_VLM_TOT
			,TOTAL.EC_SPMT_RATE_A
			,TOTAL.EC_SPMT_RATE_B
			,(CASE WHEN APRV = '1' THEN
									(CASE WHEN TOTAL.STTG_UPBR_ITEM_SE = '1' THEN
																				(CASE WHEN TO_NUMBER(TOTAL.CNT) >= 5 AND TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 200000 AND TO_NUMBER(TOTAL.EC_SPMT_RATE_A) >= 80
																					THEN 'Y'
																					ELSE 'N' END)
										WHEN TOTAL.STTG_UPBR_ITEM_SE = '2' THEN 'Y'
										ELSE 'N' END)
					WHEN APRV = '2' THEN
									(CASE WHEN TRMT_TYPE = '1' THEN
																	(CASE WHEN TO_NUMBER(TOTAL.CNT) >= 5  AND TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 50000 AND TO_NUMBER(TOTAL.EC_SPMT_RATE_B) >= 80
																		THEN 'Y'
																		ELSE 'N' END)
											WHEN TRMT_TYPE = '2' THEN
																	(CASE WHEN TO_NUMBER(TOTAL.CNT) >= 5 AND TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 50000
																		THEN 'Y'
																		ELSE 'N' END)
											WHEN TRMT_TYPE = '3' THEN
																	(CASE WHEN TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 50000
																		THEN 'Y'
																		ELSE 'N' END)
										ELSE 'N' END)
				ELSE 'N'
				END
			) AS STBLT_YN
			,TOTAL.ORG_STBLT_YN
		FROM (SELECT
			TEFA.BRNO
			,TEFA.UO_BRNO
			,TEFA.PRDCR_OGNZ_SN
			,TEFA.PRDCR_OGNZ_NM
			,TEFA.YR
			,TEFA.APO_SE
			,TEFA.ITEM_CD
			,TEFA.CTGRY_CD
			,TEFA.STTG_UPBR_ITEM_SE
			,TEFA.STBLT_YN AS ORG_STBLT_YN
			,NVL(TEFA.TRMT_TYPE,'0') AS TRMT_TYPE
			,(SELECT APO_SE FROM TB_EV_APO WHERE BRNO = TEFA.BRNO) AS APO_SE_CHK
			,(SELECT NVL(APRV,'0')
				FROM TB_EV_APO
				WHERE BRNO = (CASE WHEN TEFA.APO_SE = '1'
									THEN NVL(TEFA.BRNO,'')
									ELSE NVL(TEFA.UO_BRNO,'') END)
			) AS APRV
			,CNT
			,TEFPSS.SPMT_PRC_TOT
			,TEFPSS.PRDCTN_VLM_TOT
			,TEFPSS.EC_SPMT_VLM_TOT
			,TEFPSS.EC_SPMT_PLAN_VLM_TOT
			,ROUND(NVL( TEFPSS.EC_SPMT_VLM_TOT/ NULLIF( TEFPSS.PRDCTN_VLM_TOT, 0 ) , 0 ) * 100 , 2 ) AS EC_SPMT_RATE_A
			,ROUND(NVL( TEFPSS.EC_SPMT_VLM_TOT/ NULLIF( TEFPSS.EC_SPMT_PLAN_VLM_TOT, 0 ) , 0 ) * 100 , 2 ) AS EC_SPMT_RATE_B
		FROM (SELECT *
					FROM TB_EV_FRMHS_APO
					WHERE 1=1
					<if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					</if>
					<if test='uoBrno != null and uoBrno != ""'>
					  AND UO_BRNO = #{uoBrno}
					</if>
					<if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					</if>
					) TEFA
		LEFT JOIN (SELECT
								PRDCR_OGNZ_SN
								,YR
								,BRNO
								,COUNT(PRDCR_OGNZ_SN) AS CNT
								,SUM(NVL(SPMT_PRC,0)) AS SPMT_PRC_TOT
								,SUM(NVL(PRDCTN_VLM,0)) AS PRDCTN_VLM_TOT
								,SUM(NVL(EC_SPMT_VLM,0)) AS EC_SPMT_VLM_TOT
								,SUM(NVL(EC_SPMT_PLAN_VLM,0)) AS EC_SPMT_PLAN_VLM_TOT
							FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
							WHERE 1=1
							<if test='brno != null and brno != ""'>
					  		  AND BRNO = #{brno}
							</if>
							<if test='uoBrno != null and uoBrno != "" and brno != null and brno != ""'>
					 	 	  AND PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
					 	 	  							FROM TB_EV_FRMHS_APO
					 	 	  							WHERE 1=1
					 	 	  							  AND BRNO = #{brno}
					 	 	  							  AND UO_BRNO = #{uoBrno})
							</if>
							<if test='yr != null and yr != ""'>
							  AND YR = #{yr}
							</if>
							GROUP BY PRDCR_OGNZ_SN , YR , BRNO
							)TEFPSS
		ON TEFA.PRDCR_OGNZ_SN = TEFPSS.PRDCR_OGNZ_SN
		AND TEFA.YR = TEFPSS.YR
		AND TEFA.BRNO = TEFPSS.BRNO)TOTAL
		ORDER BY TOTAL.PRDCR_OGNZ_SN ASC
	</select>
</mapper>