<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pom.mapper.PrdcrOgnGenalTblMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrOgnGenalTblMng" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO">
    	SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnGenalTblMngMapper.selectPrdcrOgnGenalTblMng */
				  CM.APO_CD
				, CM.APO_SE
				, CM.WRT_YN
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				, CM.APRV
				, CM.STBLT_YN
				, CM.MNGMST_YN

				, EAM.YR
				, EAM.APLY_DAY
				, EAM.CORP_DDLN_SE_CD
				,(CASE WHEN TRIM(RAW_MTR_ENSR_SIGUN_CNT) IS NOT NULL THEN '1'
						WHEN TRIM(RAW_MTR_ENSR_CTPV_CNT) IS NOT NULL THEN '2'
						END
				) AS RAW_MTR_ENSR

				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, (SELECT SUM(ISO_FUND_APLY_AMT)
					FROM (SELECT ISO_FUND_APLY_AMT
							FROM TB_EV_APLY_MNG
							WHERE BRNO IN (SELECT ISO_BRNO
											FROM TB_EV_APO_UO_CD
											WHERE UO_BRNO = CM.BRNO)
							)
				) AS ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM (SELECT *
			  		FROM TB_EV_APO
			  		WHERE 1=1
			  		<if test='brno != null and brno != ""'>
			  		  AND BRNO = #{brno}
			  		  <if test='userType == "21"'>
			  		   OR BRNO IN (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{brno})
			  		  </if>
			  		</if>
			  		) CM
			  		, (SELECT *
			  			FROM TB_EV_APLY_MNG
			  			WHERE 1=1
			  			<if test='yr != null and yr != ""'>
			  		  	  AND YR = #{yr}
			  			</if>
			  			) EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)
			   AND CM.APO_SE IS NOT NULL
			   AND CM.APO_CD IS NOT NULL

    		<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE = #{apoSe}
			</if>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST = #{cmptnInst}
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.CTPV = #{ctpv}
			</if>
			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD = #{corpSeCd}
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD = #{corpDtlSeCd}
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='aprv != null and aprv != ""'>
				AND CM.APRV = #{aprv}
			</if>
			<if test='corpDdlnSeCd != null and corpDdlnSeCd != ""'>
				AND EAM.CORP_DDLN_SE_CD = #{corpDdlnSeCd}
			</if>
			<if test='yrChk == "Y"'>
				AND EAM.YR = #{yr}
			</if>

    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectPrdcrOgnGenalTblMngList" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO">

		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>

			SELECT /* com.at.apcss.pd.pom.mapper.PrdcrOgnGenalTblMngMapper.selectPrdcrOgnGenalTblMngList */
				  CM.APO_CD
				, CM.APO_SE
				, CM.WRT_YN
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				, CM.APRV
				, CM.STBLT_YN
				, CM.MNGMST_YN

				, EAM.YR
				, EAM.APLY_DAY
				, EAM.CORP_DDLN_SE_CD
				,(CASE WHEN TRIM(RAW_MTR_ENSR_SIGUN_CNT) IS NOT NULL THEN '1'
						WHEN TRIM(RAW_MTR_ENSR_CTPV_CNT) IS NOT NULL THEN '2'
						END
				) AS RAW_MTR_ENSR

				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, (SELECT SUM(ISO_FUND_APLY_AMT)
					FROM (SELECT ISO_FUND_APLY_AMT
							FROM TB_EV_APLY_MNG
							WHERE BRNO IN (SELECT ISO_BRNO
											FROM TB_EV_APO_UO_CD
											WHERE UO_BRNO = CM.BRNO)
							)
				) AS ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM (SELECT *
			  		FROM TB_EV_APO
			  		WHERE 1=1
			  		<if test='brno != null and brno != ""'>
			  		  AND BRNO = #{brno}
			  		  <if test='userType == "21"'>
			  		   OR BRNO IN (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{brno})
			  		  </if>
			  		</if>
			  		) CM
			  		, (SELECT *
			  			FROM TB_EV_APLY_MNG
			  			WHERE 1=1
			  			<if test='yr != null and yr != ""'>
			  		  	  AND YR = #{yr}
			  			</if>
			  			) EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)
			   AND CM.APO_SE IS NOT NULL
			   AND CM.APO_CD IS NOT NULL

    		<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE = #{apoSe}
			</if>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST = #{cmptnInst}
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.CTPV = #{ctpv}
			</if>
			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD = #{corpSeCd}
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD = #{corpDtlSeCd}
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='aprv != null and aprv != ""'>
				AND CM.APRV = #{aprv}
			</if>
			<if test='corpDdlnSeCd != null and corpDdlnSeCd != ""'>
				AND EAM.CORP_DDLN_SE_CD = #{corpDdlnSeCd}
			</if>
			<if test='yrChk == "Y"'>
				AND EAM.YR = #{yr}
			</if>

		ORDER BY CM.APO_SE ASC , CORP_NM ASC
		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
	</select>

	<update id="updateStbltYn" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO">
			UPDATE /* com.at.apcss.pd.pom.mapper.PrdcrOgnGenalTblMngMapper.updateStbltYn */
				TB_EV_FRMHS_APO
			   SET
			 	  STBLT_YN				= #{stbltYn}
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND YR				= #{yr}
			   AND BRNO				= #{brno}
			 <if test='uoBrno != null and uoBrno != ""'>
			   AND UO_BRNO 			= #{uoBrno}
			 </if>
			   AND PRDCR_OGNZ_SN 	= #{prdcrOgnzSn}
	</update>

	<select id="selectRawDataPrdcrOgnzList" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO">
		SELECT	/* com.at.apcss.pd.pom.mapper.PrdcrOgnGenalTblMngMapper.selectRawDataPrdcrOgnzList */
			TOTAL.BRNO
			,DECODE( TOTAL.APO_SE , '1' , '통합조직' , '2' , '출자출하조직' , '-' ) AS APO_SE
			,(SELECT CORP_NM FROM TB_EV_APO WHERE BRNO = TOTAL.BRNO) AS CORP_NM
			,DECODE(NVL(TOTAL.UO_BRNO , '-') , 'null' , '-' , '-' , '-' , TOTAL.UO_BRNO) as UO_BRNO
			,NVL((SELECT CORP_NM FROM TB_EV_APO WHERE BRNO = TOTAL.UO_BRNO AND APO_SE = '1'),'-') AS UO_CORP_NM
			,TOTAL.PRDCR_OGNZ_SN
			,TOTAL.PRDCR_OGNZ_NM
			,TOTAL.YR
			,TOTAL.APRV
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'APRV_UPBR_SE_CD' AND CD_VL = TOTAL.APRV) AS APRV_NM
			,TOTAL.CTGRY_CD
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'CTGRY_CD' AND CD_VL = TOTAL.CTGRY_CD) AS CTGRY_NM
			,TOTAL.ITEM_CD
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = TOTAL.ITEM_CD) AS ITEM_NM
			,TOTAL.TRMT_TYPE
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'TRMT_TYPE' AND CD_VL = TOTAL.TRMT_TYPE) AS TRMT_TYPE_NM
			,TOTAL.STTG_UPBR_ITEM_SE
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = TOTAL.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
			,TOTAL.CNT
			,TOTAL.SPMT_PRC_TOT
			,TOTAL.PRDCTN_VLM_TOT
			,TOTAL.EC_SPMT_VLM_TOT
			,TOTAL.EC_SPMT_PLAN_VLM_TOT
			,TOTAL.EC_SPMT_RATE_A
			,TOTAL.EC_SPMT_RATE_B
			,(CASE WHEN NVL(TOTAL.EXCL_YN,'N') = 'Y' THEN 'N'
					WHEN APRV = '1' THEN
									(CASE WHEN TOTAL.STTG_UPBR_ITEM_SE = '1' THEN
																				(CASE WHEN TO_NUMBER(TOTAL.CNT) >= 5 AND TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 200000 AND TO_NUMBER(TOTAL.EC_SPMT_RATE_A) >= 80
																					THEN 'Y'
																					ELSE 'N' END)
										WHEN TOTAL.STTG_UPBR_ITEM_SE = '2' THEN 'Y'
										ELSE 'N' END)
					WHEN APRV = '2' THEN
									(CASE WHEN TRMT_TYPE = '1' THEN
																	(CASE WHEN TO_NUMBER(TOTAL.CNT) >= 5  AND TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 50000 AND TO_NUMBER(TOTAL.EC_SPMT_RATE_B) >= 80
																		THEN 'Y'
																		ELSE 'N' END)
											WHEN TRMT_TYPE = '2' THEN
																	(CASE WHEN TO_NUMBER(TOTAL.CNT) >= 5 AND TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 50000
																		THEN 'Y'
																		ELSE 'N' END)
											WHEN TRMT_TYPE = '3' THEN
																	(CASE WHEN TO_NUMBER(TOTAL.SPMT_PRC_TOT) >= 50000
																		THEN 'Y'
																		ELSE 'N' END)
															ELSE 'N' END)
				ELSE 'N'
				END
			) AS STBLT_YN
			,TOTAL.ORG_STBLT_YN
			,(SELECT NVL(ERR.MNGR_STBLT_YN , ERR.STBLT_YN)
				FROM TB_EV_REG_RSLT ERR
				WHERE 1=1
				  AND BRNO = TOTAL.BRNO
				  AND YR = TOTAL.YR
				  AND 'Y' = DECODE(APO_SE ,'1' , 'Y' , '2' ,DECODE(ERR.UO_BRNO , TOTAL.UO_BRNO , 'Y' , 'N'))
			) AS LAST_STBLT_YN
			,TOTAL.EXCL_YN
		FROM (SELECT
			TEFA.BRNO
			,TEFA.UO_BRNO
			,TEFA.PRDCR_OGNZ_SN
			,TEFA.PRDCR_OGNZ_NM
			,TEFA.YR
			,TEFA.APO_SE
			,TEFA.ITEM_CD
			,TEFA.CTGRY_CD
			,TEFA.STTG_UPBR_ITEM_SE
			,NVL(TEFA.EXCL_YN,'-') AS EXCL_YN
			,NVL(TEFA.TRMT_TYPE,'0') AS TRMT_TYPE
			,(SELECT APO_SE FROM TB_EV_APO WHERE BRNO = TEFA.BRNO) AS APO_SE_CHK
			,(SELECT NVL(APRV,'0')
				FROM TB_EV_APO
				WHERE BRNO = (CASE WHEN TEFA.APO_SE = '1'
									THEN NVL(TEFA.BRNO,'')
									ELSE NVL(TEFA.UO_BRNO,'') END)
			) AS APRV
			,CNT
			,TEFPSS.SPMT_PRC_TOT
			,TEFPSS.PRDCTN_VLM_TOT
			,TEFPSS.EC_SPMT_VLM_TOT
			,TEFPSS.EC_SPMT_PLAN_VLM_TOT
			,ROUND(NVL( TEFPSS.EC_SPMT_VLM_TOT/ NULLIF( TEFPSS.PRDCTN_VLM_TOT, 0 ) , 0 ) * 100 , 2 ) AS EC_SPMT_RATE_A
			,ROUND(NVL( TEFPSS.EC_SPMT_VLM_TOT/ NULLIF( TEFPSS.EC_SPMT_PLAN_VLM_TOT, 0 ) , 0 ) * 100 , 2 ) AS EC_SPMT_RATE_B
			,TEFA.STBLT_YN AS ORG_STBLT_YN
		FROM (SELECT *
					FROM TB_EV_FRMHS_APO
					WHERE 1=1
					  AND YR = #{yr}
					  AND BRNO NOT IN (SELECT BRNO FROM TB_COM_USER WHERE USER_ID IN ('at21','at22','at23','at24','at25','at26','at27','at61'))
					  AND BRNO NOT IN (SELECT BRNO FROM TB_COM_USER WHERE USER_ID IN ('at11','at12','at13','at14','at15','at16','at17','at51'))
					  AND UO_BRNO NOT IN (SELECT BRNO FROM TB_COM_USER WHERE USER_ID IN ('at11','at12','at13','at14','at15','at16','at17','at51'))
					) TEFA
		LEFT JOIN (SELECT
								PRDCR_OGNZ_SN
								,YR
								,BRNO
								,COUNT(PRDCR_OGNZ_SN) AS CNT
								,SUM(NVL(SPMT_PRC,0)) AS SPMT_PRC_TOT
								,SUM(NVL(PRDCTN_VLM,0)) AS PRDCTN_VLM_TOT
								,SUM(NVL(EC_SPMT_VLM,0)) AS EC_SPMT_VLM_TOT
								,SUM(NVL(EC_SPMT_PLAN_VLM,0)) AS EC_SPMT_PLAN_VLM_TOT
							FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
							WHERE 1=1
							  AND YR = #{yr}
							  AND BRNO NOT IN (SELECT BRNO FROM TB_COM_USER WHERE USER_ID IN ('at21','at22','at23','at24','at25','at26','at27','at61'))
							  AND BRNO NOT IN (SELECT BRNO FROM TB_COM_USER WHERE USER_ID IN ('at11','at12','at13','at14','at15','at16','at17','at51'))
							GROUP BY PRDCR_OGNZ_SN , YR , BRNO
							)TEFPSS
		ON TEFA.PRDCR_OGNZ_SN = TEFPSS.PRDCR_OGNZ_SN
		AND TEFA.YR = TEFPSS.YR
		AND TEFA.BRNO = TEFPSS.BRNO)TOTAL
	</select>
</mapper>