<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pom.mapper.PrdcrOgnGenalTblMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrOgnGenalTblMng" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO">
    	SELECT /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.selectPrdcrCrclOgnReqMngList */
				  CM.APO_CD
				, CM.APO_SE
				, CM.WRT_YN
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				, CM.APRV
				, CM.STBLT_YN
				, CM.MNGMST_YN

				, EAM.YR
				, EAM.APLY_DAY
				, EAM.CORP_DDLN_SE_CD
				,(CASE WHEN TRIM(RAW_MTR_ENSR_SIGUN_CNT) IS NOT NULL THEN '1'
						WHEN TRIM(RAW_MTR_ENSR_CTPV_CNT) IS NOT NULL THEN '2'
						END
				) AS RAW_MTR_ENSR

				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, (SELECT SUM(ISO_FUND_APLY_AMT)
					FROM (SELECT ISO_FUND_APLY_AMT
							FROM TB_EV_APLY_MNG
							WHERE BRNO IN (SELECT ISO_BRNO
											FROM TB_EV_APO_UO_CD
											WHERE UO_BRNO = CM.BRNO)
							)
				) AS ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM (SELECT *
			  		FROM TB_EV_APO
			  		WHERE 1=1
			  		<if test='brno != null and brno != ""'>
			  		  AND BRNO = #{brno}
			  		  <if test='userType == "21"'>
			  		   OR BRNO IN (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{brno})
			  		  </if>
			  		</if>
			  		) CM
			  		, (SELECT *
			  			FROM TB_EV_APLY_MNG
			  			WHERE 1=1
			  			<if test='yr != null and yr != ""'>
			  		  	  AND YR = #{yr}
			  			</if>
			  			) EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)
			   AND CM.APO_SE IS NOT NULL
			   AND CM.APO_CD IS NOT NULL

    		<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE = #{apoSe}
			</if>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST = #{cmptnInst}
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.CTPV = #{ctpv}
			</if>
			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD = #{corpSeCd}
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD = #{corpDtlSeCd}
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='aprv != null and aprv != ""'>
				AND CM.APRV = #{aprv}
			</if>
			<if test='corpDdlnSeCd != null and corpDdlnSeCd != ""'>
				AND EAM.CORP_DDLN_SE_CD = #{corpDdlnSeCd}
			</if>
			<if test='yrChk == "Y"'>
				AND EAM.YR = #{yr}
			</if>

    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrOgnGenalTblMngList" parameterType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO" resultType="com.at.apcss.pd.pom.vo.PrdcrOgnGenalTblMngVO">

    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>

			SELECT /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.selectPrdcrCrclOgnReqMngList */
				  CM.APO_CD
				, CM.APO_SE
				, CM.WRT_YN
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				, CM.APRV
				, CM.STBLT_YN
				, CM.MNGMST_YN

				, EAM.YR
				, EAM.APLY_DAY
				, EAM.CORP_DDLN_SE_CD
				,(CASE WHEN TRIM(RAW_MTR_ENSR_SIGUN_CNT) IS NOT NULL THEN '1'
						WHEN TRIM(RAW_MTR_ENSR_CTPV_CNT) IS NOT NULL THEN '2'
						END
				) AS RAW_MTR_ENSR

				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, (SELECT SUM(ISO_FUND_APLY_AMT)
					FROM (SELECT ISO_FUND_APLY_AMT
							FROM TB_EV_APLY_MNG
							WHERE BRNO IN (SELECT ISO_BRNO
											FROM TB_EV_APO_UO_CD
											WHERE UO_BRNO = CM.BRNO)
							)
				) AS ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM (SELECT *
			  		FROM TB_EV_APO
			  		WHERE 1=1
			  		<if test='brno != null and brno != ""'>
			  		  AND BRNO = #{brno}
			  		  <if test='userType == "21"'>
			  		   OR BRNO IN (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{brno})
			  		  </if>
			  		</if>
			  		) CM
			  		, (SELECT *
			  			FROM TB_EV_APLY_MNG
			  			WHERE 1=1
			  			<if test='yr != null and yr != ""'>
			  		  	  AND YR = #{yr}
			  			</if>
			  			) EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)
			   AND CM.APO_SE IS NOT NULL
			   AND CM.APO_CD IS NOT NULL

    		<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE = #{apoSe}
			</if>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST = #{cmptnInst}
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.CTPV = #{ctpv}
			</if>
			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD = #{corpSeCd}
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD = #{corpDtlSeCd}
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='aprv != null and aprv != ""'>
				AND CM.APRV = #{aprv}
			</if>
			<if test='corpDdlnSeCd != null and corpDdlnSeCd != ""'>
				AND EAM.CORP_DDLN_SE_CD = #{corpDdlnSeCd}
			</if>
			<if test='yrChk == "Y"'>
				AND EAM.YR = #{yr}
			</if>

		ORDER BY CM.APO_SE ASC , CORP_NM ASC
		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>

</mapper>