<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : Bfarmapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.farm.mapper.farmLandInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BfarmngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectfarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.farmLandInfoVO" resultType="com.at.apcss.fm.farm.vo.farmLandInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.farm.mapper.farmLandInfoMapper.selectfarmLandInfo */
				  CM.TEST_NO
				, CM.AA
				, CM.BB
				, CM.CC
				, CM.DD
				, CM.EE
				, CM.FF
				, CM.GG
				, CM.HH
				, CM.II
				, CM.II_CODE
				, CM.JJ
				, CM.KK
				, CM.LL
				, CM.MM
				, CM.NN
				, CM.OO
				, CM.PP
				, CM.QQ
				, CM.RR
				, CM.SS
				, CM.TT
				, CM.UU
				, CM.VV
				, CM.WW
				, CM.XX
				, CM.YY
				, CM.ZZ
				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_PD_PrdcrCrclOgnVluIdctrMng CM
			 WHERE 1=1

    	]]>
    		<if test='ccCode != null and ccCode != ""'>
				AND CM.CC_CODE LIKE #{ccCode} || '%'
			</if>
			<if test='iiCode != null and iiCode != ""'>
				AND CM.II_CODE LIKE '%' || #{iiCode} || '%'
			</if>
			<if test='testNo != null and testNo != ""'>
				AND CM.TEST_NO LIKE '%' || #{testNo} || '%'
			</if>
		ORDER BY CM.SYS_LAST_CHG_DT DESC
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BfarmngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectfarmLandInfoList" parameterType="com.at.apcss.fm.farm.vo.farmLandInfoVO" resultType="com.at.apcss.fm.farm.vo.farmLandInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.farm.mapper.farmLandInfoMapper.selectfarmLandInfoList */
				  CM.FRMER_SN
				, CM.BZOB_RGNO
				, CM.FRLND_SN
				, CM.LEGALDONG_CODE
				, CM.FRLND_MNNM
				, CM.COPERTN_CLVT_AT
				, CM.FRLND_SLNO
				, CM.FRLND_ADRES
				, CM.CLVT_STLE
				, CM.FRLND_OWNER_NM
				, CM.OFACT_LNDCGR
				, CM.REAL_LNDCGR
				, CM.OFACT_FRLND_AR
				, CM.REAL_FRLND_AR
				, CM.NUSE_CLMG_AR
				, CM.NUSE_QTMG_AR
				, CM.PRDLST_CODE
				, CM.PREDLST_NM
				, CM.EQPT_FCLTYSE
				, CM.CTVT_AR
				, CM.LDGR_DVCD
				, CM.EQPT_SEQ
				, CM.EQPT_STLE
				, CM.EQPT_KND
				, CM.FCLTY_ARA
				, CM.INSTL_YEAR
				, CM.SYS_FRST_INPT_DT
				, CM.SYS_FRST_INPT_USER_ID
				, CM.SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT
				, CM.SYS_LAST_CHG_USER_ID
				, CM.SYS_LAST_CHG_PRGRM_ID
				, CM.DEL_YN
			  FROM TB_FARM_LAND_INFO CM
    	]]>
    </select>


	<insert id="insertfarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.farmLandInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.farm.mapper.farmLandInfoMapper.insertfarmLandInfo */
	    	  INTO TB_FARM_LAND_INFO
	    		(
	    		FRMER_SN
				, BZOB_RGNO
				, FRLND_SN
				, LEGALDONG_CODE
				, FRLND_MNNM
				, COPERTN_CLVT_AT
				, FRLND_SLNO
				, FRLND_ADRES
				, CLVT_STLE
				, FRLND_OWNER_NM
				, OFACT_LNDCGR
				, REAL_LNDCGR
				, OFACT_FRLND_AR
				, REAL_FRLND_AR
				, NUSE_CLMG_AR
				, NUSE_QTMG_AR
				, PRDLST_CODE
				, PREDLST_NM
				, EQPT_FCLTYSE
				, CTVT_AR
				, LDGR_DVCD
				, EQPT_SEQ
				, EQPT_STLE
				, EQPT_KND
				, FCLTY_ARA
				, INSTL_YEAR
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_USER_ID
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_USER_ID
				, SYS_LAST_CHG_PRGRM_ID
				, DEL_YN
	    		)
	   		VALUES
	   			(
	   			  #{frmerSn}
					,#{bzobRgno}
					,#{frlndSn}
					,#{legaldongCode}
					,#{frlndMnnm}
					,#{copertnClvtAt}
					,#{frlndSlno}
					,#{frlndAdres}
					,#{clvtStle}
					,#{frlndOwnerNm}
					,#{ofactLndcgr}
					,#{realLndcgr}
					,#{ofactFrlndAr}
					,#{realFrlndAr}
					,#{nuseClmgAr}
					,#{nuseQtmgAr}
					,#{prdlstCode}
					,#{predlstNm}
					,#{eqptFcltyse}
					,#{ctvtAr}
					,#{ldgrDvcd}
					,#{eqptSeq}
					,#{eqptStle}
					,#{eqptKnd}
					,#{fcltyAra}
					,#{instlYear}
					,#{sysFrstInptDt}
					,#{sysFrstInptUserId}
					,#{sysFrstInptPrgrmId}
					,#{sysLastChgDt}
					,#{sysLastChgUserId}
					,#{sysLastChgPrgrmId}
					,#{delYn}
	   			)
    	]]>
    </insert>
	<update id="updatefarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.farmLandInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.farm.mapper.farmLandInfoMapper.upatefarmLandInfo */
	    		TB_PD_PrdcrCrclOgnVluIdctrMng
			   SET
			 	  AA	= #{aa}
			 	, BB 	= #{bb}
			 	, CC 	= #{cc}
			 	, CC_CODE 	= #{ccCode}
			 	, DD 	= #{dd}
			 	, DD_CODE 	= #{ddCode}
			 	, EE 	= #{ee}
			 	, FF 	= #{ff}
			 	, GG 	= #{gg}
			 	, HH 	= #{hh}
			 	, II 	= #{ii}
			 	, II_CODE 	= #{iiCode}
			 	, JJ 	= #{jj}
			 	, KK 	= #{kk}
			 	, LL 	= #{ll}
			 	, MM 	= #{mm}
			 	, NN 	= #{nn}
			 	, OO 	= #{oo}
			 	, PP 	= #{pp}
			 	, QQ 	= #{qq}
			 	, RR 	= #{rr}
			 	, SS 	= #{ss}
			 	, TT 	= #{tt}
			 	, UU 	= #{uu}
			 	, VV 	= #{vv}
			 	, WW 	= #{ww}
			 	, XX 	= #{xx}
			 	, YY 	= #{yy}
			 	, ZZ 	= #{zz}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND TEST_NO	= #{testNo}
    	]]>
    </update>


	<delete id="deletefarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.farmLandInfoVO">
		<![CDATA[
		DELETE FROM TB_PD_PrdcrCrclOgnVluIdctrMng
		 WHERE TEST_NO 	= #{testNo}
		]]>
	</delete>

</mapper>