<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : Bfarmapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper.selectFarmerGrantsInfo	-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->

	<select id="selectFarmerGrantsInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO" resultType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper.selectFarmerGrantsInfo */

				FRMERNO
				, BIZ_BGNG_YMD
				, BIZ_END_YMD
				, CMPTNC_INST
				, BIZ_CD
				, BIZ_NM
				, RCFVRS_NM
				, GOV_FNNCNG
				, LCLT_EXPND_FNNCNG
				, GOV_SBSDS
				, LCLT_EXPND_SBSDS
				, PRCS_SYS

				, SN

				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_FRST_INPT_USER_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_PRGRM_ID
				, SYS_LAST_CHG_USER_ID
			FROM USRAM.TB_AX_FRMER_GRANTS_INFO
			WHERE 1=1
		]]>
			<if test='frmerno != null and frmerno != ""'>
				AND FRMERNO = #{frmerno}
			</if>
		ORDER BY SYS_LAST_CHG_DT DESC
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper.selectFarmerGrantsInfoList	-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFarmerGrantsInfoList" parameterType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO" resultType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>

		<![CDATA[
			SELECT /* com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper.selectFarmerGrantsInfoList */
				FRMERNO
				, BIZ_BGNG_YMD
				, BIZ_END_YMD
				, CMPTNC_INST
				, BIZ_CD
				, BIZ_NM
				, RCFVRS_NM
				, GOV_FNNCNG
				, LCLT_EXPND_FNNCNG
				, GOV_SBSDS
				, LCLT_EXPND_SBSDS
				, PRCS_SYS

				, SN

				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_FRST_INPT_USER_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_PRGRM_ID
				, SYS_LAST_CHG_USER_ID
			FROM USRAM.TB_AX_FRMER_GRANTS_INFO
			WHERE 1=1
		]]>
			<if test='frmerno != null and frmerno != ""'>
				AND FRMERNO = #{frmerno}
			</if>
			ORDER BY SYS_LAST_CHG_DT DESC

		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
	</select>


	<insert id="insertFarmerGrantsInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO">
		<![CDATA[
		INSERT /* com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper.insertFarmerGrantsInfo */
			  INTO TB_AX_FRMER_GRANTS_INFO
				(
					  FRMERNO
					, BIZ_BGNG_YMD
					, BIZ_END_YMD
					, CMPTNC_INST
					, BIZ_CD
					, BIZ_NM
					, RCFVRS_NM
					, GOV_FNNCNG
					, LCLT_EXPND_FNNCNG
					, GOV_SBSDS
					, LCLT_EXPND_SBSDS
					, PRCS_SYS

					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_FRST_INPT_USER_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_PRGRM_ID
					, SYS_LAST_CHG_USER_ID
				)
			VALUES
				(
					  #{frmerno}
					, #{bizBgngYmd}
					, #{bizEndYmd}
					, #{cmptncInst}
					, #{bizCd}
					, #{bizNm}
					, #{rcfvrsNm}
					, #{govFnncng}
					, #{lcLtExpndFnncng}
					, #{govSbsds}
					, #{lcltExpndSbsds}
					, #{prcsSys}

					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
				)
		]]>
	</insert>

	<insert id="insertLogFarmerGrantsInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO">
	<![CDATA[
		INSERT /* com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper.insertLogFarmerGrantsInfo */
			  INTO TB_AX_FRMER_GRANTS_INFO_LOG
				(
					  FRMERNO
					, BIZ_BGNG_YMD
					, BIZ_END_YMD
					, CMPTNC_INST
					, BIZ_CD
					, BIZ_NM
					, RCFVRS_NM
					, GOV_FNNCNG
					, LCLT_EXPND_FNNCNG
					, GOV_SBSDS
					, LCLT_EXPND_SBSDS
					, PRCS_SYS

					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_FRST_INPT_USER_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_PRGRM_ID
					, SYS_LAST_CHG_USER_ID
				)
			VALUES
				(
					  #{frmerno}
					, #{bizBgngYmd}
					, #{bizEndYmd}
					, #{cmptncInst}
					, #{bizCd}
					, #{bizNm}
					, #{rcfvrsNm}
					, #{govFnncng}
					, #{lcLtExpndFnncng}
					, #{govSbsds}
					, #{lcltExpndSbsds}
					, #{prcsSys}

					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
				)
		]]>
	</insert>


	<update id="updateFarmerGrantsInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper.upateFarmerGrantsInfo */
				TB_AX_FRMER_GRANTS_INFO
			   SET
				  tgt.BIZ_BGNG_YMD			=#{bizBgngYmd}
				, tgt.BIZ_END_YMD			=#{bizEndYmd}
				, tgt.CMPTNC_INST			=#{cmptncInst}
				, tgt.BIZ_CD				=#{bizCd}
				, tgt.BIZ_NM				=#{bizNm}
				, tgt.RCFVRS_NM				=#{rcfvrsNm}
				, tgt.GOV_FNNCNG			=#{govFnncng}
				, tgt.LCLT_EXPND_FNNCNG		=#{lcLtExpndFnncng}
				, tgt.GOV_SBSDS				=#{govSbsds}
				, tgt.LCLT_EXPND_SBSDS		=#{lcltExpndSbsds}
				, tgt.PRCS_SYS				=#{prcsSys}

		]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
				AND FRMERNO			= #{frmerno}
				AND SN				= #{sn}
		]]>
	</update>

	<delete id="deleteFarmerGrantsInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO">
		<![CDATA[
		DELETE FROM TB_AX_FRMER_GRANTS_INFO /* com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper.deleteFarmerGrantsInfo */
		WHERE 1=1
		  AND FRMERNO		= #{frmerno}
		]]>
		<if test='sn != null and sn != ""'>
		  AND SN			= #{sn}
		</if>
	</delete>

	<select id="selectFrmerSnList" parameterType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO" resultType="com.at.apcss.fm.farm.vo.FarmerGrantsInfoVO">
		SELECT /* com.at.apcss.fm.farm.mapper.FarmerGrantsInfoMapper.selectFrmerSnList */
			FRMERNO
		FROM TB_AX_FRMER_INFO
		<if test='frmerno != null and frmerno != ""'>
			AND FRMERNO = #{frmerno}
		</if>
	</select>

</mapper>