<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : Bfarmapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.farm.mapper.FarmLandInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BfarmngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->

	<select id="selectFarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.FarmLandInfoVO" resultType="com.at.apcss.fm.farm.vo.FarmLandInfoVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.farm.mapper.FarmLandInfoMapper.selectFarmLandInfo */
				MNGMST_REGNO
				, FRLN_TYPE
				, CPRTN_FRLN_YN
				, FRLN_AREA
				, BRGRND_FCLT_SE_CD
				, FCLT_KND
				, FCLT_SN
				, FCLT_SHAP
				, FCLT_AREA
				, FRLN_ADDR
				, FRLN_MNO
				, FRLN_OWNR_NM
				, FRLN_SNO
				, FRLN_SN
				, FRMERNO
				, FCLT_INSTL_YR
				, LDGR_SE_CD
				, STDG_CD
				, FLW_AREA
				, ABL_FRLN_AREA
				, POE_FRLN_AREA
				, POE_LDCG
				, ITEM_CD
				, ITEM_NM
				, ACTL_FRLN_AREA
				, ACTL_LDCG
				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_FRST_INPT_USER_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_PRGRM_ID
				, SYS_LAST_CHG_USER_ID
			FROM USRAM.TB_AX_FARM_LAND_INFO
			WHERE 1=1
		]]>
			<if test='frmerno != null and frmerno != ""'>
				AND FRMERNO = #{frmerno}
			</if>
			<if test='mngmstRegNo != null and mngmstRegNo != ""'>
				AND MNGMST_REGNO = #{mngmstRegNo}
			</if>
		ORDER BY SYS_LAST_CHG_DT DESC
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BfarmngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFarmLandInfoList" parameterType="com.at.apcss.fm.farm.vo.FarmLandInfoVO" resultType="com.at.apcss.fm.farm.vo.FarmLandInfoVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>

		<![CDATA[
			SELECT /* com.at.apcss.fm.farm.mapper.FarmLandInfoMapper.selectFarmLandInfoList */
				MNGMST_REGNO
				, FRLN_TYPE
				, CPRTN_FRLN_YN
				, FRLN_AREA
				, BRGRND_FCLT_SE_CD
				, FCLT_KND
				, FCLT_SN
				, FCLT_SHAP
				, FCLT_AREA
				, FRLN_ADDR
				, FRLN_MNO
				, FRLN_OWNR_NM
				, FRLN_SNO
				, FRLN_SN
				, FRMERNO
				, FCLT_INSTL_YR
				, LDGR_SE_CD
				, STDG_CD
				, FLW_AREA
				, ABL_FRLN_AREA
				, POE_FRLN_AREA
				, POE_LDCG
				, ITEM_CD
				, ITEM_NM
				, ACTL_FRLN_AREA
				, ACTL_LDCG
				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_FRST_INPT_USER_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_PRGRM_ID
				, SYS_LAST_CHG_USER_ID
			FROM USRAM.TB_AX_FARM_LAND_INFO
			WHERE 1=1
		]]>
			<if test='frmerno != null and frmerno != ""'>
				AND FRMERNO = #{frmerno}
			</if>
			<if test='mngmstRegNo != null and mngmstRegNo != ""'>
				AND MNGMST_REGNO = #{mngmstRegNo}
			</if>
			ORDER BY SYS_LAST_CHG_DT DESC

		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
	</select>


	<insert id="insertFarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.FarmLandInfoVO">
		<![CDATA[
			INSERT /* com.at.apcss.fm.farm.mapper.FarmLandInfoMapper.insertfarmLandInfo */
			  INTO TB_AX_FARM_LAND_INFO
				(
					  MNGMST_REGNO
					, FRLN_TYPE
					, CPRTN_FRLN_YN
					, FRLN_AREA
					, BRGRND_FCLT_SE_CD
					, FCLT_KND
					, FCLT_SN
					, FCLT_SHAP
					, FCLT_AREA
					, FRLN_ADDR
					, FRLN_MNO
					, FRLN_OWNR_NM
					, FRLN_SNO
					, FRLN_SN
					, FRMERNO
					, FCLT_INSTL_YR
					, LDGR_SE_CD
					, STDG_CD
					, FLW_AREA
					, ABL_FRLN_AREA
					, POE_FRLN_AREA
					, POE_LDCG
					, ITEM_CD
					, ITEM_NM
					, ACTL_FRLN_AREA
					, ACTL_LDCG
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_FRST_INPT_USER_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_PRGRM_ID
					, SYS_LAST_CHG_USER_ID
				)
			VALUES
				(
					#{mngmstRegNo}
					, #{frlnType}
					, #{cprtnFrlnyn}
					, #{frlnarea}
					, #{brgrndFcltSeCd}
					, #{fcltKnd}
					, #{fcltSn}
					, #{fcltShap}
					, #{fcltArea}
					, #{frlnAddr}
					, #{frlnMno}
					, #{frlnOwnrNm}
					, #{frlnSno}
					, #{frlnSn}
					, #{frmerno}
					, #{fcltInstallYr}
					, #{ldgrSeCd}
					, #{stdgcd}
					, #{flwArea}
					, #{ablFrlnarea}
					, #{poeFrlnarea}
					, #{poeLdcg}
					, #{itemCd}
					, #{itemNm}
					, #{actlFrlnarea}
					, #{actlLdcg}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
				)
		]]>
	</insert>

	<insert id="insertMegerFarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.FarmLandInfoVO">
		<![CDATA[
			MERGE INTO USRAM.TB_AX_FARM_LAND_INFO AS tgt	/* com.at.apcss.fm.farm.mapper.FarmLandInfoMapper.insertMegerFarmLandInfo */
			USING DUAL
				ON (
						tgt.FRMERNO			= #{frmerno}
						AND tgt.FRLN_SN		= #{frlnSn}
						AND tgt.FRLN_SNO	= #{frlnSno}
						AND tgt.FRLN_MNO	= #{frlnMno}
					)
			WHEN MATCHED THEN
				UPDATE	/* com.at.apcss.fm.farm.mapper.FarmLandInfoMapper.insertMegerFarmLandInfo */
				   SET
					  tgt.MNGMST_REGNO				=#{mngmstRegNo}
					, tgt.FRLN_TYPE					=#{frlnType}
					, tgt.CPRTN_FRLN_YN				=#{cprtnFrlnyn}
					, tgt.FRLN_AREA					=#{frlnarea}
					, tgt.BRGRND_FCLT_SE_CD			=#{brgrndFcltSeCd}
					, tgt.FCLT_KND					=#{fcltKnd}
					, tgt.FCLT_SN					=#{fcltSn}
					, tgt.FCLT_SHAP					=#{fcltShap}
					, tgt.FCLT_AREA					=#{fcltArea}
					, tgt.FRLN_ADDR					=#{frlnAddr}
					, tgt.FRLN_OWNR_NM				=#{frlnOwnrNm}
					, tgt.FCLT_INSTL_YR				=#{fcltInstallYr}
					, tgt.LDGR_SE_CD				=#{ldgrSeCd}
					, tgt.STDG_CD					=#{stdgcd}
					, tgt.FLW_AREA					=#{flwArea}
					, tgt.ABL_FRLN_AREA				=#{ablFrlnarea}
					, tgt.POE_FRLN_AREA				=#{poeFrlnarea}
					, tgt.POE_LDCG					=#{poeLdcg}
					, tgt.ITEM_CD					=#{itemCd}
					, tgt.ITEM_NM					=#{itemNm}
					, tgt.ACTL_FRLN_AREA			=#{actlFrlnarea}
					, tgt.ACTL_LDCG					=#{actlLdcg}

					, tgt.SYS_LAST_CHG_DT			= SYSDATE
					, tgt.SYS_LAST_CHG_PRGRM_ID		=#{sysLastChgUserId}
					, tgt.SYS_LAST_CHG_USER_ID		=#{sysLastChgPrgrmId}
			WHEN NOT MATCHED
			THEN INSERT /* com.at.apcss.fm.farm.mapper.FarmLandInfoMapper.insertMegerFarmLandInfo */
				(
					MNGMST_REGNO
					, FRLN_TYPE
					, CPRTN_FRLN_YN
					, FRLN_AREA
					, BRGRND_FCLT_SE_CD
					, FCLT_KND
					, FCLT_SN
					, FCLT_SHAP
					, FCLT_AREA
					, FRLN_ADDR
					, FRLN_MNO
					, FRLN_OWNR_NM
					, FRLN_SNO
					, FRLN_SN
					, FRMERNO
					, FCLT_INSTL_YR
					, LDGR_SE_CD
					, STDG_CD
					, FLW_AREA
					, ABL_FRLN_AREA
					, POE_FRLN_AREA
					, POE_LDCG
					, ITEM_CD
					, ITEM_NM
					, ACTL_FRLN_AREA
					, ACTL_LDCG
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_FRST_INPT_USER_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_PRGRM_ID
					, SYS_LAST_CHG_USER_ID
			)VALUES (
					#{mngmstRegNo}
					, #{frlnType}
					, #{cprtnFrlnyn}
					, #{frlnarea}
					, #{brgrndFcltSeCd}
					, #{fcltKnd}
					, #{fcltSn}
					, #{fcltShap}
					, #{fcltArea}
					, #{frlnAddr}
					, #{frlnMno}
					, #{frlnOwnrNm}
					, #{frlnSno}
					, #{frlnSn}
					, #{frmerno}
					, #{fcltInstallYr}
					, #{ldgrSeCd}
					, #{stdgcd}
					, #{flwArea}
					, #{ablFrlnarea}
					, #{poeFrlnarea}
					, #{poeLdcg}
					, #{itemCd}
					, #{itemNm}
					, #{actlFrlnarea}
					, #{actlLdcg}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
			);
		]]>
	</insert>

	<insert id="insertLogFarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.FarmLandInfoVO">
	<![CDATA[
		INSERT /* com.at.apcss.fm.farm.mapper.FarmLandInfoMapper.insertLogfarmLandInfo */
			  INTO TB_AX_FARM_LAND_INFO_LOG
				(
					  MNGMST_REGNO
					, FRLN_TYPE
					, CPRTN_FRLN_YN
					, FRLN_AREA
					, BRGRND_FCLT_SE_CD
					, FCLT_KND
					, FCLT_SN
					, FCLT_SHAP
					, FCLT_AREA
					, FRLN_ADDR
					, FRLN_MNO
					, FRLN_OWNR_NM
					, FRLN_SNO
					, FRLN_SN
					, FRMERNO
					, FCLT_INSTL_YR
					, LDGR_SE_CD
					, STDG_CD
					, FLW_AREA
					, ABL_FRLN_AREA
					, POE_FRLN_AREA
					, POE_LDCG
					, ITEM_CD
					, ITEM_NM
					, ACTL_FRLN_AREA
					, ACTL_LDCG
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_FRST_INPT_USER_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_PRGRM_ID
					, SYS_LAST_CHG_USER_ID
				)
			VALUES
				(
					#{mngmstRegNo}
					, #{frlnType}
					, #{cprtnFrlnyn}
					, #{frlnarea}
					, #{brgrndFcltSeCd}
					, #{fcltKnd}
					, #{fcltSn}
					, #{fcltShap}
					, #{fcltArea}
					, #{frlnAddr}
					, #{frlnMno}
					, #{frlnOwnrNm}
					, #{frlnSno}
					, #{frlnSn}
					, #{frmerno}
					, #{fcltInstallYr}
					, #{ldgrSeCd}
					, #{stdgcd}
					, #{flwArea}
					, #{ablFrlnarea}
					, #{poeFrlnarea}
					, #{poeLdcg}
					, #{itemCd}
					, #{itemNm}
					, #{actlFrlnarea}
					, #{actlLdcg}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
				)
		]]>
	</insert>


	<update id="updateFarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.FarmLandInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.farm.mapper.FarmLandInfoMapper.upatefarmLandInfo */
				TB_AX_FARM_LAND_INFO
			   SET
				  MNGMST_REGNO				= #{mngmstRegNo}
				, FRLN_TYPE					= #{frlnType}
				, CPRTN_FRLN_YN				= #{cprtnFrlnyn}
				, FRLN_AREA					= #{frlnarea}
				, BRGRND_FCLT_SE_CD			= #{brgrndFcltSeCd}
				, FCLT_KND					= #{fcltKnd}
				, FCLT_SN					= #{fcltSn}
				, FCLT_SHAP					= #{fcltShap}
				, FCLT_AREA					= #{fcltArea}
				, FRLN_ADDR					= #{frlnAddr}
				, FRLN_MNO					= #{frlnMno}
				, FRLN_OWNR_NM				= #{frlnOwnrNm}
				, FRLN_SNO					= #{frlnSno}
				, FRLN_SN					= #{frlnSn}
				, FCLT_INSTL_YR				= #{fcltInstallYr}
				, LDGR_SE_CD				= #{ldgrSeCd}
				, STDG_CD					= #{stdgcd}
				, FLW_AREA					= #{flwArea}
				, ABL_FRLN_AREA				= #{ablFrlnarea}
				, POE_FRLN_AREA				= #{poeFrlnarea}
				, POE_LDCG					= #{poeLdcg}
				, ITEM_CD					= #{itemCd}
				, ITEM_NM					= #{itemNm}
				, ACTL_FRLN_AREA			= #{actlFrlnarea}
				, ACTL_LDCG					= #{actlLdcg}
		]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
				AND FRMERNO		= #{frmerno}
				AND FRLN_SN		= #{frlnSn}
				AND FRLN_SNO	= #{frlnSno}
				AND FRLN_MNO	= #{frlnMno}
		]]>
	</update>

	<delete id="deleteFarmLandInfo" parameterType="com.at.apcss.fm.farm.vo.FarmLandInfoVO">
		<![CDATA[
		DELETE FROM TB_AX_FARM_LAND_INFO /* com.at.apcss.fm.farm.mapper.FarmLandInfoMapper.deleteFarmLandInfo */
		WHERE 1=1
		  AND FRMERNO		= #{frmerno}
		  AND FRLN_SN		= #{frlnSn}
		  AND FRLN_SNO		= #{frlnSno}
		  AND FRLN_MNO		= #{frlnMno}
		]]>
	</delete>

	<select id="selectFrmerSnList" parameterType="com.at.apcss.fm.farm.vo.FarmLandInfoVO" resultType="com.at.apcss.fm.farm.vo.FarmLandInfoVO">
		SELECT
			FRMERNO
		FROM TB_AX_FRMER_INFO
		<if test='frmerno != null and frmerno != ""'>
			AND FRMERNO = #{frmerno}
		</if>
	</select>

</mapper>