<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : Bfarmapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.selectFarmerEducationInfo	-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->

	<select id="selectFarmerEducationInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO" resultType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.selectFarmerEducationInfo */

				FRMERNO
				, MNGMST_REGNO
				, CRCLM_CD
				, FLNM
				, EDNST_NM
				, CRCLM_NM
				, EDU_BGNG_YMD
				, EDU_END_YMD
				, IDNTY_YN

				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_FRST_INPT_USER_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_PRGRM_ID
				, SYS_LAST_CHG_USER_ID
			FROM USRAM.TB_AX_FRMER_EDU_INFO
			WHERE 1=1
		]]>
			<if test='frmerno != null and frmerno != ""'>
				AND FRMERNO = #{frmerno}
			</if>
			<if test='mngmstRegno != null and mngmstRegno != ""'>
				AND MNGMST_REGNO = #{mngmstRegno}
			</if>
		ORDER BY SYS_LAST_CHG_DT DESC
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.selectFarmerEducationInfoList	-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFarmerEducationInfoList" parameterType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO" resultType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>

		<![CDATA[
			SELECT /* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.selectFarmerEducationInfoList */
				FRMERNO
				, MNGMST_REGNO
				, CRCLM_CD
				, FLNM
				, EDNST_NM
				, CRCLM_NM
				, EDU_BGNG_YMD
				, EDU_END_YMD
				, IDNTY_YN

				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_FRST_INPT_USER_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_PRGRM_ID
				, SYS_LAST_CHG_USER_ID
			FROM USRAM.TB_AX_FRMER_EDU_INFO
			WHERE 1=1
		]]>
			<if test='frmerno != null and frmerno != ""'>
				AND FRMERNO = #{frmerno}
			</if>
			<if test='mngmstRegno != null and mngmstRegno != ""'>
				AND MNGMST_REGNO = #{mngmstRegno}
			</if>
			ORDER BY SYS_LAST_CHG_DT DESC

		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
	</select>


	<insert id="insertFarmerEducationInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO">
		<![CDATA[
			INSERT /* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.insertFarmerEducationInfo */
			  INTO TB_AX_FRMER_EDU_INFO
				(
					  FRMERNO
					, MNGMST_REGNO
					, CRCLM_CD
					, FLNM
					, EDNST_NM
					, CRCLM_NM
					, EDU_BGNG_YMD
					, EDU_END_YMD
					, IDNTY_YN

					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_FRST_INPT_USER_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_PRGRM_ID
					, SYS_LAST_CHG_USER_ID
				)
			VALUES
				(
					  #{frmerno}
					, #{mngmstRegno}
					, #{crclmCd}
					, #{flNm}
					, #{ednstNm}
					, #{crclmNm}
					, #{eduBgngYmd}
					, #{eduEndYmd}
					, #{idntyYn}

					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
				)
		]]>
	</insert>

	<insert id="insertMergeFarmerEducationInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO">
		<![CDATA[
			MERGE INTO USRAM.TB_AX_FRMER_EDU_INFO AS tgt	/* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.insertMegerFarmerEducationInfo */
			USING DUAL
				ON (
						tgt.FRMERNO			= #{frmerno}
						AND tgt.CRCLM_CD	= #{crclmCd}
					)
			WHEN MATCHED THEN
				UPDATE	/* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.insertMegerFarmerEducationInfo */
				   SET
					  tgt.MNGMST_REGNO				=#{mngmstRegno}
					, tgt.FLNM						=#{flNm}
					, tgt.EDNST_NM					=#{ednstNm}
					, tgt.CRCLM_NM					=#{crclmNm}
					, tgt.EDU_BGNG_YMD				=#{eduBgngYmd}
					, tgt.EDU_END_YMD				=#{eduEndYmd}
					, tgt.IDNTY_YN					=#{idntyYn}

					, tgt.SYS_LAST_CHG_DT			= SYSDATE
					, tgt.SYS_LAST_CHG_PRGRM_ID		=#{sysLastChgUserId}
					, tgt.SYS_LAST_CHG_USER_ID		=#{sysLastChgPrgrmId}
				WHERE 1=1
				  AND FRMERNO		= #{frmerno}
				  AND CRCLM_CD		= #{crclmCd}
			WHEN NOT MATCHED
			THEN INSERT /* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.insertMegerFarmerEducationInfo */
				(
					  FRMERNO
					, MNGMST_REGNO
					, CRCLM_CD
					, FLNM
					, EDNST_NM
					, CRCLM_NM
					, EDU_BGNG_YMD
					, EDU_END_YMD
					, IDNTY_YN

					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_FRST_INPT_USER_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_PRGRM_ID
					, SYS_LAST_CHG_USER_ID
				)
			VALUES
				(
					  #{frmerno}
					, #{mngmstRegno}
					, #{crclmCd}
					, #{flNm}
					, #{ednstNm}
					, #{crclmNm}
					, #{eduBgngYmd}
					, #{eduEndYmd}
					, #{idntyYn}

					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
				)
		]]>
	</insert>

	<insert id="insertLogFarmerEducationInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO">
	<![CDATA[
		INSERT /* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.insertLogFarmerEducationInfo */
			  INTO TB_AX_FRMER_EDU_INFO_LOG
				(
					  FRMERNO
					, MNGMST_REGNO
					, CRCLM_CD
					, FLNM
					, EDNST_NM
					, CRCLM_NM
					, EDU_BGNG_YMD
					, EDU_END_YMD
					, IDNTY_YN

					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_FRST_INPT_USER_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_PRGRM_ID
					, SYS_LAST_CHG_USER_ID
				)
			VALUES
				(
					  #{frmerno}
					, #{mngmstRegno}
					, #{crclmCd}
					, #{flNm}
					, #{ednstNm}
					, #{crclmNm}
					, #{eduBgngYmd}
					, #{eduEndYmd}
					, #{idntyYn}

					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
				)
		]]>
	</insert>


	<update id="updateFarmerEducationInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.upateFarmerEducationInfo */
				TB_AX_FRMER_EDU_INFO
			   SET
				  tgt.MNGMST_REGNO				=#{mngmstRegno}
				, tgt.CRCLM_CD					=#{crclmCd}
				, tgt.FLNM						=#{flNm}
				, tgt.EDNST_NM					=#{ednstNm}
				, tgt.CRCLM_NM					=#{crclmNm}
				, tgt.EDU_BGNG_YMD				=#{eduBgngYmd}
				, tgt.EDU_END_YMD				=#{eduEndYmd}
				, tgt.IDNTY_YN					=#{idntyYn}
		]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
				AND FRMERNO			= #{frmerno}
				AND CRCLM_CD		= #{crclmCd}
		]]>
	</update>

	<delete id="deleteFarmerEducationInfo" parameterType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO">
		<![CDATA[
		DELETE FROM TB_AX_FRMER_EDU_INFO /* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.deleteFarmerEducationInfo */
		WHERE 1=1
		  AND FRMERNO		= #{frmerno}
		  AND CRCLM_CD		= #{crclmCd}
		]]>
	</delete>

	<select id="selectFrmerSnList" parameterType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO" resultType="com.at.apcss.fm.farm.vo.FarmerEducationInfoVO">
		SELECT /* com.at.apcss.fm.farm.mapper.FarmerEducationInfoMapper.selectFrmerSnList */
			FRMERNO
		FROM TB_AX_FRMER_INFO
		<if test='frmerno != null and frmerno != ""'>
			AND FRMERNO = #{frmerno}
		</if>
	</select>

</mapper>