@charset "utf-8";
body {
  background: #F8F8F8;
}

/****search****/
.sbt-con-wrap .sbt-search-wrap {
  border: 1px solid #149fff;
  box-sizing: border-box;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header {
  height: 50px;
  line-height: 50px;
  background: #daf0ff;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header > h3 {
  color: #047ccf;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
  margin-left: 15px;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #149fff;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: url(../images/sub/tem-icon-14.png);*/
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header a.sbt-more:after,
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header a.sbt-more:before {
  background: #149fff;
}
.sbt-con-wrap .sbt-search-wrap .sbux-btn.sbt-btn-search {
  background: #4a5672 !important;
  border-color: #4a5672;
  transition: all 0.2s;
}
.sbt-con-wrap .sbt-search-wrap .sbux-btn.sbt-btn-search:hover {
  background: #0094fa !important;
  border-color: #0094fa;
  transition: all 0.2s;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body {
  padding: 10px !important;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header,
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header {
  height: 50px;
  line-height: 50px;
  background: #e6e9eb;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header > h3,
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header > h3 {
  color: #333;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header > span,
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
  margin-left: 15px;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header > span:after,
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #adb1bb;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: url(../images/sub/tem-icon-14.png);*/
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header {
  height: 50px;
  line-height: 50px;
  background: #e6e9eb;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header > h3 {
  color: #555;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
  margin-left: 15px;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #999;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: url(../images/sub/tem-icon-14.png);*/
}
.sbt-input-tab .tab-content {
  padding: 10px;
}
.sbt-input-tab,
.sbt-tab-wrap,
.sbt-con-wrap {
  /*label*/
}
.sbt-input-tab .sbt-col-left > label.sbt-label span,
.sbt-tab-wrap .sbt-col-left > label.sbt-label span,
.sbt-con-wrap .sbt-col-left > label.sbt-label span,
.sbt-input-tab .sbt-col-right > label.sbt-label span,
.sbt-tab-wrap .sbt-col-right > label.sbt-label span,
.sbt-con-wrap .sbt-col-right > label.sbt-label span {
  position: relative;
  text-shadow: 1px 0;
}
.sbt-input-tab .sbt-col-left > label.sbt-label span:before,
.sbt-tab-wrap .sbt-col-left > label.sbt-label span:before,
.sbt-con-wrap .sbt-col-left > label.sbt-label span:before,
.sbt-input-tab .sbt-col-right > label.sbt-label span:before,
.sbt-tab-wrap .sbt-col-right > label.sbt-label span:before,
.sbt-con-wrap .sbt-col-right > label.sbt-label span:before {
  position: absolute;
  top: 6px;
  left: -12px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #149fff;
  border-radius: 50%;
  content: '';
}
/****grid****/
/*th,td bg*/
.sbgrid_fixed_table_st,
.sbgrid_fixed_table_nohover_st {
  background-color: #F5FBFF;
}
/*selected*/
.sbgrid_focus_st {
  background: #adddff !important;
}
/*hover*/
.sbgrid_fixed_table_st td.sbgrid_fixed_cell_st:hover {
  background-color: #ceebff !important;
  color: #0060b3 !important;
}
.sbgrid_data_cell_hover_st,
.sbgrid_data_row_hover_st {
  background-color: #ceebff !important;
  color: #0060b3 !important;
}
/*border*/
.sbgrid_fixed_cell_st,
.sbgrid_data_cell_st {
  border-color: #cad4df;
}
.sbt-info-wrap {
  display: flex;
  width: 100%;
  padding: 10px;
  background: none;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header {
  background: #edf2ff;
  height: 50px;
  line-height: 50px;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header > span:after {
  background: #b5c3e9;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header > h3 {
  color: #333;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header a.sbt-more:before {
  background: #b5c3e9;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header a.sbt-more:after {
  background: #b5c3e9;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-body {
  line-height: 16px;
  padding: 20px;
  box-sizing: border-box;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header {
  background: #edf2ff;
  height: 50px;
  line-height: 50px;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header > span:after {
  background: #b5c3e9;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header > h3 {
  color: #333;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header a.sbt-more:before {
  background: #b5c3e9;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header a.sbt-more:after {
  background: #b5c3e9;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-body {
  line-height: 16px;
  padding: 20px;
  box-sizing: border-box;
}
.sbt-info-wrap > div {
  margin-right: 20px;
}
.sbt-info-wrap > div:last-child {
  margin-right: 0;
}
/*sidemenu*/
.sbux-sidemeu {
  background: #fff;
}
.sbux-sidemeu > ul > li.active {
  background: #4a5672;
}
.sbux-sidemeu > ul .sbux-sidemeu-sub li {
  background: #cae6f9;
}
.sbux-sidemeu > ul .sbux-sidemeu-sub .sbux-sidemeu-sub1 li {
  background: #a3d3f3;
}
.sbux-sidemeu > ul .sbux-sidemeu-sub .sbux-sidemeu-sub2 li {
  background: #82bfe7;
}
.sbux-sidemeu > ul .sbux-sidemeu-sub .sbux-sidemeu-sub3 li {
  background: #5aa6e7;
}
.sbux-sidemeu .sbux-sidemeu-ul > .sbux-sidemeu-li.active.sbux-sidemeu-selected > div > a.sbux-sidemeu-link > span {
  color: #fff;
}
.sbux-sidemeu .sbux-sidemeu-li.active.sbux-sidemeu-selected > div > a.sbux-sidemeu-link > span {
  color: #0084e0;
}
/*nav*/
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-hd-wrap .sbux-meu-brand span {
  color: #fff;
}
nav.sbux-meu-static-top {
  background-color: #149fff !important;
  border-bottom: none;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li a.sbux-meu-top-item-tgl {
  background: none;
  border: none;
  border-radius: 0;
  padding-bottom: 23px;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li a.sbux-meu-top-item-tgl span.sbux-meu-top-item-txt {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li a.sbux-meu-top-item-tgl .sbux-meu-top-item-caret {
  display: none;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li a.sbux-meu-top-item-tgl:hover {
  background: none;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li a.sbux-meu-top-item-tgl:hover span.sbux-meu-top-item-txt {
  color: #ffff52 !important;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul li.open > a .sbux-meu-top-item-txt {
  color: #ffff52 !important;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li ul.sbux-meu-sub-wrap li.sbux-meu-sub-item-wrap,
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li ul.sbux-meu-sub-wrap .sbux-ddl-sub-item-chl {
  background: #149fff;
  border-bottom-color: #47b4ff;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li ul.sbux-meu-sub-wrap li.sbux-meu-sub-item-wrap .sbux-meu-sub-item-txt,
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li ul.sbux-meu-sub-wrap .sbux-ddl-sub-item-chl .sbux-meu-sub-item-txt {
  color: #fff;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li ul.sbux-meu-sub-wrap li.sbux-meu-sub-item-wrap a:hover,
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-bd-wrap > ul.sbux-meu-bd-ul > li ul.sbux-meu-sub-wrap .sbux-ddl-sub-item-chl a:hover {
  background: #0084e0;
}
/*breadcrumb*/
.sbux-bre-wrap {
  margin: 0;
  padding-top: 15px;
  padding-left: 10px;
}
/*select*/
.sbux-sel {
  height: 30px;
}
/*select*/
.sbux-sel.sbux-sel-focus {
  border: 1px solid #149fff;
}
.sbux-sel.sbux-sel-required {
  border: 1px solid #149fff;
}
.sbux-sel-chk a.sbux-sel.sbux-sel-focus {
  border: 1px solid #149fff;
}
.sbux-sel-chk a.sbux-sel.sbux-sel-required {
  border: 1px solid #149fff;
}
.sbux-sel-form .sbux-sel-form-wrap.sbux-sel-required {
  border: 1px solid #149fff;
}
.sbux-sel-form .sbux-sel-form-wrap.sbux-sel-focus {
  border: 1px solid #149fff;
}
/*textarea*/
.sb-textarea.sbux-txa-focus,
.sbux-txa.sbux-txa-focus {
  border: 1px solid #149fff;
}
