@charset "utf-8";
.sbt-default-input {
  width: 100%;
}
.sbt-search-input {
  width: 100%;
}
.sbt-label > span {
  font-size: 13px;
}
.sbt-label-hyphen {
  margin: 3px;
  font-size: 12px;
}
.sbux-uuid-default-date {
  width: 100%;
}
.sbt-date-range {
  margin: 0 !important;
  font-size: 13px;
}
.sbt-date-range > span {
  width: 100%;
  max-width: 400px;
}
.sbt-date-range > span > span > input {
  width: 100% !important;
  max-width: 100px;
}
.sbt-select {
  width: 100%;
}
.sbt-checked {
  min-width: 18px;
  margin-right: 10%;
}
.sbt-checked > span > label {
  padding-right: 10px;
}
.sbt-checked > span > label > span {
  font-weight: normal !important;
}
.sbt-checked > label > span {
  font-weight: normal !important;
}
.sbt-radio {
  min-width: 45px;
}
.sbt-radio > span > label > span {
  font-weight: normal !important;
}
.sbt-radio > label > span {
  font-weight: normal !important;
}
.sbt-btn-reset {
  height: 48px;
  padding: 15px !important;
  border: 1px solid #BBC4D1;
  box-shadow: 1px 2px 3px #ddd;
  font-size: 16px !important;
  margin-right: 5px !important;
}
.sbt-btn-search {
  width: 54%;
  max-width: 132px;
  min-width: 70px;
  height: 48px;
  padding: 15px !important;
  border: 1px solid #BBC4D1;
  box-shadow: 1px 2px 3px #ddd;
  font-size: 16px !important;
  background: #307EA5 !important;
  color: #fff !important;
}
.sbt-btn-search > span {
  position: relative;
  width: 100%;
  text-shadow: 1px 0;
  font-size: 16px;
  /*padding-left: 20px;*/
}
.sbt-btn-dash {
  min-width: 80px;
  height: 26px;
  line-height: 0 !important;
  vertical-align: bottom !important;
}
.sbt-btn-dash > span {
  font-size: 12px;
}
.sbt-bread {
  position: relative;
  margin: 0 !important;
}
.sbt-bread:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -3px;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
}
.sbt-bread > ul.sbux-bre-item-wrap {
  height: 48px;
}
.sbt-bread > ul.sbux-bre-item-wrap li.sbux-bre-item {
  height: 48px;
}
.sbt-all-wrap {
  min-width: 1600px;
}
.sbt-con-wrap {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.sbt-con-wrap .sbt-search-wrap {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #00000021;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #EFEFEF;
  border-radius: 10px 10px 0 0;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 15px;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ccc;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: url(../images/sub/tem-icon-14.png);*/
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header > h3 {
  display: inline-block;
  font-size: 15px;
  color: #8B8B8B;
  margin-left: 13px;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header a.sbt-more {
  float: right;
  position: relative;
  display: inline-block;
  border: 0;
  padding-left: 28px;
  color: #777;
  font-size: 0;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header a.sbt-more:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 3px;
  height: 19px;
  margin: -8px 0 0;
  margin-top: -9px;
  background: #777;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-header a.sbt-more:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 19px;
  height: 3px;
  margin: -8px 0 0;
  margin-top: -1px;
  background: #777;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con {
  display: flex;
  align-items: center;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body {
  display: inline-block;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 5px 0;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body.popup-body2 {
  width: 60%;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col {
  display: inline-flex;
  width: 33%;
  padding: 5px 0;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col .sbt-col-left {
  display: inline-block;
  width: 40%;
  min-width: 60px;
  max-width: 96px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  text-align: right;
  font-size: 13px;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col .sbt-col-right {
  display: inline-flex;
  align-items: center;
  width: 60%;
  min-width: 100px;
  max-width: 358px;
  height: 30px;
  margin: 4px;
  text-align: left;
  font-size: 13px;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col .sbt-col-right.daterange-2col {
  width: 100%;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col .sbt-col-right.daterange-2col .sbt-date-range {
  width: 100%;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col .sbt-col-right.daterange-2col .sbt-date-range > span {
  width: 100%;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col .sbt-col-right.daterange-2col .sbt-date-range > span > .sbux-pik-group {
  width: 50%;
  max-width: 148px;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col .sbt-col-right.daterange-2col .sbt-date-range > span > .sbux-pik-dash-txt {
  padding: 0 5%;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col .sbt-col-right.daterange-2col .sbt-date-range > span > span > input {
  width: 100% !important;
  min-width: 110px;
  max-width: 100% !important;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col.popup-search-col {
  width: 32%;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col.popup-search-col2 {
  width: 100%;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-wrap-body .sbt-search-row .sbt-search-col.search-2col {
  width: 66%;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-search-button {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
  font-size: 0;
}
.sbt-con-wrap .sbt-search-wrap .sbt-wrap-body-con .sbt-search-button.search-button2 {
  width: 40%;
}
.sbt-con-wrap .sbt-input-wrap {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #00000021;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #EFEFEF;
  border-radius: 10px 10px 0 0;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 15px;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ccc;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: url(../images/sub/tem-icon-14.png);*/
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header > h3 {
  display: inline-block;
  font-size: 15px;
  color: #8B8B8B;
  margin-left: 13px;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header a.sbt-more {
  float: right;
  position: relative;
  display: inline-block;
  border: 0;
  padding-left: 28px;
  color: #777;
  font-size: 0;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header a.sbt-more:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 3px;
  height: 19px;
  margin: -8px 0 0;
  margin-top: -9px;
  background: #777;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-header a.sbt-more:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 19px;
  height: 3px;
  margin: -8px 0 0;
  margin-top: -1px;
  background: #777;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-body {
  display: inline-block;
  width: 100%;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 5px 0;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-body .sbt-input-row {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-body .sbt-input-row .sbt-input-col {
  display: inline-flex;
  width: 33%;
  padding: 5px 0;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-body .sbt-input-row .sbt-input-col.input2-col {
  width: 48%;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-body .sbt-input-row .sbt-input-col.input2-col .sbt-col-left {
  min-width: 54px;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-body .sbt-input-row .sbt-input-col .sbt-col-left {
  display: inline-block;
  width: 40%;
  min-width: 60px;
  max-width: 96px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  text-align: right;
}
.sbt-con-wrap .sbt-input-wrap .sbt-wrap-body .sbt-input-row .sbt-input-col .sbt-col-right {
  display: inline-flex;
  align-items: center;
  width: 60%;
  min-width: 100px;
  max-width: 358px;
  height: 30px;
  margin: 4px;
  text-align: left;
}
.sbt-input-tab {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
}
.sbt-input-tab .tab-content {
  border: none;
  border-radius: 0 15px 15px 15px;
  box-shadow: 0px 1px 3px #d7d7d7;
  overflow: visible;
  padding: 10px 0;
}
.sbt-input-tab .tab-content .sbt-tab-wrap {
  display: inline-block;
  width: 100%;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 5px 0;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col {
  display: inline-flex;
  width: 33%;
  padding: 5px 0;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab2-col {
  width: 25%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab2-col-last {
  width: 24%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab3-col {
  width: 20%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab3-col-last {
  width: 19%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab1-popup-col {
  width: 48%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab1-popup-col .sbt-col-left {
  min-width: 54px;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab2-popup-col {
  width: 48%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab2-popup-col .sbt-col-left {
  min-width: 54px;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab3-popup-col {
  width: 48%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.tab3-popup-col .sbt-col-left {
  min-width: 54px;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.popup-tab2-col {
  width: 24%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.popup-tab2-col .sbt-col-left {
  min-width: 66px;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.popup-tab3-col {
  width: 24%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col.popup-tab3-col .sbt-col-left {
  min-width: 66px;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col .sbt-col-left {
  display: inline-block;
  width: 40%;
  min-width: 60px;
  max-width: 96px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  text-align: right;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col .sbt-col-right {
  display: inline-flex;
  align-items: center;
  width: 60%;
  min-width: 100px;
  max-width: 358px;
  height: 30px;
  margin: 4px;
  text-align: left;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col .sbt-col-right .sbt-date-range {
  width: 100%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col .sbt-col-right .sbt-date-range > span {
  width: 100%;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col .sbt-col-right .sbt-date-range > span > .sbux-pik-group {
  width: 48%;
  max-width: 148px;
}
.sbt-input-tab .tab-content .sbt-tab-wrap .sbt-tab-row .sbt-tab-col .sbt-col-right .sbt-date-range > span > span > input {
  width: 100% !important;
  min-width: 98px;
  max-width: 100% !important;
}
.sbt-con-wrap .sbt-grid-wrap {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #00000021;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #EFEFEF;
  border-radius: 10px 10px 0 0;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 15px;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ccc;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: url(../images/sub/tem-icon-14.png);*/
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header > h3 {
  display: inline-block;
  font-size: 15px;
  color: #8B8B8B;
  margin-left: 13px;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header a.sbt-more {
  float: right;
  position: relative;
  display: inline-block;
  border: 0;
  padding-left: 28px;
  color: #777;
  font-size: 0;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header a.sbt-more:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 3px;
  height: 19px;
  margin: -8px 0 0;
  margin-top: -9px;
  background: #777;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-header a.sbt-more:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 19px;
  height: 3px;
  margin: -8px 0 0;
  margin-top: -1px;
  background: #777;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-body {
  width: 100%;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  box-sizing: border-box;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-body .sbt-grid-box {
  overflow: auto;
}
.sbt-con-wrap .sbt-grid-wrap .sbt-wrap-body .sbt-grid {
  /*min-width: 800px;*/
}
.sbt-con-wrap .sbt-chart-wrap {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #00000021;
}
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #EFEFEF;
  border-radius: 10px 10px 0 0;
}
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
  margin-left: 30px;
}
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ccc;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: url(../images/sub/tem-icon-14.png);*/
}
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header > h3 {
  display: inline-block;
  font-size: 15px;
  color: #8B8B8B;
  margin-left: 13px;
}
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header a.sbt-more {
  float: right;
  position: relative;
  display: inline-block;
  border: 0;
  padding-left: 28px;
  color: #777;
  font-size: 0;
}
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header a.sbt-more:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 3px;
  height: 19px;
  margin: -8px 0 0;
  margin-top: -9px;
  background: #777;
}
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-header a.sbt-more:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 19px;
  height: 3px;
  margin: -8px 0 0;
  margin-top: -1px;
  background: #777;
}
.sbt-con-wrap .sbt-chart-wrap .sbt-wrap-body {
  width: 100%;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  box-sizing: border-box;
}
.sbt-info-wrap {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #00000021;
}
.sbt-info-wrap .sbt-info-box {
  box-shadow: 1px 2px 3px #00000021;
  border-radius: 10px;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #EFEFEF;
  border-radius: 10px 10px 0 0;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
  margin-left: 30px;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ccc;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: url(../images/sub/tem-icon-14.png);*/
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header > h3 {
  display: inline-block;
  font-size: 15px;
  color: #8B8B8B;
  margin-left: 13px;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header a.sbt-more {
  float: right;
  position: relative;
  display: inline-block;
  border: 0;
  padding-left: 28px;
  color: #777;
  font-size: 0;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header a.sbt-more:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 3px;
  height: 19px;
  margin: -8px 0 0;
  margin-top: -9px;
  background: #777;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-header a.sbt-more:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 19px;
  height: 3px;
  margin: -8px 0 0;
  margin-top: -1px;
  background: #777;
}
.sbt-info-wrap .sbt-info-box .sbt-wrap-body {
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  line-height: 16px;
}
.sbt-info-wrap .sbt-con-box {
  box-shadow: 1px 2px 3px #00000021;
  border-radius: 10px;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #EFEFEF;
  border-radius: 10px 10px 0 0;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
  margin-left: 30px;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header > span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ccc;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: url(../images/sub/tem-icon-14.png);*/
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header > h3 {
  display: inline-block;
  font-size: 15px;
  color: #8B8B8B;
  margin-left: 13px;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header a.sbt-more {
  float: right;
  position: relative;
  display: inline-block;
  border: 0;
  padding-left: 28px;
  color: #777;
  font-size: 0;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header a.sbt-more:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 3px;
  height: 19px;
  margin: -8px 0 0;
  margin-top: -9px;
  background: #777;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-header a.sbt-more:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 19px;
  height: 3px;
  margin: -8px 0 0;
  margin-top: -1px;
  background: #777;
}
.sbt-info-wrap .sbt-con-box .sbt-wrap-body {
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  line-height: 16px;
}
.sbt-info-wrap > div {
  margin-right: 10px;
}
.sbt-info-wrap > div:last-child {
  margin-right: 0;
}
.sbt-popup-wrap {
  position: relative;
  width: 100%;
  min-width: 1024px;
  min-height: 768px;
}
.sbt-popup-wrap .sbt-popup-header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #333333;
}
.sbt-popup-wrap .sbt-popup-header .popup-header-tit {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  padding-left: 40px;
}
.sbt-popup-wrap .sbt-popup-header .sbt-button-down {
  display: inline-block;
  width: 120px;
  height: 36px;
  margin-left: 10px;
  line-height: 36px;
  background: #ffffff;
  border: 1px solid #BBC4D1;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}
.sbt-popup-wrap .sbt-popup-header .sbt-button-down > span {
  position: relative;
  font-size: 16px;
  padding-left: 22px;
}
.sbt-popup-wrap .sbt-popup-header .sbt-button-down > span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  margin: -8px 0;
  background: url(../images/sub/tem-icon-15.png) no-repeat;
}
.sbt-popup-wrap .sbt-popup-header .sbt-trans-wrap {
  display: inline-block;
  float: right;
  margin-right: 35px;
}
.sbt-popup-wrap .sbt-popup-header .sbt-trans-wrap .sbt-tap-screen {
  display: inline-block;
  vertical-align: bottom;
  width: 120px;
  height: 46px;
  line-height: 46px;
  background: #c5c5c5;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #BBC4D1;
  border-left: 1px solid #BBC4D1;
  border-right: 1px solid #BBC4D1;
}
.sbt-popup-wrap .sbt-popup-header .sbt-trans-wrap .sbt-tap-screen > span {
  position: relative;
  font-size: 16px;
  padding-left: 22px;
}
.sbt-popup-wrap .sbt-popup-header .sbt-trans-wrap .sbt-tap-screen > span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  margin: -8px 0;
  background: url(../images/sub/tem-icon-16.png) no-repeat;
}
.sbt-popup-wrap .sbt-popup-header .sbt-trans-wrap .sbt-tap-screen.tab-active {
  background: #fff;
}
.sbt-popup-wrap .sbt-popup-header .sbt-trans-wrap .sbt-tap-source {
  display: inline-block;
  vertical-align: bottom;
  width: 120px;
  height: 46px;
  line-height: 46px;
  background: #c5c5c5;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #BBC4D1;
  border-left: 1px solid #BBC4D1;
  border-right: 1px solid #BBC4D1;
}
.sbt-popup-wrap .sbt-popup-header .sbt-trans-wrap .sbt-tap-source > span {
  position: relative;
  font-size: 16px;
  padding-left: 22px;
}
.sbt-popup-wrap .sbt-popup-header .sbt-trans-wrap .sbt-tap-source > span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  margin: -8px 0;
  background: url(../images/sub/tem-icon-18.png) no-repeat;
}
.sbt-popup-wrap .sbt-popup-header .sbt-trans-wrap .sbt-tap-source.tab-active {
  background: #fff;
}
.sbt-popup-wrap .sbt-popup-content-wrap {
  width: 100%;
  height: 708px;
}
.sbt-popup-wrap .sbt-popup-code-wrap {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 708px;
}
.sbt-wrap-full {
  position: relative;
  width: 100%;
  font-size: 0;
}
.sbt-wrap-full .sbt-wrap-left {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.sbt-wrap-full .sbt-wrap-right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.sbt-wrap-full .sbt-change-iconbox {
  position: absolute;
  display: block;
  width: 50px;
  height: 100px;
  top: 60%;
  left: 50%;
  margin: -50px 0 0 -25px;
}
.sbt-wrap-full .sbt-change-iconbox .sbt-icon01 {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #939393;
  cursor: pointer;
}
.sbt-wrap-full .sbt-change-iconbox .sbt-icon01::before {
  content: '';
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../images/sub/tem-icon-19.png);
}
.sbt-wrap-full .sbt-change-iconbox .sbt-icon02 {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #939393;
  cursor: pointer;
}
.sbt-wrap-full .sbt-change-iconbox .sbt-icon02::before {
  content: '';
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../images/sub/tem-icon-20.png);
}
.dash-popup-wrap {
  min-width: 1200px;
  min-height: 860px;
}
.dash-popup-wrap .sbt-popup-content-wrap {
  width: 100%;
  height: 800px;
  font-size: 0;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-top {
  height: 38px;
  line-height: 38px;
  font-size: 12px;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-top .sbt-dash-bread {
  display: inline-block;
  margin-left: 50px;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-top .sbt-dash-top-btn {
  display: inline-block;
  margin-right: 10px;
  float: right;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-2grid-wrap {
  width: 100%;
  height: 500px;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-2grid-wrap .sbt-dash-grid-left {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-2grid-wrap .sbt-dash-grid-left .sbt-con-wrap {
  height: 100%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-2grid-wrap .sbt-dash-grid-left .sbt-chart-wrap {
  height: 100%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-2grid-wrap .sbt-dash-grid-right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-2grid-wrap .sbt-dash-grid-right .sbt-dash-right-2grid {
  width: 100%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-2grid-wrap .sbt-dash-grid-right .sbt-dash-right-2grid .sbt-con-wrap {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-3grid-wrap {
  width: 100%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-3grid-wrap .sbt-con-wrap {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  min-width: 236px;
  height: 100%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-3grid-wrap .sbt-con-wrap:last-child {
  width: 34%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-3grid-wrap .sbt-con-wrap .tem-donut {
  display: inline-block;
  width: 50%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-center3grid-wrap {
  width: 100%;
  height: 500px;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-center3grid-wrap .sbt-con-wrap {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  min-width: 236px;
  height: 100%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-center3grid-wrap .sbt-con-wrap.center-content {
  width: 50%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-center3grid-wrap .sbt-con-wrap .sbt-chart-wrap {
  height: 100%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-center3grid-wrap .sbt-con-wrap .sbt-grid-wrap {
  height: 100%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-center3grid-wrap .sbt-con-wrap .sbt-grid-wrap .sbt-wrap-body {
  height: 82%;
  overflow: hidden;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-center3grid-wrap .sbt-con-wrap .sbt-grid-wrap .sbt-wrap-body .sbt-grid-box {
  height: 100%;
  overflow: auto;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-center3grid-wrap .sbt-con-wrap .sbt-grid-wrap .sbt-wrap-body .sbt-grid {
  min-width: 800px;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-4grid-wrap {
  width: 100%;
}
.dash-popup-wrap .sbt-popup-content-wrap .sbt-dash-4grid-wrap .sbt-con-wrap {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  min-width: 236px;
  height: 100%;
}
.sbt-btn-modal {
  height: 40px;
  margin-left: 10px !important;
  border: none !important;
  background: #333 !important;
  font-size: 13px !important;
  vertical-align: unset !important;
}
.sbt-modal-input > .sbux-mol-md-dlg {
  margin: 250px auto 0 !important;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbt-wrap-body {
  display: inline-block;
  width: 100%;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 5px 0;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbt-wrap-body .sbt-input-row {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbt-wrap-body .sbt-input-row .sbt-input-col {
  display: inline-flex;
  width: 33%;
  padding: 5px 0;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbt-wrap-body .sbt-input-row .sbt-input-col.input2-col {
  width: 48%;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbt-wrap-body .sbt-input-row .sbt-input-col.input2-col .sbt-col-left {
  min-width: 54px;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbt-wrap-body .sbt-input-row .sbt-input-col .sbt-col-left {
  display: inline-block;
  width: 40%;
  min-width: 60px;
  max-width: 96px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  text-align: right;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbt-wrap-body .sbt-input-row .sbt-input-col .sbt-col-right {
  display: inline-flex;
  align-items: center;
  width: 60%;
  min-width: 100px;
  max-width: 358px;
  height: 30px;
  margin: 4px;
  text-align: left;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbt-wrap-body .sbt-input-row .sbt-input-col .sbt-col-right > span {
  line-height: 0;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbux-mol-bd {
  padding: 0;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbux-mol-hd {
  height: 60px;
  padding: 0 0 0 35px;
  background: #333;
  box-sizing: border-box;
  border: none;
}
.sbt-modal-input > .sbux-mol-md-dlg > .sbux-mol-cont .sbux-mol-hd > span {
  font-size: 16px;
  font-weight: bold;
}
.sbchart-chart {
  font-size: 14px;
}
.tem-chart-text {
  padding: 50px;
  box-sizing: border-box;
}
.tem-chart-text .con-tit {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.tem-chart-text .con-sub {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
.tem-sample-chart-pie {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-pie .tem-pie {
  width: 100%;
  margin: 0 auto;
}
.tem-sample-chart-pie .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-bar {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-bar tspan {
  font-size: 14px;
}
.tem-sample-chart-bar .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-bar .tem-bar {
  width: 100%;
  margin: 0 auto;
}
.tem-sample-chart-radar {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-radar .tem-radar {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}
.tem-sample-chart-radar .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-area {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-area tspan {
  font-size: 14px;
}
.tem-sample-chart-area .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-area .tem-area {
  width: 100%;
  margin: 0 auto;
}
.tem-sample-chart-wing {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-wing tspan {
  font-size: 14px;
}
.tem-sample-chart-wing .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-wing .tem-wing {
  width: 100%;
  margin: 0 auto;
}
.tem-sample-chart-gauge {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-gauge tspan {
  font-size: 14px;
}
.tem-sample-chart-gauge .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-gauge .tem-gauge {
  width: 100%;
  margin: 0 auto;
}
.tem-sample-chart-plot {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-plot tspan {
  font-size: 14px;
}
.tem-sample-chart-plot .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-plot .tem-plot {
  width: 100%;
  margin: 0 auto;
}
.tem-sample-chart-line {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-line tspan {
  font-size: 14px;
}
.tem-sample-chart-line .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-line .tem-line {
  width: 100%;
  margin: 0 auto;
}
.tem-sample-chart-combi {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-combi tspan {
  font-size: 14px;
}
.tem-sample-chart-combi .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-combi .tem-line {
  width: 100%;
  margin: 0 auto;
}
.tem-sample-chart-donut {
  width: 100%;
  background: #fff;
}
.tem-sample-chart-donut tspan {
  font-size: 14px;
}
.tem-sample-chart-donut .sbchart-legend-item {
  font-size: 12px;
}
.tem-sample-chart-donut .tem-line {
  width: 100%;
  margin: 0 auto;
}
All template layout html,
body {
  width: 100%;
  height: 100%;
}
.sbt-all-wrap {
  width: 100%;
  height: 100%;
}
.sbt-all-wrap .sbt-all-header .sbux-meu-brand {
  height: 60px !important;
}
.sbt-all-wrap .sbt-all-con-wrap {
  display: flex;
  width: 100%;
  height: calc(100% - 61px);
  min-height: 940px;
}
.sbt-all-wrap .sbt-all-con-wrap .sbt-all-left {
  width: 200px;
}
.sbt-all-wrap .sbt-all-con-wrap .sbt-all-main {
  width: calc(100% - 200px);
  padding: 0 20px;
  box-sizing: border-box;
}
/*select*/
.sbux-sel {
  height: 30px;
}
/*breadcrumb*/
.sbux-bre-wrap {
  padding-top: 0 !important;
}