<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : ApcEvrmntStngMapper.xml                                   			-->
<!-- DESC : APC 환경설정 mapper                                             	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.07  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.selectApcInfo		-->
	<!-- DESC : APC 정보 조회.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.07  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcInfo" parameterType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO" resultType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO">
    	<![CDATA[
    	SELECT /* com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.selectApcInfo */
    		   AI.APC_CD            AS APC_CD
		     , AI.REG_APC_NM        AS REG_APC_NM
		     , AI.CTPV_NM           AS CTPV_NM
		     , AI.SIGUN_NM          AS SIGUN_NM
		     , AI.MB_CD             AS MB_CD
		     , AI.REG_ADDR        	AS REG_ADDR
		     , AI.REG_TELNO       	AS REG_TELNO
		     , AI.APC_NM            AS APC_NM
		     , AI.BRNO          	AS BRNO
		     , AI.BANK_CD           AS BANK_CD
		     , AI.DPSTR             AS DPSTR
		     , AI.ACTNO             AS ACTNO
		     , AI.ADDR              AS ADDR
		     , AI.TELNO            	AS TELNO
		     , AI.FXNO             	AS FXNO
		  FROM TB_APC_INFO AI
		 WHERE APC_CD = #{apcCd}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc..mapper.ApcEvrmntStngMapper.selectApcUserList	-->
	<!-- DESC : APC 사용자 목록 조회.                                          		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.07  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcUserList" parameterType="com.at.apcss.co.user.vo.ComUserVO" resultType="com.at.apcss.co.user.vo.ComUserVO">
    	<![CDATA[
    	SELECT ROWNUM               AS ROW_SEQ
		     , CU.USER_ID           AS USER_ID
		     , CU.USER_NM           AS USER_NM
		     , CU.USER_TYPE         AS USER_TYPE
		     , CU.USER_STTS         AS USER_STTS
		     , CU.EML               AS EML
		     , CU.TELNO             AS TELNO
		     , CU.APC_CD            AS APC_CD
		     , CU.OGDP_NM           AS OGDP_NM
		     , CU.JBTTL_NM          AS JBTTL_NM
		     , CU.TKCG_TASK_NM      AS TKCG_TASK_NM
		     , CU.CHRGD_CERT_YN     AS CHRGD_CERT_YN
		     , CU.CHRGD_CERT_TYPE   AS CHRGD_CERT_TYPE
		     , CU.LCK_YN            AS LCK_YN
		     , CU.LGN_FAIL_NMTM     AS LGN_FAIL_NMTM
		     , CU.RMRK     			AS RMRK
		     , CU.DEL_YN    		AS DEL_YN
		  FROM TB_COM_USER CU
		 WHERE USER_TYPE IN ('10', '11')
		   AND USER_STTS IN ('01', '00')
		   AND CU.APC_CD = #{apcCd}
		   AND CU.USER_ID != #{sysUserId}
		]]>
		<if test='userNm != null and userNm != ""'>
		   AND CU.USER_NM LIKE '%' ||  #{userNm} || '%'
		</if>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc..mapper.ApcEvrmntStngMapper.selectRsrcList		-->
	<!-- DESC : APC 설비,장비 목록 조회.                                          	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.10  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectRsrcList" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	SELECT ROWNUM               AS ROW_SEQ
		     , CD.CD_ID             AS CD_ID
		     , CD.CD_VL             AS CD_VL
		     , CD.CD_VL_NM			AS CD_VL_NM
		     , CD.APC_CD            AS APC_CD
		     , CD.CD_VL_EXPLN       AS CD_VL_EXPLN
		     , CD.DEL_YN            AS DEL_YN
		  FROM TB_COM_CD_DTL CD
		 WHERE CD.CD_ID 	= #{cdId}
		   AND CD.APC_CD 	= #{apcCd}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.insertApcEvrmntStngInit		-->
	<!-- DESC : APC 정보 조회.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.07  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertApcEvrmntStngInit" parameterType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.insertApcEvrmntStngInit */
	    	  INTO TB_APC_EVRMNT_STNG (

				  APC_CD
				, APC_NM
				, ADDR
				, TELNO
				, FXNO
				, BRNO
				, BANK_CD
				, ACTNO
				, DPSTR
				, APC_SE_CD
				, CLCLN_CRTR_CD
				, APC_RPRSV_NM
				, CLS
				, BZSTAT
				, WGH_MNG_YN
				, WGH_MBL_USE_YN
				, WGH_IDNTY_DOC_PBLCN_YN
				, RAW_MTR_WRHS_MNG_YN
				, RAW_MTR_WRHS_MBL_USE_YN
				, RAW_MTR_IDENT_TAG_PBLCN_YN
				, PLT_BX_MNG_YN
				, RAW_MTR_WRHS_PLAN_MNG_YN
				, GDS_WRHS_MNG_YN
				, RAW_MTR_WRHS_PRCS_MNG_YN
				, SORT_CMND_MNG_YN
				, SORT_CMND_DOC_PBLCN_YN
				, PCKG_CMND_MNG_YN
				, PCKG_CMND_DOC_PBLCN_YN
				, SORT_MNG_YN
				, SORT_MBL_USE_YN
				, SORT_LBL_PBLCN_YN
				, SORT_IDNTY_DOC_PBLCN_YN
				, PCKG_MNG_YN
				, PCKG_MBL_USE_YN
				, GDS_LBL_PBLCN_YN
				, SPMT_CMND_MNG_YN
				, SPMT_CMND_DOC_PBLCN_YN
				, SPMT_MNG_YN
				, SPMT_MBL_USE_YN
				, SPMT_DOC_PBLCN_YN
				, CLCLN_MNG_YN
				, OUTORDR_MNG_YN
				, OUTORDR_ATMTC_RCPTN_YN
				, OUTORDR_PCKG_CMND_LNKG_YN
				, TRSM_MNG_YN
				, SORT_DATA_TRSM_YN
				, CLCLN_DATA_TRSM_YN
				, OPRTR_USE_YN
				, OPRTR_SORT_PRFMNC_TRSM_YN
				, OPRTR_PCKG_PRFMNC_TRSM_YN
				, INVNTR_MNG_YN
				, SLS_MNG_YN
	    		, SYS_FRST_INPT_DT
	    		, SYS_FRST_INPT_USER_ID
	    		, SYS_FRST_INPT_PRGRM_ID
	    		, SYS_LAST_CHG_DT
	    		, SYS_LAST_CHG_USER_ID
	    		, SYS_LAST_CHG_PRGRM_ID

	    	  ) VALUES (

				  #{apcCd}
				, #{apcNm}
				, #{addr}
				, #{telno}
				, #{fxno}
				, #{brno}
				, #{bankCd}
				, #{actno}
				, #{dpstr}
				, #{apcSeCd}
				, #{clclnCrtrCd}
				, #{apcRprsvNm}
				, #{cls}
				, #{bzstat}
				, #{wghMngYn}
				, #{wghMblUseYn}
				, #{wghIdntyDocPblcnYn}
				, #{rawMtrWrhsMngYn}
				, #{rawMtrWrhsMblUseYn}
				, #{rawMtrIdentTagPblcnYn}
				, #{pltBxMngYn}
				, #{rawMtrWrhsPlanMngYn}
				, #{gdsWrhsMngYn}
				, #{rawMtrWrhsPrcsMngYn}
				, #{sortCmndMngYn}
				, #{sortCmndDocPblcnYn}
				, #{pckgCmndMngYn}
				, #{pckgCmndDocPblcnYn}
				, #{sortMngYn}
				, #{sortMblUseYn}
				, #{sortLblPblcnYn}
				, #{sortIdntyDocPblcnYn}
				, #{pckgMngYn}
				, #{pckgMblUseYn}
				, #{gdsLblPblcnYn}
				, #{spmtCmndMngYn}
				, #{spmtCmndDocPblcnYn}
				, #{spmtMngYn}
				, #{spmtMblUseYn}
				, #{spmtDocPblcnYn}
				, #{clclnMngYn}
				, #{outordrMngYn}
				, #{outordrAtmtcRcptnYn}
				, #{outordrPckgCmndLnkgYn}
				, #{trsmMngYn}
				, #{sortDataTrsmYn}
				, #{clclnDataTrsmYn}
				, #{oprtrUseYn}
				, #{oprtrSortPrfmncTrsmYn}
				, #{oprtrPckgPrfmncTrsmYn}
				, #{invntrMngYn}
				, #{slsMngYn}
	    		, SYSDATE
	    		, #{sysFrstInptUserId}
	    		, #{sysFrstInptPrgrmId}
	    		, SYSDATE
	    		, #{sysLastChgUserId}
	    		, #{sysLastChgPrgrmId}

	    	  )
		]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.selectApcEvrmntStng	-->
	<!-- DESC : APC 환경설정 정보 조회.	                                             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.07  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectApcEvrmntStng" parameterType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO" resultType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.selectApcEvrmntStng */
				  APC.APC_CD					AS APC_CD
				, APC.APC_NM					AS APC_NM
				, APC.ADDR						AS ADDR
				, APC.TELNO						AS TELNO
				, APC.FXNO						AS FXNO
				, APC.BRNO						AS BRNO
				, APC.BANK_CD					AS BANK_CD
				, APC.ACTNO						AS ACTNO
				, APC.DPSTR						AS DPSTR
				, APC.APC_SE_CD					AS APC_SE_CD
				, APC.CLCLN_CRTR_CD				AS CLCLN_CRTR_CD
				, APC.BZSTAT					AS BZSTAT
				, APC.CLS 						AS CLS
				, APC.APC_RPRSV_NM 				AS APC_RPRSV_NM
				, APC.WGH_MNG_YN				AS WGH_MNG_YN
				, APC.WGH_MBL_USE_YN			AS WGH_MBL_USE_YN
				, APC.WGH_IDNTY_DOC_PBLCN_YN	AS WGH_IDNTY_DOC_PBLCN_YN
				, APC.RAW_MTR_WRHS_MNG_YN		AS RAW_MTR_WRHS_MNG_YN
				, APC.RAW_MTR_WRHS_MBL_USE_YN	AS RAW_MTR_WRHS_MBL_USE_YN
				, APC.RAW_MTR_IDENT_TAG_PBLCN_YN	AS RAW_MTR_IDENT_TAG_PBLCN_YN
				, APC.PLT_BX_MNG_YN				AS PLT_BX_MNG_YN
				, APC.RAW_MTR_WRHS_PLAN_MNG_YN	AS RAW_MTR_WRHS_PLAN_MNG_YN
				, APC.GDS_WRHS_MNG_YN			AS GDS_WRHS_MNG_YN
				, APC.RAW_MTR_WRHS_PRCS_MNG_YN	AS RAW_MTR_WRHS_PRCS_MNG_YN
				, APC.SORT_CMND_MNG_YN			AS SORT_CMND_MNG_YN
				, APC.SORT_CMND_DOC_PBLCN_YN	AS SORT_CMND_DOC_PBLCN_YN
				, APC.PCKG_CMND_MNG_YN			AS PCKG_CMND_MNG_YN
				, APC.PCKG_CMND_DOC_PBLCN_YN	AS PCKG_CMND_DOC_PBLCN_YN
				, APC.SORT_MNG_YN				AS SORT_MNG_YN
				, APC.SORT_MBL_USE_YN			AS SORT_MBL_USE_YN
				, APC.SORT_LBL_PBLCN_YN			AS SORT_LBL_PBLCN_YN
				, APC.SORT_IDNTY_DOC_PBLCN_YN	AS SORT_IDNTY_DOC_PBLCN_YN
				, APC.PCKG_MNG_YN				AS PCKG_MNG_YN
				, APC.PCKG_MBL_USE_YN			AS PCKG_MBL_USE_YN
				, APC.GDS_LBL_PBLCN_YN			AS GDS_LBL_PBLCN_YN
				, APC.SPMT_CMND_MNG_YN			AS SPMT_CMND_MNG_YN
				, APC.SPMT_CMND_DOC_PBLCN_YN	AS SPMT_CMND_DOC_PBLCN_YN
				, APC.SPMT_MNG_YN				AS SPMT_MNG_YN
				, APC.SPMT_MBL_USE_YN			AS SPMT_MBL_USE_YN
				, APC.SPMT_DOC_PBLCN_YN			AS SPMT_DOC_PBLCN_YN
				, APC.CLCLN_MNG_YN				AS CLCLN_MNG_YN
				, APC.OUTORDR_MNG_YN			AS OUTORDR_MNG_YN
				, APC.OUTORDR_ATMTC_RCPTN_YN 	AS OUTORDR_ATMTC_RCPTN_YN
				, APC.OUTORDR_PCKG_CMND_LNKG_YN	AS OUTORDR_PCKG_CMND_LNKG_YN
				, APC.TRSM_MNG_YN				AS TRSM_MNG_YN
				, APC.SORT_DATA_TRSM_YN			AS SORT_DATA_TRSM_YN
				, APC.CLCLN_DATA_TRSM_YN		AS CLCLN_DATA_TRSM_YN
				, APC.OPRTR_USE_YN				AS OPRTR_USE_YN
				, APC.OPRTR_SORT_PRFMNC_TRSM_YN	AS OPRTR_SORT_PRFMNC_TRSM_YN
				, APC.OPRTR_PCKG_PRFMNC_TRSM_YN	AS OPRTR_PCKG_PRFMNC_TRSM_YN
				, APC.INVNTR_TRNSF_MNG_YN		AS INVNTR_TRNSF_MNG_YN
				, APC.INVNTR_MNG_YN				AS INVNTR_MNG_YN
				, APC.SLS_MNG_YN 				AS SLS_MNG_YN
				, APC.DEL_YN					AS DEL_YN
			  FROM TB_APC_EVRMNT_STNG APC
			 WHERE APC.APC_CD = #{apcCd}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.updateApcEvrmntStngAuthrt		-->
	<!-- DESC : APC 메뉴사용여부 변경.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.07  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateApcEvrmntStngAuthrt" parameterType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.updateApcEvrmntStngAuthrt */
	    	  TB_APC_EVRMNT_STNG SET
	    		  SYS_LAST_CHG_DT 			= SYSDATE
    	     	, SYS_LAST_CHG_USER_ID 		= #{sysLastChgUserId}
    	     	, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}

				, WGH_MNG_YN 				= #{wghMngYn}
				, WGH_MBL_USE_YN 			= #{wghMblUseYn}
				, WGH_IDNTY_DOC_PBLCN_YN 	= #{wghIdntyDocPblcnYn}
				, RAW_MTR_WRHS_MNG_YN 		= #{rawMtrWrhsMngYn}
				, RAW_MTR_WRHS_MBL_USE_YN 	= #{rawMtrWrhsMblUseYn}
				, RAW_MTR_IDENT_TAG_PBLCN_YN = #{rawMtrIdentTagPblcnYn}
				, PLT_BX_MNG_YN 			= #{pltBxMngYn}
				, RAW_MTR_WRHS_PLAN_MNG_YN 	= #{rawMtrWrhsPlanMngYn}
				, GDS_WRHS_MNG_YN 			= #{gdsWrhsMngYn}
				, RAW_MTR_WRHS_PRCS_MNG_YN 	= #{rawMtrWrhsPrcsMngYn}
				, SORT_CMND_MNG_YN 			= #{sortCmndMngYn}
				, SORT_CMND_DOC_PBLCN_YN 	= #{sortCmndDocPblcnYn}
				, PCKG_CMND_MNG_YN 			= #{pckgCmndMngYn}
				, PCKG_CMND_DOC_PBLCN_YN 	= #{pckgCmndDocPblcnYn}
				, SORT_MNG_YN 				= #{sortMngYn}
				, SORT_MBL_USE_YN 			= #{sortMblUseYn}
				, SORT_LBL_PBLCN_YN 		= #{sortLblPblcnYn}
				, SORT_IDNTY_DOC_PBLCN_YN 	= #{sortIdntyDocPblcnYn}
				, PCKG_MNG_YN 				= #{pckgMngYn}
				, PCKG_MBL_USE_YN 			= #{pckgMblUseYn}
				, GDS_LBL_PBLCN_YN 			= #{gdsLblPblcnYn}
				, SPMT_CMND_MNG_YN 			= #{spmtCmndMngYn}
				, SPMT_CMND_DOC_PBLCN_YN 	= #{spmtCmndDocPblcnYn}
				, SPMT_MNG_YN 				= #{spmtMngYn}
				, SPMT_MBL_USE_YN 			= #{spmtMblUseYn}
				, SPMT_DOC_PBLCN_YN 		= #{spmtDocPblcnYn}
				, CLCLN_MNG_YN 				= #{clclnMngYn}
				, OUTORDR_MNG_YN 			= #{outordrMngYn}
				, OUTORDR_ATMTC_RCPTN_YN 	= #{outordrAtmtcRcptnYn}
				, OUTORDR_PCKG_CMND_LNKG_YN = #{outordrPckgCmndLnkgYn}
				, TRSM_MNG_YN 				= #{trsmMngYn}
				, SORT_DATA_TRSM_YN 		= #{sortDataTrsmYn}
				, CLCLN_DATA_TRSM_YN 		= #{clclnDataTrsmYn}
				, OPRTR_USE_YN 				= #{oprtrUseYn}
				, OPRTR_SORT_PRFMNC_TRSM_YN = #{oprtrSortPrfmncTrsmYn}
				, OPRTR_PCKG_PRFMNC_TRSM_YN = #{oprtrPckgPrfmncTrsmYn}
				, INVNTR_TRNSF_MNG_YN		= #{invntrTrnsfMngYn}
				, INVNTR_MNG_YN				= #{invntrMngYn}
				, SLS_MNG_YN 				= #{slsMngYn}
			 WHERE APC_CD = #{apcCd}
		]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.updateApcEvrmntStng		-->
	<!-- DESC : APC 메뉴사용여부 변경.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.05  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateApcEvrmntStng" parameterType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.updateApcEvrmntStng */
	    	  TB_APC_EVRMNT_STNG SET
	    		  SYS_LAST_CHG_DT 			= SYSDATE
    	     	, SYS_LAST_CHG_USER_ID 		= #{sysLastChgUserId}
    	     	, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, APC_NM					= #{apcNm}
				, ADDR						= #{addr}
				, TELNO						= #{telno}
				, FXNO						= #{fxno}
				, BRNO						= #{brno}
				, BANK_CD					= #{bankCd}
				, ACTNO						= #{actno}
				, DPSTR						= #{dpstr}
				, APC_SE_CD					= #{apcSeCd}
				, CLCLN_CRTR_CD 			= #{clclnCrtrCd}
				, APC_RPRSV_NM				= #{apcRprsvNm}
				, CLS						= #{cls}
				, BZSTAT					= #{bzstat}
			 WHERE APC_CD = #{apcCd}
		]]>
    </update>

</mapper>
