<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : ApcEvrmntStngMapper.xml                                   			-->
<!-- DESC : APC 환경설정 mapper                                             	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.07  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.selectApcInfo		-->
	<!-- DESC : APC 정보 조회.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.07  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcInfo" parameterType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO" resultType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO">
    	<![CDATA[
    	SELECT /* com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.selectApcInfo */
    		   AI.APC_CD            AS APC_CD
		     , AI.REG_APC_NM        AS REG_APC_NM
		     , AI.CTPV_NM           AS CTPV_NM
		     , AI.SIGUN_NM          AS SIGUN_NM
		     , AI.MB_CD             AS MB_CD
		     , AI.REG_ADDR        	AS REG_ADDR
		     , AI.REG_TELNO       	AS REG_TELNO
		     , AI.APC_NM            AS APC_NM
		     , AI.BRNO          	AS BRNO
		     , AI.BANK_CD           AS BANK_CD
		     , AI.DPSTR             AS DPSTR
		     , AI.ACTNO             AS ACTNO
		     , AI.ADDR              AS ADDR
		     , AI.TELNO            	AS TELNO
		     , AI.FXNO             	AS FXNO
		  FROM TB_APC_INFO AI
		 WHERE APC_CD = #{apcCd}
		]]>
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.selectApcDsctnList	-->
	<!-- DESC : APC 내역 조회.	                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.26  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcDsctnList" parameterType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO" resultType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO">
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<![CDATA[
    		SELECT /* com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.selectApcDsctnList */
				  AI.APC_CD            AS APC_CD
				, AI.REG_APC_NM        AS REG_APC_NM
				, AI.CTPV_NM           AS CTPV_NM
				, AI.SIGUN_NM          AS SIGUN_NM
				, AI.MB_CD             AS MB_CD
				, AI.REG_ADDR        	AS REG_ADDR
				, AI.REG_TELNO       	AS REG_TELNO
				, AI.APC_NM            AS APC_NM
				, AI.BRNO          	AS BRNO
				, AI.BANK_CD           AS BANK_CD
				, AI.DPSTR             AS DPSTR
				, AI.ACTNO             AS ACTNO
				, AI.ADDR              AS ADDR
				, AI.TELNO            	AS TELNO
				, AI.FXNO             	AS FXNO
				, AI.DEL_YN			AS DEL_YN
		  FROM TB_APC_INFO AI
		]]>
		<where>
			<if test='apcCd != null and apcCd != ""'>
			   AND AI.APC_CD LIKE '%' ||  #{apcCd} || '%'
			</if>
			<if test='regApcNm != null and regApcNm != ""'>
			   AND AI.REG_APC_NM LIKE '%' ||  #{regApcNm} || '%'
			</if>
			<if test='delYn != null and delYn != ""'>
			   AND AI.DEL_YN = #{delYn}
			</if>
		</where>
		<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.updateApcDsctn		-->
	<!-- DESC : APC 내역 수정.	   	                                    				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.31  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateApcDsctn" parameterType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO">
		<![CDATA[
		UPDATE TB_APC_INFO
		   SET SYS_LAST_CHG_DT 			= SYSDATE
    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
		     , REG_APC_NM				= #{regApcNm}
		     , CTPV_NM					= #{ctpvNm}
		     , SIGUN_NM					= #{sigunNm}
		     , MB_CD					= #{mbCd}
		     , REG_ADDR					= #{regAddr}
		     , REG_TELNO				= #{regTelno}
		     , APC_NM					= #{apcNm}
	      	 , BRNO						= #{brno}
		     , ADDR						= #{addr}
		     , TELNO					= #{fxno}
		     , FXNO						= #{telno}
		     , DEL_YN					= #{delYn}
		 WHERE APC_CD 		= #{apcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcEvrmntStngMapper.insertApcDsctn		-->
	<!-- DESC : APC 내역 등록.	                                 	      				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.31  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertApcDsctn" parameterType="com.at.apcss.am.apc.vo.ApcEvrmntStngVO">
    	<![CDATA[
    	INSERT INTO TB_APC_INFO
    		(
    			APC_CD
		      , REG_APC_NM
		      , CTPV_NM
		      , SIGUN_NM
		      , MB_CD
		      , REG_ADDR
		      , REG_TELNO
		      , APC_NM
		      , BRNO
		      , ADDR
		      , TELNO
		      , FXNO
		      , DEL_YN
    		  , SYS_FRST_INPT_DT
    		  , SYS_FRST_INPT_USER_ID
    		  , SYS_FRST_INPT_PRGRM_ID
    		  , SYS_LAST_CHG_DT
    		  , SYS_LAST_CHG_USER_ID
    		  , SYS_LAST_CHG_PRGRM_ID
    		)
   		VALUES
   			(
   				FN_GET_ID_APC_CD
    		  , #{regApcNm}
    		  , #{ctpvNm}
    		  , #{sigunNm}
    		  , #{mbCd}
			  , #{regAddr}
    		  , #{regTelno}
    		  , #{apcNm}
    		  , #{brno}
    		  , #{addr}
    		  , #{fxno}
    		  , #{telno}
    		  , #{delYn}
    		  , SYSDATE
    		  , #{sysFrstInptUserId}
    		  , #{sysFrstInptPrgrmId}
    		  , SYSDATE
    		  , #{sysLastChgUserId}
    		  , #{sysLastChgPrgrmId}
   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc..mapper.ApcEvrmntStngMapper.selectApcUserList	-->
	<!-- DESC : APC 사용자 목록 조회.                                          		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.07  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcUserList" parameterType="com.at.apcss.co.user.vo.ComUserVO" resultType="com.at.apcss.co.user.vo.ComUserVO">
    	<![CDATA[
    	SELECT ROWNUM               AS ROW_SEQ
		     , CU.USER_ID           AS USER_ID
		     , CU.USER_NM           AS USER_NM
		     , CU.USER_TYPE         AS USER_TYPE
		     , CU.USER_STTS         AS USER_STTS
		     , CU.EML               AS EML
		     , CU.TELNO             AS TELNO
		     , CU.APC_CD            AS APC_CD
		     , CU.OGDP_NM           AS OGDP_NM
		     , CU.JBTTL_NM          AS JBTTL_NM
		     , CU.TKCG_TASK_NM      AS TKCG_TASK_NM
		     , CU.CHRGD_CERT_YN     AS CHRGD_CERT_YN
		     , CU.CHRGD_CERT_TYPE   AS CHRGD_CERT_TYPE
		     , CU.LCK_YN            AS LCK_YN
		     , CU.LGN_FAIL_NMTM     AS LGN_FAIL_NMTM
		     , CU.RMRK     			AS RMRK
		     , DECODE(CU.DEL_YN, 'N', 'Y', 'Y', 'N')    AS DEL_YN
		  FROM TB_COM_USER CU
		 WHERE USER_TYPE IN ('10', '11')
		   AND USER_STTS IN ('01', '00')
		   AND CU.APC_CD = #{apcCd}
		]]>
		<if test='userNm != null and userNm != ""'>
		   AND CU.USER_NM LIKE '%' ||  #{userNm} || '%'
		</if>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc..mapper.ApcEvrmntStngMapper.selectRsrcList		-->
	<!-- DESC : APC 설비,장비 목록 조회.                                          	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.10  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectRsrcList" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	SELECT ROWNUM               AS ROW_SEQ
		     , CD.CD_ID             AS CD_ID
		     , CD.CD_VL             AS CD_VL
		     , CD.CD_VL_NM			AS CD_VL_NM
		     , CD.APC_CD            AS APC_CD
		     , CD.CD_VL_EXPLN       AS CD_VL_EXPLN
		     , CD.DEL_YN            AS DEL_YN
		  FROM TB_COM_CD_DTL CD
		 WHERE CD.CD_ID 	= #{cdId}
		   AND CD.APC_CD 	= #{apcCd}
		]]>
    </select>
    
    
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc..mapper.ApcEvrmntStngMapper.selectVrtyList		-->
	<!-- DESC : 픔종 선택후 팝업 조회			                                        -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.07  	김현호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectVrtyList" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	SELECT 
			 AVC.ITEM_CD AS ITEM_CD
			, (SELECT FN_GET_ITEM_NM(AVC.ITEM_CD,AVC.APC_CD) FROM DUAL) AS ITEM_NM
			,AVC.VRTY_CD AS VRTY_CD
			,AVC.VRTY_NM AS VRTY_NM
		FROM TB_APC_VRTY_CRTR AVC
    	WHERE  ITEM_CD > 0
		]]>
		<if test='vrtyNm != null and vrtyNm != ""'>
			AND VRTY_NM = #{vrtyNm}
		</if>
		<if test='apcCd != null and apcCd != ""'>
			AND APC_CD = #{apcCd}
		</if>
		<if test='itemCd != null and itemCd = ""'>
			AND ITEM_CD = #{itmeCd}
		</if>
		<if test='itemNm != null and itemNm = ""'>
			AND ITEM_Nm = #{itmeNm}
		</if>
		<![CDATA[
			order by ITEM_CD
		]]>
    </select>


</mapper>


