<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : ApcInfoMapper.xml                                   				-->
<!-- DESC : APC 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.07  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.apc.mapper.ApcInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcInfoMapper.selectApcInfo				-->
	<!-- DESC : APC 정보 조회.	                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.07  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectApcInfo" parameterType="com.at.apcss.am.apc.vo.ApcInfoVO" resultType="com.at.apcss.am.apc.vo.ApcInfoVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.apc.mapper.ApcInfoMapper.selectApcInfo */
	    		  AI.APC_CD			AS APC_CD
			    , AI.REG_APC_NM     AS REG_APC_NM
			    , AI.REG_ADDR       AS REG_ADDR
			    , AI.REG_TELNO      AS REG_TELNO
			    , AI.REG_ZIP		AS REG_ZIP
			    , AI.APC_NM         AS APC_NM
			    , AI.CTPV_NM        AS CTPV_NM
			    , AI.SIGUN_NM       AS SIGUN_NM
			    , AI.MB_CD          AS MB_CD
			    , AI.BRNO          	AS BRNO
			    , AI.BANK_CD        AS BANK_CD
			    , AI.DPSTR          AS DPSTR
			    , AI.ACTNO          AS ACTNO
			    , AI.ADDR           AS ADDR
			    , AI.TELNO          AS TELNO
			    , AI.FXNO           AS FXNO
			    , AI.ZIP			AS ZIP
			    , AI.DEL_YN			AS DEL_YN
			  FROM TB_APC_INFO AI
			 WHERE APC_CD = #{apcCd}
		]]>
    </select>
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc.mapper.ApcInfoMapper.selectApcInfoList			-->
	<!-- DESC : APC 내역 조회.	                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.26  	신정철        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectApcInfoList" parameterType="com.at.apcss.am.apc.vo.ApcInfoVO" resultType="com.at.apcss.am.apc.vo.ApcInfoVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.apc.mapper.ApcInfoMapper.selectApcInfo */ 
	    		  AI.APC_CD			AS APC_CD
			    , AI.REG_APC_NM     AS REG_APC_NM
			    , AI.REG_ADDR       AS REG_ADDR
			    , AI.REG_TELNO      AS REG_TELNO
			    , AI.REG_ZIP		AS REG_ZIP
			    , AI.APC_NM         AS APC_NM
			    , AI.CTPV_NM        AS CTPV_NM
			    , AI.SIGUN_NM       AS SIGUN_NM
			    , AI.MB_CD          AS MB_CD
			    , AI.BRNO          	AS BRNO
			    , AI.BANK_CD        AS BANK_CD
			    , AI.DPSTR          AS DPSTR
			    , AI.ACTNO          AS ACTNO
			    , AI.ADDR           AS ADDR
			    , AI.TELNO          AS TELNO
			    , AI.FXNO           AS FXNO
			    , AI.ZIP			AS ZIP
			    , AI.DEL_YN			AS DEL_YN
		  	  FROM TB_APC_INFO AI
		 	 WHERE 1=1
		 	   AND AI.APC_NM IS NOT NULL
		]]>
		<if test='apcCd != null and apcCd != ""'>
		   	   AND AI.APC_CD = #{apcCd}
		</if>
		<if test='apcNm != null and apcNm != ""'>
		   AND AI.APC_NM LIKE '%' ||  #{apcNm} || '%'
		</if>
		<if test='regApcNm != null and regApcNm != ""'>
		   AND AI.REG_APC_NM LIKE '%' ||  #{regApcNm} || '%'
		</if>
		<if test='brno != null and brno != ""'>
		   	   AND AI.BRNO = #{brno}
		</if>
		<if test='telno != null and telno != ""'>
		   AND AI.TELNO LIKE '%' ||  #{telno} || '%'
		</if>
		
		<if test='regTelno != null and regTelno != ""'>
		   AND AI.REG_TELNO LIKE '%' ||  #{regTelno} || '%'
		</if>		
    </select>

</mapper>


