<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : ComMenuMapper.xml                                    				-->
<!-- DESC : 메뉴 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.co.menu.mapper.ComMenuMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.selectComMenu				-->
	<!-- DESC : 메뉴 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.24  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComMenu" parameterType="com.at.apcss.co.menu.vo.ComMenuVO" resultType="com.at.apcss.co.menu.vo.ComMenuVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.menu.mapper.ComMenuMapper.selectComMenu */
				  CM.MENU_ID    AS MENU_ID
				, CM.MENU_NM    AS MENU_NM
				, CM.UP_MENU_ID AS UP_MENU_ID
				, CM.MENU_TYPE  AS MENU_TYPE
				, CM.USER_TYPE  AS USER_TYPE
				, CM.PAGE_URL   AS PAGE_URL
				, CM.INDCT_SEQ  AS INDCT_SEQ
				, CM.APC_CD   	AS APC_CD
				, CM.AUTHRT_TYPE AS AUTHRT_TYPE
				, CM.PRSNA_INFO_YN AS PRSNA_INFO_YN
				, CM.DEL_YN		AS DEL_YN
			  FROM TB_COM_MENU CM
			 WHERE CM.MENU_ID = #{menuId}
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.selectComMenuList			-->
	<!-- DESC : 메뉴 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.24  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComMenuList" parameterType="com.at.apcss.co.menu.vo.ComMenuVO" resultType="com.at.apcss.co.menu.vo.ComMenuVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.menu.mapper.ComMenuMapper.selectComMenuList */
				  CM.MENU_ID    AS MENU_ID
				, CM.MENU_NM    AS MENU_NM
				, CM.UP_MENU_ID AS UP_MENU_ID
				, CM.MENU_TYPE  AS MENU_TYPE
				, CM.USER_TYPE  AS USER_TYPE
				, CM.PAGE_URL   AS PAGE_URL
				, CM.INDCT_SEQ  AS INDCT_SEQ
				, CM.APC_CD   	AS APC_CD
				, CM.AUTHRT_TYPE AS AUTHRT_TYPE
				, CM.PRSNA_INFO_YN AS PRSNA_INFO_YN
			  FROM TB_COM_MENU CM
			 WHERE CM.DEL_YN = 'N'
    	]]>
		<if test='menuId != null and menuId != ""'>
			AND CM.MENU_ID = #{menuId}
		</if>
		<if test='menuNm != null and menuNm != ""'>
			AND CM.MENU_NM LIKE '%' || #{menuNm} || '%'
		</if>

    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.selectMenuTreeList		-->
	<!-- DESC : 메뉴 트리 목록 조회.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.24  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectMenuTreeList" parameterType="com.at.apcss.co.menu.vo.ComMenuVO" resultType="com.at.apcss.co.menu.vo.ComMenuVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.menu.mapper.ComMenuMapper.selectMenuTreeList */
				  MN.LVL		AS MENU_LVL
				, MN.SEQ		AS MENU_SEQ
				, MN.SYS_ID		AS SYS_ID
				, MN.UP_MENU_ID	AS UP_MENU_ID
				, UM.MENU_NM	AS UP_MENU_NM
				, MN.MENU_ID	AS MENU_ID
				, MN.MENU_NM	AS MENU_NM
				, MN.MENU_TYPE  AS MENU_TYPE
				, MN.USER_TYPE	AS USER_TYPE
				, MN.PAGE_URL	AS PAGE_URL
				, MN.APC_CD		AS APC_CD
				, MN.INDCT_SEQ	AS INDCT_SEQ
				, MN.AUTHRT_TYPE AS AUTHRT_TYPE
				, MN.PRSNA_INFO_YN AS PRSNA_INFO_YN
			  FROM (
				SELECT
					  LEVEL		AS LVL
					, ROWNUM 	AS SEQ
					, SUBSTR(MN.MENU_ID, 1, 2) AS SYS_ID
					, MN.UP_MENU_ID	AS UP_MENU_ID
					, MN.MENU_ID	AS MENU_ID
					, MN.MENU_NM	AS MENU_NM
					, MN.MENU_TYPE  AS MENU_TYPE
					, MN.USER_TYPE	AS USER_TYPE
					, MN.PAGE_URL	AS PAGE_URL
					, MN.APC_CD		AS APC_CD
					, MN.INDCT_SEQ	AS INDCT_SEQ
					, MN.AUTHRT_TYPE AS AUTHRT_TYPE
					, MN.PRSNA_INFO_YN AS PRSNA_INFO_YN
				  FROM TB_COM_MENU MN
				 WHERE MN.DEL_YN = 'N'
    	]]>
			<if test='sysId != null and sysId != ""'>
				   AND SUBSTR(MN.MENU_ID, 1, 2) = #{sysId}
			</if>
			<if test='apcCd != null and apcCd != ""'>
				   AND MN.APC_CD = #{apcCd}
			</if>
    	<![CDATA[
				 START WITH MN.UP_MENU_ID IS NULL
			    CONNECT BY PRIOR MN.MENU_ID = MN.UP_MENU_ID
			     ORDER SIBLINGS BY MN.INDCT_SEQ, MN.MENU_ID
			  	) MN
			  	, TB_COM_MENU UM
			 WHERE MN.UP_MENU_ID = UM.MENU_ID(+)
			   AND UM.DEL_YN(+) = 'N'
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.selectTopMenuList			-->
	<!-- DESC : 대메뉴 목록 조회.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.31  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectTopMenuList" parameterType="com.at.apcss.co.menu.vo.ComMenuVO" resultType="com.at.apcss.co.menu.vo.ComMenuVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.menu.mapper.ComMenuMapper.selectTopMenuList */
				  MN.LVL		AS MENU_LVL
				, MN.SEQ		AS MENU_SEQ
				, MN.SYS_ID		AS SYS_ID
				, MN.UP_MENU_ID	AS UP_MENU_ID
				, UM.MENU_NM	AS UP_MENU_NM
				, MN.MENU_ID	AS MENU_ID
				, MN.MENU_NM	AS MENU_NM
				, MN.MENU_TYPE  AS MENU_TYPE
				, MN.USER_TYPE	AS USER_TYPE
				, MN.PAGE_URL	AS PAGE_URL
				, MN.APC_CD		AS APC_CD
				, MN.INDCT_SEQ	AS INDCT_SEQ
				, MN.AUTHRT_TYPE AS AUTHRT_TYPE
				, MN.PRSNA_INFO_YN AS PRSNA_INFO_YN

			  FROM (
				SELECT
					  LEVEL		AS LVL
					, ROWNUM 	AS SEQ
					, SUBSTR(MN.MENU_ID, 1, 2) AS SYS_ID
					, MN.UP_MENU_ID	AS UP_MENU_ID
					, MN.MENU_ID	AS MENU_ID
					, MN.MENU_NM	AS MENU_NM
					, MN.MENU_TYPE  AS MENU_TYPE
					, MN.USER_TYPE	AS USER_TYPE
					, MN.PAGE_URL	AS PAGE_URL
					, MN.APC_CD		AS APC_CD
					, MN.INDCT_SEQ	AS INDCT_SEQ
					, MN.AUTHRT_TYPE AS AUTHRT_TYPE
					, MN.PRSNA_INFO_YN AS PRSNA_INFO_YN
				  FROM TB_COM_MENU MN
				 WHERE MN.DEL_YN = 'N'
    	]]>
			<if test='sysId != null and sysId != ""'>
				   AND SUBSTR(MN.MENU_ID, 1, 2) = #{sysId}
			</if>
			<if test='apcCd != null and apcCd != ""'>
				   AND MN.APC_CD = #{apcCd}
			</if>
    	<![CDATA[
				 START WITH MN.UP_MENU_ID IS NULL
			    CONNECT BY PRIOR MN.MENU_ID = MN.UP_MENU_ID
			     ORDER SIBLINGS BY MN.INDCT_SEQ, MN.MENU_ID
			  	) MN
			  	, TB_COM_MENU UM
			 WHERE MN.UP_MENU_ID = UM.MENU_ID(+)
			   AND MN.LVL <= 2
			   AND UM.DEL_YN(+) = 'N'
    	]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.selectLeftMenuList		-->
	<!-- DESC : 좌측메뉴 목록 조회.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.31  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectLeftMenuList" parameterType="com.at.apcss.co.menu.vo.ComMenuVO" resultType="com.at.apcss.co.menu.vo.ComMenuVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.menu.mapper.ComMenuMapper.selectLeftMenuList */
				  MN.LVL		AS MENU_LVL
				, MN.SEQ		AS MENU_SEQ
				, MN.SYS_ID		AS SYS_ID
				, MN.UP_MENU_ID	AS UP_MENU_ID
				, UM.MENU_NM	AS UP_MENU_NM
				, MN.MENU_ID	AS MENU_ID
				, MN.MENU_NM	AS MENU_NM
				, MN.MENU_TYPE  AS MENU_TYPE
				, MN.USER_TYPE	AS USER_TYPE
				, MN.PAGE_URL	AS PAGE_URL
				, MN.APC_CD		AS APC_CD
				, MN.INDCT_SEQ	AS INDCT_SEQ
				, MN.PRSNA_INFO_YN AS PRSNA_INFO_YN
				, MN.AUTHRT_TYPE AS AUTHRT_TYPE

			  FROM (
				SELECT
					  LEVEL		AS LVL
					, ROWNUM 	AS SEQ
					, SUBSTR(MN.MENU_ID, 1, 2) AS SYS_ID
					, MN.UP_MENU_ID	AS UP_MENU_ID
					, MN.MENU_ID	AS MENU_ID
					, MN.MENU_NM	AS MENU_NM
					, MN.MENU_TYPE  AS MENU_TYPE
					, MN.USER_TYPE	AS USER_TYPE
					, MN.PAGE_URL	AS PAGE_URL
					, MN.APC_CD		AS APC_CD
					, MN.INDCT_SEQ	AS INDCT_SEQ
					, MN.PRSNA_INFO_YN AS PRSNA_INFO_YN
					, MN.AUTHRT_TYPE AS AUTHRT_TYPE
				  FROM TB_COM_MENU MN
				 WHERE MN.DEL_YN = 'N'
    	]]>
			<if test='sysId != null and sysId != ""'>
				   AND SUBSTR(MN.MENU_ID, 1, 2) = #{sysId}
			</if>
			<if test='apcCd != null and apcCd != ""'>
				   AND MN.APC_CD = #{apcCd}
			</if>
    	<![CDATA[
				 START WITH MN.UP_MENU_ID = #{upMenuId}
			    CONNECT BY PRIOR MN.MENU_ID = MN.UP_MENU_ID
			     ORDER SIBLINGS BY MN.INDCT_SEQ, MN.MENU_ID
			  	) MN
			  	, TB_COM_MENU UM
			 WHERE MN.UP_MENU_ID = UM.MENU_ID(+)
			   AND UM.DEL_YN(+) = 'N'
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.insertMenu				-->
	<!-- DESC : 메뉴 등록.                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertMenu" parameterType="com.at.apcss.co.menu.vo.ComMenuVO">
    	<![CDATA[
    	INSERT INTO TB_COM_MENU  /* com.at.apcss.co.menu.mapper.ComMenuMapper.insertMenu */
    		(
    			APC_CD
    		  , MENU_ID
    		  , UP_MENU_ID
    		  , MENU_NM
    		  , MENU_TYPE
    		  , INDCT_SEQ
    		  , USER_TYPE
    		  , PAGE_URL
    		  , AUTHRT_TYPE
    		  , PRSNA_INFO_YN
    		  , SYS_FRST_INPT_DT
    		  , SYS_FRST_INPT_USER_ID
    		  , SYS_FRST_INPT_PRGRM_ID
    		  , SYS_LAST_CHG_DT
    		  , SYS_LAST_CHG_USER_ID
    		  , SYS_LAST_CHG_PRGRM_ID

    		)
   		VALUES
   			(
   			    #{apcCd}
   			  , FN_GET_COM_MENU_ID(#{upMenuId})
   			  , #{upMenuId}
   			  , #{menuNm}
   			  , #{menuType}
   			  , #{indctSeq}
   			  , #{userType}
   			  , #{pageUrl}
   			  , #{authrtType}
   			  , #{prsnaInfoYn}
   			  , SYSDATE
   			  , #{sysFrstInptUserId}
   			  , #{sysFrstInptPrgrmId}
   			  , SYSDATE
   			  , #{sysLastChgUserId}
   			  , #{sysLastChgPrgrmId}
   			)
		]]>
    </insert>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.updateMenu				-->
	<!-- DESC : 메뉴 수정.                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateMenu" parameterType="com.at.apcss.co.menu.vo.ComMenuVO">
    	<![CDATA[
    	UPDATE TB_COM_MENU /* com.at.apcss.co.menu.mapper.ComMenuMapper.updateMenu */
    	   SET SYS_LAST_CHG_DT			= SYSDATE
    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
    		 , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
    		 , MENU_NM 					= #{menuNm}
    	     , MENU_TYPE				= #{menuType}
    	     , AUTHRT_TYPE 				= #{authrtType}
    	     , DEL_YN					= #{delYn}
    	     , PRSNA_INFO_YN			= #{prsnaInfoYn}
    	     , PAGE_URL					= #{pageUrl}
    	 ]]>
    	<if test='apcCd != null and apcCd != ""'>
    	     , APC_CD 					= #{apcCd}
    	</if>
    	<if test='indctSeq != null and indctSeq != ""'>
    	     , INDCT_SEQ				= #{indctSeq}
    	</if>
    	<if test='userType != null and userType != ""'>
    	     , USER_TYPE    			= #{userType}
    	</if>
    	<![CDATA[
    	 WHERE MENU_ID 					= #{menuId}
    	 ]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.selectMenuList			-->
	<!-- DESC : 메뉴 조회.                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectMenuList" parameterType="com.at.apcss.co.menu.vo.ComMenuVO" resultType="com.at.apcss.co.menu.vo.ComMenuVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.menu.mapper.ComMenuMapper.selectMenuTreeList */
				  MN.LVL		AS MENU_LVL
				, MN.SEQ		AS MENU_SEQ
				, MN.SYS_ID		AS SYS_ID
				, MN.UP_MENU_ID	AS UP_MENU_ID
				, UM.MENU_NM	AS UP_MENU_NM
				, MN.MENU_ID	AS MENU_ID
				, MN.MENU_NM	AS MENU_NM
				, MN.MENU_TYPE  AS MENU_TYPE
				, MN.USER_TYPE	AS USER_TYPE
				, MN.PAGE_URL	AS PAGE_URL
				, MN.APC_CD		AS APC_CD
				, MN.INDCT_SEQ	AS INDCT_SEQ
				, MN.DEL_YN 	AS DEL_YN
				, MN.PRSNA_INFO_YN AS PRSNA_INFO_YN
				, MN.AUTHRT_TYPE AS AUTHRT_TYPE
			  FROM (
				SELECT
					  LEVEL		AS LVL
					, ROWNUM 	AS SEQ
					, SUBSTR(MN.MENU_ID, 1, 2) AS SYS_ID
					, MN.UP_MENU_ID	AS UP_MENU_ID
					, MN.MENU_ID	AS MENU_ID
					, MN.MENU_NM	AS MENU_NM
					, MN.MENU_TYPE  AS MENU_TYPE
					, MN.USER_TYPE	AS USER_TYPE
					, MN.PAGE_URL	AS PAGE_URL
					, MN.APC_CD		AS APC_CD
					, MN.INDCT_SEQ	AS INDCT_SEQ
					, MN.DEL_YN		AS DEL_YN
					, MN.PRSNA_INFO_YN AS PRSNA_INFO_YN
					, MN.AUTHRT_TYPE AS AUTHRT_TYPE
				  FROM TB_COM_MENU MN
				 WHERE 1=1
    	]]>
			<if test='sysId != null and sysId != ""'>
				   AND SUBSTR(MN.MENU_ID, 1, 2) = #{sysId}
			</if>
			<if test='apcCd != null and apcCd != ""'>
				   AND MN.APC_CD = #{apcCd}
			</if>
    	<![CDATA[
				 START WITH MN.UP_MENU_ID IS NULL
			    CONNECT BY PRIOR MN.MENU_ID = MN.UP_MENU_ID
			     ORDER SIBLINGS BY MN.INDCT_SEQ, MN.MENU_ID
			  	) MN
			  	, TB_COM_MENU UM
			 WHERE MN.UP_MENU_ID = UM.MENU_ID(+)
			   AND UM.DEL_YN(+) = 'N'
    	]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.selectMenuListByType			-->
	<!-- DESC : 메뉴 조회.                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectMenuListByType" parameterType="com.at.apcss.co.menu.vo.ComMenuVO" resultType="com.at.apcss.co.menu.vo.ComMenuVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.menu.mapper.ComMenuMapper.selectMenuListByType */
				  SUBSTR(MN.MENU_ID, 1, 2) AS SYS_ID
				, MN.UP_MENU_ID	AS UP_MENU_ID
				, MN.MENU_ID	AS MENU_ID
				, MN.MENU_NM	AS MENU_NM
				, MN.MENU_TYPE  AS MENU_TYPE
				, MN.USER_TYPE	AS USER_TYPE
				, MN.PAGE_URL	AS PAGE_URL
				, MN.APC_CD		AS APC_CD
				, MN.INDCT_SEQ	AS INDCT_SEQ
				, MN.DEL_YN		AS DEL_YN
				, MN.PRSNA_INFO_YN AS PRSNA_INFO_YN
				, MN.AUTHRT_TYPE AS AUTHRT_TYPE
			  FROM TB_COM_MENU MN
			 WHERE MN.DEL_YN = 'N'
			   AND SUBSTR(MN.MENU_ID, 1, 2) = #{sysId}
    	]]>
		<if test='authrtTypeList != null and !authrtTypeList.isEmpty()'>
			   AND MN.AUTHRT_TYPE IN
			   <foreach collection="authrtTypeList" item="item" index="index" separator="," open="(" close=")">
			   	#{item}
			   </foreach>
		</if>
    	<![CDATA[
			 ORDER BY MENU_ID
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.deleteMenu				-->
	<!-- DESC : 메뉴 삭제.                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.12  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteMenu" parameterType="com.at.apcss.co.menu.vo.ComMenuVO">
		<![CDATA[
		DELETE FROM TB_COM_MENU /* com.at.apcss.co.menu.mapper.ComMenuMapper.deleteMenu */
		 WHERE MENU_ID 	= #{menuId}
		]]>
	</delete>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.selectMenuUiList			-->
	<!-- DESC : 화면 관리 목록 조회                                   				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.03  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectMenuUiList" parameterType="com.at.apcss.co.menu.vo.ComMenuVO" resultType="com.at.apcss.co.menu.vo.ComMenuVO">
		<![CDATA[
		SELECT /* com.at.apcss.co.menu.mapper.ComMenuMapper.selectMenuUiList */
			   ROWNUM					AS ROW_SEQ
			 , CM.APC_CD                AS APC_CD
		     , CM.MENU_ID               AS MENU_ID
		     , CM.MENU_NM               AS MENU_NM
		     , (SELECT FN_GET_COM_CD_VL_NM('MENU_TYPE', CM.MENU_TYPE) FROM DUAL) AS MENU_TYPE_NM
     		 , CM.MENU_NM               AS MENU_NM
		     , CM.INDCT_SEQ             AS INDCT_SEQ
		     , CM.PAGE_URL              AS PAGE_URL
		     , CM.PRSNA_INFO_YN			AS PRSNA_INFO_YN
		     , CM.AUTHRT_TYPE			AS AUTHRT_TYPE
		     , CM.DEL_YN                AS DEL_YN
		     , DECODE(CM.SYS_FRST_INPT_USER_ID, 'SYS', '관리자', 'admin', '관리자', CM.SYS_FRST_INPT_USER_ID)  AS SYS_FRST_INPT_USER_ID
		     , CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
		     , TO_CHAR(CM.SYS_FRST_INPT_DT, 'YYYY-DD-MM HH24:MI')       AS SYS_FRST_INPT_DT
		     , DECODE(CM.SYS_LAST_CHG_USER_ID, 'SYS', '관리자', 'admin', '관리자', CM.SYS_LAST_CHG_USER_ID)  AS SYS_LAST_CHG_USER_ID
		     , CM.SYS_LAST_CHG_PRGRM_ID		AS SYS_LAST_CHG_PRGRM_ID
		     , TO_CHAR(CM.SYS_LAST_CHG_DT, 'YYYY-DD-MM HH24:MI')       AS SYS_LAST_CHG_DT
		 FROM TB_COM_MENU CM
		WHERE MENU_TYPE = '02'
		  AND SUBSTR(CM.MENU_ID, 1,2) = #{sysId}
		]]>
		<if test='menuId != null and menuId != ""'>
		  AND CM.MENU_ID = #{menuId}
		</if>
		<if test='menuNm != null and menuNm != ""'>
		  AND CM.MENU_NM = #{menuNm}
		</if>
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.selectComUiList			-->
	<!-- DESC : 화면 관리 UI 목록 조회                                   			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.03  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectComUiList" parameterType="com.at.apcss.co.menu.vo.ComUiVO"  resultType="com.at.apcss.co.menu.vo.ComUiVO">
		<![CDATA[
	    SELECT /* com.at.apcss.co.menu.mapper.ComMenuMapper.selectComUiList */
	           CU.MENU_ID			AS MENU_ID
		     , CU.ENTY_ID			AS ENTY_ID
		     , CU.ENTY_TYPE			AS ENTY_TYPE
		     , CU.ENTY_NM			AS ENTY_NM
		     , CU.DEL_YN				AS DEL_YN
		  FROM TB_COM_UI CU
		 WHERE CU.MENU_ID = #{menuId}
		]]>

	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.insertComUi				-->
	<!-- DESC : 화면 관리 UI 등록		                                   			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.03  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<insert id="insertComUi" parameterType="com.at.apcss.co.menu.vo.ComUiVO">
		<![CDATA[
		INSERT INTO TB_COM_UI  /* com.at.apcss.co.menu.mapper.ComMenuMapper.insertComUi */
			(
				MENU_ID
			  , ENTY_ID
			  , ENTY_NM
			  , ENTY_TYPE
			  , DEL_YN
			  , SYS_FRST_INPT_DT
			  , SYS_FRST_INPT_USER_ID
			  , SYS_FRST_INPT_PRGRM_ID
			  , SYS_LAST_CHG_DT
			  , SYS_LAST_CHG_USER_ID
			  , SYS_LAST_CHG_PRGRM_ID
			)
		VALUES
			(
				#{menuId}
			  , #{entyId}
			  , #{entyNm}
			  , #{entyType}
			  , #{delYn}
			  , SYSDATE
			  , #{sysFrstInptUserId}
			  , #{sysFrstInptPrgrmId}
			  , SYSDATE
			  , #{sysLastChgUserId}
			  , #{sysLastChgPrgrmId}
			)
		]]>
	</insert>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.updateComUi				-->
	<!-- DESC : 화면 관리 UI 수정		                                   			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.24  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateComUi" parameterType="com.at.apcss.co.menu.vo.ComUiVO">
		<![CDATA[
		UPDATE TB_COM_UI /* com.at.apcss.co.menu.mapper.ComMenuMapper.updateComUi */
		   SET SYS_LAST_CHG_DT			= SYSDATE
		     , SYS_LAST_CHG_USER_ID 	= #{sysLastChgUserId}
		     , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
		     , ENTY_NM 					= #{entyNm}
		     , ENTY_TYPE 				= #{entyType}
		     , DEL_YN					= #{delYn}
		 WHERE ENTY_ID 					= #{entyId}
		   AND MENU_ID 					= #{menuId}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.menu.mapper.ComMenuMapper.deleteComUi				-->
	<!-- DESC : 화면 관리 UI 삭제		                                   			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.24  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteComUi" parameterType="com.at.apcss.co.menu.vo.ComUiVO">
		<![CDATA[
		DELETE FROM TB_COM_UI  /* com.at.apcss.co.menu.mapper.ComMenuMapper.deleteComUi */
		 WHERE MENU_ID = #{menuId}
		   AND ENTY_ID = #{entyId}
		]]>
	</delete>
</mapper>