<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnMng" parameterType="com.at.apcss.pd.bsm.vo.PrdcrCrclOgnMngVO" resultType="com.at.apcss.pd.bsm.vo.PrdcrCrclOgnMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper.selectPrdcrCrclOgnMng */
				  (CASE WHEN CM.APO_CD IS NULL THEN (SELECT OGNZ_CD FROM (SELECT OGNZ_CD FROM TB_APC_OGNZ_INFO WHERE BRNO = CM.BRNO GROUP BY OGNZ_CD ORDER BY OGNZ_CD DESC) WHERE ROWNUM = 1)
				  		ELSE CM.APO_CD
				  		END) AS APO_CD
				, CM.APO_NM
				, CM.APO_SE
				, CM.APRV
				, CM.BRNO
				, CM.CORP_NM
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.NONGHYUP_CD
				, CM.CORP_FNDN_DAY
				, CM.CMPTN_INST
				, CM.CTPV
				, CM.SGG
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.RPRSV_FLNM
				, CM.RPRSV_TELNO
				, CM.RPRSV_MOBLNO
				, CM.RPRSV_EML
				, CM.PIC_POSITION
				, CM.PIC_FLNM
				, CM.PIC_TELNO
				, CM.PIC_MOBLNO
				, CM.PIC_EML
				, CM.FXNO
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.RMRK
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.MNGMST_INFO_ID
				, CM.MNGMST_YN
				, CM.CRNO
				, CM.ISO_HLD_YN
				, CM.UO_BRNO
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ITEM_NH_BROF_YN

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO CM
			 WHERE 1=1
    	]]>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST LIKE #{cmptnInst} || '%'
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.II_CODE LIKE '%' || #{ctpv} || '%'
			</if>
			<if test='sgg != null and sgg != ""'>
				AND CM.SGG LIKE '%' || #{sgg} || '%'
			</if>
			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD LIKE #{corpSeCd} || '%'
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD LIKE '%' || #{corpDtlSeCd} || '%'
			</if>

			<if test='brno != null and brno != ""'>
				AND CM.BRNO LIKE #{brno} || '%'
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE LIKE '%' || #{apoSe} || '%'
			</if>
		ORDER BY CM.APO_CD ASC


    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnMngList" parameterType="com.at.apcss.pd.bsm.vo.PrdcrCrclOgnMngVO" resultType="com.at.apcss.pd.bsm.vo.PrdcrCrclOgnMngVO">

    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>

    	<![CDATA[
			SELECT /* com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper.selectPrdcrCrclOgnMngList */
				  (CASE WHEN CM.APO_CD IS NULL THEN (SELECT OGNZ_CD FROM (SELECT OGNZ_CD FROM TB_APC_OGNZ_INFO WHERE BRNO = CM.BRNO GROUP BY OGNZ_CD ORDER BY OGNZ_CD DESC) WHERE ROWNUM = 1)
				  		ELSE CM.APO_CD
				  		END) AS APO_CD
				, CM.APO_NM
				, CM.APO_SE
				, CM.APRV
				, CM.BRNO
				, CM.CORP_NM
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.NONGHYUP_CD
				, CM.CORP_FNDN_DAY
				, CM.CMPTN_INST
				, CM.CTPV
				, CM.SGG
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.RPRSV_FLNM
				, CM.RPRSV_TELNO
				, CM.RPRSV_MOBLNO
				, CM.RPRSV_EML
				, CM.PIC_POSITION
				, CM.PIC_FLNM
				, CM.PIC_TELNO
				, CM.PIC_MOBLNO
				, CM.PIC_EML
				, CM.FXNO
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.RMRK
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.MNGMST_INFO_ID
				, CM.MNGMST_YN
				, CM.CRNO
				, CM.ISO_HLD_YN
				, CM.UO_BRNO
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ITEM_NH_BROF_YN

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO CM
			 WHERE 1=1
    	]]>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST LIKE #{cmptnInst} || '%'
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.II_CODE LIKE '%' || #{ctpv} || '%'
			</if>
			<if test='sgg != null and sgg != ""'>
				AND CM.SGG LIKE '%' || #{sgg} || '%'
			</if>
			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD LIKE #{corpSeCd} || '%'
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD LIKE '%' || #{corpDtlSeCd} || '%'
			</if>

			<if test='brno != null and brno != ""'>
				AND CM.BRNO LIKE #{brno} || '%'
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE LIKE '%' || #{apoSe} || '%'
			</if>
		ORDER BY CM.APO_CD ASC

		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>


	<insert id="insertPrdcrCrclOgnMng" parameterType="com.at.apcss.pd.bsm.vo.PrdcrCrclOgnMngVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper.insertPrdcrCrclOgnMng */
	    	  INTO TB_EV_APO
	    		(
	    			APO_SE
	    		  , APO_CD
	    		  , UO_BRNO
	    		  , CORP_NM
	    		  , CRNO
	    		  , BRNO
	    		  , MNGMST_INFO_ID
	    		  , MNGMST_YN
	    		  , NONGHYUP_CD
	    		  , CMPTN_INST
	    		  , CTPV
	    		  , SGG
	    		  , ZIP
	    		  , LOTNO_ADDR
	    		  , LOTNO_DTL_ADDR
	    		  , ROAD_NM_ADDR
	    		  , ROAD_NM_DTL_ADDR
	    		  , CORP_SE_CD
	    		  , CORP_DTL_SE_CD
	    		  , CORP_FNDN_DAY
	    		  , ISO_HLD_YN
	    		  , INVST_NOPE
	    		  , INVST_EXPND_FRMER_NOPE
	    		  , INVST_AMT
	    		  , FRMER_INVST_AMT
	    		  , PRDCR_GRP_INVST_AMT
	    		  , LOCGOV_INVST_AMT
	    		  , ETC_INVST_AMT
	    		  , RGLLBR_NOPE
	    		  , DW_NOPE
	    		  , DLBRR_NOPE
	    		  , RPRSV_FLNM
	    		  , RPRSV_TELNO
	    		  , RPRSV_MOBLNO
	    		  , RPRSV_EML
	    		  , PIC_POSITION
	    		  , PIC_FLNM
	    		  , PIC_TELNO
	    		  , PIC_MOBLNO
	    		  , PIC_EML
	    		  , FXNO
	    		  , ITEM_NH_BROF_YN
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    (SELECT (CASE WHEN OGNZ_SE_CD = '21' THEN '1' WHEN  OGNZ_SE_CD = '22' THEN '2' END) FROM TB_APC_OGNZ_INFO WHERE BRNO = #{brno})
	   			  , (SELECT OGNZ_CD FROM TB_APC_OGNZ_INFO WHERE BRNO = #{brno})
	   			  , #{uoBrno}
	   			  , #{corpNm}
	   			  , #{crno}
	   			  , #{brno}
	   			  , #{mngmstInfoId}
	   			  , #{mngmstYn}
	   			  , #{nonghyupCd}
	   			  , #{cmptnInst}
	   			  , #{ctpv}
	   			  , #{sgg}
	   			  , #{zip}
	   			  , #{lotnoAddr}
	   			  , #{lotnoDtlAddr}
	   			  , #{roadNmAddr}
	   			  , #{roadNmDtlAddr}
	   			  , #{corpSeCd}
	   			  , #{corpDtlSeCd}
	   			  , TO_DATE( #{corpFndnDay} , 'YYYY-MM-DD HH24:MI:SS')
	   			  , #{isoHldYn}
	   			  , #{invstNope}
	   			  , #{invstExpndFrmerNope}
	   			  , #{invstAmt}
	   			  , #{frmerInvstAmt}
	   			  , #{prdcrGrpInvstAmt}
	   			  , #{locgovInvstAmt}
	   			  , #{etcInvstAmt}
	   			  , #{rgllbrNope}
	   			  , #{dwNope}
	   			  , #{dlbrrNope}
	   			  , #{rprsvFlnm}
	   			  , #{rprsvTelno}
	   			  , #{rprsvMoblno}
	   			  , #{rprsvEml}
	   			  , #{picPosition}
	   			  , #{picFlnm}
	   			  , #{picTelno}
	   			  , #{picMoblno}
	   			  , #{picEml}
	   			  , #{fxno}
	   			  , #{itemNhBrofYn}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>
	<update id="updatePrdcrCrclOgnMng" parameterType="com.at.apcss.pd.bsm.vo.PrdcrCrclOgnMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper.upatePrdcrCrclOgnMng */
	    		TB_EV_APO
			   SET
					UO_BRNO					= #{uoBrno}
	    		  , CORP_NM					= #{corpNm}
	    		  , MNGMST_INFO_ID			= #{mngmstInfoId}
	    		  , MNGMST_YN				= #{mngmstYn}
	    		  , NONGHYUP_CD				= #{nonghyupCd}
	    		  , CMPTN_INST				= #{cmptnInst}
	    		  , CTPV					= #{ctpv}
	    		  , SGG						= #{sgg}
	    		  , ZIP						= #{zip}
	    		  , LOTNO_ADDR				= #{lotnoAddr}
	    		  , LOTNO_DTL_ADDR			= #{lotnoDtlAddr}
	    		  , ROAD_NM_ADDR			= #{roadNmAddr}
	    		  , ROAD_NM_DTL_ADDR		= #{roadNmDtlAddr}
	    		  , CORP_SE_CD				= #{corpSeCd}
	    		  , CORP_DTL_SE_CD			= #{corpDtlSeCd}
	    		  , CORP_FNDN_DAY			= TO_DATE( #{corpFndnDay} , 'YYYY-MM-DD HH24:MI:SS')
	    		  , ISO_HLD_YN				= #{isoHldYn}
	    		  , INVST_NOPE				= #{invstNope}
	    		  , INVST_EXPND_FRMER_NOPE	= #{invstExpndFrmerNope}
	    		  , INVST_AMT				= #{invstAmt}
	    		  , FRMER_INVST_AMT			= #{frmerInvstAmt}
	    		  , PRDCR_GRP_INVST_AMT		= #{prdcrGrpInvstAmt}
	    		  , LOCGOV_INVST_AMT		= #{locgovInvstAmt}
	    		  , ETC_INVST_AMT			= #{etcInvstAmt}
	    		  , RGLLBR_NOPE				= #{rgllbrNope}
	    		  , DW_NOPE					= #{dwNope}
	    		  , DLBRR_NOPE				= #{dlbrrNope}
	    		  , RPRSV_FLNM				= #{rprsvFlnm}
	    		  , RPRSV_TELNO				= #{rprsvTelno}
	    		  , RPRSV_MOBLNO			= #{rprsvMoblno}
	    		  , RPRSV_EML				= #{rprsvEml}
	    		  , PIC_POSITION			= #{picPosition}
	    		  , PIC_FLNM				= #{picFlnm}
	    		  , PIC_TELNO				= #{picTelno}
	    		  , PIC_MOBLNO				= #{picMoblno}
	    		  , PIC_EML					= #{picEml}
	    		  , FXNO					= #{fxno}
	    		  , ITEM_NH_BROF_YN			= #{itemNhBrofYn}
	    		  , TOT						= #{tot}
	    		  , FRMER_INVST_AMT_RT		= #{frmerInvstAmtRt}
    	]]>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND APO_CD = #{apoCd}
    	]]>
    </update>



	<delete id="deletePrdcrCrclOgnMng" parameterType="com.at.apcss.pd.bsm.vo.PrdcrCrclOgnMngVO">
		<![CDATA[
		DELETE FROM TB_EV_APO
		 WHERE TEST_NO 	= #{testNo}
		]]>
	</delete>



	<!-- 출자출하조직이 속한 통합조직 리스트조회 -->
	<select id="selectUo" parameterType="com.at.apcss.pd.bsm.vo.UoListVO" resultType="com.at.apcss.pd.bsm.vo.UoListVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper.selectUo */
				  CM.UO_APO_CD
				, CM.UO_APO_SE
				, CM.UO_BRNO
				, CM.UO_CORP_NM
				, CM.UO_CRNO
				, CM.ISO_APO_CD
				, CM.ISO_APO_SE
				, CM.ISO_BRNO
				, CM.ISO_CORP_NM
				, CM.ISO_CRNO
				, CM.DEL_YN

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO_UO_CD CM
			 WHERE 1=1
    	]]>
    		<if test='apoCd != null and apoCd != ""'>
				AND CM.ISO_APO_CD LIKE #{apoCd} || '%'
			</if>
    </select>

	<!-- 출자출하조직이 속한 통합조직 리스트조회 -->
	<select id="selectUoList" parameterType="com.at.apcss.pd.bsm.vo.UoListVO" resultType="com.at.apcss.pd.bsm.vo.UoListVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper.selectUoList */
				  CM.UO_APO_CD
				, CM.UO_APO_SE
				, CM.UO_BRNO
				, CM.UO_CORP_NM
				, CM.UO_CRNO
				, CM.ISO_APO_CD
				, CM.ISO_APO_SE
				, CM.ISO_BRNO
				, CM.ISO_CORP_NM
				, CM.ISO_CRNO
				, CM.DEL_YN

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO_UO_CD CM
			 WHERE 1=1
    	]]>
			<if test='brno != null and brno != ""'>
				AND CM.ISO_BRNO = #{brno}
			</if>
    </select>

	<!-- 출자출하조직이 속한 통합조직 리스트 insert -->
	<insert id="insertUo" parameterType="com.at.apcss.pd.bsm.vo.UoListVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper.insertPrdcrCrclOgnMng */
	    	  INTO TB_EV_APO_UO_CD
	    		(
	    		    UO_APO_CD
				  , UO_APO_SE
				  , UO_BRNO
				  , UO_CORP_NM
				  , UO_CRNO
				  , ISO_APO_CD
				  , ISO_APO_SE
				  , ISO_BRNO
				  , ISO_CORP_NM
				  , ISO_CRNO

	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    #{uoApoCd}
	   			  , #{uoApoSe}
	   			  , #{uoBrno}
	   			  , #{uoCorpNm}
	   			  , #{uoCrno}
	   			  , (SELECT APO_CD FROM TB_EV_APO WHERE BRNO = #{isoBrno})
	   			  , #{isoApoSe}
	   			  , #{isoBrno}
	   			  , #{isoCorpNm}
	   			  , #{isoCrno}

	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- 출자출하조직이 속한 통합조직 리스트 update -->
	<update id="updateUo" parameterType="com.at.apcss.pd.bsm.vo.UoListVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper.updateUo */
	    		TB_EV_APO_UO_CD
			   SET
			 	  	UO_APO_CD				= #{uoApoCd}
			 	  , UO_APO_SE				= #{uoApoSe}
	    		  , UO_BRNO					= #{uoBrno}
	    		  , UO_CORP_NM				= #{uoCorpNm}
	    		  , UO_CRNO					= #{uoCrno}

	    		  , ISO_APO_CD				= (SELECT APO_CD FROM TB_EV_APO WHERE BRNO = #{isoBrno})
	    		  , ISO_APO_SE				= #{isoApoSe}
	    		  , ISO_BRNO				= #{isoBrno}
	    		  , ISO_CORP_NM				= #{isoCorpNm}
	    		  , ISO_CRNO				= #{isoCrno}

    	]]>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND APO_CD	= #{apoCd}
    	]]>
    </update>

	<!-- 출자출하조직이 속한 통합조직 리스트 delete -->
	<delete id="deleteUo" parameterType="com.at.apcss.pd.bsm.vo.UoListVO">
		<![CDATA[
		DELETE FROM TB_EV_APO_UO_CD
		/* com.at.apcss.pd.bsm.mapper.PrdcrCrclOgnMngMapper.deleteUo */
		 WHERE UO_APO_CD 	= #{uoApoCd}
		   AND ISO_APO_CD 	= #{isoApoCd}
		]]>
	</delete>
</mapper>