<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : ComUserMapper.xml                                    				-->
<!-- DESC : 사용자 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.co.user.mapper.ComUserMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.user.ComUserMapper.selectComUser                    -->
	<!-- DESC : 사용자 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComUser" parameterType="com.at.apcss.co.user.vo.ComUserVO" resultType="com.at.apcss.co.user.vo.ComUserVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.user.ComUserMapper.selectComUser */
				  CU.USER_ID            AS USER_ID
				, CU.USER_NM            AS USER_NM
				, CU.USER_TYPE          AS USER_TYPE
				, CU.USER_STTS          AS USER_STTS
				, CU.EML                AS EML
				, CU.TELNO          	AS TELNO
				, CU.APC_CD             AS APC_CD
				, (SELECT FN_GET_COM_CD_VL_NM('APC_CD', CU.APC_CD) FROM DUAL) AS APC_NM
				, CU.OGDP_NM            AS OGDP_NM
				, CU.CHRGD_CERT_YN      AS CHRGD_CERT_YN
				, CU.CHRGD_CERT_TYPE    AS CHRGD_CERT_TYPE
				, CU.LCK_YN             AS LCK_YN
				, CU.LGN_FAIL_NMTM      AS LGN_FAIL_NMTM
				, CU.END_LGN_DT         AS END_LGN_DT
				, CU.END_LGN_IP         AS END_LGN_IP
				, CU.DEL_YN                 AS DEL_YN
				, CU.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
				, CU.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
				, CU.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
				, CU.SYS_LAST_CHNG_DT       AS SYS_LAST_CHNG_DT
				, CU.SYS_LAST_CHNG_USER_ID  AS SYS_LAST_CHNG_USER_ID
				, CU.SYS_LAST_CHNG_PRGRM_ID AS SYS_LAST_CHNG_PRGRM_ID

			  FROM TB_COM_USER CU
			 WHERE CU.USER_ID = #{userId}
    	]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.user.ComUserMapper.selectComUserList                -->
	<!-- DESC : 사용자 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComUserList" parameterType="com.at.apcss.co.user.vo.ComUserVO" resultType="com.at.apcss.co.user.vo.ComUserVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.co.user.ComUserMapper.selectComUserList */
			       ROWNUM				 	AS ROW_SEQ
		     	 , CU.USER_ID            	AS USER_ID
				 , CU.USER_NM            	AS USER_NM
				 , CU.USER_TYPE          	AS USER_TYPE
				 , CU.USER_STTS          	AS USER_STTS
				 , CU.EML                	AS EML
				 , CU.TELNO          	 	AS TELNO
				 , CU.APC_CD             	AS APC_CD
				, (SELECT FN_GET_COM_CD_VL_NM('APC_CD', CU.APC_CD) FROM DUAL) AS APC_NM				 
				 , CU.OGDP_NM            	AS OGDP_NM
				 , CU.CHRGD_CERT_YN      	AS CHRGD_CERT_YN
				 , CU.CHRGD_CERT_TYPE    	AS CHRGD_CERT_TYPE
				 , CU.LCK_YN             	AS LCK_YN
				 , CU.LGN_FAIL_NMTM      	AS LGN_FAIL_NMTM
				 , CU.END_LGN_DT         	AS END_LGN_DT
				 , CU.END_LGN_IP         	AS END_LGN_IP
				 , CU.RMRK				 	AS RMRK
				 , CU.JBTTL_NM 				AS JBTTL_NM
				 , CU.TKCG_TASK_NM 			AS TKCG_TASK_NM
				 , CU.RMRK 					AS RMRK
				 , CU.DEL_YN                 AS DEL_YN
				 , CU.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
				 , CU.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
				 , CU.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
				 , CU.SYS_LAST_CHG_DT       AS SYS_LAST_CHG_DT
				 , CU.SYS_LAST_CHG_USER_ID  AS SYS_LAST_CHG_USER_ID
				 , CU.SYS_LAST_CHG_PRGRM_ID AS SYS_LAST_CHG_PRGRM_ID

			  FROM TB_COM_USER CU
			 WHERE CU.DEL_YN = 'N'
    	]]>

		<if test='userId != null and userId != ""'>
			   AND CU.USER_ID = #{userId}
		</if>
		<if test='userNm != null and userNm != ""'>
			   AND CU.USER_NM LIKE '%' || #{userNm} || '%'
		</if>
		<if test='userType != null and userType != ""'>
			   AND CU.USER_TYPE = #{userType}
		</if>
		<if test='userStts != null and userStts != ""'>
			   AND CU.USER_STTS = #{userStts}
		</if>
		<if test='apcCd != null and apcCd != ""'>
			   AND CU.APC_CD = #{apcCd}
		</if>
		<if test='ogdpNm != null and ogdpNm != ""'>
			   AND CU.OGDP_NM LIKE '%' || #{ogdpNm} || '%'
		</if>

    	<![CDATA[
    		 ORDER BY USER_ID, USER_NM
    	]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>


    <update id="updateComUserAprv" parameterType="com.at.apcss.co.user.vo.ComUserVO">
    	<![CDATA[
    	UPDATE TB_COM_USER
    	   SET USER_STTS 				= #{userStts}
    	     , SYS_LAST_CHG_DT 			= SYSDATE
    	     , SYS_LAST_CHG_USER_ID 	= #{sysLastChgUserId}
    	     , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
    	 WHERE USER_ID 					= #{userId}
    	]]>
    </update>

    <update id="updateComUser" parameterType="com.at.apcss.co.user.vo.ComUserVO">
    	<![CDATA[
    	UPDATE TB_COM_USER
    	   SET SYS_LAST_CHG_DT 			= SYSDATE
    	     , SYS_LAST_CHG_USER_ID 	= #{sysLastChgUserId}
    	     , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
    	]]>
    	<if test='jbttlNm != null and jbttlNm != ""'>
    		 , JBTTL_NM 				= #{jbttlNm}
    	</if>
    	<if test='tkcgTaskNm != null and tkcgTaskNm != ""'>
    		 , TKCG_TASK_NM 			= #{tkcgTaskNm}
    	</if>
    	<if test='rmrk != null and rmrk != ""'>
    		 , RMRK 					= #{rmrk}
    	</if>
    	<if test='delYn != null and delYn != ""'>
    		<if test='delYn == "Y"'>
	    	, DEL_YN 					= 'N'
    		</if>
    		<if test='delYn == "N"'>
	    	, DEL_YN 					= 'Y'
    		</if>
    	</if>
		<![CDATA[
    	 WHERE USER_ID 					= #{userId}
    	]]>
    </update>
</mapper>