<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CoUserComUserMapper_tibero.xml                                    	-->
<!-- DESC : 사용자 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.co.user.mapper.ComUserMapper">

	<resultMap type="com.at.apcss.co.user.vo.ComUserVO" id="comUserResultMap">
        <result property="userId" column="USER_ID"/>
        <result property="userNm" column="USER_NM"/>
	</resultMap>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.user.ComUserMapper.selectComUser                    -->
	<!-- DESC : 사용자 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComUser" parameterType="com.at.apcss.co.user.vo.ComUserVO" resultMap="comUserResultMap">
    	<![CDATA[
			SELECT /* com.at.apcss.co.user.ComUserMapper.selectComUser */
				  CU.USER_ID            AS USER_ID
				, CU.USER_NM            AS USER_NM
				, CU.PSWD               AS PSWD
				, CU.USER_TYPE          AS USER_TYPE
				, CU.USER_STTS          AS USER_STTS
				, CU.EML                AS EML
				, CU.MBL_TELNO          AS MBL_TELNO
				, CU.APC_CD             AS APC_CD
				, CU.OGDP_NM            AS OGDP_NM
				, CU.CHRGD_CERT_YN      AS CHRGD_CERT_YN
				, CU.CHRGD_CERT_TYPE    AS CHRGD_CERT_TYPE
				, CU.LCK_YN             AS LCK_YN
				, CU.LGN_FAIL_YN        AS LGN_FAIL_YN
				, CU.END_LGN_DT         AS END_LGN_DT
				, CU.END_LGN_IP         AS END_LGN_IP
				, CU.DEL_YN                 AS DEL_YN
				, CU.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
				, CU.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
				, CU.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
				, CU.SYS_LAST_CHNG_DT       AS SYS_LAST_CHNG_DT
				, CU.SYS_LAST_CHNG_USER_ID  AS SYS_LAST_CHNG_USER_ID
				, CU.SYS_LAST_CHNG_PRGRM_ID AS SYS_LAST_CHNG_PRGRM_ID

			  FROM TB_COM_USER CU
			 WHERE CU.USER_ID = #{userId}
    	]]>
    </select>

</mapper>