<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.isom.mapper.InvShipOgnSpeczItmPurSalMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectInvShipOgnSpeczItmPurSalMng" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnSpeczItmPurSalMngVO" resultType="com.at.apcss.pd.isom.vo.InvShipOgnSpeczItmPurSalMngVO">
SELECT * FROM (    /* com.at.apcss.pd.isom.mapper.InvShipOgnSpeczItmPurSalMngMapper.selectInvShipOgnSpeczItmPurSalMngList */
--=='5' AS TYPE_SE_NO===출자출하조직 생산자조직======================================

SELECT
	'5' AS TYPE_SE_NO
	,'(생산자조직)전속출하' AS SE_NM
	, UOFA.PRDCR_OGNZ_NM AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, NVL ( UOFA.PRDCR_OGNZ_SN , 0 ) AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, ITEM.ITEM_NM || '(' || ITEM.STTG_UPBR_ITEM_NM || ')'  AS ITEM_NM
	, UOFA.TRMT_TYPE
	, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'TRMT_TYPE' AND CD_VL = UOFA.TRMT_TYPE) AS TRMT_TYPE_NM
	, UOFA.STTG_UPBR_ITEM_SE
	--, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = UOFA.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, UOFA.SPMT_PRC_TOT AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.UO_SPMT_AMT
	, TOT.UO_OTHER_SPMT_AMT
	, TOT.RMRK
FROM
	(SELECT
			FA.PRDCR_OGNZ_SN
			,FA.PRDCR_OGNZ_NM
			,FA.BRNO
			,FA.ITEM_CD
			,FA.UO_BRNO
			,FA.STTG_UPBR_ITEM_SE
			,FA.TRMT_TYPE
			,(SELECT SUM(SPMT_PRC) FROM  TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN WHERE PRDCR_OGNZ_SN = FA.PRDCR_OGNZ_SN  AND  ITEM_CD = FA.ITEM_CD
			) AS SPMT_PRC_TOT
		FROM TB_EV_FRMHS_APO FA
		WHERE FA.BRNO = #{brno}
		  AND FA.UO_BRNO = #{uoBrno}
		  AND YR = #{yr}
		  --AND FA.STBLT_YN = 'Y'  --적합여부 추후 추가
	)  UOFA ,
	(SELECT
			ITEM_CD
			, YR
			, BRNO
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = AYGC.ITEM_CD) AS ITEM_NM
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = AYGC.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
		FROM TB_EV_APO_YR_GPC_CD AYGC
		WHERE BRNO = #{uoBrno}
		  AND YR = #{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR = #{yr}
		AND TYPE_SE_NO = '5'
	) TOT
WHERE 1=1
 AND UOFA.BRNO = TOT.BRNO(+)
 AND ITEM.ITEM_CD = UOFA.ITEM_CD(+)
 AND ITEM.BRNO = UOFA.UO_BRNO(+)

 --=='6' AS TYPE_SE_NO===통합조직 직속 생산자조직 소계======================================
UNION ALL

SELECT
	'6' AS TYPE_SE_NO
	,'(생산자조직)전속출하' AS SE_NM
	, '소계' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	,'0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, ITEM.ITEM_NM || '(' || ITEM.STTG_UPBR_ITEM_NM || ')'  AS ITEM_NM
	, '' AS TRMT_TYPE
	, '소계' AS TRMT_TYPE_NM
	, '' AS STTG_UPBR_ITEM_SE
	--, '소계' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.UO_SPMT_AMT
	, TOT.UO_OTHER_SPMT_AMT
	, TOT.RMRK
FROM
	(SELECT
			ITEM_CD
			, YR
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = AYGC.ITEM_CD) AS ITEM_NM
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = AYGC.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
		FROM TB_EV_APO_YR_GPC_CD AYGC
		WHERE BRNO = #{uoBrno}
		  AND YR = #{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR = #{yr}
		AND TYPE_SE_NO = '6'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='7' AS TYPE_SE_NO===기타매입======================================
UNION ALL

SELECT
	'7' AS TYPE_SE_NO
	,'생산자조직 외' AS SE_NM
	, '농가 , 법인 등' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, ITEM.ITEM_NM || '(' || ITEM.STTG_UPBR_ITEM_NM || ')'  AS ITEM_NM
	, '' AS TRMT_TYPE
	, '' AS TRMT_TYPE_NM
	, '' AS STTG_UPBR_ITEM_SE
	--, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, TOT.SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.UO_SPMT_AMT
	, TOT.UO_OTHER_SPMT_AMT
	, TOT.RMRK
FROM
	(SELECT
			ITEM_CD
			, YR
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = AYGC.ITEM_CD) AS ITEM_NM
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = AYGC.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
		FROM TB_EV_APO_YR_GPC_CD AYGC
		WHERE BRNO = #{uoBrno}
		  AND YR = #{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR = #{yr}
		AND TYPE_SE_NO = '7'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='8' AS TYPE_SE_NO===합계======================================
UNION ALL

SELECT
	'8' AS TYPE_SE_NO
	,'합계' AS SE_NM
	, '' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, ITEM.ITEM_NM || '(' || ITEM.STTG_UPBR_ITEM_NM || ')'  AS ITEM_NM
	, '' AS TRMT_TYPE
	, '합계' AS TRMT_TYPE_NM
	, '' AS STTG_UPBR_ITEM_SE
	--, '합계' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, 0 AS SLS_CNSGN_SLS_AMT
	, 0 AS UO_SPMT_AMT
	, 0 AS UO_OTHER_SPMT_AMT
	, TOT.RMRK
FROM
	(SELECT
			ITEM_CD
			, YR
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = AYGC.ITEM_CD) AS ITEM_NM
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = AYGC.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
		FROM TB_EV_APO_YR_GPC_CD AYGC
		WHERE BRNO = #{uoBrno}
		  AND YR = #{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR = #{yr}
		AND TYPE_SE_NO = '8'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)
)
ORDER BY ITEM_CD , TYPE_SE_NO , SE_NM , STTG_UPBR_ITEM_SE , PRCHS_NM
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectInvShipOgnSpeczItmPurSalMngList" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnSpeczItmPurSalMngVO" resultType="com.at.apcss.pd.isom.vo.InvShipOgnSpeczItmPurSalMngVO">
SELECT * FROM (    /* com.at.apcss.pd.isom.mapper.InvShipOgnSpeczItmPurSalMngMapper.selectInvShipOgnSpeczItmPurSalMngList */
--=='5' AS TYPE_SE_NO===출자출하조직 생산자조직======================================

SELECT
	'5' AS TYPE_SE_NO
	,'(생산자조직)전속출하' AS SE_NM
	, UOFA.PRDCR_OGNZ_NM AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, NVL ( UOFA.PRDCR_OGNZ_SN , 0 ) AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, UOFA.ITEM_CD AS ITEM_CD
	, UOFA.ITEM_NM || '(' || UOFA.STTG_UPBR_ITEM_NM || ')'  AS ITEM_NM
	, UOFA.TRMT_TYPE
	, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'TRMT_TYPE' AND CD_VL = UOFA.TRMT_TYPE) AS TRMT_TYPE_NM
	, UOFA.STTG_UPBR_ITEM_SE
	--, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = UOFA.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
	, UOFA.YR AS YR
	, UOFA.SPMT_PRC_TOT AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.UO_SPMT_AMT
	, TOT.UO_OTHER_SPMT_AMT
	, TOT.RMRK
	, UOFA.BRNO AS UO_BRNO
FROM
	(SELECT
			FA.PRDCR_OGNZ_SN
			,FA.PRDCR_OGNZ_NM
			,FA.BRNO
			,FA.ITEM_CD
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = FA.ITEM_CD) AS ITEM_NM
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = FA.STTG_UPBR_ITEM_SE)  AS  STTG_UPBR_ITEM_NM
			,FA.UO_BRNO
			,FA.STTG_UPBR_ITEM_SE
			,FA.TRMT_TYPE
			,FA.YR
			,(SELECT SUM(SPMT_PRC) FROM  TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN WHERE PRDCR_OGNZ_SN = FA.PRDCR_OGNZ_SN  AND  ITEM_CD = FA.ITEM_CD
			) AS SPMT_PRC_TOT
		FROM TB_EV_FRMHS_APO FA
		WHERE FA.BRNO = #{brno}
		  AND ITEM_CD IN  (SELECT ITEM_CD FROM TB_EV_APO_YR_GPC_CD WHERE YR = #{yr} AND BRNO = #{uoBrno})
		  AND FA.UO_BRNO = #{uoBrno}
		  AND YR = #{yr}
		  --AND FA.STBLT_YN = 'Y'  --적합여부 추후 추가
	)  UOFA ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR = #{yr}
		AND TYPE_SE_NO = '5'
		AND UO_BRNO = #{uoBrno}
	) TOT
WHERE 1=1
 AND UOFA.BRNO = TOT.BRNO(+)
 AND UOFA.ITEM_CD = TOT.ITEM_CD(+)
 AND UOFA.PRDCR_OGNZ_SN = TOT.PRDCR_OGNZ_SN(+)

 --=='6' AS TYPE_SE_NO===통합조직 직속 생산자조직 소계======================================
UNION ALL

SELECT
	'6' AS TYPE_SE_NO
	,'(생산자조직)전속출하' AS SE_NM
	, '소계' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	,'0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, ITEM.ITEM_NM || '(' || ITEM.STTG_UPBR_ITEM_NM || ')'  AS ITEM_NM
	, '' AS TRMT_TYPE
	, '소계' AS TRMT_TYPE_NM
	, '' AS STTG_UPBR_ITEM_SE
	--, '소계' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.UO_SPMT_AMT
	, TOT.UO_OTHER_SPMT_AMT
	, TOT.RMRK
	, TO_CHAR (ITEM.BRNO) AS UO_BRNO
FROM
	(SELECT
			ITEM_CD
			, YR
			, BRNO
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = AYGC.ITEM_CD) AS ITEM_NM
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = AYGC.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
		FROM TB_EV_APO_YR_GPC_CD AYGC
		WHERE BRNO = #{uoBrno}
		  AND YR = #{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR = #{yr}
		AND TYPE_SE_NO = '6'
		AND UO_BRNO = #{uoBrno}
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='7' AS TYPE_SE_NO===기타매입======================================
UNION ALL

SELECT
	'7' AS TYPE_SE_NO
	,'생산자조직 외' AS SE_NM
	, '농가 , 법인 등' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, ITEM.ITEM_NM || '(' || ITEM.STTG_UPBR_ITEM_NM || ')'  AS ITEM_NM
	, '' AS TRMT_TYPE
	, '' AS TRMT_TYPE_NM
	, '' AS STTG_UPBR_ITEM_SE
	--, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, TOT.SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.UO_SPMT_AMT
	, TOT.UO_OTHER_SPMT_AMT
	, TOT.RMRK
	, TO_CHAR (ITEM.BRNO) AS UO_BRNO
FROM
	(SELECT
			ITEM_CD
			, YR
			, BRNO
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = AYGC.ITEM_CD) AS ITEM_NM
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = AYGC.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
		FROM TB_EV_APO_YR_GPC_CD AYGC
		WHERE BRNO = #{uoBrno}
		  AND YR = #{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR = #{yr}
		AND TYPE_SE_NO = '7'
		AND UO_BRNO = #{uoBrno}
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='8' AS TYPE_SE_NO===합계======================================
UNION ALL

SELECT
	'8' AS TYPE_SE_NO
	,'합계' AS SE_NM
	, '' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, ITEM.ITEM_NM || '(' || ITEM.STTG_UPBR_ITEM_NM || ')'  AS ITEM_NM
	, '' AS TRMT_TYPE
	, '합계' AS TRMT_TYPE_NM
	, '' AS STTG_UPBR_ITEM_SE
	--, '합계' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, 0 AS SLS_CNSGN_SLS_AMT
	, 0 AS UO_SPMT_AMT
	, 0 AS UO_OTHER_SPMT_AMT
	, TOT.RMRK
	, TO_CHAR (ITEM.BRNO) AS UO_BRNO
FROM
	(SELECT
			ITEM_CD
			, YR
			, BRNO
			,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = AYGC.ITEM_CD) AS ITEM_NM
			,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = AYGC.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
		FROM TB_EV_APO_YR_GPC_CD AYGC
		WHERE BRNO = #{uoBrno}
		  AND YR = #{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR = #{yr}
		AND TYPE_SE_NO = '8'
		AND UO_BRNO = #{uoBrno}
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)
)
ORDER BY ITEM_CD , TYPE_SE_NO , SE_NM , STTG_UPBR_ITEM_SE , PRCHS_NM
    </select>


	<insert id="insertInvShipOgnSpeczItmPurSalMng" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnSpeczItmPurSalMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT CLT  /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.insertPrdcrCrclOgnPurSalMng */
		USING DUAL
			ON (
					CLT.APO_CD   		= #{apoCd}
				AND CLT.APO_SE	 		= #{apoSe}
				AND CLT.BRNO 			= #{brno}
				AND CLT.YR	 			= #{yr}
				AND CLT.CTGRY_CD	 	= #{ctgryCd}
				AND CLT.ITEM_CD 		= #{itemCd}
				AND CLT.PRDCR_OGNZ_SN 	= #{prdcrOgnzSn}
				AND CLT.CLTVTN_LAND_SN 	= #{cltvtnLandSn}
				AND CLT.TYPE_SE_NO		= #{typeSeNo}
				AND CLT.UO_BRNO 		= #{uoBrno}
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	        SLS_CNSGN_PRCHS_AMT		= #{slsCnsgnPrchsAmt}
		    	        , UO_SPMT_AMT			= #{uoSpmtAmt}
		    	        , UO_OTHER_SPMT_AMT		= #{uoOtherSpmtAmt}

		    	        , RMRK					= #{rmrk}

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					   AND CLT.APO_CD   		= #{apoCd}
					   AND CLT.APO_SE	 		= #{apoSe}
					   AND CLT.BRNO 			= #{brno}
					   AND CLT.YR	 			= #{yr}
					   AND CLT.CTGRY_CD	 		= #{ctgryCd}
					   AND CLT.ITEM_CD 			= #{itemCd}
					   AND CLT.PRDCR_OGNZ_SN 	= #{prdcrOgnzSn}
					   AND CLT.CLTVTN_LAND_SN 	= #{cltvtnLandSn}
					   AND CLT.TYPE_SE_NO		= #{typeSeNo}
					   AND CLT.UO_BRNO 			= #{uoBrno}
		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , CRNO
		    		  , YR
		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , ISO_BRNO
		    		  , PRDCR_OGNZ_SN
		    		  , PRDCR_OGNZ_CD
		    		  , CLTVTN_LAND_SN
		    		  , TYPE_SE_NO
		    		  , UO_BRNO

		    		  , SLS_CNSGN_PRCHS_AMT
		    		  , UO_SPMT_AMT
		    		  , UO_OTHER_SPMT_AMT

		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		    		  , #{apoSe}
		    		  , #{brno}
		    		  , #{crno}
		    		  , TO_CHAR(SYSDATE,'YYYY')
		    		  , #{ctgryCd}
		    		  , #{itemCd}
		    		  , #{isoBrno}
		    		  , #{prdcrOgnzSn}
		    		  , #{prdcrOgnzCd}
		    		  , #{cltvtnLandSn}
		    		  , #{typeSeNo}
		    		  , #{uoBrno}

		   			  , #{slsCnsgnPrchsAmt}
		   			  , #{uoSpmtAmt}
		   			  , #{uoOtherSpmtAmt}

		   			  , #{rmrk}

		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>
	<update id="updateInvShipOgnSpeczItmPurSalMng" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnSpeczItmPurSalMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.isom.mapper.InvShipOgnSpeczItmPurSalMngMapper.upateInvShipOgnSpeczItmPurSalMng */
	    		TB_PD_PrdcrCrclOgnVluIdctrMng
			   SET
			 	  AA	= #{aa}
			 	, BB 	= #{bb}
			 	, CC 	= #{cc}
			 	, CC_CODE 	= #{ccCode}
			 	, DD 	= #{dd}
			 	, DD_CODE 	= #{ddCode}
			 	, EE 	= #{ee}
			 	, FF 	= #{ff}
			 	, GG 	= #{gg}
			 	, HH 	= #{hh}
			 	, II 	= #{ii}
			 	, II_CODE 	= #{iiCode}
			 	, JJ 	= #{jj}
			 	, KK 	= #{kk}
			 	, LL 	= #{ll}
			 	, MM 	= #{mm}
			 	, NN 	= #{nn}
			 	, OO 	= #{oo}
			 	, PP 	= #{pp}
			 	, QQ 	= #{qq}
			 	, RR 	= #{rr}
			 	, SS 	= #{ss}
			 	, TT 	= #{tt}
			 	, UU 	= #{uu}
			 	, VV 	= #{vv}
			 	, WW 	= #{ww}
			 	, XX 	= #{xx}
			 	, YY 	= #{yy}
			 	, ZZ 	= #{zz}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND TEST_NO	= #{testNo}
    	]]>
    </update>


	<delete id="deleteInvShipOgnSpeczItmPurSalMng" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnSpeczItmPurSalMngVO">
		<![CDATA[
		DELETE FROM TB_PD_PrdcrCrclOgnVluIdctrMng
		 WHERE TEST_NO 	= #{testNo}
		]]>
	</delete>

</mapper>