<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.isom.mapper.InvShipOgnPurSalMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectInvShipOgnPurSalMng" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnPurSalMngVO" resultType="com.at.apcss.pd.isom.vo.InvShipOgnPurSalMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.isom.mapper.InvShipOgnPurSalMngMapper.selectInvShipOgnPurSalMng */
				  CM.YR
				, CM.APO_CD
				, CM.APO_SE
				, CM.BRNO
				, CM.CRNO
				, CM.CTGRY_CD
				, CM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS ITEM_NM

				, CM.PRCHS_SLS_SE

				/*매입*/
				, CM.PRCHS_TRST_VLM
				, CM.PRCHS_TRST_AMT
				, CM.PRCHS_EMSPAP_VLM
				, CM.PRCHS_EMSPAP_AMT

				/*매출*/
				, CM.SLS_CPRTN_SORT_TRST_VLM
				, CM.SLS_CPRTN_SORT_TRST_AMT
				, CM.SLS_CPRTN_TRST_VLM
				, CM.SLS_CPRTN_TRST_AMT
				, CM.SLS_CPRTN_SORT_EMSPAP_VLM
				, CM.SLS_CPRTN_SORT_EMSPAP_AMT

				, CM.SLS_SMPL_TRST_VLM
				, CM.SLS_SMPL_TRST_AMT
				, CM.SLS_SMPL_EMSPAP_VLM
				, CM.SLS_SMPL_EMSPAP_AMT


				, CM.SLS_EMSPAP_VLM
				, CM.SLS_EMSPAP_AMT
				, CM.SLS_TRST_VLM
				, CM.SLS_TRST_AMT

				, CM.DDC_EXPRT_VLM
				, CM.DDC_EXPRT_AMT
				, CM.DDC_VLM
				, CM.DDC_AMT
				, CM.DDC_ARMY_DLVGDS_VLM
				, CM.DDC_ARMY_DLVGDS_AMT
				, CM.DDC_MLSR_VLM
				, CM.DDC_MLSR_AMT

				, CM.SPMT_PRFMNC_VLM
				, CM.SPMT_PRFMNC_AMT
				, CM.SMPL_INPT_VLM
				, CM.SMPL_INPT_AMT

				, CM.AJMT_VLM
				, CM.AJMT_AMT

				, CM.RMRK

				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_UO_ISO_ALL_PRCHS_SLS CM
			 WHERE 1=1

    	]]>
    		<if test='apoCd != null and apoCd != ""'>
				AND CM.APO_CD = #{apoCd}
			</if>
			<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE = #{apoSe}
			</if>
		ORDER BY CM.ITEM_CD DESC
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectInvShipOgnPurSalMngList" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnPurSalMngVO" resultType="com.at.apcss.pd.isom.vo.InvShipOgnPurSalMngVO">
    	SELECT * FROM
		(
			SELECT /* com.at.apcss.pd.isom.mapper.InvShipOgnPurSalMngMapper.selectInvShipOgnPurSalMngList */
				ITEM.YR
				, ITEM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
				, ITEM.CTGRY_CD
				, ITEM.STTG_UPBR_ITEM_SE
				, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = ITEM.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM

				, CM.APO_CD
				, CM.APO_SE
				, ITEM.BRNO
				, ITEM.UO_BRNO
				, CM.CRNO

				, '1' AS PRCHS_SLS_SE

				/*매입*/
				, CM.PRCHS_TRST_VLM
				, NVL(TOTA.PRCHS_TOT_AMT,0) AS PRCHS_TRST_AMT
				, CM.PRCHS_EMSPAP_VLM
				, NVL(TOTB.PRCHS_TOT_AMT,0) AS PRCHS_EMSPAP_AMT

				, '' AS PRCHS_TOT_AMT
				, NVL( NVL(TOTA.PRCHS_TOT_AMT,0) + NVL(TOTB.PRCHS_TOT_AMT,0) + NVL(TOTC.PRCHS_TOT_AMT,0) , 0) AS PRCHS_TOT_AMT

				, CM.ETC_VLM
				, NVL(TOTC.PRCHS_TOT_AMT,0) AS ETC_AMT

				/*매출*/
				, CM.SLS_CPRTN_SORT_TRST_VLM
				, CM.SLS_CPRTN_SORT_TRST_AMT
				, CM.SLS_CPRTN_TRST_VLM
				, CM.SLS_CPRTN_TRST_AMT
				, CM.SLS_CPRTN_SORT_EMSPAP_VLM
				, CM.SLS_CPRTN_SORT_EMSPAP_AMT

				, CM.SLS_SMPL_TRST_VLM
				, CM.SLS_SMPL_TRST_AMT
				, CM.SLS_SMPL_EMSPAP_VLM
				, CM.SLS_SMPL_EMSPAP_AMT

				, CM.SLS_EMSPAP_VLM
				, CM.SLS_EMSPAP_AMT
				, CM.SLS_TRST_VLM
				, CM.SLS_TRST_AMT

				, '' AS SLS_TOT_VLM
				, '' AS SLS_TOT_AMT

				/*공제*/
				, CM.DDC_EXPRT_VLM
				, CM.DDC_EXPRT_AMT
				, CM.DDC_VLM
				, CM.DDC_AMT
				, CM.DDC_ARMY_DLVGDS_VLM
				, CM.DDC_ARMY_DLVGDS_AMT
				, CM.DDC_MLSR_VLM
				, CM.DDC_MLSR_AMT

				, CM.SPMT_PRFMNC_VLM
				, CM.SPMT_PRFMNC_AMT
				, CM.SMPL_INPT_VLM
				, CM.SMPL_INPT_AMT

				, CM.AJMT_VLM
				, CM.AJMT_AMT

				/* 총 실적 */
				, CM.TOT_TRMT_PRFMNC_VLM
				, CM.TOT_TRMT_PRFMNC_AMT
				, CM.TOT_SPMT_PRFMNC_VLM
				, CM.TOT_SPMT_PRFMNC_AMT

				, CM.RMRK

				, NVL(CM.DEL_YN,'N') AS DEL_YN

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM (SELECT *
			  			FROM TB_EV_UO_ISO_ALL_PRCHS_SLS
			  			WHERE APO_SE = '2'
			  		) CM ,
			  	(SELECT
			  			ITEM_CD
			  			,TO_CHAR(BRNO) AS UO_BRNO
			  			,#{brno} AS BRNO
			  			,CTGRY_CD
			  			,STTG_UPBR_ITEM_SE
			  			,YR
			  		FROM TB_EV_APO_YR_GPC_CD
			  		WHERE 1=1
					<if test='uoBrno != null and uoBrno != ""'>
					  AND BRNO = #{uoBrno}
					</if>
					<if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					</if>
			  	) ITEM ,
			  	(SELECT BRNO , ITEM_CD , SUM( NVL( SLS_CNSGN_PRCHS_AMT , 0 ) ) AS PRCHS_TOT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '2'
			  		  AND TRMT_TYPE IN ('1','2')
			  		  AND TYPE_SE_NO = '5'
			  		  AND PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
			  		  							FROM TB_EV_FRMHS_APO
			  		  							WHERE 1=1
			  		  							<if test='brno != null and brno != ""'>
												  AND BRNO = #{brno}
												</if>
												<if test='uoBrno != null and uoBrno != ""'>
												  AND UO_BRNO = #{uoBrno}
												</if>
												<if test='yr != null and yr != ""'>
												  AND YR = #{yr}
												</if>
					  						)
					<if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					</if>
					<if test='uoBrno != null and uoBrno != ""'>
					  AND UO_BRNO = #{uoBrno}
					</if>
					<if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					</if>

					  GROUP BY  BRNO , ITEM_CD
				) TOTA ,
				(SELECT BRNO , ITEM_CD ,  SUM( NVL( SLS_CNSGN_PRCHS_AMT , 0 ) ) AS PRCHS_TOT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '2'
			  		  AND TRMT_TYPE = '3'
			  		  AND TYPE_SE_NO = '5'
			  		  AND PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
			  		  							FROM TB_EV_FRMHS_APO
			  		  							WHERE 1=1
			  		  							<if test='brno != null and brno != ""'>
												  AND BRNO = #{brno}
												</if>
												<if test='uoBrno != null and uoBrno != ""'>
												  AND UO_BRNO = #{uoBrno}
												</if>
												<if test='yr != null and yr != ""'>
												  AND YR = #{yr}
												</if>
					  						)
					<if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					</if>
					<if test='uoBrno != null and uoBrno != ""'>
					  AND UO_BRNO = #{uoBrno}
					</if>
					<if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					</if>

					  GROUP BY  BRNO , ITEM_CD
				) TOTB ,
				(SELECT BRNO , ITEM_CD , SUM( NVL( SLS_CNSGN_PRCHS_AMT , 0 ) ) AS PRCHS_TOT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '2'
			  		  AND TYPE_SE_NO = '7'
			  		  AND PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
			  		  							FROM TB_EV_FRMHS_APO
			  		  							WHERE 1=1
			  		  							<if test='brno != null and brno != ""'>
												  AND BRNO = #{brno}
												</if>
												<if test='uoBrno != null and uoBrno != ""'>
												  AND UO_BRNO = #{uoBrno}
												</if>
												<if test='yr != null and yr != ""'>
												  AND YR = #{yr}
												</if>
					  						)
					<if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					</if>
					<if test='uoBrno != null and uoBrno != ""'>
					  AND UO_BRNO = #{uoBrno}
					</if>
					<if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					</if>

					  GROUP BY  BRNO , ITEM_CD
				) TOTC
			 WHERE 1=1
			   AND ITEM.ITEM_CD = CM.ITEM_CD(+)
			   AND ITEM.BRNO = CM.BRNO(+)
			   AND ITEM.ITEM_CD = TOTA.ITEM_CD(+)
			   AND ITEM.ITEM_CD = TOTB.ITEM_CD(+)
			   AND ITEM.ITEM_CD = TOTC.ITEM_CD(+)
			   AND ITEM.STTG_UPBR_ITEM_SE = CM.STTG_UPBR_ITEM_SE(+)

			UNION ALL

			SELECT
				ITEM.YR
				, ITEM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
				, ITEM.CTGRY_CD
				, ITEM.STTG_UPBR_ITEM_SE
				, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = ITEM.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM

				, CM.APO_CD
				, CM.APO_SE
				, ITEM.BRNO
				, ITEM.UO_BRNO
				, CM.CRNO

				, '2' AS PRCHS_SLS_SE

				/*매입*/
				, CM.PRCHS_TRST_VLM
				, CM.PRCHS_TRST_AMT
				, CM.PRCHS_EMSPAP_VLM
				, CM.PRCHS_EMSPAP_AMT

				, '' AS PRCHS_TOT_AMT
				, '' AS PRCHS_TOT_AMT

				, CM.ETC_VLM
				, CM.ETC_AMT

				/*매출*/
				, CM.SLS_CPRTN_SORT_TRST_VLM
				, NVL(TOTB.UO_SPMT_AMT ,0) AS SLS_CPRTN_SORT_TRST_AMT
				, CM.SLS_CPRTN_TRST_VLM
				, NVL(TOTA.UO_SPMT_AMT ,0) AS SLS_CPRTN_TRST_AMT
				, CM.SLS_CPRTN_SORT_EMSPAP_VLM
				, NVL(TOTC.UO_SPMT_AMT ,0) AS SLS_CPRTN_SORT_EMSPAP_AMT

				, CM.SLS_SMPL_TRST_VLM
				, CM.SLS_SMPL_TRST_AMT
				, CM.SLS_SMPL_EMSPAP_VLM
				, CM.SLS_SMPL_EMSPAP_AMT

				, CM.SLS_EMSPAP_VLM
				, CM.SLS_EMSPAP_AMT
				, CM.SLS_TRST_VLM
				, CM.SLS_TRST_AMT

				, '' AS SLS_TOT_VLM
				, NVL((TOTA.UO_SPMT_AMT + TOTB.UO_SPMT_AMT + TOTC.UO_SPMT_AMT) ,0) AS SLS_TOT_AMT

				/*공제*/
				, CM.DDC_EXPRT_VLM
				, CM.DDC_EXPRT_AMT
				, CM.DDC_VLM
				, CM.DDC_AMT
				, CM.DDC_ARMY_DLVGDS_VLM
				, CM.DDC_ARMY_DLVGDS_AMT
				, CM.DDC_MLSR_VLM
				, CM.DDC_MLSR_AMT

				, CM.SPMT_PRFMNC_VLM
				, CM.SPMT_PRFMNC_AMT
				, CM.SMPL_INPT_VLM
				, CM.SMPL_INPT_AMT

				, CM.AJMT_VLM
				, NVL(TOTD.UO_SPMT_AMT ,0) AS AJMT_AMT

				/* 총 실적 */
				, CM.TOT_TRMT_PRFMNC_VLM
				, CM.TOT_TRMT_PRFMNC_AMT
				, CM.TOT_SPMT_PRFMNC_VLM
				, NVL(TOTD.UO_SPMT_AMT ,0) AS TOT_SPMT_PRFMNC_AMT

				, CM.RMRK

				, NVL(CM.DEL_YN,'N') AS DEL_YN

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM (SELECT *
			  			FROM TB_EV_UO_ISO_ALL_PRCHS_SLS
			  			WHERE APO_SE = '2'
			  		) CM ,
			  	(SELECT ITEM_CD
			  			,TO_CHAR(BRNO) AS UO_BRNO
			  			,#{brno} AS BRNO
			  			,CTGRY_CD
			  			,STTG_UPBR_ITEM_SE
			  			,YR
			  		FROM TB_EV_APO_YR_GPC_CD
			  		WHERE 1=1
					<if test='brno != null and brno != ""'>
					  AND BRNO = #{uoBrno}
					</if>
					<if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					</if>
			  	) ITEM ,
			  	(SELECT BRNO , ITEM_CD , TRMT_TYPE , SUM( NVL( UO_SPMT_AMT , 0 ) ) AS UO_SPMT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '2'
			  		  AND TRMT_TYPE = '1'
			  		  AND TYPE_SE_NO = '5'
					  AND PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
			  		  							FROM TB_EV_FRMHS_APO
			  		  							WHERE 1=1
			  		  							<if test='brno != null and brno != ""'>
												  AND BRNO = #{brno}
												</if>
												<if test='uoBrno != null and uoBrno != ""'>
												  AND UO_BRNO = #{uoBrno}
												</if>
												<if test='yr != null and yr != ""'>
												  AND YR = #{yr}
												</if>
					  						)
			  		  <if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					  </if>
					  <if test='uoBrno != null and uoBrno != ""'>
					  AND UO_BRNO = #{uoBrno}
					  </if>
					  <if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					  </if>

					  GROUP BY  BRNO , ITEM_CD , TRMT_TYPE
			  		) TOTA ,
			  		(SELECT BRNO , ITEM_CD , TRMT_TYPE , SUM( NVL( UO_SPMT_AMT , 0 ) ) AS UO_SPMT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '2'
			  		  AND TRMT_TYPE = '2'
			  		  AND TYPE_SE_NO = '5'
					  AND PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
			  		  							FROM TB_EV_FRMHS_APO
			  		  							WHERE 1=1
			  		  							<if test='brno != null and brno != ""'>
												  AND BRNO = #{brno}
												</if>
												<if test='uoBrno != null and uoBrno != ""'>
												  AND UO_BRNO = #{uoBrno}
												</if>
												<if test='yr != null and yr != ""'>
												  AND YR = #{yr}
												</if>
					  						)
			  		  <if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					  </if>
					  <if test='uoBrno != null and uoBrno != ""'>
					  AND UO_BRNO = #{uoBrno}
					  </if>
					  <if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					  </if>

					  GROUP BY  BRNO , ITEM_CD ,TRMT_TYPE
			  		) TOTB ,
			  		(SELECT BRNO , ITEM_CD , TRMT_TYPE , SUM( NVL( UO_SPMT_AMT , 0 ) ) AS UO_SPMT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '2'
			  		  AND TRMT_TYPE = '3'
			  		  AND TYPE_SE_NO = '5'
					  AND PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
			  		  							FROM TB_EV_FRMHS_APO
			  		  							WHERE 1=1
			  		  							<if test='brno != null and brno != ""'>
												  AND BRNO = #{brno}
												</if>
												<if test='uoBrno != null and uoBrno != ""'>
												  AND UO_BRNO = #{uoBrno}
												</if>
												<if test='yr != null and yr != ""'>
												  AND YR = #{yr}
												</if>
					  						)
			  		  <if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					  </if>
					  <if test='uoBrno != null and uoBrno != ""'>
					  AND UO_BRNO = #{uoBrno}
					  </if>
					  <if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					  </if>

					  GROUP BY  BRNO , ITEM_CD , TRMT_TYPE
			  		) TOTC ,
			  		(SELECT BRNO , ITEM_CD , SUM( NVL( UO_SPMT_AMT , 0 ) + NVL( UO_OTHER_SPMT_AMT , 0 ) ) AS UO_SPMT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '2'
			  		  AND TYPE_SE_NO IN ('1','3','5','7')
					  AND PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
			  		  							FROM TB_EV_FRMHS_APO
			  		  							WHERE 1=1
			  		  							<if test='brno != null and brno != ""'>
												  AND BRNO = #{brno}
												</if>
												<if test='uoBrno != null and uoBrno != ""'>
												  AND UO_BRNO = #{uoBrno}
												</if>
												<if test='yr != null and yr != ""'>
												  AND YR = #{yr}
												</if>
					  						)
			  		  <if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					  </if>
					  <if test='uoBrno != null and uoBrno != ""'>
					  AND UO_BRNO = #{uoBrno}
					  </if>
					  <if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					  </if>

					  GROUP BY  BRNO , ITEM_CD
			  		) TOTD
			 WHERE 1=1
			   AND ITEM.ITEM_CD = CM.ITEM_CD(+)
			   AND ITEM.BRNO = CM.BRNO(+)
			   AND ITEM.ITEM_CD = TOTA.ITEM_CD(+)
			   AND ITEM.ITEM_CD = TOTB.ITEM_CD(+)
			   AND ITEM.ITEM_CD = TOTC.ITEM_CD(+)
			   AND ITEM.ITEM_CD = TOTD.ITEM_CD(+)
			   AND ITEM.STTG_UPBR_ITEM_SE = CM.STTG_UPBR_ITEM_SE(+)

			UNION ALL

			SELECT
				CM.YR
				, CM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS ITEM_NM
				, CM.CTGRY_CD
				, CM.STTG_UPBR_ITEM_SE
				, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = CM.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM


				, CM.APO_CD
				, CM.APO_SE
				, CM.BRNO
				, CM.UO_BRNO
				, CM.CRNO

				, CM.PRCHS_SLS_SE

				/*매입*/
				, CM.PRCHS_TRST_VLM
				, CM.PRCHS_TRST_AMT
				, CM.PRCHS_EMSPAP_VLM
				, CM.PRCHS_EMSPAP_AMT

				, '' AS PRCHS_TOT_AMT
				, '' AS PRCHS_TOT_AMT

				, CM.ETC_VLM
				, CM.ETC_AMT

				/*매출*/
				, CM.SLS_CPRTN_SORT_TRST_VLM
				, CM.SLS_CPRTN_SORT_TRST_AMT
				, CM.SLS_CPRTN_TRST_VLM
				, CM.SLS_CPRTN_TRST_AMT
				, CM.SLS_CPRTN_SORT_EMSPAP_VLM
				, CM.SLS_CPRTN_SORT_EMSPAP_AMT

				, CM.SLS_SMPL_TRST_VLM
				, CM.SLS_SMPL_TRST_AMT
				, CM.SLS_SMPL_EMSPAP_VLM
				, CM.SLS_SMPL_EMSPAP_AMT

				, CM.SLS_EMSPAP_VLM
				, CM.SLS_EMSPAP_AMT
				, CM.SLS_TRST_VLM
				, CM.SLS_TRST_AMT

				, '' AS SLS_TOT_VLM
				, '' AS SLS_TOT_AMT

				/*공제*/
				, CM.DDC_EXPRT_VLM
				, CM.DDC_EXPRT_AMT
				, CM.DDC_VLM
				, CM.DDC_AMT
				, CM.DDC_ARMY_DLVGDS_VLM
				, CM.DDC_ARMY_DLVGDS_AMT
				, CM.DDC_MLSR_VLM
				, CM.DDC_MLSR_AMT

				, CM.SPMT_PRFMNC_VLM
				, CM.SPMT_PRFMNC_AMT
				, CM.SMPL_INPT_VLM
				, CM.SMPL_INPT_AMT

				, CM.AJMT_VLM
				, CM.AJMT_AMT

				/* 총 실적 */
				, CM.TOT_TRMT_PRFMNC_VLM
				, CM.TOT_TRMT_PRFMNC_AMT
				, CM.TOT_SPMT_PRFMNC_VLM
				, CM.TOT_SPMT_PRFMNC_AMT

				, CM.RMRK

				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			FROM TB_EV_UO_ISO_ALL_PRCHS_SLS CM
			WHERE 1=1
			  AND STTG_UPBR_ITEM_SE = '3'
			  AND APO_SE = '2'
			<if test='brno != null and brno != ""'>
			  AND BRNO = #{brno}
			</if>
			<if test='yr != null and yr != ""'>
			  AND YR = #{yr}
			</if>
		)
		ORDER BY STTG_UPBR_ITEM_SE , ITEM_CD DESC
    </select>

	<!-- 매입 등록 -->
	<insert id="insertInvShipOgnPurSalMng01" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnPurSalMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_UO_ISO_ALL_PRCHS_SLS CLT  /* com.at.apcss.pd.isom.mapper.InvShipOgnPurSalMngMapper.insertInvShipOgnPurSalMng01 */
		USING DUAL
			ON (
					CLT.BRNO   			= #{brno}
				AND CLT.UO_BRNO	 		= #{uoBrno}
				AND CLT.CTGRY_CD 		= #{ctgryCd}
				AND CLT.ITEM_CD	 		= #{itemCd}
				AND CLT.PRCHS_SLS_SE	= '1'
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	        PRCHS_TRST_VLM			= #{prchsTrstVlm}
		    	        , PRCHS_TRST_AMT		= #{prchsTrstAmt}
		    	        , PRCHS_EMSPAP_VLM		= #{prchsEmspapVlm}
		    	        , PRCHS_EMSPAP_AMT		= #{prchsEmspapAmt}
		    	        , ETC_VLM				= #{etcVlm}
		    	        , ETC_AMT				= #{etcAmt}

		    	        , RMRK					= #{rmrk}

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 	AND CLT.BRNO   			= #{brno}
						AND CLT.UO_BRNO	 		= #{uoBrno}
						AND CLT.CTGRY_CD 		= #{ctgryCd}
						AND CLT.ITEM_CD	 		= #{itemCd}
						AND CLT.PRCHS_SLS_SE	= '2'
		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , UO_BRNO
		    		  , CRNO
		    		  , YR

		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , STTG_UPBR_ITEM_SE
		    		  , PRCHS_SLS_SE

		    		  , PRCHS_TRST_VLM
		    		  , PRCHS_TRST_AMT
		    		  , PRCHS_EMSPAP_VLM
		    		  , PRCHS_EMSPAP_AMT
		    		  , ETC_VLM
		    	      , ETC_AMT

		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , (case when #{apoSe} is not null then #{apoSe}
		   			  			ELSE (SELECT OGNZ_SE_CD FROM TB_APC_OGNZ_INFO WHERE OGNZ_CD = #{apoCd})
		   			  			END)
		   			  , #{brno}
		   			  , #{uoBrno}
		   			  , (case when #{crno} is not null then #{crno}
		   			  			ELSE (SELECT CRNO FROM TB_EV_APO WHERE BRNO = #{brno})
		   			  			END)
		   			  , TO_CHAR(SYSDATE,'YYYY')

		   			  , (case when #{ctgryCd} is not null then #{ctgryCd}
		   			  			ELSE (SELECT CTGRY_CD FROM TB_EV_APO_YR_GPC_CD WHERE ITEM_CD = #{itemCd} AND BRNO = #{uoBrno})
		   			  			END)
		   			  , #{itemCd}
		   			  , #{sttgUpbrItemSe}
		   			  , #{prchsSlsSe}

		   			  , #{prchsTrstVlm}
		   			  , #{prchsTrstAmt}
		   			  , #{prchsEmspapVlm}
		   			  , #{prchsEmspapAmt}
		   			  , #{etcVlm}
		   			  , #{etcAmt}

		   			  , #{rmrk}

		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>

	<!-- 매출 등록 -->
    <insert id="insertInvShipOgnPurSalMng02" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnPurSalMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_UO_ISO_ALL_PRCHS_SLS CLT  /* com.at.apcss.pd.isom.mapper.InvShipOgnPurSalMngMapper.insertInvShipOgnPurSalMng02 */
		USING DUAL
			ON (
					CLT.BRNO   			= #{brno}
				AND CLT.UO_BRNO	 		= #{uoBrno}
				AND CLT.CTGRY_CD 		= #{ctgryCd}
				AND CLT.ITEM_CD	 		= #{itemCd}
				AND CLT.PRCHS_SLS_SE	= '2'
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	        SLS_CPRTN_SORT_TRST_VLM		= #{slsCprtnSortTrstVlm}
		    	        , SLS_CPRTN_SORT_TRST_AMT		= #{slsCprtnSortTrstAmt}
		    	        , SLS_CPRTN_TRST_VLM			= #{slsCprtnTrstVlm}
		    	        , SLS_CPRTN_TRST_AMT			= #{slsCprtnTrstAmt}
		    	        , SLS_CPRTN_SORT_EMSPAP_VLM		= #{slsCprtnSortEmspapVlm}
		    	        , SLS_CPRTN_SORT_EMSPAP_AMT		= #{slsCprtnSortEmspapAmt}
		    	        , SLS_SMPL_TRST_VLM				= #{slsSmplTrstVlm}
		    	        , SLS_SMPL_TRST_AMT				= #{slsSmplTrstAmt}
		    	        , SLS_SMPL_EMSPAP_VLM			= #{slsSmplEmspapVlm}
		    	        , SLS_SMPL_EMSPAP_AMT			= #{slsSmplEmspapAmt}

		    	        , SLS_EMSPAP_VLM		= #{slsEmspapVlm}
		    	        , SLS_EMSPAP_AMT		= #{slsEmspapAmt}
		    	        , SLS_TRST_VLM			= #{slsTrstVlm}
		    	        , SLS_TRST_AMT			= #{slsTrstAmt}

		    	        , DDC_EXPRT_VLM			= #{ddcExprtVlm}
		    	        , DDC_EXPRT_AMT			= #{ddcExprtAmt}
		    	        , DDC_VLM				= #{ddcVlm}
		    	        , DDC_AMT				= #{ddcAmt}
		    	        , DDC_ARMY_DLVGDS_VLM	= #{ddcArmyDlvgdsVlm}
		    	        , DDC_ARMY_DLVGDS_AMT	= #{ddcArmyDlvgdsAmt}
		    	        , DDC_MLSR_VLM			= #{ddcMlsrVlm}
		    	        , DDC_MLSR_AMT			= #{ddcMlsrAmt}

		    	        , SPMT_PRFMNC_VLM		= #{spmtPrfmncVlm}
		    	        , SPMT_PRFMNC_AMT		= #{spmtPrfmncAmt}
		    	        , SMPL_INPT_VLM			= #{smplInptVlm}
		    	        , SMPL_INPT_AMT			= #{smplInptAmt}

		    	        , AJMT_VLM				= #{ajmtVlm}
		    	        , AJMT_AMT				= #{ajmtAmt}

		    	        , TOT_TRMT_PRFMNC_VLM	= #{totTrmtPrfmncVlm}
		    	        , TOT_TRMT_PRFMNC_AMT	= #{totTrmtPrfmncAmt}
		    	        , TOT_SPMT_PRFMNC_VLM	= #{totSpmtPrfmncVlm}
		    	        , TOT_SPMT_PRFMNC_AMT	= #{totSpmtPrfmncAmt}

		    	        , RMRK					= #{rmrk}

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 AND CLT.APO_CD			= #{apoCd}
					 AND CLT.APO_SE			= #{apoSe}
					 AND CLT.CTGRY_CD		= #{ctgryCd}
					 AND CLT.ITEM_CD		= #{itemCd}
					 AND CLT.PRCHS_SLS_SE	= '2'
		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , CRNO
		    		  , YR

		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , STTG_UPBR_ITEM_SE
		    		  , PRCHS_SLS_SE

		    		  , SLS_CPRTN_SORT_TRST_VLM
		    	      , SLS_CPRTN_SORT_TRST_AMT
		    	      , SLS_CPRTN_TRST_VLM
		    	      , SLS_CPRTN_TRST_AMT
		    	      , SLS_CPRTN_SORT_EMSPAP_VLM
		    	      , SLS_CPRTN_SORT_EMSPAP_AMT
		    	      , SLS_SMPL_TRST_VLM
		    	      , SLS_SMPL_TRST_AMT
		    	      , SLS_SMPL_EMSPAP_VLM
		    	      , SLS_SMPL_EMSPAP_AMT

		    		  , SLS_EMSPAP_VLM
		    		  , SLS_EMSPAP_AMT
		    		  , SLS_TRST_VLM
		    		  , SLS_TRST_AMT

		    		  , DDC_EXPRT_VLM
					  , DDC_EXPRT_AMT
					  , DDC_VLM
					  , DDC_AMT
					  , DDC_ARMY_DLVGDS_VLM
					  , DDC_ARMY_DLVGDS_AMT
					  , DDC_MLSR_VLM
					  , DDC_MLSR_AMT

					  , SPMT_PRFMNC_VLM
					  , SPMT_PRFMNC_AMT
					  , SMPL_INPT_VLM
					  , SMPL_INPT_AMT

					  , AJMT_VLM
					  , AJMT_AMT

					  , TOT_TRMT_PRFMNC_VLM
		    	      , TOT_TRMT_PRFMNC_AMT
		    	      , TOT_SPMT_PRFMNC_VLM
		    	      , TOT_SPMT_PRFMNC_AMT

		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , (case when #{apoSe} is not null then #{apoSe}
		   			  			ELSE (SELECT OGNZ_SE_CD FROM TB_APC_OGNZ_INFO WHERE OGNZ_CD = #{apoCd})
		   			  			END)
		   			  , #{brno}
		   			  , (case when #{crno} is not null then #{crno}
		   			  			ELSE (SELECT CRNO FROM TB_EV_APO WHERE BRNO = #{brno})
		   			  			END)
		   			  , TO_CHAR(SYSDATE,'YYYY')

		   			  , (case when #{ctgryCd} is not null then #{ctgryCd}
		   			  			ELSE (SELECT CTGRY_CD FROM TB_EV_APO_YR_GPC_CD WHERE ITEM_CD = #{itemCd} AND BRNO = #{uoBrno})
		   			  			END)
		   			  , #{itemCd}
		   			  , #{sttgUpbrItemSe}
		   			  , #{prchsSlsSe}

		   			  , #{slsCprtnSortTrstVlm}
		    	      , #{slsCprtnSortTrstAmt}
		    	      , #{slsCprtnTrstVlm}
		    	      , #{slsCprtnTrstAmt}
		    	      , #{slsCprtnSortEmspapVlm}
		    	      , #{slsCprtnSortEmspapAmt}
		    	      , #{slsSmplTrstVlm}
		    	      , #{slsSmplTrstAmt}
		    	      , #{slsSmplEmspapVlm}
		    	      , #{slsSmplEmspapAmt}

		   			  , #{slsEmspapVlm}
		   			  , #{slsEmspapAmt}
		   			  , #{slsTrstVlm}
		   			  , #{slsTrstAmt}

		   			  , #{ddcExprtVlm}
		   			  , #{ddcExprtAmt}
		   			  , #{ddcVlm}
		   			  , #{ddcAmt}
		   			  , #{ddcArmyDlvgdsVlm}
		   			  , #{ddcArmyDlvgdsAmt}
		   			  , #{ddcMlsrVlm}
		   			  , #{ddcMlsrAmt}

		   			  , #{spmtPrfmncVlm}
		   			  , #{spmtPrfmncAmt}
		   			  , #{smplInptVlm}
		   			  , #{smplInptAmt}

		   			  , #{ajmtVlm}
		   			  , #{ajmtAmt}

		   			  , #{totTrmtPrfmncVlm}
		    	      , #{totTrmtPrfmncAmt}
		    	      , #{totSpmtPrfmncVlm}
		    	      , #{totSpmtPrfmncAmt}

		   			  , #{rmrk}

		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>

    <insert id="insertInvShipOgnPurSalMng03" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnPurSalMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_UO_ISO_ALL_PRCHS_SLS CLT  /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.insertInvShipOgnPurSalMng03 */
		USING DUAL
			ON (
					CLT.BRNO   			= #{brno}
				AND CLT.UO_BRNO	 		= #{uoBrno}
				AND CLT.CTGRY_CD 		= #{ctgryCd}
				AND CLT.ITEM_CD	 		= #{itemCd}
				AND CLT.PRCHS_SLS_SE	= '2'
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	        SLS_CPRTN_SORT_TRST_VLM		= #{slsCprtnSortTrstVlm}
		    	        , SLS_CPRTN_SORT_TRST_AMT		= #{slsCprtnSortTrstAmt}
		    	        , SLS_CPRTN_TRST_VLM			= #{slsCprtnTrstVlm}
		    	        , SLS_CPRTN_TRST_AMT			= #{slsCprtnTrstAmt}
		    	        , SLS_CPRTN_SORT_EMSPAP_VLM		= #{slsCprtnSortEmspapVlm}
		    	        , SLS_CPRTN_SORT_EMSPAP_AMT		= #{slsCprtnSortEmspapAmt}
		    	        , SLS_SMPL_TRST_VLM				= #{slsSmplTrstVlm}
		    	        , SLS_SMPL_TRST_AMT				= #{slsSmplTrstAmt}
		    	        , SLS_SMPL_EMSPAP_VLM			= #{slsSmplEmspapVlm}
		    	        , SLS_SMPL_EMSPAP_AMT			= #{slsSmplEmspapAmt}

		    	        , SLS_EMSPAP_VLM		= #{slsEmspapVlm}
		    	        , SLS_EMSPAP_AMT		= #{slsEmspapAmt}
		    	        , SLS_TRST_VLM			= #{slsTrstVlm}
		    	        , SLS_TRST_AMT			= #{slsTrstAmt}

		    	        , DDC_EXPRT_VLM			= #{ddcExprtVlm}
		    	        , DDC_EXPRT_AMT			= #{ddcExprtAmt}
		    	        , DDC_VLM				= #{ddcVlm}
		    	        , DDC_AMT				= #{ddcAmt}
		    	        , DDC_ARMY_DLVGDS_VLM	= #{ddcArmyDlvgdsVlm}
		    	        , DDC_ARMY_DLVGDS_AMT	= #{ddcArmyDlvgdsAmt}
		    	        , DDC_MLSR_VLM			= #{ddcMlsrVlm}
		    	        , DDC_MLSR_AMT			= #{ddcMlsrAmt}

		    	        , SPMT_PRFMNC_VLM		= #{spmtPrfmncVlm}
		    	        , SPMT_PRFMNC_AMT		= #{spmtPrfmncAmt}
		    	        , SMPL_INPT_VLM			= #{smplInptVlm}
		    	        , SMPL_INPT_AMT			= #{smplInptAmt}

		    	        , AJMT_VLM				= #{ajmtVlm}
		    	        , AJMT_AMT				= #{ajmtAmt}

		    	        , TOT_TRMT_PRFMNC_VLM	= #{totTrmtPrfmncVlm}
		    	        , TOT_TRMT_PRFMNC_AMT	= #{totTrmtPrfmncAmt}
		    	        , TOT_SPMT_PRFMNC_VLM	= #{totSpmtPrfmncVlm}
		    	        , TOT_SPMT_PRFMNC_AMT	= #{totSpmtPrfmncAmt}

		    	        , RMRK					= #{rmrk}

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 AND CLT.APO_CD			= #{apoCd}
					 AND CLT.APO_SE			= #{apoSe}
					 AND CLT.CTGRY_CD		= #{ctgryCd}
					 AND CLT.ITEM_CD		= #{itemCd}
					 AND CLT.PRCHS_SLS_SE	= '2'
		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , CRNO
		    		  , YR

		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , STTG_UPBR_ITEM_SE
		    		  , PRCHS_SLS_SE

		    		  , SLS_CPRTN_SORT_TRST_VLM
		    	      , SLS_CPRTN_SORT_TRST_AMT
		    	      , SLS_CPRTN_TRST_VLM
		    	      , SLS_CPRTN_TRST_AMT
		    	      , SLS_CPRTN_SORT_EMSPAP_VLM
		    	      , SLS_CPRTN_SORT_EMSPAP_AMT
		    	      , SLS_SMPL_TRST_VLM
		    	      , SLS_SMPL_TRST_AMT
		    	      , SLS_SMPL_EMSPAP_VLM
		    	      , SLS_SMPL_EMSPAP_AMT

		    		  , SLS_EMSPAP_VLM
		    		  , SLS_EMSPAP_AMT
		    		  , SLS_TRST_VLM
		    		  , SLS_TRST_AMT

		    		  , DDC_EXPRT_VLM
					  , DDC_EXPRT_AMT
					  , DDC_VLM
					  , DDC_AMT
					  , DDC_ARMY_DLVGDS_VLM
					  , DDC_ARMY_DLVGDS_AMT
					  , DDC_MLSR_VLM
					  , DDC_MLSR_AMT

					  , SPMT_PRFMNC_VLM
					  , SPMT_PRFMNC_AMT
					  , SMPL_INPT_VLM
					  , SMPL_INPT_AMT

					  , AJMT_VLM
					  , AJMT_AMT

					  , TOT_TRMT_PRFMNC_VLM
		    	      , TOT_TRMT_PRFMNC_AMT
		    	      , TOT_SPMT_PRFMNC_VLM
		    	      , TOT_SPMT_PRFMNC_AMT

		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , (case when #{apoSe} is not null then #{apoSe}
		   			  			ELSE (SELECT OGNZ_SE_CD FROM TB_APC_OGNZ_INFO WHERE OGNZ_CD = #{apoCd})
		   			  			END)
		   			  , #{brno}
		   			  , (case when #{crno} is not null then #{crno}
		   			  			ELSE (SELECT CRNO FROM TB_EV_APO WHERE APO_CD = #{apoCd})
		   			  			END)
		   			  , TO_CHAR(SYSDATE,'YYYY')

		   			  , (case when #{ctgryCd} is not null then #{ctgryCd}
		   			  			ELSE (SELECT CTGRY_CD FROM TB_EV_APO_YR_GPC_CD WHERE ITEM_CD = #{itemCd} AND BRNO = #{uoBrno})
		   			  			END)
		   			  , #{itemCd}
		   			  , #{sttgUpbrItemSe}
		   			  , '2'

		   			  , #{slsCprtnSortTrstVlm}
		    	      , #{slsCprtnSortTrstAmt}
		    	      , #{slsCprtnTrstVlm}
		    	      , #{slsCprtnTrstAmt}
		    	      , #{slsCprtnSortEmspapVlm}
		    	      , #{slsCprtnSortEmspapAmt}
		    	      , #{slsSmplTrstVlm}
		    	      , #{slsSmplTrstAmt}
		    	      , #{slsSmplEmspapVlm}
		    	      , #{slsSmplEmspapAmt}

		   			  , #{slsEmspapVlm}
		   			  , #{slsEmspapAmt}
		   			  , #{slsTrstVlm}
		   			  , #{slsTrstAmt}

		   			  , #{ddcExprtVlm}
		   			  , #{ddcExprtAmt}
		   			  , #{ddcVlm}
		   			  , #{ddcAmt}
		   			  , #{ddcArmyDlvgdsVlm}
		   			  , #{ddcArmyDlvgdsAmt}
		   			  , #{ddcMlsrVlm}
		   			  , #{ddcMlsrAmt}

		   			  , #{spmtPrfmncVlm}
		   			  , #{spmtPrfmncAmt}
		   			  , #{smplInptVlm}
		   			  , #{smplInptAmt}

		   			  , #{ajmtVlm}
		   			  , #{ajmtAmt}

		   			  , #{totTrmtPrfmncVlm}
		    	      , #{totTrmtPrfmncAmt}
		    	      , #{totSpmtPrfmncVlm}
		    	      , #{totSpmtPrfmncAmt}

		   			  , #{rmrk}

		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>

	<update id="updateInvShipOgnPurSalMng" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnPurSalMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.isom.mapper.InvShipOgnPurSalMngMapper.upateInvShipOgnPurSalMng */
	    		TB_PD_PrdcrCrclOgnVluIdctrMng
			   SET
			 	  AA	= #{aa}
			 	, BB 	= #{bb}
			 	, CC 	= #{cc}
			 	, CC_CODE 	= #{ccCode}
			 	, DD 	= #{dd}
			 	, DD_CODE 	= #{ddCode}
			 	, EE 	= #{ee}
			 	, FF 	= #{ff}
			 	, GG 	= #{gg}
			 	, HH 	= #{hh}
			 	, II 	= #{ii}
			 	, II_CODE 	= #{iiCode}
			 	, JJ 	= #{jj}
			 	, KK 	= #{kk}
			 	, LL 	= #{ll}
			 	, MM 	= #{mm}
			 	, NN 	= #{nn}
			 	, OO 	= #{oo}
			 	, PP 	= #{pp}
			 	, QQ 	= #{qq}
			 	, RR 	= #{rr}
			 	, SS 	= #{ss}
			 	, TT 	= #{tt}
			 	, UU 	= #{uu}
			 	, VV 	= #{vv}
			 	, WW 	= #{ww}
			 	, XX 	= #{xx}
			 	, YY 	= #{yy}
			 	, ZZ 	= #{zz}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND TEST_NO	= #{testNo}
    	]]>
    </update>


	<delete id="deleteInvShipOgnPurSalMng" parameterType="com.at.apcss.pd.isom.vo.InvShipOgnPurSalMngVO">
		<![CDATA[
		DELETE FROM TB_EV_UO_ISO_ALL_PRCHS_SLS
		 WHERE 1=1
					 AND BRNO		= #{brno}
					 AND UO_BRNO	= #{uoBrno}
					 AND CTGRY_CD	= #{ctgryCd}
					 AND ITEM_CD	= #{itemCd}
					 AND STTG_UPBR_ITEM_SE	= #{sttgUpbrItemSe}
					 AND PRCHS_SLS_SE	= #{prchsSlsSe}
		]]>
	</delete>

</mapper>