<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnReqMng" parameterType="com.at.apcss.pd.aom.vo.PrdcrCrclOgnReqMngVO" resultType="com.at.apcss.pd.aom.vo.PrdcrCrclOgnReqMngVO">
			SELECT /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.selectPrdcrCrclOgnReqMng */
				  CM.APO_CD
				, CM.APO_SE
				, CM.WRT_YN
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				, CM.APRV

				, EAM.YR
				, EAM.APLY_DAY
				, EAM.CORP_DDLN_SE_CD
				,(CASE WHEN TRIM(RAW_MTR_ENSR_SIGUN_CNT) IS NOT NULL THEN '1'
						WHEN TRIM(RAW_MTR_ENSR_CTPV_CNT) IS NOT NULL THEN '2'
						END
				) AS RAW_MTR_ENSR
				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, EAM.ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO CM ,
			  		(SELECT *
			  			FROM TB_EV_APLY_MNG
			  			WHERE 1=1
			  			<if test='yr != null and yr != ""'>
						  AND YR = #{yr}
						</if>
			  		) EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)
			   AND CM.APO_SE IS NOT NULL
			   AND CM.APO_CD IS NOT NULL
    		<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE = #{apoSe}
			</if>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST = #{cmptnInst}
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.II_CODE = #{ctpv}
			</if>
			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD = #{corpSeCd}
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD = #{corpDtlSeCd}
			</if>
			<if test='brno != null and brno != ""'>
				AND CM.BRNO = #{brno}
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>


		ORDER BY CM.CORP_NM DESC
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnReqMngList" parameterType="com.at.apcss.pd.aom.vo.PrdcrCrclOgnReqMngVO" resultType="com.at.apcss.pd.aom.vo.PrdcrCrclOgnReqMngVO">

    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
			SELECT * FROM
			(SELECT /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.selectPrdcrCrclOgnReqMngList */
				  CM.APO_CD
				, CM.APO_SE
				, CM.WRT_YN
				, CM.CTPV
				, CM.SGG
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.PIC_FLNM
				, CM.ZIP
				, CM.LOTNO_ADDR
				, CM.LOTNO_DTL_ADDR
				, CM.ROAD_NM_ADDR
				, CM.ROAD_NM_DTL_ADDR
				, CM.CORP_SE_CD
				, CM.CORP_DTL_SE_CD
				, CM.CORP_FNDN_DAY
				, CM.INVST_NOPE
				, CM.INVST_EXPND_FRMER_NOPE
				, CM.INVST_AMT
				, CM.FRMER_INVST_AMT
				, CM.PRDCR_GRP_INVST_AMT
				, CM.LOCGOV_INVST_AMT
				, CM.ETC_INVST_AMT
				, CM.RGLLBR_NOPE
				, CM.DW_NOPE
				, CM.DLBRR_NOPE
				, CM.ISO_HLD_YN
				, CM.UNTY_YN
				, CM.UO_BRNO
				, CM.UO_NM
				, CM.UNTY_YR
				<if test='yr != null and yr != ""'>
				, (CASE WHEN CM.APO_SE = '1'
						THEN CM.APRV
						WHEN CM.APO_SE = '2'
						THEN (SELECT (SELECT APRV FROM TB_EV_APO WHERE BRNO = AM.UO_BRNO) AS APRV
								FROM TB_EV_APLY_MNG AM
								WHERE 1=1
								  AND BRNO = CM.BRNO
								  AND APO_SE = '2'
								  AND YR = #{yr}
							)
					ELSE '' END
				) AS APRV
			  	</if>
				, CM.STBLT_YN
				<if test='stbltYnNm == "Y"'>
				,(SELECT LISTAGG(ITEM_NM, ' , ') WITHIN GROUP (ORDER BY ITEM_NM) AS STBLT_YN_NM
					FROM (SELECT
								(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = A.ITEM_CD) AS ITEM_NM
							FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT A
							WHERE 1=1
							  AND STBLT_YN = 'Y'
							  AND APO_SE = CM.APO_SE
							  AND TYPE_SE_NO = '8'
							<if test='apoSe == "2"'>
							  <if test='stbltYnBrno != null and stbltYnBrno != ""'>
							  AND UO_BRNO = #{brno}
							  </if>
							</if>
							  AND YR = EAM.YR
							  AND BRNO = CM.BRNO
							)
				) AS STBLT_YN_NM
				</if>
				, CM.MNGMST_YN
				<if test='frmhsHld == "Y"'>
				, NVL((SELECT COUNT(*)
					FROM TB_EV_FRMHS_APO
					WHERE 1=1
					  AND YR = EAM.YR
					  AND BRNO = CM.BRNO
				),0) AS FRMHS_CNT
				</if>
				, EAM.YR
				, EAM.APLY_DAY
				, EAM.CORP_DDLN_SE_CD
				,(CASE WHEN TRIM(RAW_MTR_ENSR_SIGUN_CNT) IS NOT NULL THEN '1'
						WHEN TRIM(RAW_MTR_ENSR_CTPV_CNT) IS NOT NULL THEN '2'
						END
				) AS RAW_MTR_ENSR

				, EAM.RAW_MTR_ENSR_SIGUN_CNT
				, EAM.RAW_MTR_ENSR_CTPV_CNT
				, EAM.CTPV_NM
				, EAM.SIGUN_NM
				, EAM.PRUO_FUND_APLY_AMT
				, (SELECT SUM(ISO_FUND_APLY_AMT)
					FROM (SELECT ISO_FUND_APLY_AMT
							FROM TB_EV_APLY_MNG
							WHERE BRNO IN (SELECT ISO_BRNO
											FROM TB_EV_APO_UO_CD
											WHERE UO_BRNO = CM.BRNO)
							)
				) AS ISO_FUND_APLY_AMT
				, EAM.APLY_TRGT_SE

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM (SELECT *
			  		FROM TB_EV_APO
			  		WHERE 1=1
			  		<if test='brno != null and brno != ""'>
			  		  AND BRNO = #{brno}
			  		  <if test='userType == "21"'>
			  		   OR BRNO IN (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{brno})
			  		  </if>
			  		</if>
			  		<if test='uoBrno != null and uoBrno != ""'>
			  		  AND BRNO in (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{uoBrno})
			  		</if>
			  		) CM
			  		, (SELECT *
			  			FROM TB_EV_APLY_MNG
			  			WHERE 1=1
			  			<if test='yr != null and yr != ""'>
			  		  	  AND YR = #{yr}
			  			</if>
			  			) EAM
			 WHERE 1=1
			   AND CM.BRNO = EAM.BRNO(+)
			   AND CM.APO_SE IS NOT NULL
			   AND CM.APO_CD IS NOT NULL

    		<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE = #{apoSe}
			</if>
    		<if test='cmptnInst != null and cmptnInst != ""'>
				AND CM.CMPTN_INST = #{cmptnInst}
			</if>
			<if test='ctpv != null and ctpv != ""'>
				AND CM.CTPV = #{ctpv}
			</if>
			<if test='corpSeCd != null and corpSeCd != ""'>
				AND CM.CORP_SE_CD = #{corpSeCd}
			</if>
			<if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
				AND CM.CORP_DTL_SE_CD = #{corpDtlSeCd}
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='corpDdlnSeCd != null and corpDdlnSeCd != ""'>
				AND EAM.CORP_DDLN_SE_CD = #{corpDdlnSeCd}
			</if>
			<if test='yrChk == "Y"'>
				AND EAM.YR = #{yr}
			</if>
		)
		WHERE 1=1
		<if test='aprv != null and aprv != ""'>
			AND APRV = #{aprv}
		</if>
		<if test='frmhsHldYn == "Y"'>
			AND FRMHS_CNT > 0
		</if>
		<if test='frmhsHldYn == "N"'>
			AND FRMHS_CNT = 0
		</if>
		<if test='stbltHldYn == "Y"'>
			AND STBLT_YN_NM IS NOT NULL
		</if>
		<if test='stbltHldYn == "N"'>
			AND STBLT_YN_NM IS NULL
		</if>

		ORDER BY APO_SE ASC , CORP_NM ASC
		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>

	<insert id="insertPrdcrCrclOgnReqMng" parameterType="com.at.apcss.pd.aom.vo.PrdcrCrclOgnReqMngVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertPrdcrCrclOgnReqMng */
	    	  INTO TB_EV_APO
	    		(
	    			UNTY_YN
	    		  , UO_NM
	    		  , UO_BRNO
	    		  , UNTY_YR

	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    #{untyYn}
	   			  , #{uoNm}
	   			  , #{uoBrno}
	   			  , #{untyYr}

	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>
	<update id="updatePrdcrCrclOgnReqMng" parameterType="com.at.apcss.pd.aom.vo.PrdcrCrclOgnReqMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.upatePrdcrCrclOgnReqMng */
	    		TB_EV_APO
			   SET
			 	  UNTY_YN		= #{untyYn}
			 	, UO_NM 		= #{uoNm}
			 	, UO_BRNO 		= #{uoBrno}
			 	, UNTY_YR 		= #{untyYr}
			 	, APRV			= #{aprv}
			 	, ISO_HLD_YN 	= #{isoHldYn}
    	]]>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND APO_CD	= #{apoCd}
    	]]>
    </update>


	<delete id="deletePrdcrCrclOgnReqMng" parameterType="com.at.apcss.pd.aom.vo.PrdcrCrclOgnReqMngVO">
		<![CDATA[
		DELETE 	/* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.deletePrdcrCrclOgnReqMng */
		FROM TB_PD_PrdcrCrclOgnVluIdctrMng
		 WHERE TEST_NO 	= #{testNo}
		]]>
	</delete>





	<insert id="insertEvAplyMng" parameterType="com.at.apcss.pd.aom.vo.PrdcrCrclOgnReqMngVO">
	<![CDATA[
    	MERGE INTO TB_EV_APLY_MNG CLT  /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertEvAplyMng */
		USING DUAL
			ON (
				CLT.APO_CD  = #{apoCd}
				AND CLT.YR  = #{yr}
				)
		WHEN MATCHED THEN
				 UPDATE /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertEvAplyMng */
					   SET
		    	          RAW_MTR_ENSR_SIGUN_CNT	= #{rawMtrEnsrSigunCnt}
		    	        , RAW_MTR_ENSR_CTPV_CNT		= #{rawMtrEnsrCtpvCnt}
		    	        , CTPV_NM					= #{ctpvNm}
		    	        , SIGUN_NM					= #{sigunNm}
		    	        , PRUO_FUND_APLY_AMT		= #{pruoFundAplyAmt}
		    	        , ISO_FUND_APLY_AMT			= #{isoFundAplyAmt}
		    	        , APLY_TRGT_SE				= #{aplyTrgtSe}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 AND CLT.APO_CD		= #{apoCd}
					 AND CLT.YR  		= #{yr}
		WHEN NOT MATCHED THEN
			 INSERT /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertEvAplyMng */
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , CRNO
		    		  , CORP_NM
		    		  , YR
		    		  , APLY_DAY
		    		  , RAW_MTR_ENSR_SIGUN_CNT
		    		  , RAW_MTR_ENSR_CTPV_CNT
		    		  , CTPV_NM
		    		  , SIGUN_NM
		    		  , PRUO_FUND_APLY_AMT
		    		  , ISO_FUND_APLY_AMT
		    		  , APLY_TRGT_SE
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , #{apoSe}
		   			  , #{brno}
		   			  , #{crno}
		   			  , #{corpNm}
		   			  , #{yr}
		   			  , SYSDATE
		   			  , #{rawMtrEnsrSigunCnt}
		   			  , #{rawMtrEnsrCtpvCnt}
		   			  , #{ctpvNm}
		   			  , #{sigunNm}
		   			  , #{pruoFundAplyAmt}
		   			  , #{isoFundAplyAmt}
		   			  , #{aplyTrgtSe}
		   			)
    	]]>
	</insert>


	<insert id="insertGpc" parameterType="com.at.apcss.pd.aom.vo.GpcVO">
	<![CDATA[
    	MERGE INTO TB_EV_APO_YR_GPC_CD CLT  /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertGpc */
		USING DUAL
			ON (
					CLT.APO_CD  	= #{apoCd}
				AND CLT.YR  		= #{yr}
				AND CLT.CTGRY_CD  	= #{ctgryCd}
				AND CLT.ITEM_CD  	= #{itemCd}
				AND CLT.STTG_UPBR_ITEM_SE  	= #{sttgUpbrItemSe}
				)
		WHEN MATCHED THEN
				 UPDATE /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertGpc */
					   SET
		    	          RMRK	= #{rmrk}
		    	]]>
				<if test='delYn != null and delYn != ""'>
						, DEL_YN 	= #{delYn}
				</if>
		    	<![CDATA[
						, SYS_LAST_CHG_DT		= SYSDATE
			    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
			    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
					 WHERE 1=1
					 AND CLT.APO_CD  	= #{apoCd}
					 AND CLT.YR  		= #{yr}
					 AND CLT.CTGRY_CD  	= #{ctgryCd}
					 AND CLT.ITEM_CD  	= #{itemCd}
					 AND CLT.STTG_UPBR_ITEM_SE  = #{sttgUpbrItemSe}
		WHEN NOT MATCHED THEN
			 INSERT /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.insertGpc */
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , CRNO
		    		  , CORP_NM

		    		  , YR
		    		  , STTG_UPBR_ITEM_SE
		    		  , CTGRY_CD
		    		  , CTGRY_NM
		    		  , ITEM_CD
		    		  , ITEM_NM
		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , #{apoSe}
		   			  , #{brno}
		   			  , #{crno}
		   			  , #{corpNm}

		   			  , TO_CHAR(SYSDATE,'YYYY')
		   			  , #{sttgUpbrItemSe}
		   			  , #{ctgryCd}
		   			  , (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'CTGRY_CD' AND CD_VL = #{ctgryCd})
		   			  , #{itemCd}
		   			  , #{itemNm}
		   			  , #{rmrk}

		   			  , SYSDATE
		   			  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
	</insert>

	<select id="selectGpcList" parameterType="com.at.apcss.pd.aom.vo.GpcVO" resultType="com.at.apcss.pd.aom.vo.GpcVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.selectGpcList */
				  CM.APO_CD
				, CM.APO_SE
				, CM.CORP_NM
				, CM.BRNO
				, CM.CRNO

				, CM.YR
				, CM.STTG_UPBR_ITEM_SE
				, CM.CTGRY_CD
				, CM.CTGRY_NM
				, CM.ITEM_CD
				, CM.ITEM_NM
				, CM.RMRK

				, CM.DEL_YN

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID

				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_APO_YR_GPC_CD CM
			 WHERE 1=1
    	]]>
			<if test='apoCd != null and apoCd != ""'>
				AND CM.APO_CD = #{apoCd}
			</if>
			<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE = #{apoSe}
			</if>
			<if test='brno != null and brno != ""'>
				AND CM.BRNO = #{brno}
			</if>
			<if test='crno != null and crno != ""'>
				AND CM.CRNO = #{crno}
			</if>
			<if test='corpNm != null and corpNm != ""'>
				AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
			</if>
			<if test='yr != null and yr != ""'>
				AND CM.YR = #{yr}
			</if>
		ORDER BY CM.SYS_LAST_CHG_DT DESC
    </select>

    <delete id="deleteGpc" parameterType="com.at.apcss.pd.aom.vo.GpcVO">
		<![CDATA[
		DELETE FROM TB_EV_APO_YR_GPC_CD	/* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.deleteGpc */
		 WHERE BRNO 	= #{brno}
		   AND ITEM_CD  = #{itemCd}
		   AND YR		= #{yr}
		   AND CTGRY_CD	= #{ctgryCd}
		   AND STTG_UPBR_ITEM_SE	= #{sttgUpbrItemSe}
		]]>
	</delete>

	<!-- 법인체마감 -->
	<update id="updateCorpDdlnSeCd" parameterType="com.at.apcss.pd.aom.vo.PrdcrCrclOgnReqMngVO">
	    	UPDATE /* com.at.apcss.pd.aom.mapper.PrdcrCrclOgnReqMngMapper.updateBrno */
	    		TB_EV_APLY_MNG
			   SET
			 	  CORP_DDLN_SE_CD	= #{corpDdlnSeCd}
			 WHERE 1=1
				<if test='brno != null and brno != ""'>
				AND BRNO 	= #{brno}
				</if>
				AND YR		= #{yr}
    </update>

</mapper>


