<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : GpcSelectPopupMapper.xml                                    				-->
<!-- DESC :  apc선택 팝업 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.10.03  	ljw        		Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.popup.mapper.GpcSelectPopupMapper">

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.popup.mapper.GpcSelectPopupMapper.selectGpcList		-->
	<!-- DESC : apc목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.10.03  	ljw        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectGpcList" parameterType="com.at.apcss.fm.popup.vo.GpcSelectPopupVO" resultType="com.at.apcss.fm.popup.vo.GpcSelectPopupVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->

		<![CDATA[
    	SELECT /* com.at.apcss.fm.popup.mapper.GpcSelectPopupMapper.selectGpcList */
    		   A.ITEM_CD   AS CTGRY_CD
		     , A.ITEM_NM   AS CTGRY_NM
		     , A.ITEM_CD	AS ITEM_CD
		     , A.ITEM_NM	AS ITEM_NM
		     , ''		AS RMRK
		  FROM TB_ITEM_CRTR A
		 WHERE A.DEL_YN = 'N'
		 ]]>
		<if test='ctgryNm != null and ctgryNm != ""'>
				AND A.ITEM_NM LIKE '%'||#{ctgryNm}||'%'
		</if>
		<if test='itemNm != null and itemNm != ""'>
				AND A.ITEM_NM LIKE '%'||#{itemNm}||'%'
		</if>
		 ORDER BY ITEM_NM ASC

		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

</mapper>