<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : AiMapper.xml                                          				-->
<!-- DESC : AI RAG Mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2025.10.23  	손민성        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.demo.mapper.AiMapper">
    <!-- APC명 검색 -->
    <select id="findByName" resultType="java.util.Map" parameterType="String">
        SELECT APC_CD,APC_NM
        FROM TB_APC_INFO
        WHERE APC_NM LIKE '%' || #{name} || '%'
    </select>
</mapper>