<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : PckgPrfmncMapper.xml                                   				-->
<!-- DESC : 포장실적 mapper                                            				-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.28  	신정철        		Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.pckg.mapper.GdsCdMapper">

<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.selectPckgPrfmncList	-->
	<!-- DESC : 포장실적 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectGdsCdList" parameterType="com.at.apcss.am.pckg.vo.GdsCdVO" resultType="com.at.apcss.am.pckg.vo.GdsCdVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.pckg.mapper.GdsCdMapper.selectGdsCdList */
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			,
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
				  pt0.*
				 , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) AS ITEM_NM
    			 , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
    			 , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)    	AS SPCFCT_NM
    			 , (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) 					AS GDS_GRD_NM
    			 , (SELECT FN_GET_SPMT_PCKG_UNIT_NM(pt0.SPMT_PCKG_UNIT_CD, pt0.APC_CD) FROM DUAL) 	AS SPMT_PCKG_UNIT_NM
    		  FROM (
	    	SELECT
			      GC.APC_CD AS APC_CD
				, GC.GDS_CD AS GDS_CD
				, GC.GDS_NM AS GDS_NM
				, GC.ITEM_CD AS ITEM_CD
				, GC.VRTY_CD AS VRTY_CD
				, GC.SPCFCT_CD AS SPCFCT_CD
				, GC.GDS_GRD AS GDS_GRD
				, GC.BRND_NM AS BRND_NM
				, GC.PLOR_CD AS PLOR_CD
				, GC.DEL_YN AS DEL_YN
				, GC.SPMT_PCKG_UNIT_CD AS SPMT_PCKG_UNIT_CD
				, GC.BX_GDS_QNTT AS BX_GDS_QNTT
				, GC.WGHT AS WGHT

			  FROM
			  	  TB_GDS_CD GC

			 WHERE 1=1
		]]>
		
		<if test='apcCd != null and apcCd != ""'>
			 AND GC.APC_CD = #{apcCd}
		</if>
		<if test='gdsCd != null and gdsCd != ""'>
			 AND GC.GDS_CD = #{gdsCd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
			 AND GC.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			 AND GC.VRTY_CD in (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{vrtyCd})))
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
			 AND GC.SPCFCT_CD = #{spcfctCd}
		</if>
		<if test='gdsGrd != null and gdsGrd != ""'>
			 AND GC.GDS_GRD = #{gdsGrd}
		</if>
		<if test='plorCd != null and plorCd != ""'>
			 AND GC.PLOR_CD = #{plorCd}
		</if>
		<if test='pckgSeCd != null and pckgSeCd != ""'>
			 AND GC.SPMT_PCKG_UNIT_CD = #{pckgSeCd}
		</if>
		
    	<![CDATA[
    		  ) pt0
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
</mapper>