<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : PckgPrfmncMapper.xml                                   				-->
<!-- DESC : 포장실적 mapper                                            				-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.28  	신정철        		Initial Creation                        -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.pckg.mapper.PckgPrfmncMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.selectPckgPrfmnc		-->
	<!-- DESC : 포장실적 단건 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <select id="selectPckgPrfmnc" parameterType="com.at.apcss.am.pckg.vo.PckgPrfmncVO" resultType="com.at.apcss.am.pckg.vo.PckgPrfmncVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.selectPckgPrfmnc */
				  PP.APC_CD			AS APC_CD
				, PP.PCKGNO			AS PCKGNO
				, PP.PCKG_SN		AS PCKG_SN
				, PP.PCKG_YMD		AS PCKG_YMD
				, PP.PCKG_QNTT		AS PCKG_QNTT
				, PP.PCKG_WGHT		AS PCKG_WGHT
				, PP.WAREHOUSE_SE_CD	AS WAREHOUSE_SE_CD
				, PP.PCKG_CMNDNO	AS PCKG_CMNDNO
				, PP.RMRK			AS RMRK
			  FROM TB_PCKG_PRFMNC PP
			 WHERE PP.APC_CD = #{apcCd}
			   AND WC.PCKGNO = #{wghno}
			   AND WC.PCKG_SN = #{wghno}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.selectPckgPrfmncList	-->
	<!-- DESC : 포장실적 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <select id="selectPckgPrfmncList" parameterType="com.at.apcss.am.pckg.vo.PckgPrfmncVO" resultType="com.at.apcss.am.pckg.vo.PckgPrfmncVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.selectPckgPrfmncList */
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			,
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
				  pt0.*
    			, (SELECT FN_GET_APC_NM(pt0.APC_CD) FROM DUAL) AS APC_NM
    			, (SELECT FN_GET_PRDCR_NM(pt0.RPRS_PRDCR_CD, pt0.APC_CD) FROM DUAL) AS RPRS_PRDCR_NM
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
                , (SELECT FN_GET_GRD_NM_GDS(pt0.APC_CD, pt0.ITEM_CD, pt0.GDS_GRD) FROM DUAL) AS GDS_GRD_NM
                , (SELECT FN_GET_COM_CD_VL_NM('PCKG_FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) AS FCLT_NM
                , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) AS SPCFCT_NM
				, (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', pt0.GDS_SE_CD, pt0.APC_CD) FROM DUAL) AS GDS_SE_NM
				, (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) AS WAREHOUSE_SE_NM
                , (SELECT FN_GET_SPMT_PCKG_UNIT_NM(pt0.SPMT_PCKG_UNIT_CD, pt0.APC_CD) FROM DUAL) AS SPMT_PCKG_UNIT_NM
                , (SELECT MAX(X.PCKG_CMNDNO) FROM TB_PCKG_INPT_PRFMNC X WHERE X.APC_CD = pt0.APC_CD AND X.PCKGNO = pt0.PCKGNO AND X.DEL_YN = 'N') AS PCKG_CMNDNO
                , pt0.PCKGNO || '-' || pt0.PCKG_SN AS PCKGNO_INDCT
    		  FROM (
	    	SELECT
			      GI.APC_CD			AS APC_CD
			    , GI.PCKGNO			AS PCKGNO
			    , GI.PCKG_SN		AS PCKG_SN
			    , GI.PCKG_YMD		AS PCKG_YMD
			    , GI.FCLT_CD		AS FCLT_CD
			    , GI.RPRS_PRDCR_CD	AS RPRS_PRDCR_CD
			    , GI.ITEM_CD		AS ITEM_CD
			    , GI.VRTY_CD		AS VRTY_CD
			    , GI.SPCFCT_CD		AS SPCFCT_CD
			    , GI.GDS_GRD		AS GDS_GRD
			    , GI.GDS_SE_CD      AS GDS_SE_CD
			    , GI.PRDCTN_YR      AS PRDCTN_YR
			    , GI.SPMT_PCKG_UNIT_CD  AS SPMT_PCKG_UNIT_CD
			    , GI.WAREHOUSE_SE_CD	AS WAREHOUSE_SE_CD
			    , GI.PCKG_QNTT		AS PCKG_QNTT
			    , GI.PCKG_WGHT		AS PCKG_WGHT
			    , GI.SPMT_QNTT		AS SPMT_QNTT
			    , GI.SPMT_WGHT		AS SPMT_WGHT
			    , GI.INVNTR_QNTT	AS INVNTR_QNTT
			    , GI.INVNTR_WGHT	AS INVNTR_WGHT
			    , GI.PLOR_CD 		AS PLOR_CD
			    , GI.DEL_YN			AS DEL_YN

			  FROM
			  	  TB_GDS_INVNTR GI
				, TB_PCKG_PRFMNC PP

			 WHERE GI.APC_CD = PP.APC_CD
			   AND GI.PCKGNO = PP.PCKGNO
			   AND GI.PCKG_SN = PP.PCKG_SN
			   AND GI.DEL_YN = 'N'
			   AND PP.DEL_YN = 'N'
		]]>
		<if test='apcCd != null and apcCd != ""'>
			   AND GI.APC_CD = #{apcCd}
		</if>
		<if test='pckgno != null and pckgno != ""'>
			   AND GI.PCKGNO = #{pckgno}
		</if>
		<if test='pckgYmd != null and pckgYmd != ""'>
			   AND GI.PCKG_YMD = #{pckgYmd}
		</if>
		<if test='pckgYmdFrom != null and pckgYmdFrom != ""'>
			   AND GI.PCKG_YMD <![CDATA[>=]]> #{pckgYmdFrom}
		</if>
		<if test='pckgYmdTo != null and pckgYmdTo != ""'>
			   AND GI.PCKG_YMD <![CDATA[<=]]> #{pckgYmdTo}
		</if>
		<if test='warehouseSeCd != null and warehouseSeCd != ""'>
			   AND GI.WAREHOUSE_SE_CD = #{warehouseSeCd}
		</if>
		<if test='fcltCd != null and fcltCd != ""'>
			   AND GI.FCLT_CD = #{fcltCd}
		</if>
		<if test='rprsPrdcrCd != null and rprsPrdcrCd != ""'>
			   AND GI.RPRS_PRDCR_CD = #{rprsPrdcrCd}
		</if>
		<if test='gdsGrd != null and gdsGrd != ""'>
			   AND GI.GDS_GRD = #{gdsGrd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
			   AND GI.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			   AND GI.VRTY_CD IN (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{vrtyCd})))
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
			   AND GI.SPCFCT_CD = #{spcfctCd}
		</if>
		<if test='gdsSeCd != null and gdsSeCd != ""'>
			   AND GI.GDS_SE_CD = #{gdsSeCd}
		</if>
		<if test='spmtPckgUnitCd != null and spmtPckgUnitCd != ""'>
			   AND GI.SPMT_PCKG_UNIT_CD = #{spmtPckgUnitCd}
		</if>
    	<![CDATA[
			 ORDER BY PCKG_YMD, PCKGNO, PCKG_SN
    		  ) pt0
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.insertPckgPrfmnc		-->
	<!-- DESC : 포장실적 등록.		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <insert id="insertPckgPrfmnc" parameterType="com.at.apcss.am.pckg.vo.PckgPrfmncVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.insertPckgPrfmnc */
	    		INTO TB_PCKG_PRFMNC (
					  APC_CD
					, PCKGNO
					, PCKG_SN
					, PCKG_YMD
					, PCKG_QNTT
					, PCKG_WGHT
					, WAREHOUSE_SE_CD
					, PCKG_CMNDNO
					, RMRK
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
					  #{apcCd}
					, #{pckgno}
					, #{pckgSn}
					, #{pckgYmd}
					, #{pckgQntt}
					, #{pckgWght}
					, #{warehouseSeCd}
					, #{pckgCmndno}
					, #{rmrk}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.updatePckgPrfmnc		-->
	<!-- DESC : 포장실적 변경.		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <update id="updatePckgPrfmnc" parameterType="com.at.apcss.am.pckg.vo.PckgPrfmncVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.updatePckgPrfmnc */
				TB_PCKG_PRFMNC
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, PCKG_YMD 			= #{pckgYmd}
				, PCKG_QNTT 		= #{pckgQntt}
				, PCKG_WGHT 		= #{pckgWght}
				, WAREHOUSE_SE_CD	= #{warehouseSeCd}
				, RMRK 				= #{rmrk}
				, PCKG_CMNDNO 		= #{pckgCmndno}
		]]>
			<if test='delYn != null and delYn != ""'>
				, DEL_YN			= #{delYn}
			</if>
		<![CDATA[
			 WHERE APC_CD = #{apcCd}
			   AND PCKGNO = #{pckgno}
			   AND PCKG_SN = #{pckgSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.updatePckgPrfmncForDelY-->
	<!-- DESC : 포장실적 삭제 : delyn Y 변경.                               				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <update id="updatePckgPrfmncForDelY" parameterType="com.at.apcss.am.pckg.vo.PckgPrfmncVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.updatePckgPrfmncForDelY */
				TB_PCKG_PRFMNC
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, DEL_YN					= 'Y'
			 WHERE APC_CD = #{apcCd}
			   AND PCKGNO = #{pckgno}
			   AND PCKG_SN = #{pckgSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.deletePckgPrfmnc		-->
	<!-- DESC : 포장실적 삭제.		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <delete id="deletePckgPrfmnc" parameterType="com.at.apcss.am.pckg.vo.PckgPrfmncVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.deletePckgPrfmnc */
			  FROM TB_PCKG_PRFMNC
			 WHERE APC_CD = #{apcCd}
			   AND PCKGNO = #{pckgno}
			   AND PCKG_SN = #{pckgSn}
		]]>
	</delete>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.updateInptPckgno		-->
	<!-- DESC : 포장투입실적 변경 - 포장번호 등록											-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <update id="updateInptPckgno" parameterType="com.at.apcss.am.pckg.vo.PckgPrfmncVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.pckg.mapper.PckgPrfmncMapper.updateInptPckgno */
				TB_PCKG_INPT_PRFMNC
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}

				, PCKGNO = #{pckgno}

			 WHERE APC_CD = #{apcCd}
			   AND SORTNO = #{sortno}
			   AND GRD_CD = #{grdCd}
			   AND PCKGNO IS NULL
		]]>
	</update>
</mapper>