<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : PckgCmndMapper.xml                                   				-->
<!-- DESC : 포장지시 mapper                                            				-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.08.21  	정희운			Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.pckg.mapper.PckgCmndMapper">
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgCmndMapper.selectPckgCmndList		-->
	<!-- DESC : 포장지시조회 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.21  	정희운			Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPckgCmndList" parameterType="com.at.apcss.am.pckg.vo.PckgCmndVO" resultType="com.at.apcss.am.pckg.vo.PckgCmndVO">
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
	    		, (SELECT FN_GET_COM_CD_VL_NM('PCKG_FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) 	AS FCLT_NM
				, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)   		AS VRTY_NM
				, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)    	AS SPCFCT_NM
				, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)							AS GDS_NM
				, (SELECT FN_GET_CNPT_NM(pt0.CNPT_CD, pt0.APC_CD) FROM DUAL) 						AS CNPT_NM
                , pt0.PCKG_CMNDNO || '-' || pt0.PCKG_CMND_SN 										AS PCKG_CMNDNO_INDCT
    		 FROM (
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
    		SELECT
    			  pt0.*
	    		, (SELECT FN_GET_COM_CD_VL_NM('PCKG_FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) 	AS FCLT_NM
				, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)   		AS VRTY_NM
				, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)    	AS SPCFCT_NM
				, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)							AS GDS_NM
				, (SELECT FN_GET_CNPT_NM(pt0.CNPT_CD, pt0.APC_CD) FROM DUAL) 						AS CNPT_NM
                , pt0.PCKG_CMNDNO || '-' || pt0.PCKG_CMND_SN 										AS PCKG_CMNDNO_INDCT
    		 FROM (
    	</if>
    	<![CDATA[
		    		SELECT /* com.at.apcss.am.pckg.mapper.PckgCmndMapper.selectPckgCmndList */
					        PC.APC_CD    		    AS APC_CD
					      ,	PC.PCKG_CMNDNO   	    AS PCKG_CMNDNO
					      , PC.PCKG_CMND_SN    	    AS PCKG_CMND_SN
					      , PC.PCKG_CMND_YMD   	    AS PCKG_CMND_YMD
					      , PC.FCLT_CD    		    AS FCLT_CD
					      , PC.CNPT_CD  		    AS CNPT_CD
					      , PC.DUDT_YMD  		    AS DUDT_YMD
					      , PC.ITEM_CD   		    AS ITEM_CD
					      , PC.VRTY_CD   		    AS VRTY_CD
					      , PC.SPCFCT_CD    	    AS SPCFCT_CD
					      , PC.OUTORDR_QNTT  	    AS OUTORDR_QNTT
					      , PC.OUTORDR_WGHT    	    AS OUTORDR_WGHT
					      , PC.BX_GDS_QNTT    	    AS BX_GDS_QNTT
					      , PC.CMND_QNTT   		    AS CMND_QNTT
					      , PC.CMND_WGHT    	    AS CMND_WGHT
					      , PC.OUTORDRNO    	    AS OUTORDRNO
					      , PC.GDS_CD   		    AS GDS_CD
					      , PC.RMRK    			    AS RMRK
					      , PC.DEL_YN    		    AS DEL_YN
					      , PC.SORTNO				AS SORTNO
					      , PC.SORT_SN				AS SORT_SN
					      , PC.WAREHOUSE_SE_CD		AS WAREHOUSE_SE_CD
					      , (SELECT
					                PCKG_QNTT
					           FROM TB_PCKG_PRFMNC X
					          WHERE X.PCKG_CMNDNO = PC.PCKG_CMNDNO
					            AND X.APC_CD = PC.APC_CD
					         ) 	AS PCKG_QNTT
					      , (SELECT
					                PCKG_WGHT
					           FROM TB_PCKG_PRFMNC X
					          WHERE X.PCKG_CMNDNO = PC.PCKG_CMNDNO
					            AND X.APC_CD = PC.APC_CD
					         ) 	AS PCKG_WGHT
					  FROM TB_PCKG_CMND PC
					 WHERE PC.DEL_YN = 'N'
					   AND PC.APC_CD = #{apcCd}
		]]>
		<if test='pckgCmndYmd != null and pckgCmndYmd != ""'>
			 AND PC.PCKG_CMND_YMD = #{pckgCmndYmd}
		</if>
		<if test='pckgCmndYmdFrom != null and pckgCmndYmdFrom != ""'>
			 AND PC.PCKG_CMND_YMD <![CDATA[>=]]> #{pckgCmndYmdFrom}
		</if>
		<if test='pckgCmndYmdTo != null and pckgCmndYmdTo != ""'>
			 AND PC.PCKG_CMND_YMD <![CDATA[<=]]> #{pckgCmndYmdTo}
		</if>
		<if test='fcltCd != null and fcltCd != ""'>
			 AND PC.FCLT_CD = #{fcltCd}
		</if>
		<if test='cnptCd != null and cnptCd != ""'>
			 AND PC.CNPT_CD = #{cnptCd}
		</if>
		<if test='cnptNm != null and cnptNm != ""'>
		     AND (SELECT FN_GET_CNPT_NM(PC.CNPT_CD, PC.APC_CD) FROM DUAL) LIKE '%' || #{cnptNm} || '%'
		</if>
		<if test='dudtYmd != null and dudtYmd != ""'>
			 AND PC.DUDT_YMD = #{dudtYmd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
			 AND PC.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			 AND PC.VRTY_CD in (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{vrtyCd})))
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
			 AND PC.SPCFCT_CD = #{spcfctCd}
		</if>
		<if test='outordrno != null and outordrno != ""'>
			 AND PC.OUTORDRNO = #{outordrno}
		</if>
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
		ORDER BY PCKG_CMNDNO, PCKG_CMND_SN, PCKG_CMND_YMD
	    		  ) pt0
				OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
				FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
		ORDER BY PCKG_CMNDNO, PCKG_CMND_SN, PCKG_CMND_YMD
    		  	) pt0
    	</if>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgCmndMapper.insertPckgInpt			-->
	<!-- DESC : 포장지시등록 등록.		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.21  	정희운			Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertPckgCmnd" parameterType="com.at.apcss.am.pckg.vo.PckgCmndVO">
    	<![CDATA[
	   			INSERT  /* com.at.apcss.am.pckg.mapper.PckgCmndMapper.insertPckgInpt */
	   			INTO TB_PCKG_CMND
	   			(
	   				  APC_CD
					, PCKG_CMNDNO
					, PCKG_CMND_SN
					, PCKG_CMND_YMD
					, FCLT_CD
					, CNPT_CD
					, DUDT_YMD
					, ITEM_CD
					, VRTY_CD
					, SPCFCT_CD
					, OUTORDR_QNTT
					, OUTORDR_WGHT
					, BX_GDS_QNTT
					, CMND_QNTT
					, CMND_WGHT
					, OUTORDRNO
					, GDS_CD
					, RMRK
					, SORTNO
					, SORT_SN
					, WAREHOUSE_SE_CD
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_USER_ID
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_USER_ID
					, SYS_LAST_CHG_PRGRM_ID
				)
				VALUES
				(
					  #{apcCd}
					, #{pckgCmndno}
					, #{pckgCmndSn}
					, #{pckgCmndYmd}
					, #{fcltCd}
					, #{cnptCd}
					, #{dudtYmd}
					, #{itemCd}
					, #{vrtyCd}
					, #{spcfctCd}
					, #{outordrQntt}
					, #{outordrWght}
					, #{bxGdsQntt}
					, #{cmndQntt}
					, #{cmndWght}
					, #{outordrno}
					, #{gdsCd}
					, #{rmrk}
					, #{sortno}
					, #{sortSn}
					, #{warehouseSeCd}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
				)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgCmndMapper.deletePckgInpt			-->
	<!-- DESC : 포장지시등록 삭제.		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.21  	정희운			Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="deletePckgCmnd" parameterType="com.at.apcss.am.pckg.vo.PckgCmndVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.pckg.mapper.PckgCmndMapper.deletePckgInpt */
			       TB_PCKG_CMND
			   SET SYS_LAST_CHG_DT 			= SYSDATE
				 , SYS_LAST_CHG_USER_ID 	= #{sysLastChgUserId}
				 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				 , DEL_YN					= 'Y'
			 WHERE APC_CD = #{apcCd}
			   AND PCKG_CMNDNO = #{pckgCmndno}
		]]>
	</update>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.pckg.mapper.PckgCmndMapper.selectRegPckgCmndList	-->
	<!-- DESC : 포장지시조회 내역 목록 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.25  	김호			Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectRegPckgCmndList" parameterType="com.at.apcss.am.pckg.vo.PckgCmndVO" resultType="com.at.apcss.am.pckg.vo.PckgCmndVO">
   		<![CDATA[
	   		SELECT
	   			  pt0.*
	    		, (SELECT FN_GET_COM_CD_VL_NM('PCKG_FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) 	AS FCLT_NM
				, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)   		AS VRTY_NM
				, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)    	AS SPCFCT_NM
				, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)	AS GDS_NM
				, (SELECT FN_GET_CNPT_NM(pt0.CNPT_CD, pt0.APC_CD) FROM DUAL) AS CNPT_NM
	   		 FROM (
	    		SELECT /* com.at.apcss.am.pckg.mapper.PckgCmndMapper.selectRegPckgCmndList */
				        PC.APC_CD    		        AS APC_CD
				      ,	PC.PCKG_CMNDNO   	        AS PCKG_CMNDNO
				      , MAX(PC.PCKG_CMND_YMD)   	AS PCKG_CMND_YMD
				      , MAX(PC.FCLT_CD)    		    AS FCLT_CD
				      , MAX(PC.CNPT_CD)  		    AS CNPT_CD
				      , MAX(PC.DUDT_YMD)  		    AS DUDT_YMD
				      , PC.ITEM_CD   		        AS ITEM_CD
				      , PC.VRTY_CD   		        AS VRTY_CD
				      , PC.SPCFCT_CD    	        AS SPCFCT_CD
				      , SUM(PC.OUTORDR_QNTT)  	    AS OUTORDR_QNTT
				      , SUM(PC.OUTORDR_WGHT)    	AS OUTORDR_WGHT
				      , MAX(PC.BX_GDS_QNTT)    	    AS BX_GDS_QNTT
				      , SUM(PC.CMND_QNTT)   		AS CMND_QNTT
				      , SUM(PC.CMND_WGHT)    	    AS CMND_WGHT
				      , MAX(PC.OUTORDRNO)    	    AS OUTORDRNO
				      , MAX(PC.GDS_CD)   		    AS GDS_CD
				      , MAX(PC.RMRK)    			AS RMRK
				      , MAX(PC.DEL_YN)    		    AS DEL_YN
				      , MAX(PC.WAREHOUSE_SE_CD)		AS WAREHOUSE_SE_CD
				      , (SELECT
				                PCKG_QNTT
				           FROM TB_PCKG_PRFMNC X
				          WHERE X.PCKG_CMNDNO = PC.PCKG_CMNDNO
				            AND X.APC_CD = PC.APC_CD
				         ) 	AS PCKG_QNTT
				      , (SELECT
				                PCKG_WGHT
				           FROM TB_PCKG_PRFMNC X
				          WHERE X.PCKG_CMNDNO = PC.PCKG_CMNDNO
				            AND X.APC_CD = PC.APC_CD
				         ) 	AS PCKG_WGHT
				  FROM TB_PCKG_CMND PC
				 WHERE PC.DEL_YN = 'N'
				   AND PC.APC_CD = #{apcCd}
		]]>
		<if test='pckgCmndYmd != null and pckgCmndYmd != ""'>
				   AND PC.PCKG_CMND_YMD = #{pckgCmndYmd}
		</if>
		<![CDATA[
			  GROUP BY PC.APC_CD, PC.PCKG_CMNDNO, PC.ITEM_CD, PC.VRTY_CD, PC.SPCFCT_CD
			  ORDER BY PCKG_CMNDNO, PCKG_CMND_YMD
	    		  ) pt0
		]]>
    </select>
</mapper>