<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.apcmngsys.apcss.pd.sprt.mapper.SprtBizRsltInqMapper">

    <select id="selectSprtBizRsltInqList" parameterType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO" resultType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO">

        SELECT
        ROWNUM AS ROW_SEQ
        , COUNT(*) OVER() AS TOTAL_RECORD_COUNT
        , pt0.*
        FROM (

        SELECT T1.SPRT_BIZ_YR AS SPRT_BIZ_YR
             , T1.SPRT_BIZ_NM AS SPRT_BIZ_NM
             , T1.BZMN_CONM AS BZMN_CONM
             , T1. CRNO AS CRNO
             , T1.BRNO AS BRNO
             , ( SELECT FN_GET_COM_CD_VL_NM('UNTY_CTPV', T1.STDG_CTPV_CD) FROM DUAL ) AS STDG_CTPV_CD
             , ( SELECT FN_GET_COM_CD_VL_EXPLN('UNTY_SGG', T1.STDG_CD) FROM DUAL ) AS STDG_SGG_CD
             , T1.SLCTN_YR AS SLCTN_YR
             , T1.SPRT_YR AS SPRT_YR
             , T1.ALTMNT_AMT AS ALTMNT_AMT
             , T1.ONSLF_BRDN_AMT AS ONSLF_BRDN_AMT
             , T1.ALTMNT_INT AS ALTMNT_INT
             , T1.RMRK AS RMRK

             , ( SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = T1.ITEM_CD ) AS ITEM_CD
             , ( SELECT FN_GET_COM_CD_VL_NM ('WRHS_SE_CD', T1.WRHS_SE_CD ) FROM DUAL) AS BIZ_TYPE

          FROM (  SELECT A.SPRT_BIZ_YR AS SPRT_BIZ_YR
                       , A.SPRT_BIZ_NM AS SPRT_BIZ_NM
                       , C.BZMN_CONM AS BZMN_CONM
                       , CASE
                             WHEN C.PSN_SE_CD = '2' THEN B.CRNO
                             ELSE ''
                          END AS CRNO
                       , CASE
                             WHEN C.PSN_SE_CD = '2' THEN B.BRNO
                             ELSE ''
                          END AS BRNO
                       , C.STDG_CTPV_CD AS STDG_CTPV_CD
                       , C.STDG_CD AS STDG_CD
                       , D.SLCTN_YR AS SLCTN_YR
                       , D.SPRT_YR AS SPRT_YR
                       , D.ALTMNT_AMT AS ALTMNT_AMT
                       , D.ALTMNT_INT AS ALTMNT_INT
                       , D.RMRK AS RMRK
                       , D.ONSLF_BRDN_AMT AS ONSLF_BRDN_AMT
                       , D.SPRT_BIZ_CD AS SPRT_BIZ_CD
                       , D.SPRT_OGNZ_ID AS SPRT_OGNZ_ID
                       , D.REG_SEQ AS REG_SEQ
                       , E.ITEM_CD AS ITEM_CD
                       , E.WRHS_SE_CD AS WRHS_SE_CD
                  FROM TB_EV_SPRT_BIZ_MSTR A
                     , TB_EV_SPRT_BIZ_OGNZ B
                     , TB_COM_CORP_BZMN C
                     , TB_EV_SPRT_BIZ_ALTMNT D
                     , ( SELECT SPRT_BIZ_YR
                              , SPRT_BIZ_CD
                              , SPRT_OGNZ_ID
                              , REG_SEQ
                              , MAX( CASE
                                        WHEN ATRB_CD = 'ITEM_CD' THEN ATRB_NM
                                      END ) AS ITEM_CD
                              , MAX( CASE
                                        WHEN ATRB_CD = 'WRHS_SE_CD' THEN ATRB_NM
                                      END ) AS WRHS_SE_CD
                           FROM TB_EV_SPRT_BIZ_ALTMNT_ATRB
                          WHERE 1=1
                            AND DEL_YN = 'N'
                       GROUP BY SPRT_BIZ_YR
                              , SPRT_BIZ_CD
                              , SPRT_OGNZ_ID
                              , REG_SEQ ) E
                  WHERE 1=1
                    AND A.SPRT_BIZ_YR = B.SPRT_BIZ_YR
                    AND A.SPRT_BIZ_CD = B.SPRT_BIZ_CD
                    AND B.BRNO = C.BRNO
                    AND B.SPRT_BIZ_YR = D.SPRT_BIZ_YR
                    AND B.SPRT_BIZ_CD = D.SPRT_BIZ_CD
                    AND B.SPRT_OGNZ_ID = D.SPRT_OGNZ_ID
                    AND D.SPRT_BIZ_YR = E.SPRT_BIZ_YR(+)
                    AND D.SPRT_BIZ_CD = E.SPRT_BIZ_CD(+)
                    AND D.SPRT_OGNZ_ID = E.SPRT_OGNZ_ID(+)
                    AND D.REG_SEQ = E.REG_SEQ(+)
                    AND C.USE_YN = 'Y'
                    AND A.DEL_YN = 'N'
                    AND B.DEL_YN = 'N'
                    AND C.DEL_YN = 'N'
                    AND D.DEL_YN = 'N'
                <if test='sprtBizSe != null and sprtBizSe != ""'>
                    AND A.SPRT_BIZ_CD = #{sprtBizSe}
                </if>
                <if test='crtrYmdFrom != null and crtrYmdFrom != "" and crtrYmdTo != null and crtrYmdTo != ""'>
                    AND A.SPRT_BIZ_YR BETWEEN #{crtrYmdFrom} AND #{crtrYmdTo}
                </if>
                    AND B.CRNO LIKE '%' || #{crno} || '%'
                    AND B.BRNO LIKE '%' || #{brno} || '%'
                    AND C.BZMN_CONM LIKE '%' || #{bzmnConm} || '%'
                <if test='sprtYmdFrom != null and sprtYmdFrom != "" and sprtYmdTo != null and sprtYmdTo != ""'>
                    AND D.SPRT_YR BETWEEN #{sprtYmdFrom} AND #{sprtYmdTo}
                </if>
                  ORDER BY SPRT_BIZ_YR DESC, SPRT_BIZ_NM
            ) T1

          ) pt0


    </select>

    <select id="selectSprtBizRsltInqSeCd" parameterType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO" resultType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO">
        SELECT ROWNUM AS ROW_SEQ
             , pt0.*
        FROM (
                 SELECT MIN(SPRT_BIZ_YR) AS SPRT_BIZ_YR_MIN
                      , MAX(SPRT_BIZ_YR) AS SPRT_BIZ_YR_MAX
                      , NVL(MIN(SPRT_YR), TO_CHAR(SYSDATE, 'YYYY')) AS SPRT_YR_MIN
                      , NVL(MAX(SPRT_YR), TO_CHAR(SYSDATE, 'YYYY')) AS SPRT_YR_MAX
                      , SPRT_BIZ_CD
                      , SPRT_BIZ_NM
                 FROM TB_EV_SPRT_BIZ_MSTR
                 WHERE 1=1
                   AND DEL_YN = 'N'
                 GROUP BY SPRT_BIZ_NM, SPRT_BIZ_CD
                 ORDER BY SPRT_BIZ_NM
             ) pt0
    </select>

    <select id="selectComCorpBzmn" parameterType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO" resultType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO">
        SELECT ROWNUM AS ROW_SEQ
             , pt0.*
        FROM (
                 SELECT BRNO AS BRNO
                      , BZMN_CONM AS BZMN_CONM
                 FROM TB_COM_CORP_BZMN
             ) pt0
    </select>

    <select id="selectComCorp" parameterType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO" resultType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO">
        SELECT ROWNUM AS ROW_SEQ
             , pt0.*
        FROM (
                 SELECT CRNO AS CRNO
                      , CORP_NM AS CORP_NM
                 FROM TB_COM_CORP
             ) pt0
    </select>

    <select id="selectSprtBizOgnz" parameterType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO" resultType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO">
        SELECT ROWNUM AS ROW_SEQ
             , pt0.*
        FROM (
                 SELECT SPRT_BIZ_YR AS SPRT_BIZ_YR
                      , SPRT_BIZ_CD AS SPRT_BIZ_CD
                      , BRNO AS BRNO
                 FROM TB_EV_SPRT_BIZ_OGNZ
                 GROUP BY SPRT_BIZ_YR, SPRT_BIZ_CD, BRNO
             ) pt0
    </select>

    <insert id="insertSprtBizRsltInqList" parameterType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO">
        SELECT 1 FROM DUAL;
    </insert>

    <insert id="insertSpComCorpAdd" statementType="CALLABLE" parameterType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO">
    	<![CDATA[
        {   call SP_COM_CORP_ADD (
                  #{sysLastChgUserId}           -- V_USER_ID
                , #{sysLastChgPrgrmId}          -- V_PRGRM_ID
                , #{crno}                       -- V_CRNO
                , #{bzmnConm}                   -- V_CORP_NM
                , #{corpFndnYmd}                -- V_CORP_FNDN_YMD
                , #{corpRprsvNm}                -- V_CORP_RPRSV_NM
                , #{corpAddr}                   -- V_CORP_ADDR
                , #{corpTelno}                  -- V_CORP_TELNO
                , #{corpZip}                    -- V_CORP_ZIP
                , #{stdgCtpvCd}                 -- V_STDG_CTPV_CD
                , #{stdgSggCd}                  -- V_STDG_SGG_CD
                , #{stdgCd}                     -- V_STDG_CD
                , #{lotnoAddr}                  -- V_LOTNO_ADDR
                , #{lotnoDtlAddr}               -- V_LOTNO_DTL_ADDR
                , #{roadNmCd}                   -- V_ROAD_NM_CD
                , #{roadNmAddr}                 -- V_ROAD_NM_ADDR
                , #{roadNmDaddr}                -- V_ROAD_NM_DADDR
                , #{errCd, jdbcType=VARCHAR, mode=OUT}
                , #{errMsg, jdbcType=VARCHAR, mode=OUT}
            )
        }
        ]]>
    </insert>

    <insert id="insertSpComBzmnAdd" statementType="CALLABLE" parameterType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO">
    	<![CDATA[
        {   call SP_COM_BZMN_ADD (
                  #{sysLastChgUserId}           -- v_user_id
                , #{sysLastChgPrgrmId}          -- v_prgrm_id
                , #{brno}                       -- v_brno
                , #{psnSeCd}                    -- v_psn_se_cd
                , #{bzmnConm}                   -- v_bzmn_conm
                , #{crno}                       -- v_crno
                , #{ognzCd}                     -- v_ognz_cd
                , #{rprsvNm}                    -- v_rprsv_nm
                , #{instAbbrNm}                 -- v_inst_abbr_nm
                , #{bplcAddr}                   -- v_bplc_addr
                , #{bplcDaddr}                  -- v_bplc_daddr
                , #{rprsvZip}                   -- v_rprsv_zip
                , #{rprsvEmlAddr}               -- v_rprsv_eml_addr
                , #{rprsvTelno}                 -- v_rprsv_telno
                , #{rprsvMblTelno}              -- v_rprsv_mbl_telno
                , #{tpbizCd}                    -- v_tpbiz_cd
                , #{bzstatCd}                   -- v_bzstat_cd
                , #{clsNm}                      -- v_cls_nm
                , #{mainPrdtNm}                 -- v_main_prdt_nm
                , #{hmpgUrl}                    -- v_hmpg_url
                , #{bizSttsCd}                  -- v_biz_stts_cd
                , #{opbizYmd}                   -- v_opbiz_ymd
                , #{clsbizYmd}                  -- v_clsbiz_ymd
                , #{stdgCtpvCd}                 -- v_stdg_ctpv_cd
                , #{stdgSggCd}                  -- v_stdg_sgg_cd
                , #{stdgCd}                     -- v_stdg_cd
                , #{instNo, jdbcType=VARCHAR, mode=OUT}
                , #{ognzCd, jdbcType=VARCHAR, mode=OUT}
                , #{errCd, jdbcType=VARCHAR, mode=OUT}
                , #{errMsg, jdbcType=VARCHAR, mode=OUT}
            )
        }
        ]]>
    </insert>

    <insert id="insertSpSprtGetBizOgnzId" statementType="CALLABLE" parameterType="com.apcmngsys.apcss.pd.sprt.vo.SprtBizRsltInqVO">
    	<![CDATA[
        {   call SP_SPRT_GET_BIZ_OGNZ_ID (
                  #{sysLastChgUserId}
                , #{sysLastChgPrgrmId}
                , #{sprtBizYr}
                , #{sprtBizCd}
                , #{crno}
                , #{brno}
                , #{upBrno}
                , #{sprtOgnzId, jdbcType=VARCHAR, mode=OUT}
                , #{errCd, jdbcType=VARCHAR, mode=OUT}
                , #{errMsg, jdbcType=VARCHAR, mode=OUT}
            )
        }
        ]]>
    </insert>


</mapper>
