<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : OprtrMapper.xml                                   					-->
<!-- DESC : 작업생산자  mapper                                    				-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.13  	김 호         	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.oprtr.mapper.OprtrMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.oprtr.mapper.OprtrMapper.selectOprtrList			-->
	<!-- DESC : 작업생산자 목록 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectOprtrList" parameterType="com.at.apcss.am.oprtr.vo.OprtrVO" resultType="com.at.apcss.am.oprtr.vo.OprtrVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.oprtr.mapper.OprtrMapper.selectOprtrList */
	    		   OM.APC_CD            AS APC_CD
			     , OM.FLNM              AS FLNM
			     , OM.BRDT              AS BRDT
			     , OM.TELNO             AS TELNO
			     , OM.ADDR              AS ADDR
			     , OM.JNCMP_YMD         AS JNCMP_YMD
			     , OM.BANK_CD           AS BANK_CD
			     , (SELECT FN_UTL_DECRYPT_ARIA(OM.ACTNO) FROM DUAL)		AS ACTNO
			     , OM.DPSTR_NM          AS DPSTR_NM
			     , OM.RMRK              AS RMRK
			     , OM.DEL_YN            AS DEL_YN
			  FROM TB_OPRTR_MNG OM
			 WHERE OM.APC_CD = #{apcCd}
		]]>
		<if test='flnm != null and flnm != ""'>
		   AND OM.FLNM LIKE '%' ||  #{flnm} || '%'
		</if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.oprtr.mapper.OprtrMapper.insertOprtr				-->
	<!-- DESC : 작업생산자 등록.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertOprtr" parameterType="com.at.apcss.am.oprtr.vo.OprtrVO">
    	<![CDATA[
    	INSERT INTO TB_OPRTR_MNG
    		(
    			APC_CD
    		  , FLNM
		      , BRDT
		      , TELNO
		      , ADDR
		      , JNCMP_YMD
		      , BANK_CD
		      , ACTNO
		      , DPSTR_NM
    		  , RMRK
    		  , DEL_YN
    		  , SYS_FRST_INPT_DT
    		  , SYS_FRST_INPT_USER_ID
    		  , SYS_FRST_INPT_PRGRM_ID
    		  , SYS_LAST_CHG_DT
    		  , SYS_LAST_CHG_USER_ID
    		  , SYS_LAST_CHG_PRGRM_ID
    		)
   		VALUES
   			(
   				#{apcCd}
    		  , #{flnm}
    		  , #{brdt}
    		  , #{telno}
    		  , #{addr}
    		  , #{jncmpYmd}
    		  , #{bankCd}
    		  , FN_UTL_ENCRYPT_ARIA(#{actno})
    		  , #{dpstrNm}
    		  , #{rmrk}
    		  , #{delYn}
    		  , SYSDATE
    		  , #{sysFrstInptUserId}
    		  , #{sysFrstInptPrgrmId}
    		  , SYSDATE
    		  , #{sysLastChgUserId}
    		  , #{sysLastChgPrgrmId}
   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.oprtr.mapper.OprtrMapper.updateOprtr				-->
	<!-- DESC : 작업생산자 변경.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateOprtr" parameterType="com.at.apcss.am.oprtr.vo.OprtrVO">
		<![CDATA[
		UPDATE TB_OPRTR_MNG
		   SET SYS_LAST_CHG_DT 			= SYSDATE
    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
    		 , TELNO					= #{telno}
    		 , ADDR						= #{addr}
    		 , JNCMP_YMD				= #{jncmpYmd}
    		 , BANK_CD					= #{bankCd}
    		 , ACTNO					= FN_UTL_ENCRYPT_ARIA(#{actno})
    		 , DPSTR_NM					= #{dpstrNm}
    		 , RMRK						= #{rmrk}
    		 , DEL_YN					= #{delYn}
		 WHERE APC_CD 					= #{apcCd}
		   AND FLNM 					= #{flnm}
		   AND BRDT 					= #{brdt}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.oprtr.mapper.OprtrMapper.deleteOprtr				-->
	<!-- DESC : 작업생산자 삭제.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteOprtr" parameterType="com.at.apcss.am.oprtr.vo.OprtrVO">
		<![CDATA[
		DELETE FROM TB_OPRTR_MNG
		 WHERE APC_CD			= #{apcCd}
		   AND FLNM 			= #{flnm}
 		   AND BRDT 			= #{brdt}
		]]>
	</delete>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.oprtr.mapper.OprtrMapper.oprtrDelible				-->
	<!-- DESC : 작업생산자 삭제 가능 여부.	                                       	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.01.25  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="oprtrDelible" parameterType="com.at.apcss.am.oprtr.vo.OprtrVO" resultType="com.at.apcss.am.oprtr.vo.OprtrVO">
    	<![CDATA[
	    	SELECT X.* /* com.at.apcss.am.oprtr.mapper.OprtrMapper.oprtrDelible */
			  FROM (
			           SELECT
			                  '선별작업실적' AS DELIBLE
			                 , (SELECT COUNT(*)
			                      FROM TB_OPRTR_SORT_PRFMNC X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.BRDT   = #{brdt}
			                       AND X.FLNM   = #{flnm}
			                       AND X.DEL_YN = 'N'
			                  )  AS CNT
			             FROM DUAL
			           UNION ALL
			           SELECT
			                  '포장작업실적' AS DELIBLE
			                 , (SELECT COUNT(*)
			                      FROM TB_OPRTR_PCKG_PRFMNC X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.BRDT   = #{brdt}
			                       AND X.FLNM   = #{flnm}
			                       AND X.DEL_YN = 'N'
			                  )  AS CNT
			             FROM DUAL
			         ) X
			 WHERE CNT > 0
		]]>
    </select>

</mapper>


