<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : UntyOgnzMapper.xml                                    				-->
<!-- DESC : 통합조직 정보 mapper                                       			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2024.07.22  	신정철        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.co.ognz.mapper.UntyOgnzMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectNewUntyOgnzId		-->
	<!-- DESC : 통합조직 신규ID 조회                                            	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectNewUntyOgnzId" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO" resultType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectNewUntyOgnzId */
				  'N'	AS DEL_YN
				, FN_GET_ID_UNTY_OGNZ()		AS UNTY_OGNZ_ID
			  FROM DUAL
    	]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectUntyOgnz			-->
	<!-- DESC : 통합조직 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectUntyOgnz" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO" resultType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectUntyOgnz */
				  UO.UNTY_OGNZ_ID       AS UNTY_OGNZ_ID
				, UO.UNTY_OGNZ_TYPE     AS UNTY_OGNZ_TYPE
				, UO.UNTY_OGNZ_NM       AS UNTY_OGNZ_NM
				, UO.UP_UNTY_OGNZ_ID    AS UP_UNTY_OGNZ_ID
				, UO.UNTY_OGNZ_LINK_CD  AS UNTY_OGNZ_LINK_CD
				, UO.INDCT_SEQ          AS INDCT_SEQ
				, UO.CTPV               AS CTPV
				, UO.SGG                AS SGG
				, UO.DEL_YN             AS DEL_YN			
			  FROM TB_UNTY_OGNZ UO
			 WHERE UO.UNTY_OGNZ_ID = #{untyOgnzId}
    	]]>
    </select>
    
    
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectOgnzApc			-->
	<!-- DESC : 관리APC 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectOgnzApc" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO" resultType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectOgnzApc */
				  APC.UNTY_OGNZ_ID
				, APC.APC_CD
				, APC.INDCT_SEQ
				, APC.DEL_YN
				, APC.CTPV
				, APC.SGG			
			  FROM TB_UNTY_OGNZ_APC APC
			 WHERE APC.UNTY_OGNZ_ID = #{untyOgnzId}
			   AND APC.APC_CD = #{apcCd}
    	]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectUntyOgnzList		-->
	<!-- DESC : 통합조직 목록조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectUntyOgnzList" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO" resultType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectUntyOgnzList */
				  UO.UNTY_OGNZ_ID       AS UNTY_OGNZ_ID
				, UO.UNTY_OGNZ_TYPE     AS UNTY_OGNZ_TYPE
				, UO.UNTY_OGNZ_NM       AS UNTY_OGNZ_NM
				, UO.UP_UNTY_OGNZ_ID    AS UP_UNTY_OGNZ_ID
				, UO.UNTY_OGNZ_LINK_CD  AS UNTY_OGNZ_LINK_CD
				, UO.INDCT_SEQ          AS INDCT_SEQ
				, UO.CTPV               AS CTPV
				, UO.SGG                AS SGG	
				, UO.CRNO				AS CRNO
				, UO.BRNO				AS BRNO
			  FROM TB_UNTY_OGNZ UO
			 WHERE UO.DEL_YN = 'N'
    	]]>
    	
		<if test='untyOgnzType != null and untyOgnzType != ""'>
			   AND UO.UNTY_OGNZ_TYPE = #{untyOgnzType}
		</if>
		<if test='untyOgnzNm != null and untyOgnzNm != ""'>
			   AND UO.UNTY_OGNZ_NM LIKE '%' || #{untyOgnzNm} || '%'
		</if>
		
    	<![CDATA[
    		 ORDER BY UP_UNTY_OGNZ_ID, INDCT_SEQ, UNTY_OGNZ_ID
    	]]>
		
    </select>
    
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectOgnzList			-->
	<!-- DESC : 조직 목록조회.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectOgnzList" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO" resultType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectOgnzList */
				  UO.UNTY_OGNZ_ID       AS UNTY_OGNZ_ID
				, UO.UNTY_OGNZ_TYPE     AS UNTY_OGNZ_TYPE
				, UO.UNTY_OGNZ_NM       AS UNTY_OGNZ_NM
				, UO.UP_UNTY_OGNZ_ID    AS UP_UNTY_OGNZ_ID
				, UO.UNTY_OGNZ_LINK_CD  AS UNTY_OGNZ_LINK_CD
				, UO.INDCT_SEQ          AS INDCT_SEQ
				, UO.CTPV               AS CTPV
				, UO.SGG                AS SGG	
				, UO.CRNO				AS CRNO
				, UO.BRNO				AS BRNO
				, UO.FILTER_KEY			AS FILTER_KEY	
			  FROM VW_COM_UNTY_OGNZ UO
			 WHERE UO.DEL_YN = 'N'
    	]]>
    	
		<if test='untyOgnzType != null and untyOgnzType != ""'>
			   AND UO.UNTY_OGNZ_TYPE = #{untyOgnzType}
		</if>
		<if test='untyOgnzNm != null and untyOgnzNm != ""'>
			   AND UO.UNTY_OGNZ_NM LIKE '%' || #{untyOgnzNm} || '%'
		</if>
		
    	<![CDATA[
    		 ORDER BY UNTY_OGNZ_NM, INDCT_SEQ, UNTY_OGNZ_ID
    	]]>
		
    </select>
    
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectUntyOgnzTreeList	-->
	<!-- DESC : 통합조직 트리 목록조회.                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectUntyOgnzTreeList" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO" resultType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectUntyOgnzTreeList */
				  UO.UNTY_OGNZ_LVL		AS UNTY_OGNZ_LVL
				, UO.SEQ				AS UNTY_OGNZ_SEQ
				, UO.UNTY_OGNZ_ID       AS UNTY_OGNZ_ID
				, UO.UNTY_OGNZ_ID       AS UNTY_OGNZ_CD
				, UO.UNTY_OGNZ_TYPE     AS UNTY_OGNZ_TYPE
				, UO.UNTY_OGNZ_NM       AS UNTY_OGNZ_NM
				, UO.UP_UNTY_OGNZ_ID    AS UP_UNTY_OGNZ_ID
				, UUO.UNTY_OGNZ_NM		AS UP_UNTY_OGNZ_NM
				, UUO.UNTY_OGNZ_TYPE	AS UP_UNTY_OGNZ_TYPE
				, UO.UNTY_OGNZ_LINK_CD  AS UNTY_OGNZ_LINK_CD
				, UO.INDCT_SEQ          AS INDCT_SEQ
				, UO.CTPV               AS CTPV
				, UO.SGG                AS SGG
				, UO.CRNO				AS CRNO
				, UO.BRNO				AS BRNO
			  FROM (
				SELECT
					  LEVEL			AS UNTY_OGNZ_LVL
					, ROWNUM		AS SEQ
					, UO.UNTY_OGNZ_ID       AS UNTY_OGNZ_ID
					, UO.UNTY_OGNZ_TYPE     AS UNTY_OGNZ_TYPE
					, UO.UNTY_OGNZ_NM       AS UNTY_OGNZ_NM
					, UO.UP_UNTY_OGNZ_ID    AS UP_UNTY_OGNZ_ID
					, UO.UNTY_OGNZ_LINK_CD  AS UNTY_OGNZ_LINK_CD
					, UO.INDCT_SEQ          AS INDCT_SEQ
					, UO.CTPV               AS CTPV
					, UO.SGG                AS SGG
					, UO.CRNO				AS CRNO
					, UO.BRNO				AS BRNO
				  FROM VW_COM_UNTY_OGNZ UO
				 WHERE UO.DEL_YN = 'N'
    	]]>
			<if test='apcNm != null and apcNm != ""'>
				   AND EXISTS (
				   		SELECT 1
				   		  FROM TB_UNTY_OGNZ_APC OA
				   		  JOIN TB_APC_INFO AI
				   		    ON AI.APC_CD = OA.APC_CD
				   		   AND AI.DEL_YN = 'N'
				   		 WHERE OA.DEL_YN = 'N'
				   		   AND OA.UNTY_OGNZ_ID = UO.UNTY_OGNZ_ID
				   		   AND AI.APC_NM LIKE '%' || #{apcNm} || '%'
				   )
			</if>
    	<![CDATA[
				START WITH UO.UP_UNTY_OGNZ_ID = '*'
    	]]>

    	<![CDATA[
			    CONNECT BY PRIOR UO.UNTY_OGNZ_ID = UO.UP_UNTY_OGNZ_ID
			     ORDER SIBLINGS BY UO.INDCT_SEQ, UO.UNTY_OGNZ_ID
			  	) UO
			  	, VW_COM_UNTY_OGNZ UUO
			 WHERE UO.UP_UNTY_OGNZ_ID = UUO.UNTY_OGNZ_ID(+)
			   AND UUO.DEL_YN(+) = 'N'
    	]]>
			<if test='untyOgnzType != null and untyOgnzType != ""'>
				   AND (
					   	UO.UNTY_OGNZ_TYPE = #{untyOgnzType}
					   	OR
					   	UUO.UNTY_OGNZ_TYPE = #{untyOgnzType}
					)
			</if>
			<if test='crno != null and crno != ""'>
				   AND (
					   	UO.CRNO LIKE '%' || #{crno} || '%'
					   	OR
					   	UUO.CRNO LIKE '%' || #{crno} || '%'
					)
			</if>
			<if test='untyOgnzNm != null and untyOgnzNm != ""'>
				   AND (
					   	UO.UNTY_OGNZ_NM LIKE '%' || #{untyOgnzNm} || '%'
					   	OR
					   	UUO.UNTY_OGNZ_NM LIKE '%' || #{untyOgnzNm} || '%'
					)
			</if>
			<if test='untyOgnzId != null and untyOgnzId != ""'>
				   AND UO.UNTY_OGNZ_ID = #{untyOgnzId}
			</if>
			<if test='ctpv != null and ctpv != ""'>
				   AND UO.CTPV = #{ctpv}
			</if>
			<if test='sgg != null and sgg != ""'>
				   AND UO.SGG = #{sgg}
			</if>
			<if test='brno != null and brno != ""'>
				   AND UO.BRNO = #{brno}
			</if>
			
			
    	<![CDATA[
    		 ORDER BY SUBSTR(UNTY_OGNZ_TYPE, 1, 1), UNTY_OGNZ_SEQ
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectUntyOgnzApcList	-->
	<!-- DESC : 통합조직 APC 목록조회.                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectUntyOgnzApcList" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO" resultType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectUntyOgnzApcList */
				  UO.UNTY_OGNZ_ID       AS UNTY_OGNZ_ID
				, UO.UNTY_OGNZ_TYPE     AS UNTY_OGNZ_TYPE
				, UO.UNTY_OGNZ_NM       AS UNTY_OGNZ_NM
				, UO.UNTY_OGNZ_LINK_CD  AS UNTY_OGNZ_LINK_CD
				, OA.APC_CD				AS APC_CD
				, OA.CTPV               AS CTPV
				, OA.SGG                AS SGG
				, OA.INDCT_SEQ			AS INDCT_SEQ
				, OA.APRV_YN			AS APRV_YN
				, OA.APRV_DT			AS APRV_DT
				, OA.APLY_YN			AS APLY_YN
				, OA.APLY_DT			AS APLY_DT
				, APC.APC_NM			AS APC_NM
				, APC.BRNO				AS BRNO
				, APC.ADDR				AS ADDR
				, APC.CTPV				AS CTPV
				, APC.SGG				AS SGG
				, (SELECT FN_GET_COM_CD_VL_NM('UNTY_CTPV', APC.CTPV) FROM DUAL)	AS CTPV_NM
				, (SELECT FN_GET_COM_CD_VL_NM('UNTY_SGG', APC.SGG) FROM DUAL)	AS SGG_NM
				, (SELECT X.CD_VL_EXPLN FROM TB_COM_CD_DTL X WHERE X.CD_ID = 'UNTY_SGG' AND X.CD_VL = APC.SGG AND X.APC_CD = '0000')	AS SGG_EXPLN
			  FROM
			  	  VW_COM_UNTY_OGNZ UO
			  	, TB_UNTY_OGNZ_APC OA
			  	, TB_APC_INFO APC
			 WHERE UO.UNTY_OGNZ_ID = OA.UNTY_OGNZ_ID
			   AND OA.DEL_YN = 'N'
			   AND OA.APC_CD = APC.APC_CD(+)
			   AND APC.DEL_YN(+) = 'N'
			   
    	]]>
			<if test='untyOgnzId != null and untyOgnzId != ""'>
			   AND UO.UNTY_OGNZ_ID = #{untyOgnzId}
			</if>
			<if test='untyOgnzCd != null and untyOgnzCd != ""'>
			   AND UO.UNTY_OGNZ_ID = #{untyOgnzCd}
			</if>
			
    	<![CDATA[
			ORDER BY OA.INDCT_SEQ
			
    	]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.insertUntyOgnz			-->
	<!-- DESC : 통합조직 등록.                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertUntyOgnz" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			INSERT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.insertUntyOgnz */
    	 	  INTO TB_UNTY_OGNZ (
    	 	  	  UNTY_OGNZ_ID
				, UNTY_OGNZ_TYPE
				, UNTY_OGNZ_NM
				, UP_UNTY_OGNZ_ID
				, UNTY_OGNZ_LINK_CD
				, INDCT_SEQ
				, CTPV
				, SGG
    		  	, SYS_FRST_INPT_DT
    		  	, SYS_FRST_INPT_USER_ID
    		  	, SYS_FRST_INPT_PRGRM_ID
    		  	, SYS_LAST_CHG_DT
    		  	, SYS_LAST_CHG_USER_ID
    		  	, SYS_LAST_CHG_PRGRM_ID
			) VALUES (
    	 	  	  #{untyOgnzId}
				, #{untyOgnzType}
				, #{untyOgnzNm}
				, #{upUntyOgnzId}
				, #{untyOgnzLinkCd}
				, #{indctSeq}
				, #{ctpv}
				, #{sgg}
   			  	, SYSDATE
   			  	, #{sysFrstInptUserId}
   			  	, #{sysFrstInptPrgrmId}
   			  	, SYSDATE
   			  	, #{sysLastChgUserId}
   			  	, #{sysLastChgPrgrmId}
   			)
		]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.updateUntyOgnz			-->
	<!-- DESC : 통합조직 등록.                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateUntyOgnz" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.updateUntyOgnz */
	    		TB_UNTY_OGNZ 
			SET
				  SYS_LAST_CHG_DT			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID		= #{sysLastChgPrgrmId}

				, UNTY_OGNZ_TYPE	= #{untyOgnzType}
				, UNTY_OGNZ_NM		= #{untyOgnzNm}
				, UP_UNTY_OGNZ_ID	= #{upUntyOgnzId}
				, UNTY_OGNZ_LINK_CD	= #{untyOgnzLinkCd}
				, INDCT_SEQ			= #{indctSeq}
				, CTPV				= #{ctpv}
				, SGG				= #{sgg}
				
    	 	 WHERE UNTY_OGNZ_ID = #{untyOgnzId}
    	 ]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.updateUntyOgnzForDelY	-->
	<!-- DESC : 통합조직 변경 (set delYn 'Y')	                         			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateUntyOgnzForDelY" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.updateUntyOgnzForDelY */
	    		TB_UNTY_OGNZ 
			SET
				  DEL_YN = 'Y'
				  				
    	 	 WHERE UNTY_OGNZ_ID = #{untyOgnzId}
    	 ]]>
    </update>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.deleteUntyOgnz			-->
	<!-- DESC : 통합조직 삭제.                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteUntyOgnz" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
		<![CDATA[
			DELETE /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.deleteUntyOgnz */
	    		TB_UNTY_OGNZ
    	 	 WHERE UNTY_OGNZ_ID = #{untyOgnzId}
		]]>
	</delete>
	

    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.insertOgnzApc			-->
	<!-- DESC : 관리APC 등록.                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertOgnzApc" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			INSERT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.insertOgnzApc */
    	 	  INTO TB_UNTY_OGNZ_APC (
    	 	  	  UNTY_OGNZ_ID
				, APC_CD
				, CTPV
				, SGG
				, INDCT_SEQ
				, APLY_YN
				, APLY_DT
    		  	, SYS_FRST_INPT_DT
    		  	, SYS_FRST_INPT_USER_ID
    		  	, SYS_FRST_INPT_PRGRM_ID
    		  	, SYS_LAST_CHG_DT
    		  	, SYS_LAST_CHG_USER_ID
    		  	, SYS_LAST_CHG_PRGRM_ID
			) VALUES (
    	 	  	  #{untyOgnzId}
				, #{apcCd}
				, #{ctpv}
				, #{sgg}
				, #{indctSeq}
				, 'Y'
				, SYSDATE
   			  	, SYSDATE
   			  	, #{sysFrstInptUserId}
   			  	, #{sysFrstInptPrgrmId}
   			  	, SYSDATE
   			  	, #{sysLastChgUserId}
   			  	, #{sysLastChgPrgrmId}
   			)
		]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.updateOgnzApc			-->
	<!-- DESC : 관리APC 변경.                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateOgnzApc" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.updateOgnzApc */
	    		TB_UNTY_OGNZ_APC 
			SET
				  SYS_LAST_CHG_DT			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID		= #{sysLastChgPrgrmId}
				, CTPV				= #{ctpv}
				, SGG				= #{sgg}
				
    	 	 WHERE UNTY_OGNZ_ID = #{untyOgnzId}
    	 	   AND APC_CD = #{apcCd}
    	 ]]>
    </update>
    
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.deleteOgnzApc			-->
	<!-- DESC : 관리APC 삭제.                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteOgnzApc" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
		<![CDATA[
			DELETE /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.deleteOgnzApc */
	    		TB_UNTY_OGNZ_APC
    	 	 WHERE UNTY_OGNZ_ID = #{untyOgnzId}
    	 	   AND APC_CD = #{apcCd}
		]]>
	</delete>
    
    
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectApcAprvList		-->
	<!-- DESC : 관리APC승인대상 목록조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcAprvList" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO" resultType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.selectApcAprvList */
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
    			, pt0.*
    		  FROM (

			SELECT
				  OI.OGNZ_CD		AS OGNZ_CD
				, OI.OGNZ_NM		AS OGNZ_NM
				, OA.UNTY_OGNZ_ID	AS UNTY_OGNZ_ID
				, OA.APC_CD			AS APC_CD
				, AI.APC_NM			AS APC_NM
				, CU.USER_ID		AS USER_ID
				, CU.USER_NM		AS USER_NM
				, OA.APLY_YN		AS APLY_YN
				, TO_CHAR(OA.APLY_DT, 'YYYY/MM/DD HH24:MI')	AS APLY_DT
				, OA.APRV_YN		AS APRV_YN
				, TO_CHAR(OA.APRV_DT, 'YYYY/MM/DD HH24:MI')	AS APRV_DT
				, CU.JBPS			AS JBPS
				, CU.MBL_TELNO		AS MBL_TELNO
				, CU.TELNO			AS TELNO
				, CU.EML			AS EML
			  FROM TB_APC_OGNZ_INFO OI
			  
			  JOIN TB_UNTY_OGNZ_APC OA
			    ON OA.UNTY_OGNZ_ID = 'UO' || OI.OGNZ_CD
			   AND OA.DEL_YN = 'N'
			  
			  JOIN TB_APC_INFO AI
			    ON AI.APC_CD = OA.APC_CD
			   AND AI.DEL_YN = 'N'
			
			  JOIN TB_COM_USER CU
			    ON CU.TYPE_CD = '1'
			   AND CU.UNTY_OGNZ_CD = OI.OGNZ_CD
			   
			  JOIN TB_COM_USER_SYS_AUTH SA
			    ON SA.SYS_ID = 'AM'
			   AND SA.USER_ID = CU.USER_ID
			   AND SA.DEL_YN = 'N'
			   AND SA.APLY_YN = 'Y'
			   
			 WHERE OI.DEL_YN = 'N'
    	]]>
    	
		<if test='aprvYn != null and aprvYn != ""'>
			   AND OA.APRV_YN = #{aprvYn}
		</if>
		<if test='aplyYn != null and aplyYn != ""'>
			   AND OA.APLY_YN = #{aplyYn}
		</if>
    	
		<if test='userId != null and userId != ""'>
			   AND CU.USER_ID LIKE '%' || #{userId} || '%'
		</if>
		<if test='userNm != null and userNm != ""'>
			   AND CU.USER_NM LIKE '%' || #{userNm} || '%'
		</if>
		<if test='ognzNm != null and ognzNm != ""'>
			   AND OI.OGNZ_NM LIKE '%' || #{ognzNm} || '%'
		</if>
		<if test='apcNm != null and apcNm != ""'>
			   AND AI.APC_NM LIKE '%' || #{apcNm} || '%'
		</if>
		<if test='untyOgnzId != null and untyOgnzId != ""'>
			   AND OA.UNTY_OGNZ_ID = #{untyOgnzId}
		</if>
		
    	<![CDATA[
    		 ORDER BY OGNZ_NM, APC_NM, USER_NM, USER_ID
    		  ) pt0
    	]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
    
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.insertApcAprv			-->
	<!-- DESC : 관리APC 승인.                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="insertApcAprv" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.insertApcAprv */
	    		TB_UNTY_OGNZ_APC 
			SET
				  SYS_LAST_CHG_DT			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID		= #{sysLastChgPrgrmId}
				, APRV_YN	= 'Y'
				, APRV_DT	= SYSDATE
				
    	 	 WHERE UNTY_OGNZ_ID = #{untyOgnzId}
    	 	   AND APC_CD = #{apcCd}
    	 ]]>
    </update>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.insertApcUserAprv			-->
	<!-- DESC : 관리APC 사용자 승인.                                           		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="insertApcUserAprv" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.insertApcUserAprv */
	    		TB_COM_USER_SYS_AUTH 
			SET
				  SYS_LAST_CHG_DT			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID		= #{sysLastChgPrgrmId}
				, APRV_YN	= 'Y'
				, APRV_DT	= SYSDATE
				
    	 	 WHERE SYS_ID = 'AM'
    	 	   AND USER_ID = #{userId}
    	 ]]>
    </update>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.deleteApcAprv			-->
	<!-- DESC : 관리APC 승인취소.                                           		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="deleteApcAprv" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.deleteApcAprv */
	    		TB_UNTY_OGNZ_APC 
			SET
				  SYS_LAST_CHG_DT			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID		= #{sysLastChgPrgrmId}
				, APRV_YN	= 'N'
				, APRV_DT	= NULL
				, APLY_YN	= 'N'
				, APLY_DT	= NULL
				
    	 	 WHERE UNTY_OGNZ_ID = #{untyOgnzId}
    	 	   AND APC_CD = #{apcCd}
    	 ]]>
    </update>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.ognz.mapper.UntyOgnzMapper.deleteApcUserAprv			-->
	<!-- DESC : 관리APC 사용자 승인.                                           		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.22  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="deleteApcUserAprv" parameterType="com.at.apcss.co.ognz.vo.UntyOgnzVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.ognz.mapper.UntyOgnzMapper.deleteApcUserAprv */
	    		TB_COM_USER_SYS_AUTH 
			SET
				  SYS_LAST_CHG_DT			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID		= #{sysLastChgPrgrmId}
				, APRV_YN	= 'N'
				, APRV_DT	= NULL
				, APLY_YN	= 'N'
				, APLY_DT	= NULL
				
    	 	 WHERE SYS_ID = 'AM'
    	 	   AND USER_ID = #{userId}
    	 ]]>
    </update>
    
</mapper>