<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltDtaMngInfoMapper.xml                                    				-->
<!-- DESC : 스마트데이터화 스마트자동화 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.selectFcltDtaMngInfo				-->
	<!-- DESC : 스마트데이터화 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltDtaMngInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.selectFcltDtaMngInfo */
				  ASPS.CRTR_YR
				, ASPS.APC_CD
				, (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = ASPS.APC_CD AND CRTR_YR = ASPS.CRTR_YR
				) AS APC_NM

				, PRDCTN_INFO_MNG_MTHD
				, WRHS_INFO_MNG_MTHD
				, SORT_INFO_MNG_MTHD
				, STRG_INFO_MNG_MTHD
				, PCKG_INFO_MNG_MTHD
				, JOB_INFO_MNG_MTHD
				, SPMT_INFO_MNG_MTHD

			FROM TB_TE_APC_SMART_PRPLSN_STTN ASPS
			WHERE 1=1
			  AND DEL_YN != 'Y'
			  AND APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND ASPS.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND ASPS.APC_CD = #{apcCd}
			</if>
	</select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.selectFcltDtaMngInfoList			-->
	<!-- DESC : 스마트데이터화 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltDtaMngInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>
		<!-- End 페이징 -->

		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.selectFcltDtaMngInfo */
				  ASPS.CRTR_YR
				, ASPS.APC_CD
				, (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = ASPS.APC_CD AND CRTR_YR = ASPS.CRTR_YR
				) AS APC_NM

				, PRDCTN_INFO_MNG_MTHD
				, WRHS_INFO_MNG_MTHD
				, SORT_INFO_MNG_MTHD
				, STRG_INFO_MNG_MTHD
				, PCKG_INFO_MNG_MTHD
				, JOB_INFO_MNG_MTHD
				, SPMT_INFO_MNG_MTHD

			FROM TB_TE_APC_SMART_PRPLSN_STTN ASPS
			WHERE 1=1
			  AND DEL_YN != 'Y'
			  AND APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND ASPS.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND ASPS.APC_CD = #{apcCd}
			</if>

		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
		<!-- End 페이징 -->
	</select>


	<update id="insertFcltDtaMngInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO">
		MERGE INTO TB_TE_APC_SMART_PRPLSN_STTN ASPS /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.insertFcltDtaMngInfo */
		USING DUAL
		ON (
			ASPS.CRTR_YR = #{crtrYr}
			AND ASPS.APC_CD = #{apcCd}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  PRDCTN_INFO_MNG_MTHD = #{prdctnInfoMngMthd}
				  , WRHS_INFO_MNG_MTHD = #{wrhsInfoMngMthd}
				  , SORT_INFO_MNG_MTHD = #{sortInfoMngMthd}
				  , STRG_INFO_MNG_MTHD = #{strgInfoMngMthd}
				  , PCKG_INFO_MNG_MTHD = #{pckgInfoMngMthd}
				  , JOB_INFO_MNG_MTHD = #{jobInfoMngMthd}
				  , SPMT_INFO_MNG_MTHD = #{spmtInfoMngMthd}

				  , SYS_LAST_CHG_DT			= SYSDATE
				  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , APC_CD
				  , APC_NM

				  , PRDCTN_INFO_MNG_MTHD
				  , WRHS_INFO_MNG_MTHD
				  , SORT_INFO_MNG_MTHD
				  , STRG_INFO_MNG_MTHD
				  , PCKG_INFO_MNG_MTHD
				  , JOB_INFO_MNG_MTHD
				  , SPMT_INFO_MNG_MTHD

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{apcCd}
				  , (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr})

				  , #{prdctnInfoMngMthd}
				  , #{wrhsInfoMngMthd}
				  , #{sortInfoMngMthd}
				  , #{strgInfoMngMthd}
				  , #{pckgInfoMngMthd}
				  , #{jobInfoMngMthd}
				  , #{spmtInfoMngMthd}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.updateFcltDtaMngInfo				-->
	<!-- DESC : 스마트데이터화 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	jeongyd        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateFcltDtaMngInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.updateFcltDtaMngInfo */
				TB_TE_APC_SMART_PRPLSN_STTN ASPS
			   SET
				  PRDCTN_INFO_MNG_MTHD = #{prdctnInfoMngMthd}
				  , WRHS_INFO_MNG_MTHD = #{wrhsInfoMngMthd}
				  , SORT_INFO_MNG_MTHD = #{sortInfoMngMthd}
				  , STRG_INFO_MNG_MTHD = #{strgInfoMngMthd}
				  , PCKG_INFO_MNG_MTHD = #{pckgInfoMngMthd}
				  , JOB_INFO_MNG_MTHD = #{jobInfoMngMthd}
				  , SPMT_INFO_MNG_MTHD = #{spmtInfoMngMthd}
		]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND APC_CD = #{apcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.deleteFcltDtaMngInfo				-->
	<!-- DESC : 스마트데이터화 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	jeongyd        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="deleteFcltDtaMngInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.deleteFcltDtaMngInfo */
				TB_TE_APC_SMART_PRPLSN_STTN ASPS
			   SET
				  DEL_YN 	= 'Y'
			WHERE 1=1
			  AND ASPS.CRTR_YR = #{crtrYr}
			  AND ASPS.APC_CD = #{apcCd}
		]]>
	</update>
	<!--
	<delete id="deleteFcltDtaMngInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO">
		<![CDATA[
			DELETE /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.deleteFcltDtaMngInfo */
				TB_FCLT_DTA_MNG_INFO FCLT
			WHERE 1=1
			  AND ASPS.CRTR_YR = #{crtrYr}
			  AND ASPS.APC_CD = #{apcCd}
		]]>
	</delete>
	-->


	<!--  -->
	<select id="selectFcltDataMngList" parameterType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltDataMngVO">
		<![CDATA[
		SELECT /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.selectFcltDtaMngInfo */
			  ASDM.CRTR_YR
			, ASDM.APC_CD
			, (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = ASDM.APC_CD AND CRTR_YR = ASDM.CRTR_YR
			) AS APC_NM

			, ASDM.DATA_MNG_TYPE
			, ASDM.DATA_MNG_TYPE_DTL
			, ASDM.DATA_MNG_YN
			, ASDM.DATA_MNG_ETC

		FROM TB_TE_APC_SMART_DATA_MNG ASDM
		WHERE 1=1
		  AND DEL_YN != 'Y'
		  AND APC_CD IS NOT NULL
		]]>
		<if test='crtrYr != null and !crtrYr.equals("")'>
		  AND ASDM.CRTR_YR = #{crtrYr}
		</if>
		<if test='apcCd != null and !apcCd.equals("")'>
		  AND ASDM.APC_CD = #{apcCd}
		</if>
	</select>

	<update id="insertFcltDataMng" parameterType="com.at.apcss.fm.fclt.vo.FcltDataMngVO">
		MERGE INTO TB_TE_APC_SMART_DATA_MNG ASDM /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.insertFcltDataMng */
		USING DUAL
		ON (
			ASDM.CRTR_YR = #{crtrYr}
			AND ASDM.APC_CD = #{apcCd}
			AND ASDM.DATA_MNG_TYPE_DTL = #{dataMngTypeDtl}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  DATA_MNG_YN = #{dataMngYn}
				  ,DATA_MNG_ETC = #{dataMngEtc}

				  , SYS_LAST_CHG_DT			= SYSDATE
				  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , APC_CD
				  , APC_NM

				  , DATA_MNG_TYPE
				  , DATA_MNG_TYPE_DTL
				  , DATA_MNG_YN
				  , DATA_MNG_ETC

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{apcCd}
				  , (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr})

				  , #{dataMngType}
				  , #{dataMngTypeDtl}
				  , #{dataMngYn}
				  , #{dataMngEtc}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<update id="updateFcltDataMng" parameterType="com.at.apcss.fm.fclt.vo.FcltDataMngVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.updateFcltDataMng */
				TB_TE_APC_SMART_DATA_MNG ASDM
			   SET
				  DATA_MNG_YN = #{dataMngYn}
				  ,DATA_MNG_ETC = #{dataMngEtc}
		]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
			  AND ASDM.CRTR_YR = #{crtrYr}
			  AND ASDM.APC_CD = #{apcCd}
			  AND ASDM.DATA_MNG_TYPE_DTL = #{dataMngTypeDtl}
		]]>
	</update>


	<update id="deleteFcltDataMng" parameterType="com.at.apcss.fm.fclt.vo.FcltDataMngVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.deleteFcltDataMng */
				TB_TE_APC_SMART_DATA_MNG ASDM
			   SET
				  DEL_YN 	= 'Y'
			WHERE 1=1
			  AND ASDM.CRTR_YR = #{crtrYr}
			  AND ASDM.APC_CD = #{apcCd}
			  AND ASDM.DATA_MNG_TYPE_DTL = #{dataMngTypeDtl}
		]]>
	</update>

	<select id="selectFcltDtaMngInfoRawDataList" parameterType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltDtaMngInfoVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltDtaMngInfoMapper.selectFcltDtaMngInfoRawDataList */
				  ASPS.CRTR_YR
				, ASPS.APC_CD

				, (SELECT
						FN_GET_COM_CD_VL_NM('UNTY_CTPV',CTPV_CD)
					FROM TB_TE_APC_OPER_PRSN_OTLN
					WHERE 1=1
					  AND APC_CD = ASPS.APC_CD
					  AND CRTR_YR = ASPS.CRTR_YR
				) AS CTPV_NM

				, (SELECT
						X.CD_VL_EXPLN
					FROM TB_COM_CD_DTL X
					WHERE 1=1
					  AND X.CD_ID = 'UNTY_SGG'
					  AND X.APC_CD = '0000'
					  AND X.CD_VL = (SELECT
					  						SIGUN_CD
					  					FROM TB_TE_APC_OPER_PRSN_OTLN
					  					WHERE 1=1
					  					  AND APC_CD = ASPS.APC_CD
					  					  AND CRTR_YR = ASPS.CRTR_YR)
				) AS SIGUN_NM

				, (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = ASPS.APC_CD AND CRTR_YR = ASPS.CRTR_YR
				) AS APC_NM

				, FN_GET_COM_CD_VL_NM('MNG_MTHD', ASPS.PRDCTN_INFO_MNG_MTHD)  AS PRDCTN_INFO_MNG_MTHD
				, (SELECT LISTAGG(FN_GET_COM_CD_VL_NM('DATA_MNG_TYPE_DTL',ASDM.DATA_MNG_TYPE_DTL), ',') WITHIN GROUP (ORDER BY DATA_MNG_TYPE_DTL)
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'PRDCTN'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
				) AS PRDCTN_DTL
				, NVL((SELECT DATA_MNG_ETC
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'PRDCTN'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
					AND DATA_MNG_ETC IS NOT NULL),''
				) AS PRDCTN_DTL_ETC

				, FN_GET_COM_CD_VL_NM('MNG_MTHD', ASPS.WRHS_INFO_MNG_MTHD)  AS WRHS_INFO_MNG_MTHD
				, (SELECT LISTAGG(FN_GET_COM_CD_VL_NM('DATA_MNG_TYPE_DTL',ASDM.DATA_MNG_TYPE_DTL), ',') WITHIN GROUP (ORDER BY DATA_MNG_TYPE_DTL)
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'WRHS'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
				) AS WRHS_DTL
				, NVL((SELECT DATA_MNG_ETC
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'WRHS'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
					AND DATA_MNG_ETC IS NOT NULL),''
				) AS WRHS_DTL_ETC

				, FN_GET_COM_CD_VL_NM('MNG_MTHD', ASPS.SORT_INFO_MNG_MTHD)  AS SORT_INFO_MNG_MTHD
				, (SELECT LISTAGG(FN_GET_COM_CD_VL_NM('DATA_MNG_TYPE_DTL',ASDM.DATA_MNG_TYPE_DTL), ',') WITHIN GROUP (ORDER BY DATA_MNG_TYPE_DTL)
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'SORT'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
				) AS SORT_DTL
				, NVL((SELECT DATA_MNG_ETC
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'SORT'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
					AND DATA_MNG_ETC IS NOT NULL),''
				) AS SORT_DTL_ETC

				, FN_GET_COM_CD_VL_NM('MNG_MTHD', ASPS.STRG_INFO_MNG_MTHD)  AS STRG_INFO_MNG_MTHD
				, (SELECT LISTAGG(FN_GET_COM_CD_VL_NM('DATA_MNG_TYPE_DTL',ASDM.DATA_MNG_TYPE_DTL), ',') WITHIN GROUP (ORDER BY DATA_MNG_TYPE_DTL)
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'STRG'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
				) AS STRG_DTL
				, NVL((SELECT DATA_MNG_ETC
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'STRG'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
					AND DATA_MNG_ETC IS NOT NULL),''
				) AS STRG_DTL_ETC

				, FN_GET_COM_CD_VL_NM('MNG_MTHD', ASPS.PCKG_INFO_MNG_MTHD)  AS PCKG_INFO_MNG_MTHD
				, (SELECT LISTAGG(FN_GET_COM_CD_VL_NM('DATA_MNG_TYPE_DTL',ASDM.DATA_MNG_TYPE_DTL), ',') WITHIN GROUP (ORDER BY DATA_MNG_TYPE_DTL)
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'PCKG'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
				) AS PCKG_DTL
				, NVL((SELECT DATA_MNG_ETC
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'PCKG'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
					AND DATA_MNG_ETC IS NOT NULL),''
				) AS PCKG_DTL_ETC

				, FN_GET_COM_CD_VL_NM('MNG_MTHD', ASPS.JOB_INFO_MNG_MTHD)  AS JOB_INFO_MNG_MTHD
				, (SELECT LISTAGG(FN_GET_COM_CD_VL_NM('DATA_MNG_TYPE_DTL',ASDM.DATA_MNG_TYPE_DTL), ',') WITHIN GROUP (ORDER BY DATA_MNG_TYPE_DTL)
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'JOB'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
				) AS JOB_DTL
				, NVL((SELECT DATA_MNG_ETC
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'JOB'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
					AND DATA_MNG_ETC IS NOT NULL),''
				) AS JOB_DTL_ETC

				, FN_GET_COM_CD_VL_NM('MNG_MTHD', ASPS.SPMT_INFO_MNG_MTHD)  AS SPMT_INFO_MNG_MTHD
				, (SELECT LISTAGG(FN_GET_COM_CD_VL_NM('DATA_MNG_TYPE_DTL',ASDM.DATA_MNG_TYPE_DTL), ',') WITHIN GROUP (ORDER BY DATA_MNG_TYPE_DTL)
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'SPMT'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
				) AS SPMT_DTL
				, NVL((SELECT DATA_MNG_ETC
					FROM TB_TE_APC_SMART_DATA_MNG ASDM
					WHERE 1=1
					AND DATA_MNG_TYPE = 'SPMT'
					AND DATA_MNG_YN = 'Y'
					AND APC_CD = ASPS.APC_CD
					AND CRTR_YR = ASPS.CRTR_YR
					AND DATA_MNG_ETC IS NOT NULL),''
				) AS SPMT_DTL_ETC

			FROM TB_TE_APC_SMART_PRPLSN_STTN ASPS
			WHERE 1=1
			  AND DEL_YN != 'Y'
			  AND APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND ASPS.CRTR_YR = #{crtrYr}
			</if>
			<if test='userId != null and userId != ""'>
				<if test='userType == "27" or userType == "28"'>
				AND ASPS.APC_CD IN (SELECT APC_CD
								FROM TB_APC_INFO
								WHERE 1=1
								<if test='userType == "27"'>
								  AND CTPV = (SELECT CTPV FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								<if test='userType == "28"'>
								  AND SGG = (SELECT SGG FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								)
				</if>
			</if>
			ORDER BY ASPS.CRTR_YR , APC_NM

	</select>
</mapper>

