<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltOgnzPrcsPrfmncMapper.xml                                    				-->
<!-- DESC : 유통조직처리실적 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.selectFcltOgnzPrcsPrfmnc				-->
	<!-- DESC : 유통조직처리실적 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltOgnzPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.selectFcltOgnzPrcsPrfmnc */
				OTI.CRTR_YR
				, OTI.APC_CD
				,(SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = OTI.APC_CD) AS APC_NM
				, OTI.SN
				, OTI.ITEM_CD
				, OTI.ITEM_NM

				, OPD.RTL_OGNZ_TOT_TRMT_AMT
				, OPD.RTL_OGNZ_TOT_TRMT_VLM
				, OPD.RTL_OGNZ_GNRL_SUM
				, OPD.RTL_OGNZ_GNRL_SMPL_TRST
				, OPD.RTL_OGNZ_GNRL_SMPL_EMSPAP
				, OPD.RTL_OGNZ_OGNZ_SUM
				, OPD.RTL_OGNZ_OGNZ_CPRTN_SORT_TRST
				, OPD.RTL_OGNZ_OGNZ_CTRT_EMSPAP

			FROM TB_TE_APC_OPER_TRMT_ITEM OTI
				,TB_TE_APC_OPER_PRFMNC_DTL OPD
			WHERE 1=1
			  AND OTI.APC_CD = OPD.APC_CD(+)
			  AND OTI.CRTR_YR = OPD.CRTR_YR(+)
			  AND OTI.SN = OPD.SN(+)
			  AND OTI.OGNZ_SE_CD = '1'
			  AND OTI.APC_CD IS NOT NULL
					]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND OTI.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND OTI.APC_CD = #{apcCd}
			</if>
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.selectFcltOgnzPrcsPrfmncList			-->
	<!-- DESC : 유통조직처리실적 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltOgnzPrcsPrfmncList" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>
		<!-- End 페이징 -->

		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.selectFcltOgnzPrcsPrfmncList */
				OTI.CRTR_YR
				, OTI.APC_CD
				,(SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = OTI.APC_CD) AS APC_NM
				, OTI.SN
				, OTI.ITEM_CD
				, OTI.ITEM_NM

				, OPD.RTL_OGNZ_TOT_TRMT_AMT
				, OPD.RTL_OGNZ_TOT_TRMT_VLM
				, OPD.RTL_OGNZ_GNRL_SUM
				, OPD.RTL_OGNZ_GNRL_SMPL_TRST
				, OPD.RTL_OGNZ_GNRL_SMPL_EMSPAP
				, OPD.RTL_OGNZ_OGNZ_SUM
				, OPD.RTL_OGNZ_OGNZ_CPRTN_SORT_TRST
				, OPD.RTL_OGNZ_OGNZ_CTRT_EMSPAP

			FROM TB_TE_APC_OPER_TRMT_ITEM OTI
				,TB_TE_APC_OPER_PRFMNC_DTL OPD
			WHERE 1=1
			  AND OTI.APC_CD = OPD.APC_CD(+)
			  AND OTI.CRTR_YR = OPD.CRTR_YR(+)
			  AND OTI.SN = OPD.SN(+)
			  AND OTI.OGNZ_SE_CD = '1'
			  AND OTI.APC_CD IS NOT NULL
					]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND OTI.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND OTI.APC_CD = #{apcCd}
			</if>

		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
		<!-- End 페이징 -->
	</select>

	<update id="insertFcltOgnzPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO">
		MERGE INTO TB_TE_APC_OPER_PRFMNC_DTL OPD /* com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.insertFcltOgnzPrcsPrfmnc */
		USING DUAL
		ON (
			OPD.CRTR_YR = #{crtrYr}
			AND OPD.APC_CD = #{apcCd}
			AND OPD.SN = #{sn}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  RTL_OGNZ_TOT_TRMT_AMT				= #{rtlOgnzTotTrmtAmt}
				  , RTL_OGNZ_TOT_TRMT_VLM			= #{rtlOgnzTotTrmtVlm}
				  , RTL_OGNZ_GNRL_SUM				= #{rtlOgnzGnrlSum}
				  , RTL_OGNZ_GNRL_SMPL_TRST			= #{rtlOgnzGnrlSmplTrst}
				  , RTL_OGNZ_GNRL_SMPL_EMSPAP		= #{rtlOgnzGnrlSmplEmspap}
				  , RTL_OGNZ_OGNZ_SUM				= #{rtlOgnzOGnzSum}
				  , RTL_OGNZ_OGNZ_CPRTN_SORT_TRST	= #{rtlOgnzOgnzCprtnSortTrst}
				  , RTL_OGNZ_OGNZ_CTRT_EMSPAP		= #{rtlOgnzOgnzCtrtEmspap}

				  , SYS_LAST_CHG_DT			= SYSDATE
				  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , APC_CD
				  , APC_NM
				  , SN

				  , ITEM_CD
				  , ITEM_NM

				  , RTL_OGNZ_TOT_TRMT_AMT
				  , RTL_OGNZ_TOT_TRMT_VLM
				  , RTL_OGNZ_GNRL_SUM
				  , RTL_OGNZ_GNRL_SMPL_TRST
				  , RTL_OGNZ_GNRL_SMPL_EMSPAP
				  , RTL_OGNZ_OGNZ_SUM
				  , RTL_OGNZ_OGNZ_CPRTN_SORT_TRST
				  , RTL_OGNZ_OGNZ_CTRT_EMSPAP

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
			    (
				  #{crtrYr}
				  , #{apcCd}
				  , (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr})
				  , #{sn}

				  ,(SELECT ITEM_CD FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr} AND SN = #{sn} AND OGNZ_SE_CD = '2')
				  ,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr} AND SN = #{sn} AND OGNZ_SE_CD = '2')

				  , #{rtlOgnzTotTrmtAmt}
				  , #{rtlOgnzTotTrmtVlm}
				  , #{rtlOgnzGnrlSum}
				  , #{rtlOgnzGnrlSmplTrst}
				  , #{rtlOgnzGnrlSmplEmspap}
				  , #{rtlOgnzOGnzSum}
				  , #{rtlOgnzOgnzCprtnSortTrst}
				  , #{rtlOgnzOgnzCtrtEmspap}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.updateFcltOgnzPrcsPrfmnc				-->
	<!-- DESC : 유통조직처리실적 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateFcltOgnzPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.updateFcltOgnzPrcsPrfmnc */
				TB_TE_APC_OPER_PRFMNC_DTL OPD
			   SET
			 	RTL_OGNZ_TOT_TRMT_AMT			= #{rtlOgnzTotTrmtAmt}
				, RTL_OGNZ_TOT_TRMT_VLM			= #{rtlOgnzTotTrmtVlm}
				, RTL_OGNZ_GNRL_SUM				= #{rtlOgnzGnrlSum}
				, RTL_OGNZ_GNRL_SMPL_TRST		= #{rtlOgnzGnrlSmplTrst}
				, RTL_OGNZ_GNRL_SMPL_EMSPAP	 	= #{rtlOgnzGnrlSmplEmspap}
				, RTL_OGNZ_OGNZ_SUM				= #{rtlOgnzOGnzSum}}
				, RTL_OGNZ_OGNZ_CPRTN_SORT_TRST	= #{rtlOgnzOgnzCprtnSortTrst}
				, RTL_OGNZ_OGNZ_CTRT_EMSPAP		= #{rtlOgnzOgnzCtrtEmspap}

		]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			  AND TRGT_YR 	= #{crtrYr}
			  AND APC_CD 	= #{apcCd}
			  AND SN 		= #{sn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.deleteFcltOgnzPrcsPrfmnc				-->
	<!-- DESC : 유통조직처리실적 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="deleteFcltOgnzPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.deleteFcltOgnzPrcsPrfmnc */
				TB_FCLT_OGNZ_PRCS_PRFMNC FCLT
			   SET
				  DEL_YN 	= 'Y'
			WHERE 1=1
			  AND TRGT_YR = #{trgtYr}
			  AND  APC_CD = #{apcCd}
		]]>
	</update>
	<!--
	<delete id="deleteFcltOgnzPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO">
		<![CDATA[
			DELETE /* com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.deleteFcltOgnzPrcsPrfmnc */
				TB_FCLT_OGNZ_PRCS_PRFMNC FCLT
			 WHERE 1=1
			  AND TRGT_YR = #{trgtYr}
			  AND  APC_CD = #{apcCd}
		]]>
	</delete>
-->

	<select id="selectFcltOgnzPrcsPrfmncRawDataList" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltOgnzPrcsPrfmncVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOgnzPrcsPrfmncMapper.selectFcltOgnzPrcsPrfmncRawDataList */
				OTI.CRTR_YR
				, OTI.APC_CD
				,(SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = OTI.APC_CD) AS APC_NM

				, (SELECT
						FN_GET_COM_CD_VL_NM('UNTY_CTPV',CTPV_CD)
					FROM TB_TE_APC_OPER_PRSN_OTLN
					WHERE 1=1
					  AND APC_CD = OTI.APC_CD
					  AND CRTR_YR = OTI.CRTR_YR
				) AS CTPV_NM

				, (SELECT
							X.CD_VL_EXPLN
					FROM TB_COM_CD_DTL X
					WHERE 1=1
					  AND X.CD_ID = 'UNTY_SGG'
					  AND X.APC_CD = '0000'
					  AND X.CD_VL = (SELECT
					  						SIGUN_CD
					  					FROM TB_TE_APC_OPER_PRSN_OTLN
					  					WHERE 1=1
					  					  AND APC_CD = OTI.APC_CD
					  					  AND CRTR_YR = OTI.CRTR_YR)
				) AS SIGUN_NM

				, OTI.SN
				, OTI.ITEM_CD
				, OTI.ITEM_NM

				, OPD.RTL_OGNZ_TOT_TRMT_AMT
				, OPD.RTL_OGNZ_TOT_TRMT_VLM
				, OPD.RTL_OGNZ_GNRL_SUM
				, OPD.RTL_OGNZ_GNRL_SMPL_TRST
				, OPD.RTL_OGNZ_GNRL_SMPL_EMSPAP
				, OPD.RTL_OGNZ_OGNZ_SUM
				, OPD.RTL_OGNZ_OGNZ_CPRTN_SORT_TRST
				, OPD.RTL_OGNZ_OGNZ_CTRT_EMSPAP

			FROM TB_TE_APC_OPER_TRMT_ITEM OTI
				,TB_TE_APC_OPER_PRFMNC_DTL OPD
			WHERE 1=1
			  AND OTI.APC_CD = OPD.APC_CD(+)
			  AND OTI.CRTR_YR = OPD.CRTR_YR(+)
			  AND OTI.SN = OPD.SN(+)
			  AND OTI.OGNZ_SE_CD = '1'
			  AND OTI.APC_CD IS NOT NULL
		]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND OTI.CRTR_YR = #{crtrYr}
			</if>
			<if test='userId != null and userId != ""'>
				<if test='userType == "27" or userType == "28"'>
				AND OTI.APC_CD IN (SELECT APC_CD
								FROM TB_APC_INFO
								WHERE 1=1
								<if test='userType == "27"'>
								  AND CTPV = (SELECT CTPV FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								<if test='userType == "28"'>
								  AND SGG = (SELECT SGG FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								)
				</if>
			</if>
			ORDER BY OTI.CRTR_YR , APC_NM , OTI.SN
	</select>
</mapper>