<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltGdsMchnInfoMapper.xml                                    				-->
<!-- DESC : 상품화설비현황 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.selectFcltGdsMchnInfo				-->
	<!-- DESC : 상품화설비현황 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltGdsMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
		<![CDATA[
		SELECT /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.selectFcltGdsMchnInfo */
				OTI.CRTR_YR
				, OTI.APC_CD
				, OTI.APC_NM
				, OTI.ITEM_CD
				, OTI.ITEM_NM
				, OTI.SN

				, FSD.SORT_MCHN_SPCFCT
				, FSD.SORT_BRCK_MCHN
				, FSD.COLOR_SORT
				, FSD.INR_DMG_IDNTF
				, FSD.SORT_MCHN_ETC
				, FSD.SHAP_SORT
				, FSD.MNFC_MCHN
				, FSD.PCKG_MCHN_GNRL
				, FSD.PCKG_MCHN_ATMTC
				, FSD.TOT_FRSH_CNV_MCHN
				, FSD.RBT_PLTZ
				, FSD.ETC_MNFC_MCHN_PRCS
				, FSD.ETC_MCHN
				, FSD.RMRK
				, FSD.MKR_NM
				, FSD.SORT_MCHN_HOLD_YN
			FROM TB_TE_APC_OPER_TRMT_ITEM OTI
				,TB_TE_APC_FCLT_STTS_DTL FSD
			WHERE 1=1
			  AND OTI.APC_CD = FSD.APC_CD(+)
			  AND OTI.CRTR_YR = FSD.CRTR_YR(+)
			  AND OTI.SN = FSD.SN(+)
			  AND OTI.OGNZ_SE_CD = '2'
			  AND OTI.APC_CD IS NOT NULL
		]]>
			<if test='crtrYr != null and crtrYr != ""'>
			  AND OTI.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and apcCd != ""'>
			  AND OTI.APC_CD = #{apcCd}
			</if>
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.selectFcltGdsMchnInfoList			-->
	<!-- DESC : 상품화설비현황 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltGdsMchnInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			FROM (
		</if>
		<!-- Start 페이징 -->
			<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.selectFcltGdsMchnInfoList */
				OTI.CRTR_YR
				, OTI.APC_CD
				, OTI.APC_NM
				, OTI.ITEM_CD
				, OTI.ITEM_NM
				, OTI.SN

				, FSD.SORT_MCHN_SPCFCT
				, FSD.SORT_BRCK_MCHN
				, FSD.COLOR_SORT
				, FSD.INR_DMG_IDNTF
				, FSD.SORT_MCHN_ETC
				, FSD.SHAP_SORT
				, FSD.MNFC_MCHN
				, FSD.PCKG_MCHN_GNRL
				, FSD.PCKG_MCHN_ATMTC
				, FSD.TOT_FRSH_CNV_MCHN
				, FSD.RBT_PLTZ
				, FSD.ETC_MNFC_MCHN_PRCS
				, FSD.ETC_MCHN
				, FSD.RMRK
				, FSD.MKR_NM
				, FSD.SORT_MCHN_HOLD_YN
			FROM TB_TE_APC_OPER_TRMT_ITEM OTI
				,TB_TE_APC_FCLT_STTS_DTL FSD
			WHERE 1=1
			  AND OTI.APC_CD = FSD.APC_CD(+)
			  AND OTI.CRTR_YR = FSD.CRTR_YR(+)
			  AND OTI.SN = FSD.SN(+)
			  AND OTI.OGNZ_SE_CD = '2'
			  AND OTI.APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and crtrYr != ""'>
			  AND OTI.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and apcCd != ""'>
			  AND OTI.APC_CD = #{apcCd}
			</if>


		<!-- End 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
				) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
		<!-- End 페이징 -->
	</select>


	<update id="insertFcltGdsMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
		MERGE INTO TB_TE_APC_FCLT_STTS_DTL FSD /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.insertFcltGdsMchnInfo */
		USING DUAL
		ON (
				FSD.CRTR_YR = #{crtrYr}
				AND FSD.APC_CD = #{apcCd}
				AND FSD.SN = #{sn}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  SORT_MCHN_SPCFCT 	= #{sortMchnSpcect}
				  , SORT_BRCK_MCHN 		= #{sortBrckMchn}
				  , COLOR_SORT 			= #{colorSort}
				  , SHAP_SORT 			= #{shapSort}
				  , MNFC_MCHN 			= #{mnfcMchn}
				  , MKR_NM	 			= #{mkrNm}
				  , SORT_MCHN_HOLD_YN	= #{sortMchnHoldYn}

				  , SYS_LAST_CHG_DT		= SYSDATE
				  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , APC_CD
				  , APC_NM
				  , ITEM_CD
				  , ITEM_NM
				  , SORT_MCHN_SPCFCT
				  , SORT_BRCK_MCHN
				  , COLOR_SORT
				  , SHAP_SORT
				  , MNFC_MCHN
				  , MKR_NM
				  , SORT_MCHN_HOLD_YN

				  , SN

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{apcCd}
				  , (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr})
				  , (SELECT
				  			ITEM_CD
				  		FROM  TB_TE_APC_OPER_TRMT_ITEM
				  		WHERE 1=1
				  		  AND APC_CD = #{apcCd}
				  		  AND CRTR_YR = #{crtrYr}
				  		  AND SN = #{sn}
				  		  AND OGNZ_SE_CD = '2'
				  	)
				  , (SELECT
				  			ITEM_NM
				  		FROM  TB_TE_APC_OPER_TRMT_ITEM
				  		WHERE 1=1
				  		  AND APC_CD = #{apcCd}
				  		  AND CRTR_YR = #{crtrYr}
				  		  AND SN = #{sn}
				  		  AND OGNZ_SE_CD = '2'
				  	)
				  , #{sortMchnSpcect}
				  , #{sortBrckMchn}
				  , #{colorSort}
				  , #{shapSort}
				  , #{mnfcMchn}
				  , #{mkrNm}
				  , #{sortMchnHoldYn}

				  , #{sn}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<update id="updateFcltGdsMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.updateFcltGdsMchnInfo */
				TB_TE_APC_FCLT_STTS_DTL FSD
			   SET
				  SORT_MCHN_SPCFCT 		= #{sortMchnSpcect}
				  , SORT_BRCK_MCHN 		= #{sortBrckMchn}
				  , COLOR_SORT 			= #{colorSort}
				  , SHAP_SORT 			= #{shapSort}
				  , MNFC_MCHN 			= #{mnfcMchn}
				  , MKR_NM	 			= #{mkrNm}
				  , SORT_MCHN_HOLD_YN	= #{sortMchnHoldYn}

		]]>
		<if test='delYn != null and delYn != ""'>
				  , DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				  , SYS_LAST_CHG_DT			= SYSDATE
				  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND APC_CD = #{apcCd}
			  AND SN = #{sn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.deleteFcltGdsMchnInfo				-->
	<!-- DESC : 상품화설비현황 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	jeongyd        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="deleteFcltGdsMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.deleteFcltGdsMchnInfo */
				TB_TE_APC_FCLT_STTS_DTL
			   SET
				  DEL_YN 	= 'Y'
			WHERE 1=1
			  AND TRGT_YR = #{trgtYr}
			  AND APC_CD = #{apcCd}
			  AND SN = #{sn}
		]]>
	</update>

	<!--
	<delete id="deleteFcltGdsMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
		<![CDATA[
			DELETE /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.deleteFcltGdsMchnInfo */
				TB_TE_APC_FCLT_STTS_DTL
			WHERE 1=1
			  AND TRGT_YR = #{trgtYr}
			  AND APC_CD = #{apcCd}
		]]>
	</delete>
	-->

	<select id="selectFcltGdsMchnInfoRawDataList" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
			<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.selectFcltGdsMchnInfoList */
				OTI.CRTR_YR
				, OTI.APC_CD
				,(SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = OTI.APC_CD) AS APC_NM
				, OTI.ITEM_CD
				, OTI.ITEM_NM
				, OTI.SN

				, FSD.SORT_MCHN_SPCFCT
				, FSD.SORT_BRCK_MCHN
				, FSD.COLOR_SORT
				, FSD.INR_DMG_IDNTF
				, FSD.SORT_MCHN_ETC
				, FSD.SHAP_SORT
				, FSD.MNFC_MCHN
				, FSD.PCKG_MCHN_GNRL
				, FSD.PCKG_MCHN_ATMTC
				, FSD.TOT_FRSH_CNV_MCHN
				, FSD.RBT_PLTZ
				, FSD.ETC_MNFC_MCHN_PRCS
				, FSD.ETC_MCHN
				, FSD.RMRK
				, FSD.MKR_NM
				, FSD.SORT_MCHN_HOLD_YN
			FROM TB_TE_APC_OPER_TRMT_ITEM OTI
				,TB_TE_APC_FCLT_STTS_DTL FSD
			WHERE 1=1
			  AND OTI.APC_CD = FSD.APC_CD(+)
			  AND OTI.CRTR_YR = FSD.CRTR_YR(+)
			  AND OTI.SN = FSD.SN(+)
			  AND OTI.OGNZ_SE_CD = '2'
			  AND OTI.APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and crtrYr != ""'>
			  AND OTI.CRTR_YR = #{crtrYr}
			</if>
			<if test='userId != null and userId != ""'>
				<if test='userType == "27" or userType == "28"'>
				AND OTI.APC_CD IN (SELECT APC_CD
								FROM TB_APC_INFO
								WHERE 1=1
								<if test='userType == "27"'>
								  AND CTPV = (SELECT CTPV FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								<if test='userType == "28"'>
								  AND SGG = (SELECT SGG FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								)
				</if>
			</if>
			ORDER BY OTI.CRTR_YR , APC_NM , OTI.SN
	</select>
</mapper>