<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltItemPrfmncMapper.xml                                    				-->
<!-- DESC : 산지유통시설품목처리실적 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.selectFcltItemPrfmnc				-->
	<!-- DESC : 산지유통시설품목처리실적 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltItemPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltItemPrfmncVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.selectFcltItemPrfmnc */
				  FCLT.TRGT_YR                 AS TRGT_YR
				, FCLT.APC_CD                  AS APC_CD
				,  (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS 	APC_NM
				, FCLT.FCLT_ITEM_CD            AS FCLT_ITEM_CD
				, FCLT.FCLT_ITEM_TRMT_AMT      AS FCLT_ITEM_TRMT_AMT
				, FCLT.FCLT_ITEM_SPMT_RT       AS FCLT_ITEM_SPMT_RT

				, FCLT.FCLT_ITEM_SPMT_AMT      AS FCLT_ITEM_SPMT_AMT
				, FCLT.FCLT_ITEM_SPMT_AMT2     AS FCLT_ITEM_SPMT_AMT2
				, FCLT.FCLT_ITEM_SPMT_AMT3     AS FCLT_ITEM_SPMT_AMT3
				, FCLT.FCLT_ITEM_SPMT_AMT4     AS FCLT_ITEM_SPMT_AMT4
				, FCLT.FCLT_ITEM_SPMT_AMT5     AS FCLT_ITEM_SPMT_AMT5

				, FCLT.FCLT_ITEM_TRMT_VLM      AS FCLT_ITEM_TRMT_VLM
				, FCLT.FCLT_ITEM_TRMT_VLM2     AS FCLT_ITEM_TRMT_VLM2
				, FCLT.FCLT_ITEM_TRMT_VLM3     AS FCLT_ITEM_TRMT_VLM3
				, FCLT.FCLT_ITEM_TRMT_VLM4     AS FCLT_ITEM_TRMT_VLM4
				, FCLT.FCLT_ITEM_TRMT_VLM5     AS FCLT_ITEM_TRMT_VLM5

				, FCLT.FCLT_ITEM_MRKT_AMT      AS FCLT_ITEM_MRKT_AMT
				, FCLT.FCLT_ITEM_MRKT_AMT2     AS FCLT_ITEM_MRKT_AMT2
				, FCLT.FCLT_ITEM_MRKT_AMT3     AS FCLT_ITEM_MRKT_AMT3
				, FCLT.FCLT_ITEM_MRKT_AMT4     AS FCLT_ITEM_MRKT_AMT4
				, FCLT.FCLT_ITEM_MRKT_AMT5     AS FCLT_ITEM_MRKT_AMT5
			 FROM TB_FCLT_ITEM_PRFMNC FCLT
 			 WHERE 1=1
		     ]]>
        		<if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  APC_CD = #{apcCd}
		   </if>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.selectFcltItemPrfmncList			-->
	<!-- DESC : 산지유통시설품목처리실적 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltItemPrfmncList" parameterType="com.at.apcss.fm.fclt.vo.FcltItemPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltItemPrfmncVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.selectFcltItemPrfmncList */
				  FCLT.TRGT_YR                 AS TRGT_YR
				, FCLT.APC_CD                  AS APC_CD
				, (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS 	APC_NM
				, FCLT.FCLT_ITEM_CD            AS FCLT_ITEM_CD
				, FCLT.FCLT_ITEM_TRMT_AMT      AS FCLT_ITEM_TRMT_AMT
				, FCLT.FCLT_ITEM_SPMT_RT       AS FCLT_ITEM_SPMT_RT

				, FCLT.FCLT_ITEM_SPMT_AMT      AS FCLT_ITEM_SPMT_AMT
				, FCLT.FCLT_ITEM_SPMT_AMT2     AS FCLT_ITEM_SPMT_AMT2
				, FCLT.FCLT_ITEM_SPMT_AMT3     AS FCLT_ITEM_SPMT_AMT3
				, FCLT.FCLT_ITEM_SPMT_AMT4     AS FCLT_ITEM_SPMT_AMT4
				, FCLT.FCLT_ITEM_SPMT_AMT5     AS FCLT_ITEM_SPMT_AMT5

				, FCLT.FCLT_ITEM_TRMT_VLM      AS FCLT_ITEM_TRMT_VLM
				, FCLT.FCLT_ITEM_TRMT_VLM2     AS FCLT_ITEM_TRMT_VLM2
				, FCLT.FCLT_ITEM_TRMT_VLM3     AS FCLT_ITEM_TRMT_VLM3
				, FCLT.FCLT_ITEM_TRMT_VLM4     AS FCLT_ITEM_TRMT_VLM4
				, FCLT.FCLT_ITEM_TRMT_VLM5     AS FCLT_ITEM_TRMT_VLM5

				, FCLT.FCLT_ITEM_MRKT_AMT      AS FCLT_ITEM_MRKT_AMT
				, FCLT.FCLT_ITEM_MRKT_AMT2     AS FCLT_ITEM_MRKT_AMT2
				, FCLT.FCLT_ITEM_MRKT_AMT3     AS FCLT_ITEM_MRKT_AMT3
				, FCLT.FCLT_ITEM_MRKT_AMT4     AS FCLT_ITEM_MRKT_AMT4
				, FCLT.FCLT_ITEM_MRKT_AMT5     AS FCLT_ITEM_MRKT_AMT5
			 FROM TB_FCLT_ITEM_PRFMNC FCLT
 			 WHERE 1=1
 		 ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.insertFcltItemPrfmnc				-->
	<!-- DESC : 산지유통시설품목처리실적 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<!--

    <insert id="insertFcltItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltItemPrfmncVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.insertFcltItemPrfmnc */
	    	  INTO TB_FCLT_ITEM_PRFMNC FCLT
	    		(
	    			TRGT_YR
	    		  , APC_CD
	    		  , FCLT_ITEM_CD
	    		  , FCLT_ITEM_TRMT_AMT
	    		  , FCLT_ITEM_SPMT_RT

	    		  , FCLT_ITEM_SPMT_AMT
			      , FCLT_ITEM_SPMT_AMT2
				  , FCLT_ITEM_SPMT_AMT3
				  , FCLT_ITEM_SPMT_AMT4
				  , FCLT_ITEM_SPMT_AMT5

	    		  , FCLT_ITEM_TRMT_VLM
				  , FCLT_ITEM_TRMT_VLM2
				  , FCLT_ITEM_TRMT_VLM3
				  , FCLT_ITEM_TRMT_VLM4
				  , FCLT_ITEM_TRMT_VLM5

				  , FCLT_ITEM_MRKT_AMT
				  , FCLT_ITEM_MRKT_AMT2
				  , FCLT_ITEM_MRKT_AMT3
				  , FCLT_ITEM_MRKT_AMT4
				  , FCLT_ITEM_MRKT_AMT5

	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    #{trgtYr}
	   			  , #{apcCd}
	   			  , #{fcltItemCd}
	   			  , #{fcltItemSpmtRt}
	   			  , #{fcltItemTrmtAmt}

	   			  , #{fcltItemSpmtAmt}
	   			  , #{fcltItemSpmtAmt2}
			   	  , #{fcltItemSpmtAmt3}
			   	  , #{fcltItemSpmtAmt4}
			   	  , #{fcltItemSpmtAmt5}

	   			  , #{fcltItemTrmtVlm}
			   	  , #{fcltItemTrmtVlm2}
			   	  , #{fcltItemTrmtVlm3}
			   	  , #{fcltItemTrmtVlm4}
			   	  , #{fcltItemTrmtVlm5}

			   	  , #{fcltItemMrktAmt}
			   	  , #{fcltItemMrktAmt2}
			   	  , #{fcltItemMrktAmt3}
			   	  , #{fcltItemMrktAmt4}
			   	  , #{fcltItemMrktAmt5}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>
     -->

     <update id="insertFcltItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltItemPrfmncVO">
     	MERGE INTO TB_FCLT_ITEM_PRFMNC FCLT /* com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.insertFcltItemPrfmnc */
		USING DUAL
		ON (
			FCLT.TRGT_YR = #{trgtYr}
			AND FCLT.APC_CD = #{apcCd}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  FCLT_ITEM_CD         =  #{fcltItemCd}
    	        , FCLT_ITEM_TRMT_AMT   =  #{fcltItemTrmtAmt}
    	        , FCLT_ITEM_SPMT_RT    =  #{fcltItemSpmtRt}

    	        , FCLT_ITEM_SPMT_AMT   =  #{fcltItemSpmtAmt}
		    	, FCLT_ITEM_SPMT_AMT2  =  #{fcltItemSpmtAmt2}
		    	, FCLT_ITEM_SPMT_AMT3  =  #{fcltItemSpmtAmt3}
		    	, FCLT_ITEM_SPMT_AMT4  =  #{fcltItemSpmtAmt4}
		    	, FCLT_ITEM_SPMT_AMT5  =  #{fcltItemSpmtAmt5}

    	        , FCLT_ITEM_TRMT_VLM   =  #{fcltItemTrmtVlm}
		    	, FCLT_ITEM_TRMT_VLM2  =  #{fcltItemTrmtVlm2}
		    	, FCLT_ITEM_TRMT_VLM3  =  #{fcltItemTrmtVlm3}
		    	, FCLT_ITEM_TRMT_VLM4  =  #{fcltItemTrmtVlm4}
		    	, FCLT_ITEM_TRMT_VLM5  =  #{fcltItemTrmtVlm5}

		    	, FCLT_ITEM_MRKT_AMT   =  #{fcltItemMrktAmt}
		    	, FCLT_ITEM_MRKT_AMT2  =  #{fcltItemMrktAmt2}
		    	, FCLT_ITEM_MRKT_AMT3  =  #{fcltItemMrktAmt3}
		    	, FCLT_ITEM_MRKT_AMT4  =  #{fcltItemMrktAmt4}
		    	, FCLT_ITEM_MRKT_AMT5  =  #{fcltItemMrktAmt5}
				  , SYS_LAST_CHG_DT		= SYSDATE
	    		  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  TRGT_YR
	    		  , APC_CD
	    		  , FCLT_ITEM_CD
	    		  , FCLT_ITEM_TRMT_AMT
	    		  , FCLT_ITEM_SPMT_RT

	    		  , FCLT_ITEM_SPMT_AMT
			      , FCLT_ITEM_SPMT_AMT2
				  , FCLT_ITEM_SPMT_AMT3
				  , FCLT_ITEM_SPMT_AMT4
				  , FCLT_ITEM_SPMT_AMT5

	    		  , FCLT_ITEM_TRMT_VLM
				  , FCLT_ITEM_TRMT_VLM2
				  , FCLT_ITEM_TRMT_VLM3
				  , FCLT_ITEM_TRMT_VLM4
				  , FCLT_ITEM_TRMT_VLM5

				  , FCLT_ITEM_MRKT_AMT
				  , FCLT_ITEM_MRKT_AMT2
				  , FCLT_ITEM_MRKT_AMT3
				  , FCLT_ITEM_MRKT_AMT4
				  , FCLT_ITEM_MRKT_AMT5

	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   	VALUES
	   		    (
	   			  #{trgtYr}
	   			  , #{apcCd}
	   			  , #{fcltItemCd}
	   			  , #{fcltItemSpmtRt}
	   			  , #{fcltItemTrmtAmt}

	   			  , #{fcltItemSpmtAmt}
	   			  , #{fcltItemSpmtAmt2}
			   	  , #{fcltItemSpmtAmt3}
			   	  , #{fcltItemSpmtAmt4}
			   	  , #{fcltItemSpmtAmt5}

	   			  , #{fcltItemTrmtVlm}
			   	  , #{fcltItemTrmtVlm2}
			   	  , #{fcltItemTrmtVlm3}
			   	  , #{fcltItemTrmtVlm4}
			   	  , #{fcltItemTrmtVlm5}

			   	  , #{fcltItemMrktAmt}
			   	  , #{fcltItemMrktAmt2}
			   	  , #{fcltItemMrktAmt3}
			   	  , #{fcltItemMrktAmt4}
			   	  , #{fcltItemMrktAmt5}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
		     	)
     </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.updateFcltItemPrfmnc				-->
	<!-- DESC : 산지유통시설품목처리실적 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltItemPrfmncVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.updateFcltItemPrfmnc */
	    		TB_FCLT_ITEM_PRFMNC FCLT
			   SET
    	        FCLT_ITEM_CD         =  #{fcltItemCd}
    	        , FCLT_ITEM_TRMT_AMT   =  #{fcltItemTrmtAmt}
    	        , FCLT_ITEM_SPMT_RT    =  #{fcltItemSpmtRt}

    	        , FCLT_ITEM_SPMT_AMT   =  #{fcltItemSpmtAmt}
		    	, FCLT_ITEM_SPMT_AMT2  =  #{fcltItemSpmtAmt2}
		    	, FCLT_ITEM_SPMT_AMT3  =  #{fcltItemSpmtAmt3}
		    	, FCLT_ITEM_SPMT_AMT4  =  #{fcltItemSpmtAmt4}
		    	, FCLT_ITEM_SPMT_AMT5  =  #{fcltItemSpmtAmt5}

    	        , FCLT_ITEM_TRMT_VLM   =  #{fcltItemTrmtVlm}
		    	, FCLT_ITEM_TRMT_VLM2  =  #{fcltItemTrmtVlm2}
		    	, FCLT_ITEM_TRMT_VLM3  =  #{fcltItemTrmtVlm3}
		    	, FCLT_ITEM_TRMT_VLM4  =  #{fcltItemTrmtVlm4}
		    	, FCLT_ITEM_TRMT_VLM5  =  #{fcltItemTrmtVlm5}

		    	, FCLT_ITEM_MRKT_AMT   =  #{fcltItemMrktAmt}
		    	, FCLT_ITEM_MRKT_AMT2  =  #{fcltItemMrktAmt2}
		    	, FCLT_ITEM_MRKT_AMT3  =  #{fcltItemMrktAmt3}
		    	, FCLT_ITEM_MRKT_AMT4  =  #{fcltItemMrktAmt4}
		    	, FCLT_ITEM_MRKT_AMT5  =  #{fcltItemMrktAmt5}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.deleteFcltItemPrfmnc				-->
	<!-- DESC : 산지유통시설품목처리실적 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltItemPrfmncVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltItemPrfmncMapper.deleteFcltItemPrfmnc */
	    		TB_FCLT_ITEM_PRFMNC FCLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>