<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltPrgrsMapper.xml                                    				-->
<!-- DESC : 운영자개요 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltPrgrsMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrgrsMapper.selectPrgrs				-->
	<!-- DESC : 진척도 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.23  	ljw        		Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectPrgrs" parameterType="com.at.apcss.fm.fclt.vo.FcltPrgrsVO" resultType="com.at.apcss.fm.fclt.vo.FcltPrgrsVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltPrgrsMapper.selectPrgrs */
				AP.CRTR_YR
				, AP.APC_CD
				, (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = AP.APC_CD) AS APC_NM
				, AP.PRGRS_SE_CD
				, AP.PRGRS_1
				, AP.PRGRS_2
				, AP.PRGRS_3
				, AP.PRGRS_4
				, AP.PRGRS_5
				, AP.PRGRS_6
				, AP.PRGRS_7
				, AP.PRGRS_8
				, AP.PRGRS_9
				, AP.PRGRS_10
				, AP.PRGRS_11
				, AP.PRGRS_12
				, AP.PRGRS_13
				, AP.PRGRS_14
				, AP.PRGRS_LAST
				, (SELECT  COUNT(VAL) FROM TB_TE_APC_PRGRS
					UNPIVOT (VAL FOR INFO IN (PRGRS_1, PRGRS_2, PRGRS_3, PRGRS_4, PRGRS_5, PRGRS_6, PRGRS_7, PRGRS_8, PRGRS_9, PRGRS_10, PRGRS_11, PRGRS_12, PRGRS_13, PRGRS_14))
					WHERE 1=1
					  AND VAL = 'Y'
					  AND CRTR_YR = AP.CRTR_YR
					  AND APC_CD = AP.APC_CD
					) AS CNT
			FROM TB_TE_APC_PRGRS AP
			WHERE 1=1
			  AND AP.DEL_YN = 'N'
			  AND AP.APC_CD IS NOT NULL
			  AND AP.PRGRS_SE_CD = 'FCLT'
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND  AP.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND  AP.APC_CD = #{apcCd}
			</if>
			<if test='itemNm != null and !itemNm.equals("")'>
			  AND  EXISTS(SELECT 1
			  				FROM TB_TE_APC_OPER_TRMT_ITEM
			  				WHERE 1=1
			  				  AND APC_CD = AP.APC_CD
			  				  AND OGNZ_SE_CD = '2'
			  				  AND ITEM_NM LIKE '%' || #{itemNm} || '%'
			  				)
			</if>
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrgrsMapper.selectPrgrsList			-->
	<!-- DESC : 진척도 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.23  	ljw        		Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectPrgrsList" parameterType="com.at.apcss.fm.fclt.vo.FcltPrgrsVO" resultType="com.at.apcss.fm.fclt.vo.FcltPrgrsVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltPrgrsMapper.selectPrgrsList */
				AP.CRTR_YR
				, AP.APC_CD
				, (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = AP.APC_CD) AS APC_NM
				, AP.PRGRS_SE_CD
				, AP.PRGRS_1
				, AP.PRGRS_2
				, AP.PRGRS_3
				, AP.PRGRS_4
				, AP.PRGRS_5
				, AP.PRGRS_6
				, AP.PRGRS_7
				, AP.PRGRS_8
				, AP.PRGRS_9
				, AP.PRGRS_10
				, AP.PRGRS_11
				, AP.PRGRS_12
				, AP.PRGRS_13
				, AP.PRGRS_14
				, AP.PRGRS_LAST
				, AP.APRV_CTPV_STTS
				, AP.APRV_SGG_STTS

			FROM TB_TE_APC_PRGRS AP
			WHERE 1=1
			  AND AP.DEL_YN = 'N'
			  AND AP.APC_CD IS NOT NULL
			  AND AP.PRGRS_SE_CD = 'FCLT'
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND  AP.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND  AP.APC_CD = #{apcCd}
			</if>
			<if test='itemNm != null and !itemNm.equals("")'>
			  AND  EXISTS(SELECT 1
			  				FROM TB_TE_APC_OPER_TRMT_ITEM
			  				WHERE 1=1
			  				  AND APC_CD = AP.APC_CD
			  				  AND OGNZ_SE_CD = '2'
			  				  AND ITEM_NM LIKE '%' || #{itemNm} || '%'
			  				)
			</if>
	</select>

	<!-- 진척도 갱신 -->
	<update id="insertFcltPrgrs" parameterType="com.at.apcss.fm.fclt.vo.FcltPrgrsVO">
		MERGE INTO TB_TE_APC_PRGRS AP	/* com.at.apcss.fm.fclt.mapper.FcltPrgrsMapper.insertFcltPrgrs */
		USING DUAL
		ON (
			AP.CRTR_YR 		= #{crtrYr}
			AND AP.APC_CD 	= #{apcCd}
			AND AP.PRGRS_SE_CD = 'FCLT'
			)
		WHEN MATCHED THEN
		  UPDATE SET
				SYS_LAST_CHG_DT		=  SYSDATE
				, SYS_LAST_CHG_USER_ID	=  #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	=  #{sysLastChgPrgrmId}
				<if test='prgrsSel.equals("1")'>
				, PRGRS_1			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("2")'>
				, PRGRS_2			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("3")'>
				, PRGRS_3			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("4")'>
				, PRGRS_4			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("5")'>
				, PRGRS_5			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("6")'>
				, PRGRS_6			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("7")'>
				, PRGRS_7			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("8")'>
				, PRGRS_8			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("9")'>
				, PRGRS_9			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("10")'>
				, PRGRS_10			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("11")'>
				, PRGRS_11			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("12")'>
				, PRGRS_12			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("13")'>
				, PRGRS_13			= #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("14")'>
				, PRGRS_14			= #{prgrsVal}
				</if>
				<if test='prgrsLast != null and !prgrsLast.equals("")'>
				, PRGRS_LAST		= #{prgrsLast}
				</if>
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , APC_CD
				  , PRGRS_SE_CD

				<if test='prgrsSel.equals("1")'>
				  , PRGRS_1
				</if>
				<if test='prgrsSel.equals("2")'>
				  , PRGRS_2
				</if>
				<if test='prgrsSel.equals("3")'>
				  , PRGRS_3
				</if>
				<if test='prgrsSel.equals("4")'>
				  , PRGRS_4
				</if>
				<if test='prgrsSel.equals("5")'>
				  , PRGRS_5
				</if>
				<if test='prgrsSel.equals("6")'>
				  , PRGRS_6
				</if>
				<if test='prgrsSel.equals("7")'>
				  , PRGRS_7
				</if>
				<if test='prgrsSel.equals("8")'>
				  , PRGRS_8
				</if>
				<if test='prgrsSel.equals("9")'>
				  , PRGRS_9
				</if>
				<if test='prgrsSel.equals("10")'>
				  , PRGRS_10
				</if>
				<if test='prgrsSel.equals("11")'>
				  , PRGRS_11
				</if>
				<if test='prgrsSel.equals("12")'>
				  , PRGRS_12
				</if>
				<if test='prgrsSel.equals("13")'>
				  , PRGRS_13
				</if>
				<if test='prgrsSel.equals("14")'>
				  , PRGRS_14
				</if>
				<if test='prgrsLast != null and !prgrsLast.equals("")'>
				  , PRGRS_LAST
				</if>

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{apcCd}
				  , 'FCLT'

				<if test='prgrsSel.equals("1")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("2")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("3")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("4")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("5")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("6")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("7")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("8")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("9")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("10")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("11")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("12")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("13")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsSel.equals("14")'>
				 , #{prgrsVal}
				</if>
				<if test='prgrsLast != null and !prgrsLast.equals("")'>
				 , #{prgrsLast}
				</if>

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<!-- 최종제출 여부 업데이트 -->
	<update id="updatePrgrsLast" parameterType="com.at.apcss.fm.fclt.vo.FcltPrgrsVO">
		UPDATE
			TB_TE_APC_PRGRS
		SET
			PRGRS_LAST = #{prgrsLast}
			, SYS_LAST_CHG_DT		=  SYSDATE
			, SYS_LAST_CHG_USER_ID	=  #{sysLastChgUserId}
			, SYS_LAST_CHG_PRGRM_ID	=  #{sysLastChgPrgrmId}
		WHERE 1=1
		  AND CRTR_YR		= #{crtrYr}
		  AND APC_CD		= #{apcCd}
		  AND PRGRS_SE_CD	= 'FCLT'
	</update>

	<!-- 지자체 승인 업데이트 -->
	<update id="updateAprv" parameterType="com.at.apcss.fm.fclt.vo.FcltPrgrsVO">
		UPDATE
			TB_TE_APC_PRGRS
		SET

			SYS_LAST_CHG_DT			=  SYSDATE
			, SYS_LAST_CHG_USER_ID	=  #{sysLastChgUserId}
			, SYS_LAST_CHG_PRGRM_ID	=  #{sysLastChgPrgrmId}
			<if test='userType.equals("27")'>
				<if test='aprvYn.equals("Y")'>
				, APRV_CTPV_STTS = #{aprvYn}
				, APRV_CTPV_NM = (SELECT USER_ID FROM TB_COM_USER WHERE USER_ID = #{userId})
				, APRV_CTPV_USER_ID = #{userId}
				, APRV_CTPV_DT = SYSDATE
				</if>
				<if test='aprvYn.equals("N")'>
				, APRV_CTPV_STTS = #{aprvYn}
				, RJCT_CTPV_NM = (SELECT USER_ID FROM TB_COM_USER WHERE USER_ID = #{userId})
				, RJCT_CTPV_USER_ID = #{userId}
				, RJCT_CTPV_DT = SYSDATE
				</if>
				<if test='aprvYn.equals("C")'>
				, APRV_CTPV_STTS = null
				</if>
			</if>
			<if test='userType.equals("28")'>
				<if test='aprvYn.equals("Y")'>
				, APRV_SGG_STTS = #{aprvYn}
				, APRV_SGG_NM = (SELECT USER_ID FROM TB_COM_USER WHERE USER_ID = #{userId})
				, APRV_SGG_USER_ID = #{userId}
				, APRV_SGG_DT = SYSDATE
				</if>
				<if test='aprvYn.equals("N")'>
				, APRV_SGG_STTS = #{aprvYn}
				, RJCT_SGG_NM = (SELECT USER_ID FROM TB_COM_USER WHERE USER_ID = #{userId})
				, RJCT_SGG_USER_ID = #{userId}
				, RJCT_SGG_DT = SYSDATE
				</if>
				<if test='aprvYn.equals("C")'>
				, APRV_SGG_STTS = null
				</if>
			</if>
		WHERE 1=1
		  AND CRTR_YR		= #{crtrYr}
		  AND APC_CD		= #{apcCd}
		  AND PRGRS_SE_CD	= 'FCLT'
	</update>
</mapper>