<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltSortMchnOperInfoMapper.xml                                    				-->
<!-- DESC : 선별기운영기간 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.selectFcltSortMchnOperInfo				-->
	<!-- DESC : 선별기운영기간 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltSortMchnOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnOperInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltSortMchnOperInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.selectFcltSortMchnOperInfo */
					 FCLT.TRGT_YR                AS   TRGT_YR
				,	 FCLT.APC_CD                 AS   APC_CD
				,	 FCLT.SORT_MCHN_ITEM_CD      AS   SORT_MCHN_ITEM_CD
				,	 FCLT.SORT_MCHN_OPER_CD      AS   SORT_MCHN_OPER_CD
				,	 FCLT.SORT_MCHN_OPER_YN      AS   SORT_MCHN_OPER_YN
				,	 FCLT.DEL_YN                 AS   DEL_YN
				,	 FCLT.SYS_FRST_INPT_DT       AS   SYS_FRST_INPT_DT
				,	 FCLT.SYS_FRST_INPT_USER_ID  AS   SYS_FRST_INPT_USER_ID
				,	 FCLT.SYS_FRST_INPT_PRGRM_ID AS   SYS_FRST_INPT_PRGRM_ID
				,	 FCLT.SYS_LAST_CHG_DT        AS   SYS_LAST_CHG_DT
				,	 FCLT.SYS_LAST_CHG_USER_ID   AS   SYS_LAST_CHG_USER_ID
				,	 FCLT.SYS_LAST_CHG_PRGRM_ID  AS   SYS_LAST_CHG_PRGRM_ID
				,    FCLT.SORT_MCHN_HLD_YN101   AS	  SORT_MCHN_HLD_YN101
				,    FCLT.SORT_MCHN_HLD_YN102   AS    SORT_MCHN_HLD_YN102
				,    FCLT.SORT_MCHN_HLD_YN103   AS    SORT_MCHN_HLD_YN103
				,    FCLT.SORT_MCHN_HLD_YN104   AS    SORT_MCHN_HLD_YN104
				,    FCLT.SORT_MCHN_HLD_YN105   AS    SORT_MCHN_HLD_YN105
				,    FCLT.SORT_MCHN_HLD_YN106   AS    SORT_MCHN_HLD_YN106
				,    FCLT.SORT_MCHN_HLD_YN107   AS    SORT_MCHN_HLD_YN107
				,    FCLT.SORT_MCHN_HLD_YN108   AS    SORT_MCHN_HLD_YN108
				,    FCLT.SORT_MCHN_HLD_YN109   AS    SORT_MCHN_HLD_YN109
				,    FCLT.SORT_MCHN_HLD_YN110   AS    SORT_MCHN_HLD_YN110
				,    FCLT.SORT_MCHN_HLD_YN111   AS    SORT_MCHN_HLD_YN111
				,    FCLT.SORT_MCHN_HLD_YN112   AS    SORT_MCHN_HLD_YN112
				,    FCLT.SORT_MCHN_HLD_YN201   AS    SORT_MCHN_HLD_YN201
				,    FCLT.SORT_MCHN_HLD_YN202   AS    SORT_MCHN_HLD_YN202
				,    FCLT.SORT_MCHN_HLD_YN203   AS    SORT_MCHN_HLD_YN203
				,    FCLT.SORT_MCHN_HLD_YN204   AS    SORT_MCHN_HLD_YN204
				,    FCLT.SORT_MCHN_HLD_YN205   AS    SORT_MCHN_HLD_YN205
				,    FCLT.SORT_MCHN_HLD_YN206   AS    SORT_MCHN_HLD_YN206
				,    FCLT.SORT_MCHN_HLD_YN207   AS    SORT_MCHN_HLD_YN207
				,    FCLT.SORT_MCHN_HLD_YN208   AS    SORT_MCHN_HLD_YN208
				,    FCLT.SORT_MCHN_HLD_YN209   AS    SORT_MCHN_HLD_YN209
				,    FCLT.SORT_MCHN_HLD_YN210   AS    SORT_MCHN_HLD_YN210
				,    FCLT.SORT_MCHN_HLD_YN211   AS    SORT_MCHN_HLD_YN211
				,    FCLT.SORT_MCHN_HLD_YN212   AS    SORT_MCHN_HLD_YN212
				,    FCLT.SORT_MCHN_HLD_YN301   AS    SORT_MCHN_HLD_YN301
				,    FCLT.SORT_MCHN_HLD_YN302   AS    SORT_MCHN_HLD_YN302
				,    FCLT.SORT_MCHN_HLD_YN303   AS    SORT_MCHN_HLD_YN303
				,    FCLT.SORT_MCHN_HLD_YN304   AS    SORT_MCHN_HLD_YN304
				,    FCLT.SORT_MCHN_HLD_YN305   AS    SORT_MCHN_HLD_YN305
				,    FCLT.SORT_MCHN_HLD_YN306   AS    SORT_MCHN_HLD_YN306
				,    FCLT.SORT_MCHN_HLD_YN307   AS    SORT_MCHN_HLD_YN307
				,    FCLT.SORT_MCHN_HLD_YN308   AS    SORT_MCHN_HLD_YN308
				,    FCLT.SORT_MCHN_HLD_YN309   AS    SORT_MCHN_HLD_YN309
				,    FCLT.SORT_MCHN_HLD_YN310   AS    SORT_MCHN_HLD_YN310
				,    FCLT.SORT_MCHN_HLD_YN311   AS    SORT_MCHN_HLD_YN311
				,    FCLT.SORT_MCHN_HLD_YN312   AS    SORT_MCHN_HLD_YN312
				,    FCLT.SORT_MCHN_HLD_YN401   AS    SORT_MCHN_HLD_YN401
				,    FCLT.SORT_MCHN_HLD_YN402   AS    SORT_MCHN_HLD_YN402
				,    FCLT.SORT_MCHN_HLD_YN403   AS    SORT_MCHN_HLD_YN403
				,    FCLT.SORT_MCHN_HLD_YN404   AS    SORT_MCHN_HLD_YN404
				,    FCLT.SORT_MCHN_HLD_YN405   AS    SORT_MCHN_HLD_YN405
				,    FCLT.SORT_MCHN_HLD_YN406   AS    SORT_MCHN_HLD_YN406
				,    FCLT.SORT_MCHN_HLD_YN407   AS    SORT_MCHN_HLD_YN407
				,    FCLT.SORT_MCHN_HLD_YN408   AS    SORT_MCHN_HLD_YN408
				,    FCLT.SORT_MCHN_HLD_YN409   AS    SORT_MCHN_HLD_YN409
				,    FCLT.SORT_MCHN_HLD_YN410   AS    SORT_MCHN_HLD_YN410
				,    FCLT.SORT_MCHN_HLD_YN411   AS    SORT_MCHN_HLD_YN411
				,    FCLT.SORT_MCHN_HLD_YN412   AS    SORT_MCHN_HLD_YN412


			  FROM TB_FCLT_SORT_MCHN_OPER_INFO FCLT
	    	 WHERE 1=1
		]]>
        <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.selectFcltSortMchnOperInfoList			-->
	<!-- DESC : 선별기운영기간 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltSortMchnOperInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnOperInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltSortMchnOperInfoVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.selectFcltSortMchnOperInfoList */
					 FCLT.TRGT_YR                AS   TRGT_YR
				,	 FCLT.APC_CD                 AS   APC_CD
				,	 FCLT.SORT_MCHN_ITEM_CD      AS   SORT_MCHN_ITEM_CD
				,	 FCLT.SORT_MCHN_OPER_CD      AS   SORT_MCHN_OPER_CD
				,	 FCLT.SORT_MCHN_OPER_YN      AS   SORT_MCHN_OPER_YN
				,	 FCLT.DEL_YN                 AS   DEL_YN
				,	 FCLT.SYS_FRST_INPT_DT       AS   SYS_FRST_INPT_DT
				,	 FCLT.SYS_FRST_INPT_USER_ID  AS   SYS_FRST_INPT_USER_ID
				,	 FCLT.SYS_FRST_INPT_PRGRM_ID AS   SYS_FRST_INPT_PRGRM_ID
				,	 FCLT.SYS_LAST_CHG_DT        AS   SYS_LAST_CHG_DT
				,	 FCLT.SYS_LAST_CHG_USER_ID   AS   SYS_LAST_CHG_USER_ID
				,	 FCLT.SYS_LAST_CHG_PRGRM_ID  AS   SYS_LAST_CHG_PRGRM_ID
				,    FCLT.SORT_MCHN_HLD_YN101   AS	  SORT_MCHN_HLD_YN101
				,    FCLT.SORT_MCHN_HLD_YN102   AS    SORT_MCHN_HLD_YN102
				,    FCLT.SORT_MCHN_HLD_YN103   AS    SORT_MCHN_HLD_YN103
				,    FCLT.SORT_MCHN_HLD_YN104   AS    SORT_MCHN_HLD_YN104
				,    FCLT.SORT_MCHN_HLD_YN105   AS    SORT_MCHN_HLD_YN105
				,    FCLT.SORT_MCHN_HLD_YN106   AS    SORT_MCHN_HLD_YN106
				,    FCLT.SORT_MCHN_HLD_YN107   AS    SORT_MCHN_HLD_YN107
				,    FCLT.SORT_MCHN_HLD_YN108   AS    SORT_MCHN_HLD_YN108
				,    FCLT.SORT_MCHN_HLD_YN109   AS    SORT_MCHN_HLD_YN109
				,    FCLT.SORT_MCHN_HLD_YN110   AS    SORT_MCHN_HLD_YN110
				,    FCLT.SORT_MCHN_HLD_YN111   AS    SORT_MCHN_HLD_YN111
				,    FCLT.SORT_MCHN_HLD_YN112   AS    SORT_MCHN_HLD_YN112
				,    FCLT.SORT_MCHN_HLD_YN201   AS    SORT_MCHN_HLD_YN201
				,    FCLT.SORT_MCHN_HLD_YN202   AS    SORT_MCHN_HLD_YN202
				,    FCLT.SORT_MCHN_HLD_YN203   AS    SORT_MCHN_HLD_YN203
				,    FCLT.SORT_MCHN_HLD_YN204   AS    SORT_MCHN_HLD_YN204
				,    FCLT.SORT_MCHN_HLD_YN205   AS    SORT_MCHN_HLD_YN205
				,    FCLT.SORT_MCHN_HLD_YN206   AS    SORT_MCHN_HLD_YN206
				,    FCLT.SORT_MCHN_HLD_YN207   AS    SORT_MCHN_HLD_YN207
				,    FCLT.SORT_MCHN_HLD_YN208   AS    SORT_MCHN_HLD_YN208
				,    FCLT.SORT_MCHN_HLD_YN209   AS    SORT_MCHN_HLD_YN209
				,    FCLT.SORT_MCHN_HLD_YN210   AS    SORT_MCHN_HLD_YN210
				,    FCLT.SORT_MCHN_HLD_YN211   AS    SORT_MCHN_HLD_YN211
				,    FCLT.SORT_MCHN_HLD_YN212   AS    SORT_MCHN_HLD_YN212
				,    FCLT.SORT_MCHN_HLD_YN301   AS    SORT_MCHN_HLD_YN301
				,    FCLT.SORT_MCHN_HLD_YN302   AS    SORT_MCHN_HLD_YN302
				,    FCLT.SORT_MCHN_HLD_YN303   AS    SORT_MCHN_HLD_YN303
				,    FCLT.SORT_MCHN_HLD_YN304   AS    SORT_MCHN_HLD_YN304
				,    FCLT.SORT_MCHN_HLD_YN305   AS    SORT_MCHN_HLD_YN305
				,    FCLT.SORT_MCHN_HLD_YN306   AS    SORT_MCHN_HLD_YN306
				,    FCLT.SORT_MCHN_HLD_YN307   AS    SORT_MCHN_HLD_YN307
				,    FCLT.SORT_MCHN_HLD_YN308   AS    SORT_MCHN_HLD_YN308
				,    FCLT.SORT_MCHN_HLD_YN309   AS    SORT_MCHN_HLD_YN309
				,    FCLT.SORT_MCHN_HLD_YN310   AS    SORT_MCHN_HLD_YN310
				,    FCLT.SORT_MCHN_HLD_YN311   AS    SORT_MCHN_HLD_YN311
				,    FCLT.SORT_MCHN_HLD_YN312   AS    SORT_MCHN_HLD_YN312
				,    FCLT.SORT_MCHN_HLD_YN401   AS    SORT_MCHN_HLD_YN401
				,    FCLT.SORT_MCHN_HLD_YN402   AS    SORT_MCHN_HLD_YN402
				,    FCLT.SORT_MCHN_HLD_YN403   AS    SORT_MCHN_HLD_YN403
				,    FCLT.SORT_MCHN_HLD_YN404   AS    SORT_MCHN_HLD_YN404
				,    FCLT.SORT_MCHN_HLD_YN405   AS    SORT_MCHN_HLD_YN405
				,    FCLT.SORT_MCHN_HLD_YN406   AS    SORT_MCHN_HLD_YN406
				,    FCLT.SORT_MCHN_HLD_YN407   AS    SORT_MCHN_HLD_YN407
				,    FCLT.SORT_MCHN_HLD_YN408   AS    SORT_MCHN_HLD_YN408
				,    FCLT.SORT_MCHN_HLD_YN409   AS    SORT_MCHN_HLD_YN409
				,    FCLT.SORT_MCHN_HLD_YN410   AS    SORT_MCHN_HLD_YN410
				,    FCLT.SORT_MCHN_HLD_YN411   AS    SORT_MCHN_HLD_YN411
				,    FCLT.SORT_MCHN_HLD_YN412   AS    SORT_MCHN_HLD_YN412
			  FROM TB_FCLT_SORT_MCHN_OPER_INFO FCLT
	    	 WHERE 1=1
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.insertFcltSortMchnOperInfo				-->
	<!-- DESC : 선별기운영기간 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertFcltSortMchnOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnOperInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.insertFcltSortMchnOperInfo */
	    	  INTO TB_FCLT_SORT_MCHN_OPER_INFO FCLT
	    		(
	    			 TRGT_YR
	    		,	 APC_CD
	    		,	 SORT_MCHN_ITEM_CD
	    		,	 SORT_MCHN_OPER_CD
	    		,	 SORT_MCHN_OPER_YN
	    		,	SORT_MCHN_HLD_YN101
				,   SORT_MCHN_HLD_YN102
				,   SORT_MCHN_HLD_YN103
				,   SORT_MCHN_HLD_YN104
				,   SORT_MCHN_HLD_YN105
				,   SORT_MCHN_HLD_YN106
				,   SORT_MCHN_HLD_YN107
				,   SORT_MCHN_HLD_YN108
				,   SORT_MCHN_HLD_YN109
				,   SORT_MCHN_HLD_YN110
				,   SORT_MCHN_HLD_YN111
				,   SORT_MCHN_HLD_YN112
				,   SORT_MCHN_HLD_YN201
				,   SORT_MCHN_HLD_YN202
				,   SORT_MCHN_HLD_YN203
				,   SORT_MCHN_HLD_YN204
				,   SORT_MCHN_HLD_YN205
				,   SORT_MCHN_HLD_YN206
				,   SORT_MCHN_HLD_YN207
				,   SORT_MCHN_HLD_YN208
				,   SORT_MCHN_HLD_YN209
				,   SORT_MCHN_HLD_YN210
				,   SORT_MCHN_HLD_YN211
				,   SORT_MCHN_HLD_YN212
				,   SORT_MCHN_HLD_YN301
				,   SORT_MCHN_HLD_YN302
				,   SORT_MCHN_HLD_YN303
				,   SORT_MCHN_HLD_YN304
				,   SORT_MCHN_HLD_YN305
				,   SORT_MCHN_HLD_YN306
				,   SORT_MCHN_HLD_YN307
				,   SORT_MCHN_HLD_YN308
				,   SORT_MCHN_HLD_YN309
				,   SORT_MCHN_HLD_YN310
				,   SORT_MCHN_HLD_YN311
				,   SORT_MCHN_HLD_YN312
				,   SORT_MCHN_HLD_YN401
				,   SORT_MCHN_HLD_YN402
				,   SORT_MCHN_HLD_YN403
				,   SORT_MCHN_HLD_YN404
				,   SORT_MCHN_HLD_YN405
				,   SORT_MCHN_HLD_YN406
				,   SORT_MCHN_HLD_YN407
				,   SORT_MCHN_HLD_YN408
				,   SORT_MCHN_HLD_YN409
				,   SORT_MCHN_HLD_YN410
				,   SORT_MCHN_HLD_YN411
				,   SORT_MCHN_HLD_YN412
	    		,	 DEL_YN
	    		,	 SYS_FRST_INPT_DT
	    		,	 SYS_FRST_INPT_USER_ID
	    		,	 SYS_FRST_INPT_PRGRM_ID
	    		,	 SYS_LAST_CHG_DT
	    		,	 SYS_LAST_CHG_USER_ID
	    		,	 SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
				 	 #{trgtYr}
				,	 #{apcCd}
				,	 #{sortMchnItemCd}
				,	 #{sortMchnOperCd}
				,	 #{sortMchnOperYn}
				,	#{sortMchnHldYn101}
				,   #{sortMchnHldYn102}
				,   #{sortMchnHldYn103}
				,   #{sortMchnHldYn104}
				,   #{sortMchnHldYn105}
				,   #{sortMchnHldYn106}
				,   #{sortMchnHldYn107}
				,   #{sortMchnHldYn108}
				,   #{sortMchnHldYn109}
				,   #{sortMchnHldYn110}
				,   #{sortMchnHldYn111}
				,   #{sortMchnHldYn112}
				,   #{sortMchnHldYn201}
				,   #{sortMchnHldYn202}
				,   #{sortMchnHldYn203}
				,   #{sortMchnHldYn204}
				,   #{sortMchnHldYn205}
				,   #{sortMchnHldYn206}
				,   #{sortMchnHldYn207}
				,   #{sortMchnHldYn208}
				,   #{sortMchnHldYn209}
				,   #{sortMchnHldYn210}
				,   #{sortMchnHldYn211}
				,   #{sortMchnHldYn212}
				,   #{sortMchnHldYn301}
				,   #{sortMchnHldYn302}
				,   #{sortMchnHldYn303}
				,   #{sortMchnHldYn304}
				,   #{sortMchnHldYn305}
				,   #{sortMchnHldYn306}
				,   #{sortMchnHldYn307}
				,   #{sortMchnHldYn308}
				,   #{sortMchnHldYn309}
				,   #{sortMchnHldYn310}
				,   #{sortMchnHldYn311}
				,   #{sortMchnHldYn312}
				,   #{sortMchnHldYn401}
				,   #{sortMchnHldYn402}
				,   #{sortMchnHldYn403}
				,   #{sortMchnHldYn404}
				,   #{sortMchnHldYn405}
				,   #{sortMchnHldYn406}
				,   #{sortMchnHldYn407}
				,   #{sortMchnHldYn408}
				,   #{sortMchnHldYn409}
				,   #{sortMchnHldYn410}
				,   #{sortMchnHldYn411}
				,   #{sortMchnHldYn412}
				,	 #{delYn}
				,	 SYSDATE
				,	 #{sysFrstInptUserId}
				,	 #{sysFrstInptPrgrmId}
				,	 SYSDATE
				,	 #{sysLastChgUserId}
				,	 #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.updateFcltSortMchnOperInfo				-->
	<!-- DESC : 선별기운영기간 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltSortMchnOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnOperInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.updateFcltSortMchnOperInfo */
	    		TB_FCLT_SORT_MCHN_OPER_INFO FCLT
			   SET
					 TRGT_YR            =  #{trgtYr}
				,	 APC_CD             =  #{apcCd}
				,	 SORT_MCHN_ITEM_CD  =  #{sortMchnItemCd}
				,	 SORT_MCHN_OPER_CD  =  #{sortMchnOperCd}
				,	 SORT_MCHN_OPER_YN  =  #{sortMchnOperYn}
    			,	SORT_MCHN_HLD_YN101  = #{sortMchnHldYn101}
				,   SORT_MCHN_HLD_YN102  = #{sortMchnHldYn102}
				,   SORT_MCHN_HLD_YN103  = #{sortMchnHldYn103}
				,   SORT_MCHN_HLD_YN104  = #{sortMchnHldYn104}
				,   SORT_MCHN_HLD_YN105  = #{sortMchnHldYn105}
				,   SORT_MCHN_HLD_YN106  = #{sortMchnHldYn106}
				,   SORT_MCHN_HLD_YN107  = #{sortMchnHldYn107}
				,   SORT_MCHN_HLD_YN108  = #{sortMchnHldYn108}
				,   SORT_MCHN_HLD_YN109  = #{sortMchnHldYn109}
				,   SORT_MCHN_HLD_YN110  = #{sortMchnHldYn110}
				,   SORT_MCHN_HLD_YN111  = #{sortMchnHldYn111}
				,   SORT_MCHN_HLD_YN112  = #{sortMchnHldYn112}
				,   SORT_MCHN_HLD_YN201  = #{sortMchnHldYn201}
				,   SORT_MCHN_HLD_YN202  = #{sortMchnHldYn202}
				,   SORT_MCHN_HLD_YN203  = #{sortMchnHldYn203}
				,   SORT_MCHN_HLD_YN204  = #{sortMchnHldYn204}
				,   SORT_MCHN_HLD_YN205  = #{sortMchnHldYn205}
				,   SORT_MCHN_HLD_YN206  = #{sortMchnHldYn206}
				,   SORT_MCHN_HLD_YN207  = #{sortMchnHldYn207}
				,   SORT_MCHN_HLD_YN208  = #{sortMchnHldYn208}
				,   SORT_MCHN_HLD_YN209  = #{sortMchnHldYn209}
				,   SORT_MCHN_HLD_YN210  = #{sortMchnHldYn210}
				,   SORT_MCHN_HLD_YN211  = #{sortMchnHldYn211}
				,   SORT_MCHN_HLD_YN212  = #{sortMchnHldYn212}
				,   SORT_MCHN_HLD_YN301  = #{sortMchnHldYn301}
				,   SORT_MCHN_HLD_YN302  = #{sortMchnHldYn302}
				,   SORT_MCHN_HLD_YN303  = #{sortMchnHldYn303}
				,   SORT_MCHN_HLD_YN304  = #{sortMchnHldYn304}
				,   SORT_MCHN_HLD_YN305  = #{sortMchnHldYn305}
				,   SORT_MCHN_HLD_YN306  = #{sortMchnHldYn306}
				,   SORT_MCHN_HLD_YN307  = #{sortMchnHldYn307}
				,   SORT_MCHN_HLD_YN308  = #{sortMchnHldYn308}
				,   SORT_MCHN_HLD_YN309  = #{sortMchnHldYn309}
				,   SORT_MCHN_HLD_YN310  = #{sortMchnHldYn310}
				,   SORT_MCHN_HLD_YN311  = #{sortMchnHldYn311}
				,   SORT_MCHN_HLD_YN312  = #{sortMchnHldYn312}
				,   SORT_MCHN_HLD_YN401  = #{sortMchnHldYn401}
				,   SORT_MCHN_HLD_YN402  = #{sortMchnHldYn402}
				,   SORT_MCHN_HLD_YN403  = #{sortMchnHldYn403}
				,   SORT_MCHN_HLD_YN404  = #{sortMchnHldYn404}
				,   SORT_MCHN_HLD_YN405  = #{sortMchnHldYn405}
				,   SORT_MCHN_HLD_YN406  = #{sortMchnHldYn406}
				,   SORT_MCHN_HLD_YN407  = #{sortMchnHldYn407}
				,   SORT_MCHN_HLD_YN408  = #{sortMchnHldYn408}
				,   SORT_MCHN_HLD_YN409  = #{sortMchnHldYn409}
				,   SORT_MCHN_HLD_YN410  = #{sortMchnHldYn410}
				,   SORT_MCHN_HLD_YN411  = #{sortMchnHldYn411}
				,   SORT_MCHN_HLD_YN412  = #{sortMchnHldYn412}

    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			  WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.deleteFcltSortMchnOperInfo				-->
	<!-- DESC : 선별기운영기간 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltSortMchnOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnOperInfoVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltSortMchnOperInfoMapper.deleteFcltSortMchnOperInfo */
	    		TB_FCLT_SORT_MCHN_OPER_INFO FCLT
			  WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>