<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltOperHfInfoMapper.xml                                    				-->
<!-- DESC : 시설고용인력 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.selectFcltOperHfInfo				-->
	<!-- DESC : 시설고용인력 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltOperHfInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.selectFcltOperHfInfo */
				  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.APC_CD                 AS APC_CD
				, FCLT.SN                     AS SN
				, FCLT.HIRE_SE_CD             AS HIRE_SE_CD
				, FCLT.CTZN_FRGNR_SE_CD       AS CTZN_FRGNR_SE_CD
				, FCLT.HIRE_NOPE              AS HIRE_NOPE
				, FCLT.HIRE_NOPE2              AS HIRE_NOPE2
				, FCLT.HIRE_NOPE3              AS HIRE_NOPE3
				, FCLT.HIRE_NOPE4              AS HIRE_NOPE4
				, (HIRE_NOPE+HIRE_NOPE2+HIRE_NOPE3+HIRE_NOPE4)  AS HIRE_NOPE0
				, FCLT.DEL_YN                 AS DEL_YN
				, FCLT.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
				, FCLT.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
				, FCLT.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
				, FCLT.SYS_LAST_CHG_DT        AS SYS_LAST_CHG_DT
			    , FCLT.SYS_LAST_CHG_USER_ID   AS SYS_LAST_CHG_USER_ID
			    , FCLT.SYS_LAST_CHG_PRGRM_ID  AS SYS_LAST_CHG_PRGRM_ID
			 FROM TB_FCLT_OPER_HF_INFO FCLT
 			 WHERE 1=1
		     		]]>
        		<if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  APC_CD = #{apcCd}
		   </if>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.selectFcltOperHfInfoList			-->
	<!-- DESC : 시설고용인력 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltOperHfInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.selectFcltOperHfInfo */
				  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.APC_CD                 AS APC_CD
				, FCLT.SN                     AS SN
				, FCLT.HIRE_SE_CD             AS HIRE_SE_CD
				, FCLT.CTZN_FRGNR_SE_CD       AS CTZN_FRGNR_SE_CD
				, FCLT.HIRE_NOPE              AS HIRE_NOPE
				, FCLT.HIRE_NOPE2              AS HIRE_NOPE2
				, FCLT.HIRE_NOPE3              AS HIRE_NOPE3
				, FCLT.HIRE_NOPE4              AS HIRE_NOPE4
				, (HIRE_NOPE+HIRE_NOPE2+HIRE_NOPE3+HIRE_NOPE4)  AS HIRE_NOPE0
				, FCLT.DEL_YN                 AS DEL_YN
				, FCLT.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
				, FCLT.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
				, FCLT.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
				, FCLT.SYS_LAST_CHG_DT        AS SYS_LAST_CHG_DT
			    , FCLT.SYS_LAST_CHG_USER_ID   AS SYS_LAST_CHG_USER_ID
			    , FCLT.SYS_LAST_CHG_PRGRM_ID  AS SYS_LAST_CHG_PRGRM_ID
			 FROM TB_FCLT_OPER_HF_INFO FCLT
 			 WHERE 1=1
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.insertFcltOperHfInfo				-->
	<!-- DESC : 시설고용인력 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertFcltOperHfInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.insertFcltOperHfInfo */
	    	  INTO TB_FCLT_OPER_HF_INFO FCLT
	    		(
	    			TRGT_YR
	    		  , APC_CD
	    		  , SN
	    		  , HIRE_SE_CD
	    		  , CTZN_FRGNR_SE_CD
	    		  , HIRE_NOPE
	    		  , HIRE_NOPE2
	    		  , HIRE_NOPE3
	    		  , HIRE_NOPE4
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    	      , SYS_LAST_CHG_DT
	    	      , SYS_LAST_CHG_USER_ID
	    	      , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    #{trgtYr}
	   			  , #{apcCd}
	   			  , #{sn}
	   			  , #{hireSeCd}
	   			  , #{ctznFrgnrSeCd}
	   			  , #{hireNope}
	   			  , #{hireNope2}
	   			  , #{hireNope3}
	   			  , #{hireNope4}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
    	          , #{sysLastChgUserId}
    	          , #{sysLastChgPrgrmId}
    			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.updateFcltOperHfInfo				-->
	<!-- DESC : 시설고용인력 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltOperHfInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.updateFcltOperHfInfo */
	    		TB_FCLT_OPER_HF_INFO FCLT
			   SET
			 	  TRGT_YR          = #{trgtYr}
			 	, APC_CD           = #{apcCd}
			 	, SN               = #{sn}
			 	, HIRE_SE_CD       = #{hireSeCd}
			 	, CTZN_FRGNR_SE_CD = #{ctznFrgnrSeCd}
			 	, HIRE_NOPE        = #{hireNope}
			 	, HIRE_NOPE2        = #{hireNope2}
			 	, HIRE_NOPE3        = #{hireNope3}
			 	, HIRE_NOPE4        = #{hireNope4}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.deleteFcltOperHfInfo				-->
	<!-- DESC : 시설고용인력 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltOperHfInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.deleteFcltOperHfInfo */
	    		TB_FCLT_OPER_HF_INFO FCLT
			WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>