<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltLwtpStrgMchnInfoMapper.xml                                    				-->
<!-- DESC : 저온저장고운영 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.selectFcltLwtpStrgMchnInfo				-->
	<!-- DESC : 저온저장고운영 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltLwtpStrgMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.selectFcltLwtpStrgMchnInfo */
				  FCLT.TRGT_YR                AS  TRGT_YR
				, FCLT.APC_CD                 AS  APC_CD
				, (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS APC_NM
				, FCLT.SN                     AS  SN
				, FCLT.FCLT_CD                AS  FCLT_CD
				, FCLT.FCLT_HLD_YN            AS  FCLT_HLD_YN
				, FCLT.FCLT_PRCS_CD           AS  FCLT_PRCS_CD
				, FCLT.FCLT_PRCS_HR           AS  FCLT_PRCS_HR
				, FCLT.STOR_CAP               AS  STOR_CAP
				, FCLT.ST_STOR_PERFM          AS  ST_STOR_PERFM
				, FCLT.LT_STOR_PERFM          AS  LT_STOR_PERFM
				, FCLT.STOR_OP_RATE           AS  STOR_OP_RATE



			  FROM TB_FCLT_LWTP_STRG_MCHN_INFO FCLT
 			 WHERE 1=1
		     		]]>
        		<if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  APC_CD = #{apcCd}
		   </if>
    </select>
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.selectFcltLwtpStrgMchnInfoList			-->
	<!-- DESC : 저온저장고운영 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltLwtpStrgMchnInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.selectFcltLwtpStrgMchnInfoList */
				  FCLT.TRGT_YR                AS  TRGT_YR
				, FCLT.APC_CD                 AS  APC_CD
				, (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS APC_NM
				, FCLT.FCLT_CD                AS  FCLT_CD
				, FCLT.FCLT_HLD_YN            AS  FCLT_HLD_YN
				, FCLT.FCLT_PRCS_CD           AS  FCLT_PRCS_CD
				, FCLT.FCLT_PRCS_HR           AS  FCLT_PRCS_HR
				, FCLT.STOR_CAP               AS  STOR_CAP
				, FCLT.ST_STOR_PERFM          AS  ST_STOR_PERFM
				, FCLT.LT_STOR_PERFM          AS  LT_STOR_PERFM
				, FCLT.STOR_OP_RATE           AS  STOR_OP_RATE
			  FROM TB_FCLT_LWTP_STRG_MCHN_INFO FCLT
 			 WHERE 1=1
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.insertFcltLwtpStrgMchnInfo				-->
	<!-- DESC : 저온저장고운영 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertFcltLwtpStrgMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.insertFcltLwtpStrgMchnInfo */
	    	  INTO TB_FCLT_LWTP_STRG_MCHN_INFO FCLT
	    		(
	    			TRGT_YR
	    		  , APC_CD
	    		  , FCLT_CD
	    		  , FCLT_HLD_YN
	    		  , STOR_CAP
	    		  , ST_STOR_PERFM
	    		  , LT_STOR_PERFM
	    		  , STOR_OP_RATE
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID


	    		)
	   		VALUES
	   			(
	   			    #{trgtYr}
	   			  , #{apcCd}
	   			  , #{fcltCd}
	   			  , #{fcltHldYn}
	   			  , #{storCap}
	   			  , #{stStorPerfm}
	   			  , #{ltStorPerfm}
	   			  , #{storOpRate}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   	          , #{sysFrstInptPrgrmId}
	   	          , SYSDATE
	   	          , #{sysLastChgUserId}
	   	          , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.updateFcltLwtpStrgMchnInfo				-->
	<!-- DESC : 저온저장고운영 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltLwtpStrgMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.updateFcltLwtpStrgMchnInfo */
	    		TB_FCLT_LWTP_STRG_MCHN_INFO FCLT
			   SET
    	          FCLT_CD      = #{fcltCd}
    	          , FCLT_HLD_YN  = #{fcltHldYn}
    	          , FCLT_PRCS_CD = #{fcltPrcsCd}
    	          , FCLT_PRCS_HR = #{fcltPrcsHr}
 				  , STOR_CAP      =  #{storCap}
	    		  , ST_STOR_PERFM =  #{stStorPerfm}
	    		  , LT_STOR_PERFM =  #{ltStorPerfm}
	    		  , STOR_OP_RATE  =  #{storOpRate}

    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		      AND TRGT_YR = #{trgtYr}
		      AND APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.deleteFcltLwtpStrgMchnInfo				-->
	<!-- DESC : 저온저장고운영 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltLwtpStrgMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.deleteFcltLwtpStrgMchnInfo */
	    		TB_FCLT_LWTP_STRG_MCHN_INFO FCLT
			WHERE 1=1
		      AND TRGT_YR = #{trgtYr}
		      AND APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>