<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltSortMchnInfoMapper.xml                                    				-->
<!-- DESC : 선별기운영 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.selectFcltSortMchnInfo				-->
	<!-- DESC : 선별기운영 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltSortMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltSortMchnInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.selectFcltSortMchnInfo */
				 FCLT.TRGT_YR                AS TRGT_YR
				,FCLT.APC_CD                 AS APC_CD
				,FCLT.SORT_MCHN_HLD_YN1      AS SORT_MCHN_HLD_YN1
				,FCLT.SORT_MCHN_HLD_YN2      AS SORT_MCHN_HLD_YN2
				,FCLT.SORT_MCHN_HLD_YN3      AS SORT_MCHN_HLD_YN3
				,FCLT.SORT_MCHN_HLD_YN4      AS SORT_MCHN_HLD_YN4
				,FCLT.PRC_CAP1               AS PRC_CAP1
				,FCLT.PRC_CAP2               AS PRC_CAP2
				,FCLT.PRC_CAP3               AS PRC_CAP3
				,FCLT.PRC_CAP4               AS PRC_CAP4
				,FCLT.PRC_VOL1               AS PRC_VOL1
				,FCLT.PRC_VOL2               AS PRC_VOL2
				,FCLT.PRC_VOL3               AS PRC_VOL3
				,FCLT.PRC_VOL4               AS PRC_VOL4
				,FCLT.ANN_OPER_TIME1         AS ANN_OPER_TIME1
				,FCLT.ANN_OPER_TIME2         AS ANN_OPER_TIME2
				,FCLT.ANN_OPER_TIME3         AS ANN_OPER_TIME3
				,FCLT.ANN_OPER_TIME4         AS ANN_OPER_TIME4
				,AVG_OPER_DAY1               AS AVG_OPER_DAY1
                ,AVG_OPER_DAY2               AS AVG_OPER_DAY2
                ,AVG_OPER_DAY3               AS AVG_OPER_DAY3
                ,AVG_OPER_DAY4               AS AVG_OPER_DAY4



			  FROM TB_FCLT_SORT_MCHN_INFO FCLT
			 WHERE 1=1
		]]>

        <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.selectFcltSortMchnInfoList			-->
	<!-- DESC : 선별기운영 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltSortMchnInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltSortMchnInfoVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.selectFcltSortMchnInfoList */
					SELECT /* com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.selectFcltSortMchnInfo */
				 FCLT.TRGT_YR                AS TRGT_YR
				,FCLT.APC_CD                 AS APC_CD
				,FCLT.SORT_MCHN_HLD_YN1      AS SORT_MCHN_HLD_YN1
				,FCLT.SORT_MCHN_HLD_YN2      AS SORT_MCHN_HLD_YN2
				,FCLT.SORT_MCHN_HLD_YN3      AS SORT_MCHN_HLD_YN3
				,FCLT.SORT_MCHN_HLD_YN4      AS SORT_MCHN_HLD_YN4
				,FCLT.PRC_CAP1               AS PRC_CAP1
				,FCLT.PRC_CAP2               AS PRC_CAP2
				,FCLT.PRC_CAP3               AS PRC_CAP3
				,FCLT.PRC_CAP4               AS PRC_CAP4
				,FCLT.PRC_VOL1               AS PRC_VOL1
				,FCLT.PRC_VOL2               AS PRC_VOL2
				,FCLT.PRC_VOL3               AS PRC_VOL3
				,FCLT.PRC_VOL4               AS PRC_VOL4
				,FCLT.ANN_OPER_TIME1         AS ANN_OPER_TIME1
				,FCLT.ANN_OPER_TIME2         AS ANN_OPER_TIME2
				,FCLT.ANN_OPER_TIME3         AS ANN_OPER_TIME3
				,FCLT.ANN_OPER_TIME4         AS ANN_OPER_TIME4
				,AVG_OPER_DAY1               AS AVG_OPER_DAY1
                ,AVG_OPER_DAY2               AS AVG_OPER_DAY2
                ,AVG_OPER_DAY3               AS AVG_OPER_DAY3
                ,AVG_OPER_DAY4               AS AVG_OPER_DAY4
			  FROM TB_FCLT_SORT_MCHN_INFO FCLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.insertFcltSortMchnInfo				-->
	<!-- DESC : 선별기운영 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	jeongyd        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertFcltSortMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.insertFcltSortMchnInfo */
	    	  INTO TB_FCLT_SORT_MCHN_INFO FCLT
	    		(
				     TRGT_YR
				   , APC_CD
				   , SORT_MCHN_HLD_YN1
				   , SORT_MCHN_HLD_YN2
				   , SORT_MCHN_HLD_YN3
				   , SORT_MCHN_HLD_YN4
                   , PRC_CAP1
                   , PRC_CAP2
                   , PRC_CAP3
                   , PRC_CAP4
                   , PRC_VOL1
                   , PRC_VOL2
                   , PRC_VOL3
                   , PRC_VOL4
                   , ANN_OPER_TIME1
                   , ANN_OPER_TIME2
                   , ANN_OPER_TIME3
                   , ANN_OPER_TIME4
                   , AVG_OPER_DAY1
                   , AVG_OPER_DAY2
                   , AVG_OPER_DAY3
                   , AVG_OPER_DAY4
				   , SYS_FRST_INPT_DT
				   , SYS_FRST_INPT_USER_ID
	    		   , SYS_FRST_INPT_PRGRM_ID
	    		   , SYS_LAST_CHG_DT
	    		   , SYS_LAST_CHG_USER_ID
	    		   , SYS_LAST_CHG_PRGRM_ID
	    		)
	   			VALUES
	   			(

					 #{trgtYr}
					, #{apcCd}
					, #{sortMchnHldYn1}
					, #{sortMchnHldYn2}
					, #{sortMchnHldYn3}
					, #{sortMchnHldYn4}
                    , #{prcCap1}
                    , #{prcCap2}
                    , #{prcCap3}
                    , #{prcCap4}
                    , #{prcVol1}
                    , #{prcVol2}
                    , #{prcVol3}
                    , #{prcVol4}
                    , #{annOperTime1}
                    , #{annOperTime2}
                    , #{annOperTime3}
                    , #{annOperTime4}
                    , #{avgOperDay1}
                    , #{avgOperDay2}
                    , #{avgOperDay3}
                    , #{avgOperDay4}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.updateFcltSortMchnInfo				-->
	<!-- DESC : 선별기운영 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	jeongyd        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltSortMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.updateFcltSortMchnInfo */
	    		TB_FCLT_SORT_MCHN_INFO FCLT
			   SET
                  SORT_MCHN_HLD_YN       =  #{sortMchnHldYn}
				  , PRC_CAP1             =  #{prcCap1}
				  , PRC_CAP2             =  #{prcCap2}
				  , PRC_CAP3             =  #{prcCap3}
				  , PRC_CAP4             =  #{prcCap4}
				  , PRC_VOL1             =  #{prcVol1}
				  , PRC_VOL2             =  #{prcVol2}
				  , PRC_VOL3             =  #{prcVol3}
				  , PRC_VOL4             =  #{prcVol4}
				  , ANN_OPER_TIME1       =  #{annOperTime1}
				  , ANN_OPER_TIME2       =  #{annOperTime2}
				  , ANN_OPER_TIME3       =  #{annOperTime3}
				  , ANN_OPER_TIME4       =  #{annOperTime4}
				  , AVG_OPER_DAY1        =  #{avgOperDay1}
				  , AVG_OPER_DAY2        =  #{avgOperDay2}
				  , AVG_OPER_DAY3        =  #{avgOperDay3}
				  , AVG_OPER_DAY4        =  #{avgOperDay4}

    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.deleteFcltSortMchnInfo				-->
	<!-- DESC : 선별기운영 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	jeongyd        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltSortMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltSortMchnInfoVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltSortMchnInfoMapper.deleteFcltSortMchnInfo */
	    		TB_FCLT_SORT_MCHN_INFO FCLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>