<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltPrcsNtslInfoMapper.xml                                    				-->
<!-- DESC : 산지유통판매처 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.selectFcltPrcsNtslInfo				-->
	<!-- DESC : 산지유통판매처 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltPrcsNtslInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsNtslInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltPrcsNtslInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.selectFcltPrcsNtslInfo */
				  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.APC_CD                 AS APC_CD
				, (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS 	APC_NM
				, FCLT.FCLT_STR_CD            AS FCLT_STR_CD
				, FCLT.FCLT_NTSL_CD           AS FCLT_NTSL_CD
                , FCLT.FCLT_NTSL_CD2          AS FCLT_NTSL_CD2
				, FCLT.FCLT_NTSL_CD3          AS FCLT_NTSL_CD3
				, FCLT.FCLT_NTSL_CD4          AS FCLT_NTSL_CD4
				, FCLT.FCLT_NTSL_CD5          AS FCLT_NTSL_CD5
				, FCLT.FCLT_NTSL_CD6          AS FCLT_NTSL_CD6
				, FCLT.FCLT_NTSL_CD7          AS FCLT_NTSL_CD7
				, FCLT.FCLT_NTSL_CD8          AS FCLT_NTSL_CD8
				, FCLT.FCLT_NTSL_CD9          AS FCLT_NTSL_CD9

			 FROM TB_FCLT_PRCS_NTSL_INFO FCLT
		]]>
        <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.selectFcltPrcsNtslInfoList			-->
	<!-- DESC : 산지유통판매처 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltPrcsNtslInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsNtslInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltPrcsNtslInfoVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.selectFcltPrcsNtslInfoList */
				  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.APC_CD                 AS APC_CD
				, (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS 	APC_NM
				, FCLT.FCLT_STR_CD            AS FCLT_STR_CD
				, FCLT.FCLT_NTSL_CD           AS FCLT_NTSL_CD
                , FCLT.FCLT_NTSL_CD2          AS FCLT_NTSL_CD2
				, FCLT.FCLT_NTSL_CD3          AS FCLT_NTSL_CD3
				, FCLT.FCLT_NTSL_CD4          AS FCLT_NTSL_CD4
				, FCLT.FCLT_NTSL_CD5          AS FCLT_NTSL_CD5
				, FCLT.FCLT_NTSL_CD6          AS FCLT_NTSL_CD6
				, FCLT.FCLT_NTSL_CD7          AS FCLT_NTSL_CD7
				, FCLT.FCLT_NTSL_CD8          AS FCLT_NTSL_CD8
				, FCLT.FCLT_NTSL_CD9          AS FCLT_NTSL_CD9
			 FROM TB_FCLT_PRCS_NTSL_INFO FCLT
			 WHERE 1=1
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.insertFcltPrcsNtslInfo				-->
	<!-- DESC : 산지유통판매처 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<!--
    <insert id="insertFcltPrcsNtslInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsNtslInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.insertFcltPrcsNtslInfo */
	    	  INTO TB_FCLT_PRCS_NTSL_INFO FCLT
	    		(
	    			TRGT_YR
	    		  , APC_CD
	    		  , FCLT_STR_CD
	    		  , FCLT_NTSL_CD
	    		  , FCLT_NTSL_CD2
				  , FCLT_NTSL_CD3
				  , FCLT_NTSL_CD4
				  , FCLT_NTSL_CD5
				  , FCLT_NTSL_CD6
				  , FCLT_NTSL_CD7
				  , FCLT_NTSL_CD8
				  , FCLT_NTSL_CD9
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    #{trgtYr}
	   			  , #{apcCd}
	   			  , #{fcltStrCd}
	   			  , #{fcltNtslCd}
	   			  , #{fcltNtslCd2}
	   			  , #{fcltNtslCd3}
	   			  , #{fcltNtslCd4}
	   			  , #{fcltNtslCd5}
	   			  , #{fcltNtslCd6}
	   			  , #{fcltNtslCd7}
	   			  , #{fcltNtslCd8}
	   			  , #{fcltNtslCd9}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>
     -->

     <update id="insertFcltPrcsNtslInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsNtslInfoVO">
     	MERGE INTO TB_FCLT_PRCS_NTSL_INFO FCLT /* com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.insertFcltPrcsNtslInfo */
		USING DUAL
		ON (
			FCLT.TRGT_YR = #{trgtYr}
			AND FCLT.APC_CD = #{apcCd}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  FCLT_STR_CD    = #{fcltStrCd}
    	        , FCLT_NTSL_CD   = #{fcltNtslCd}
    			, FCLT_NTSL_CD2	 = #{fcltNtslCd2}
    	        , FCLT_NTSL_CD3  = #{fcltNtslCd3}
    	        , FCLT_NTSL_CD4  = #{fcltNtslCd4}
    	        , FCLT_NTSL_CD5  = #{fcltNtslCd5}
    	        , FCLT_NTSL_CD6  = #{fcltNtslCd6}
    	        , FCLT_NTSL_CD7  = #{fcltNtslCd7}
    	        , FCLT_NTSL_CD8  = #{fcltNtslCd8}
    	        , FCLT_NTSL_CD9  = #{fcltNtslCd9}
				  , SYS_LAST_CHG_DT		= SYSDATE
	    		  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  TRGT_YR
	    		  , APC_CD
	    		  , FCLT_STR_CD
	    		  , FCLT_NTSL_CD
	    		  , FCLT_NTSL_CD2
				  , FCLT_NTSL_CD3
				  , FCLT_NTSL_CD4
				  , FCLT_NTSL_CD5
				  , FCLT_NTSL_CD6
				  , FCLT_NTSL_CD7
				  , FCLT_NTSL_CD8
				  , FCLT_NTSL_CD9
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   	VALUES
	   		    (
	   			  #{trgtYr}
	   			  , #{apcCd}
	   			  , #{fcltStrCd}
	   			  , #{fcltNtslCd}
	   			  , #{fcltNtslCd2}
	   			  , #{fcltNtslCd3}
	   			  , #{fcltNtslCd4}
	   			  , #{fcltNtslCd5}
	   			  , #{fcltNtslCd6}
	   			  , #{fcltNtslCd7}
	   			  , #{fcltNtslCd8}
	   			  , #{fcltNtslCd9}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
		     	)
     </update>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.updateFcltPrcsNtslInfo				-->
	<!-- DESC : 산지유통판매처 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltPrcsNtslInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsNtslInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.updateFcltPrcsNtslInfo */
	    		TB_FCLT_PRCS_NTSL_INFO FCLTT
			 	  FCLT_STR_CD    = #{fcltStrCd}
    	        , FCLT_NTSL_CD   = #{fcltNtslCd}
    			, FCLT_NTSL_CD2	 = #{fcltNtslCd2}
    	        , FCLT_NTSL_CD3  = #{fcltNtslCd3}
    	        , FCLT_NTSL_CD4  = #{fcltNtslCd4}
    	        , FCLT_NTSL_CD5  = #{fcltNtslCd5}
    	        , FCLT_NTSL_CD6  = #{fcltNtslCd6}
    	        , FCLT_NTSL_CD7  = #{fcltNtslCd7}
    	        , FCLT_NTSL_CD8  = #{fcltNtslCd8}
    	        , FCLT_NTSL_CD9  = #{fcltNtslCd9}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.deleteFcltPrcsNtslInfo				-->
	<!-- DESC : 산지유통판매처 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltPrcsNtslInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsNtslInfoVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltPrcsNtslInfoMapper.deleteFcltPrcsNtslInfo */
	    		TB_FCLT_PRCS_NTSL_INFO FCLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>