<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltPrcsPrfmncMapper.xml                                    				-->
<!-- DESC : FcltPrcsNtslInfo 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.selectFcltPrcsPrfmnc				-->
	<!-- DESC : FcltPrcsNtslInfo 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.selectFcltPrcsPrfmnc */
				OTI.CRTR_YR
				, OTI.APC_CD
				,(SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = OTI.APC_CD) AS APC_NM
				, OTI.SN
				, OTI.ITEM_CD
				, OTI.ITEM_NM

				, AOPD.APC_TRMT_AMT
				, AOPD.APC_TRMT_VLM
				, AOPD.TM_SPMT_AMT
				, AOPD.TM_SPMT_RT
				, AOPD.APC_GNRL_TRMT_AMT
				, AOPD.APC_OGNZ_CPRTN_SORT_TRST
				, AOPD.APC_CTRT_EMSPAP
			FROM TB_TE_APC_OPER_TRMT_ITEM OTI
				, TB_TE_APC_OPER_PRFMNC_DTL AOPD
			WHERE 1=1
			  AND OTI.APC_CD = AOPD.APC_CD(+)
			  AND OTI.CRTR_YR = AOPD.CRTR_YR(+)
			  AND OTI.SN = AOPD.SN(+)
			  AND OTI.OGNZ_SE_CD = '2'
			  AND OTI.APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND  OTI.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND  OTI.APC_CD = #{apcCd}
			</if>
	</select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.selectFcltPrcsPrfmncList			-->
	<!-- DESC : FcltPrcsNtslInfo 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltPrcsPrfmncList" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>
		<!-- End 페이징 -->

			<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.selectFcltPrcsPrfmncList */
				OTI.CRTR_YR
				, OTI.APC_CD
				,(SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = OTI.APC_CD) AS APC_NM
				, OTI.SN
				, OTI.ITEM_CD
				, OTI.ITEM_NM

				, AOPD.APC_TRMT_AMT
				, AOPD.APC_TRMT_VLM
				, AOPD.TM_SPMT_AMT
				, AOPD.TM_SPMT_RT
				, AOPD.APC_GNRL_TRMT_AMT
				, AOPD.APC_OGNZ_CPRTN_SORT_TRST
				, AOPD.APC_CTRT_EMSPAP
			FROM TB_TE_APC_OPER_TRMT_ITEM OTI
				, TB_TE_APC_OPER_PRFMNC_DTL AOPD
			WHERE 1=1
			  AND OTI.APC_CD = AOPD.APC_CD(+)
			  AND OTI.CRTR_YR = AOPD.CRTR_YR(+)
			  AND OTI.SN = AOPD.SN(+)
			  AND OTI.OGNZ_SE_CD = '2'
			  AND OTI.APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND  OTI.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND  OTI.APC_CD = #{apcCd}
			</if>

		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
		<!-- End 페이징 -->
	</select>



	<update id="insertFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
		MERGE INTO TB_TE_APC_OPER_PRFMNC_DTL AOPD /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.insertFcltPrcsPrfmnc */
		USING DUAL
		ON (
			AOPD.CRTR_YR = #{crtrYr}
			AND AOPD.APC_CD = #{apcCd}
			AND AOPD.SN = #{sn}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  AOPD.APC_GNRL_TRMT_AMT			= #{apcGnrlTrmtAmt}
				  , AOPD.APC_OGNZ_CPRTN_SORT_TRST	= #{apcOgnzCprtnSortTrst}
				  , AOPD.APC_CTRT_EMSPAP			= #{apcCtrtEmspap}

				  , AOPD.APC_TRMT_AMT	= #{apcTrmtAmt}
				  , AOPD.APC_TRMT_VLM	= #{apcTrmtVlm}

				  , AOPD.TM_SPMT_AMT	= #{tmSpmtAmt}
				  , AOPD.TM_SPMT_RT		= #{tmSpmtRt}

				  , SYS_LAST_CHG_DT		= SYSDATE
				  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , APC_CD
				  , APC_NM
				  , ITEM_CD
				  , ITEM_NM
				  , SN

				  , AOPD.APC_GNRL_TRMT_AMT
				  , AOPD.APC_OGNZ_CPRTN_SORT_TRST
				  , AOPD.APC_CTRT_EMSPAP

				  , AOPD.APC_TRMT_AMT
				  , AOPD.APC_TRMT_VLM

				  , AOPD.TM_SPMT_AMT
				  , AOPD.TM_SPMT_RT

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{apcCd}
				  , (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr})
				  , (SELECT ITEM_CD FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr} AND SN = #{sn} AND OGNZ_SE_CD = '2')
				  , (SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr} AND SN = #{sn} AND OGNZ_SE_CD = '2')

				  , #{sn}

				  , #{apcGnrlTrmtAmt}
				  , #{apcOgnzCprtnSortTrst}
				  ,	#{apcCtrtEmspap}

				  , #{apcTrmtAmt}
				  , #{apcTrmtVlm}

				  , #{tmSpmtAmt}
				  , #{tmSpmtRt}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.updateFcltPrcsPrfmnc				-->
	<!-- DESC : FcltPrcsNtslInfo 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.updateFcltPrcsPrfmnc */
				TB_TE_APC_OPER_PRFMNC_DTL AOPD
			   SET
				  AOPD.APC_GNRL_TRMT_AMT			= #{apcGnrlTrmtAmt}
				  , AOPD.APC_OGNZ_CPRTN_SORT_TRST	= #{apcOgnzCprtnSortTrst}
				  , AOPD.APC_CTRT_EMSPAP			= #{apcCtrtEmspap}

				  , AOPD.APC_TRMT_AMT	= #{apcTrmtAmt}
				  , AOPD.APC_TRMT_VLM	= #{apcTrmtVlm}

				  , AOPD.TM_SPMT_AMT	= #{tmSpmtAmt}
				  , AOPD.TM_SPMT_RT		= #{tmSpmtRt}
		]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND APC_CD = #{apcCd}
			  AND SN = #{sn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.deleteFcltPrcsPrfmnc				-->
	<!-- DESC : FcltPrcsNtslInfo 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="deleteFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.deleteFcltPrcsPrfmnc */
				TB_TE_APC_OPER_PRFMNC_DTL AOPD
			   SET
				  DEL_YN 	= 'Y'
			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND APC_CD = #{apcCd}
			  AND SN = #{sn}
		]]>
	</update>
	<!--
	<delete id="deleteFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
		<![CDATA[
			DELETE /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.deleteFcltPrcsPrfmnc */
				TB_TE_APC_OPER_PRFMNC_DTL AOPD
			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND APC_CD = #{apcCd}
			  AND SN = #{sn}
		]]>
	</delete>
	-->

	<select id="selectFcltPrcsPrfmncRawDataList" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
			<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.selectFcltPrcsPrfmncRawDataList */
				OTI.CRTR_YR
				, OTI.APC_CD
				,(SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = OTI.APC_CD) AS APC_NM
				, OTI.SN
				, OTI.ITEM_CD
				, OTI.ITEM_NM

				, AOPD.APC_TRMT_AMT
				, AOPD.APC_TRMT_VLM
				, AOPD.TM_SPMT_AMT
				, AOPD.TM_SPMT_RT
				, AOPD.APC_GNRL_TRMT_AMT
				, AOPD.APC_OGNZ_CPRTN_SORT_TRST
				, AOPD.APC_CTRT_EMSPAP
			FROM TB_TE_APC_OPER_TRMT_ITEM OTI
				, TB_TE_APC_OPER_PRFMNC_DTL AOPD
			WHERE 1=1
			  AND OTI.APC_CD = AOPD.APC_CD(+)
			  AND OTI.CRTR_YR = AOPD.CRTR_YR(+)
			  AND OTI.SN = AOPD.SN(+)
			  AND OTI.OGNZ_SE_CD = '2'
			  AND OTI.APC_CD IS NOT NULL
		]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND OTI.CRTR_YR = #{crtrYr}
			</if>
			<if test='userId != null and userId != ""'>
				<if test='userType == "27" or userType == "28"'>
				AND OTI.APC_CD IN (SELECT APC_CD
								FROM TB_APC_INFO
								WHERE 1=1
								<if test='userType == "27"'>
								  AND CTPV = (SELECT CTPV FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								<if test='userType == "28"'>
								  AND SGG = (SELECT SGG FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								)
				</if>
			</if>
			ORDER BY OTI.CRTR_YR , APC_NM , OTI.SN
	</select>
</mapper>