<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltGdsMchnInfoMapper.xml                                    				-->
<!-- DESC : 상품화설비현황 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.selectFcltGdsMchnInfo				-->
	<!-- DESC : 상품화설비현황 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltGdsMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.selectFcltGdsMchnInfo */
				  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.APC_CD                 AS APC_CD
				, FCLT.SORT_MCHN_ITEM_CD      AS SORT_MCHN_ITEM_CD
				, FCLT.SORT_MCHN_CD           AS SORT_MCHN_CD
				, FCLT.SORT_MCHN_HLD_YN       AS SORT_MCHN_HLD_YN

				, FCLT.SORT_MCHN_HLD_YN11     AS SORT_MCHN_HLD_YN11
				, FCLT.SORT_MCHN_SPCFCT1      AS SORT_MCHN_SPCFCT1
				, FCLT.SORT_MCHN_HLD_YN12     AS SORT_MCHN_HLD_YN12
				, FCLT.SORT_MCHN_HLD_YN13     AS SORT_MCHN_HLD_YN13
				, FCLT.SORT_MCHN_HLD_YN14     AS SORT_MCHN_HLD_YN14
				, FCLT.SORT_MCHN_HLD_YN15     AS SORT_MCHN_HLD_YN15

				, FCLT.SORT_MCHN_HLD_YN21     AS SORT_MCHN_HLD_YN21
				, FCLT.SORT_MCHN_SPCFCT2      AS SORT_MCHN_SPCFCT2
				, FCLT.SORT_MCHN_HLD_YN22     AS SORT_MCHN_HLD_YN22
				, FCLT.SORT_MCHN_HLD_YN23     AS SORT_MCHN_HLD_YN23
				, FCLT.SORT_MCHN_HLD_YN24     AS SORT_MCHN_HLD_YN24
				, FCLT.SORT_MCHN_HLD_YN25     AS SORT_MCHN_HLD_YN25

				, FCLT.SORT_MCHN_HLD_YN31     AS SORT_MCHN_HLD_YN31
				, FCLT.SORT_MCHN_SPCFCT3      AS SORT_MCHN_SPCFCT3
				, FCLT.SORT_MCHN_HLD_YN32     AS SORT_MCHN_HLD_YN32
				, FCLT.SORT_MCHN_HLD_YN33     AS SORT_MCHN_HLD_YN33
				, FCLT.SORT_MCHN_HLD_YN34     AS SORT_MCHN_HLD_YN34
				, FCLT.SORT_MCHN_HLD_YN35     AS SORT_MCHN_HLD_YN35

				, FCLT.SORT_MCHN_HLD_YN41     AS SORT_MCHN_HLD_YN41
				, FCLT.SORT_MCHN_SPCFCT4      AS SORT_MCHN_SPCFCT4
				, FCLT.SORT_MCHN_HLD_YN42     AS SORT_MCHN_HLD_YN42
				, FCLT.SORT_MCHN_HLD_YN43     AS SORT_MCHN_HLD_YN43
				, FCLT.SORT_MCHN_HLD_YN44     AS SORT_MCHN_HLD_YN44
				, FCLT.SORT_MCHN_HLD_YN45     AS SORT_MCHN_HLD_YN45
			 FROM TB_FCLT_GDS_MCHN_INFO FCLT
			WHERE 1=1
]]>
        <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.selectFcltGdsMchnInfoList			-->
	<!-- DESC : 상품화설비현황 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltGdsMchnInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.selectFcltGdsMchnInfoList */
								  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.APC_CD                 AS APC_CD
				, FCLT.SORT_MCHN_ITEM_CD      AS SORT_MCHN_ITEM_CD
				, FCLT.SORT_MCHN_CD           AS SORT_MCHN_CD
				, FCLT.SORT_MCHN_HLD_YN       AS SORT_MCHN_HLD_YN

				, FCLT.SORT_MCHN_HLD_YN11     AS SORT_MCHN_HLD_YN11
				, FCLT.SORT_MCHN_SPCFCT1      AS SORT_MCHN_SPCFCT1
				, FCLT.SORT_MCHN_HLD_YN12     AS SORT_MCHN_HLD_YN12
				, FCLT.SORT_MCHN_HLD_YN13     AS SORT_MCHN_HLD_YN13
				, FCLT.SORT_MCHN_HLD_YN14     AS SORT_MCHN_HLD_YN14
				, FCLT.SORT_MCHN_HLD_YN15     AS SORT_MCHN_HLD_YN15

				, FCLT.SORT_MCHN_HLD_YN21     AS SORT_MCHN_HLD_YN21
				, FCLT.SORT_MCHN_SPCFCT2      AS SORT_MCHN_SPCFCT2
				, FCLT.SORT_MCHN_HLD_YN22     AS SORT_MCHN_HLD_YN22
				, FCLT.SORT_MCHN_HLD_YN23     AS SORT_MCHN_HLD_YN23
				, FCLT.SORT_MCHN_HLD_YN24     AS SORT_MCHN_HLD_YN24
				, FCLT.SORT_MCHN_HLD_YN25     AS SORT_MCHN_HLD_YN25

				, FCLT.SORT_MCHN_HLD_YN31     AS SORT_MCHN_HLD_YN31
				, FCLT.SORT_MCHN_SPCFCT3      AS SORT_MCHN_SPCFCT3
				, FCLT.SORT_MCHN_HLD_YN32     AS SORT_MCHN_HLD_YN32
				, FCLT.SORT_MCHN_HLD_YN33     AS SORT_MCHN_HLD_YN33
				, FCLT.SORT_MCHN_HLD_YN34     AS SORT_MCHN_HLD_YN34
				, FCLT.SORT_MCHN_HLD_YN35     AS SORT_MCHN_HLD_YN35

				, FCLT.SORT_MCHN_HLD_YN41     AS SORT_MCHN_HLD_YN41
				, FCLT.SORT_MCHN_SPCFCT4      AS SORT_MCHN_SPCFCT4
				, FCLT.SORT_MCHN_HLD_YN42     AS SORT_MCHN_HLD_YN42
				, FCLT.SORT_MCHN_HLD_YN43     AS SORT_MCHN_HLD_YN43
				, FCLT.SORT_MCHN_HLD_YN44     AS SORT_MCHN_HLD_YN44
				, FCLT.SORT_MCHN_HLD_YN45     AS SORT_MCHN_HLD_YN45
			 FROM TB_FCLT_GDS_MCHN_INFO FCLT
			WHERE 1=1
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.insertFcltGdsMchnInfo				-->
	<!-- DESC : 상품화설비현황 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	jeongyd        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertFcltGdsMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.insertFcltGdsMchnInfo */
	    	  INTO TB_FCLT_GDS_MCHN_INFO FCLT
	    		(
	    			TRGT_YR
	    		  , APC_CD

           		  , SORT_MCHN_HLD_YN11
           		  , SORT_MCHN_SPCFCT1
           		  , SORT_MCHN_HLD_YN12
           		  , SORT_MCHN_HLD_YN13
           		  , SORT_MCHN_HLD_YN14
           		  , SORT_MCHN_HLD_YN15

           		  , SORT_MCHN_HLD_YN21
           		  , SORT_MCHN_SPCFCT2
           		  , SORT_MCHN_HLD_YN22
           		  , SORT_MCHN_HLD_YN23
           		  , SORT_MCHN_HLD_YN24
           		  , SORT_MCHN_HLD_YN25

           		  , SORT_MCHN_HLD_YN31
           		  , SORT_MCHN_SPCFCT3
           		  , SORT_MCHN_HLD_YN32
           		  , SORT_MCHN_HLD_YN33
           		  , SORT_MCHN_HLD_YN34
           		  , SORT_MCHN_HLD_YN35

           		  , SORT_MCHN_HLD_YN41
           		  , SORT_MCHN_SPCFCT4
           		  , SORT_MCHN_HLD_YN42
           		  , SORT_MCHN_HLD_YN43
           		  , SORT_MCHN_HLD_YN44
           		  , SORT_MCHN_HLD_YN45
           		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	    			#{trgtYr}
	    		  , #{apcCd}
	   		      , #{sortMchnHldYn11}
	   		      , #{sortMchnSpcfct1}
	   		      , #{sortMchnHldYn12}
	   		      , #{sortMchnHldYn13}
	   		      , #{sortMchnHldYn14}
	   		      , #{sortMchnHldYn15}

	   		      , #{sortMchnHldYn21}
	   		      , #{sortMchnSpcfct2}
	   		      , #{sortMchnHldYn22}
	   		      , #{sortMchnHldYn23}
	   		      , #{sortMchnHldYn24}
	   		      , #{sortMchnHldYn25}

	   		      , #{sortMchnHldYn31}
	   		      , #{sortMchnSpcfct3}
	   		      , #{sortMchnHldYn32}
	   		      , #{sortMchnHldYn33}
	   		      , #{sortMchnHldYn34}
	   		      , #{sortMchnHldYn35}

	   		      , #{sortMchnHldYn41}
	   		      , #{sortMchnSpcfct4}
	   		      , #{sortMchnHldYn42}
	   		      , #{sortMchnHldYn43}
	   		      , #{sortMchnHldYn44}
	   		      , #{sortMchnHldYn45}
	   		      , SYSDATE
	    		  , #{sysFrstInptUserId}
	    		  , #{sysFrstInptPrgrmId}
	    		  , SYSDATE
	    		  , #{sysLastChgUserId}
	    		  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.updateFcltGdsMchnInfo				-->
	<!-- DESC : 상품화설비현황 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	jeongyd        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltGdsMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.updateFcltGdsMchnInfo */
	    		TB_FCLT_GDS_MCHN_INFO FCLT
			   SET
	    			TRGT_YR          =  #{trgtYr}
	    		  , APC_CD           =  #{apcCd}

				  , SORT_MCHN_HLD_YN11 = #{sortMchnHldYn11}
	    		  , SORT_MCHN_SPCFCT1 =  #{sortMchnSpcfct1}
				  , SORT_MCHN_HLD_YN12 = #{sortMchnHldYn12}
				  , SORT_MCHN_HLD_YN13 = #{sortMchnHldYn13}
				  , SORT_MCHN_HLD_YN14 = #{sortMchnHldYn14}
				  , SORT_MCHN_HLD_YN15 = #{sortMchnHldYn15}

				  , SORT_MCHN_HLD_YN21 = #{sortMchnHldYn21}
				  , SORT_MCHN_SPCFCT2  = #{sortMchnSpcfct2}
				  , SORT_MCHN_HLD_YN22 = #{sortMchnHldYn22}
				  , SORT_MCHN_HLD_YN23 = #{sortMchnHldYn23}
				  , SORT_MCHN_HLD_YN24 = #{sortMchnHldYn24}
				  , SORT_MCHN_HLD_YN25 = #{sortMchnHldYn25}

				  , SORT_MCHN_HLD_YN31 = #{sortMchnHldYn31}
				  , SORT_MCHN_SPCFCT3  = #{sortMchnSpcfct3}
				  , SORT_MCHN_HLD_YN32 = #{sortMchnHldYn32}
				  , SORT_MCHN_HLD_YN33 = #{sortMchnHldYn33}
				  , SORT_MCHN_HLD_YN34 = #{sortMchnHldYn34}
				  , SORT_MCHN_HLD_YN35 = #{sortMchnHldYn35}

				  , SORT_MCHN_HLD_YN41 = #{sortMchnHldYn41}
				  , SORT_MCHN_SPCFCT4  = #{sortMchnSpcfct4}
				  , SORT_MCHN_HLD_YN42 = #{sortMchnHldYn42}
				  , SORT_MCHN_HLD_YN43 = #{sortMchnHldYn43}
				  , SORT_MCHN_HLD_YN44 = #{sortMchnHldYn44}
				  , SORT_MCHN_HLD_YN45 = #{sortMchnHldYn45}

    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
		      AND TRGT_YR = #{trgtYr}
		      AND APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.deleteFcltGdsMchnInfo				-->
	<!-- DESC : 상품화설비현황 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	jeongyd        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltGdsMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltGdsMchnInfoVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltGdsMchnInfoMapper.deleteFcltGdsMchnInfo */
	    		TB_FCLT_GDS_MCHN_INFO FCLT
			WHERE 1=1
		      AND TRGT_YR = #{trgtYr}
		      AND APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>