<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltOperHfInfoMapper.xml                                    				-->
<!-- DESC : 시설고용인력 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.selectFcltOperHfInfo				-->
	<!-- DESC : 시설고용인력 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltOperHfInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.selectFcltOperHfInfo */
				APC_CD
				,APC_NM
				,CRTR_YR
				,HIRE_RGLLBR_OFC
				,HIRE_RGLLBR_SPT

				,HIRE_TMPR_WG_TOT_SUM
				,HIRE_TMPR_AVG_WG
				,HIRE_TMPR_MIN
				,HIRE_TMPR_MAX

				,HIRE_FRGNR_MIN
				,HIRE_FRGNR_MAX
				,HIRE_FRGNR_AVG
				,HIRE_FRGNR_TASK_CN

			FROM TB_TE_APC_OPER_ABLT AOA
			WHERE 1=1
			  AND DEL_YN != 'Y'
			  AND APC_CD IS NOT NULL
					]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND  CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND  APC_CD = #{apcCd}
			</if>
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.selectFcltOperHfInfoList			-->
	<!-- DESC : 시설고용인력 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
		<!-- ==========================================================================	-->
	<select id="selectFcltOperHfInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>
		<!-- End 페이징 -->

			<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.selectFcltOperHfInfoList */
				APC_CD
				,APC_NM
				,CRTR_YR
				,HIRE_RGLLBR_OFC
				,HIRE_RGLLBR_SPT

				,HIRE_TMPR_WG_TOT_SUM
				,HIRE_TMPR_AVG_WG
				,HIRE_TMPR_MIN
				,HIRE_TMPR_MAX

				,HIRE_FRGNR_MIN
				,HIRE_FRGNR_MAX
				,HIRE_FRGNR_AVG
				,HIRE_FRGNR_TASK_CN

			FROM TB_TE_APC_OPER_ABLT AOA
			WHERE 1=1
			  AND DEL_YN != 'Y'
			  AND APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND APC_CD = #{apcCd}
			</if>

		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
		<!-- End 페이징 -->
	</select>

	<update id="insertFcltOperHfInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
		MERGE INTO TB_TE_APC_OPER_ABLT AOA /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.insertFcltOperHfInfo */
		USING DUAL
		ON (
			AOA.CRTR_YR = #{crtrYr}
			AND AOA.APC_CD = #{apcCd}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  HIRE_RGLLBR_OFC			= #{hireRgllbrOfc}
				  , HIRE_RGLLBR_SPT			= #{hireRgllbrSpt}

				  , HIRE_TMPR_WG_TOT_SUM	= #{hireTmprWgTotSum}
				  , HIRE_TMPR_AVG_WG		= #{hireTmprAvgWg}
				  , HIRE_TMPR_MIN			= #{hireTmprMin}
				  , HIRE_TMPR_MAX			= #{hireTmprMax}

				  , HIRE_FRGNR_MIN			= #{hireFrgnrMin}
				  , HIRE_FRGNR_MAX			= #{hireFrgnrMax}
				  , HIRE_FRGNR_AVG			= #{hireFrgnrAvg}
				  , HIRE_FRGNR_TASK_CN		= #{hireFrgnrTaskCn}

				  , TMPR_STRG_YN			= #{tmprStrgYn}

				  , SYS_LAST_CHG_DT			= SYSDATE
				  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , APC_CD
				  , APC_NM
				  , HIRE_RGLLBR_OFC
				  , HIRE_RGLLBR_SPT

				  , HIRE_TMPR_WG_TOT_SUM
				  , HIRE_TMPR_AVG_WG
				  , HIRE_TMPR_MIN
				  , HIRE_TMPR_MAX

				  , HIRE_FRGNR_MIN
				  , HIRE_FRGNR_MAX
				  , HIRE_FRGNR_AVG
				  , HIRE_FRGNR_TASK_CN

				  , TMPR_STRG_YN

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{apcCd}
				  , (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr})
				  , #{hireRgllbrOfc}
				  , #{hireRgllbrSpt}

				  , #{hireTmprWgTotSum}
				  , #{hireTmprAvgWg}
				  , #{hireTmprMin}
				  , #{hireTmprMax}

				  , #{hireFrgnrMin}
				  , #{hireFrgnrMax}
				  , #{hireFrgnrAvg}
				  , #{hireFrgnrTaskCn}

				  , #{tmprStrgYn}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.updateFcltOperHfInfo				-->
	<!-- DESC : 시설고용인력 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateFcltOperHfInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.updateFcltOperHfInfo */
				TB_TE_APC_OPER_ABLT AOA
			  SET
				HIRE_RGLLBR_OFC			= #{hireRgllbrOfc}
				, HIRE_RGLLBR_SPT		= #{hireRgllbrSpt}

				, HIRE_TMPR_WG_TOT_SUM	= #{hireTmprWgTotSum}
				, HIRE_TMPR_AVG_WG		= #{hireTmprAvgWg}
				, HIRE_TMPR_MIN			= #{hireTmprMin}
				, HIRE_TMPR_MAX			= #{hireTmprMax}

				, HIRE_FRGNR_MIN		= #{hireFrgnrMin}
				, HIRE_FRGNR_MAX		= #{hireFrgnrMax}
				, HIRE_FRGNR_AVG		= #{hireFrgnrAvg}
				, HIRE_FRGNR_TASK_CN	= #{hireFrgnrTaskCn}

				, TMPR_STRG_YN			= #{tmprStrgYn}
		]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
			  AND CRTR_YR = #{trgtYr}
			  AND APC_CD = #{apcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.deleteFcltOperHfInfo				-->
	<!-- DESC : 시설고용인력 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="deleteFcltOperHfInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.deleteFcltOperHfInfo */
				TB_TE_APC_OPER_ABLT AOA
			  SET
				  DEL_YN 	= 'Y'
			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND  APC_CD = #{apcCd}
		]]>
	</update>
	<!--
	<delete id="deleteFcltOperHfInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
		<![CDATA[
			DELETE /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.deleteFcltOperHfInfo */
				TB_TE_APC_OPER_ABLT AOA
			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND  APC_CD = #{apcCd}
		]]>
	</delete>
-->
	<select id="selectFcltOperHfInfoRawDataList" parameterType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltOperHfInfoVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperHfInfoMapper.selectFcltOperHfInfoRawDataList */
				APC_CD
				,(SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = AOA.APC_CD) AS APC_NM
				,CRTR_YR

				,HIRE_RGLLBR_OFC
				,HIRE_RGLLBR_SPT

				,HIRE_TMPR_WG_TOT_SUM
				,HIRE_TMPR_AVG_WG
				,HIRE_TMPR_MIN
				,HIRE_TMPR_MAX

				,HIRE_FRGNR_MIN
				,HIRE_FRGNR_MAX
				,HIRE_FRGNR_AVG
				,HIRE_FRGNR_TASK_CN

			FROM TB_TE_APC_OPER_ABLT AOA
			WHERE 1=1
			  AND DEL_YN != 'Y'
			  AND APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND AOA.CRTR_YR = #{crtrYr}
			</if>
			<if test='userId != null and userId != ""'>
				<if test='userType == "27" or userType == "28"'>
				AND AOA.APC_CD IN (SELECT APC_CD
								FROM TB_APC_INFO
								WHERE 1=1
								<if test='userType == "27"'>
								  AND CTPV = (SELECT CTPV FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								<if test='userType == "28"'>
								  AND SGG = (SELECT SGG FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								)
				</if>
			</if>
			ORDER BY APC_NM
	</select>
</mapper>