<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltInfoMapper.xml                                    				-->
<!-- DESC : 시설현황 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->


<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltInfoMapper.selectFcltInfo				-->
	<!-- DESC : 시설현황 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->



    <select id="selectFcltInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltInfoMapper.selectFcltInfo */
             FCLT.TRGT_YR                  AS TRGT_YR
			, FCLT.APC_CD                  AS APC_CD
			, FCLT.FCLT_CD                 AS FCLT_CD
			, FCLT.FCLT_NM                 AS FCLT_NM
			, FCLT.FCLT_AREA               AS FCLT_AREA
			, FCLT.FCLT_AREA2              AS FCLT_AREA2
			, FCLT.FCLT_AREA3              AS FCLT_AREA3
			, FCLT.FCLT_AREA4              AS FCLT_AREA4
			, FCLT.FCLT_AREA5              AS FCLT_AREA5
			, FCLT.FCLT_AREA6              AS FCLT_AREA6
			, FCLT.FCLT_AREA7              AS FCLT_AREA7
			, FCLT.FCLT_AREA8              AS FCLT_AREA8
			, FCLT.FCLT_AREA9              AS FCLT_AREA9
			, FCLT.FCLT_AREA10             AS FCLT_AREA10
			, FCLT_AREA+FCLT_AREA2+FCLT_AREA3+FCLT_AREA4+FCLT_AREA5
			 +FCLT_AREA6+FCLT_AREA7+FCLT_AREA8+FCLT_AREA9+FCLT_AREA10
											AS FCLT_AREA0
			, FCLT.FCLT_RMRK0                    AS FCLT_RMRK0
			, FCLT.FCLT_RMRK                     AS FCLT_RMRK
			, FCLT.FCLT_RMRK2                    AS FCLT_RMRK2
			, FCLT.FCLT_RMRK3                    AS FCLT_RMRK3
			, FCLT.FCLT_RMRK4                    AS FCLT_RMRK4
			, FCLT.FCLT_RMRK5                    AS FCLT_RMRK5
			, FCLT.FCLT_RMRK6                    AS FCLT_RMRK6
			, FCLT.FCLT_RMRK7                    AS FCLT_RMRK7
			, FCLT.FCLT_RMRK8                    AS FCLT_RMRK8
			, FCLT.FCLT_RMRK9                    AS FCLT_RMRK9
			, FCLT.FCLT_RMRK10                   AS FCLT_RMRK10
			, FCLT.DEL_YN                  		 AS DEL_YN
			, FCLT.SYS_FRST_INPT_DT        		 AS SYS_FRST_INPT_DT
			, FCLT.SYS_FRST_INPT_USER_ID   		 AS SYS_FRST_INPT_USER_ID
			, FCLT.SYS_FRST_INPT_PRGRM_ID		 AS SYS_FRST_INPT_PRGRM_ID
			, FCLT.SYS_LAST_CHG_DT        		 AS SYS_LAST_CHG_DT
			, FCLT.SYS_LAST_CHG_USER_ID    	     AS SYS_LAST_CHG_USER_ID
			, FCLT.SYS_LAST_CHG_PRGRM_ID   	 	 AS SYS_LAST_CHG_PRGRM_ID

			 FROM TB_FCLT_INFO FCLT
			 WHERE 1=1
    	]]>
        		<if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  APC_CD = #{apcCd}
		   </if>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltInfoMapper.selectFcltInfoList			-->
	<!-- DESC : 시설현황 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltInfoVO">

    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltInfoMapper.selectFcltInfoList */
             FCLT.TRGT_YR                       AS TRGT_YR
			, FCLT.APC_CD                       AS APC_CD
			, FCLT.FCLT_CD                      AS FCLT_CD
			, FCLT.FCLT_NM                      AS FCLT_NM
			, FCLT.FCLT_AREA                    AS FCLT_AREA
			, FCLT.FCLT_AREA2                   AS FCLT_AREA2
			, FCLT.FCLT_AREA3                   AS FCLT_AREA3
			, FCLT.FCLT_AREA4                   AS FCLT_AREA4
			, FCLT.FCLT_AREA5                   AS FCLT_AREA5
			, FCLT.FCLT_AREA6					AS FCLT_AREA6
			, FCLT.FCLT_AREA7              		AS FCLT_AREA7
			, FCLT.FCLT_AREA8              		AS FCLT_AREA8
			, FCLT.FCLT_AREA9              		AS FCLT_AREA9
			, FCLT.FCLT_AREA10             		AS FCLT_AREA10
			, (FCLT_AREA+FCLT_AREA2+FCLT_AREA3+FCLT_AREA4+FCLT_AREA5
			 +FCLT_AREA6+FCLT_AREA7+FCLT_AREA8+FCLT_AREA9+FCLT_AREA10) AS FCLT_AREA0
			, FCLT.FCLT_RMRK0                   AS FCLT_RMRK0
			, FCLT.FCLT_RMRK                    AS FCLT_RMRK
			, FCLT.FCLT_RMRK2                   AS FCLT_RMRK2
			, FCLT.FCLT_RMRK3                   AS FCLT_RMRK3
			, FCLT.FCLT_RMRK4                   AS FCLT_RMRK4
			, FCLT.FCLT_RMRK5                   AS FCLT_RMRK5
			, FCLT.FCLT_RMRK6                   AS FCLT_RMRK6
			, FCLT.FCLT_RMRK7                   AS FCLT_RMRK7
			, FCLT.FCLT_RMRK8                   AS FCLT_RMRK8
			, FCLT.FCLT_RMRK9                   AS FCLT_RMRK9
			, FCLT.FCLT_RMRK10                  AS FCLT_RMRK10
			, FCLT.DEL_YN                  AS DEL_YN
			, FCLT.SYS_FRST_INPT_DT        AS SYS_FRST_INPT_DT
			, FCLT.SYS_FRST_INPT_USER_ID   AS SYS_FRST_INPT_USER_ID
			, FCLT.SYS_FRST_INPT_PRGRM_ID  AS SYS_FRST_INPT_PRGRM_ID
			, FCLT.SYS_LAST_CHG_DT         AS SYS_LAST_CHG_DT
			, FCLT.SYS_LAST_CHG_USER_ID    AS SYS_LAST_CHG_USER_ID
			, FCLT.SYS_LAST_CHG_PRGRM_ID   AS SYS_LAST_CHG_PRGRM_ID

			 FROM TB_FCLT_INFO FCLT
			 WHERE 1=1
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltInfoMapper.insertFcltInfo				-->
	<!-- DESC : 시설현황 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertFcltInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltInfoMapper.insertFcltInfo */
	    	  INTO TB_FCLT_INFO FCLT
	    		(
	              TRGT_YR
				, APC_CD
				, FCLT_CD
				, FCLT_NM
				, FCLT_AREA
				, FCLT_RMRK
				, FCLT_AREA2
				, FCLT_RMRK2
				, FCLT_AREA3
				, FCLT_RMRK3
				, FCLT_AREA4
				, FCLT_RMRK4
				, FCLT_AREA5
				, FCLT_RMRK6
				, FCLT_AREA6
				, FCLT_RMRK5
				, FCLT_AREA7
				, FCLT_RMRK7
				, FCLT_AREA8
				, FCLT_RMRK8
				, FCLT_AREA9
				, FCLT_RMRK9
				, FCLT_AREA10
				, FCLT_RMRK10
				, FCLT_RMRK0
				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_USER_ID
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_USER_ID
				, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	              #{trgtYr}
				, #{apcCd}
				, #{fcltCd}
				, #{fcltNm}
				, #{fcltArea}
				, #{fcltRmrk}
				, #{fcltArea2}
				, #{fcltRmrk2}
				, #{fcltArea3}
				, #{fcltRmrk3}
				, #{fcltArea4}
				, #{fcltRmrk4}
				, #{fcltArea5}
				, #{fcltRmrk5}
				, #{fcltArea6}
				, #{fcltRmrk6}
				, #{fcltArea7}
				, #{fcltRmrk7}
				, #{fcltArea8}
				, #{fcltRmrk8}
				, #{fcltArea9}
				, #{fcltRmrk9}
				, #{fcltArea10}
				, #{fcltRmrk10}
				, #{fcltRmrk0}
				, #{delYn}
				, SYSDATE
				, #{sysFrstInptUserId}
				, #{sysFrstInptPrgrmId}
				, SYSDATE
				, #{sysLastChgUserId}
				, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltInfoMapper.updateFcltInfo				-->
	<!-- DESC : 시설현황 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltInfoMapper.updateFcltInfo */
	    		TB_FCLT_INFO FCLT
			   SET
				    TRGT_YR	 	 =  #{trgtYr}
				   , APC_CD      =  #{apcCd}
			 	   , FCLT_CD     =  #{fcltCd}
			 	   , FCLT_NM     =  #{fcltNm}
			 	   , FCLT_AREA   =  #{fcltArea}
			 	   , FCLT_AREA2  =  #{fcltArea2}
			 	   , FCLT_AREA3  =  #{fcltArea3}
			 	   , FCLT_AREA4  =  #{fcltArea4}
			 	   , FCLT_AREA5  =  #{fcltArea5}
			 	   , FCLT_AREA6  =  #{fcltArea6}
			 	   , FCLT_AREA7  =  #{fcltArea7}
			 	   , FCLT_AREA8  =  #{fcltArea8}
			 	   , FCLT_AREA9  =  #{fcltArea9}
			 	   , FCLT_AREA10 =  #{fcltArea10}
			 	   , FCLT_RMRK   =  #{fcltRmrk}
			 	   , FCLT_RMRK2  =  #{fcltRmrk2}
			 	   , FCLT_RMRK3  =  #{fcltRmrk3}
			 	   , FCLT_RMRK4  =  #{fcltRmrk4}
			 	   , FCLT_RMRK5  =  #{fcltRmrk5}
			 	   , FCLT_RMRK6  =  #{fcltRmrk6}
			 	   , FCLT_RMRK7  =  #{fcltRmrk7}
			 	   , FCLT_RMRK8  =  #{fcltRmrk8}
			 	   , FCLT_RMRK9  =  #{fcltRmrk9}
			 	   , FCLT_RMRK10 =  #{fcltRmrk10}
			 	   , FCLT_RMRK0  =  #{fcltRmrk0}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltInfoMapper.deleteFcltInfo				-->
	<!-- DESC : 시설현황 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltInfoVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltInfoMapper.deleteFcltInfo */
	    		TB_FCLT_INFO FCLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>