<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltLwtpStrgMchnOperInfoMapper.xml                                    				-->
<!-- DESC : 저온저장고운영기간 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.selectFcltLwtpStrgMchnOperInfo				-->
	<!-- DESC : 저온저장고운영기간 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltLwtpStrgMchnOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnOperInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnOperInfoVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.selectFcltLwtpStrgMchnOperInfo */
				  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.SN                     AS SN
				, FCLT.FCLT_CD                AS FCLT_CD
				, FCLT.FCLT_OPER_CD      AS FCLT_OPER_CD
				, FCLT.FCLT_OPER_YN      	  AS FCLT_OPER_YN
				, FCLT.FCLT_OPER_YN2      	  AS FCLT_OPER_YN2
				, FCLT.FCLT_OPER_YN3      	  AS FCLT_OPER_YN3
				, FCLT.FCLT_OPER_YN4      	  AS FCLT_OPER_YN4
				, FCLT.FCLT_OPER_YN5      	  AS FCLT_OPER_YN5
				, FCLT.FCLT_OPER_YN6      	  AS FCLT_OPER_YN6
				, FCLT.FCLT_OPER_YN7      	  AS FCLT_OPER_YN7
				, FCLT.FCLT_OPER_YN8      	  AS FCLT_OPER_YN8
				, FCLT.FCLT_OPER_YN9      	  AS FCLT_OPER_YN9
				, FCLT.FCLT_OPER_YN10      	  AS FCLT_OPER_YN10
				, FCLT.FCLT_OPER_YN11      	  AS FCLT_OPER_YN11
				, FCLT.FCLT_OPER_YN12     	  AS FCLT_OPER_YN12
				, FCLT.DEL_YN                 AS DEL_YN
				, FCLT.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
				, FCLT.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
				, FCLT.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
				, FCLT.SYS_LAST_CHG_DT        AS SYS_LAST_CHG_DT
				, FCLT.SYS_LAST_CHG_USER_ID   AS SYS_LAST_CHG_USER_ID
			    , FCLT.SYS_LAST_CHG_PRGRM_ID  AS SYS_LAST_CHG_PRGRM_ID
			    , FCLT.FCLT_OPER_YN           AS FCLT_OPER_YN
				, FCLT.FCLT_OPER_YN2          AS FCLT_OPER_YN2
				, FCLT.FCLT_OPER_YN3          AS FCLT_OPER_YN3
				, FCLT.FCLT_OPER_YN4          AS FCLT_OPER_YN4
				, FCLT.FCLT_OPER_YN5          AS FCLT_OPER_YN5
				, FCLT.FCLT_OPER_YN6          AS FCLT_OPER_YN6
				, FCLT.FCLT_OPER_YN7          AS FCLT_OPER_YN7
				, FCLT.FCLT_OPER_YN8          AS FCLT_OPER_YN8
				, FCLT.FCLT_OPER_YN9          AS FCLT_OPER_YN9
				, FCLT.FCLT_OPER_YN10         AS FCLT_OPER_YN10
				, FCLT.FCLT_OPER_YN11         AS FCLT_OPER_YN11
				, FCLT.FCLT_OPER_YN12         AS FCLT_OPER_YN12

			  FROM TB_FCLT_LWTP_STRG_MCHN_OPER_INFO FCLT
 			 WHERE 1=1
		     		]]>
        		<if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  APC_CD = #{apcCd}
		   </if>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.selectFcltLwtpStrgMchnOperInfoList			-->
	<!-- DESC : 저온저장고운영기간 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltLwtpStrgMchnOperInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnOperInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnOperInfoVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
				SELECT /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.selectFcltLwtpStrgMchnOperInfo */
				  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.SN                     AS SN
				, FCLT.FCLT_CD                AS FCLT_CD
				, FCLT.FCLT_OPER_CD      AS FCLT_OPER_CD
				, FCLT.FCLT_OPER_YN      	  AS FCLT_OPER_YN
				, FCLT.FCLT_OPER_YN2      	  AS FCLT_OPER_YN2
				, FCLT.FCLT_OPER_YN3      	  AS FCLT_OPER_YN3
				, FCLT.FCLT_OPER_YN4      	  AS FCLT_OPER_YN4
				, FCLT.FCLT_OPER_YN5      	  AS FCLT_OPER_YN5
				, FCLT.FCLT_OPER_YN6      	  AS FCLT_OPER_YN6
				, FCLT.FCLT_OPER_YN7      	  AS FCLT_OPER_YN7
				, FCLT.FCLT_OPER_YN8      	  AS FCLT_OPER_YN8
				, FCLT.FCLT_OPER_YN9      	  AS FCLT_OPER_YN9
				, FCLT.FCLT_OPER_YN10      	  AS FCLT_OPER_YN10
				, FCLT.FCLT_OPER_YN11      	  AS FCLT_OPER_YN11
				, FCLT.FCLT_OPER_YN12     	  AS FCLT_OPER_YN12
				, FCLT.DEL_YN                 AS DEL_YN
				, FCLT.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
				, FCLT.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
				, FCLT.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
				, FCLT.SYS_LAST_CHG_DT        AS SYS_LAST_CHG_DT
				, FCLT.SYS_LAST_CHG_USER_ID   AS SYS_LAST_CHG_USER_ID
			    , FCLT.SYS_LAST_CHG_PRGRM_ID  AS SYS_LAST_CHG_PRGRM_ID
			    , FCLT.FCLT_OPER_YN           AS FCLT_OPER_YN
				, FCLT.FCLT_OPER_YN2          AS FCLT_OPER_YN2
				, FCLT.FCLT_OPER_YN3          AS FCLT_OPER_YN3
				, FCLT.FCLT_OPER_YN4          AS FCLT_OPER_YN4
				, FCLT.FCLT_OPER_YN5          AS FCLT_OPER_YN5
				, FCLT.FCLT_OPER_YN6          AS FCLT_OPER_YN6
				, FCLT.FCLT_OPER_YN7          AS FCLT_OPER_YN7
				, FCLT.FCLT_OPER_YN8          AS FCLT_OPER_YN8
				, FCLT.FCLT_OPER_YN9          AS FCLT_OPER_YN9
				, FCLT.FCLT_OPER_YN10         AS FCLT_OPER_YN10
				, FCLT.FCLT_OPER_YN11         AS FCLT_OPER_YN11
				, FCLT.FCLT_OPER_YN12         AS FCLT_OPER_YN12
			  FROM TB_FCLT_LWTP_STRG_MCHN_OPER_INFO FCLT
 			 WHERE 1=1
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.insertFcltLwtpStrgMchnOperInfo				-->
	<!-- DESC : 저온저장고운영기간 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertFcltLwtpStrgMchnOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnOperInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.insertFcltLwtpStrgMchnOperInfo */
	    	  INTO TB_FCLT_LWTP_STRG_MCHN_OPER_INFO FCLT
	    		(
	    			TRGT_YR
	    		  , SN
	    		  , FCLT_CD
	    		  , FCLT_OPER_CD
	    		  , FCLT_OPER_YN
	    		  , FCLT_OPER_YN2
	    		  , FCLT_OPER_YN3
	    		  , FCLT_OPER_YN4
	    		  , FCLT_OPER_YN5
	    		  , FCLT_OPER_YN6
	    		  , FCLT_OPER_YN7
	    		  , FCLT_OPER_YN8
	    		  , FCLT_OPER_YN9
	    		  , FCLT_OPER_YN10
	    		  , FCLT_OPER_YN11
	    		  , FCLT_OPER_YN12
	    		  , DEL_YN
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		  , FCLT_OPER_YN
				  , FCLT_OPER_YN2
				  , FCLT_OPER_YN3
				  , FCLT_OPER_YN4
				  , FCLT_OPER_YN5
				  , FCLT_OPER_YN6
				  , FCLT_OPER_YN7
				  , FCLT_OPER_YN8
				  , FCLT_OPER_YN9
				  , FCLT_OPER_YN10
				  , FCLT_OPER_YN11
				  , FCLT_OPER_YN12

	    		)
	   		VALUES
	   			(
	   			    #{trgtYr}
	   			  , #{sn}
	   			  , #{fcltCd}
	   			  , #{fcltOperCd}
	   			  , #{fcltOperYn}
	   			  , #{fcltOperYn2}
	   			  , #{fcltOperYn3}
	   			  , #{fcltOperYn4}
	   			  , #{fcltOperYn5}
	   			  , #{fcltOperYn6}
	   			  , #{fcltOperYn7}
	   			  , #{fcltOperYn8}
	   			  , #{fcltOperYn9}
	   			  , #{fcltOperYn10}
	   			  , #{fcltOperYn11}
	   			  , #{fcltOperYn12}
	   			  , #{delYn}
	   			  ,	SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			  , #{fcltOperYn}
                  , #{fcltOperYn2}
                  , #{fcltOperYn3}
                  , #{fcltOperYn4}
                  , #{fcltOperYn5}
                  , #{fcltOperYn6}
                  , #{fcltOperYn7}
                  , #{fcltOperYn8}
                  , #{fcltOperYn9}
                  , #{fcltOperYn10}
                  , #{fcltOperYn11}
                  , #{fcltOperYn12}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.updateFcltLwtpStrgMchnOperInfo				-->
	<!-- DESC : 저온저장고운영기간 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltLwtpStrgMchnOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnOperInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.updateFcltLwtpStrgMchnOperInfo */
	    		TB_FCLT_LWTP_STRG_MCHN_OPER_INFO FCLT
			   SET
			 	  TRGT_YR            =  #{trgtYr}
			 	, SN                 =  #{sn}
			 	, FCLT_CD            =  #{fcltCd}
			 	, FCLT_OPER_CD  =  #{fcltOperCd}
			 	, FCLT_OPER_YN  =  #{fcltOperYn}
			 	, FCLT_OPER_YN2  =  #{fcltOperYn2}
			 	, FCLT_OPER_YN3  =  #{fcltOperYn3}
			 	, FCLT_OPER_YN4  =  #{fcltOperYn4}
			 	, FCLT_OPER_YN5  =  #{fcltOperYn5}
			 	, FCLT_OPER_YN6  =  #{fcltOperYn6}
			 	, FCLT_OPER_YN7  =  #{fcltOperYn7}
			 	, FCLT_OPER_YN8  =  #{fcltOperYn8}
			 	, FCLT_OPER_YN9  =  #{fcltOperYn9}
			 	, FCLT_OPER_YN10  =  #{fcltOperYn10}
			 	, FCLT_OPER_YN11  =  #{fcltOperYn11}
			 	, FCLT_OPER_YN12  =  #{fcltOperYn12}
			 	, FCLT_OPER_YN    =  #{fcltOperYn}
				, FCLT_OPER_YN2   =  #{fcltOperYn2}
				, FCLT_OPER_YN3   =  #{fcltOperYn3}
				, FCLT_OPER_YN4   =  #{fcltOperYn4}
				, FCLT_OPER_YN5   =  #{fcltOperYn5}
				, FCLT_OPER_YN6   =  #{fcltOperYn6}
				, FCLT_OPER_YN7   =  #{fcltOperYn7}
				, FCLT_OPER_YN8   =  #{fcltOperYn8}
				, FCLT_OPER_YN9   =  #{fcltOperYn9}
				, FCLT_OPER_YN10  =  #{fcltOperYn10}
				, FCLT_OPER_YN11  =  #{fcltOperYn11}
				, FCLT_OPER_YN12  =  #{fcltOperYn12}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.deleteFcltLwtpStrgMchnOperInfo				-->
	<!-- DESC : 저온저장고운영기간 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltLwtpStrgMchnOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnOperInfoVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnOperInfoMapper.deleteFcltLwtpStrgMchnOperInfo */
	    		TB_FCLT_LWTP_STRG_MCHN_OPER_INFO FCLT
			WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>