<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltOperInfoMapper.xml                                    				-->
<!-- DESC : 운영자개요 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.selectFcltOperInfo				-->
	<!-- DESC : 운영자개요 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
		SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.selectFcltOperInfo */
			AOPO.CRTR_YR

			<if test='memberInfoYn == "Y"'>
			, (SELECT CO_NM FROM TB_COM_USER WHERE USER_ID = #{userId}) AS OPER_OGNZ_NM
			, (SELECT RPRSV_KORN_NM FROM TB_COM_USER WHERE USER_ID = #{userId}) AS RPRSV
			, (SELECT BRNO FROM TB_COM_USER WHERE USER_ID = #{userId}) AS OPER_OGNZ_BRNO
			, (SELECT CRNO FROM TB_COM_USER WHERE USER_ID = #{userId}) AS OPER_OGNZ_CRNO
			</if>

			<if test='memberInfoYn != "Y"'>
			, AOPO.OPER_OGNZ_NM
			, AOPO.RPRSV
			, AOPO.OPER_OGNZ_BRNO
			, AOPO.OPER_OGNZ_CRNO
			</if>A

			, AOPO.APC_CD
			, AOPO.APC_NM
			, AOPO.APC_BRNO
			, AOPO.APC_CRNO

			, AOPO.RPRSV

			, AOPO.LOCTN
			, AOPO.LOCTN_DTL

			, AOPO.OPER_OGNZ_BMNO
			, AOPO.OPER_OGNZ_SLNO
			, AOPO.OPER_OGNZ_ROAD_NM_CD
			, AOPO.OPER_OGNZ_ADM_CD
			, AOPO.OPER_OGNZ_ZIP

			, AOPO.APC_LOCTN
			, AOPO.APC_LOCTN_DTL

			, AOPO.APC_BMNO
			, AOPO.APC_SLNO
			, AOPO.APC_ROAD_NM_CD
			, AOPO.APC_ADM_CD
			, AOPO.APC_ZIP

			, AOPO.CTPV_CD
			, AOPO.SIGUN_CD

			, AOPO.OGNZ_TYPE_CD

		FROM TB_TE_APC_OPER_PRSN_OTLN AOPO
		WHERE 1=1
		  AND AOPO.DEL_YN = 'N'
		  AND AOPO.APC_CD IS NOT NULL
		<if test='crtrYr != null and !crtrYr.equals("")'>
		  AND  AOPO.CRTR_YR = #{crtrYr}
		</if>
		<if test='apcCd != null and !apcCd.equals("")'>
		  AND  AOPO.APC_CD = #{apcCd}
		</if>

	</select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.selectFcltOperInfoList			-->
	<!-- DESC : 운영자개요 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltOperInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.selectFcltOperInfoList */
					 AOPO.CRTR_YR

					<if test='memberInfoYn == "Y"'>
					, (SELECT CO_NM FROM TB_COM_USER WHERE USER_ID = #{userId}) AS OPER_OGNZ_NM
					, (SELECT RPRSV_KORN_NM FROM TB_COM_USER WHERE USER_ID = #{userId}) AS RPRSV
					, (SELECT BRNO FROM TB_COM_USER WHERE USER_ID = #{userId}) AS OPER_OGNZ_BRNO
					, (SELECT CRNO FROM TB_COM_USER WHERE USER_ID = #{userId}) AS OPER_OGNZ_CRNO
					</if>

					<if test='memberInfoYn != "Y"'>
					, AOPO.OPER_OGNZ_NM
					, AOPO.RPRSV
					, AOPO.OPER_OGNZ_BRNO
					, AOPO.OPER_OGNZ_CRNO
					</if>
					, AOPO.APC_CD
					, AOPO.APC_NM

					, AOPO.APC_BRNO

					, AOPO.LOCTN
					, AOPO.LOCTN_DTL

					, AOPO.OPER_OGNZ_BMNO
					, AOPO.OPER_OGNZ_SLNO
					, AOPO.OPER_OGNZ_ROAD_NM_CD
					, AOPO.OPER_OGNZ_ADM_CD
					, AOPO.OPER_OGNZ_ZIP

					, AOPO.APC_LOCTN
					, AOPO.APC_LOCTN_DTL

					, AOPO.APC_BMNO
					, AOPO.APC_SLNO
					, AOPO.APC_ROAD_NM_CD
					, AOPO.APC_ADM_CD
					, AOPO.APC_ZIP

					, AOPO.CTPV_CD
					, AOPO.SIGUN_CD

					, AOPO.OGNZ_TYPE_CD

			FROM TB_TE_APC_OPER_PRSN_OTLN AOPO
			WHERE 1=1
			  AND AOPO.DEL_YN = 'N'
			  AND AOPO.APC_CD IS NOT NULL
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND  AOPO.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND  AOPO.APC_CD = #{apcCd}
			</if>

	</select>



	<update id="insertFcltOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
		MERGE INTO TB_TE_APC_OPER_PRSN_OTLN AOPO
		USING DUAL
		ON (
			AOPO.CRTR_YR = #{crtrYr}
			AND AOPO.APC_CD = #{apcCd}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				OPER_OGNZ_NM			=  #{operOgnzNm}
				, OPER_OGNZ_BRNO		=  #{operOgnzBrno}
				, OPER_OGNZ_CRNO		=  #{operOgnzCrno}
				, APC_NM				=  #{apcNm}
				, APC_BRNO				=  #{apcBrno}
				, APC_CRNO				=  #{apcCrno}

				, RPRSV					=  #{rprsv}
				, LOCTN					=  #{loctn}
				, LOCTN_DTL				=  #{loctnDtl}

				, OPER_OGNZ_BMNO		=  #{operOgnzBmno}
				, OPER_OGNZ_SLNO		=  #{operOgnzSlno}
				, OPER_OGNZ_ROAD_NM_CD	=  #{operOgnzRoadNmCd}
				, OPER_OGNZ_ADM_CD		=  #{operOgnzAdmCd}
				, OPER_OGNZ_ZIP			=  #{operOgnzZip}

				, APC_LOCTN				=  #{apcLoctn}
				, APC_LOCTN_DTL			=  #{apcLoctnDtl}

				, APC_BMNO				=  #{apcBmno}
				, APC_SLNO				=  #{apcSlno}
				, APC_ROAD_NM_CD		=  #{apcRoadNmCd}
				, APC_ADM_CD			=  #{apcAdmCd}
				, APC_ZIP				=  #{apcZip}

				, CTPV_CD				=  #{ctpvCd}
				, SIGUN_CD				=  #{sigunCd}
				, OGNZ_TYPE_CD			=  #{ognzTypeCd}

				, SYS_LAST_CHG_DT		=  SYSDATE
				, SYS_LAST_CHG_USER_ID	=  #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	=  #{sysLastChgPrgrmId}

				WHERE 1=1
				  AND AOPO.CRTR_YR = #{crtrYr}
				  AND AOPO.APC_CD = #{apcCd}
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , OPER_OGNZ_NM
				  , OPER_OGNZ_BRNO
				  , OPER_OGNZ_CRNO
				  , APC_CD
				  , APC_NM
				  , APC_BRNO
				  , APC_CRNO
				  , RPRSV
				  , LOCTN
				  , LOCTN_DTL
				  , OPER_OGNZ_BMNO
				  , OPER_OGNZ_SLNO
				  , OPER_OGNZ_ROAD_NM_CD
				  , OPER_OGNZ_ADM_CD
				  , OPER_OGNZ_ZIP
				  , APC_LOCTN
				  , APC_LOCTN_DTL
				  , APC_BMNO
				  , APC_SLNO
				  , APC_ROAD_NM_CD
				  , APC_ADM_CD
				  , APC_ZIP
				  , CTPV_CD
				  , SIGUN_CD
				  , OGNZ_TYPE_CD

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{operOgnzNm}
				  , #{operOgnzBrno}
				  , #{operOgnzCrno}

				  , #{apcCd}
				  , #{apcNm}
				  , #{apcBrno}
				  , #{apcCrno}

				  , #{rprsv}
				  , #{loctn}
				  , #{loctnDtl}
				  , #{operOgnzBmno}
				  , #{operOgnzSlno}
				  , #{operOgnzRoadNmCd}
				  , #{operOgnzAdmCd}
				  , #{operOgnzZip}

				  , #{apcLoctn}
				  , #{apcLoctnDtl}
				  , #{apcBmno}
				  , #{apcSlno}
				  , #{apcRoadNmCd}
				  , #{apcAdmCd}
				  , #{apcZip}

				  , #{ctpvCd}
				  , #{sigunCd}
				  , #{ognzTypeCd}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.updateFcltOperInfo				-->
	<!-- DESC : 운영자개요 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateFcltOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.updateFcltOperInfo */
				TB_TE_APC_OPER_PRSN_OTLN AOPO

			  SET
				OPER_OGNZ_NM			=  #{operOgnzNm}
				, OPER_OGNZ_BRNO		=  #{operOgnzBrno}
				, OPER_OGNZ_CRNO		=  #{operOgnzCrno}
				, APC_CD				=  #{apcCd}
				, APC_NM				=  #{apcNm}
				, APC_BRNO				=  #{apcBrno}
				, APC_CRNO				=  #{apcCrno}

				, RPRSV					=  #{rprsv}
				, LOCTN					=  #{loctn}
				, LOCTN_DTL				=  #{loctnDtl}

				, OPER_OGNZ_BMNO		=  #{operOgnzBmno}
				, OPER_OGNZ_SLNO		=  #{operOgnzSlno}
				, OPER_OGNZ_ROAD_NM_CD	=  #{operOgnzRoadNmCd}
				, OPER_OGNZ_ADM_CD		=  #{operOgnzAdmCd}
				, OPER_OGNZ_ZIP			=  #{operOgnzZip}

				, APC_LOCTN				=  #{apcLoctn}
				, APC_LOCTN_DTL			=  #{apcLoctnDtl}
				, APC_BMNO				=  #{apcBmno}
				, APC_SLNO				=  #{apcSlno}
				, APC_ROAD_NM_CD		=  #{apcRoadNmCd}
				, APC_ADM_CD			=  #{apcAdmCd}
				, APC_ZIP				=  #{apcZip}

				, CTPV_CD				=  #{ctpvCd}
				, SIGUN_CD				=  #{sigunCd}
				, OGNZ_TYPE_CD			=  #{ognzTypeCd}

			]]>
			<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
			</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND APC_CD  = #{apcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.deleteFcltOperInfo	-->
	<!-- DESC : 운영자개요 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="deleteFcltOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.deleteFcltOperInfo */
				TB_TE_APC_OPER_PRSN_OTLN AOPO
			  SET
				  DEL_YN 	= 'Y'
			WHERE 1=1
			  AND TRGT_YR = #{trgtYr}
			  AND  APC_CD = #{apcCd}
		]]>
	</update>
	<!--
	<delete id="deleteFcltOperInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
		<![CDATA[
			DELETE /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.deleteFcltOperInfo */
				  TB_FCLT_OPER_INFO FCLT
			WHERE 1=1
		      AND TRGT_YR = #{trgtYr}
		      AND  APC_CD = #{apcCd}
		]]>
	</delete>
	 -->

	<!-- 품목리스트 -->
	<select id="selectFcltOperInfoItemList" parameterType="com.at.apcss.fm.fclt.vo.FcltItemVO" resultType="com.at.apcss.fm.fclt.vo.FcltItemVO">
		SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.selectFcltOperInfoItemList */
			AOTI.APC_CD
			, AOTI.CRTR_YR
			, AOTI.SN
			, AOTI.ITEM_CD
			, AOTI.ITEM_NM
			, AOTI.OGNZ_SE_CD
			, AOTI.ETC_CTGRY_CD

		FROM TB_TE_APC_OPER_TRMT_ITEM AOTI
		WHERE 1=1
		  AND AOTI.DEL_YN = 'N'
		  AND AOTI.APC_CD IS NOT NULL
		<if test='crtrYr != null and !crtrYr.equals("")'>
		  AND  AOTI.CRTR_YR = #{crtrYr}
		</if>
		<if test='apcCd != null and !apcCd.equals("")'>
		  AND  AOTI.APC_CD = #{apcCd}
		</if>
	</select>
	<!-- 품목등록 -->
	<update id="insertFcltOperInfoItem" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
		MERGE INTO TB_TE_APC_OPER_TRMT_ITEM AOTI
		USING DUAL
		ON (
			AOTI.CRTR_YR 		= #{crtrYr}
			AND AOTI.APC_CD 	= #{apcCd}
			AND AOTI.SN 		= #{sn}
			AND AOTI.OGNZ_SE_CD = #{ognzSeCd}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				ITEM_CD			=  #{itemCd}
				, ITEM_NM		=  #{itemNm}
				, ETC_CTGRY_CD	=  #{etcCtgryCd}

				, SYS_LAST_CHG_DT		=  SYSDATE
				, SYS_LAST_CHG_USER_ID	=  #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	=  #{sysLastChgPrgrmId}

				WHERE 1=1
				  AND AOTI.CRTR_YR 		= #{crtrYr}
				  AND AOTI.APC_CD 		= #{apcCd}
				  AND AOTI.SN 			= #{sn}
				  AND AOTI.OGNZ_SE_CD 	= #{ognzSeCd}
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , SN
				  , APC_CD
				  , ITEM_CD
				  , ITEM_NM
				  , OGNZ_SE_CD
				  , ETC_CTGRY_CD

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{sn}
				  , #{apcCd}
				  , #{itemCd}
				  , #{itemNm}
				  , #{ognzSeCd}
				  , #{etcCtgryCd}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>
	<!-- 품목삭제 -->
	<delete id="deleteItem" parameterType="com.at.apcss.fm.fclt.vo.FcltItemVO">
		<![CDATA[
			DELETE /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.deleteItem */
				  TB_TE_APC_OPER_TRMT_ITEM AOTI
			WHERE 1=1
			  AND AOTI.CRTR_YR 		= #{crtrYr}
			  AND AOTI.APC_CD 		= #{apcCd}
			  AND AOTI.SN 			= #{sn}
			  AND AOTI.OGNZ_SE_CD 	= #{ognzSeCd}
		]]>
	</delete>
	<!--
	<update id="deleteItem" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.deleteFcltOperInfoItem */
				TB_TE_APC_OPER_TRMT_ITEM AOTI
			  SET
				  DEL_YN 	= 'Y'
			WHERE 1=1
			  AND AOTI.CRTR_YR 		= #{crtrYr}
			  AND AOTI.APC_CD 		= #{apcCd}
			  AND AOTI.SN 			= #{sn}
			  AND AOTI.OGNZ_SE_CD 	= #{ognzSeCd}
		]]>
	</update>
	 -->
	<!--
	<delete id="deleteFcltOperInfoItem" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
		<![CDATA[
			DELETE /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.deleteFcltOperInfoItem */
				  TB_TE_APC_OPER_TRMT_ITEM AOTI
			WHERE 1=1
		      AND AOTI.CRTR_YR 		= #{crtrYr}
			  AND AOTI.APC_CD 		= #{apcCd}
			  AND AOTI.SN 			= #{sn}
			  AND AOTI.OGNZ_SE_CD 	= #{ognzSeCd}
		]]>
	</delete>
	 -->
	<select id="selectApcList" parameterType="com.at.apcss.fm.fclt.vo.FcltApcVO" resultType="com.at.apcss.fm.fclt.vo.FcltApcVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>
		<!-- End 페이징 -->

		<![CDATA[
		SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.selectApcList */
			  AOPO.CRTR_YR
			, AOPO.APC_CD
			, AOPO.APC_NM

			, AOPO.CTPV_CD
			, FN_GET_COM_CD_VL_NM('UNTY_CTPV',AOPO.CTPV_CD) AS CTPV_NM
			, AOPO.SIGUN_CD
			, FN_GET_COM_CD_VL_NM('UNTY_SGG',AOPO.SIGUN_NM) AS SIGUN_NM

			,(SELECT ITEM_CD FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '1' AND OGNZ_SE_CD ='2'
			) AS ITEM_CD_1
			,(SELECT ITEM_CD FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '2' AND OGNZ_SE_CD ='2'
			) AS ITEM_CD_2
			,(SELECT ITEM_CD FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '3' AND OGNZ_SE_CD ='2'
			) AS ITEM_CD_3

			,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '1' AND OGNZ_SE_CD ='2'
			) AS ITEM_NM_1
			,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '2' AND OGNZ_SE_CD ='2'
			) AS ITEM_NM_2
			,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '3' AND OGNZ_SE_CD ='2'
			) AS ITEM_NM_3

			,(SELECT MAX(PIC_NM) FROM TB_COM_USER WHERE 'UO'||UNTY_OGNZ_CD = (SELECT MAX(UNTY_OGNZ_ID) FROM TB_UNTY_OGNZ_APC  WHERE APC_CD = AOPO.APC_CD AND APRV_YN = 'Y')) AS PIC_NM
			,(SELECT MAX(JBPS) FROM TB_COM_USER WHERE 'UO'||UNTY_OGNZ_CD = (SELECT MAX(UNTY_OGNZ_ID) FROM TB_UNTY_OGNZ_APC  WHERE APC_CD = AOPO.APC_CD AND APRV_YN = 'Y')) AS JBPS
			,(SELECT MAX(CO_TELNO) FROM TB_COM_USER WHERE 'UO'||UNTY_OGNZ_CD = (SELECT MAX(UNTY_OGNZ_ID) FROM TB_UNTY_OGNZ_APC  WHERE APC_CD = AOPO.APC_CD AND APRV_YN = 'Y')) AS CO_TELNO

		FROM TB_TE_APC_OPER_PRSN_OTLN AOPO
		WHERE 1=1
		  AND AOPO.DEL_YN = 'N'
		  AND AOPO.APC_CD IS NOT NULL
		]]>
		<if test='crtrYr != null and !crtrYr.equals("")'>
		  AND  AOPO.CRTR_YR = #{crtrYr}
		</if>
		<if test='apcCd != null and !apcCd.equals("")'>
		  AND  AOPO.APC_CD = #{apcCd}
		</if>
		<if test='ctpvCd != null and !ctpvCd.equals("")'>
		  AND  AOPO.CTPV_CD = #{ctpvCd}
		</if>
		<if test='sigunCd != null and !sigunCd.equals("")'>
		  AND  AOPO.SIGUN_CD = #{sigunCd}
		</if>

		<if test='apcNm != null and !apcNm.equals("")'>
		  AND  AOPO.APC_NM LIKE '%' || #{apcNm} || '%'
		</if>

		<if test='itemNm != null and !itemNm.equals("")'>
		  AND  AOPO.APC_CD IN (SELECT APC_CD
		  						FROM TB_TE_APC_OPER_TRMT_ITEM
		  						WHERE 1=1
		  						  AND OGNZ_SE_CD = '2'
		  						  AND SN IN ('1','2','3')
		  						  AND CRTR_YR = #{crtrYr}
		  						  AND ITEM_NM LIKE '%' || #{itemNm} || '%'
		  						GROUP BY APC_CD
		  						)
		</if>

		<if test='srchLclsfCd != null and !srchLclsfCd.equals("")'>
		  AND  AOPO.APC_CD IN (SELECT APC_CD
		  						FROM TB_TE_APC_OPER_TRMT_ITEM
		  						WHERE 1=1
		  						  AND OGNZ_SE_CD = '2'
		  						  AND SN IN ('1','2','3')
		  						  AND CRTR_YR = #{crtrYr}
		  						  AND ITEM_CD IN (SELECT ITEM_CD
		  						  					FROM TB_TE_APC_ITEM_CRTR
		  						  					WHERE 1=1
		  						  					  AND SRCH_LCLSF_CD = #{srchLclsfCd}
		  						  					)
		  						GROUP BY APC_CD
		  						)
		</if>
		<if test='userId != null and userId != ""'>
			<if test='userType == "27"'>
			  AND AOPO.CTPV_CD = (SELECT CTPV FROM TB_COM_USER WHERE USER_ID = #{userId})
			</if>
			<if test='userType == "28"'>
			  AND AOPO.SIGUN_CD = (SELECT SGG FROM TB_COM_USER WHERE USER_ID = #{userId})
			</if>
		</if>
		ORDER BY AOPO.APC_NM

		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
		<!-- End 페이징 -->
	</select>


	<select id="selectFcltOperInfoRawDataList" parameterType="com.at.apcss.fm.fclt.vo.FcltApcVO" resultType="com.at.apcss.fm.fclt.vo.FcltApcVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.selectFcltOperInfoRawDataList */
					  AOPO.OPER_OGNZ_NM
					, AOPO.CRTR_YR
					, AOPO.OPER_OGNZ_BRNO
					, AOPO.OPER_OGNZ_CRNO

					, AOPO.APC_CD
					, AOPO.APC_NM
					, AOPO.APC_BRNO

					, AOPO.RPRSV

					, (AOPO.LOCTN || ', ' || AOPO.LOCTN_DTL) AS LOCTN
					, AOPO.OPER_OGNZ_ZIP

					, (AOPO.APC_LOCTN || ', ' || AOPO.APC_LOCTN_DTL) AS APC_LOCTN
					, AOPO.APC_ZIP

					,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '1' AND OGNZ_SE_CD ='1'
					) AS ITEM_NM_1
					,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '2' AND OGNZ_SE_CD ='1'
					) AS ITEM_NM_2
					,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '3' AND OGNZ_SE_CD ='1'
					) AS ITEM_NM_3
					,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '4' AND OGNZ_SE_CD ='1'
					) AS ITEM_NM_4
					,(SELECT FN_GET_COM_CD_VL_NM('ETC_CLS',ETC_CTGRY_CD) FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '4' AND OGNZ_SE_CD ='1'
					) AS ETC_CTGRY_CD

					,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '1' AND OGNZ_SE_CD ='2'
					) AS APC_ITEM_NM_1
					,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '2' AND OGNZ_SE_CD ='2'
					) AS APC_ITEM_NM_2
					,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '3' AND OGNZ_SE_CD ='2'
					) AS APC_ITEM_NM_3
					,(SELECT ITEM_NM FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '4' AND OGNZ_SE_CD ='2'
					) AS APC_ITEM_NM_4
					,(SELECT FN_GET_COM_CD_VL_NM('ETC_CLS',ETC_CTGRY_CD) FROM TB_TE_APC_OPER_TRMT_ITEM WHERE APC_CD = AOPO.APC_CD AND CRTR_YR = AOPO.CRTR_YR AND SN = '4' AND OGNZ_SE_CD ='2'
					) AS APC_ETC_CTGRY_CD

			FROM TB_TE_APC_OPER_PRSN_OTLN AOPO
			WHERE 1=1
			  AND AOPO.DEL_YN = 'N'
			  AND AOPO.APC_CD IS NOT NULL
			]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND AOPO.CRTR_YR = #{crtrYr}
			</if>
			<if test='userId != null and userId != ""'>
				<if test='userType == "27"'>
				  AND AOPO.CTPV_CD = (SELECT CTPV FROM TB_COM_USER WHERE USER_ID = #{userId})
				</if>
				<if test='userType == "28"'>
				  AND AOPO.SIGUN_CD = (SELECT SGG FROM TB_COM_USER WHERE USER_ID = #{userId})
				</if>
			</if>
	</select>
	<select id="selectUserApcList" parameterType="com.at.apcss.fm.fclt.vo.FcltApcVO" resultType="com.at.apcss.fm.fclt.vo.FcltApcVO">
		SELECT * FROM (

			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.selectUserApcList */
				TAI.APC_CD
				,TAI.APC_NM
			FROM TB_APC_INFO TAI
			WHERE TAI.DEL_YN = 'N'
			<if test='userId != null and userId != "" and userId != "admin"'>
				<if test='userType == "27"'>
				AND TAI.CTPV = (SELECT CTPV FROM TB_COM_USER WHERE USER_ID = #{userId})
				</if>
				<if test='userType == "28"'>
				AND TAI.SGG = (SELECT SGG FROM TB_COM_USER WHERE USER_ID = #{userId})
				</if>
				<if test='userType != "27" and userType != "28"'>
				AND TAI.APC_CD IN (SELECT APC_CD
									FROM TB_UNTY_OGNZ_APC
									WHERE 1=1
									  AND APRV_YN = 'Y'
									  AND UNTY_OGNZ_ID = 'UO' || (SELECT UNTY_OGNZ_CD FROM TB_COM_USER WHERE USER_ID = #{userId}))
				</if>
			</if>
			ORDER BY APC_NM ASC

		<![CDATA[
		)WHERE ROWNUM <= 2
		]]>
	</select>

	<select id="selectUserInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltOperInfoVO">
		SELECT /* com.at.apcss.fm.fclt.mapper.FcltOperInfoMapper.selectUserInfo */
			CO_NM			 AS OPER_OGNZ_NM
			,RPRSV_KORN_NM	 AS RPRSV
			,BRNO			 AS OPER_OGNZ_BRNO
			,CRNO			 AS OPER_OGNZ_CRNO
		FROM TB_COM_USER
		WHERE 1=1
		  AND USER_ID = #{userId}
	</select>
</mapper>