<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltLwtpStrgMchnInfoMapper.xml                                    				-->
<!-- DESC : 저온저장고운영 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.selectFcltLwtpStrgMchnInfo				-->
	<!-- DESC : 저온저장고운영 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltLwtpStrgMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.selectFcltLwtpStrgMchnInfo */
				OASP.CRTR_YR
				, OASP.APC_CD
				, OASP.APC_NM
				, OASP.STRG_PLC_ITEM_CD
				, OASP.STRG_PLC_ITEM_NM
				, OASP.LWTP_STRG_PLC_HLD_MTHD
				, OASP.LWTP_STRG_PLC_HLD_YN
				, OASP.STRG_PLC_STRG_ABLT
				, OASP.STRG_PLC_STRM_STRG_ABLT
				, OASP.STRG_PLC_LTRM_STRG_ABLT
				, OASP.STRG_PLC_OPRTNG_RT

				, MOP.OPER_YN
				, MOP.OPER_PERIOD_YN_1
				, MOP.OPER_PERIOD_YN_2
				, MOP.OPER_PERIOD_YN_3
				, MOP.OPER_PERIOD_YN_4
				, MOP.OPER_PERIOD_YN_5
				, MOP.OPER_PERIOD_YN_6
				, MOP.OPER_PERIOD_YN_7
				, MOP.OPER_PERIOD_YN_8
				, MOP.OPER_PERIOD_YN_9
				, MOP.OPER_PERIOD_YN_10
				, MOP.OPER_PERIOD_YN_11
				, MOP.OPER_PERIOD_YN_12

			FROM TB_TE_APC_OPER_ABLT_STRG_PLC OASP
				,(SELECT *
					FROM TB_TE_APC_MCHN_OPER_PERIOD
					WHERE 1=1
					  AND SN = 0
					  AND MCHN_SE_CD = '2'
				) MOP
			WHERE 1=1
			  AND DEL_YN != 'Y'
			  AND APC_CD IS NOT NULL
			  AND OASP.APC_CD = MOP.APC_CD(+)
			  AND OASP.CRTR_YR = MOP.CRTR_YR(+)
					]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND OASP.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND OASP.APC_CD = #{apcCd}
			</if>
	</select>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.selectFcltLwtpStrgMchnInfoList			-->
	<!-- DESC : 저온저장고운영 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectFcltLwtpStrgMchnInfoList" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>
		<!-- End 페이징 -->

		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.selectFcltLwtpStrgMchnInfoList */
				OASP.CRTR_YR
				, OASP.APC_CD
				, OASP.APC_NM
				, OASP.STRG_PLC_ITEM_CD
				, OASP.STRG_PLC_ITEM_NM
				, OASP.LWTP_STRG_PLC_HLD_MTHD
				, OASP.LWTP_STRG_PLC_HLD_YN
				, OASP.STRG_PLC_STRG_ABLT
				, OASP.STRG_PLC_STRM_STRG_ABLT
				, OASP.STRG_PLC_LTRM_STRG_ABLT
				, OASP.STRG_PLC_OPRTNG_RT

				, MOP.OPER_YN
				, MOP.OPER_PERIOD_YN_1
				, MOP.OPER_PERIOD_YN_2
				, MOP.OPER_PERIOD_YN_3
				, MOP.OPER_PERIOD_YN_4
				, MOP.OPER_PERIOD_YN_5
				, MOP.OPER_PERIOD_YN_6
				, MOP.OPER_PERIOD_YN_7
				, MOP.OPER_PERIOD_YN_8
				, MOP.OPER_PERIOD_YN_9
				, MOP.OPER_PERIOD_YN_10
				, MOP.OPER_PERIOD_YN_11
				, MOP.OPER_PERIOD_YN_12

			FROM TB_TE_APC_OPER_ABLT_STRG_PLC OASP
				,(SELECT *
					FROM TB_TE_APC_MCHN_OPER_PERIOD
					WHERE 1=1
					  AND SN = 0
					  AND MCHN_SE_CD = '2'
				) MOP
			WHERE 1=1
			  AND OASP.DEL_YN != 'Y'
			  AND OASP.APC_CD IS NOT NULL
			  AND OASP.APC_CD = MOP.APC_CD(+)
			  AND OASP.CRTR_YR = MOP.CRTR_YR(+)
					]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND OASP.CRTR_YR = #{crtrYr}
			</if>
			<if test='apcCd != null and !apcCd.equals("")'>
			  AND OASP.APC_CD = #{apcCd}
			</if>

		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
		<!-- End 페이징 -->
	</select>

	<update id="insertFcltLwtpStrgMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
		MERGE INTO TB_TE_APC_OPER_ABLT_STRG_PLC OASP /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.insertFcltLwtpStrgMchnInfo */
		USING DUAL
		ON (
			OASP.CRTR_YR = #{crtrYr}
			AND OASP.APC_CD = #{apcCd}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  LWTP_STRG_PLC_HLD_MTHD 	= #{lwtpStrgPlcHldMthd}
				  , STRG_PLC_STRG_ABLT 		= #{strgPlcStrgAblt}
				  , STRG_PLC_STRM_STRG_ABLT = #{strgPlcStrmStrgAblt}
				  , STRG_PLC_LTRM_STRG_ABLT = #{strgPlcLtrmStrgAblt}
				  , STRG_PLC_OPRTNG_RT 		= #{strgPlcOprtngRt}

				  , LWTP_STRG_PLC_HLD_YN 	= #{lwtpStrgPlcHldYn}

				  , SYS_LAST_CHG_DT			= SYSDATE
				  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  CRTR_YR
				  , APC_CD
				  , APC_NM
				  , LWTP_STRG_PLC_HLD_MTHD
				  , STRG_PLC_STRG_ABLT
				  , STRG_PLC_STRM_STRG_ABLT
				  , STRG_PLC_LTRM_STRG_ABLT
				  , STRG_PLC_OPRTNG_RT

				  , LWTP_STRG_PLC_HLD_YN

				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{apcCd}
				  , (SELECT APC_NM FROM TB_TE_APC_OPER_PRSN_OTLN WHERE APC_CD = #{apcCd} AND CRTR_YR = #{crtrYr})

				  , #{lwtpStrgPlcHldMthd}
				  , #{strgPlcStrgAblt}
				  , #{strgPlcStrmStrgAblt}
				  , #{strgPlcLtrmStrgAblt}
				  , #{strgPlcOprtngRt}

				  , #{lwtpStrgPlcHldYn}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.updateFcltLwtpStrgMchnInfo				-->
	<!-- DESC : 저온저장고운영 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateFcltLwtpStrgMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.updateFcltLwtpStrgMchnInfo */
				TB_TE_APC_OPER_ABLT_STRG_PLC OASP
			   SET
				  LWTP_STRG_PLC_HLD_MTHD 	= #{lwtpStrgPlcHldMthd}
				  , STRG_PLC_STRG_ABLT 		= #{strgPlcStrgAblt}
				  , STRG_PLC_STRM_STRG_ABLT = #{strgPlcStrmStrgAblt}
				  , STRG_PLC_LTRM_STRG_ABLT = #{strgPlcLtrmStrgAblt}
				  , STRG_PLC_OPRTNG_RT 		= #{strgPlcOprtngRt}

				  , LWTP_STRG_PLC_HLD_YN 	= #{lwtpStrgPlcHldYn}

		]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
		<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND APC_CD = #{apcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.deleteFcltLwtpStrgMchnInfo				-->
	<!-- DESC : 저온저장고운영 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="deleteFcltLwtpStrgMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
		<![CDATA[
			UPDATE /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.deleteFcltLwtpStrgMchnInfo */
				TB_TE_APC_OPER_ABLT_STRG_PLC OASP
			   SET
				  DEL_YN 	= 'Y'
			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND  APC_CD = #{apcCd}
		]]>
	</update>
	<!--
	<delete id="deleteFcltLwtpStrgMchnInfo" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
		<![CDATA[
			DELETE /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.deleteFcltLwtpStrgMchnInfo */
				TB_TE_APC_OPER_ABLT_STRG_PLC OASP
			WHERE 1=1
			  AND CRTR_YR = #{crtrYr}
			  AND APC_CD = #{apcCd}
		]]>
	</delete>
-->

	<!-- 저온저장고 운영기간 -->
	<update id="insertFcltLwtpStrgMchnInfoPeriod" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
		MERGE INTO TB_TE_APC_MCHN_OPER_PERIOD AMOP /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.insertFcltLwtpStrgMchnInfoPeriod */
		USING DUAL
		ON (
			AMOP.CRTR_YR = #{crtrYr}
			AND AMOP.APC_CD = #{apcCd}
			AND AMOP.SN = '0'
			AND AMOP.MCHN_SE_CD = '2'
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  OPER_YN				= #{operYn}
				  , OPER_PERIOD_YN_1	= #{operPeriodYn1}
				  , OPER_PERIOD_YN_2	= #{operPeriodYn2}
				  , OPER_PERIOD_YN_3	= #{operPeriodYn3}
				  , OPER_PERIOD_YN_4	= #{operPeriodYn4}
				  , OPER_PERIOD_YN_5	= #{operPeriodYn5}
				  , OPER_PERIOD_YN_6	= #{operPeriodYn6}
				  , OPER_PERIOD_YN_7	= #{operPeriodYn7}
				  , OPER_PERIOD_YN_8	= #{operPeriodYn8}
				  , OPER_PERIOD_YN_9	= #{operPeriodYn9}
				  , OPER_PERIOD_YN_10	= #{operPeriodYn10}
				  , OPER_PERIOD_YN_11	= #{operPeriodYn11}
				  , OPER_PERIOD_YN_12	= #{operPeriodYn12}

				  , SYS_LAST_CHG_DT			= SYSDATE
				  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				CRTR_YR
				, APC_CD
				, SN
				, MCHN_SE_CD
				, OPER_YN
				, OPER_PERIOD_YN_1
				, OPER_PERIOD_YN_2
				, OPER_PERIOD_YN_3
				, OPER_PERIOD_YN_4
				, OPER_PERIOD_YN_5
				, OPER_PERIOD_YN_6
				, OPER_PERIOD_YN_7
				, OPER_PERIOD_YN_8
				, OPER_PERIOD_YN_9
				, OPER_PERIOD_YN_10
				, OPER_PERIOD_YN_11
				, OPER_PERIOD_YN_12

				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_USER_ID
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_USER_ID
				, SYS_LAST_CHG_PRGRM_ID
				)
		VALUES
				(
				  #{crtrYr}
				  , #{apcCd}
				  , '0'
				  , '2'
				  , #{operYn}
				  , #{operPeriodYn1}
				  , #{operPeriodYn2}
				  , #{operPeriodYn3}
				  , #{operPeriodYn4}
				  , #{operPeriodYn5}
				  , #{operPeriodYn6}
				  , #{operPeriodYn7}
				  , #{operPeriodYn8}
				  , #{operPeriodYn9}
				  , #{operPeriodYn10}
				  , #{operPeriodYn11}
				  , #{operPeriodYn12}

				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
	</update>

	<select id="selectFcltLwtpStrgMchnInfoRawDataList" parameterType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO" resultType="com.at.apcss.fm.fclt.vo.FcltLwtpStrgMchnInfoVO">
		<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltLwtpStrgMchnInfoMapper.selectFcltLwtpStrgMchnInfoRawDataList */
				OASP.CRTR_YR
				, OASP.APC_CD
				,(SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = OASP.APC_CD) AS APC_NM
				, OASP.STRG_PLC_ITEM_CD
				, OASP.STRG_PLC_ITEM_NM
				, OASP.LWTP_STRG_PLC_HLD_MTHD
				, DECODE(OASP.LWTP_STRG_PLC_HLD_YN , 'Y' , '보유' , 'N' , '미보유' , '') AS LWTP_STRG_PLC_HLD_YN
				, OASP.STRG_PLC_STRG_ABLT
				, OASP.STRG_PLC_STRM_STRG_ABLT
				, OASP.STRG_PLC_LTRM_STRG_ABLT
				, OASP.STRG_PLC_OPRTNG_RT

				, DECODE(MOP.OPER_YN , 'Y' , '운영함' , 'N' , '운영안함' , '') AS OPER_YN
				, MOP.OPER_PERIOD_YN_1
				, MOP.OPER_PERIOD_YN_2
				, MOP.OPER_PERIOD_YN_3
				, MOP.OPER_PERIOD_YN_4
				, MOP.OPER_PERIOD_YN_5
				, MOP.OPER_PERIOD_YN_6
				, MOP.OPER_PERIOD_YN_7
				, MOP.OPER_PERIOD_YN_8
				, MOP.OPER_PERIOD_YN_9
				, MOP.OPER_PERIOD_YN_10
				, MOP.OPER_PERIOD_YN_11
				, MOP.OPER_PERIOD_YN_12

			FROM TB_TE_APC_OPER_ABLT_STRG_PLC OASP
				,(SELECT *
					FROM TB_TE_APC_MCHN_OPER_PERIOD
					WHERE 1=1
					  AND SN = 0
					  AND MCHN_SE_CD = '2'
				) MOP
			WHERE 1=1
			  AND OASP.DEL_YN != 'Y'
			  AND OASP.APC_CD IS NOT NULL
			  AND OASP.APC_CD = MOP.APC_CD(+)
			  AND OASP.CRTR_YR = MOP.CRTR_YR(+)
		]]>
			<if test='crtrYr != null and !crtrYr.equals("")'>
			  AND OASP.CRTR_YR = #{crtrYr}
			</if>
			<if test='userId != null and userId != ""'>
				<if test='userType == "27" or userType == "28"'>
				AND OASP.APC_CD IN (SELECT APC_CD
								FROM TB_APC_INFO
								WHERE 1=1
								<if test='userType == "27"'>
								  AND CTPV = (SELECT CTPV FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								<if test='userType == "28"'>
								  AND SGG = (SELECT SGG FROM TB_COM_USER WHERE USER_ID = #{userId})
								</if>
								)
				</if>
			</if>
			ORDER BY APC_NM
	</select>
</mapper>