<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltPrcsPrfmncMapper.xml                                    				-->
<!-- DESC : FcltPrcsNtslInfo 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.selectFcltPrcsPrfmnc				-->
	<!-- DESC : FcltPrcsNtslInfo 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.selectFcltPrcsPrfmnc */
				  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.APC_CD                 AS APC_CD
				,  (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS 	APC_NM
				, FCLT.FCLT_PRCS_SE_CD        AS FCLT_PRCS_SE_CD
				, FCLT.FCLT_PRCS_TRMT_CD      AS FCLT_PRCS_TRMT_CD
				, FCLT.FCLT_PRCS_TRMT_AMT     AS FCLT_PRCS_TRMT_AMT
                , FCLT.FCLT_PRCS_TRMT_AMT2 	AS FCLT_PRCS_TRMT_AMT2
                , FCLT.FCLT_PRCS_TRMT_AMT3 	AS FCLT_PRCS_TRMT_AMT3
                , FCLT.FCLT_PRCS_TRMT_AMT4 	AS FCLT_PRCS_TRMT_AMT4

			  FROM TB_FCLT_PRCS_PRFMNC FCLT
			 WHERE 1=1
			 AND DEL_YN != 'Y'
			 AND APC_CD IS NOT NULL
		]]>
        <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.selectFcltPrcsPrfmncList			-->
	<!-- DESC : FcltPrcsNtslInfo 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltPrcsPrfmncList" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.selectFcltPrcsPrfmncList */
				  FCLT.TRGT_YR                AS TRGT_YR
				, FCLT.APC_CD                 AS APC_CD
				,  (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS 	APC_NM
				, FCLT.FCLT_PRCS_SE_CD        AS FCLT_PRCS_SE_CD
				, FCLT.FCLT_PRCS_TRMT_CD      AS FCLT_PRCS_TRMT_CD
				, FCLT.FCLT_PRCS_TRMT_AMT     AS FCLT_PRCS_TRMT_AMT
                , FCLT.FCLT_PRCS_TRMT_AMT2 	AS FCLT_PRCS_TRMT_AMT2
                , FCLT.FCLT_PRCS_TRMT_AMT3 	AS FCLT_PRCS_TRMT_AMT3
                , FCLT.FCLT_PRCS_TRMT_AMT4 	AS FCLT_PRCS_TRMT_AMT4
			  FROM TB_FCLT_PRCS_PRFMNC FCLT
			 WHERE 1=1
			 AND DEL_YN != 'Y'
			 AND APC_CD IS NOT NULL
  		]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.insertFcltPrcsPrfmnc				-->
	<!-- DESC : FcltPrcsNtslInfo 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<!--
    <insert id="insertFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.insertFcltPrcsPrfmnc */
	    	  INTO TB_FCLT_PRCS_PRFMNC FCLT
	    		(
	    			TRGT_YR
	    		  , APC_CD
	    		  , FCLT_PRCS_SE_CD
	    		  , FCLT_PRCS_TRMT_CD
	    		  , FCLT_PRCS_TRMT_AMT
		    	  ,	FCLT_PRCS_TRMT_AMT2
		    	  ,	FCLT_PRCS_TRMT_AMT3
		    	  ,	FCLT_PRCS_TRMT_AMT4
		    	  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	              , SYS_LAST_CHG_DT
	              , SYS_LAST_CHG_USER_ID
	              , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    #{trgtYr}
	   			  , #{apcCd}
	   			  , #{fcltPrcsSeCd}
	   			  , #{fcltPrcsTrmtCd}
	   			  , #{fcltPrcsTrmtAmt}
	   			  ,	#{fcltPrcsTrmtAmt2}
		    	  , #{fcltPrcsTrmtAmt3}
		    	  , #{fcltPrcsTrmtAmt4}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>
     -->

     <update id="insertFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
     	MERGE INTO TB_FCLT_PRCS_PRFMNC FCLT /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.insertFcltPrcsPrfmnc */
		USING DUAL
		ON (
			FCLT.TRGT_YR = #{trgtYr}
			AND FCLT.APC_CD = #{apcCd}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  FCLT_PRCS_SE_CD     = #{fcltPrcsSeCd}
			 	, FCLT_PRCS_TRMT_CD   = #{fcltPrcsTrmtCd}
			 	, FCLT_PRCS_TRMT_AMT  = #{fcltPrcsTrmtAmt}
		    	, FCLT_PRCS_TRMT_AMT2 = #{fcltPrcsTrmtAmt2}
		    	, FCLT_PRCS_TRMT_AMT3 = #{fcltPrcsTrmtAmt3}
		    	, FCLT_PRCS_TRMT_AMT4 = #{fcltPrcsTrmtAmt4}
				  , SYS_LAST_CHG_DT		= SYSDATE
	    		  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  TRGT_YR
	    		  , APC_CD
	    		  , FCLT_PRCS_SE_CD
	    		  , FCLT_PRCS_TRMT_CD
	    		  , FCLT_PRCS_TRMT_AMT
		    	  ,	FCLT_PRCS_TRMT_AMT2
		    	  ,	FCLT_PRCS_TRMT_AMT3
		    	  ,	FCLT_PRCS_TRMT_AMT4
		    	  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	              , SYS_LAST_CHG_DT
	              , SYS_LAST_CHG_USER_ID
	              , SYS_LAST_CHG_PRGRM_ID
	    		)
	   	VALUES
	   		    (
	   			  #{trgtYr}
	   			  , #{apcCd}
	   			  , #{fcltPrcsSeCd}
	   			  , #{fcltPrcsTrmtCd}
	   			  , #{fcltPrcsTrmtAmt}
	   			  ,	#{fcltPrcsTrmtAmt2}
		    	  , #{fcltPrcsTrmtAmt3}
		    	  , #{fcltPrcsTrmtAmt4}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
		     	)
     </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.updateFcltPrcsPrfmnc				-->
	<!-- DESC : FcltPrcsNtslInfo 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.updateFcltPrcsPrfmnc */
	    		TB_FCLT_PRCS_PRFMNC FCLT
			   SET
			 	FCLT_PRCS_SE_CD     = #{fcltPrcsSeCd}
			 	, FCLT_PRCS_TRMT_CD   = #{fcltPrcsTrmtCd}
			 	, FCLT_PRCS_TRMT_AMT  = #{fcltPrcsTrmtAmt}
		    	, FCLT_PRCS_TRMT_AMT2 = #{fcltPrcsTrmtAmt2}
		    	, FCLT_PRCS_TRMT_AMT3 = #{fcltPrcsTrmtAmt3}
		    	, FCLT_PRCS_TRMT_AMT4 = #{fcltPrcsTrmtAmt4}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.deleteFcltPrcsPrfmnc				-->
	<!-- DESC : FcltPrcsNtslInfo 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="deleteFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.deleteFcltPrcsPrfmnc */
	    		TB_FCLT_PRCS_PRFMNC FCLT
			   SET
	    		  DEL_YN 	= 'Y'
			WHERE 1=1
		      AND TRGT_YR = #{trgtYr}
		      AND  APC_CD = #{apcCd}
    	]]>
    </update>
    <!--
    <delete id="deleteFcltPrcsPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltPrcsPrfmncVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltPrcsPrfmncMapper.deleteFcltPrcsPrfmnc */
	    		TB_FCLT_PRCS_PRFMNC FCLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>
 -->
</mapper>