<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : FcltOgnzItemPrfmncMapper.xml                                    				-->
<!-- DESC : 유통조직품목처리실적 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.selectFcltOgnzItemPrfmnc				-->
	<!-- DESC : 유통조직품목처리실적 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltOgnzItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzItemPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltOgnzItemPrfmncVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.selectFcltOgnzItemPrfmnc */
				  FCLT.TRGT_YR                 AS TRGT_YR
				, FCLT.APC_CD                  AS APC_CD
				, (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS APC_NM
				, FCLT.FCLT_OGNZ_TRMT_AMT      AS FCLT_OGNZ_TRMT_AMT
				, FCLT.FCLT_OGNZ_TRMT_VLM      AS FCLT_OGNZ_TRMT_VLM
				, FCLT.FCLT_OGNZ_TRMT_AMT2  AS FCLT_OGNZ_TRMT_AMT2
				, FCLT.FCLT_OGNZ_TRMT_AMT3  AS FCLT_OGNZ_TRMT_AMT3
				, FCLT.FCLT_OGNZ_TRMT_AMT4  AS FCLT_OGNZ_TRMT_AMT4
				, FCLT.FCLT_OGNZ_TRMT_VLM2  AS FCLT_OGNZ_TRMT_VLM2
				, FCLT.FCLT_OGNZ_TRMT_VLM3  AS FCLT_OGNZ_TRMT_VLM3
				, FCLT.FCLT_OGNZ_TRMT_VLM4  AS FCLT_OGNZ_TRMT_VLM4

			  FROM TB_FCLT_OGNZ_ITEM_PRFMNC FCLT
 			 WHERE 1=1
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.selectFcltOgnzItemPrfmncList			-->
	<!-- DESC : 유통조직품목처리실적 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltOgnzItemPrfmncList" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzItemPrfmncVO" resultType="com.at.apcss.fm.fclt.vo.FcltOgnzItemPrfmncVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.selectFcltOgnzItemPrfmncList */
				  FCLT.TRGT_YR                 AS TRGT_YR
				, FCLT.APC_CD                  AS APC_CD
				, (SELECT APC_NM FROM TB_APC_INFO WHERE APC_CD = FCLT.APC_CD) AS APC_NM
				, FCLT.FCLT_OGNZ_TRMT_AMT      AS FCLT_OGNZ_TRMT_AMT
				, FCLT.FCLT_OGNZ_TRMT_VLM      AS FCLT_OGNZ_TRMT_VLM
				, FCLT.FCLT_OGNZ_TRMT_AMT2  AS FCLT_OGNZ_TRMT_AMT2
				, FCLT.FCLT_OGNZ_TRMT_AMT3  AS FCLT_OGNZ_TRMT_AMT3
				, FCLT.FCLT_OGNZ_TRMT_AMT4  AS FCLT_OGNZ_TRMT_AMT4
				, FCLT.FCLT_OGNZ_TRMT_VLM2  AS FCLT_OGNZ_TRMT_VLM2
				, FCLT.FCLT_OGNZ_TRMT_VLM3  AS FCLT_OGNZ_TRMT_VLM3
				, FCLT.FCLT_OGNZ_TRMT_VLM4  AS FCLT_OGNZ_TRMT_VLM4

			  FROM TB_FCLT_OGNZ_ITEM_PRFMNC FCLT
 			 WHERE 1=1
  ]]>
          <if test='trgtYr != null and !trgtYr.equals("")'>
		     AND  FCLT.TRGT_YR = #{trgtYr}
		   </if>
		   <if test='apcCd != null and !apcCd.equals("")'>
		     AND  FCLT.APC_CD = #{apcCd}
		   </if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.insertFcltOgnzItemPrfmnc				-->
	<!-- DESC : 유통조직품목처리실적 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<!--

    <insert id="insertFcltOgnzItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzItemPrfmncVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.insertFcltOgnzItemPrfmnc */
	    	  INTO TB_FCLT_OGNZ_ITEM_PRFMNC FCLT
	    		(
	    			TRGT_YR
	    		  , APC_CD
	    		  , FCLT_OGNZ_TRMT_AMT
	    		  , FCLT_OGNZ_TRMT_AMT2
				  , FCLT_OGNZ_TRMT_AMT3
				  , FCLT_OGNZ_TRMT_AMT4
	    		  , FCLT_OGNZ_TRMT_VLM
				  , FCLT_OGNZ_TRMT_VLM2
				  , FCLT_OGNZ_TRMT_VLM3
				  , FCLT_OGNZ_TRMT_VLM4
				  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    #{trgtYr}
	   			  , #{apcCd}
	   			  , #{fcltOgnzTrmtAmt}
          	   	  , #{fcltOgnzTrmtAmt2}
          		  , #{fcltOgnzTrmtAmt3}
          		  , #{fcltOgnzTrmtAmt4}
	   			  , #{fcltOgnzTrmtVlm}
          		  , #{fcltOgnzTrmtVlm2}
          		  , #{fcltOgnzTrmtVlm3}
          		  , #{fcltOgnzTrmtVlm4}
          		  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
                  , SYSDATE
                  , #{sysLastChgUserId}
                  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>
     -->

     <update id="insertFcltOgnzItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzItemPrfmncVO">
     	MERGE INTO TB_FCLT_OGNZ_ITEM_PRFMNC FCLT /* com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.insertFcltOgnzItemPrfmnc */
		USING DUAL
		ON (
			FCLT.TRGT_YR = #{trgtYr}
			AND FCLT.APC_CD = #{apcCd}
			)
		WHEN MATCHED THEN
		  UPDATE SET
				  FCLT_OGNZ_TRMT_AMT  = #{fcltOgnzTrmtAmt}
    	        , FCLT_OGNZ_TRMT_AMT2  = #{fcltOgnzTrmtAmt2}
    	        , FCLT_OGNZ_TRMT_AMT3  = #{fcltOgnzTrmtAmt3}
    	        , FCLT_OGNZ_TRMT_AMT4  = #{fcltOgnzTrmtAmt4}
			    , FCLT_OGNZ_TRMT_VLM  = #{fcltOgnzTrmtVlm}
    	        , FCLT_OGNZ_TRMT_VLM2  = #{fcltOgnzTrmtVlm2}
    	        , FCLT_OGNZ_TRMT_VLM3  = #{fcltOgnzTrmtVlm3}
    	        , FCLT_OGNZ_TRMT_VLM4  = #{fcltOgnzTrmtVlm4}
				  , SYS_LAST_CHG_DT		= SYSDATE
	    		  , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		  , SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		WHEN NOT MATCHED THEN
		  INSERT (
				  TRGT_YR
	    		  , APC_CD
	    		  , FCLT_OGNZ_TRMT_AMT
	    		  , FCLT_OGNZ_TRMT_AMT2
				  , FCLT_OGNZ_TRMT_AMT3
				  , FCLT_OGNZ_TRMT_AMT4
	    		  , FCLT_OGNZ_TRMT_VLM
				  , FCLT_OGNZ_TRMT_VLM2
				  , FCLT_OGNZ_TRMT_VLM3
				  , FCLT_OGNZ_TRMT_VLM4
				  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   	VALUES
	   		    (
	   			  #{trgtYr}
	   			  , #{apcCd}
	   			  , #{fcltOgnzTrmtAmt}
          	   	  , #{fcltOgnzTrmtAmt2}
          		  , #{fcltOgnzTrmtAmt3}
          		  , #{fcltOgnzTrmtAmt4}
	   			  , #{fcltOgnzTrmtVlm}
          		  , #{fcltOgnzTrmtVlm2}
          		  , #{fcltOgnzTrmtVlm3}
          		  , #{fcltOgnzTrmtVlm4}
          		  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
                  , SYSDATE
                  , #{sysLastChgUserId}
                  , #{sysLastChgPrgrmId}
		     	)
     </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.updateFcltOgnzItemPrfmnc				-->
	<!-- DESC : 유통조직품목처리실적 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateFcltOgnzItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzItemPrfmncVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.updateFcltOgnzItemPrfmnc */
	    		TB_FCLT_OGNZ_ITEM_PRFMNC FCLT
			   SET
			 	FCLT_OGNZ_TRMT_AMT  = #{fcltOgnzTrmtAmt}
    	        , FCLT_OGNZ_TRMT_AMT2  = #{fcltOgnzTrmtAmt2}
    	        , FCLT_OGNZ_TRMT_AMT3  = #{fcltOgnzTrmtAmt3}
    	        , FCLT_OGNZ_TRMT_AMT4  = #{fcltOgnzTrmtAmt4}
			    , FCLT_OGNZ_TRMT_VLM  = #{fcltOgnzTrmtVlm}
    	        , FCLT_OGNZ_TRMT_VLM2  = #{fcltOgnzTrmtVlm2}
    	        , FCLT_OGNZ_TRMT_VLM3  = #{fcltOgnzTrmtVlm3}
    	        , FCLT_OGNZ_TRMT_VLM4  = #{fcltOgnzTrmtVlm4}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.deleteFcltOgnzItemPrfmnc				-->
	<!-- DESC : 유통조직품목처리실적 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteFcltOgnzItemPrfmnc" parameterType="com.at.apcss.fm.fclt.vo.FcltOgnzItemPrfmncVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.fclt.mapper.FcltOgnzItemPrfmncMapper.deleteFcltOgnzItemPrfmnc */
	    		TB_FCLT_OGNZ_ITEM_PRFMNC FCLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>