<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.bbs.mapper.BbsMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectBbs" parameterType="com.at.apcss.fm.bbs.vo.BbsVO" resultType="com.at.apcss.fm.bbs.vo.BbsVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs */
				  CM.BBS_NO	AS BBS_NO
				, CM.BBS_TTL		AS BBS_TTL
				, CM.BBS_SE_CD	AS BBS_SE_CD
				, CM.BBS_SBJT		AS BBS_SBJT
				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
				, (SELECT COUNT(*) FROM TB_APC_ATTACH WHERE ATCHFL_PRNTSNO = CM.BBS_NO) AS ATT_CNT
			  FROM TB_BBS CM
			 WHERE 1=1
			 AND CM.BBS_NO = #{bbsNo}
			 ORDER BY CM.SYS_LAST_CHG_DT DESC
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectBbsList" parameterType="com.at.apcss.fm.bbs.vo.BbsVO" resultType="com.at.apcss.fm.bbs.vo.BbsVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList */
				  CM.BBS_NO	AS BBS_NO
				, CM.BBS_TTL		AS BBS_TTL
				, CM.BBS_SE_CD	AS BBS_SE_CD
				, (SELECT FN_GET_COM_CD_VL_NM('BBS_SE_CD', CM.BBS_SE_CD) FROM DUAL) AS BBS_SE_CD_NM
				, CM.BBS_SBJT		AS BBS_SBJT
				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
				, (SELECT COUNT(*) FROM TB_APC_ATTACH WHERE ATCHFL_PRNTSNO = CM.BBS_NO) AS ATT_CNT
			  FROM TB_BBS CM
    	]]>
    	<where>
			<if test='bbsNo != null and bbsNo != ""'>
				AND CM.BBS_NO LIKE #{bbsNo} || '%'
			</if>

			<if test='bbsTtl != null and bbsTtl != ""'>
				AND CM.BBS_TTL LIKE '%' || #{bbsTtl} || '%'
			</if>

			<if test='bbsSeCd != null and bbsSeCd != ""'>
				AND CM.BBS_SE_CD = #{bbsSeCd}
			</if>

			<if test='delYn != null and delYn != ""'>
				AND CM.DEL_YN = #{delYn}
			</if>
		</where>
		<!-- Start 페이징 -->
		ORDER BY CM.SYS_LAST_CHG_DT DESC
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>

    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.insertBbs				-->
	<!-- DESC : 게시판 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertBbs" parameterType="com.at.apcss.fm.bbs.vo.BbsVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.bbs.mapper.BbsMngMapper.insertBbs */
	    	  INTO TB_BBS
	    		(
	    			BBS_NO
	    		  , BBS_TTL
	    		  , BBS_SE_CD
	    		  , BBS_SBJT
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    (SELECT NVL(MAX(BBS_NO),0)+1 FROM TB_BBS)
	   			  , #{bbsTtl}
	   			  , #{bbsSeCd}
	   			  , #{bbsSbjt}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.updateBbs				-->
	<!-- DESC : 게시판 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateBbs" parameterType="com.at.apcss.fm.bbs.vo.BbsVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.bbs.mapper.BbsMngMapper.updateBbs */
	    		TB_BBS
			   SET
			 	  BBS_TTL	= #{bbsTtl}
			 	, BBS_SE_CD 	= #{bbsSeCd}
			 	, BBS_SBJT 		= #{bbsSbjt}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND BBS_NO	= #{bbsNo}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.deleteBbs				-->
	<!-- DESC : 게시판 삭제                                            				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteBbs" parameterType="com.at.apcss.fm.bbs.vo.BbsVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.bbs.mapper.BbsMngMapper.deleteBbs */
	    		TB_BBS
			 WHERE 1=1
			   AND BBS_NO	= #{bbsNo}
    	]]>
    </delete>

    	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsAttachesList			-->
	<!-- DESC : 첨부파일 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectBbsAttaches" parameterType="com.at.apcss.fm.bbs.vo.BbsFileVO" resultType="com.at.apcss.fm.bbs.vo.BbsFileVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsAttaches */
				ATCHFLNO
				,ATCHFL_NM
				,ATCHFL_ORGN_NM
				,ATCHFL_SZ
				,ATCHFL_EXTN_TYPE
				,ATCHFL_PATH
				FROM USRAM.TB_APC_ATTACH
    	]]>
    	<where>
    			AND DEL_YN = 'N'
			<if test='atchflno != null and atchflno != ""'>
				AND ATCHFLNO = #{atchflno}
			</if>
		</where>
    </select>

    	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsAttachesList			-->
	<!-- DESC : 첨부파일 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectBbsAttachesList" parameterType="com.at.apcss.fm.bbs.vo.BbsVO" resultType="com.at.apcss.fm.bbs.vo.BbsFileVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsAttachesList */
				ATCHFLNO
				,ATCHFL_NM
				,ATCHFL_ORGN_NM
				,ATCHFL_SZ
				,ATCHFL_EXTN_TYPE
				,ATCHFL_PATH
				FROM USRAM.TB_APC_ATTACH
    	]]>
    	<where>
    			AND DEL_YN = 'N'
			<if test='bbsNo != null and bbsNo != ""'>
				AND ATCHFL_PRNTSNO LIKE #{bbsNo} || '%'
			</if>
		</where>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.insertAttach				-->
	<!-- DESC : 첨부파일 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertAttach" parameterType="com.at.apcss.fm.bbs.vo.BbsFileVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.bbs.mapper.BbsMngMapper.insertAttach */
	    	  INTO TB_APC_ATTACH
	    		(
					ATCHFLNO
				  , ATCHFL_PRNTSNO
			      , ATCHFL_NM
			      , ATCHFL_ORGN_NM
			      , ATCHFL_SZ
			      , ATCHFL_EXTN_TYPE
			      , ATCHFL_PATH
			      , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    seq_attach.nextval
	   			  , (SELECT NVL(MAX(BBS_NO),0) FROM TB_BBS)
				  , #{atchflNm}
				  , #{atchflOrgnNm}
				  , #{atchflSz}
				  , #{atchflExtnType}
				  , #{atchflPath}
				  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			)
    	]]>
    </insert>

    	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.deleteBbsAttache				-->
	<!-- DESC : 첨부파일 삭제                                            				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteBbsAttache" parameterType="com.at.apcss.fm.bbs.vo.BbsVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.bbs.mapper.BbsMngMapper.deleteBbsAttache */
	    		TB_APC_ATTACH
			 WHERE 1=1
			   AND ATCHFLNO	= #{atchflno}
    	]]>
    </delete>
</mapper>