<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : SortInvntrMapper.xml                                   				-->
<!-- DESC : 선별재고 mapper                                            				-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.28  	신정철        		Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.invntr.mapper.SortInvntrMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntr		-->
	<!-- DESC : 선별재고 단건 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSortInvntr" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO" resultType="com.at.apcss.am.invntr.vo.SortInvntrVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntr */
				  SI.APC_CD			AS APC_CD
				, SI.SORTNO			AS SORTNO
				, SI.SORT_SN		AS SORT_SN
				, SI.GRD_CD			AS GRD_CD
				, SI.INPT_YMD		AS INPT_YMD
				, SI.FCLT_CD		AS FCLT_CD
				, SI.RPRS_PRDCR_CD	AS RPRS_PRDCR_CD
				, SI.ITEM_CD		AS ITEM_CD
				, SI.VRTY_CD		AS VRTY_CD
				, SI.SPCFCT_CD		AS SPCFCT_CD
				, SI.GDS_SE_CD		AS GDS_SE_CD
				, SI.WRHS_SE_CD		AS WRHS_SE_CD
				, SI.WAREHOUSE_SE_CD	AS WAREHOUSE_SE_CD
				, SI.SORT_QNTT		AS SORT_QNTT
				, SI.SORT_WGHT		AS SORT_WGHT
				, SI.PCKG_QNTT		AS PCKG_QNTT
				, SI.PCKG_WGHT		AS PCKG_WGHT
				, SI.INVNTR_QNTT	AS INVNTR_QNTT
				, SI.INVNTR_WGHT	AS INVNTR_WGHT
				, SI.DEL_YN			AS DEL_YN
			  FROM TB_SORT_INVNTR SI
			 WHERE SI.APC_CD = #{apcCd}
			   AND SI.SORTNO = #{sortno}
			   AND SI.SORT_SN = #{sortSn}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntrList	-->
	<!-- DESC : 선별재고 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSortInvntrList" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO" resultType="com.at.apcss.am.invntr.vo.SortInvntrVO">
    	<![CDATA[
    		SELECT
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			,
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
    			  pt0.*
    			, (SELECT FN_GET_APC_NM(pt0.APC_CD) FROM DUAL) 													AS APC_NM
    			, (SELECT FN_GET_COM_CD_VL_NM('SORT_FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) 				AS FCLT_NM
    			, (SELECT FN_GET_COM_CD_VL_NM('PCKG_FCLT_CD', pt0.PCKG_FCLT_CD, pt0.APC_CD) FROM DUAL) 			AS PCKG_FCLT_NM
				, (SELECT FN_GET_PRDCR_NM(pt0.RPRS_PRDCR_CD, pt0.APC_CD) FROM DUAL) 							AS RPRS_PRDCR_NM
				, (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 									AS ITEM_NM
				, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) 						AS VRTY_NM
				, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) 					AS SPCFCT_NM
				, (SELECT FN_GET_GRD_NM_SORT(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL) 					AS GRD_NM
				, (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', pt0.GDS_SE_CD, pt0.APC_CD) FROM DUAL) 				AS GDS_SE_NM
				, (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', pt0.WRHS_SE_CD) FROM DUAL) 							AS WRHS_SE_NM
				, (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) 	AS WAREHOUSE_SE_NM
                , pt0.SORTNO || '-' || pt0.SORT_SN 																AS SORTNO_INDCT
    		  FROM (
			    	SELECT /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntrList */
						   SI.APC_CD			AS APC_CD
					     , SI.SORTNO			AS SORTNO
					     , SI.SORT_SN			AS SORT_SN
					     , SI.INPT_YMD			AS SORT_YMD
					     , SI.FCLT_CD			AS FCLT_CD
					     , SI.RPRS_PRDCR_CD		AS RPRS_PRDCR_CD
					     , SI.ITEM_CD			AS ITEM_CD
					     , SI.VRTY_CD			AS VRTY_CD
					     , SI.SPCFCT_CD			AS SPCFCT_CD
					     , SI.GRD_CD			AS GRD_CD
					     , SI.GDS_SE_CD			AS GDS_SE_CD
					     , SI.WRHS_SE_CD		AS WRHS_SE_CD
					     , SI.WAREHOUSE_SE_CD	AS WAREHOUSE_SE_CD
					     , SI.PRDCTN_YR			AS PRDCTN_YR
					     , SI.SORT_QNTT			AS SORT_QNTT
					     , SI.SORT_WGHT			AS SORT_WGHT
					     , SI.PCKG_QNTT			AS PCKG_QNTT
					     , SI.PCKG_WGHT			AS PCKG_WGHT
					     , SI.INVNTR_QNTT		AS INVNTR_QNTT
					     , SI.INVNTR_WGHT		AS INVNTR_WGHT
					     , PC.PCKG_CMNDNO       AS PCKG_CMNDNO
					     , PC.FCLT_CD           AS PCKG_FCLT_CD
					     , PC.CMND_QNTT         AS CMND_QNTT
					     , PC.CMND_WGHT         AS CMND_WGHT
					  FROM TB_SORT_INVNTR SI
					     , TB_PCKG_CMND PC
					 WHERE SI.APC_CD = PC.APC_CD(+)
					   AND SI.SORTNO = PC.SORTNO(+)
					   AND SI.SORT_SN = PC.SORT_SN(+)
					   AND SI.DEL_YN = 'N'
					   AND PC.DEL_YN(+) = 'N'
					   AND SI.INVNTR_WGHT > 0
		]]>

		<if test='apcCd != null and apcCd != ""'>
			   AND SI.APC_CD = #{apcCd}
		</if>
		<if test='sortno != null and sortno != ""'>
			   AND SI.SORTNO = #{sortno}
		</if>
		<if test='sortYmd != null and sortYmd != ""'>
			   AND SI.INPT_YMD = #{sortYmd}
		</if>
		<if test='sortYmdFrom != null and sortYmdFrom != ""'>
			   AND SI.INPT_YMD <![CDATA[>=]]> #{sortYmdFrom}
		</if>
		<if test='sortYmdTo != null and sortYmdTo != ""'>
			   AND SI.INPT_YMD <![CDATA[<=]]> #{sortYmdTo}
		</if>
		<if test='sortFcltCd != null and sortFcltCd != ""'>
			   AND SI.FCLT_CD = #{sortFcltCd}
		</if>
		<if test='rprsPrdcrCd != null and rprsPrdcrCd != ""'>
			   AND SI.RPRS_PRDCR_CD = #{rprsPrdcrCd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
			   AND SI.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			   AND SI.VRTY_CD = #{vrtyCd}
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
			   AND SI.SPCFCT_CD = #{spcfctCd}
		</if>
		<if test='grdCd != null and grdCd != ""'>
			   AND SI.GRD_CD = #{grdCd}
		</if>
		<if test='gdsSeCd != null and gdsSeCd != ""'>
			   AND SI.GDS_SE_CD = #{gdsSeCd}
		</if>
		<if test='wrhsSeCd != null and wrhsSeCd != ""'>
			   AND SI.WRHS_SE_CD = #{wrhsSeCd}
		</if>
		<if test='warehouseSeCd != null and warehouseSeCd != ""'>
			   AND SI.WAREHOUSE_SE_CD = #{warehouseSeCd}
		</if>
		<if test='prdctnYr != null and prdctnYr != ""'>
			   AND SI.PRDCTN_YR = #{prdctnYr}
		</if>

		<![CDATA[
			 ORDER BY SI.APC_CD, SI.INPT_YMD, SI.SORTNO
    		  ) pt0
		]]>

		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntrDsctnList	-->
	<!-- DESC : 선별재고 내역 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	김현호        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSortInvntrDsctnList" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO" resultType="com.at.apcss.am.invntr.vo.SortInvntrVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    			, (SELECT FN_GET_GRD_NM_SORT(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL) 				AS GRD_NM
    			, (SELECT FN_GET_COM_CD_VL_NM('SORT_FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) 			AS FCLT_NM
    			, (SELECT FN_GET_PRDCR_NM(pt0.RPRS_PRDCR_CD, pt0.APC_CD) FROM DUAL) 						AS PRDCR_NM
    			, (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 								AS ITEM_NM
    			, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) 					AS VRTY_NM
    			, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) 				AS SPCFCT_NM
    			, (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD',pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) AS WAREHOUSE_SE_NM
                , pt0.SORTNO || '-' || pt0.SORT_SN 															AS SORTNO_INDCT
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	       SELECT /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntrDsctnList */
				  SI.APC_CD 				AS APC_CD
				, SI.SORTNO 				AS SORTNO
				, SI.SORT_SN				AS SORT_SN
				, SI.GRD_CD 				AS GRD_CD
				, SI.INPT_YMD 				AS INPT_YMD
				, SI.FCLT_CD 				AS FCLT_CD
				, SI.RPRS_PRDCR_CD 			AS RPRS_PRDCR_CD
				, SI.ITEM_CD 				AS ITEM_CD
				, SI.VRTY_CD 				AS VRTY_CD
				, SI.SPCFCT_CD 				AS SPCFCT_CD
				, SI.GDS_SE_CD 				AS GDS_SE_CD
				, SI.WRHS_SE_CD 			AS WRHS_SE_CD
				, SI.WAREHOUSE_SE_CD 		AS WAREHOUSE_SE_CD
				, SI.SORT_QNTT 				AS SORT_QNTT
				, SI.SORT_WGHT 				AS SORT_WGHT
				, SI.PCKG_QNTT 				AS PCKG_QNTT
				, SI.PCKG_WGHT 				AS PCKG_WGHT
				, SI.INVNTR_QNTT 			AS INVNTR_QNTT
				, SI.INVNTR_WGHT 			AS INVNTR_WGHT
				, SI.DEL_YN 				AS DEL_YN
				, SI.PRDCTN_YR 				AS PRDCTN_YR
			 FROM TB_SORT_INVNTR SI
			WHERE SI.DEL_YN = 'N'
			  AND SI.APC_CD = #{apcCd}
			  AND SI.INVNTR_WGHT > 0
		]]>
		<!-- 	 선별재고 내역 검색조건 -->
		<if test='crtrYmd != null and crtrYmd != ""'>
			   AND SI.INPT_YMD = #{crtrYmd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
			   AND SI.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			   AND SI.VRTY_CD = #{vrtyCd}
		</if>

		<if test='prdcrCd != null and prdcrCd != ""'>
			   AND SI.RPRS_PRDCR_CD = #{prdcrCd}
		</if>
		<if test='warehouseSeCd != null and warehouseSeCd != ""'>
			   AND SI.WAREHOUSE_SE_CD = #{warehouseSeCd}
		</if>
		<if test='gdsSeCd != null and gdsSeCd != ""'>
			   AND SI.GDS_SE_CD = #{gdsSeCd}
		</if>
		<if test='wrhsSeCd != null and wrhsSeCd != ""'>
			   AND SI.WRHS_SE_CD = #{wrhsSeCd}
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
			   AND SI.SPCFCT_CD = #{spcfctCd}
		</if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.insertSortInvntr		-->
	<!-- DESC : 선별재고 등록.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSortInvntr" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.insertSortInvntr */
	    		INTO TB_SORT_INVNTR
				(
					  APC_CD
					, SORTNO
					, SORT_SN
					, GRD_CD
					, INPT_YMD
					, FCLT_CD
					, RPRS_PRDCR_CD
					, ITEM_CD
					, VRTY_CD
					, SPCFCT_CD
					, GDS_SE_CD
					, WRHS_SE_CD
					, WAREHOUSE_SE_CD
					, SORT_QNTT
					, SORT_WGHT
					, PCKG_QNTT
					, PCKG_WGHT
					, INVNTR_QNTT
					, INVNTR_WGHT
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
					  #{apcCd}
					, #{sortno}
					, #{sortSn}
					, #{grdCd}
					, #{inptYmd}
					, #{fcltCd}
					, #{rprsPrdcrCd}
					, #{itemCd}
					, #{vrtyCd}
					, #{spcfctCd}
					, #{gdsSeCd}
					, #{wrhsSeCd}
					, #{warehouseSeCd}
					, #{sortQntt}
					, #{sortWght}
					, #{pckgQntt}
					, #{pckgWght}
					, #{invntrQntt}
					, #{invntrWght}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortInvntr		-->
	<!-- DESC : 변경재고 등록.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateSortInvntr" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortInvntr */
				TB_SORT_INVNTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}

				, GRD_CD 		= #{grdCd}
				, INPT_YMD		= #{inptYmd}
				, FCLT_CD		= #{fcltCd}
				, RPRS_PRDCR_CD	= #{rprsPrdcrCd}
				, ITEM_CD		= #{itemCd}
				, VRTY_CD		= #{vrtyCd}
				, SPCFCT_CD		= #{spcfctCd}
				, GDS_SE_CD		= #{gdsSeCd}
				, WRHS_SE_CD	= #{wrhsSeCd}
				, WAREHOUSE_SE_CD	= #{warehouseSeCd}
				, SORT_QNTT		= #{sortQntt}
				, SORT_WGHT		= #{sortWght}
				, PCKG_QNTT		= #{pckgQntt}
				, PCKG_WGHT		= #{pckgWght}
				, INVNTR_QNTT	= #{invntrQntt}
				, INVNTR_WGHT	= #{invntrWght}
		]]>
			<if test='delYn != null and delYn != ""'>
				, DEL_YN			= #{delYn}
			</if>
		<![CDATA[
			 WHERE APC_CD = #{apcCd}
			   AND SORTNO = #{sortno}
			   AND SORT_SN = #{sortSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortInvntrDsctnList	-->
	<!-- DESC : 선별재고내역 변경.		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.18  	김현호        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateSortInvntrChg" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortInvntrDsctnList */
				TB_SORT_INVNTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}

		]]>
			<if test='warehouseSeCd != null and warehouseSeCd != ""'>
				, WAREHOUSE_SE_CD			= #{warehouseSeCd}
			</if>
			<if test='invntrQntt != null and invntrQntt != ""'>
				, INVNTR_QNTT			= #{invntrQntt}
			</if>
			<if test='invntrWght != null and invntrWght != ""'>
				, INVNTR_Wght			= #{invntrWght}
			</if>
			<if test='trnsfQntt != null and trnsfQntt != ""'>
				, TRNSF_QNTT			= #{trnsfQntt}
			</if>
			<if test='trnsfWght != null and trnsfWght != ""'>
				, TRNSF_Wght			= #{trnsfWght}
			</if>
			<if test='rmrk != null and rmrk != ""'>
				, RMRK					= #{rmrk}
			</if>
		<![CDATA[
			 WHERE APC_CD 	= #{apcCd}
			   AND SORTNO 	= #{sortno}
			   AND SORT_SN 	= #{sortSn}
		]]>
	</update>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.deleteSortInvntr		-->
	<!-- DESC : 변경재고 삭제.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteSortInvntr" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.deleteSortInvntr */
			  FROM TB_SORT_INVNTR
			 WHERE APC_CD = #{apcCd}
			   AND SORTNO = #{sortno}
			   AND GRD_CD = #{grdCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortInvntrForDelY	-->
	<!-- DESC : 선별재고 삭제 set delyn 'Y'.		                           				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.10.18  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateSortInvntrForDelY" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortInvntrForDelY */
				TB_SORT_INVNTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
	    		, DEL_YN = 'Y'
			 WHERE APC_CD = #{apcCd}
			   AND SORTNO = #{sortno}
			   AND SORT_SN = #{sortSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortStdGrdForDelY	-->
	<!-- DESC : 선별재고 등급 삭제 set delyn 'Y'.		                           				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.10.18  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateSortStdGrdForDelY" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortStdGrdForDelY */
				TB_SORT_STD_GRD
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
	    		, DEL_YN = 'Y'
			 WHERE APC_CD = #{apcCd}
			   AND SORTNO = #{sortno}
			   AND SORT_SN = #{sortSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateInvntrPckgPrfmnc		-->
	<!-- DESC : 변경재고 등록 - 포장처리                                    				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateInvntrPckgPrfmnc" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateInvntrPckgPrfmnc */
				TB_SORT_INVNTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}

				, PCKG_QNTT		= #{pckgQntt}
				, PCKG_WGHT		= #{pckgWght}
				, INVNTR_QNTT	= #{invntrQntt}
				, INVNTR_WGHT	= #{invntrWght}

			 WHERE APC_CD = #{apcCd}
			   AND SORTNO = #{sortno}
			   AND SORT_SN = #{sortSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.insertSortStdGrd		-->
	<!-- DESC : 선별재고 표준등급 등록.		                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSortStdGrd" parameterType="com.at.apcss.am.invntr.vo.SortStdGrdVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.insertSortStdGrd */
	    		INTO TB_SORT_STD_GRD
				(
					  APC_CD
					, SORTNO
					, SORT_SN
					, ITEM_CD
					, GRD_KND
					, GRD_CD
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
					  #{apcCd}
					, #{sortno}
					, #{sortSn}
					, #{itemCd}
					, #{grdKnd}
					, #{grdCd}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- =============================================================================	-->
	<!-- NAME : com.at.apcss.am.sort.mapper.SortPrfmncMapper.selectPckgCmndTrgetList	-->
	<!-- DESC : 포장지시대상 내역 목록 조회.	                                       			-->
	<!-- =============================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      				-->
	<!-- ===========  	============  	==============================================	-->
	<!-- 2023.09.05  	정희운        	Initial Creation                        		-->
	<!-- =============================================================================	-->
    <select id="selectPckgCmndTrgetList" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO" resultType="com.at.apcss.am.invntr.vo.SortInvntrVO">
    		SELECT
    			  pt0.*
    			, (SELECT FN_GET_PRDCR_NM(pt0.RPRS_PRDCR_CD, pt0.APC_CD) FROM DUAL) 							AS PRDCR_NM
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 									AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) 						AS VRTY_NM
                , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) 	AS WAREHOUSE_SE_NM
                , (SELECT FN_GET_COM_CD_VL_NM('SORT_FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) 				AS FCLT_NM
                , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) 					AS SPCFCT_NM
    		  FROM (
    	<!-- End 페이징 -->
    	<![CDATA[
		    		SELECT /* com.at.apcss.am.sort.mapper.SortPrfmncMapper.selectPckgCmndTrgetList */
					      SI.APC_CD             AS APC_CD
					    , SI.SORTNO             AS SORTNO
					    , SI.GRD_CD             AS GRD_CD
					    , SI.INPT_YMD           AS INPT_YMD
					    , SI.FCLT_CD            AS FCLT_CD
					    , SI.RPRS_PRDCR_CD      AS RPRS_PRDCR_CD
					    , SI.ITEM_CD            AS ITEM_CD
					    , SI.VRTY_CD            AS VRTY_CD
					    , SI.SPCFCT_CD          AS SPCFCT_CD
					    , SI.GDS_SE_CD          AS GDS_SE_CD
					    , SI.WRHS_SE_CD         AS WRHS_SE_CD
					    , SI.WAREHOUSE_SE_CD    AS WAREHOUSE_SE_CD
					    , SI.SORT_QNTT          AS SORT_QNTT
					    , SI.SORT_WGHT          AS SORT_WGHT
					    , SI.PCKG_QNTT          AS PCKG_QNTT
					    , SI.PCKG_WGHT          AS PCKG_WGHT
					    , SI.INVNTR_QNTT        AS INVNTR_QNTT
					    , SI.INVNTR_WGHT        AS INVNTR_WGHT
					    , SI.DEL_YN             AS DEL_YN
					    , SI.PRDCTN_YR          AS PRDCTN_YR
					    , SI.SORT_SN            AS SORT_SN
					    , SI.RMRK               AS RMRK

					 FROM TB_SORT_INVNTR SI
					WHERE SI.APC_CD = #{apcCd}
					  AND SI.INVNTR_WGHT > 0
					  AND SI.DEL_YN = 'N'
		]]>
		<if test='inptYmdFrom != null and inptYmdFrom != ""'>
					 AND SI.INPT_YMD <![CDATA[>=]]> #{inptYmdFrom}
		</if>
		<if test='inptYmdTo != null and inptYmdTo != ""'>
					 AND SI.INPT_YMD <![CDATA[<=]]> #{inptYmdTo}
		</if>
		<if test='itemCd != null and itemCd != ""'>
					 AND SI.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
					 AND SI.VRTY_CD in (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{vrtyCd})))
		</if>
		<if test='prdcrCd != null and prdcrCd != ""'>
					 AND SI.RPRS_PRDCR_CD = #{prdcrCd}
		</if>
    		  ) pt0
    </select><!-- ==================================================================-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateInvntrTrnsf	-->
	<!-- DESC : 선별재고 이송처리                                    				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.11.01  	김호        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <update id="updateInvntrTrnsf" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateInvntrTrnsf */
				TB_SORT_INVNTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}

				, INVNTR_QNTT	= #{invntrQntt}
				, INVNTR_WGHT	= #{invntrWght}
				, TRNSF_QNTT	= #{trnsfQntt}
				, TRNSF_WGHT	= #{trnsfWght}

			 WHERE APC_CD = #{apcCd}
			   AND SORTNO = #{sortno}
			   AND SORT_SN = #{sortSn}
		]]>
	</update>

</mapper>