<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : SortInvntrMapper.xml                                   				-->
<!-- DESC : 선별재고 mapper                                            				-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.28  	신정철        		Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.invntr.mapper.SortInvntrMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntr		-->
	<!-- DESC : 선별재고 단건 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSortInvntr" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO" resultType="com.at.apcss.am.invntr.vo.SortInvntrVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntr */
				  SI.APC_CD			AS APC_CD
				, SI.SORTNO			AS SORTNO
				, SI.GRD_CD			AS GRD_CD
				, SI.INPT_YMD		AS INPT_YMD
				, SI.FCLT_CD		AS FCLT_CD
				, SI.RPRS_PRDCR_CD	AS RPRS_PRDCR_CD
				, SI.ITEM_CD		AS ITEM_CD
				, SI.VRTY_CD		AS VRTY_CD
				, SI.SPCFCT_CD		AS SPCFCT_CD
				, SI.GDS_SE_CD		AS GDS_SE_CD
				, SI.WRHS_SE_CD		AS WRHS_SE_CD
				, SI.WAREHOUSE_SE_CD	AS WAREHOUSE_SE_CD
				, SI.SORT_QNTT		AS SORT_QNTT
				, SI.SORT_WGHT		AS SORT_WGHT
				, SI.PCKG_QNTT		AS PCKG_QNTT
				, SI.PCKG_WGHT		AS PCKG_WGHT
				, SI.INVNTR_QNTT	AS INVNTR_QNTT
				, SI.INVNTR_WGHT	AS INVNTR_WGHT
				, SI.DEL_YN			AS DEL_YN
			  FROM TB_SORT_INVNTR SI
			 WHERE SI.APC_CD = #{apcCd}
			   AND SI.SORTNO = #{sortno}
			   AND SI.GRD_CD = #{grdCd}
		]]>
    </select>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntrList	-->
	<!-- DESC : 선별재고 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSortInvntrList" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO" resultType="com.at.apcss.am.invntr.vo.SortInvntrVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.selectSortInvntrList */
				  WC.APC_CD		    AS APC_CD
				, WC.WGHNO		    AS WGHNO
				, MAX(WC.WGH_YMD)   AS WGH_YMD
				, MAX(WC.VHCLNO)    AS VHCLNO
				, MAX(WC.PRDCR_CD)	AS PRDCR_CD
				, MAX(WC.WHOL_WGHT) AS WHOL_WGHT
				, MAX(WC.EMPT_VHCL_WGHT)    AS EMPT_VHCL_WGHT
				, MAX(WC.RDCD_RT)   AS RDCD_RT
				, MAX(WC.RDCD_WGHT) AS RDCD_WGHT
				, MAX(WC.WRHS_WGHT) AS WRHS_WGHT
				, MAX(WC.RMRK)      AS RMRK
				, (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = WC.APC_CD) AS APC_NM
				, MAX((SELECT FN_GET_PRDCR_NM(WC.PRDCR_CD, WC.APC_CD) FROM DUAL)) AS PRDCR_NM
                , (SELECT MAX(X.GRD_CD) FROM TB_WGH_PRFMNC_DTL X WHERE X.APC_CD = WC.APC_CD AND X.WGHNO = WC.WGHNO AND X.DEL_YN = 'N') AS GRD_CD
                , MAX((SELECT FN_GET_GRD_NM((SELECT X.GRD_CD FROM TB_WGH_PRFMNC_DTL X WHERE X.APC_CD = WC.APC_CD AND X.WGHNO = WC.WGHNO AND X.DEL_YN = 'N'), WC.APC_CD) FROM DUAL)) AS GRD_NM
                , (SELECT SUM(X.WGHT) FROM TB_WGH_PRFMNC_DTL X WHERE X.APC_CD = WC.APC_CD AND X.WGHNO = WC.WGHNO AND X.DEL_YN = 'N' AND X.PLT_BX_SE_CD = 'P') AS PLT_WGHT
				, (SELECT SUM(X.WGHT) FROM TB_WGH_PRFMNC_DTL X WHERE X.APC_CD = WC.APC_CD AND X.WGHNO = WC.WGHNO AND X.DEL_YN = 'N' AND X.PLT_BX_SE_CD = 'B') AS BX_WGHT
				, MAX(INV.WAREHOUSE_SE_CD) AS WAREHOUSE_SE_CD
				, MAX((SELECT FN_GET_COM_CD_VL_NM(INV.WAREHOUSE_SE_CD, WC.APC_CD) FROM DUAL)) AS WAREHOUSE_SE_NM
			  FROM
			  	  TB_WGH_PRFMNC_COM WC
				, TB_RAW_MTR_WRHS_PRFMNC WP
				, TB_RAW_MTR_INVNTR INV
				
			 WHERE WC.APC_CD = WP.APC_CD
			   AND WC.WGHNO = WP.WGHNO
			   AND WP.APC_CD = INV.APC_CD
			   AND WP.WRHSNO = INV.WRHSNO
			   AND WC.DEL_YN = 'N'
			   AND WP.DEL_YN = 'N'
			   AND INV.DEL_YN = 'N'
		]]>
		
		<if test='apcCd != null and apcCd != ""'>
			   AND WC.APC_CD = #{apcCd}
		</if>
		<if test='wghno != null and wghno != ""'>
			   AND WC.WGHNO = #{wghno}
		</if>
		<if test='wghYmd != null and wghYmd != ""'>
			   AND WC.WGH_YMD = #{wghYmd}
		</if>
		<if test='wghYmdFrom != null and wghYmdFrom != ""'>
			   AND WC.WGH_YMD <![CDATA[>=]]> #{wghYmdFrom}
		</if>
		<if test='wghYmdTo != null and wghYmdTo != ""'>
			   AND WC.WGH_YMD <![CDATA[<=]]> #{wghYmdTo}
		</if>
		<![CDATA[
		 	 GROUP BY WC.APC_CD, WC.WGHNO
			 ORDER BY APC_CD, WGH_YMD, WGHNO
		]]>

		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.insertSortInvntr		-->
	<!-- DESC : 선별재고 등록.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSortInvntr" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.insertSortInvntr */
	    		INTO TB_SORT_INVNTR
				(
					  APC_CD
					, SORTNO
					, GRD_CD
					, INPT_YMD
					, FCLT_CD
					, RPRS_PRDCR_CD
					, ITEM_CD
					, VRTY_CD
					, SPCFCT_CD
					, GDS_SE_CD
					, WRHS_SE_CD
					, WAREHOUSE_SE_CD
					, SORT_QNTT
					, SORT_WGHT
					, PCKG_QNTT
					, PCKG_WGHT
					, INVNTR_QNTT
					, INVNTR_WGHT
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
					  #{apcCd}
					, #{sortno}
					, #{grdCd}
					, #{inptYmd}
					, #{fcltCd}
					, #{rprsPrdcrCd}
					, #{itemCd}
					, #{vrtyCd}
					, #{spcfctCd}
					, #{gdsSeCd}
					, #{wrhsSeCd}
					, #{warehouseSeCd}
					, #{sortQntt}
					, #{sortWght}
					, #{pckgQntt}
					, #{pckgWght}
					, #{invntrQntt}
					, #{invntrWght}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortInvntr		-->
	<!-- DESC : 변경재고 등록.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateSortInvntr" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.updateSortInvntr */
				TB_SORT_INVNTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
	    		
				, INPT_YMD		= #{inptYmd}
				, FCLT_CD		= #{fcltCd}
				, RPRS_PRDCR_CD	= #{rprsPrdcrCd}
				, ITEM_CD		= #{itemCd}
				, VRTY_CD		= #{vrtyCd}
				, SPCFCT_CD		= #{spcfctCd}
				, GDS_SE_CD		= #{gdsSeCd}
				, WRHS_SE_CD	= #{wrhsSeCd}
				, WAREHOUSE_SE_CD	= #{warehouseSeCd}
				, SORT_QNTT		= #{sortQntt}
				, SORT_WGHT		= #{sortWght}
				, PCKG_QNTT		= #{pckgQntt}
				, PCKG_WGHT		= #{pckgWght}
				, INVNTR_QNTT	= #{invntrQntt}
				, INVNTR_WGHT	= #{invntrWght}
		]]>
			<if test='delYn != null and delYn != ""'>
				, DEL_YN			= #{delYn}
			</if>
		<![CDATA[
			 WHERE APC_CD = #{apcCd}
			   AND SORTNO = #{sortno}
			   AND GRD_CD = #{grdCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.invntr.mapper.SortInvntrMapper.deleteSortInvntr		-->
	<!-- DESC : 변경재고 삭제.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteSortInvntr" parameterType="com.at.apcss.am.invntr.vo.SortInvntrVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.invntr.mapper.SortInvntrMapper.deleteSortInvntr */
			  FROM TB_SORT_INVNTR
			 WHERE APC_CD = #{apcCd}
			   AND SORTNO = #{sortno}
			   AND GRD_CD = #{grdCd}
		]]>
	</delete>

</mapper>