#apc_infos {
    overflow: hidden;
    height: auto;
    min-height: 550px;
}

.apc_info {
    padding: 10px;
}

.apc_status_wrapper {
    padding-left: 0px;
    padding-right: 0px;
}

.apc_item {
    background-color: #D9D9D9;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.apc_name {
    background-color: #FFF;
    height: 40px;
    cursor: pointer;
}

.apc_name.corp {
    background-color: #4E81BD;
}

.apc_name.nh {
    background-color: #047630;
}

.apc_kind {
    height: 19px;
    cursor: pointer;
}

.apc_kind.active {
    background-color: blue;
}

.apc_status {
    height: 19px;
    float: left;
}

.apc_status.active {
    background-color: green;
}

.apc_status_wrapper.col-lg-6 {
    width: 49%;
}

.apc_status.col-lg-4 {
    width: 32%;
}

.login_input {
    width: 300px;
    height: 50px;
    font-size: 20pt;
    color: #000;
}

.login_btn {
    position: relative;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 20pt;
}

.login_btn:hover {
    color: #000;
}

#map > polyline,
#map > path {
    fill: #CDCCCC;
    stroke: #FFFFFF;
    stroke-miterlimit: 1;
}

#map > polyline {
    transform: translate(106.95522px, 19.462687px);
}

.tab-pane {
    position: relative;
    height: 300px;
}


#openPopup {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#openPopup:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

.popup-content h2 {
    margin-top: 0;
    color: #333;
}

.popup-content div{
    min-height: 60px;
    font-size: medium;
}

.popup-content .title {
    font-size: large;
    font-weight: 700;
}

.closePopup {
    padding: 8px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.closePopup:hover {
    background-color: #c82333;
}

#sb-area-apcLinkPop > thead > tr > th {
    text-align: center;
    top: -12px;
    background-color: #CAD4DF;
}

#sb-area-apcLinkPop > tbody > tr > td {
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.table-wrapper {
    height: 300px;
    overflow-y: auto;
}

#sb-area-apcLinkPop {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#sb-area-apcLinkPop thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}