#apc_infos {overflow: hidden; height: auto; min-height: 550px;}
.apc_info {padding: 10px}
.apc_status_wrapper {padding-left: 0px; padding-right: 0px;}
.apc_item {background-color: #d9d9d9; color: #fff; text-align: center; border-radius: 3px; display: flex; justify-content: center; align-items: center; margin: 1px;}
.apc_name {background-color: #4e81bd; height: 40px;}
.apc_name.nh {background-color: #047630;}
.apc_kind {height: 19px;}
.apc_kind.active {background-color: blue;}
.apc_status {height: 19px; float: left;}
.apc_status.active {background-color: green;}
.apc_status_wrapper.col-lg-6 {width: 49%;}
.apc_status.col-lg-4 {width: 32%;}

svg > polyline,
svg > path {
    fill: #CDCCCC;
    stroke: #FFFFFF;
    stroke-miterlimit: 1;
}

svg > polyline {
    transform: translate(106.95522px, 19.462687px);
}

.tab-pane {
    position: relative;
    height: 300px;
}