<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CoUserComUserMapper_tibero.xml                                    	-->
<!-- DESC : 사용자 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.co.cd.mapper.ComCdMapper">

	<resultMap type="com.at.apcss.co.cd.vo.ComCdVO" id="comCdResultMap">
        <result property="cdId" 		column="CD_ID"/>
        <result property="cdNm" 		column="CD_NM"/>
        <result property="cdExpln" 		column="CD_EXPLN"/>
        <result property="delYn" 		column="DEL_YN"/>


        <result property="totalCnt" 		column="TOTAL_CNT"/>

	</resultMap>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.user.ComUserMapper.selectComUser                    -->
	<!-- DESC : 사용자 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComCd" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultMap="comCdResultMap">
    	<![CDATA[
			SELECT /* com.at.apcss.co.cd.mapper.ComCdMapper.selectComCd */
				   CC.CD_ID         AS CD_ID
			     , CC.CD_NM         AS CD_NM
			     , CC.CD_EXPLN      AS CD_EXPLN
			     , CC.DEL_YN        AS DEL_YN

			  FROM TB_COM_CD CC

			 WHERE 1=1
    	]]>
			<if test='cdId != null and cdId != ""'>
			   AND CD_ID = #{cdId}
	    	</if>
			<!-- OFFSET #{currentPageNo} ROWS FETCH FIRST #{rowCnt} ROWS ONLY -->

    </select>

</mapper>