<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : ComCdMapper.xml                                    					-->
<!-- DESC : 사용자 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.co.cd.mapper.ComCdMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.selectComCd                   -->
	<!-- DESC : 공통코드 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComCd" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.cd.mapper.ComCdMapper.selectComCd */
				   CC.CD_ID         AS CD_ID
			     , CC.CD_NM         AS CD_NM
			     , CC.CD_TYPE		AS CD_TYPE
			     , CC.CD_EXPLN      AS CD_EXPLN
			     , CC.DEL_YN        AS DEL_YN
			  FROM TB_COM_CD CC
    	]]>
		<where>
			<if test='cdId != null and cdId != ""'>
			   AND CD_ID = #{cdId}
	    	</if>
		</where>
			<!-- OFFSET #{currentPageNo} ROWS FETCH FIRST #{rowCnt} ROWS ONLY -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.selectComCdList				-->
	<!-- DESC : 공통코드 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComCdList" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<![CDATA[
			SELECT /* com.at.apcss.co.cd.mapper.ComCdMapper.selectComCdList */
				   CC.CD_ID         AS CD_ID
			     , CC.CD_NM         AS CD_NM
			     , CC.CD_TYPE		AS CD_TYPE
			     , CC.CD_EXPLN      AS CD_EXPLN
			     , CC.DEL_YN        AS DEL_YN
			  FROM TB_COM_CD CC
    	]]>
		<where>
			<if test='cdId != null and cdId != ""'>
			   AND CC.CD_ID LIKE #{cdId} || '%'
	    	</if>
			<if test='cdNm != null and cdNm != ""'>
			   AND CC.CD_NM LIKE #{cdNm} || '%'
	    	</if>
			<if test='delYn != null and delYn != ""'>
			   AND CC.DEL_YN = #{delYn}
	    	</if>
		</where>
    	<![CDATA[
    		 ORDER BY CD_ID
    	]]>
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.selectComCdDtlList			-->
	<!-- DESC : 공통코드 상세 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComCdDtlList" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<![CDATA[
			SELECT /* com.at.apcss.co.cd.mapper.ComCdMapper.selectComCdDtlList */
				   CC.CD_ID         AS CD_ID
			     , CC.CD_NM         AS CD_NM
			     , CC.CD_EXPLN      AS CD_EXPLN
			     , CD.CD_VL			AS CD_VL
			     , CD.APC_CD		AS APC_CD
			     , CD.CD_VL_NM		AS CD_VL_NM
			     , CD.CD_VL_EXPLN	AS CD_VL_EXPLN
			     , CD.INDCT_SEQ		AS INDCT_SEQ
			     , CD.UP_CD_VL		AS UP_CD_VL
			     , CD.CD_NUM_VL		AS CD_NUM_VL
			     , CD.CD_CHR_VL		AS CD_CHR_VL
			     , CD.DEL_YN		AS DEL_YN
                 , CD.USE_YN        AS USE_YN
                 , CD.RMRK          AS RMRK
		]]>
		<if test='apcCd != null and apcCd != ""'>
			   	 , ROWNUM 			AS ROW_SEQ
    	</if>
    	<![CDATA[
			  FROM
			  	  TB_COM_CD CC
			  	, TB_COM_CD_DTL CD
			 WHERE CC.CD_ID = CD.CD_ID
			   AND CC.CD_ID = #{cdId}
    	]]>
			<if test='delYn != null and delYn != ""'>
			   AND CC.DEL_YN = #{delYn}
			   AND CD.DEL_YN = #{delYn}
	    	</if>
			<if test='apcCd != null and apcCd != ""'>
			   AND CD.APC_CD = #{apcCd}
	    	</if>
	    	<if test='cdVlNm != null and cdVlNm != ""'>
			   AND CD.CD_VL_NM LIKE '%' || #{cdVlNm} ||'%'
	    	</if>

    	<![CDATA[
			 ORDER BY CD_ID, INDCT_SEQ
    	]]>
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.selectApcRptList				-->
	<!-- DESC : 공통코드 리포트 목록 조회.                                          -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcRptList" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.cd.mapper.ComCdMapper.selectComCdDtlList */
				   CC.CD_ID         AS CD_ID
			     , CD.CD_VL			AS CD_VL
			     , MAX(CD.APC_CD) KEEP (DENSE_RANK LAST ORDER BY DECODE(CD.APC_CD, '0000', 1, 9))		AS APC_CD
			     , MAX(CD.CD_VL_NM) KEEP (DENSE_RANK LAST ORDER BY DECODE(CD.APC_CD, '0000', 1, 9))		AS CD_VL_NM
			     , MAX(CD.CD_VL_EXPLN) KEEP (DENSE_RANK LAST ORDER BY DECODE(CD.APC_CD, '0000', 1, 9))	AS CD_VL_EXPLN
			     , MAX(CD.INDCT_SEQ) KEEP (DENSE_RANK LAST ORDER BY DECODE(CD.APC_CD, '0000', 1, 9))	AS INDCT_SEQ
			  FROM
			  	  TB_COM_CD CC
			  	, TB_COM_CD_DTL CD
			 WHERE CC.CD_ID = CD.CD_ID
			   AND CC.CD_ID = 'APC_RPT_KND'
			   AND CD.APC_CD IN ('0000', #{apcCd})
			   AND CC.DEL_YN = 'N'
			   AND CD.DEL_YN = 'N'
			   AND CD.USE_YN = 'Y'
			 GROUP BY CC.CD_ID, CD.CD_VL
			 ORDER BY CD_ID, INDCT_SEQ
    	]]>
    </select>



    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.selectComBoCdDtlList			-->
	<!-- DESC : 콤보박스 공통코드 상세 목록 조회.                                   			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.08  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComBoCdDtlList" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	SELECT CD_VL
		     , CD_VL_NM
		  FROM TB_COM_CD_DTL
		 WHERE CD_ID = #{cdId}
		 ORDER BY INDCT_SEQ ASC
    	]]>
    </select>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.duplicateCheckCdId			-->
	<!-- DESC : CD_ID 중복 체크.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.28  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="duplicateCheckCdId" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="_int">
    	<![CDATA[
    	SELECT COUNT(*)
		  FROM TB_COM_CD
		 WHERE CD_ID = #{cdId}
    	]]>
    </select>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.insertComCd					-->
	<!-- DESC : 공통코드 등록  		                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.28  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertComCd" parameterType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	INSERT INTO TB_COM_CD
    		(
				CD_ID
			  , CD_NM
			  , CD_EXPLN
			  , CD_TYPE
			  , SYS_FRST_INPT_DT
			  , SYS_FRST_INPT_USER_ID
			  , SYS_FRST_INPT_PRGRM_ID
			  , SYS_LAST_CHG_DT
			  , SYS_LAST_CHG_USER_ID
			  , SYS_LAST_CHG_PRGRM_ID
    		)
		VALUES
    		(
			    #{cdId}
			  , #{cdNm}
			  , #{cdExpln}
			  , #{cdType}
			  , SYSDATE
			  , #{sysFrstInptUserId}
			  , #{sysFrstInptPrgrmId}
			  , SYSDATE
			  , #{sysLastChgUserId}
			  , #{sysLastChgPrgrmId}
			)
    	]]>
    </insert>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.updateComCd					-->
	<!-- DESC : 공통코드 수정  		                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.28  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateComCd" parameterType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	UPDATE TB_COM_CD
    	   SET CD_NM 					= #{cdNm}
    	     , CD_TYPE					= #{cdType}
    	     , CD_EXPLN 				= #{cdExpln}
    	     , SYS_LAST_CHG_DT 			= SYSDATE
    	     , SYS_LAST_CHG_USER_ID 	= #{sysLastChgUserId}
    	     , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
    	 WHERE CD_ID = #{cdId}
    	]]>
    </update>
    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.deleteComCd					-->
	<!-- DESC : 공통코드 삭제  		                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.28  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteComCd" parameterType="com.at.apcss.co.cd.vo.ComCdVO">
		<![CDATA[
		DELETE FROM TB_COM_CD
		 WHERE CD_ID = #{cdId}
		]]>
	</delete>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.duplicateCheckCdIdDtl			-->
	<!-- DESC : 공통코드 상세 중복 체크.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.28  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="duplicateCheckCdIdDtl" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="_int">
    	<![CDATA[
    	SELECT COUNT(*)
		  FROM TB_COM_CD_DTL
		 WHERE CD_ID  	= #{cdId}
		   AND CD_VL  	= #{cdVl}
		   AND APC_CD 	= #{apcCd}
    	]]>
    </select>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.insertComCdDtl				-->
	<!-- DESC : 공통코드 상세 등록  		                                        		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.28  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertComCdDtl" parameterType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	INSERT INTO TB_COM_CD_DTL
    		(
				CD_ID
			  , CD_VL
			  , APC_CD
			  , INDCT_SEQ
			  , CD_VL_NM
			  , CD_VL_EXPLN
		      , UP_CD_VL
		      , CD_NUM_VL
		      , CD_CHR_VL
			  , SYS_FRST_INPT_DT
			  , SYS_FRST_INPT_USER_ID
			  , SYS_FRST_INPT_PRGRM_ID
			  , SYS_LAST_CHG_DT
			  , SYS_LAST_CHG_USER_ID
			  , SYS_LAST_CHG_PRGRM_ID
    		)
		VALUES
    		(
			    #{cdId}
    	]]>
    	<choose>
    		<when test='cdVl != null and cdVl != ""'>
			  , #{cdVl}
    		</when>
    		<otherwise>
    		  , (SELECT FN_GET_ID_COM_CD_VL(#{apcCd}, #{cdId}) FROM DUAL)
    		</otherwise>
    	</choose>
    	<![CDATA[
			  , #{apcCd}
			  , #{indctSeq}
			  , #{cdVlNm}
			  , #{cdVlExpln}
		      , #{upCdVl}
		      , #{cdNumVl}
		      , #{cdChrVl}
			  , SYSDATE
			  , #{sysFrstInptUserId}
			  , #{sysFrstInptPrgrmId}
			  , SYSDATE
			  , #{sysLastChgUserId}
			  , #{sysLastChgPrgrmId}
			)
    	]]>
    </insert>

	<!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.updateComCdDtl				-->
	<!-- DESC : 공통코드 상세 수정  		                                           		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.28  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateComCdDtl" parameterType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	UPDATE TB_COM_CD_DTL
    	   SET CD_VL_NM				 	= #{cdVlNm}
    	     , CD_VL_EXPLN 				= #{cdVlExpln}
    	     , INDCT_SEQ				= #{indctSeq}
		     , UP_CD_VL 				= #{upCdVl}
		     , CD_NUM_VL 				= #{cdNumVl}
		     , CD_CHR_VL 				= #{cdChrVl}
    	     , SYS_LAST_CHG_DT 			= SYSDATE
    	     , SYS_LAST_CHG_USER_ID 	= #{sysLastChgUserId}
    	     , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
    	 WHERE CD_ID 	= #{cdId}
    	   AND CD_VL 	= #{cdVl}
    	   AND APC_CD 	= #{apcCd}
    	]]>
    </update>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.deleteComCdDtl				-->
	<!-- DESC : 공통코드 삭제  		                                           			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.28  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteComCdDtl" parameterType="com.at.apcss.co.cd.vo.ComCdVO">
		<![CDATA[
		DELETE FROM TB_COM_CD_DTL
		 WHERE CD_ID 	= #{cdId}
		   AND CD_VL 	= #{cdVl}
		   AND APC_CD 	= #{apcCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.selectComCdDtl				-->
	<!-- DESC : 공통코드 상세 조회.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectComCdDtl" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.cd.mapper.ComCdMapper.selectComCdDtlList */
				   CC.CD_ID         AS CD_ID
			     , CC.CD_NM         AS CD_NM
			     , CC.CD_EXPLN      AS CD_EXPLN
			     , CD.CD_VL			AS CD_VL
			     , CD.APC_CD		AS APC_CD
			     , CD.CD_VL_NM		AS CD_VL_NM
			     , CD.CD_VL_EXPLN	AS CD_VL_EXPLN
			     , CD.INDCT_SEQ		AS INDCT_SEQ
			     , CD.UP_CD_VL		AS UP_CD_VL
			     , CD.CD_NUM_VL		AS CD_NUM_VL
			     , CD.CD_CHR_VL		AS CD_CHR_VL
			     , CD.DEL_YN		AS DEL_YN
			  FROM
			  	  TB_COM_CD CC
			  	, TB_COM_CD_DTL CD
			 WHERE CC.CD_ID = CD.CD_ID
			   AND CC.CD_ID = #{cdId}
			   AND CD.APC_CD = #{apcCd}
			   AND CD.CD_VL = #{cdVl}
    	]]>
    </select>


	<!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.updateComCdDtlDelYn			-->
	<!-- DESC : 공통코드 상세 사용유무 수정  		                                        -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.05  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateComCdDtlDelYn" parameterType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	UPDATE TB_COM_CD_DTL
    	   SET SYS_LAST_CHG_DT 			= SYSDATE
    	     , SYS_LAST_CHG_USER_ID 	= #{sysLastChgUserId}
    	     , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
    	     , DEL_YN 					= 'N'
    	 WHERE CD_ID 	= #{cdId}
    	   AND CD_VL 	= #{cdVl}
    	   AND APC_CD 	= #{apcCd}
    	]]>
    </update>

	<!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.comCdDtlDelYnAll				-->
	<!-- DESC : 공통코드 상세 사용유무 전체변경  		                                        -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.05  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="comCdDtlDelYnAll" parameterType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
    	UPDATE TB_COM_CD_DTL
    	   SET SYS_LAST_CHG_DT 			= SYSDATE
    	     , SYS_LAST_CHG_USER_ID 	= #{sysLastChgUserId}
    	     , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
    	     , DEL_YN 					= 'Y'
    	 WHERE CD_ID 	= #{cdId}
    	   AND APC_CD 	= #{apcCd}
    	]]>
    </update>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.selectFcltList				-->
	<!-- DESC : APC별 설비 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.05.17  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectFcltList" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.cd.mapper.ComCdMapper.selectFcltList */
				   CD.CD_ID         AS CD_ID
			     , CD.CD_VL			AS CD_VL
			     , CD.APC_CD		AS APC_CD
			     , CD.CD_VL_NM		AS CD_VL_NM
			     , CD.CD_VL_EXPLN	AS CD_VL_EXPLN
			     , CD.INDCT_SEQ		AS INDCT_SEQ
			     , CD.DEL_YN		AS DEL_YN
			  FROM TB_COM_CD_DTL CD
			 WHERE CD.APC_CD = #{apcCd}
			   AND CD.CD_ID IN ('SORT_FCLT_CD', 'PCKG_FCLT_CD')
			 ORDER BY CD.CD_ID DESC, CD.INDCT_SEQ
		]]>
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.cd.mapper.ComCdMapper.warehouseSeCdDelible			-->
	<!-- DESC : APC별 창고 & 설비 삭제 여부.                                        -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.01.25  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="apcCdComCdDtlDelible" parameterType="com.at.apcss.co.cd.vo.ComCdVO" resultType="com.at.apcss.co.cd.vo.ComCdVO">
    	<if test='cdId == "WAREHOUSE_SE_CD"'>
	    	<![CDATA[
				SELECT X.* /* com.at.apcss.co.cd.mapper.ComCdMapper.apcCdComCdDtlDelible */
				  FROM (
				         SELECT
				                '입고실적' AS DELIBLE
				               , (SELECT COUNT(*)
				                    FROM TB_RAW_MTR_WRHS_PRFMNC X
				                       , TB_RAW_MTR_INVNTR Y
				                   WHERE X.APC_CD = Y.APC_CD
				                     AND X.WRHSNO = Y.WRHSNO
				                     AND X.APC_CD = #{apcCd}
				                     AND Y.WAREHOUSE_SE_CD = #{cdVl}
				                     AND X.DEL_YN = 'N'
				                     AND Y.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         UNION ALL
				         SELECT
				                '원물재고' AS DELIBLE
				               , (SELECT COUNT(*)
				                    FROM TB_RAW_MTR_INVNTR X
				                   WHERE X.APC_CD = #{apcCd}
				                     AND X.WAREHOUSE_SE_CD = #{cdVl}
				                     AND X.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         UNION ALL
				         SELECT
				                '선별지시' AS DELIBLE
				               , (SELECT COUNT(*)
				                    FROM TB_SORT_CMND X
				                   WHERE X.APC_CD = #{apcCd}
				                     AND X.WAREHOUSE_SE_CD = #{cdVl}
				                     AND X.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         UNION ALL
				         SELECT
				                '선별실적' AS DELIBLE
				              , (SELECT COUNT(*)
				                   FROM TB_SORT_PRFMNC X
				                      , TB_SORT_INVNTR Y
				                  WHERE X.APC_CD = Y.APC_CD
				                    AND X.SORTNO = Y.SORTNO
				                    AND X.APC_CD = #{apcCd}
				                    AND Y.WAREHOUSE_SE_CD = #{cdVl}
				                    AND X.DEL_YN = 'N'
				                    AND Y.DEL_YN = 'N'
				                 )  AS CNT
				           FROM DUAL
				         UNION ALL
				         SELECT
				                '선별재고' AS DELIBLE
				               , (SELECT COUNT(*)
				                    FROM TB_SORT_INVNTR X
				                   WHERE X.APC_CD = #{apcCd}
				                     AND X.WAREHOUSE_SE_CD = #{cdVl}
				                     AND X.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         UNION ALL
				         SELECT
				                 '포장지시' AS DELIBLE
				                , (SELECT COUNT(*)
				                     FROM TB_PCKG_CMND X
				                    WHERE X.APC_CD = #{apcCd}
				                      AND X.WAREHOUSE_SE_CD = #{cdVl}
				                      AND X.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         UNION ALL
				         SELECT
			                   '포장실적' AS DELIBLE
			                   , (SELECT COUNT(*)
			                        FROM TB_PCKG_PRFMNC X
			                           , TB_GDS_INVNTR Y
			                       WHERE X.APC_CD = Y.APC_CD
			                         AND X.PCKGNO = Y.PCKGNO
			                         AND X.APC_CD = #{apcCd}
			                         AND Y.WAREHOUSE_SE_CD = #{cdVl}
			                         AND X.DEL_YN = 'N'
			                         AND Y.DEL_YN = 'N'
			                  )  AS CNT
			               FROM DUAL
				         UNION ALL
				         SELECT
				                '상품재고' AS DELIBLE
				                , (SELECT COUNT(*)
				                    FROM TB_GDS_INVNTR X
				                   WHERE X.APC_CD = #{apcCd}
				                     AND X.WAREHOUSE_SE_CD = #{cdVl}
				                     AND X.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         ) X
				 WHERE CNT > 0
			]]>
    	</if>
    	<if test='cdId == "SORT_FCLT_CD"'>
	    	<![CDATA[
	    		SELECT X.* /* com.at.apcss.co.cd.mapper.ComCdMapper.apcCdComCdDtlDelible */
				  FROM (
				         SELECT
				                '선별지시' AS DELIBLE
				               , (SELECT COUNT(*)
				                    FROM TB_SORT_CMND X
				                   WHERE X.APC_CD = '8888'
				                     AND X.FCLT_CD = '04'
				                     AND X.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         UNION ALL
				         SELECT
				                '선별실적' AS DELIBLE
				              , (SELECT COUNT(*)
				                   FROM TB_SORT_PRFMNC X
				                      , TB_SORT_INVNTR Y
				                  WHERE X.APC_CD = Y.APC_CD
				                    AND X.SORTNO = Y.SORTNO
				                    AND X.APC_CD = '8888'
				                    AND Y.FCLT_CD = '04'
				                    AND X.DEL_YN = 'N'
				                    AND Y.DEL_YN = 'N'
				                 )  AS CNT
				           FROM DUAL
				         UNION ALL
				         SELECT
				                '선별재고' AS DELIBLE
				               , (SELECT COUNT(*)
				                    FROM TB_SORT_INVNTR X
				                   WHERE X.APC_CD = '8888'
				                     AND X.FCLT_CD = '04'
				                     AND X.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         ) X
				 WHERE CNT > 0
			]]>
    	</if>
    	<if test='cdId == "PCKG_FCLT_CD"'>
	    	<![CDATA[
	    		SELECT X.* /* com.at.apcss.co.cd.mapper.ComCdMapper.apcCdComCdDtlDelible */
				  FROM (
				         SELECT
				                '포장지시' AS DELIBLE
				               , (SELECT COUNT(*)
				                    FROM TB_PCKG_CMND X
				                   WHERE X.APC_CD = #{apcCd}
			                         AND X.FCLT_CD = #{cdVl}
				                     AND X.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         UNION ALL
				         SELECT
			                   '포장실적' AS DELIBLE
			                   , (SELECT COUNT(*)
			                        FROM TB_PCKG_PRFMNC X
			                           , TB_GDS_INVNTR Y
			                       WHERE X.APC_CD = Y.APC_CD
			                         AND X.PCKGNO = Y.PCKGNO
			                         AND X.APC_CD = #{apcCd}
			                         AND Y.FCLT_CD = #{cdVl}
			                         AND X.DEL_YN = 'N'
			                         AND Y.DEL_YN = 'N'
			                  )  AS CNT
			               FROM DUAL
				         UNION ALL
				         SELECT
				                '상품재고' AS DELIBLE
				               , (SELECT COUNT(*)
				                    FROM TB_GDS_INVNTR X
				                   WHERE X.APC_CD = #{apcCd}
			                         AND X.FCLT_CD = #{cdVl}
				                     AND X.DEL_YN = 'N'
				                  )  AS CNT
				           FROM DUAL
				         ) X
				 WHERE CNT > 0
			]]>
    	</if>
    </select>

</mapper>