<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : AnlsCrtrMapper.xml                                   			-->
<!-- DESC : 분석기준 mapper                   				                 	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2024.09.21  	신정철        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.anls.mapper.AnlsCrtrMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectAnlsCrtr			-->
	<!-- DESC : 분석기준 단건 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectAnlsCrtr" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO" resultType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectAnlsCrtr */
				  AC.APC_CD				AS APC_CD
				, AC.ANLS_CRTR_TYPE		AS ANLS_CRTR_TYPE
				, AC.CRTR_CD			AS CRTR_CD
				, AC.CRTR_VL			AS CRTR_VL
				, AC.CRTR_INDCT_NM		AS CRTR_INDCT_NM
				, AC.INDCT_SEQ			AS INDCT_SEQ
				, AC.USE_YN				AS USE_YN
				, AC.CRT_SCHDL_TYPE		AS CRT_SCHDL_TYPE
				, AC.CRT_SCHDL_PT		AS CRT_SCHDL_PT
				, AC.DEL_YN				AS DEL_YN
				
				, (
					SELECT MAX(X.DTL_SN) 
					  FROM TB_ANLS_CRTR_DTL X 
					 WHERE X.APC_CD = AC.APC_CD
					   AND X.ANLS_CRTR_TYPE = AC.ANLS_CRTR_TYPE
					   AND X.CRTR_CD = AC.CRTR_CD
				)	AS MAX_DTL_SN
				
			  FROM TB_ANLS_CRTR AC
			  
			 WHERE AC.APC_CD = #{apcCd}
			   AND AC.ANLS_CRTR_TYPE = #{anlsCrtrType}
			   AND AC.CRTR_CD = #{crtrCd}
		]]>
    </select>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectAnlsCrtrList		-->
	<!-- DESC : 분석기준 목록 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectAnlsCrtrList" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO" resultType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectAnlsCrtrList */
				  AC.APC_CD				AS APC_CD
				, AC.ANLS_CRTR_TYPE		AS ANLS_CRTR_TYPE
				, CT.CD_VL_NM			AS ANLS_CRTR_TYPE_NM
				, CT.INDCT_SEQ			AS CRTR_TYPE_SEQ
				, AC.CRTR_CD			AS CRTR_CD
				, AC.CRTR_VL			AS CRTR_VL
				, AC.CRTR_INDCT_NM		AS CRTR_INDCT_NM
				, AC.INDCT_SEQ			AS INDCT_SEQ
				, AC.INDCT_SEQ			AS CRTR_SEQ
				, AC.CRT_SCHDL_TYPE		AS CRT_SCHDL_TYPE
				, AC.CRT_SCHDL_PT		AS CRT_SCHDL_PT
				, AC.USE_YN				AS USE_YN
				, AC.CRTR_RMRK			AS CRTR_RMRK
				
			  FROM TB_ANLS_CRTR AC
			  
			  JOIN TB_COM_CD_DTL CT
			    ON CT.CD_ID = 'ANLS_CRTR_TYPE'
			   AND CT.APC_CD = '0000'
			   AND CT.CD_VL = AC.ANLS_CRTR_TYPE
			   AND CT.DEL_YN = 'N'
			   
			 WHERE AC.DEL_YN = 'N'
		]]>
		
		<if test='apcCd != null and apcCd != ""'>
		       AND AC.APC_CD = #{apcCd}
		</if>

		<if test='anlsCrtrType != null and anlsCrtrType != ""'>
		       AND AC.ANLS_CRTR_TYPE = #{anlsCrtrType}
		</if>

		<if test='crtrCd != null and crtrCd != ""'>
		       AND AC.CRTR_CD = #{crtrCd}
		</if>
		
		<if test='crtrIndctNm != null and crtrIndctNm != ""'>
			   AND AC.CRTR_INDCT_NM LIKE '%' || #{crtrIndctNm} || '%'
		</if>
		
		<if test='useYn != null and useYn != ""'>
		       AND AC.USE_YN = #{useYn}
		</if>
		
    	<![CDATA[
			 ORDER BY INDCT_SEQ
		]]>
    </select>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectAnlsCrtrDtl		-->
	<!-- DESC : 분석기준 상세 단건 조회.                       	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectAnlsCrtrDtl" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO" resultType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectAnlsCrtrDtl */
				  CD.APC_CD				AS APC_CD
				, CD.ANLS_CRTR_TYPE		AS ANLS_CRTR_TYPE
				, CD.CRTR_CD			AS CRTR_CD
				, CD.DTL_SN				AS DTL_SN
				, CD.DTL_CD				AS DTL_CD
				, CD.DTL_VL				AS DTL_VL
				, CD.DTL_TYPE			AS DTL_TYPE
				, CD.DTL_INDCT_NM		AS DTL_INDCT_NM
				, CD.USE_YN				AS USE_YN
				, CD.USE_YN				AS CRTR_DTL_USE_YN
				, CD.DEL_YN				AS DEL_YN
				
			  FROM TB_ANLS_CRTR_DTL CD
			  
			 WHERE CD.APC_CD = #{apcCd}
			   AND CD.ANLS_CRTR_TYPE = #{anlsCrtrType}
			   AND CD.CRTR_CD = #{crtrCd}
			   AND CD.DTL_SN = #{dtlSn}
		]]>
    </select>
    
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectAnlsCrtrDtlList	-->
	<!-- DESC : 분석기준 상세 목록 조회.	                         	            -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectAnlsCrtrDtlList" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO" resultType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectAnlsCrtrDtlList */
    		
				  AC.APC_CD				AS APC_CD
				, AC.ANLS_CRTR_TYPE		AS ANLS_CRTR_TYPE
				, CT.CD_VL_NM			AS ANLS_CRTR_TYPE_NM
				, CT.INDCT_SEQ			AS CRTR_TYPE_SEQ
				, AC.CRTR_CD			AS CRTR_CD
				, AC.CRTR_VL			AS CRTR_VL
				, AC.CRTR_INDCT_NM		AS CRTR_INDCT_NM
				, AC.INDCT_SEQ			AS CRTR_SEQ
				, AC.USE_YN				AS CRTR_USE_YN
				, AC.CRT_SCHDL_TYPE		AS CRT_SCHDL_TYPE
				, AC.CRT_SCHDL_PT		AS CRT_SCHDL_PT

				, CD.DTL_SN				AS DTL_SN
				, CD.DTL_CD				AS DTL_CD
				, CD.DTL_VL				AS DTL_VL
				, CD.DTL_TYPE			AS DTL_TYPE
				, CD.DTL_INDCT_NM		AS DTL_INDCT_NM
				, CD.USE_YN				AS CRTR_DTL_USE_YN
				, CD.INDCT_SEQ			AS INDCT_SEQ
				, CD.INDCT_SEQ			AS CRTR_DTL_SEQ				
				, CD.USE_YN				AS USE_YN
				
			  FROM TB_ANLS_CRTR AC
			  
			  JOIN TB_COM_CD_DTL CT
			    ON CT.CD_ID = 'ANLS_CRTR_TYPE'
			   AND CT.APC_CD = '0000'
			   AND CT.CD_VL = AC.ANLS_CRTR_TYPE
			   AND CT.DEL_YN = 'N'
			   
			  JOIN TB_ANLS_CRTR_DTL CD
			    ON CD.APC_CD = AC.APC_CD
			   AND CD.ANLS_CRTR_TYPE = AC.ANLS_CRTR_TYPE
			   AND CD.CRTR_CD = AC.CRTR_CD
			   AND CD.DEL_YN = 'N'
			   
			 WHERE AC.DEL_YN = 'N'
		]]>
		
		<if test='apcCd != null and apcCd != ""'>
		       AND AC.APC_CD = #{apcCd}
		</if>
		
		<if test='anlsCrtrType != null and anlsCrtrType != ""'>
		       AND AC.ANLS_CRTR_TYPE = #{anlsCrtrType}
		</if>

		<if test='crtrCd != null and crtrCd != ""'>
		       AND AC.CRTR_CD = #{crtrCd}
		</if>

		<if test='crtrUseYn != null and crtrUseYn != ""'>
		       AND AC.USE_YN = #{crtrUseYn}
		</if>
		
		<if test='crtrDtlUseYn != null and crtrDtlUseYn != ""'>
		       AND CD.USE_YN = #{crtrDtlUseYn}
		</if>
		
    	<![CDATA[
			 ORDER BY CRTR_TYPE_SEQ, CRTR_SEQ, CRTR_DTL_SEQ, DTL_SN
		]]>
    </select>
    
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectCrtrDtlList	-->
	<!-- DESC : 분석기준 상세 목록 조회.	                         	            -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCrtrDtlList" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO" resultType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.selectCrtrDtlList */
    		
				  AC.APC_CD				AS APC_CD
				, AC.ANLS_CRTR_TYPE		AS ANLS_CRTR_TYPE
				, AC.CRTR_CD			AS CRTR_CD
				, AC.CRTR_VL			AS CRTR_VL
				, AC.CRTR_INDCT_NM		AS CRTR_INDCT_NM
				, AC.INDCT_SEQ			AS CRTR_SEQ
				, AC.USE_YN				AS CRTR_USE_YN
				, AC.CRT_SCHDL_TYPE		AS CRT_SCHDL_TYPE
				, AC.CRT_SCHDL_PT		AS CRT_SCHDL_PT

				, CD.DTL_SN				AS DTL_SN
				, CD.DTL_CD				AS DTL_CD
				, CD.DTL_VL				AS DTL_VL
				, CD.DTL_TYPE			AS DTL_TYPE
				, CD.DTL_INDCT_NM		AS DTL_INDCT_NM
				, CD.USE_YN				AS CRTR_DTL_USE_YN
				, CD.INDCT_SEQ			AS INDCT_SEQ
				, CD.INDCT_SEQ			AS CRTR_DTL_SEQ				
				, CD.USE_YN				AS USE_YN
				
			  FROM TB_ANLS_CRTR AC
			   
			  JOIN TB_ANLS_CRTR_DTL CD
			    ON CD.APC_CD = AC.APC_CD
			   AND CD.ANLS_CRTR_TYPE = AC.ANLS_CRTR_TYPE
			   AND CD.CRTR_CD = AC.CRTR_CD
			   AND CD.DEL_YN = 'N'
			   
			 WHERE AC.DEL_YN = 'N'
			   AND AC.APC_CD = #{apcCd}
			   AND AC.ANLS_CRTR_TYPE = #{anlsCrtrType}
			   AND AC.CRTR_CD = #{crtrCd}
			   
			 ORDER BY CRTR_TYPE_SEQ, CRTR_SEQ, CRTR_DTL_SEQ, DTL_SN
		]]>
    </select>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.insertAnlsCrtr			-->
	<!-- DESC : 분석기준 등록.		                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertAnlsCrtr" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		INSERT /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.insertAnlsCrtr */
    		  INTO TB_ANLS_CRTR (
				  APC_CD
				, ANLS_CRTR_TYPE
				, CRTR_CD
				, CRTR_VL
				, CRTR_INDCT_NM
				, INDCT_SEQ
				, CRT_SCHDL_TYPE
				, CRT_SCHDL_PT
				, USE_YN
				, CRTR_RMRK
				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_USER_ID
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_USER_ID
				, SYS_LAST_CHG_PRGRM_ID
			) VALUES (
				  #{apcCd}
				, #{anlsCrtrType}
				, #{crtrCd}
				, #{crtrVl}
				, #{crtrIndctNm}
				, #{indctSeq}
				, #{crtSchdlType}
				, #{crtSchdlPt}
				, #{useYn}
				, #{crtrRmrk}
				, 'N'
    		    , SYSDATE
    		    , #{sysFrstInptUserId}
    		    , #{sysFrstInptPrgrmId}
    		    , SYSDATE
    		    , #{sysLastChgUserId}
    		    , #{sysLastChgPrgrmId}
			)
		]]>
    </insert>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.updateAnlsCrtr			-->
	<!-- DESC : 분석기준 변경.	                         	             	 		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateAnlsCrtr" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		UPDATE /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.updateAnlsCrtr */
    		  TB_ANLS_CRTR
    		SET
				  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
	    		
				, CRTR_VL			= #{crtrVl}
				, CRTR_INDCT_NM		= #{crtrIndctNm}
				, INDCT_SEQ			= #{indctSeq}
				, CRT_SCHDL_TYPE	= #{crtSchdlType}
				, CRT_SCHDL_PT		= #{crtSchdlPt}
				, USE_YN			= #{useYn}
				, CRTR_RMRK			= #{crtrRmrk}
				
			 WHERE APC_CD = #{apcCd}
			   AND ANLS_CRTR_TYPE = #{anlsCrtrType}
			   AND CRTR_CD = #{crtrCd}
		]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.deleteAnlsCrtr			-->
	<!-- DESC : 분석기준 삭제.	                         	             	 		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteAnlsCrtr" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		DELETE /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.deleteAnlsCrtr */
    		  TB_ANLS_CRTR
			 WHERE APC_CD = #{apcCd}
			   AND ANLS_CRTR_TYPE = #{anlsCrtrType}
			   AND CRTR_CD = #{crtrCd}
		]]>
    </delete>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.insertAnlsCrtrDtl		-->
	<!-- DESC : 분석기준 상세 등록.		                         	             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertAnlsCrtrDtl" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		INSERT /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.insertAnlsCrtrDtl */
    		  INTO TB_ANLS_CRTR_DTL (
				  APC_CD
				, ANLS_CRTR_TYPE
				, CRTR_CD
				, DTL_SN
				, DTL_CD
				, DTL_VL
				, DTL_INDCT_NM
				, DTL_TYPE
				, INDCT_SEQ
				, USE_YN
				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_USER_ID
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_USER_ID
				, SYS_LAST_CHG_PRGRM_ID
			) VALUES (
				  #{apcCd}
				, #{anlsCrtrType}
				, #{crtrCd}
				, #{dtlSn}
				, #{dtlCd}
				, #{dtlVl}
				, #{dtlIndctNm}
				, #{dtlType}
				, #{indctSeq}
				, #{useYn}
				, 'N'
    		    , SYSDATE
    		    , #{sysFrstInptUserId}
    		    , #{sysFrstInptPrgrmId}
    		    , SYSDATE
    		    , #{sysLastChgUserId}
    		    , #{sysLastChgPrgrmId}
			)
		]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.updateAnlsCrtrDtl		-->
	<!-- DESC : 분석기준 상세 변경.                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateAnlsCrtrDtl" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		UPDATE /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.updateAnlsCrtrDtl */
    		  TB_ANLS_CRTR_DTL
    		SET
				  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
	    		
				, DTL_CD			= #{dtlCd}
				, DTL_VL			= #{dtlVl}
				, DTL_INDCT_NM		= #{dtlIndctNm}
				, DTL_TYPE			= #{dtlType}
				, INDCT_SEQ			= #{indctSeq}
				, USE_YN			= #{useYn}
				
			 WHERE APC_CD = #{apcCd}
			   AND ANLS_CRTR_TYPE = #{anlsCrtrType}
			   AND CRTR_CD = #{crtrCd}
			   AND DTL_SN = #{dtlSn}
		]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.anls.mapper.AnlsCrtrMapper.deleteAnlsCrtrDtl		-->
	<!-- DESC : 분석기준 상세 삭제.                       	             	 		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteAnlsCrtrDtl" parameterType="com.at.apcss.am.anls.vo.AnlsCrtrVO">
    	<![CDATA[
    		DELETE /* com.at.apcss.am.anls.mapper.AnlsCrtrMapper.deleteAnlsCrtrDtl */
    		  TB_ANLS_CRTR_DTL
			 WHERE CD.APC_CD = #{apcCd}
			   AND CD.ANLS_CRTR_TYPE = #{anlsCrtrType}
			   AND CD.CRTR_CD = #{crtrCd}
			   AND CD.DTL_SN = #{dtlSn}
		]]>
    </delete>
    
</mapper>


