@charset "utf-8";

/* fonts */
@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	src: url('../../fonts/NanumMyeongjo-Regular.eot');
	src: url('../../fonts/NanumMyeongjo-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/NanumMyeongjo-Regular.woff2') format('woff2'),
		url('../../fonts/NanumMyeongjo-Regular.woff') format('woff'),
		url('../../fonts/NanumMyeongjo-Regular.ttf') format('truetype');
}

@media print {
	@page {
		size: portrait;
		/*margin: 1cm;*/
		width: 21cm; height: 29.7cm;
	}
	* {
		/* 배경그래픽 표시 */
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
	body {
		position: relative;
	}
	div.print_banner {
		display: none;
	}
	div.page { 
		width: initial; min-height: initial; height: auto;
		margin: 0; padding: 0;
		box-shadow: initial; background: initial; border: none;
	}
	img.bg_print {
		position: fixed; top: 50%;
	}
	div.page_wrapper {
		min-height: inherit;
	}
	
	/* apexchart 테두리 제거 */
	.apexcharts-canvas .apexcharts-grid line {
		display: none;
	}
}

/* reset */
* {
	margin: 0; padding: 0;
	line-height: 150%;
	font-weight: normal;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img, button {
	outline: 0;
	border: 0;
}
table {
	word-break: break-all;
	border-collapse: collapse; border-spacing: 0px; 
	table-layout: fixed; 
	page-break-inside: auto;
}
table caption {
	height:0; 
	font-size:0; text-indent:-9999px;
}
tr {
	page-break-inside: avoid; page-break-after: auto;
}
thead {
	display: table-header-group;
}
tfoot {
	display: table-footer-group;
}
ul li {
	list-style: none;
}

/* border style */
.bo_top { border-top: 1px solid #666 !important; }
.bo_bottom { border-bottom: 1px solid #666 !important; }
.bo_left { border-left: 1px solid #666 !important; }
.bo_right { border-right: 1px solid #666 !important; }
.bo_top_none { border-top: none !important; }
.bo_bottom_none { border-bottom: none !important; }
.bo_left_none { border-left: none !important; }
.bo_right_none { border-right: none !important; }
.ta_c { text-align: center !important; }
.ta_l { text-align: left !important; }
.ta_r { text-align: right !important; }

/* layout */
.print_banner {
	position: relative;
	margin-bottom: 60px;
	width: 100%; height: 50px;
	background: #f2f2f2;
}
.print_banner .btn_print {
	position: absolute; top: 50%; right: 10px;
	display: inline-block;
	padding: 0 16px;
	color: #fff; font-size: 15px; line-height: 35px;
	background-color: #193296 ;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.page {
	position: relative;
	margin: 0cm auto 60px; padding: 1cm;
	width: 21cm; min-height: 29.7cm;
	background: #fff;
	border: 1px solid #3a3a3a;
}

.bg_print {
	position: absolute; top: 14.85cm; left: 50%;
	width: 500px; height: auto;
	opacity: 0.3;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.page_wrapper {
	position: relative;
	padding: 1cm; 
	min-height: 27.7cm; 
	font-family: 'NanumMyeongjo', sans-serif; font-size: 17px; 
}
.print_title {
	margin-bottom: 80px;
	text-align: center;
}
.print_title h1 {
	padding-top: 0.5cm;
	font-size: 28px; font-weight: 600;
	line-height: 1.5em; letter-spacing: 4px; 
}
.print_title h1 span {
	display: block;
	font-size: 1.5rem;
}
.print_title p {
	position: absolute; top: 0; left: 0;
	font-size: 15px;
}
.print_profile {
	margin-left: 60%; margin-bottom: 60px;
}
.print_profile table {
	width: 100%; 
}
.print_profile table th, .print_profile table td {
	padding: 2px 0;
	text-align: left; 
}
.print_profile .th_blank {
	padding: 0 16px;
}
.print_contents {
	margin-bottom: 40px;
	min-height: 380px;
	text-align: justify; word-break: keep-all;
}
.print_contents p {
	margin-bottom: 30px;
	text-indent: 20px; line-height: 1.7em; 
}
.print_contents table {
	width: 100%;
	text-align: center;
	table-layout: fixed;
}
.print_contents th, .print_contents td {
	padding: 6px;
	font-size: 14px;
	border: 1px solid #666;
}
.print_footer {
	margin-top: 40px;
	width: 100%;
}
.print_day_title {
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}
.print_day_title > p:first-child {
	display: block;
	margin-bottom: 10px;
}
.print_day_title p {
	display: inline-block;
}
.print_day_title p span {
	padding: 0 16px;
}
.print_day_title div p:first-child span {
	padding-left: 0;
}
.print_stamp {
	text-align: center; 
}
.print_stamp p {
	position: relative; 
	display: inline-block;
}
.print_stamp strong {
	position: relative; z-index: 10;
	display: inline-block;
	font-size: 25px; font-weight: 600; letter-spacing: 4px;
}
.print_stamp img {
	position: absolute; top: 50%; right: -60px;
	display: inline-block;
	width: 85px; height: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.print_stamp small {
	display: block;
	margin-top: 40px;
	color: #999;
}
.print_stamp .send_to {
	display: block;
	margin-top: 40px;
	font-size: 19px; font-weight: 600; letter-spacing: 4px;
}

/* 비교과 이수 확인서 */
.page_wrapper_sm {
	position: relative;
	height: 100%;
	padding: 2.6cm 1cm 2cm;
	position: relative; /*overflow: hidden;*/
	font-size: 16px; font-family: 'NanumMyeongjo', sans-serif;
}
.page_wrapper_sm .prin_contents th {
	background: #ebf7f9;
}
.page_wrapper_sm .prin_day_title {
	padding: 60px 0;
}














