<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : ClclnPrfmncMapper.xml                                   			-->
<!-- DESC : 정산정보조회 mapper                   				                 	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.08.21  	하민우        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.selectClclnPrfmncList-->
	<!-- DESC : 정산정보조회 목록 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectClclnPrfmncList" parameterType="com.at.apcss.am.clcln.vo.ClclnPrfmncVO" resultType="com.at.apcss.am.clcln.vo.ClclnPrfmncVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.selectClclnPrfmncList */
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			,
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
    			  pt0.*
	    		, (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL)						AS ITEM_NM
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)		AS SPCFCT_NM
    		 	, (SELECT FN_GET_COM_CD_VL_NM('CLCLN_CRTR_CD', pt0.CLCLN_CRTR_CD) FROM DUAL)		AS CLCLN_CRTR_NM
    		 	, (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', pt0.WRHS_SE_CD) FROM DUAL)				AS WRHS_SE_NM
    		 	, (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', pt0.GDS_SE_CD, pt0.APC_CD) FROM DUAL)	AS GDS_SE_NM
    		 	, CASE
    		 		WHEN pt0.CLCLN_CRTR_CD = '1' THEN
    		 			(SELECT FN_GET_GRD_NM_RAWMTR(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL)    		 			
    		 		WHEN pt0.CLCLN_CRTR_CD = '2' THEN
    		 			(SELECT FN_GET_GRD_NM_SORT(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL)
    		 		WHEN pt0.CLCLN_CRTR_CD IN ('3', '4') THEN
    		 			(SELECT FN_GET_GRD_NM_GDS(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL)
    		 		ELSE NULL
    		 	  END	AS GRD_NM    		 	
    		 FROM (
	    	SELECT 
	    		   CP.APC_CD		AS APC_CD
	    		 , CP.CLCLN_YMD		AS CLCLN_YMD
	    		 , CP.CLCLN_SN		AS CLCLN_SN
	    		 , CP.CLCLN_CRTR_CD	AS CLCLN_CRTR_CD
	    		 , CP.PRDCR_CD		AS PRDCR_CD
	    		 , PI.PRDCR_NM		AS PRDCR_NM
	    		 , CP.ITEM_CD		AS ITEM_CD
	    		 , CP.VRTY_CD		AS VRTY_CD
	    		 , CP.SPCFCT_CD		AS SPCFCT_CD
	    		 , CP.GRD_CD		AS GRD_CD
	    		 , CP.WRHS_SE_CD	AS WRHS_SE_CD
	    		 , CP.GDS_SE_CD		AS GDS_SE_CD
	    		 , CP.QNTT			AS QNTT
	    		 , CP.WGHT			AS WGHT
	    		 , CP.RKNG_AMT		AS RKNG_AMT
	    		 , CP.CFMTN_AMT		AS CFMTN_AMT
	    		 , CP.CFMTN_YN 		AS CFMTN_YN
	    		 --, SUM(CP.QNTT)	OVER()		AS TOT_QNTT
	    		 --, SUM(CP.WGHT)	OVER()		AS TOT_WGHT
	    		 --, SUM(CP.RKNG_AMT)	OVER()	AS TOT_RKNG_AMT
	    		 --, SUM(CP.CFMTN_AMT) OVER()	AS TOT_CFMTN_AMT
			  FROM TB_CLCLN_PRFMNC CP
			     , TB_PRDCR_INFO PI
			 WHERE CP.APC_CD = PI.APC_CD
			   AND CP.PRDCR_CD = PI.PRDCR_CD
			   AND CP.DEL_YN = 'N'
			   AND PI.DEL_YN = 'N'
		]]>
		<if test='apcCd != null and apcCd != ""'>
			   AND CP.APC_CD = #{apcCd}
		</if>
		<if test='clclnYmdFrom != null and clclnYmdFrom != ""'>
		   	   AND CP.CLCLN_YMD <![CDATA[>=]]> #{clclnYmdFrom}
		</if>
		<if test='clclnYmdTo != null and clclnYmdTo != ""'>
		       AND CP.CLCLN_YMD <![CDATA[<=]]> #{clclnYmdTo}
		</if>
		<if test='clclnCrtrCd != null and clclnCrtrCd != ""'>
		       AND CP.CLCLN_CRTR_CD = #{clclnCrtrCd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
		       AND CP.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
		       AND CP.VRTY_CD = #{vrtyCd}
		</if>
		<if test='prdcrCd != null and prdcrCd != ""'>
		       AND CP.PRDCR_CD = #{prdcrCd}
		</if>
		<if test='cfmtnYn != null and cfmtnYn != ""'>
		       AND CP.CFMTN_YN = #{cfmtnYn}
		</if>
		<![CDATA[
		 	 ORDER BY
		 	 		  CP.APC_CD
	    		 	, CP.CLCLN_YMD
	    		 	, CP.CLCLN_SN
    		  ) pt0
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.insertClclnPrfmnc	-->
	<!-- DESC : 정산정보조회 목록 등록.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertClclnPrfmnc" parameterType="com.at.apcss.am.clcln.vo.ClclnPrfmncVO">
    	<![CDATA[
    	INSERT INTO TB_CLCLN_PRFMNC
    		(
    			APC_CD
		   	  , CLCLN_YMD
		      , CLCLN_SN
    		  , PRDCR_CD
    		  , PRDCR_NM
    		  , WRHS_SE_CD
    		  , GDS_SE_CD
    		  , QNTT
    		  , WGHT
    		  , ITEM_CD
    		  , VRTY_CD
    		  , SPCFCT_CD
    		  , GRD_1
    		  , GRD_2
    		  , GRD_3
    		  , GRD_4
    		  , GRD_5
    		  , RKNG_AMT
    		  , CFMTN_AMT
    		  , CFMTN_YN
    		  , DEL_YN
    		  , SYS_FRST_INPT_DT
    		  , SYS_FRST_INPT_USER_ID
    		  , SYS_FRST_INPT_PRGRM_ID
    		  , SYS_LAST_CHG_DT
    		  , SYS_LAST_CHG_USER_ID
    		  , SYS_LAST_CHG_PRGRM_ID
    		)
   		VALUES
   			(
		 	    #{apcCd}
		   	  , #{clclnYmd}
		   	  , #{clclnSn}
    		  , #{prdcrCd}
    		  , #{prdcrNm}
    		  , #{wrhsSeCd}
    		  , #{gdsSeCd}
    		  , #{qntt}
    		  , #{wght}
    		  , #{itemCd}
    		  , #{vrtyCd}
    		  , #{spcfctCd}
    		  , #{grd1}
    		  , #{grd2}
    		  , #{grd3}
    		  , #{grd4}
    		  , #{grd5}
    		  , #{rkngAmt}
    		  , #{cfmtnAmt}
    		  , #{cfmtnYn}
    		  , #{delYn}
    		  , SYSDATE
    		  , #{sysFrstInptUserId}
    		  , #{sysFrstInptPrgrmId}
    		  , SYSDATE
    		  , #{sysLastChgUserId}
    		  , #{sysLastChgPrgrmId}
   			)
    	]]>
    </insert>


    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.insertSpClclnPrfmncCrt-->
	<!-- DESC : 정산실적 생성.	                         	             	 			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSpClclnPrfmncCrt" statementType="CALLABLE" parameterType="com.at.apcss.am.clcln.vo.ClclnPrfmncVO">
    	<![CDATA[
			{call /* com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.insertSpClclnPrfmncCrt */
				SP_CLCLN_PRFMNC_CRT (
					  #{sysLastChgUserId}
	   		  		, #{sysLastChgPrgrmId}
					, #{apcCd}
					, #{clclnYmd}
					, #{prfmncYmdFrom}
					, #{prfmncYmdTo}
					, #{clclnCrtrCd}
					, #{rtnCd, jdbcType=VARCHAR, mode=OUT}
					, #{rtnMsg, jdbcType=VARCHAR, mode=OUT}
				)
			}
		]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.updateClclnPrfmnc	-->
	<!-- DESC : 정산정보조회 목록 수정.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateClclnPrfmnc" parameterType="com.at.apcss.am.clcln.vo.ClclnPrfmncVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.updateClclnPrfmnc */
				TB_CLCLN_PRFMNC
			   SET SYS_LAST_CHG_DT 			= SYSDATE
	    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
	    		 , CFMTN_AMT 				= #{cfmtnAmt}
	    		 , CFMTN_YN 				= #{cfmtnYn}
			 WHERE APC_CD 					= #{apcCd}
			   AND CLCLN_YMD 				= #{clclnYmd}
			   AND CLCLN_SN 				= #{clclnSn}
		]]>
	</update>


    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.updateClclnPrfmncForDelY	-->
	<!-- DESC : 정산정보조회 삭제 : delYn 'Y'							             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateClclnPrfmncForDelY" parameterType="com.at.apcss.am.clcln.vo.ClclnPrfmncVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.updateClclnPrfmncForDelY */
				TB_CLCLN_PRFMNC
			   SET SYS_LAST_CHG_DT 			= SYSDATE
	    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
	    		 , DEL_YN = 'Y'
			 WHERE APC_CD 					= #{apcCd}
			   AND CLCLN_YMD 				= #{clclnYmd}
			   AND CLCLN_SN 				= #{clclnSn}
		]]>
	</update>
	
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.deleteClclnPrfmnc	-->
	<!-- DESC : 정산정보조회 목록 삭제.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteClclnPrfmnc" parameterType="com.at.apcss.am.clcln.vo.ClclnPrfmncVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.clcln.mapper.ClclnPrfmncMapper.deleteClclnPrfmnc */
				TB_CLCLN_PRFMNC
			 WHERE APC_CD 		= #{apcCd}
			   AND CLCLN_YMD 	= #{clclnYmd}
			   AND CLCLN_SN 	= #{clclnSn}
		]]>
	</delete>

</mapper>


