<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : ClclnRsltMapper.xml                                   			-->
<!-- DESC : 정산결과 mapper                   				                 	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2024.09.21  	신정철        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.clcln.mapper.ClclnRsltMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnCrtrMapper.selectClclnRsltList	-->
	<!-- DESC : 정산결과 목록 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectClclnRsltList" parameterType="com.at.apcss.am.clcln.vo.ClclnRsltVO" resultType="com.at.apcss.am.clcln.vo.ClclnRsltVO">
    	<![CDATA[
    	
			SELECT /* com.at.apcss.am.clcln.mapper.ClclnRsltMapper.selectClclnRsltList */
				  pt0.*	
				, (SELECT FN_GET_CLCLN_DTL_NM(pt0.APC_CD, 'CLCLN_ARTCL_KND', 'CLCLN_SE_CD', PI.CLCLN_SE_CD) FROM DUAL) AS CLCLN_SE_NM
				, (SELECT FN_GET_CLCLN_DTL_NM(pt0.APC_CD, 'CLCLN_ARTCL_KND', 'CLCLN_CLSF', PI.CLCLN_CLSF) FROM DUAL) AS CLCLN_CLSF_NM
				, PI.PRDCR_NM				AS PRDCR_NM
				, PI.TELNO					AS TELNO
				, PI.FRMHS_TELNO			AS FRMHS_TELNO
				, PI.FRMHS_ADDR				AS FRMHS_ADDR
				, PI.FRMHS_CTPV				AS FRMHS_CTPV
				, (SELECT FN_GET_COM_CD_VL_NM('UNTY_CTPV', PI.FRMHS_CTPV) FROM DUAL) AS FRMHS_CTPV_NM
				, PI.PLOR_CD				AS PLOR_CD
				, PI.CRTR_AREA				AS CTRT_AREA
				, PI.CRTR_AREA * 3.3		AS CTRT_AREA_M
				, PI.PLNTNG_AREA			AS PLNTNG_AREA
			  FROM (
    	
	    		SELECT 
				  RS.APC_CD					AS APC_CD
				, RS.CLCLN_YR				AS CLCLN_YR
				, RS.CLCLN_SN				AS CLCLN_SN
				, RS.PRDCR_CD				AS PRDCR_CD
				, MAX(RS.CLCLN_SE_CD)		AS CLCLN_SE_CD
				, MAX(RS.CLCLN_CLSF)		AS CLCLN_CLSF
				
				, MAX(RS.WRHS_SE_CD)			AS WRHS_SE_CD
				, MAX(RS.GDS_SE_CD)			AS GDS_SE_CD
				, MAX(RS.ITEM_CD)			AS ITEM_CD
				, MAX(RS.ITEM_VRTY_CD)		AS ITEM_VRTY_CD
				, MAX(RS.SPCFCT_CD)			AS SPCFCT_CD
				
				-- 종자별 실적
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_1 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_1
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_1 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_1
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_1 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_1
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_2 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_2
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_2 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_2
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_2 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_2
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_3 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_3
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_3 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_3
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_3 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_3
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_4 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_4
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_4 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_4
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_4 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_4
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_5 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_5
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_5 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_5
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_5 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_5
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_6 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_6
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_6 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_6
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_6 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_6
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_7 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_7
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_7 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_7
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_7 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_7
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_8 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_8
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_8 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_8
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_8 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_8
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_9 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_9
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_9 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_9
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_9 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_9
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_10 THEN RS.CLCLN_UNTPRC END)		AS SEED_CLCLN_UNTPRC_10
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_10 THEN RS.CLCLN_QNTT END)		AS SEED_CLCLN_QNTT_10
				, SUM(CASE WHEN RS.DTL_CD = SEED.DTL_CD_10 THEN RS.CLCLN_AMT END)		AS SEED_CLCLN_AMT_10
				-- 등급별 실적
				-- 입고등급
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_1 THEN RS.CLCLN_UNTPRC END)		AS WRHS_CLCLN_UNTPRC_1
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_1 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_1
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_1 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_1
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_1 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_1
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_1 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_1	
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_2 THEN RS.CLCLN_UNTPRC END)		AS WRHS_CLCLN_UNTPRC_2
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_2 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_2
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_2 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_2
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_2 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_2
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_2 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_2
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_3 THEN RS.CLCLN_UNTPRC END)		AS WRHS_CLCLN_UNTPRC_3
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_3 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_3
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_3 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_3
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_3 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_3
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_3 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_3
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_4 THEN RS.CLCLN_UNTPRC END)		AS WRHS_CLCLN_UNTPRC_4
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_4 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_4
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_4 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_4
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_4 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_4
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_4 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_4
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_5 THEN RS.CLCLN_UNTPRC END)		AS WRHS_CLCLN_UNTPRC_5
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_5 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_5
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_5 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_5
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_5 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_5
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_5 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_5
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_6 THEN RS.CLCLN_UNTPRC END)		AS WRHS_CLCLN_UNTPRC_6
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_6 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_6
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_6 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_6
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_6 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_6
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_6 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_6
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_7 THEN RS.CLCLN_UNTPRC END)		AS WRHS_CLCLN_UNTPRC_7
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_7 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_7
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_7 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_7
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_7 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_7
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_7 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_7
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_8 THEN RS.CLCLN_UNTPRC END)		AS WRHS_CLCLN_UNTPRC_8
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_8 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_8
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_8 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_8
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_8 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_8
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_8 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_8
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_9 THEN RS.CLCLN_UNTPRC END)		AS WRHS_CLCLN_UNTPRC_9
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_9 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_9
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_9 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_9
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_9 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_9
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_9 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_9
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_10 THEN RS.CLCLN_UNTPRC END)	AS WRHS_CLCLN_UNTPRC_10
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_10 THEN RS.CLCLN_QNTT END)		AS WRHS_CLCLN_QNTT_10
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_10 THEN RS.CLCLN_WGHT END)		AS WRHS_CLCLN_WGHT_10
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_10 THEN RS.CLCLN_AMT END)		AS WRHS_CLCLN_AMT_10
				, SUM(CASE WHEN RS.DTL_CD = WRHS.DTL_CD_10 THEN RS.CFMTN_AMT END)		AS WRHS_CFMTN_AMT_10
			
				-- 선별등급
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_1 THEN RS.CLCLN_UNTPRC END)		AS SORT_CLCLN_UNTPRC_1
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_1 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_1
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_1 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_1
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_1 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_1
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_1 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_1	
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_2 THEN RS.CLCLN_UNTPRC END)		AS SORT_CLCLN_UNTPRC_2
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_2 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_2
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_2 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_2
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_2 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_2
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_2 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_2
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_3 THEN RS.CLCLN_UNTPRC END)		AS SORT_CLCLN_UNTPRC_3
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_3 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_3
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_3 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_3
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_3 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_3
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_3 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_3
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_4 THEN RS.CLCLN_UNTPRC END)		AS SORT_CLCLN_UNTPRC_4
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_4 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_4
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_4 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_4
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_4 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_4
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_4 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_4
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_5 THEN RS.CLCLN_UNTPRC END)		AS SORT_CLCLN_UNTPRC_5
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_5 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_5
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_5 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_5
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_5 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_5
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_5 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_5
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_6 THEN RS.CLCLN_UNTPRC END)		AS SORT_CLCLN_UNTPRC_6
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_6 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_6
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_6 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_6
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_6 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_6
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_6 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_6
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_7 THEN RS.CLCLN_UNTPRC END)		AS SORT_CLCLN_UNTPRC_7
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_7 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_7
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_7 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_7
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_7 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_7
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_7 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_7
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_8 THEN RS.CLCLN_UNTPRC END)		AS SORT_CLCLN_UNTPRC_8
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_8 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_8
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_8 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_8
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_8 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_8
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_8 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_8
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_9 THEN RS.CLCLN_UNTPRC END)		AS SORT_CLCLN_UNTPRC_9
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_9 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_9
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_9 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_9
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_9 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_9
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_9 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_9
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_10 THEN RS.CLCLN_UNTPRC END)	AS SORT_CLCLN_UNTPRC_10
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_10 THEN RS.CLCLN_QNTT END)		AS SORT_CLCLN_QNTT_10
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_10 THEN RS.CLCLN_WGHT END)		AS SORT_CLCLN_WGHT_10
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_10 THEN RS.CLCLN_AMT END)		AS SORT_CLCLN_AMT_10
				, SUM(CASE WHEN RS.DTL_CD = SORT.DTL_CD_10 THEN RS.CFMTN_AMT END)		AS SORT_CFMTN_AMT_10
			
				-- 상품등급
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_1 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_1
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_1 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_1
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_1 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_1
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_1 THEN RS.CLCLN_AMT END)			AS GDS_CLCLN_AMT_1
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_1 THEN RS.CFMTN_AMT END)			AS GDS_CFMTN_AMT_1	
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_2 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_2
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_2 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_2
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_2 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_2
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_2 THEN RS.CLCLN_AMT END)			AS GDS_CLCLN_AMT_2
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_2 THEN RS.CFMTN_AMT END)			AS GDS_CFMTN_AMT_2
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_3 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_3
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_3 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_3
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_3 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_3
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_3 THEN RS.CLCLN_AMT END)			AS GDS_CLCLN_AMT_3
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_3 THEN RS.CFMTN_AMT END)			AS GDS_CFMTN_AMT_3
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_4 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_4
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_4 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_4
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_4 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_4
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_4 THEN RS.CLCLN_AMT END)			AS GDS_CLCLN_AMT_4
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_4 THEN RS.CFMTN_AMT END)			AS GDS_CFMTN_AMT_4
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_5 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_5
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_5 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_5
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_5 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_5
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_5 THEN RS.CLCLN_AMT END)			AS GDS_CLCLN_AMT_5
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_5 THEN RS.CFMTN_AMT END)			AS GDS_CFMTN_AMT_5
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_6 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_6
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_6 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_6
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_6 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_6
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_6 THEN RS.CLCLN_AMT END)			AS GDS_CLCLN_AMT_6
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_6 THEN RS.CFMTN_AMT END)			AS GDS_CFMTN_AMT_6
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_7 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_7
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_7 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_7
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_7 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_7
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_7 THEN RS.CLCLN_AMT END)			AS GDS_CLCLN_AMT_7
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_7 THEN RS.CFMTN_AMT END)			AS GDS_CFMTN_AMT_7
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_8 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_8
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_8 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_8
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_8 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_8
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_8 THEN RS.CLCLN_AMT END)			AS GDS_CLCLN_AMT_8
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_8 THEN RS.CFMTN_AMT END)			AS GDS_CFMTN_AMT_8
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_9 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_9
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_9 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_9
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_9 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_9
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_9 THEN RS.CLCLN_AMT END)			AS GDS_CLCLN_AMT_9
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_9 THEN RS.CFMTN_AMT END)			AS GDS_CFMTN_AMT_9
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_10 THEN RS.CLCLN_UNTPRC END)		AS GDS_CLCLN_UNTPRC_10
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_10 THEN RS.CLCLN_QNTT END)		AS GDS_CLCLN_QNTT_10
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_10 THEN RS.CLCLN_WGHT END)		AS GDS_CLCLN_WGHT_10
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_10 THEN RS.CLCLN_AMT END)		AS GDS_CLCLN_AMT_10
				, SUM(CASE WHEN RS.DTL_CD = GDS.DTL_CD_10 THEN RS.CFMTN_AMT END)		AS GDS_CFMTN_AMT_10	
				, SUM(CASE WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_RSLT_KND' THEN RS.CLCLN_QNTT END)	AS CLCLN_QNTT
				, SUM(CASE WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_RSLT_KND' THEN RS.CLCLN_WGHT END)	AS CLCLN_WGHT
				, SUM(CASE WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_RSLT_KND' THEN RS.CLCLN_AMT END)	AS CLCLN_AMT
				, SUM(CASE WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_RSLT_KND' THEN RS.CFMTN_AMT END)	AS CFMTN_AMT
				
				-- 추가지급금
				, SUM(CASE WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND' AND RS.CRTR_CD = 'EXTRA_AMT' THEN RS.CLCLN_UNTPRC END) AS EXTRA_UNTPRC
				, SUM(CASE WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND' AND RS.CRTR_CD = 'EXTRA_AMT' THEN RS.CLCLN_AMT END) AS EXTRA_AMT
				
				-- 수수료
				, SUM(CASE WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND' AND RS.CRTR_CD = 'FEE_AMT' THEN RS.CLCLN_AMT END) AS FEE_AMT
				
				-- 계약금
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'CTRT_AMT'
						 AND RS.DTL_CD = 'SD_PYMT' THEN RS.CLCLN_AMT
					END
				)		AS CTRT_SD_PYMT		-- 종자대금(계약금)
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'CTRT_AMT'
						 AND RS.DTL_CD = 'CASH' THEN RS.CLCLN_AMT
					END
				)		AS CTRT_CASH			-- 현금(계약금)
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'CTRT_AMT' THEN RS.CLCLN_AMT
					END
				)		AS CTRT_AMT			-- 계약금 합계
				
				-- 적자금
				, SUM(CASE WHEN RS.DTL_CD = FUND.DTL_CD_1 THEN RS.CLCLN_AMT END)		AS ACML_FUND_1
				, SUM(CASE WHEN RS.DTL_CD = FUND.DTL_CD_2 THEN RS.CLCLN_AMT END)		AS ACML_FUND_2
				, SUM(CASE WHEN RS.DTL_CD = FUND.DTL_CD_3 THEN RS.CLCLN_AMT END)		AS ACML_FUND_3
				, SUM(CASE WHEN RS.DTL_CD = FUND.DTL_CD_4 THEN RS.CLCLN_AMT END)		AS ACML_FUND_4
				, SUM(CASE WHEN RS.DTL_CD = FUND.DTL_CD_5 THEN RS.CLCLN_AMT END)		AS ACML_FUND_5
				, SUM(CASE WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND' AND RS.CRTR_CD = 'ACML_FUND' THEN RS.CLCLN_AMT END) AS ACML_FUND
				
				-- 공제내역
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'DDC_AMT'
						 AND RS.DTL_CD = 'MTRL_PYMT' THEN RS.CLCLN_AMT
					END
				)		AS DDC_MTRL_PYMT		-- 농자재대금
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'DDC_AMT'
						 AND RS.DTL_CD = 'TRSPRT_CST' THEN RS.CLCLN_AMT
					END
				)		AS DDC_TRSPRT_CST		-- 운반비
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'DDC_AMT'
						 AND RS.DTL_CD = 'JOB_CST' THEN RS.CLCLN_AMT
					END
				)		AS DDC_JOB_CST			-- 작업비
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'DDC_AMT'
						 AND RS.DTL_CD = 'RNTL_CRG' THEN RS.CLCLN_AMT
					END
				)		AS DDC_RNTL_CRG			-- 백대여료
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'DDC_AMT'
						 AND RS.DTL_CD = 'VLNTRL_ENDW' THEN RS.CLCLN_AMT
					END
				)		AS DDC_VLNTRL_ENDW	-- 출하회자조금
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'DDC_AMT'
						 AND RS.DTL_CD = 'N_RTN_DDC' THEN RS.CLCLN_AMT
					END
				)		AS DDC_N_RTN_DDC	-- 백미반납공제금
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'DDC_AMT'
						 AND RS.DTL_CD = 'PRTPAY' THEN RS.CLCLN_AMT
					END
				)		AS DDC_PRTPAY	-- 중도금
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'DDC_AMT' THEN RS.CLCLN_AMT
					END
				)		AS DDC_AMT		-- 공제금
				
				-- END_공제금
				
				-- 선급금
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'ADVNC_AMT'
						 AND RS.DTL_CD = 'SD_PYMT' THEN RS.CLCLN_AMT
					END
				)		AS ADVNC_SD_PYMT	-- 종자대금(선금)
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'ADVNC_AMT'
						 AND RS.DTL_CD = 'PRVPY_AMT' THEN RS.CLCLN_AMT
					END
				)		AS ADVNC_PRVPY_AMT	-- 가지급금(선금)
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'ADVNC_AMT' THEN RS.CLCLN_AMT
					END
				)		AS ADVNC_AMT	-- 선금
				
				-- 최종지급금
				, SUM(
					CASE
						WHEN RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
						 AND RS.CRTR_CD = 'GIVE_AMT' THEN RS.CLCLN_AMT
					END
				)		AS GIVE_AMT
			
			  FROM (
				SELECT
					  CR.APC_CD				AS APC_CD
					, CR.CLCLN_YR			AS CLCLN_YR
					, CR.CLCLN_SN			AS CLCLN_SN
					, CR.PRDCR_CD			AS PRDCR_CD
					, CR.RSLT_SN			AS RSLT_SN
					, CR.CLCLN_CRTR_TYPE	AS CLCLN_CRTR_TYPE
					, CR.CRTR_CD			AS CRTR_CD
					, CR.DTL_CD				AS DTL_CD
					, CR.WRHS_SE_CD			AS WRHS_SE_CD
					, CR.GDS_SE_CD			AS GDS_SE_CD
					, CR.ITEM_CD			AS ITEM_CD
					, CR.ITEM_VRTY_CD		AS ITEM_VRTY_CD
					, CR.SPCFCT_CD			AS SPCFCT_CD
					, CR.GRD_CD				AS GRD_CD
					, CR.CLCLN_SE_CD		AS CLCLN_SE_CD
					, CR.CLCLN_CLSF			AS CLCLN_CLSF
					, CR.CLCLN_UNTPRC		AS CLCLN_UNTPRC
					, CR.UNTPRC_UNIT		AS UNTPRC_UNIT
					, CR.CLCLN_QNTT			AS CLCLN_QNTT
					, CR.CLCLN_WGHT			AS CLCLN_WGHT
					, CR.CLCLN_AMT			AS CLCLN_AMT
					, CR.CFMTN_YN			AS CFMTN_YN
					, CR.CFMTN_AMT			AS CFMTN_AMT
					, CR.DTL_EXTRA_CD		AS DTL_EXTRA_CD
				  FROM TB_CLCLN_RSLT CR
				 WHERE CR.DEL_YN = 'N'
				   AND CR.APC_CD = #{apcCd}
				   AND CR.CLCLN_YR = #{clclnYr}
				   AND CR.CLCLN_SN = #{clclnSn}
		]]>
		
		<if test='clclnSeCd != null and clclnSeCd != ""'>
		       	   AND CR.CLCLN_SE_CD = #{clclnSeCd}
		</if>
		
		<if test='clclnClsf != null and clclnClsf != ""'>
		       	   AND CR.CLCLN_CLSF = #{clclnClsf}
		</if>

		<if test='prdcrCd != null and prdcrCd != ""'>
		       	   AND CR.PRDCR_CD = #{prdcrCd}
		</if>
		
		<if test='prdcrNm != null and prdcrNm != ""'>
				   	   AND EXISTS (
				   	   		SELECT 1
				   	   		  FROM TB_PRDCR_INFO X
				   	   		 WHERE X.APC_CD = CR.APC_CD
				   	   		   AND X.PRDCR_NM LIKE '%' || #{prdcrNm} || '%'
				   	   		   AND X.DEL_YN = 'N'
				   	   	)
		</if>

    	<![CDATA[
					) RS
					LEFT JOIN (
						SELECT
							  MAX(A.CRTR_VL)			AS CRTR_VL
							, MAX(CASE WHEN A.SEQ = 1 THEN A.DTL_CD END) AS DTL_CD_1
							, MAX(CASE WHEN A.SEQ = 2 THEN A.DTL_CD END) AS DTL_CD_2
							, MAX(CASE WHEN A.SEQ = 3 THEN A.DTL_CD END) AS DTL_CD_3
							, MAX(CASE WHEN A.SEQ = 4 THEN A.DTL_CD END) AS DTL_CD_4
							, MAX(CASE WHEN A.SEQ = 5 THEN A.DTL_CD END) AS DTL_CD_5
							, MAX(CASE WHEN A.SEQ = 6 THEN A.DTL_CD END) AS DTL_CD_6
							, MAX(CASE WHEN A.SEQ = 7 THEN A.DTL_CD END) AS DTL_CD_7
							, MAX(CASE WHEN A.SEQ = 8 THEN A.DTL_CD END) AS DTL_CD_8
							, MAX(CASE WHEN A.SEQ = 9 THEN A.DTL_CD END) AS DTL_CD_9
							, MAX(CASE WHEN A.SEQ = 10 THEN A.DTL_CD END) AS DTL_CD_10
							, 'SEED'		AS CRTR_CD
						  FROM (
								SELECT
									  CC.CRTR_VL		AS CRTR_VL
									, CD.DTL_SN		AS DTL_SN
									, CD.DTL_CD		AS DTL_CD
									, CD.DTL_VL		AS DTL_VL
									, CD.INDCT_SEQ	AS INDCT_SEQ
									, ROW_NUMBER() OVER (ORDER BY CD.INDCT_SEQ, CD.DTL_SN)	AS SEQ
								  FROM TB_CLCLN_CRTR CC
								  JOIN TB_CLCLN_CRTR_DTL CD
								    ON CD.APC_CD = CC.APC_CD
								   AND CD.CLCLN_CRTR_TYPE = CC.CLCLN_CRTR_TYPE
								   AND CD.CRTR_CD = CC.CRTR_CD
								   AND CD.DEL_YN = 'N'
								   AND CD.USE_YN = 'Y'
								   
								 WHERE CC.APC_CD = #{apcCd}
								   AND CC.CLCLN_CRTR_TYPE = 'CLCLN_UNTPRC_KND'
								   AND CC.CRTR_CD = 'SEED'
								   AND CC.DEL_YN = 'N'
								   AND CC.USE_YN = 'Y'
							) A
						) SEED
					  ON RS.CLCLN_CRTR_TYPE = 'CLCLN_RSLT_KND'
					 AND SEED.CRTR_CD = RS.CRTR_CD
				
					LEFT JOIN (
						SELECT
							  MAX(A.CRTR_VL)			AS CRTR_VL
							, MAX(CASE WHEN A.SEQ = 1 THEN A.DTL_CD END) AS DTL_CD_1
							, MAX(CASE WHEN A.SEQ = 2 THEN A.DTL_CD END) AS DTL_CD_2
							, MAX(CASE WHEN A.SEQ = 3 THEN A.DTL_CD END) AS DTL_CD_3
							, MAX(CASE WHEN A.SEQ = 4 THEN A.DTL_CD END) AS DTL_CD_4
							, MAX(CASE WHEN A.SEQ = 5 THEN A.DTL_CD END) AS DTL_CD_5
							, MAX(CASE WHEN A.SEQ = 6 THEN A.DTL_CD END) AS DTL_CD_6
							, MAX(CASE WHEN A.SEQ = 7 THEN A.DTL_CD END) AS DTL_CD_7
							, MAX(CASE WHEN A.SEQ = 8 THEN A.DTL_CD END) AS DTL_CD_8
							, MAX(CASE WHEN A.SEQ = 9 THEN A.DTL_CD END) AS DTL_CD_9
							, MAX(CASE WHEN A.SEQ = 10 THEN A.DTL_CD END) AS DTL_CD_10
							, 'WRHS'		AS CRTR_CD
						  FROM (
								SELECT
									  CC.CRTR_VL		AS CRTR_VL
									, CD.DTL_SN		AS DTL_SN
									, CD.DTL_CD		AS DTL_CD
									, CD.DTL_VL		AS DTL_VL
									, CD.INDCT_SEQ	AS INDCT_SEQ
									, ROW_NUMBER() OVER (ORDER BY CD.INDCT_SEQ, CD.DTL_SN)	AS SEQ
								  FROM TB_CLCLN_CRTR CC
								  JOIN TB_CLCLN_CRTR_DTL CD
								    ON CD.APC_CD = CC.APC_CD
								   AND CD.CLCLN_CRTR_TYPE = CC.CLCLN_CRTR_TYPE
								   AND CD.CRTR_CD = CC.CRTR_CD
								   AND CD.DEL_YN = 'N'
								   AND CD.USE_YN = 'Y'
								   
								 WHERE CC.APC_CD = #{apcCd}
								   AND CC.CLCLN_CRTR_TYPE = 'CLCLN_UNTPRC_KND'
								   AND CC.CRTR_CD = 'WRHS_GRD'
								   AND CC.DEL_YN = 'N'
								   AND CC.USE_YN = 'Y'
							) A
						) WRHS
					  ON RS.CLCLN_CRTR_TYPE = 'CLCLN_RSLT_KND'
					 AND WRHS.CRTR_CD = RS.CRTR_CD
			
					LEFT JOIN (
						SELECT
							  MAX(A.CRTR_VL)			AS CRTR_VL
							, MAX(CASE WHEN A.SEQ = 1 THEN A.DTL_CD END) AS DTL_CD_1
							, MAX(CASE WHEN A.SEQ = 2 THEN A.DTL_CD END) AS DTL_CD_2
							, MAX(CASE WHEN A.SEQ = 3 THEN A.DTL_CD END) AS DTL_CD_3
							, MAX(CASE WHEN A.SEQ = 4 THEN A.DTL_CD END) AS DTL_CD_4
							, MAX(CASE WHEN A.SEQ = 5 THEN A.DTL_CD END) AS DTL_CD_5
							, MAX(CASE WHEN A.SEQ = 6 THEN A.DTL_CD END) AS DTL_CD_6
							, MAX(CASE WHEN A.SEQ = 7 THEN A.DTL_CD END) AS DTL_CD_7
							, MAX(CASE WHEN A.SEQ = 8 THEN A.DTL_CD END) AS DTL_CD_8
							, MAX(CASE WHEN A.SEQ = 9 THEN A.DTL_CD END) AS DTL_CD_9
							, MAX(CASE WHEN A.SEQ = 10 THEN A.DTL_CD END) AS DTL_CD_10
							, 'SORT'		AS CRTR_CD
						  FROM (
								SELECT
									  CC.CRTR_VL		AS CRTR_VL
									, CD.DTL_SN		AS DTL_SN
									, CD.DTL_CD		AS DTL_CD
									, CD.DTL_VL		AS DTL_VL
									, CD.INDCT_SEQ	AS INDCT_SEQ
									, ROW_NUMBER() OVER (ORDER BY CD.INDCT_SEQ, CD.DTL_SN)	AS SEQ
								  FROM TB_CLCLN_CRTR CC
								  JOIN TB_CLCLN_CRTR_DTL CD
								    ON CD.APC_CD = CC.APC_CD
								   AND CD.CLCLN_CRTR_TYPE = CC.CLCLN_CRTR_TYPE
								   AND CD.CRTR_CD = CC.CRTR_CD
								   AND CD.DEL_YN = 'N'
								   AND CD.USE_YN = 'Y'
								   
								 WHERE CC.APC_CD = #{apcCd}
								   AND CC.CLCLN_CRTR_TYPE = 'CLCLN_UNTPRC_KND'
								   AND CC.CRTR_CD = 'SORT_GRD'
								   AND CC.DEL_YN = 'N'
								   AND CC.USE_YN = 'Y'
							) A
						) SORT
					  ON RS.CLCLN_CRTR_TYPE = 'CLCLN_RSLT_KND'
					 AND SORT.CRTR_CD = RS.CRTR_CD
			
					LEFT JOIN (
						SELECT
							  MAX(A.CRTR_VL)			AS CRTR_VL
							, MAX(CASE WHEN A.SEQ = 1 THEN A.DTL_CD END) AS DTL_CD_1
							, MAX(CASE WHEN A.SEQ = 2 THEN A.DTL_CD END) AS DTL_CD_2
							, MAX(CASE WHEN A.SEQ = 3 THEN A.DTL_CD END) AS DTL_CD_3
							, MAX(CASE WHEN A.SEQ = 4 THEN A.DTL_CD END) AS DTL_CD_4
							, MAX(CASE WHEN A.SEQ = 5 THEN A.DTL_CD END) AS DTL_CD_5
							, MAX(CASE WHEN A.SEQ = 6 THEN A.DTL_CD END) AS DTL_CD_6
							, MAX(CASE WHEN A.SEQ = 7 THEN A.DTL_CD END) AS DTL_CD_7
							, MAX(CASE WHEN A.SEQ = 8 THEN A.DTL_CD END) AS DTL_CD_8
							, MAX(CASE WHEN A.SEQ = 9 THEN A.DTL_CD END) AS DTL_CD_9
							, MAX(CASE WHEN A.SEQ = 10 THEN A.DTL_CD END) AS DTL_CD_10
							, 'GDS'		AS CRTR_CD
						  FROM (
								SELECT
									  CC.CRTR_VL		AS CRTR_VL
									, CD.DTL_SN		AS DTL_SN
									, CD.DTL_CD		AS DTL_CD
									, CD.DTL_VL		AS DTL_VL
									, CD.INDCT_SEQ	AS INDCT_SEQ
									, ROW_NUMBER() OVER (ORDER BY CD.INDCT_SEQ, CD.DTL_SN)	AS SEQ
								  FROM TB_CLCLN_CRTR CC
								  JOIN TB_CLCLN_CRTR_DTL CD
								    ON CD.APC_CD = CC.APC_CD
								   AND CD.CLCLN_CRTR_TYPE = CC.CLCLN_CRTR_TYPE
								   AND CD.CRTR_CD = CC.CRTR_CD
								   AND CD.DEL_YN = 'N'
								   AND CD.USE_YN = 'Y'
								   
								 WHERE CC.APC_CD = #{apcCd}
								   AND CC.CLCLN_CRTR_TYPE = 'CLCLN_UNTPRC_KND'
								   AND CC.CRTR_CD = 'SORT_GRD'
								   AND CC.DEL_YN = 'N'
								   AND CC.USE_YN = 'Y'
							) A
						) GDS
					  ON RS.CLCLN_CRTR_TYPE = 'CLCLN_RSLT_KND'
					 AND RS.CRTR_CD IN ('PCKG', 'SPMT')
			
					LEFT JOIN (
						SELECT
							  MAX(A.CRTR_VL)			AS CRTR_VL
							, MAX(CASE WHEN A.SEQ = 1 THEN A.DTL_CD END) AS DTL_CD_1
							, MAX(CASE WHEN A.SEQ = 2 THEN A.DTL_CD END) AS DTL_CD_2
							, MAX(CASE WHEN A.SEQ = 3 THEN A.DTL_CD END) AS DTL_CD_3
							, MAX(CASE WHEN A.SEQ = 4 THEN A.DTL_CD END) AS DTL_CD_4
							, MAX(CASE WHEN A.SEQ = 5 THEN A.DTL_CD END) AS DTL_CD_5
						  FROM (
								SELECT
									  CC.CRTR_VL		AS CRTR_VL
									, CD.DTL_SN		AS DTL_SN
									, CD.DTL_CD		AS DTL_CD
									, CD.DTL_VL		AS DTL_VL
									, CD.INDCT_SEQ	AS INDCT_SEQ
									, ROW_NUMBER() OVER (ORDER BY CD.INDCT_SEQ, CD.DTL_SN)	AS SEQ
								  FROM TB_CLCLN_CRTR CC
								  JOIN TB_CLCLN_CRTR_DTL CD
								    ON CD.APC_CD = CC.APC_CD
								   AND CD.CLCLN_CRTR_TYPE = CC.CLCLN_CRTR_TYPE
								   AND CD.CRTR_CD = CC.CRTR_CD
								   AND CD.DEL_YN = 'N'
								   AND CD.USE_YN = 'Y'
								   
								 WHERE CC.APC_CD = #{apcCd}
								   AND CC.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
								   AND CC.CRTR_CD = 'ACML_FUND'
								   AND CC.DEL_YN = 'N'
								   AND CC.USE_YN = 'Y'
							) A
						) FUND
					  ON RS.CLCLN_CRTR_TYPE = 'CLCLN_AMT_KND'
					 AND RS.CRTR_CD = 'ACML_FUND'

			 WHERE RS.APC_CD IS NOT NULL
			 
			 GROUP BY
			 	  RS.APC_CD
				, RS.CLCLN_YR
				, RS.CLCLN_SN
				, RS.PRDCR_CD
		]]>
		
    	<![CDATA[			 
			) pt0
			 
		  JOIN TB_PRDCR_INFO PI
			ON PI.APC_CD = pt0.APC_CD
		   AND PI.PRDCR_CD = pt0.PRDCR_CD
		   AND PI.DEL_YN = 'N'
			 
		 WHERE pt0.APC_CD IS NOT NULL
		 ORDER BY PRDCR_CD
		
		]]>
    </select>
    
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnCrtrMapper.selectClclnRsltSn		-->
	<!-- DESC : 정산결과 일련번호 조회.                         	             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectClclnRsltSn" parameterType="com.at.apcss.am.clcln.vo.ClclnRsltDtlVO" resultType="com.at.apcss.am.clcln.vo.ClclnRsltDtlVO">
    	<![CDATA[
			SELECT /* com.at.apcss.am.clcln.mapper.ClclnRsltMapper.selectClclnRsltSn */
				  MIN(RSLT_SN)	AS RSLT_SN
				, MAX(DTL_CD) KEEP (DENSE_RANK FIRST ORDER BY RSLT_SN)	AS DTL_CD
			  FROM TB_CLCLN_RSLT			 
			 WHERE DEL_YN = 'N'
			   AND APC_CD = #{apcCd}
			   AND CLCLN_YR = #{clclnYr}
			   AND CLCLN_SN = #{clclnSn}
			   AND PRDCR_CD = #{prdcrCd}
			   AND CLCLN_CRTR_TYPE = #{clclnCrtrType}
			   AND CRTR_CD = #{crtrCd}
		]]>
		<if test='dtlCd != null and dtlCd != ""'>
			   AND DTL_CD = #{dtlCd}
		</if>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnCrtrMapper.insertClclnRslt		-->
	<!-- DESC : 정산결과 등록. 			                        	             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertClclnRslt" parameterType="com.at.apcss.am.clcln.vo.ClclnRsltDtlVO">
    	<![CDATA[
    		INSERT /* com.at.apcss.am.clcln.mapper.ClclnRsltMapper.insertClclnRslt */
    		  INTO TB_CLCLN_RSLT (
				  APC_CD
				, CLCLN_YR
				, CLCLN_SN
				, PRDCR_CD
				, RSLT_SN
				, CLCLN_CRTR_TYPE
				, CRTR_CD
				, DTL_CD
				, WRHS_SE_CD
				, GDS_SE_CD
				, ITEM_CD
				, ITEM_VRTY_CD
				, SPCFCT_CD
				, GRD_CD
				, CLCLN_SE_CD
				, CLCLN_CLSF
				, DTL_EXTRA_CD
				, CLCLN_UNTPRC
				, UNTPRC_UNIT
				, CLCLN_QNTT
				, CLCLN_WGHT
				, CLCLN_AMT
				, CFMTN_YN
				, CFMTN_AMT
				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_USER_ID
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_USER_ID
				, SYS_LAST_CHG_PRGRM_ID
    		  ) VALUES (
				  #{apcCd}
				, #{clclnYr}
				, #{clclnSn}
				, #{prdcrCd}
				, NVL((
					SELECT MAX(RSLT_SN)
					  FROM TB_CLCLN_RSLT
					 WHERE APC_CD = #{apcCd}
					   AND CLCLN_YR = #{clclnYr}
					   AND CLCLN_SN = #{clclnSn}
					   AND PRDCR_CD = #{prdcrCd}
					), 0) + 1
				, #{clclnCrtrType}
				, #{crtrCd}
				, #{dtlCd}
				, #{wrhsSeCd}
				, #{gdsSeCd}
				, #{itemCd}
				, #{itemVrtyCd}
				, #{spcfctCd}
				, #{grdCd}
				, #{clclnSeCd}
				, #{clclnClsf}
				, #{dtlExtraCd}
				, #{clclnUntprc}
				, #{untprcUnit}
				, #{clclnQntt}
				, #{clclnWght}
				, #{clclnAmt}
				, #{cfmtnYn}
				, #{cfmtnAmt}
    		  	, 'N'
    		    , SYSDATE
    		    , #{sysFrstInptUserId}
    		    , #{sysFrstInptPrgrmId}
    		    , SYSDATE
    		    , #{sysLastChgUserId}
    		    , #{sysLastChgPrgrmId}
    		  )
		]]>
	</insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnCrtrMapper.updateClclnRsltElmt	-->
	<!-- DESC : 정산결과 변경. 			                        	             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateClclnRsltElmt" parameterType="com.at.apcss.am.clcln.vo.ClclnRsltDtlVO">
    	<![CDATA[
    		UPDATE /* com.at.apcss.am.clcln.mapper.ClclnRsltMapper.updateClclnRsltElmt */
				TB_CLCLN_RSLT
			   SET
				  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
		]]>

		<if test='elmtQntt != null and elmtQntt != ""'>
			   	, CLCLN_QNTT = #{clclnQntt}
		</if>

		<if test='elmtWght != null and elmtWght != ""'>
			   	, CLCLN_WGHT = #{clclnWght}
		</if>
		
		<if test='elmtUntprc != null and elmtUntprc != ""'>
			   	, CLCLN_UNTPRC = #{clclnUntprc}
		</if>
		
		<if test='elmtAmt != null and elmtAmt != ""'>
			   	, CLCLN_AMT = #{clclnAmt}
		</if>

    	<![CDATA[
			 WHERE APC_CD 	= #{apcCd}
			   AND CLCLN_YR = #{clclnYr}
			   AND CLCLN_SN = #{clclnSn}
			   AND PRDCR_CD = #{prdcrCd}
			   AND RSLT_SN	= #{rsltSn}
		]]>

	</update>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.clcln.mapper.ClclnCrtrMapper.insertSpClclnRsltReg	-->
	<!-- DESC : 정산결과 변경. 			                        	             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.09.21  	신정철        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSpClclnRsltReg" statementType="CALLABLE" parameterType="com.at.apcss.am.clcln.vo.ClclnRsltDtlVO">
    	<![CDATA[
			{call /* com.at.apcss.am.clcln.mapper.ClclnRsltMapper.insertSpClclnRsltReg */
				SP_CLCLN_RSLT_REG (
					  #{sysLastChgUserId}
	   		  		, #{sysLastChgPrgrmId}
					, #{apcCd}
					, #{clclnYr}
					, #{clclnSn}
					, #{rtnCd, jdbcType=VARCHAR, mode=OUT}
					, #{rtnMsg, jdbcType=VARCHAR, mode=OUT}
				)
			}
		]]>
    </insert>
	
</mapper>


