<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : VrtyMapper.xml                                   			-->
<!-- DESC : 픔종 선택후 팝업 조회                                             	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.09.07  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.vrty.mapper.VrtyMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.apc..mapper.ApcEvrmntStngMapper.selectVrtyList		-->
	<!-- DESC : 픔종 선택후 팝업 조회			                                        -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.07  	김현호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectVrtyList" parameterType="com.at.apcss.am.vrty.vo.VrtyVO" resultType="com.at.apcss.am.vrty.vo.VrtyVO">
    	<![CDATA[
    	SELECT
			 AVC.ITEM_CD AS ITEM_CD
			, (SELECT FN_GET_ITEM_NM(AVC.ITEM_CD,AVC.APC_CD) FROM DUAL) AS ITEM_NM
			,AVC.VRTY_CD AS VRTY_CD
			,AVC.VRTY_NM AS VRTY_NM
		FROM TB_APC_VRTY_CRTR AVC
    	WHERE 1=1
		]]>
		<if test='vrtyNm != null and vrtyNm != ""'>
			AND AVC.VRTY_NM LIKE '%'||#{vrtyNm}||'%'
		</if>
		<if test='apcCd != null and apcCd != ""'>
			AND AVC.APC_CD = #{apcCd}
		</if>
<!-- 		<if test='itemCd != null and itemCd = ""'> -->
<!-- 			 AND  -->
<!-- 		</if> -->
<!-- 		<if test='itemNm != null and itemNm = ""'> -->
<!-- 			AND ITEM_Nm = #{itemNm} -->
<!-- 		</if> -->
		<![CDATA[
			order by ITEM_CD
		]]>
    </select>


</mapper>