<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.at.apcss.am.dscd.mapper.InvntrDscdMapper">
<!-- ==========================================================================	-->
<!-- NAME : InvntrDscdMapper.xml                                   			    -->
<!-- DESC : 폐기실적 mapper                   				                 	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2025.02.11  	유민지        	Initial Creation                            -->
<!-- ==========================================================================	-->

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.selectRawMtrInvntrList   -->
    <!-- DESC : 폐기 등록 - 재고 목록 조회 (원물).    	                         	    -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.01.22  	최지호        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <select id="selectRawMtrInvntrList" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" resultType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
    		SELECT
                  pt0.*
                , (SELECT FN_GET_PRDCR_NM(pt0.PRDCR_CD, pt0.APC_CD) FROM DUAL) AS PRDCR_NM
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
                , (SELECT FN_GET_GRD_NM_RAWMTR(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL) AS GRD_NM
                , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) AS WAREHOUSE_SE_NM
    		    , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) AS SPCFCT_NM
            FROM (
                SELECT
                      TRMI.APC_CD AS APC_CD
                    , TRMI.WRHSNO AS WRHSNO
                    , TRMI.PLTNO AS PLTNO
                    , TRMI.WRHS_YMD AS WRHS_YMD
                    , TRMI.PRDCR_CD AS PRDCR_CD
                    , TRMI.ITEM_CD AS ITEM_CD
                    , TRMI.VRTY_CD AS VRTY_CD
                    , TRMI.GDS_SE_CD AS GDS_SE_CD
                    , TRMI.WRHS_SE_CD AS WRHS_SE_CD
                    , TRMI.TRSPRT_SE_CD AS TRSPRT_SE_CD
                    , TRMI.WAREHOUSE_SE_CD AS WAREHOUSE_SE_CD
                    , TRMI.BX_KND AS BX_KND
                    , TRMI.GRD_CD AS GRD_CD
                    , TRMI.RMRK AS RMRK
                    , TRMI.WRHS_QNTT AS QNTT
                    , TRMI.WRHS_WGHT AS WGHT
                    , TRMI.INPT_QNTT AS INPT_QNTT
                    , TRMI.INPT_WGHT AS INPT_WGHT
                    , TRMI.INPT_PRGRS_QNTT AS INPT_PRGRS_QNTT
                    , TRMI.INPT_PRGRS_WGHT AS INPT_PRGRS_WGHT
                    , TRMI.INVNTR_QNTT AS INVNTR_QNTT
                    , TRMI.INVNTR_WGHT AS INVNTR_WGHT
                    , TRMI.SPCFCT_CD AS SPCFCT_CD
                    , TRMI.PRCS_QNTT AS PRCS_QNTT
                    , TRMI.PRCS_WGHT AS PRCS_WGHT
                FROM TB_RAW_MTR_INVNTR TRMI
                WHERE TRMI.DEL_YN = 'N'
                AND TRMI.INVNTR_WGHT > 0
		]]>
        <if test='apcCd != null and apcCd != ""'>
            AND TRMI.APC_CD = #{apcCd}
        </if>
        <if test='itemCd != null and itemCd !=""'>
            AND TRMI.ITEM_CD = #{itemCd}
        </if>
        <if test='vrtyCd != null and vrtyCd !=""'>
            AND TRMI.VRTY_CD = #{vrtyCd}
        </if>
        <if test='warehouseSeCd != null and warehouseSeCd != ""'>
            AND TRMI.WAREHOUSE_SE_CD = #{warehouseSeCd}
        </if>
        <if test='prdcrCd != null and prdcrCd !=""'>
            AND TRMI.PRDCR_CD = #{prdcrCd}
        </if>
        <if test='invntrYmdFrom != null and invntrYmdFrom != ""'>
            AND TRMI.WRHS_YMD <![CDATA[>=]]> #{invntrYmdFrom}
        </if>
        <if test='invntrYmdTo != null and invntrYmdTo != ""'>
            AND TRMI.WRHS_YMD <![CDATA[<=]]> #{invntrYmdTo}
        </if>

        <![CDATA[
            ORDER BY APC_CD, WRHS_YMD, WRHSNO
            ) pt0
		]]>
    </select>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.selectSortInvntrList   -->
    <!-- DESC : 폐기 등록 - 재고 목록 조회 (선별).    	                         	    -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.01.22  	최지호        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <select id="selectSortInvntrList" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" resultType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
    		SELECT
                  pt0.*
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
                , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) AS SPCFCT_NM
                , (SELECT FN_GET_GRD_NM_SORT(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL) AS GRD_NM
                , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD',pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) AS WAREHOUSE_SE_NM
                , (SELECT FN_GET_PRDCR_NM(pt0.RPRS_PRDCR_CD, pt0.APC_CD) FROM DUAL) AS RPRS_PRDCR_NM
                , pt0.SORTNO || '-' || pt0.SORT_SN AS SORTNO_SN
            FROM (
                SELECT
                      TSI.APC_CD AS APC_CD
                    , TSI.SORTNO AS SORTNO
                    , TSI.GRD_CD AS GRD_CD
                    , TSI.INPT_YMD AS SORT_YMD
                    , TSI.FCLT_CD AS FCLT_CD
                    , TSI.RPRS_PRDCR_CD AS RPRS_PRDCR_CD
                    , TSI.RPRS_PRDCR_CD AS PRDCR_CD
                    , TSI.ITEM_CD AS ITEM_CD
                    , TSI.VRTY_CD AS VRTY_CD
                    , TSI.SPCFCT_CD AS SPCFCT_CD
                    , TSI.GDS_SE_CD AS GDS_SE_CD
                    , TSI.WRHS_SE_CD AS WRHS_SE_CD
                    , TSI.WAREHOUSE_SE_CD AS WAREHOUSE_SE_CD
                    , TSI.SORT_SN AS SORT_SN
                    , TSI.SORT_SN AS INVNTR_SN
                    , TSI.SORT_QNTT AS QNTT
                    , TSI.SORT_WGHT AS WGHT
                    , TSI.PCKG_QNTT AS PCKG_QNTT
                    , TSI.PCKG_WGHT AS PCKG_WGHT
                    , TSI.INVNTR_QNTT AS INVNTR_QNTT
                    , TSI.INVNTR_WGHT AS INVNTR_WGHT
                FROM TB_SORT_INVNTR TSI
                WHERE TSI.DEL_YN = 'N'
                AND TSI.INVNTR_WGHT > 0
		]]>
        <if test='apcCd != null and apcCd != ""'>
            AND TSI.APC_CD = #{apcCd}
        </if>
        <if test='itemCd != null and itemCd !=""'>
            AND TSI.ITEM_CD = #{itemCd}
        </if>
        <if test='vrtyCd != null and vrtyCd !=""'>
            AND TSI.VRTY_CD = #{vrtyCd}
        </if>
        <if test='warehouseSeCd != null and warehouseSeCd != ""'>
            AND TSI.WAREHOUSE_SE_CD = #{warehouseSeCd}
        </if>
        <if test='prdcrCd != null and prdcrCd !=""'>
            AND TSI.PRDCR_CD = #{prdcrCd}
        </if>
        <if test='spcfctCd != null and spcfctCd !=""'>
            AND TSI.SPCFCT_CD = #{spcfctCd}
        </if>
        <if test='invntrYmdFrom != null and invntrYmdFrom != ""'>
            AND TSI.INPT_YMD <![CDATA[>=]]> #{invntrYmdFrom}
        </if>
        <if test='invntrYmdTo != null and invntrYmdTo != ""'>
            AND TSI.INPT_YMD <![CDATA[<=]]> #{invntrYmdTo}
        </if>
        <![CDATA[
           ORDER BY APC_CD, INPT_YMD, SORTNO
            ) pt0

		]]>
    </select>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.selectGdsInvntrList   -->
    <!-- DESC : 폐기 등록 - 재고 목록 조회 (상품).    	                         	    -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.01.22  	최지호        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <select id="selectGdsInvntrList" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" resultType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
    		SELECT
                  pt0.*
                , (SELECT FN_GET_GDS_NM(pt0.GDS_CD,pt0.APC_CD) FROM DUAL) AS GDS_NM
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
                , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) AS SPCFCT_NM
                , (SELECT FN_GET_GRD_NM_GDS(pt0.APC_CD, pt0.ITEM_CD, pt0.GDS_GRD) FROM DUAL) AS GRD_NM
                , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) AS WAREHOUSE_SE_NM
                , (SELECT FN_GET_PRDCR_NM(pt0.RPRS_PRDCR_CD, pt0.APC_CD) FROM DUAL) AS RPRS_PRDCR_NM

                , pt0.PCKGNO || '-' || pt0.PCKG_SN AS PCKGNO_SN
            FROM (
                SELECT
                      TGI.APC_CD AS APC_CD
                    , TGI.PCKGNO AS PCKGNO
                    , TGI.PCKG_YMD AS PCKG_YMD
                    , TGI.FCLT_CD AS FCLT_CD
                    , TGI.RPRS_PRDCR_CD AS RPRS_PRDCR_CD
                    , TGI.RPRS_PRDCR_CD AS PRDCR_CD
                    , TGI.ITEM_CD AS ITEM_CD
                    , TGI.VRTY_CD AS VRTY_CD
                    , TGI.SPCFCT_CD AS SPCFCT_CD
                    , TGI.GDS_GRD AS GDS_GRD
                    , TGI.PCKG_SE_CD AS PCKG_SE_CD
                    , TGI.WAREHOUSE_SE_CD AS WAREHOUSE_SE_CD
                    , TGI.GDS_SE_CD AS GDS_SE_CD
                    , TGI.PRDCTN_YR AS PRDCTN_YR
                    , TGI.SPMT_PCKG_UNIT_CD AS SPMT_PCKG_UNIT_CD
                    , TGI.PLOR_CD AS PLOR_CD
                    , TGI.GDS_CD AS GDS_CD
                    , TGI.PCKG_SN AS PCKG_SN
                    , TGI.PCKG_SN AS INVNTR_SN
                    , TGI.PCKG_QNTT AS QNTT
                    , TGI.PCKG_WGHT AS WGHT
                    , TGI.SPMT_QNTT AS SPMT_QNTT
                    , TGI.SPMT_WGHT AS SPMT_WGHT
                    , TGI.INVNTR_QNTT AS INVNTR_QNTT
                    , TGI.INVNTR_WGHT AS INVNTR_WGHT
                FROM TB_GDS_INVNTR TGI
                WHERE TGI.DEL_YN = 'N'
                AND TGI.INVNTR_WGHT > 0
		]]>
        <if test='apcCd != null and apcCd != ""'>
            AND TGI.APC_CD = #{apcCd}
        </if>
        <if test='itemCd != null and itemCd !=""'>
            AND TGI.ITEM_CD = #{itemCd}
        </if>
        <if test='vrtyCd != null and vrtyCd !=""'>
            AND TGI.VRTY_CD = #{vrtyCd}
        </if>
        <if test='warehouseSeCd != null and warehouseSeCd != ""'>
            AND TGI.WAREHOUSE_SE_CD = #{warehouseSeCd}
        </if>
        <if test='prdcrCd != null and prdcrCd !=""'>
            AND TGI.PRDCR_CD = #{prdcrCd}
        </if>
        <if test='spcfctCd != null and spcfctCd !=""'>
            AND TGI.SPCFCT_CD = #{spcfctCd}
        </if>
        <if test='invntrYmdFrom != null and invntrYmdFrom != ""'>
            AND TGI.PCKG_YMD <![CDATA[>=]]> #{invntrYmdFrom}
        </if>
        <if test='invntrYmdTo != null and invntrYmdTo != ""'>
            AND TGI.PCKG_YMD <![CDATA[<=]]> #{invntrYmdTo}
        </if>
        <![CDATA[
             ORDER BY APC_CD, PCKG_YMD, PCKGNO
            ) pt0
		]]>
    </select>


    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.insertDscdRegList        -->
    <!-- DESC : 폐기 등록 - 폐기 등록 목록 추가.    	                         	    -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.01.16  	최지호        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <insert id="insertDscdRegList" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        INSERT /* com.at.apcss.am.dscd.mapper.InvntrDscdMapper.insertDscdRegList */
        INTO TB_INVNTR_DSCD_PRFMNC (
                                     APC_CD
                                   , DSCD_YMD
                                   , DSCD_SN
                                   , DTL_SN
                                   , INVNTR_SE_CD
                                   , INVNTR_NO
                                   , INVNTR_SN
                                   , PRDCR_CD
                                   , ITEM_CD
                                   , VRTY_CD
                                   , GRD_CD
                                   , SPCFCT_CD
                                   , SPMT_PCKG_UNIT_CD
                                   , GDS_SE_CD
                                   , WRHS_SE_CD
                                   , WAREHOUSE_SE_CD
                                   , DSCD_QNTT
                                   , DSCD_WGHT
                                   , DEL_YN
                                   , SYS_FRST_INPT_DT
                                   , SYS_FRST_INPT_USER_ID
                                   , SYS_FRST_INPT_PRGRM_ID
                                   , SYS_LAST_CHG_DT
                                   , SYS_LAST_CHG_USER_ID
                                   , SYS_LAST_CHG_PRGRM_ID
                                   , DSCD_RSN
                                   , DSCD_CS_CD
                                   , DSCD_BAD_CD
        )
        VALUES
            (
                #{apcCd}
            , #{dscdYmd}
            , (SELECT COALESCE(MAX(DSCD_SN),0)+1 FROM TB_INVNTR_DSCD_PRFMNC WHERE APC_CD = #{apcCd} AND DSCD_YMD = #{dscdYmd} )
            , #{dtlSn}
            , #{invntrSeCd}
            , #{invntrno}
            , #{invntrSn}
            , #{prdcrCd}
            , #{itemCd}
            , #{vrtyCd}
            , #{grdCd}
            , #{spcfctCd}
            , #{spmtPckgUnitCd}
            , #{gdsSeCd}
            , #{wrhsSeCd}
            , #{warehouseSeCd}
            , #{dscdQntt}
            , #{dscdWght}
            , 'N'
            , SYSDATE
            , #{sysFrstInptUserId}
            , #{sysFrstInptPrgrmId}
            , SYSDATE
            , #{sysLastChgUserId}
            , #{sysLastChgPrgrmId}
            , #{dscdRsn}
            , #{dscdCsCd}
            , #{dscdBadCd}
            )
    </insert>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.updateRawInvntr		-->
    <!-- DESC : 폐기등록 - 원물재고 차감                      	                        -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.10  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <update id="updateRawInvntr" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
        UPDATE TB_RAW_MTR_INVNTR
        SET
            INVNTR_QNTT = #{invntrQntt}
          ,INVNTR_WGHT = #{invntrWght}
          ,PRCS_QNTT = #{prcsQntt}
          ,PRCS_WGHT = #{prcsWght}
          ,SYS_LAST_CHG_DT = SYSDATE
          ,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
          ,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
        WHERE APC_CD = #{apcCd}
          AND WRHSNO = #{wrhsNo}
        ]]>
    </update>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.updateSortInvntrCnt	-->
    <!-- DESC : 폐기등록 - 선별재고 차감                      	                        -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.11  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <update id="updateSortInvntrCnt" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
        UPDATE TB_SORT_INVNTR
        SET
           INVNTR_QNTT = #{invntrQntt}
          ,INVNTR_WGHT = #{invntrWght}
          ,SYS_LAST_CHG_DT = SYSDATE
          ,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
          ,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
        WHERE APC_CD = #{apcCd}
          AND SORTNO = #{sortno}
          AND SORT_SN = #{sortSn}
        ]]>
    </update>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.updateSortInvntrCnt    -->
    <!-- DESC : 폐기등록 - 상품재고 차감                      	                        -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.11  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <update id="updateGdsInvntrCnt" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
        UPDATE TB_GDS_INVNTR
        SET
           INVNTR_QNTT = #{invntrQntt}
          ,INVNTR_WGHT = #{invntrWght}
          ,SYS_LAST_CHG_DT = SYSDATE
          ,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
          ,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
        WHERE APC_CD = #{apcCd}
          AND PCKGNO = #{pckgno}
          AND PCKG_SN = #{pckgSn}
        ]]>
    </update>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.selectDscdPrfmncList	-->
    <!-- DESC : 폐기 실적 목록 조회                      	                            -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.11  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <select id="selectDscdPrfmncList" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" resultType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
            SELECT
                IDP.APC_CD  AS APC_CD
                ,IDP.DSCD_YMD AS DSCD_YMD
                ,IDP.DSCD_SN AS DSCD_SN
                ,IDP.DTL_SN AS DTL_SN
                ,IDP.INVNTR_SE_CD AS INVNTR_SE_CD
                ,IDP.INVNTR_NO AS INVNTR_NO
                ,IDP.INVNTR_SN AS INVNTR_SN
                ,IDP.PRDCR_CD AS PRDCR_CD
                ,IDP.ITEM_CD AS ITEM_CD
                ,IDP.VRTY_CD AS VRTY_CD
                ,IDP.GRD_CD AS GRD_CD
                ,IDP.SPCFCT_CD AS SPCFCT_CD
                ,IDP.SPMT_PCKG_UNIT_CD AS SPMT_PCKG_UNIT_CD
                ,IDP.GDS_SE_CD AS GDS_SE_CD
                ,IDP.WRHS_SE_CD AS WRHS_SE_CD
                ,IDP.WAREHOUSE_SE_CD AS WAREHOUSE_SE_CD
                ,IDP.DSCD_QNTT AS DSCD_QNTT
                ,IDP.DSCD_WGHT AS DSCD_WGHT
                ,IDP.SYS_FRST_INPT_DT AS SYS_FRST_INPT_DT
                ,IDP.SYS_FRST_INPT_USER_ID AS SYS_FRST_INPT_USER_ID
                ,IDP.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
                ,IDP.SYS_LAST_CHG_DT AS SYS_LAST_CHG_DT
                ,IDP.SYS_LAST_CHG_USER_ID AS SYS_LAST_CHG_USER_ID
                ,IDP.SYS_LAST_CHG_PRGRM_ID AS SYS_LAST_CHG_PRGRM_ID
                ,IDP.DSCD_RSN AS DSCD_RSN
                ,(SELECT FN_GET_ITEM_NM(IDP.ITEM_CD,IDP.APC_CD) FROM DUAL) AS ITEM_NM
                ,(SELECT FN_GET_VRTY_NM(IDP.ITEM_CD,IDP.VRTY_CD,IDP.APC_CD) FROM DUAL) AS VRTY_NM
                ,(SELECT FN_GET_PRDCR_NM(IDP.PRDCR_CD,IDP.APC_CD)FROM DUAL) AS PRDCR_NM
                ,(SELECT FN_GET_COM_CD_VL_NM('INVNTR_SE_CD',IDP.INVNTR_SE_CD)FROM DUAL) AS INVNTR_SE_CD_NM
                ,IDC.CRTR_INDCT_NM AS DSCD_CS_CD_NM
                ,IDC.CRTR_CD AS DSCD_CS_CD
                ,DC.CRTR_INDCT_NM AS DSCD_BAD_CD_NM
                ,DC.CRTR_CD AS DSCD_BAD_CD
            FROM TB_INVNTR_DSCD_PRFMNC IDP

            LEFT JOIN TB_INVNTR_DSCD_CRTR IDC
            ON IDP.APC_CD = IDC.APC_CD
            AND IDP.DSCD_CS_CD = IDC.CRTR_CD
            AND IDC.DEL_YN = 'N'

            LEFT JOIN TB_INVNTR_DSCD_CRTR DC
            ON IDP.APC_CD = DC.APC_CD
            AND IDP.DSCD_BAD_CD = DC.CRTR_CD
            AND DC.DEL_YN = 'N'

            WHERE IDP.DEL_YN = 'N'
        ]]>
        <if test='apcCd != null and apcCd != ""'>
            AND IDP.APC_CD = #{apcCd}
        </if>
        <if test='dscdYmdFrom != null and dscdYmdFrom != ""'>
            AND IDP.DSCD_YMD <![CDATA[>=]]> #{dscdYmdFrom}
        </if>
        <if test='dscdYmdTo != null and dscdYmdTo != ""'>
            AND IDP.DSCD_YMD <![CDATA[<=]]> #{dscdYmdTo}
        </if>
        <if test='itemCd != null and itemCd != ""'>
            AND IDP.ITEM_CD = #{itemCd}
        </if>
        <if test='vrtyCd != null and vrtyCd != ""'>
            AND IDP.VRTY_CD = #{vrtyCd}
        </if>
        <if test='prdcrCd != null and prdcrCd != ""'>
            AND IDP.PRDCR_CD = #{prdcrCd}
        </if>
            ORDER BY IDP.DSCD_YMD
    </select>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.selectRawMtrInvntr	    -->
    <!-- DESC : 폐기 삭제시 원물재고 조회                  	                            -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.11  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <select id="selectRawMtrInvntr" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" resultType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        SELECT
            APC_CD
            ,WRHSNO
            ,PLTNO
            ,WRHS_YMD
            ,PRDCR_CD
            ,ITEM_CD
            ,VRTY_CD
            ,GDS_SE_CD
            ,INVNTR_QNTT
            ,INVNTR_WGHT
            ,SYS_FRST_INPT_DT
            ,SYS_FRST_INPT_USER_ID
            ,SYS_FRST_INPT_PRGRM_ID
            ,SYS_LAST_CHG_DT
            ,SYS_LAST_CHG_USER_ID
            ,SYS_LAST_CHG_PRGRM_ID
        FROM TB_RAW_MTR_INVNTR
        WHERE DEL_YN = 'N'
        AND APC_CD = #{apcCd}
        AND WRHSNO = #{invntrno}
    </select>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.updatePrfmncRawInvntr		-->
    <!-- DESC : 폐기등록 - 원물재고 복원                      	                        -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.10  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <update id="updatePrfmncRawInvntr" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
        UPDATE TB_RAW_MTR_INVNTR
        SET
            INVNTR_QNTT = #{invntrQntt}
          ,INVNTR_WGHT = #{invntrWght}
          ,SYS_LAST_CHG_DT = SYSDATE
          ,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
          ,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
        WHERE APC_CD = #{apcCd}
          AND WRHSNO = #{invntrno}
        ]]>
    </update>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.selectSortInvntr	-->
    <!-- DESC : 폐기삭제시 선별재고 조회                   	                            -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.11  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <select id="selectSortInvntr" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" resultType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        SELECT
            APC_CD
             ,SORTNO
             ,SORT_SN
             ,INPT_YMD
             ,ITEM_CD
             ,VRTY_CD
             ,RPRS_PRDCR_CD
             ,GDS_SE_CD
             ,INVNTR_QNTT
             ,INVNTR_WGHT
             ,SYS_FRST_INPT_DT
             ,SYS_FRST_INPT_USER_ID
             ,SYS_FRST_INPT_PRGRM_ID
             ,SYS_LAST_CHG_DT
             ,SYS_LAST_CHG_USER_ID
             ,SYS_LAST_CHG_PRGRM_ID
        FROM TB_SORT_INVNTR
        WHERE DEL_YN = 'N'
          AND APC_CD = #{apcCd}
          AND SORTNO = #{invntrno}
          AND SORT_SN = #{invntrSn}
    </select>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.updatePrfmncSortInvntr		-->
    <!-- DESC : 폐기등록 - 선별재고 복원                      	                        -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.10  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <update id="updatePrfmncSortInvntr" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
        UPDATE TB_SORT_INVNTR
        SET
            INVNTR_QNTT = #{invntrQntt}
          ,INVNTR_WGHT = #{invntrWght}
          ,SYS_LAST_CHG_DT = SYSDATE
          ,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
          ,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
        WHERE APC_CD = #{apcCd}
          AND SORTNO = #{invntrno}
          AND SORT_SN = #{invntrSn}
        ]]>
    </update>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.selectGdsInvntr	-->
    <!-- DESC : 폐기삭제시 상품재고 조회                   	                            -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.11  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <select id="selectGdsInvntr" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" resultType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        SELECT
            APC_CD
             ,PCKGNO
             ,PCKG_SN
             ,PCKG_YMD
             ,ITEM_CD
             ,VRTY_CD
             ,RPRS_PRDCR_CD
             ,GDS_SE_CD
             ,INVNTR_QNTT
             ,INVNTR_WGHT
             ,SYS_FRST_INPT_DT
             ,SYS_FRST_INPT_USER_ID
             ,SYS_FRST_INPT_PRGRM_ID
             ,SYS_LAST_CHG_DT
             ,SYS_LAST_CHG_USER_ID
             ,SYS_LAST_CHG_PRGRM_ID
        FROM TB_GDS_INVNTR
        WHERE DEL_YN = 'N'
          AND APC_CD = #{apcCd}
          AND PCKGNO = #{invntrno}
          AND PCKG_SN = #{invntrSn}
    </select>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.updatePrfmncGdsInvntr		-->
    <!-- DESC : 폐기등록 - 상품재고 복원                      	                        -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.10  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <update id="updatePrfmncGdsInvntr" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
        UPDATE TB_GDS_INVNTR
        SET
            INVNTR_QNTT = #{invntrQntt}
          ,INVNTR_WGHT = #{invntrWght}
          ,SYS_LAST_CHG_DT = SYSDATE
          ,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
          ,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
        WHERE APC_CD = #{apcCd}
          AND PCKGNO = #{invntrno}
          AND PCKG_SN = #{invntrSn}
        ]]>
    </update>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.deleteDscdPrfmnc	-->
    <!-- DESC : 폐기 실적 삭제                      	                            -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.11  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <update id="deleteDscdPrfmnc" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" >
        UPDATE TB_INVNTR_DSCD_PRFMNC
        SET
            DEL_YN = 'Y'
          ,SYS_LAST_CHG_DT = SYSDATE
          ,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
          ,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
        WHERE APC_CD = #{apcCd}
        AND DSCD_YMD = #{dscdYmd}
        AND DSCD_SN =#{dscdSn}
        AND DTL_SN = #{dtlSn}
    </update>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.selectDscdCsCd	        -->
    <!-- DESC : 폐기상세관리 - 폐기원인코드조회                      	                -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.17  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <select id="selectDscdCsCd" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" resultType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        SELECT
            APC_CD
            ,DSCD_CRTR_TYPE
            ,CRTR_CD
            ,CRTR_VL
            ,CRTR_INDCT_NM
            ,INDCT_SEQ
            ,CRTR_RMRK
        FROM TB_INVNTR_DSCD_CRTR
        WHERE DSCD_CRTR_TYPE = 'DSCD_CS_CD'
    </select>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.selectDscdBadCd	    -->
    <!-- DESC : 폐기상세관리 - 폐기사유코드조회                      	                -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.17  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->
    <select id="selectDscdBadCd" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO" resultType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        SELECT
            APC_CD
             ,DSCD_CRTR_TYPE
             ,CRTR_CD
             ,CRTR_VL
             ,CRTR_INDCT_NM
             ,INDCT_SEQ
             ,CRTR_RMRK
        FROM TB_INVNTR_DSCD_CRTR
        WHERE DSCD_CRTR_TYPE = 'DSCD_BAD_CD'
    </select>

    <!-- ==========================================================================	-->
    <!-- NAME : com.at.apcss.am.dscd.mapper.InvntrDscdMapper.updateDscdPrfmncDtl	    -->
    <!-- DESC : 폐기상세관리 - 폐기원인/사유 변경                      	                -->
    <!-- ==========================================================================	-->
    <!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
    <!-- ===========  	============  	===========================================	-->
    <!-- 2025.02.17  	유민지        	Initial Creation                            -->
    <!-- ==========================================================================	-->

    <update id="updateDscdPrfmncDtl" parameterType="com.at.apcss.am.dscd.vo.DscdPrfmncVO">
        <![CDATA[
            UPDATE TB_INVNTR_DSCD_PRFMNC
            SET
                DSCD_CS_CD = #{dscdCsCd}
                ,DSCD_BAD_CD = #{dscdBadCd}
                ,DSCD_RSN = #{dscdRsn}
                ,SYS_LAST_CHG_DT = SYSDATE
                ,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
                ,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
            WHERE
                APC_CD = #{apcCd}
                AND DSCD_YMD = #{dscdYmd}
                AND DSCD_SN = #{dscdSn}
                AND DTL_SN = #{dtlSn}

        ]]>
    </update>

</mapper>