@charset "utf-8";
/* 경영관리 body 설정 */
body {
    background-color: #FFFFFF !important;
/*    transform: scale(1) !important; 80% 배율
    transform: scale(0.9) !important; 90% 배율
    transform-origin: top left !important; 시작 지점을 왼쪽 위로 고정
    background-color: #FFFFFF !important;
    width: 111% !important;
    height: 111% !important;
    margin: 0 !important;
    display: flex !important;
    flex-direction: column !important;*/
 }

/* body > section {
     flex: 1;
}*/

/* 경영관리 테스트 조회 테이블 관련 설정 */

.box-search-ma {
    background-color: rgb(182, 216, 237, 0.2) !important;
    border: 1px solid !important;
    border-color: rgb(222 229 250) !important;
    margin-bottom: 1vh !important;
}

/* 테이블 */
.table-search-ma {
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    background-color: transparent !important;
}

/* 조회 테이블 */
.th_bg_search{
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

/* 컨텐츠 테이블 */
.th_bg_content{
    background-color: rgb(182, 216, 237, 0.2) !important;
}

.table-search-ma > tbody > tr{
	border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

.table-search-ma > tbody > tr > th, .table-search-ma > tbody > tr > td{
	border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

/*테이블에서 그려진 datepicker input 색상 제거*/
input.table-datepicker-ma {
	background: #fff !important;
    border-color: rgb(215, 215, 215) !important;
    color: #000 !important;
}

/*테이블에서 그려진 datepicker button 색상 제거*/
input.table-datepicker-ma + .sbux-pik-icon-span .sbux-pik-icon-btn {
    background: #fff !important;
    color: #000 !important;
    border-color: rgb(215, 215, 215) !important;
    margin-left: 0px !important;	
}

.table-datepicker-ma[readonly], .table-datepicker-ma.readonly {
    cursor: text !important;
    background-repeat: no-repeat !important;
    background-color: #efefef !important;
    color: #555 !important;
    border-color: #d9d9d9 !important;
}

input.table-datepicker-ma.sbux-dirty[readonly] + .sbux-pik-icon-span .sbux-pik-icon-btn {
    cursor: default !important;
    background-repeat: no-repeat !important;
    background-color: #efefef !important;
    color: #555 !important;
    border-color: #d9d9d9 !important;
}



/*테이블에서 그려진 datepicker input inpt_data_reqed 색상 적용*/
input.table-datepicker-ma.inpt_data_reqed {
	background: #FFF8DC !important;
    border-color: rgb(215, 215, 215) !important;
    color: #000 !important;
}

/*테이블에서 그려진 datepicker input inpt_data_reqed 색상 적용*/
input.table-datepicker-ma.inpt_data_reqed + .sbux-pik-icon-span .sbux-pik-icon-btn {
    background: #FFF8DC !important;
    color: #000 !important;
    border-color: rgb(215, 215, 215) !important;
    margin-left: 0px !important;	
}

/*테이블에서 그려진 radio 버튼 색상 흰색으로 변경*/
/* span.sbux-rdo-wrap.sbux-comp-root{ */
/* 	background: #fff !important; */
/*     border-color: rgb(215, 215, 215) !important; */
/*     color: #000 !important; */
/* } */

/*테이블에서 그려진 radio 버튼 inpt_data_reqed 색상 변경*/
/* .table-search-ma td:has(> span > input[type="radio"]) { */
/* 	background: #fff !important; */
/* } */


/*테이블에서 그려진 radio 버튼 inpt_data_reqed 색상 변경*/
.table-search-ma > tbody > tr > td.td_input.inpt_data_reqed{
	background: #FFF8DC !important;
    border-color: rgb(215, 215, 215) !important;
    color: #000 !important;
}

/*테이블에서 그려진 셀렉트 inpt_data_reqed 색상 변경*/
.table-search-ma > tbody > tr > td > select{
	background-color: #FFF;
    background: url(../../images/admin/img_select.png) no-repeat right -6px top -6px;
    border-color: rgb(215, 215, 215) !important;
    color: #000 !important;
}
select.form-control.input-sm {
    background-color: #FFF;
}
/*테이블에서 그려진 셀렉트 inpt_data_reqed 색상 변경*/
.table-search-ma > tbody > tr > td > select.inpt_data_reqed{
	background-color: #FFF8DC;
    background: url(../../images/admin/img_select.png) no-repeat right -6px top -6px;
    border-color: rgb(215, 215, 215) !important;
    color: #000 !important;
}

/*
* 그리드 생성시 자동으로 생성되는 div의 보더를 탑만 제외하고 안보이게 처리함
*/
.sbgrid_GFA_st {
    border-top: 1px solid !important;
    border-color: #b2bad2 !important;
	border-right: none !important;
    border-left: none !important;
    border-bottom: none !important;
}



/*폰트크기 수정 */
/*테이블*/
table th{
	font-size: 11px !important;
}
table td{
	font-size: 11px !important;
}
/*셀렉트박스*/
select.form-control {
    font-size: 11px !important;
}
/*인풋*/
.input-sm {
	font-size: 11px !important;
}
/*버튼*/
.btn-sm {
	font-size: 11px !important;
}

/*그리드*/
.sbgrid_common {
	font-size: 11px !important;
}
/*탭*/
.sbux-tabs-nor-bd.sbux-tabs-top{
	font-size: 12px !important;
}
