<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : UntyPrfmncMapper.xml                                   				-->
<!-- DESC : 통합실적 mapper                                            			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2025.08.18  	김  호        		Initial Creation                        -->
<!-- ==========================================================================	-->

<mapper namespace="com.apcmngsys.apcss.am.unty.mapper.UntyPrfmncMapper">


	<!-- =============================================================================	-->
	<!-- NAME : com.apcmngsys.apcss.am.unty.mapper.UntyPrfmncMapper.selectRawDlngPrfmncList	-->
	<!-- DESC : 통합실적 목록 조회.	                                       				-->
	<!-- =============================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      				-->
	<!-- ===========  	============  	==============================================	-->
	<!-- 2025.08.18  	김  호        		Initial Creation                        	-->
	<!-- =============================================================================	-->
    <select id="selectRawDlngPrfmncList" parameterType="com.apcmngsys.apcss.am.unty.vo.UntyPrfmncVO" resultType="com.apcmngsys.apcss.am.unty.vo.UntyPrfmncVO">
    	<![CDATA[
	    	SELECT /* com.apcmngsys.apcss.am.unty.mapper.UntyPrfmncMapper.selectRawDlngPrfmncList */
	    	       Y.APC_CD
				 , Y.WRHSNO                 AS WRHSNO
				 , Y.WRHS_YMD          		AS WRHS_YMD
	    	     , MAX(Y.PLTNO)             AS PLTNO
				 , MAX(Y.BX_QNTT)           AS BX_QNTT
	    	     , MAX(Y.PRDCR_CD)          AS PRDCR_CD
				 , SORTNO                   AS SORTNO
	    	     , MAX(Y.PCKGNO)           	AS PCKGNO
				 , MAX(SORT_ATRB_QNTT)      AS SORT_ATRB_QNTT_1
				 , MAX(SORT_ATRB_UNTPRC)    AS SORT_ATRB_UNTPRC_1
	    	     , (SELECT QNTT
                      FROM TB_PLT_WRHS_SPMT PW
                     WHERE PW.APC_CD(+) = Y.APC_CD
                       AND PW.PRCS_NO(+) = Y.WRHSNO
                       AND PW.JOB_YMD(+) = Y.WRHS_YMD
                       AND PW.DEL_YN(+) = 'N'
                   ) AS PLT_BX_QNTT
				 , SUM(SORT_QNTT)           AS TOT
				 , SUM(QNTT_1)              AS GRD_CD_01
				 , SUM(QNTT_2)              AS GRD_CD_02
				 , SUM(QNTT_3)              AS GRD_CD_03
				 , SUM(QNTT_4)              AS GRD_CD_04
				 , SUM(QNTT_5)              AS GRD_CD_05
				 , SUM(QNTT_6)              AS GRD_CD_06
				 , SUM(QNTT_7)              AS GRD_CD_07
				 , SUM(QNTT_8)              AS GRD_CD_08
				 , SUM(QNTT_9)              AS GRD_CD_09
				 , SUM(QNTT_10)             AS GRD_CD_10
				 , SUM(QNTT_11)             AS GRD_CD_11
				 , SUM(QNTT_12)             AS GRD_CD_12
				 , SUM(QNTT_13)             AS GRD_CD_13
				 , SUM(QNTT_14)             AS GRD_CD_14
				 , SUM(QNTT_15)             AS GRD_CD_15
				 , SUM(QNTT_16)             AS GRD_CD_16
				 , SUM(QNTT_17)             AS GRD_CD_17
				 , SUM(QNTT_18)             AS GRD_CD_18
				 , SUM(QNTT_19)             AS GRD_CD_19
				 , SUM(QNTT_20)             AS GRD_CD_20
			 FROM (
					SELECT X.APC_CD
						 , X.WRHSNO
						 , X.WRHS_YMD
					     , X.PLTNO
						 , X.BX_QNTT
					     , X.PRDCR_CD
						 , X.SORTNO
					     , X.PCKGNO
						 , X.SORT_ATRB_QNTT
						 , X.SORT_ATRB_UNTPRC
						 , X.SORT_QNTT
						 , CASE WHEN X.GRD_RANK = 1 THEN X.SORT_QNTT END QNTT_1
						 , CASE WHEN X.GRD_RANK = 2 THEN X.SORT_QNTT END QNTT_2
						 , CASE WHEN X.GRD_RANK = 3 THEN X.SORT_QNTT END QNTT_3
						 , CASE WHEN X.GRD_RANK = 4 THEN X.SORT_QNTT END QNTT_4
						 , CASE WHEN X.GRD_RANK = 5 THEN X.SORT_QNTT END QNTT_5
						 , CASE WHEN X.GRD_RANK = 6 THEN X.SORT_QNTT END QNTT_6
						 , CASE WHEN X.GRD_RANK = 7 THEN X.SORT_QNTT END QNTT_7
						 , CASE WHEN X.GRD_RANK = 8 THEN X.SORT_QNTT END QNTT_8
						 , CASE WHEN X.GRD_RANK = 9 THEN X.SORT_QNTT END QNTT_9
						 , CASE WHEN X.GRD_RANK = 10 THEN X.SORT_QNTT END QNTT_10
						 , CASE WHEN X.GRD_RANK = 11 THEN X.SORT_QNTT END QNTT_11
						 , CASE WHEN X.GRD_RANK = 12 THEN X.SORT_QNTT END QNTT_12
						 , CASE WHEN X.GRD_RANK = 13 THEN X.SORT_QNTT END QNTT_13
						 , CASE WHEN X.GRD_RANK = 14 THEN X.SORT_QNTT END QNTT_14
						 , CASE WHEN X.GRD_RANK = 15 THEN X.SORT_QNTT END QNTT_15
						 , CASE WHEN X.GRD_RANK = 16 THEN X.SORT_QNTT END QNTT_16
						 , CASE WHEN X.GRD_RANK = 17 THEN X.SORT_QNTT END QNTT_17
						 , CASE WHEN X.GRD_RANK = 18 THEN X.SORT_QNTT END QNTT_18
						 , CASE WHEN X.GRD_RANK = 19 THEN X.SORT_QNTT END QNTT_19
						 , CASE WHEN X.GRD_RANK = 20 THEN X.SORT_QNTT END QNTT_20
					  FROM (
							SELECT WP.APC_CD
								 , WP.WRHSNO
								 , MAX(WP.WRHS_YMD)     AS WRHS_YMD
							     , MAX(WP.PLTNO)		AS PLTNO
								 , MAX(WP.BX_QNTT)      AS BX_QNTT
							     , MAX(RI.PRDCR_CD)     AS PRDCR_CD
								 , SP.SORTNO            AS SORTNO
								 , SI.GRD_CD
								 , CASE WHEN NVL(MAX(SI.INVNTR_QNTT), 0) = 0 THEN MAX(PP.PCKG_QNTT) ELSE MAX(SI.INVNTR_QNTT) END SORT_QNTT
								 , PP.PCKGNO
								 , MAX(GRD_RANK) GRD_RANK
								 , MAX(SA.QNTT)     AS SORT_ATRB_QNTT
								 , MAX(SA.UNTPRC)   AS SORT_ATRB_UNTPRC
							  FROM TB_RAW_MTR_WRHS_PRFMNC WP
								 , TB_RAW_MTR_INVNTR RI
								 , TB_SORT_INPT_PRFMNC SIP
								 , TB_SORT_PRFMNC SP
								 , TB_SORT_INVNTR SI
								 , TB_SORT_PRFMNC_ATRB SA
								 , (SELECT PIP.APC_CD
										 , PIP.SORTNO
										 , PP.PCKGNO
										 , GI.GDS_GRD
										 , MAX(PP.PCKG_QNTT) AS PCKG_QNTT
									  FROM TB_PCKG_INPT_PRFMNC PIP
										 , TB_PCKG_PRFMNC PP
										 , TB_GDS_INVNTR GI
									 WHERE PIP.APC_CD = PP.APC_CD
									   AND PIP.PCKGNO = PP.PCKGNO
									   AND PP.APC_CD = GI.APC_CD
									   AND PP.PCKGNO = GI.PCKGNO
									   AND PP.PCKG_SN = GI.PCKG_SN
									   AND PIP.DEL_YN = 'N'
									   AND PP.DEL_YN = 'N'
									   AND GI.DEL_YN = 'N'
									   AND PP.APC_CD = #{apcCd}
									 GROUP BY PIP.APC_CD, PIP.SORTNO, PP.PCKGNO, GI.GDS_GRD
								   ) PP
								 , (SELECT X.APC_CD
										 , NVL(X.AFTR_GRD_CD, X.GRD_CD) GRD_CD
										 , RANK() OVER (ORDER BY GRD_CD) AS GRD_RANK
									  FROM TB_APC_STD_GRD_DTL X
									 WHERE X.APC_CD = #{apcCd}
									   AND X.GRD_SE_CD = '02'
									   AND X.ITEM_CD = '0602'
									   AND X.DEL_YN = 'N'
								   ) GRD
							 WHERE WP.APC_CD = RI.APC_CD
							   AND WP.WRHSNO = RI.WRHSNO
							   AND WP.APC_CD = SIP.APC_CD
							   AND WP.WRHSNO = SIP.WRHSNO(+)
							   AND SIP.APC_CD = SP.APC_CD(+)
							   AND SIP.SORTNO = SP.SORTNO(+)
							   AND SP.SORTNO = SI.SORTNO(+)
							   AND SP.SORT_SN = SI.SORT_SN(+)
							   AND SP.APC_CD = SA.APC_CD(+)
							   AND SP.SORTNO = SA.SORTNO(+)
							   AND SI.APC_CD = PP.APC_CD(+)
							   AND SI.SORTNO = PP.SORTNO(+)
							   AND SI.GRD_CD = PP.GDS_GRD(+)
							   AND SI.APC_CD = GRD.APC_CD
							   AND SI.GRD_CD = GRD.GRD_CD
							   AND WP.DEL_YN = 'N'
							   AND RI.DEL_YN = 'N'
							   AND SA.DEL_YN(+) = 'N'
							   AND SIP.DEL_YN(+) = 'N'
							   AND SP.DEL_YN(+) = 'N'
							   AND SI.DEL_YN(+) = 'N'
							   AND WP.APC_CD = #{apcCd}
		]]>
			<if test='wrhsYmdFrom != null and wrhsYmdFrom != ""'>
							   AND WP.WRHS_YMD <![CDATA[>=]]> #{wrhsYmdFrom}
			</if>
			<if test='wrhsYmdTo != null and wrhsYmdTo != ""'>
							   AND WP.WRHS_YMD <![CDATA[<=]]> #{wrhsYmdTo}
			</if>
		<![CDATA[
							 GROUP BY WP.APC_CD, WP.WRHSNO, SP.SORTNO, SI.GRD_CD, PP.PCKGNO
							) X
					) Y
			 GROUP BY Y.APC_CD, Y.WRHSNO, Y.SORTNO, Y.WRHS_YMD

		]]>
    </select>

	<!-- =============================================================================	-->
	<!-- NAME : com.apcmngsys.apcss.am.unty.mapper.UntyPrfmncMapper.selectRegSpmtPrfmncList	-->
	<!-- DESC : 양송이출고등록 조회.	                                       				-->
	<!-- =============================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      				-->
	<!-- ===========  	============  	==============================================	-->
	<!-- 2025.10.29  	김  호        		Initial Creation                        	-->
	<!-- =============================================================================	-->
	<select id="selectRegSpmtPrfmncList" parameterType="com.apcmngsys.apcss.am.unty.vo.RegSpmtPrfmncVO" resultType="com.apcmngsys.apcss.am.unty.vo.RegSpmtPrfmncVO">
		<![CDATA[
			/* com.apcmngsys.apcss.am.unty.mapper.UntyPrfmncMapper.selectRegSpmtPrfmncList */
	    	SELECT Y.APC_CD                     AS APC_CD
				 , Y.GDS_NM                     AS GDS_NM
				 , MAX(Y.WRHS_YMD)              AS WRHS_YMD
				 , MAX(Y.PRDCR_CD)              AS PRDCR_CD
				 , MAX(Y.ITEM_CD)               AS ITEM_CD
				 , Y.CNPT_CD                    AS CNPT_CD
				 , MAX(WRHSNO_1)                AS WRHSNO_1
				 , MAX(WRHSNO_2)                AS WRHSNO_2
				 , MAX(WRHSNO_3)                AS WRHSNO_3
				 , MAX(WRHSNO_4)                AS WRHSNO_4
	    	     , MAX(PLTNO_1)					AS PLTNO_1
	    	     , MAX(PLTNO_2)					AS PLTNO_2
	    	     , MAX(PLTNO_3)					AS PLTNO_3
	    	     , MAX(PLTNO_4)					AS PLTNO_4
				 , MAX(SORTNO_1)                AS SORTNO_1
				 , MAX(SORTNO_2)                AS SORTNO_2
				 , MAX(SORTNO_3)                AS SORTNO_3
				 , MAX(SORTNO_4)                AS SORTNO_4
				 , MAX(PCKGNO_1)                AS PCKGNO_1
				 , MAX(PCKGNO_2)                AS PCKGNO_2
				 , MAX(PCKGNO_3)                AS PCKGNO_3
				 , MAX(PCKGNO_4)                AS PCKGNO_4
				 , MAX(SPMTNO_1)                AS SPMTNO_1
				 , MAX(SPMTNO_2)                AS SPMTNO_2
				 , MAX(SPMTNO_3)                AS SPMTNO_3
				 , MAX(SPMTNO_4)                AS SPMTNO_4
				 , MAX(VRTY_CD_1)               AS VRTY_CD_1
				 , MAX(VRTY_CD_2)               AS VRTY_CD_2
				 , MAX(VRTY_CD_3)               AS VRTY_CD_3
				 , MAX(VRTY_CD_4)               AS VRTY_CD_4
				 , MAX(VRTY_QNTT_1)             AS VRTY_QNTT_1
				 , MAX(VRTY_QNTT_2)             AS VRTY_QNTT_2
				 , MAX(VRTY_QNTT_3)             AS VRTY_QNTT_3
				 , MAX(VRTY_QNTT_4)             AS VRTY_QNTT_4
				 , MAX(VRTY_WGHT_1)             AS VRTY_WGHT_1
				 , MAX(VRTY_WGHT_2)             AS VRTY_WGHT_2
				 , MAX(VRTY_WGHT_3)             AS VRTY_WGHT_3
				 , MAX(VRTY_WGHT_4)             AS VRTY_WGHT_4
				 , ''                           AS SPMT_PCKG_UNIT_CD_1
				 , ''                           AS SPMT_PCKG_UNIT_CD_2
				 , ''                           AS SPMT_PCKG_UNIT_CD_3
				 , ''                           AS SPMT_PCKG_UNIT_CD_4
				 , NVL(MAX(Y.WRHS_YMD), #{wrhsYmd})   AS SPMT_YMD_1
				 , NVL(MAX(Y.WRHS_YMD), #{wrhsYmd})   AS SPMT_YMD_2
				 , NVL(MAX(Y.WRHS_YMD), #{wrhsYmd})   AS SPMT_YMD_3
				 , NVL(MAX(Y.WRHS_YMD), #{wrhsYmd})   AS SPMT_YMD_4
				 , SUM(BX_QNTT)                 AS TOT_QNTT
				 , SUM(WRHS_WGHT)               AS TOT_WGHT
	    		 , MAX(RMRK)                    AS RMRK
			  FROM (SELECT NVL(X.APC_CD, #{apcCd})    AS APC_CD
						 , '입고'                 AS GDS_NM
						 , '0000'                AS CNPT_CD
						 , X.WRHSNO
			             , X.PLTNO
						 , X.WRHS_YMD
						 , X.BX_QNTT
						 , X.WRHS_WGHT
						 , NVL(X.ITEM_CD, VC.ITEM_CD)   AS ITEM_CD
						 , X.VRTY_CD
						 , X.PRDCR_CD
			             , X.RMRK
						 , CASE WHEN VRTY_RANK = 1 THEN X.WRHSNO END AS WRHSNO_1
						 , CASE WHEN VRTY_RANK = 2 THEN X.WRHSNO END AS WRHSNO_2
						 , CASE WHEN VRTY_RANK = 3 THEN X.WRHSNO END AS WRHSNO_3
						 , CASE WHEN VRTY_RANK = 4 THEN X.WRHSNO END AS WRHSNO_4
			             , CASE WHEN VRTY_RANK = 1 THEN X.PLTNO END AS PLTNO_1
			             , CASE WHEN VRTY_RANK = 2 THEN X.PLTNO END AS PLTNO_2
			             , CASE WHEN VRTY_RANK = 3 THEN X.PLTNO END AS PLTNO_3
			             , CASE WHEN VRTY_RANK = 4 THEN X.PLTNO END AS PLTNO_4
						 , CASE WHEN VRTY_RANK = 1 THEN X.SORTNO END AS SORTNO_1
						 , CASE WHEN VRTY_RANK = 2 THEN X.SORTNO END AS SORTNO_2
						 , CASE WHEN VRTY_RANK = 3 THEN X.SORTNO END AS SORTNO_3
						 , CASE WHEN VRTY_RANK = 4 THEN X.SORTNO END AS SORTNO_4
						 , CASE WHEN VRTY_RANK = 1 THEN X.PCKGNO END AS PCKGNO_1
						 , CASE WHEN VRTY_RANK = 2 THEN X.PCKGNO END AS PCKGNO_2
						 , CASE WHEN VRTY_RANK = 3 THEN X.PCKGNO END AS PCKGNO_3
						 , CASE WHEN VRTY_RANK = 4 THEN X.PCKGNO END AS PCKGNO_4
						 , CASE WHEN VRTY_RANK = 1 THEN X.SPMTNO END AS SPMTNO_1
						 , CASE WHEN VRTY_RANK = 2 THEN X.SPMTNO END AS SPMTNO_2
						 , CASE WHEN VRTY_RANK = 3 THEN X.SPMTNO END AS SPMTNO_3
						 , CASE WHEN VRTY_RANK = 4 THEN X.SPMTNO END AS SPMTNO_4
						 , CASE WHEN VRTY_RANK = 1 THEN VC.VRTY_CD END AS VRTY_CD_1
						 , CASE WHEN VRTY_RANK = 2 THEN VC.VRTY_CD END AS VRTY_CD_2
						 , CASE WHEN VRTY_RANK = 3 THEN VC.VRTY_CD END AS VRTY_CD_3
						 , CASE WHEN VRTY_RANK = 4 THEN VC.VRTY_CD END AS VRTY_CD_4
						 , CASE WHEN VRTY_RANK = 1 THEN X.BX_QNTT END AS VRTY_QNTT_1
						 , CASE WHEN VRTY_RANK = 2 THEN X.BX_QNTT END AS VRTY_QNTT_2
						 , CASE WHEN VRTY_RANK = 3 THEN X.BX_QNTT END AS VRTY_QNTT_3
						 , CASE WHEN VRTY_RANK = 4 THEN X.BX_QNTT END AS VRTY_QNTT_4
						 , CASE WHEN VRTY_RANK = 1 THEN X.WRHS_WGHT END AS VRTY_WGHT_1
						 , CASE WHEN VRTY_RANK = 2 THEN X.WRHS_WGHT END AS VRTY_WGHT_2
						 , CASE WHEN VRTY_RANK = 3 THEN X.WRHS_WGHT END AS VRTY_WGHT_3
						 , CASE WHEN VRTY_RANK = 4 THEN X.WRHS_WGHT END AS VRTY_WGHT_4
					  FROM (SELECT WP.APC_CD
								 , WP.WRHSNO
					             , WP.PLTNO
								 , WP.WRHS_YMD
								 , MAX(WP.BX_QNTT)      AS BX_QNTT
								 , MAX(WP.WRHS_WGHT)    AS WRHS_WGHT
								 , MAX(WP.PRDCR_CD)     AS PRDCR_CD
								 , RI.ITEM_CD
								 , RI.VRTY_CD
					             , MAX(WP.RMRK)			AS RMRK
								 , MAX(SP.SORTNO)       AS SORTNO
								 , MAX(PP.PCKGNO)       AS PCKGNO
								 , MAX(SC.SPMTNO)       AS SPMTNO
							  FROM TB_RAW_MTR_WRHS_PRFMNC WP
								 , TB_RAW_MTR_INVNTR RI
								 , TB_SORT_INPT_PRFMNC SIP
								 , TB_SORT_PRFMNC SP
								 , TB_SORT_INVNTR SI
								 , TB_PCKG_INPT_PRFMNC PIP
								 , TB_PCKG_PRFMNC PP
								 , TB_GDS_INVNTR GI
								 , TB_SPMT_PRFMNC_COM SC
								 , TB_SPMT_PRFMNC_DTL SD
							 WHERE WP.APC_CD = RI.APC_CD
							   AND WP.WRHSNO = RI.WRHSNO
							   AND WP.APC_CD = SIP.APC_CD
							   AND WP.WRHSNO = SIP.WRHSNO
							   AND SIP.APC_CD = SP.APC_CD
							   AND SIP.SORTNO = SP.SORTNO
							   AND SP.APC_CD = SI.APC_CD
							   AND SP.SORTNO = SI.SORTNO
							   AND SP.SORT_SN = SI.SORT_SN
							   AND SI.APC_CD = PIP.APC_CD
							   AND SI.SORTNO = PIP.SORTNO
							   AND SI.SORT_SN = PIP.SORT_SN
							   AND PIP.APC_CD = PP.APC_CD
							   AND PIP.PCKGNO = PP.PCKGNO
							   AND PP.APC_CD = GI.APC_CD
							   AND PP.PCKGNO = GI.PCKGNO
							   AND PP.PCKG_SN = GI.PCKG_SN
							   AND GI.APC_CD = SD.APC_CD
							   AND GI.PCKGNO = SD.PCKGNO
							   AND GI.PCKG_SN = SD.PCKG_SN
							   AND SD.APC_CD = SC.APC_CD
							   AND SD.SPMTNO = SC.SPMTNO
							   AND WP.DEL_YN = 'N'
							   AND RI.DEL_YN = 'N'
							   AND SIP.DEL_YN = 'N'
							   AND SP.DEL_YN = 'N'
							   AND SI.DEL_YN = 'N'
							   AND PIP.DEL_YN = 'N'
							   AND PP.DEL_YN = 'N'
							   AND GI.DEL_YN = 'N'
							   AND SC.DEL_YN = 'N'
							   AND SD.DEL_YN = 'N'
							   AND WP.APC_CD = #{apcCd}
							   AND WP.WRHS_YMD = #{wrhsYmd}
		]]>
			<choose>
				<when test='prdcrCd != null and prdcrCd !=""'>
							   AND WP.PRDCR_CD = #{prdcrCd}
				</when>
				<otherwise>
							   AND WP.PRDCR_CD = NULL
				</otherwise>
			</choose>
		<![CDATA[
					 GROUP BY WP.APC_CD, WP.WRHSNO, WP.PLTNO, WP.WRHS_YMD, RI.ITEM_CD, RI.VRTY_CD
							) X
						  , (SELECT AVC.APC_CD
								  , AVC.ITEM_CD
								  , AVC.VRTY_CD
								  , RANK() OVER (ORDER BY SN) AS VRTY_RANK
							   FROM TB_APC_VRTY_CRTR AVC
							  WHERE AVC.APC_CD = #{apcCd}
								AND AVC.ITEM_CD = #{itemCd}
							) VC
					  WHERE X.APC_CD(+) = VC.APC_CD
						AND X.ITEM_CD(+) = VC.ITEM_CD
						AND X.VRTY_CD(+) = VC.VRTY_CD
					) Y
			 GROUP BY Y.APC_CD, Y.CNPT_CD, Y.GDS_NM
			 UNION ALL
			SELECT Y.APC_CD                     AS APC_CD
				 , Y.GDS_NM                     AS GDS_NM
				 , MAX(Y.WRHS_YMD)              AS WRHS_YMD
				 , MAX(Y.PRDCR_CD)              AS PRDCR_CD
				 , MAX(Y.ITEM_CD)               AS ITEM_CD
				 , Y.CNPT_CD                    AS CNPT_CD
				 , MAX(WRHSNO_1)                AS WRHSNO_1
				 , MAX(WRHSNO_2)                AS WRHSNO_2
				 , MAX(WRHSNO_3)                AS WRHSNO_3
				 , MAX(WRHSNO_4)                AS WRHSNO_4
			     , MAX(PLTNO_1)					AS PLTNO_1
	    	     , MAX(PLTNO_2)					AS PLTNO_2
	    	     , MAX(PLTNO_3)					AS PLTNO_3
	    	     , MAX(PLTNO_4)					AS PLTNO_4
				 , MAX(SORTNO_1)                AS SORTNO_1
				 , MAX(SORTNO_2)                AS SORTNO_2
				 , MAX(SORTNO_3)                AS SORTNO_3
				 , MAX(SORTNO_4)                AS SORTNO_4
				 , MAX(PCKGNO_1)                AS PCKGNO_1
				 , MAX(PCKGNO_2)                AS PCKGNO_2
				 , MAX(PCKGNO_3)                AS PCKGNO_3
				 , MAX(PCKGNO_4)                AS PCKGNO_4
				 , MAX(SPMTNO_1)                AS SPMTNO_1
				 , MAX(SPMTNO_2)                AS SPMTNO_2
				 , MAX(SPMTNO_3)                AS SPMTNO_3
				 , MAX(SPMTNO_4)                AS SPMTNO_4
				 , MAX(VRTY_CD_1)               AS VRTY_CD_1
				 , MAX(VRTY_CD_2)               AS VRTY_CD_2
				 , MAX(VRTY_CD_3)               AS VRTY_CD_3
				 , MAX(VRTY_CD_4)               AS VRTY_CD_4
				 , MAX(VRTY_QNTT_1)             AS VRTY_QNTT_1
				 , MAX(VRTY_QNTT_2)             AS VRTY_QNTT_2
				 , MAX(VRTY_QNTT_3)             AS VRTY_QNTT_3
				 , MAX(VRTY_QNTT_4)             AS VRTY_QNTT_4
				 , MAX(VRTY_WGHT_1)             AS VRTY_WGHT_1
				 , MAX(VRTY_WGHT_2)             AS VRTY_WGHT_2
				 , MAX(VRTY_WGHT_3)             AS VRTY_WGHT_3
				 , MAX(VRTY_WGHT_4)             AS VRTY_WGHT_4
				 , MAX(SPMT_PCKG_UNIT_CD_1)     AS SPMT_PCKG_UNIT_CD_1
				 , MAX(SPMT_PCKG_UNIT_CD_2)     AS SPMT_PCKG_UNIT_CD_2
				 , MAX(SPMT_PCKG_UNIT_CD_3)     AS SPMT_PCKG_UNIT_CD_3
				 , MAX(SPMT_PCKG_UNIT_CD_4)     AS SPMT_PCKG_UNIT_CD_4
				 , MAX(SPMT_YMD_1)              AS SPMT_YMD_1
				 , MAX(SPMT_YMD_2)              AS SPMT_YMD_2
				 , MAX(SPMT_YMD_3)              AS SPMT_YMD_3
				 , MAX(SPMT_YMD_4)              AS SPMT_YMD_4
				 , SUM(BX_QNTT)                 AS TOT_QNTT
				 , SUM(WRHS_WGHT)               AS TOT_WGHT
				 , MAX(RMRK)					AS RMRK
			  FROM (
					SELECT NVL(X.APC_CD, #{apcCd})    AS APC_CD
							 , X.WRHSNO
							 , X.WRHS_YMD
							 , X.BX_QNTT
							 , X.WRHS_WGHT
							 , X.PRDCR_CD
							 , NVL(X.ITEM_CD, CI.ITEM_CD)   AS ITEM_CD
							 , X.VRTY_CD
							 , X.SPMT_PCKG_UNIT_CD
							 , CI.CNPT_CD
							 , CI.GDS_NM
					    	 , X.RMRK
							 , CASE WHEN CNPT_RANK = 1 THEN X.WRHSNO END AS WRHSNO_1
							 , CASE WHEN CNPT_RANK = 2 THEN X.WRHSNO END AS WRHSNO_2
							 , CASE WHEN CNPT_RANK = 3 THEN X.WRHSNO END AS WRHSNO_3
							 , CASE WHEN CNPT_RANK = 4 THEN X.WRHSNO END AS WRHSNO_4
					     	 , CASE WHEN CNPT_RANK = 1 THEN X.PLTNO END AS PLTNO_1
			                 , CASE WHEN CNPT_RANK = 2 THEN X.PLTNO END AS PLTNO_2
			             	 , CASE WHEN CNPT_RANK = 3 THEN X.PLTNO END AS PLTNO_3
			             	 , CASE WHEN CNPT_RANK = 4 THEN X.PLTNO END AS PLTNO_4
							 , CASE WHEN CNPT_RANK = 1 THEN X.SORTNO END AS SORTNO_1
							 , CASE WHEN CNPT_RANK = 2 THEN X.SORTNO END AS SORTNO_2
							 , CASE WHEN CNPT_RANK = 3 THEN X.SORTNO END AS SORTNO_3
							 , CASE WHEN CNPT_RANK = 4 THEN X.SORTNO END AS SORTNO_4
							 , CASE WHEN CNPT_RANK = 1 THEN X.PCKGNO END AS PCKGNO_1
							 , CASE WHEN CNPT_RANK = 2 THEN X.PCKGNO END AS PCKGNO_2
							 , CASE WHEN CNPT_RANK = 3 THEN X.PCKGNO END AS PCKGNO_3
							 , CASE WHEN CNPT_RANK = 4 THEN X.PCKGNO END AS PCKGNO_4
							 , CASE WHEN CNPT_RANK = 1 THEN X.SPMTNO END AS SPMTNO_1
							 , CASE WHEN CNPT_RANK = 2 THEN X.SPMTNO END AS SPMTNO_2
							 , CASE WHEN CNPT_RANK = 3 THEN X.SPMTNO END AS SPMTNO_3
							 , CASE WHEN CNPT_RANK = 4 THEN X.SPMTNO END AS SPMTNO_4
							 , CASE WHEN CNPT_RANK = 1 THEN CI.VRTY_CD END AS VRTY_CD_1
							 , CASE WHEN CNPT_RANK = 2 THEN CI.VRTY_CD END AS VRTY_CD_2
							 , CASE WHEN CNPT_RANK = 3 THEN CI.VRTY_CD END AS VRTY_CD_3
							 , CASE WHEN CNPT_RANK = 4 THEN CI.VRTY_CD END AS VRTY_CD_4
							 , CASE WHEN CNPT_RANK = 1 THEN X.BX_QNTT END AS VRTY_QNTT_1
							 , CASE WHEN CNPT_RANK = 2 THEN X.BX_QNTT END AS VRTY_QNTT_2
							 , CASE WHEN CNPT_RANK = 3 THEN X.BX_QNTT END AS VRTY_QNTT_3
							 , CASE WHEN CNPT_RANK = 4 THEN X.BX_QNTT END AS VRTY_QNTT_4
							 , CASE WHEN CNPT_RANK = 1 THEN X.WRHS_WGHT END AS VRTY_WGHT_1
							 , CASE WHEN CNPT_RANK = 2 THEN X.WRHS_WGHT END AS VRTY_WGHT_2
							 , CASE WHEN CNPT_RANK = 3 THEN X.WRHS_WGHT END AS VRTY_WGHT_3
							 , CASE WHEN CNPT_RANK = 4 THEN X.WRHS_WGHT END AS VRTY_WGHT_4
							 , CASE WHEN CNPT_RANK = 1 THEN CI.SPMT_PCKG_UNIT_CD END AS SPMT_PCKG_UNIT_CD_1
							 , CASE WHEN CNPT_RANK = 2 THEN CI.SPMT_PCKG_UNIT_CD END AS SPMT_PCKG_UNIT_CD_2
							 , CASE WHEN CNPT_RANK = 3 THEN CI.SPMT_PCKG_UNIT_CD END AS SPMT_PCKG_UNIT_CD_3
							 , CASE WHEN CNPT_RANK = 4 THEN CI.SPMT_PCKG_UNIT_CD END AS SPMT_PCKG_UNIT_CD_4
							 , CASE WHEN CNPT_RANK = 1 THEN X.SPMT_YMD END AS SPMT_YMD_1
							 , CASE WHEN CNPT_RANK = 2 THEN X.SPMT_YMD END AS SPMT_YMD_2
							 , CASE WHEN CNPT_RANK = 3 THEN X.SPMT_YMD END AS SPMT_YMD_3
							 , CASE WHEN CNPT_RANK = 4 THEN X.SPMT_YMD END AS SPMT_YMD_4
						  FROM (SELECT WP.APC_CD
									 , WP.WRHSNO
						             , WP.PLTNO
									 , WP.WRHS_YMD
									 , MAX(SD.SPMT_QNTT)    AS BX_QNTT
									 , MAX(SD.SPMT_WGHT)    AS WRHS_WGHT
									 , RI.PRDCR_CD
									 , RI.ITEM_CD
									 , RI.VRTY_CD
									 , SP.SORTNO
									 , PP.PCKGNO
						             , MAX(PP.RMRK)			AS RMRK
									 , SD.SPMTNO
									 , GI.SPMT_PCKG_UNIT_CD
									 , SC.CNPT_CD
									 , MAX(SC.SPMT_YMD)     AS SPMT_YMD
								  FROM TB_RAW_MTR_WRHS_PRFMNC WP
									 , TB_RAW_MTR_INVNTR RI
									 , TB_SORT_INPT_PRFMNC SIP
									 , TB_SORT_PRFMNC SP
									 , TB_SORT_INVNTR SI
									 , TB_PCKG_INPT_PRFMNC PIP
									 , TB_PCKG_PRFMNC PP
									 , TB_GDS_INVNTR GI
									 , TB_SPMT_PRFMNC_COM SC
									 , TB_SPMT_PRFMNC_DTL SD
								 WHERE WP.APC_CD = RI.APC_CD
								   AND WP.WRHSNO = RI.WRHSNO
								   AND WP.APC_CD = SIP.APC_CD
								   AND WP.WRHSNO = SIP.WRHSNO
								   AND SIP.APC_CD = SP.APC_CD
								   AND SIP.SORTNO = SP.SORTNO
								   AND SP.APC_CD = SI.APC_CD
								   AND SP.SORTNO = SI.SORTNO
								   AND SP.SORT_SN = SI.SORT_SN
								   AND SI.APC_CD = PIP.APC_CD
								   AND SI.SORTNO = PIP.SORTNO
								   AND SI.SORT_SN = PIP.SORT_SN
								   AND PIP.APC_CD = PP.APC_CD
								   AND PIP.PCKGNO = PP.PCKGNO
								   AND PP.APC_CD = GI.APC_CD
								   AND PP.PCKGNO = GI.PCKGNO
								   AND PP.PCKG_SN = GI.PCKG_SN
								   AND GI.APC_CD = SD.APC_CD
								   AND GI.PCKGNO = SD.PCKGNO
								   AND GI.PCKG_SN = SD.PCKG_SN
								   AND SD.APC_CD = SC.APC_CD
								   AND SD.SPMTNO = SC.SPMTNO
								   AND WP.DEL_YN = 'N'
								   AND RI.DEL_YN = 'N'
								   AND SIP.DEL_YN = 'N'
								   AND SP.DEL_YN = 'N'
								   AND SI.DEL_YN = 'N'
								   AND PIP.DEL_YN = 'N'
								   AND PP.DEL_YN = 'N'
								   AND GI.DEL_YN = 'N'
								   AND SC.DEL_YN = 'N'
								   AND SD.DEL_YN = 'N'
								   AND WP.APC_CD = #{apcCd}
								   AND WP.WRHS_YMD = #{wrhsYmd}
		]]>
			<choose>
				<when test='prdcrCd != null and prdcrCd !=""'>
								   AND WP.PRDCR_CD = #{prdcrCd}
				</when>
				<otherwise>
								   AND WP.PRDCR_CD = NULL
				</otherwise>
			</choose>
		<![CDATA[
						  GROUP BY WP.APC_CD, WP.WRHSNO, WP.PLTNO, WP.WRHS_YMD, RI.PRDCR_CD, RI.ITEM_CD, RI.VRTY_CD, SP.SORTNO, PP.PCKGNO, SD.SPMTNO, GI.SPMT_PCKG_UNIT_CD, SC.CNPT_CD
							  ) X

							  , (
								 SELECT CI.APC_CD
									  , CI.CNPT_CD
									  , CI.CNPT_NM
									  , SPU.VRTY_CD
									  , SPU.ITEM_CD
									  , SPU.SPMT_PCKG_UNIT_CD
									  , SPU.SPMT_PCKG_UNIT_NM
									  , CI.CNPT_NM || ' ' || CASE WHEN SPU.SPMT_PCKG_UNIT_NM != '상품명없음' THEN SPU.SPMT_PCKG_UNIT_NM ELSE '' END AS GDS_NM
									  , RANK() OVER (PARTITION BY CI.CNPT_CD, SPU.SPCFCT_CD ORDER BY CI.CNPT_CD, SPU.SPCFCT_CD, SPU.VRTY_CD) AS CNPT_RANK
								   FROM TB_CNPT_INFO CI
									  , TB_CNPT_SPMT_PCKG_UNIT CSP
									  , TB_SPMT_PCKG_UNIT SPU
								  WHERE CI.APC_CD = CSP.APC_CD
									AND CI.CNPT_CD = CSP.CNPT_CD
									AND CSP.APC_CD = SPU.APC_CD
									AND CSP.SPMT_PCKG_UNIT_CD = SPU.SPMT_PCKG_UNIT_CD
									AND CI.DEL_YN = 'N'
									AND SPU.DEL_YN = 'N'
									AND CSP.DEL_YN = 'N'
									AND CI.APC_CD = #{apcCd}
								  ORDER BY CI.CNPT_CD
								) CI
						  WHERE X.APC_CD(+) = CI.APC_CD
							AND X.ITEM_CD(+) = CI.ITEM_CD
							AND X.VRTY_CD(+) = CI.VRTY_CD
							AND X.CNPT_CD(+) = CI.CNPT_CD
							AND X.SPMT_PCKG_UNIT_CD(+) = CI.SPMT_PCKG_UNIT_CD
						  ORDER BY CI.CNPT_CD
				) Y
			 GROUP BY Y.APC_CD, Y.CNPT_CD, Y.GDS_NM
			 ORDER BY APC_CD, CNPT_CD, GDS_NM
		]]>
	</select>

</mapper>