<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CmnsItemMapper.xml                                   				-->
<!-- DESC : 품목 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.14  	김 호        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.CmnsItemMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsItemMapper.selectCmnsApcItem		-->
	<!-- DESC : APC 품목 단건 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.05  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectCmnsApcItem" parameterType="com.at.apcss.am.cmns.vo.CmnsItemVO" resultType="com.at.apcss.am.cmns.vo.CmnsItemVO">
    	<![CDATA[
	    	SELECT  /* com.at.apcss.am.cmns.mapper.CmnsItemMapper.selectCmnsApcItem */
			       AIC.APC_CD           AS APC_CD
			     , AIC.ITEM_CD          AS ITEM_CD
			     , AIC.ITEM_NM          AS ITEM_NM
			     , AIC.RAW_MTR_RDCD_RT  AS RAW_MTR_RDCD_RT
			     , AIC.SORT_RDCD_RT     AS SORT_RDCD_RT
			     , AIC.PCKG_RDCD_RT     AS PCKG_RDCD_RT
			     , AIC.DEL_YN           AS DEL_YN
			     , AIC.NH_APC_CD        AS NH_APC_CD
			     , AIC.NH_ITEM_NM       AS NH_ITEM_NM
			  FROM TB_APC_ITEM_CRTR AIC
			 WHERE AIC.APC_CD = #{apcCd}
			   AND AIC.ITEM_CD = #{itemCd}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsItemMapper.selectCmnsItemList		-->
	<!-- DESC : 품목 전체 목록 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCmnsItemList" parameterType="com.at.apcss.am.cmns.vo.CmnsItemVO" resultType="com.at.apcss.am.cmns.vo.CmnsItemVO">
    	<![CDATA[
	    	SELECT /*  com.at.apcss.am.cmns.mapper.CmnsItemMapper.selectCmnsItemList */
	    		   (SELECT FN_GET_COM_CD_VL_NM('CLS_CD', SUBSTR(IC.ITEM_CD, 0, 2)) FROM DUAL) AS CLS_NM
	    		 , IC.ITEM_CD
			     , IC.ITEM_NM
			     , IC.DEL_YN
			  FROM TB_ITEM_CRTR IC
			 WHERE IC.DEL_YN = 'N'
		]]>
			<if test='itemCd != null and itemCd != ""'>
			  AND IC.ITEM_CD LIKE #{itemCd} || '%'
			</if>
			<if test='itemNm != null and itemNm != ""'>
			  AND IC.ITEM_NM LIKE '%' || #{itemNm} || '%'
			</if>
			<if test='apcCd != null and apcCd != ""'>
			  AND NOT EXISTS (
                    SELECT 1
                      FROM TB_APC_ITEM_CRTR X
                     WHERE X.APC_CD = #{apcCd}
                       AND X.ITEM_CD = IC.ITEM_CD
                  )
			</if>
		<![CDATA[
			ORDER BY IC.ITEM_CD
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsItemMapper.selectApcCmnsItemList	-->
	<!-- DESC : APC 품목 전체 목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectApcCmnsItemList" parameterType="com.at.apcss.am.cmns.vo.CmnsItemVO" resultType="com.at.apcss.am.cmns.vo.CmnsItemVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsItemMapper.selectApcCmnsItemList */
	    		  AIC.APC_CD
			    , AIC.ITEM_CD
			    , AIC.ITEM_NM
			    , AIC.DEL_YN
			    , AIC.RAW_MTR_RDCD_RT
			    , AIC.SORT_RDCD_RT
			    , AIC.PCKG_RDCD_RT
			    , (SELECT COUNT(*) FROM TB_APC_VRTY_CRTR X WHERE X.APC_CD = AIC.APC_CD AND X.ITEM_CD = AIC.ITEM_CD) AS VRTR_CNT
			    , (SELECT COUNT(*) FROM TB_APC_SPCFCT_CRTR X WHERE X.APC_CD = AIC.APC_CD AND X.ITEM_CD = AIC.ITEM_CD) AS SPCFCT_CNT
			    , (SELECT COUNT(*) FROM TB_APC_STD_GRD X WHERE APC_CD = AIC.APC_CD AND X.ITEM_CD = AIC.ITEM_CD) AS GRD_CNT
			  FROM TB_APC_ITEM_CRTR AIC
			 WHERE AIC.DEL_YN = 'N'
			   AND AIC.APC_CD = #{apcCd}
			 ORDER BY AIC.ITEM_CD
		]]>
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsItemMapper.insertCmnsItem			-->
	<!-- DESC : 품목 등록.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertCmnsItem" parameterType="com.at.apcss.am.cmns.vo.CmnsItemVO">
    	<![CDATA[
    		INSERT /* com.at.apcss.am.cmns.mapper.CmnsItemMapper.insertCmnsItem */
    			INTO TB_APC_ITEM_CRTR
	    		(
	    			  APC_CD
	    		  	, ITEM_CD
	    		  	, ITEM_NM
	    		  	, SYS_FRST_INPT_DT
	    		  	, SYS_FRST_INPT_USER_ID
	    		  	, SYS_FRST_INPT_PRGRM_ID
	    		  	, SYS_LAST_CHG_DT
	    		  	, SYS_LAST_CHG_USER_ID
	    		  	, SYS_LAST_CHG_PRGRM_ID
	    		)
   			VALUES
	   			(
	   				  #{apcCd}
	    		  	, #{itemCd}
	    		  	, #{itemNm}
	    		  	, SYSDATE
	    		  	, #{sysFrstInptUserId}
	    		  	, #{sysFrstInptPrgrmId}
	    		  	, SYSDATE
	    		  	, #{sysLastChgUserId}
	    		  	, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsItemMapper.updateCmnsItem			-->
	<!-- DESC : 품목 변경.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateApcCmnsItem" parameterType="com.at.apcss.am.cmns.vo.CmnsItemVO">
		<![CDATA[
			UPDATE
				TB_APC_ITEM_CRTR
			   SET
			   	  SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
				, RAW_MTR_RDCD_RT		= #{rawMtrRdcdRt}
	    		, SORT_RDCD_RT			= #{sortRdcdRt}
	    		, PCKG_RDCD_RT			= #{pckgRdcdRt}
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD		= #{itemCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CnptMapper.deleteCmnsItem				-->
	<!-- DESC : 품목 삭제.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteCmnsItem" parameterType="com.at.apcss.am.cmns.vo.CmnsItemVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.CnptMapper.deleteCmnsItem */
				FROM TB_APC_ITEM_CRTR
			 WHERE APC_CD		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
		]]>
	</delete>

</mapper>


