<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CmnsGrdMapper.xml                                   				-->
<!-- DESC : 등급 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.14  	김 호        	Initial Creation                            	-->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.CmnsGrdMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.selectCmnsGrd				-->
	<!-- DESC : 등급 마스터 단건 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectCmnsGrd" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO" resultType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.selectCmnsGrd */
				  GC.ITEM_CD
				, GC.GRD_CD
				, GC.GRD_NM
			    , GC.DEL_YN
			  FROM TB_GRD_CRTR GC
			 WHERE VC.ITEM_CD = #{itemCd}
			   AND VC.GRD_CD = #{grdCd}
		]]>
    </select>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.selectCmnsGrdList			-->
	<!-- DESC : 등급 마스터 목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectCmnsGrdList" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO" resultType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.selectCmnsGrdList */
				  GC.ITEM_CD
				, GC.GRD_CD
				, GC.GRD_NM
			    , GC.DEL_YN
			  FROM TB_GRD_CRTR GC
			 WHERE GC.ITEM_CD = #{itemCd}
		]]>
		
		<if test='grdCd != null and grdCd != ""'>
			   AND GC.GRD_CD LIKE #{grdCd} || '%'
		</if>
		<if test='grdNm != null and grdNm != ""'>
			   AND GC.GRD_NM LIKE '%' || #{grdNm} || '%'
		</if>
		<if test='delYn != null and delYn != ""'>
			   AND GC.DEL_YN = #{delYn}
		</if>
		<if test='apcCd != null and apcCd != ""'>
			   AND NOT EXISTS (
			   			SELECT 1
			   			  FROM TB_APC_GRD_CRTR X
			   			 WHERE X.APC_CD = #{apcCd}
			   			   AND X.GRD_CD = GC.GRD_CD
			   			   AND X.ITEM_CD = GC.ITEM_CD
			   		)
		</if>
		
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.insertCmnsGrd			-->
	<!-- DESC : 등급 마스터 등록.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <insert id="insertCmnsGrd" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.insertCmnsGrd */
	    		INTO TB_GRD_CRTR
				(
					  ITEM_CD
					, GRD_CD
		    		, GRD_NM
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{itemCd}
					, #{grdCd}
		    		, #{grdNm}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.updateCmnsGrd				-->
	<!-- DESC : 등급 마스터 변경.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<update id="updateCmnsGrd" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.updateCmnsGrd */
				TB_GRD_CRTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, GRD_NM					= #{grdNm}
	    		, DEL_YN					= #{delYn}
			 WHERE ITEM_CD = #{itemCd}
			   AND GRD_CD = #{grdCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.deleteCmnsGrd			-->
	<!-- DESC : 등급 마스터 삭제.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<delete id="deleteCmnsGrd" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.deleteCmnsGrd */
			  FROM TB_GRD_CRTR
			 WHERE ITEM_CD = #{itemCd}
			   AND GRD_CD = #{grdCd}
		]]>
	</delete>


	<!-- APC 등급 정보 -->

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.selectApcGrd			-->
	<!-- DESC : APC 등급 단건 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectApcGrd" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO" resultType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.selectApcGrd */
				  AGC.ITEM_CD
				, AGC.GRD_CD
				, AGC.GRD_NM
			    , AGC.DEL_YN
			    , AGC.APC_CD
			  FROM TB_APC_GRD_CRTR AGC
			 WHERE AGC.ITEM_CD = #{itemCd}
			   AND AGC.GRD_CD = #{grdCd}
			   AND AGC.APC_CD = #{apcCd}
		]]>
    </select>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.selectApcGrdList		-->
	<!-- DESC : APC 등급 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectApcGrdList" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO" resultType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.selectApcGrdList */
				  AGC.ITEM_CD
				, AGC.GRD_CD
				, AGC.GRD_NM
			    , AGC.DEL_YN
			  FROM TB_APC_GRD_CRTR AGC
			 WHERE AGC.ITEM_CD = #{itemCd}
			   AND AGC.APC_CD = #{apcCd}
		]]>
		
		<if test='grdCd != null and grdCd != ""'>
			   AND AGC.GRD_CD LIKE #{grdCd} || '%'
		</if>
		<if test='grdNm != null and grdNm != ""'>
			   AND AGC.GRD_NM LIKE '%' || #{grdNm} || '%'
		</if>
		<if test='delYn != null and delYn != ""'>
			   AND AGC.DEL_YN = #{delYn}
		</if>
		
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.insertApcGrd			-->
	<!-- DESC : APC 등급 등록.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <insert id="insertApcGrd" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.insertApcGrd */
	    		INTO TB_APC_GRD_CRTR
	    		(
	    			  APC_CD
	    			, ITEM_CD
	    			, GRD_CD
					, GRD_NM
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_USER_ID
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_USER_ID
					, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{apcCd}
	   				, #{itemCd}
	   				, #{grdCd}
					, #{grdNm}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.updateApcGrd			-->
	<!-- DESC : APC 등급 변경.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<update id="updateApcGrd" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.updateApcGrd */
				TB_APC_GRD_CRTR
			   SET
				  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, GRD_NM					= #{grdNm}
	    		, DEL_YN					= #{delYn}
			 WHERE ITEM_CD = #{itemCd}
			   AND GRD_CD = #{grdCd}
			   AND APC_CD = #{apcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.deleteApcGrd			-->
	<!-- DESC : APC 등급 삭제.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<delete id="deleteApcGrd" parameterType="com.at.apcss.am.cmns.vo.CmnsGrdVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.deleteApcGrd */
			  FROM TB_APC_GRD_CRTR
			 WHERE ITEM_CD = #{itemCd}
			   AND GRD_CD = #{grdCd}
			   AND APC_CD = #{apcCd}
		]]>
	</delete>
</mapper>