<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CmnsSpcfctMapper.xml                                   				-->
<!-- DESC : 규격 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.14  	김 호        		Initial Creation                        -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.selectCmnsSpcfct		-->
	<!-- DESC : 규격 마스터 단건 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCmnsSpcfct" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO" resultType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.selectCmnsSpcfct */
				  GC.ITEM_CD
				, GC.SPCFCT_CD
				, GC.SPCFCT_NM
			    , GC.DEL_YN
			  FROM TB_SPCFCT_CRTR GC
			 WHERE VC.ITEM_CD = #{itemCd}
			   AND VC.SPCFCT_CD = #{spcfctCd}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.selectCmnsSpcfctList	-->
	<!-- DESC : 규격 마스터 목록 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCmnsSpcfctList" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO" resultType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.selectCmnsSpcfctList */
				  GC.ITEM_CD
				, GC.SPCFCT_CD
				, GC.SPCFCT_NM
				, GC.UNIT_CD
				, GC.PCKG_STTS_CD
				, GC.BX_GDS_QNTT
				, GC.WGHT
			    , GC.DEL_YN
			  FROM TB_SPCFCT_CRTR GC
			 WHERE GC.ITEM_CD = #{itemCd}
		]]>

		<if test='spcfctCd != null and spcfctCd != ""'>
			   AND GC.SPCFCT_CD LIKE #{spcfctCd} || '%'
		</if>
		<if test='spcfctNm != null and spcfctNm != ""'>
			   AND GC.SPCFCT_NM LIKE '%' || #{spcfctNm} || '%'
		</if>
		<if test='delYn != null and delYn != ""'>
			   AND GC.DEL_YN = #{delYn}
		</if>
		<if test='apcCd != null and apcCd != ""'>
			   AND NOT EXISTS (
			   			SELECT 1
			   			  FROM TB_APC_SPCFCT_CRTR X
			   			 WHERE X.APC_CD = #{apcCd}
			   			   AND X.SPCFCT_CD = GC.SPCFCT_CD
			   			   AND X.ITEM_CD = GC.ITEM_CD
			   		)
		</if>

    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.insertCmnsSpcfct		-->
	<!-- DESC : 규격 마스터 등록.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertCmnsSpcfct" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.insertCmnsSpcfct */
	    		INTO TB_SPCFCT_CRTR
				(
					  ITEM_CD
					, SPCFCT_CD
		    		, SPCFCT_NM
		    		, UNIT_CD
					, PCKG_STTS_CD
					, BX_GDS_QNTT
					, WGHT
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{itemCd}
					, #{spcfctCd}
		    		, #{spcfctNm}
		    		, #{unitCd}
					, #{pckgSttsCd}
					, #{bxGdsQntt}
					, #{wght}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.updateCmnsSpcfct		-->
	<!-- DESC : 규격 마스터 변경.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateCmnsSpcfct" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.updateCmnsSpcfct */
				TB_SPCFCT_CRTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, SPCFCT_NM					= #{spcfctNm}
				, UNIT_CD					= #{unitCd}
				, PCKG_STTS_CD				= #{pckgSttsCd}
				, BX_GDS_QNTT				= #{bxGdsQntt}
				, WGHT  					= #{wght}
	    		, DEL_YN					= #{delYn}
			 WHERE ITEM_CD = #{itemCd}
			   AND SPCFCT_CD = #{spcfctCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.deleteCmnsSpcfct		-->
	<!-- DESC : 규격 마스터 삭제.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteCmnsSpcfct" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.deleteCmnsSpcfct */
			  FROM TB_SPCFCT_CRTR
			 WHERE ITEM_CD = #{itemCd}
			   AND SPCFCT_CD = #{spcfctCd}
		]]>
	</delete>


	<!-- APC 규격 정보 -->

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.selectApcSpcfct		-->
	<!-- DESC : APC 규격 단건 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcSpcfct" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO" resultType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.selectApcSpcfct */
				  AGC.ITEM_CD
				, AGC.SPCFCT_CD
				, AGC.SPCFCT_NM
			    , AGC.DEL_YN
			    , AGC.APC_CD
			  FROM TB_APC_SPCFCT_CRTR AGC
			 WHERE AGC.ITEM_CD = #{itemCd}
			   AND AGC.SPCFCT_CD = #{spcfctCd}
			   AND AGC.APC_CD = #{apcCd}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.selectApcSpcfctList	-->
	<!-- DESC : APC 규격 목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcSpcfctList" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO" resultType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.selectApcSpcfctList */
				  AGC.ITEM_CD		AS ITEM_CD
				, (SELECT FN_GET_ITEM_NM(AGC.ITEM_CD, AGC.APC_CD) FROM DUAL) AS ITEM_NM
				, AGC.APC_CD		AS APC_CD
				, AGC.SPCFCT_CD		AS SPCFCT_CD
				, AGC.SPCFCT_NM		AS SPCFCT_NM
				, AGC.UNIT_CD		AS UNIT_CD
				, AGC.PCKG_STTS_CD	AS PCKG_STTS_CD
				, AGC.BX_GDS_QNTT	AS BX_GDS_QNTT
				, AGC.WGHT			AS WGHT
			    , AGC.DEL_YN		AS DEL_YN
			    , AGC.SN			AS SN
	    	    , AGC.EXTRNL_LNKG_CD AS EXTRNL_LNKG_CD
				, CONCAT(AGC.ITEM_CD, AGC.SPCFCT_CD)	AS ITEM_SPCFCT_CD
			  FROM TB_APC_SPCFCT_CRTR AGC
			 WHERE AGC.APC_CD = #{apcCd}
		]]>
		<if test='itemCd != null and itemCd != ""'>
			   AND AGC.ITEM_CD = #{itemCd}
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
			   AND AGC.SPCFCT_CD LIKE #{spcfctCd} || '%'
		</if>
		<if test='spcfctNm != null and spcfctNm != ""'>
			   AND AGC.SPCFCT_NM LIKE '%' || #{spcfctNm} || '%'
		</if>
		<if test='delYn != null and delYn != ""'>
			   AND AGC.DEL_YN = #{delYn}
		</if>
    	<![CDATA[
    		ORDER BY SN
		]]>
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.insertApcSpcfct		-->
	<!-- DESC : APC 규격 등록.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertApcSpcfct" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.insertApcSpcfct */
	    		INTO TB_APC_SPCFCT_CRTR
	    		(
	    			  APC_CD
	    			, ITEM_CD
	    			, SPCFCT_CD
					, SPCFCT_NM
					, UNIT_CD
					, PCKG_STTS_CD
					, BX_GDS_QNTT
					, WGHT
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_USER_ID
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_USER_ID
					, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{apcCd}
	   				, #{itemCd}
	   				, FN_GET_ID_APC_SPCFCT(#{apcCd}, #{itemCd})
					, #{spcfctNm}
					, #{unitCd}
					, #{pckgSttsCd}
					, #{bxGdsQntt}
					, #{wght}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.updateApcSpcfct		-->
	<!-- DESC : APC 규격 변경.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateApcSpcfct" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.updateApcSpcfct */
				TB_APC_SPCFCT_CRTR
			   SET
				  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, SPCFCT_NM					= #{spcfctNm}
				, UNIT_CD					= #{unitCd}
				, PCKG_STTS_CD				= #{pckgSttsCd}
				, BX_GDS_QNTT				= #{bxGdsQntt}
				, WGHT  					= #{wght}
	    		, DEL_YN					= #{delYn}
			 WHERE ITEM_CD = #{itemCd}
			   AND SPCFCT_CD = #{spcfctCd}
			   AND APC_CD = #{apcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.deleteApcSpcfct		-->
	<!-- DESC : APC 규격 삭제.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteApcSpcfct" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.deleteApcSpcfct */
			  FROM TB_APC_SPCFCT_CRTR
			 WHERE ITEM_CD = #{itemCd}
			   AND SPCFCT_CD = #{spcfctCd}
			   AND APC_CD = #{apcCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.deleteApcSpcfctAll		-->
	<!-- DESC : APC 규격 전체 삭제.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.04  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteApcSpcfctAll" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.deleteApcSpcfct */
			  FROM TB_APC_SPCFCT_CRTR
			 WHERE ITEM_CD = #{itemCd}
			   AND APC_CD = #{apcCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.spcfctDelible			-->
	<!-- DESC : APC 삭제 가능 여부	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.01.23  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="spcfctDelible" parameterType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO" resultType="com.at.apcss.am.cmns.vo.CmnsSpcfctVO">
    	<![CDATA[
    		SELECT X.* /* com.at.apcss.am.cmns.mapper.CmnsSpcfctMapper.spcfctDelible */
			  FROM (
			         SELECT
			                '선별실적' AS DELIBLE
			               , (SELECT COUNT(*)
			                    FROM TB_SORT_PRFMNC X
			                       , TB_SORT_INVNTR Y
			                   WHERE X.APC_CD = Y.APC_CD
			                     AND X.SORTNO = Y.SORTNO
			                     AND X.APC_CD = #{apcCd}
			                     AND Y.ITEM_CD = #{itemCd}
			                     AND Y.SPCFCT_CD = #{spcfctCd}
			                     AND X.DEL_YN = 'N'
			                     AND Y.DEL_YN = 'N'
			                  )  AS CNT
			           FROM DUAL
			         UNION ALL
			         SELECT
			                '선별재고' AS DELIBLE
			                , (SELECT COUNT(*)
			                    FROM TB_SORT_INVNTR X
			                   WHERE X.APC_CD = #{apcCd}
			                     AND X.ITEM_CD = #{itemCd}
			                     AND X.SPCFCT_CD = #{spcfctCd}
			                     AND X.DEL_YN = 'N'
			                  )  AS CNT
			           FROM DUAL
			          UNION ALL
			          SELECT
			                '포장지시' AS DELIBLE
			               , (SELECT COUNT(*)
			                    FROM TB_PCKG_CMND X
			                   WHERE X.APC_CD = #{apcCd}
			                     AND X.ITEM_CD = #{itemCd}
			                     AND X.SPCFCT_CD = #{spcfctCd}
			                     AND X.DEL_YN = 'N'
			                  )  AS CNT
			            FROM DUAL
			          UNION ALL
			          SELECT
			                 '포장실적' AS DELIBLE
			                 , (SELECT COUNT(*)
			                     FROM TB_PCKG_PRFMNC X
			                        , TB_GDS_INVNTR Y
			                    WHERE X.APC_CD = Y.APC_CD
			                      AND X.PCKGNO = Y.PCKGNO
			                      AND X.APC_CD = #{apcCd}
			                      AND Y.ITEM_CD = #{itemCd}
			                      AND Y.SPCFCT_CD = #{spcfctCd}
			                      AND X.DEL_YN = 'N'
			                      AND Y.DEL_YN = 'N'
			                  )  AS CNT
			            FROM DUAL
			          UNION ALL
			          SELECT
			                 '상품재고' AS DELIBLE
			                , (SELECT COUNT(*)
			                     FROM TB_GDS_INVNTR X
			                    WHERE X.APC_CD = #{apcCd}
			                      AND X.ITEM_CD = #{itemCd}
			                      AND X.SPCFCT_CD = #{spcfctCd}
			                      AND X.DEL_YN = 'N'
			                 )  AS CNT
			             FROM DUAL
			           UNION ALL
			           SELECT
						      '상품' AS DELIBLE
						     , (SELECT COUNT(*)
						          FROM TB_SPMT_PCKG_UNIT X
						         WHERE X.APC_CD = #{apcCd}
						           AND X.ITEM_CD = #{itemCd}
						           AND X.SPCFCT_CD = #{spcfctCd}
						           AND X.DEL_YN = 'N'
						      )  AS CNT
						 FROM DUAL
			           UNION ALL
			           SELECT
			                  '출하지시' AS DELIBLE
			                 , (SELECT COUNT(*)
			                      FROM TB_SPMT_CMND X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.ITEM_CD = #{itemCd}
			                       AND X.SPCFCT_CD = #{spcfctCd}
			                       AND X.DEL_YN = 'N'
			                  )  AS CNT
			             FROM DUAL
			           UNION ALL
			           SELECT
			                   '출하실적' AS DELIBLE
			                  , (SELECT COUNT(*)
			                       FROM TB_SPMT_PRFMNC_DTL X
			                      WHERE X.APC_CD = #{apcCd}
			                        AND X.ITEM_CD = #{itemCd}
			                        AND X.SPCFCT_CD = #{spcfctCd}
			                        AND X.DEL_YN = 'N'
			                   )  AS CNT
			             FROM DUAL
			           UNION ALL
			           SELECT
			                  '매출실적' AS DELIBLE
			                 , (SELECT COUNT(*)
			                      FROM TB_SLS_PRFMNC X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.ITEM_CD = #{itemCd}
			                       AND X.SPCFCT_CD = #{spcfctCd}
			                       AND X.DEL_YN = 'N'
			                  )  AS CNT
			             FROM DUAL
			         ) X
			 WHERE CNT > 0
	    ]]>
    </select>

</mapper>