<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CmnsVrtyMapper.xml                                   				-->
<!-- DESC : 품종 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.14  	김 호        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.CmnsVrtyMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.selectCmnsVrty			-->
	<!-- DESC : 품종 마스터 단건 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCmnsVrty" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO" resultType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.selectCmnsVrty */
				  VC.ITEM_CD
				, VC.VRTY_CD
				, VC.VRTY_NM
			    , VC.DEL_YN
			  FROM TB_VRTY_CRTR VC
			 WHERE VC.ITEM_CD = #{itemCd}
			   AND VC.VRTY_CD = #{vrtyCd}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.selectCmnsVrtyList		-->
	<!-- DESC : 품종 마스터 목록 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCmnsVrtyList" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO" resultType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.selectCmnsVrtyList */
				  VC.ITEM_CD
				, VC.VRTY_CD
				, VC.VRTY_NM
			    , VC.DEL_YN
			  FROM TB_VRTY_CRTR VC
			 WHERE VC.ITEM_CD = #{itemCd}
		]]>

		<if test='vrtyCd != null and vrtyCd != ""'>
			   AND VC.VRTY_CD LIKE #{vrtyCd} || '%'
		</if>
		<if test='vrtyNm != null and vrtyNm != ""'>
			   AND VC.VRTY_NM LIKE '%' || #{vrtyNm} || '%'
		</if>
		<if test='delYn != null and delYn != ""'>
			   AND VC.DEL_YN = #{delYn}
		</if>
		<if test='apcCd != null and apcCd != ""'>
			   AND NOT EXISTS (
			   			SELECT 1
			   			  FROM TB_APC_VRTY_CRTR X
			   			 WHERE X.APC_CD = #{apcCd}
			   			   AND X.VRTY_CD = VC.VRTY_CD
			   			   AND X.ITEM_CD = VC.ITEM_CD
			   		)
		</if>

    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.insertCmnsVrty			-->
	<!-- DESC : 품종 마스터 등록.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertCmnsVrty" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.insertCmnsVrty */
	    		INTO TB_VRTY_CRTR
				(
					  ITEM_CD
					, VRTY_CD
		    		, VRTY_NM
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{itemCd}
					, #{vrtyCd}
		    		, #{vrtyNm}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.updateCmnsVrty			-->
	<!-- DESC : 품종 마스터 변경.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateCmnsVrty" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.updateCmnsVrty */
				TB_VRTY_CRTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, VRTY_NM					= #{vrtyNm}
	    		, DEL_YN					= #{delYn}
			 WHERE ITEM_CD = #{itemCd}
			   AND VRTY_CD = #{vrtyCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.deleteCmnsVrty			-->
	<!-- DESC : 품종 마스터 삭제.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteCmnsVrty" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.deleteCmnsVrty */
			  FROM TB_VRTY_CRTR
			 WHERE ITEM_CD = #{itemCd}
			   AND VRTY_CD = #{vrtyCd}
		]]>
	</delete>


	<!-- APC 품종 정보 -->

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.selectApcVrty			-->
	<!-- DESC : APC 품종 단건 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcVrty" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO" resultType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.selectApcVrty */
			      AVC.APC_CD				AS APC_CD
				, AVC.ITEM_CD				AS ITEM_CD
				, AVC.VRTY_CD				AS VRTY_CD
				, AVC.VRTY_NM				AS VRTY_NM
				, AVC.UNIT_WGHT				AS UNIT_WGHT
				, AVC.WGHT_RKNG_SE_CD		AS WGHT_RKNG_SE_CD
				, AVC.NH_APC_CD				AS NH_APC_CD
				, AVC.NH_VRTY_NM			AS NH_VRTY_NM
				, AVC.SN 					AS SN
			    , AVC.DEL_YN				AS DEL_YN
			  FROM TB_APC_VRTY_CRTR AVC
			 WHERE AVC.ITEM_CD = #{itemCd}
			   AND AVC.VRTY_CD = #{vrtyCd}
			   AND AVC.APC_CD = #{apcCd}
		]]>
		<if test='extrnlLnkgCd != null and extrnlLnkgCd != ""'>
		  	  AND AVC.EXTRNL_LNKG_CD = #{extrnlLnkgCd}
		</if>
    </select>

	<select id="selectApcVrtyList" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO" resultType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.selectApcVrtyList */
				  AVC.APC_CD				AS APC_CD
				, AVC.ITEM_CD				AS ITEM_CD
				, (SELECT FN_GET_ITEM_NM(AVC.ITEM_CD, AVC.APC_CD) FROM DUAL) AS ITEM_NM
				, AVC.VRTY_CD				AS VRTY_CD
				, AVC.VRTY_NM				AS VRTY_NM
				, CONCAT(AVC.ITEM_CD, AVC.VRTY_CD)	AS ITEM_VRTY_CD
				, AVC.UNIT_WGHT				AS UNIT_WGHT
				, AVC.WGHT_RKNG_SE_CD		AS WGHT_RKNG_SE_CD
				, AVC.NH_APC_CD				AS NH_APC_CD
				, AVC.NH_VRTY_NM			AS NH_VRTY_NM
				, AVC.SN 					AS SN
			    , AVC.DEL_YN				AS DEL_YN
	    		, AVC.EXTRNL_LNKG_CD	 	AS EXTRNL_LNKG_CD
			  FROM TB_APC_VRTY_CRTR AVC
			 WHERE AVC.APC_CD = #{apcCd}
		]]>

		<if test='itemCd != null and itemCd != ""'>
			   AND AVC.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			   AND AVC.VRTY_CD LIKE #{vrtyCd} || '%'
		</if>
		<if test='vrtyNm != null and vrtyNm != ""'>
			   AND AVC.VRTY_NM LIKE '%' || #{vrtyNm} || '%'
		</if>
		<if test='delYn != null and delYn != ""'>
			   AND AVC.DEL_YN = #{delYn}
		</if>
		<if test='extrnlLnkgCd != null and extrnlLnkgCd != ""'>
		  	  AND AVC.EXTRNL_LNKG_CD = #{extrnlLnkgCd}
		</if>
		<![CDATA[
			ORDER BY ITEM_CD, SN, VRTY_CD
		]]>

    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.insertApcVrty			-->
	<!-- DESC : APC 품종 등록.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertApcVrty" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.insertApcVrty */
	    		INTO TB_APC_VRTY_CRTR
	    		(
	    			  APC_CD
	    			, ITEM_CD
	    			, VRTY_CD
					, VRTY_NM
					, UNIT_WGHT
					, WGHT_RKNG_SE_CD
					, SN
					, NH_APC_CD
					, NH_VRTY_NM
					, EXTRNL_LNKG_CD
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_USER_ID
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_USER_ID
					, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{apcCd}
	   				, #{itemCd}
    	]]>
    	<choose>
    		<when test='vrtyCd !=null and vrtyCd !=""'>
	   				, #{vrtyCd}
    		</when>
    		<otherwise>
    		  		, (SELECT FN_GET_ID_APC_VRTY(#{apcCd}, #{itemCd}) FROM DUAL)
    		</otherwise>
    	</choose>
    	<![CDATA[
					, #{vrtyNm}
					, #{unitWght}
    				, #{wghtRkngSeCd}
    				, #{sn}
    				, #{nhApcCd}
					, #{nhVrtyNm}
					, #{extrnlLnkgCd}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.updateApcVrty			-->
	<!-- DESC : APC 품종 변경.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateApcVrty" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.updateApcVrty */
				TB_APC_VRTY_CRTR
			   SET
				  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, VRTY_NM					= #{vrtyNm}
				, UNIT_WGHT					= #{unitWght}
				, WGHT_RKNG_SE_CD			= #{wghtRkngSeCd}
				, SN						= #{sn}
				, NH_APC_CD 				= #{nhApcCd}
				, NH_VRTY_NM 				= #{nhVrtyNm}
	    		, DEL_YN					= #{delYn}
			   	, EXTRNL_LNKG_CD			= #{extrnlLnkgCd}
			 WHERE ITEM_CD = #{itemCd}
			   AND VRTY_CD = #{vrtyCd}
			   AND APC_CD = #{apcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.deleteApcVrty			-->
	<!-- DESC : APC 품종 삭제.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteApcVrty" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.deleteApcVrty */
			  FROM TB_APC_VRTY_CRTR
			 WHERE ITEM_CD = #{itemCd}
			   AND VRTY_CD = #{vrtyCd}
			   AND APC_CD = #{apcCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.deleteApcVrtyAll			-->
	<!-- DESC : APC 품종 전체 삭제.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteApcVrtyAll" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.deleteApcVrty */
			  FROM TB_APC_VRTY_CRTR
			 WHERE ITEM_CD = #{itemCd}
			   AND APC_CD = #{apcCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.vrtyDelible				-->
	<!-- DESC : 품종 삭제 가능 여부.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.01.24  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="vrtyDelible" parameterType="com.at.apcss.am.cmns.vo.CmnsVrtyVO" resultType="com.at.apcss.am.cmns.vo.CmnsVrtyVO">
    	<![CDATA[
	    	SELECT X.* /* com.at.apcss.am.cmns.mapper.CmnsVrtyMapper.vrtyDelible */
			  FROM (
			         SELECT
			                '입고실적' AS DELIBLE
			               , (SELECT COUNT(*)
			                    FROM TB_RAW_MTR_WRHS_PRFMNC X
			                       , TB_RAW_MTR_INVNTR Y
			                   WHERE X.APC_CD = Y.APC_CD
			                     AND X.WRHSNO = Y.WRHSNO
			                     AND X.APC_CD = #{apcCd}
			                     AND Y.ITEM_CD = #{itemCd}
			                     AND Y.VRTY_CD = #{vrtyCd}
			                     AND X.DEL_YN = 'N'
			                     AND Y.DEL_YN = 'N'
			                  )  AS CNT
			           FROM DUAL
			         UNION ALL
			         SELECT
			                '원물재고' AS DELIBLE
			                , (SELECT COUNT(*)
			                    FROM TB_RAW_MTR_INVNTR X
			                   WHERE X.APC_CD = #{apcCd}
			                     AND X.ITEM_CD = #{itemCd}
			                     AND X.VRTY_CD = #{vrtyCd}
			                     AND X.DEL_YN = 'N'
			                  )  AS CNT
			           FROM DUAL
			         UNION ALL
			         SELECT
			                '선별실적' AS DELIBLE
			               , (SELECT COUNT(*)
			                    FROM TB_SORT_PRFMNC X
			                       , TB_SORT_INVNTR Y
			                   WHERE X.APC_CD = Y.APC_CD
			                     AND X.SORTNO = Y.SORTNO
			                     AND X.APC_CD = #{apcCd}
			                     AND Y.ITEM_CD = #{itemCd}
			                     AND Y.VRTY_CD = #{vrtyCd}
			                     AND X.DEL_YN = 'N'
			                     AND Y.DEL_YN = 'N'
			                  )  AS CNT
			           FROM DUAL
			         UNION ALL
			         SELECT
			                '선별재고' AS DELIBLE
			                , (SELECT COUNT(*)
			                    FROM TB_SORT_INVNTR X
			                   WHERE X.APC_CD = #{apcCd}
			                     AND X.ITEM_CD = #{itemCd}
			                     AND X.VRTY_CD = #{vrtyCd}
			                     AND X.DEL_YN = 'N'
			                  )  AS CNT
			           FROM DUAL
			          UNION ALL
			          SELECT
			                '포장지시' AS DELIBLE
			               , (SELECT COUNT(*)
			                    FROM TB_PCKG_CMND X
			                   WHERE X.APC_CD = #{apcCd}
			                     AND X.ITEM_CD = #{itemCd}
			                     AND X.VRTY_CD = #{vrtyCd}
			                     AND X.DEL_YN = 'N'
			                  )  AS CNT
			            FROM DUAL
			          UNION ALL
			          SELECT
			                 '포장실적' AS DELIBLE
			                 , (SELECT COUNT(*)
			                     FROM TB_PCKG_PRFMNC X
			                        , TB_GDS_INVNTR Y
			                    WHERE X.APC_CD = Y.APC_CD
			                      AND X.PCKGNO = Y.PCKGNO
			                      AND X.APC_CD = #{apcCd}
			                      AND Y.ITEM_CD = #{itemCd}
			                      AND Y.VRTY_CD = #{vrtyCd}
			                      AND X.DEL_YN = 'N'
			                      AND Y.DEL_YN = 'N'
			                  )  AS CNT
			            FROM DUAL
			          UNION ALL
			          SELECT
			                 '상품재고' AS DELIBLE
			                , (SELECT COUNT(*)
			                     FROM TB_GDS_INVNTR X
			                    WHERE X.APC_CD = #{apcCd}
			                      AND X.ITEM_CD = #{itemCd}
			                      AND X.VRTY_CD = #{vrtyCd}
			                      AND X.DEL_YN = 'N'
			                 )  AS CNT
			             FROM DUAL
			           UNION ALL
			           SELECT
			                  '상품' AS DELIBLE
			                 , (SELECT COUNT(*)
			                      FROM TB_SPMT_PCKG_UNIT X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.ITEM_CD = #{itemCd}
			                       AND X.VRTY_CD = #{vrtyCd}
			                       AND X.DEL_YN = 'N'
			                  )  AS CNT
			             FROM DUAL
			           UNION ALL
			           SELECT
			                  '출하지시' AS DELIBLE
			                 , (SELECT COUNT(*)
			                      FROM TB_SPMT_CMND X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.ITEM_CD = #{itemCd}
			                       AND X.VRTY_CD = #{vrtyCd}
			                       AND X.DEL_YN = 'N'
			                  )  AS CNT
			             FROM DUAL
			           UNION ALL
			           SELECT
			                   '출하실적' AS DELIBLE
			                  , (SELECT COUNT(*)
			                       FROM TB_SPMT_PRFMNC_DTL X
			                      WHERE X.APC_CD = #{apcCd}
			                        AND X.ITEM_CD = #{itemCd}
			                        AND X.VRTY_CD = #{vrtyCd}
			                        AND X.DEL_YN = 'N'
			                   )  AS CNT
			             FROM DUAL
			           UNION ALL
			           SELECT
			                  '매출실적' AS DELIBLE
			                 , (SELECT COUNT(*)
			                      FROM TB_SLS_PRFMNC X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.ITEM_CD = #{itemCd}
			                       AND X.VRTY_CD = #{vrtyCd}
			                       AND X.DEL_YN = 'N'
			                  )  AS CNT
			             FROM DUAL
			           UNION ALL
			           SELECT
			                  '정산단가' AS DELIBLE
			                 , (SELECT COUNT(*)
			                      FROM TB_CLCLN_UNTPRC X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.ITEM_CD = #{itemCd}
			                       AND X.VRTY_CD = #{vrtyCd}
			                       AND X.DEL_YN = 'N'
			                  )  AS CNT
			            FROM DUAL
			           UNION ALL
			           SELECT
			                  '정산실적' AS DELIBLE
			                 , (SELECT COUNT(*)
			                      FROM TB_CLCLN_PRFMNC X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.ITEM_CD = #{itemCd}
			                       AND X.VRTY_CD = #{vrtyCd}
			                       AND X.DEL_YN = 'N'
			                  )  AS CNT
			            FROM DUAL
			         ) X
			 WHERE CNT > 0
		]]>
    </select>

</mapper>