<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : PrdcrMapper.xml                                   					-->
<!-- DESC : 생산자 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.25  	김 호        	Initial Creation                            	-->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.PrdcrMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcr					-->
	<!-- DESC : 생산자 단건 조회.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectPrdcr" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcr */
				   PR.APC_CD        AS APC_CD
			     , PR.PRDCR_CD      AS PRDCR_CD
			     , PR.PRDCR_NM      AS PRDCR_NM
			     , PR.PRDCR_FRST_NM AS PRDCR_FRST_NM
			     , PR.RPRS_ITEM_CD  AS RPRS_ITEM_CD
			     , PR.RPRS_VRTY_CD  AS RPRS_VRTY_CD
			     , PR.GDS_SE_CD     AS GDS_SE_CD
			     , PR.WRHS_SE_CD    AS WRHS_SE_CD
			     , PR.TRSPRT_SE_CD  AS TRSPRT_SE_CD
			     , PR.CLCLN_CRTR_CD	AS CLCLN_CRTR_CD
			     , PR.VHCLNO        AS VHCLNO
			     , PR.TELNO        	AS TELNO
			     , PR.PRDCR_LINK_CD	AS PRDCR_LINK_CD
			     , PR.PRDCR_IDENTNO	AS PRDCR_IDENTNO
			     , PR.PLOR_CD			AS PLOR_CD
			     , PR.RMRK          AS RMRK
			     , PR.DEL_YN        AS DEL_YN
			  FROM TB_PRDCR_INFO PR
			 WHERE PR.APC_CD = #{apcCd}
				AND PR.PRDCR_CD = #{prdcrCd}
		   ]]>

    </select>
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcr					-->
	<!-- DESC : 생산자 단건 조회.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.05.23  박 승 진        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrNm" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcr */
				   PR.APC_CD        AS APC_CD
			     , PR.PRDCR_CD      AS PRDCR_CD
			     , PR.PRDCR_NM      AS PRDCR_NM
			     , PR.PRDCR_FRST_NM AS PRDCR_FRST_NM
			     , PR.RPRS_ITEM_CD  AS RPRS_ITEM_CD
			     , PR.RPRS_VRTY_CD  AS RPRS_VRTY_CD
			     , PR.GDS_SE_CD     AS GDS_SE_CD
			     , PR.WRHS_SE_CD    AS WRHS_SE_CD
			     , PR.TRSPRT_SE_CD  AS TRSPRT_SE_CD
			     , PR.CLCLN_CRTR_CD	AS CLCLN_CRTR_CD
			     , PR.VHCLNO        AS VHCLNO
			     , PR.TELNO        	AS TELNO
			     , PR.PRDCR_LINK_CD	AS PRDCR_LINK_CD
			     , PR.PRDCR_IDENTNO	AS PRDCR_IDENTNO
			     , PR.PLOR_CD			AS PLOR_CD
			     , PR.RMRK          AS RMRK
			     , PR.DEL_YN        AS DEL_YN
			  FROM TB_PRDCR_INFO PR
			 WHERE PR.APC_CD = #{apcCd}
				AND PR.PRDCR_NM = #{prdcrNm}
		   ]]>

    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrByIdentno		-->
	<!-- DESC : 생산자 단건 조회 by PrdcrIdentno.	                                -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrByIdentno" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrByIdentno */
				   PR.APC_CD        AS APC_CD
			     , PR.PRDCR_CD      AS PRDCR_CD
			     , PR.PRDCR_NM      AS PRDCR_NM
			     , PR.PRDCR_FRST_NM AS PRDCR_FRST_NM
			     , PR.RPRS_ITEM_CD  AS RPRS_ITEM_CD
			     , PR.RPRS_VRTY_CD  AS RPRS_VRTY_CD
			     , PR.GDS_SE_CD     AS GDS_SE_CD
			     , PR.WRHS_SE_CD    AS WRHS_SE_CD
			     , PR.TRSPRT_SE_CD  AS TRSPRT_SE_CD
			     , PR.CLCLN_CRTR_CD	AS CLCLN_CRTR_CD
			     , PR.VHCLNO        AS VHCLNO
			     , PR.TELNO        	AS TELNO
			     , PR.PRDCR_LINK_CD	AS PRDCR_LINK_CD
			     , PR.PRDCR_IDENTNO	AS PRDCR_IDENTNO
			     , PR.PLOR_CD		AS PLOR_CD
			     , PR.RMRK          AS RMRK
			     , PR.DEL_YN        AS DEL_YN
			  FROM TB_PRDCR_INFO PR
			 WHERE PR.APC_CD = #{apcCd}
			   AND PR.PRDCR_CD = (
			 		SELECT MIN(X.PRDCR_CD)
			 		  FROM TB_PRDCR_INFO X
			 		 WHERE X.APC_CD = PR.APC_CD
			 		   AND X.PRDCR_IDENTNO = #{identno}
					   AND X.DEL_YN = 'N'
			 	)
		   ]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrList				-->
	<!-- DESC : 생산자 목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrList" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrList */
				   PR.APC_CD        	AS APC_CD
			     , PR.PRDCR_CD      	AS PRDCR_CD
			     , PR.PRDCR_NM      	AS PRDCR_NM
			     , PR.PRDCR_FRST_NM 	AS PRDCR_FRST_NM
			     , PR.RPRS_ITEM_CD  	AS RPRS_ITEM_CD
			     , PR.RPRS_VRTY_CD  	AS RPRS_VRTY_CD
			     , PR.GDS_SE_CD     	AS GDS_SE_CD
			     , PR.WRHS_SE_CD    	AS WRHS_SE_CD
			     , PR.TRSPRT_SE_CD  	AS TRSPRT_SE_CD
			     , PR.CLCLN_CRTR_CD		AS CLCLN_CRTR_CD
			     , PR.VHCLNO        	AS VHCLNO
			     , PR.TELNO        		AS TELNO
			     , PR.PRDCR_LINK_CD		AS PRDCR_LINK_CD
			     , PR.PRDCR_IDENTNO		AS PRDCR_IDENTNO
			     , PR.PLOR_CD			AS PLOR_CD
			     , PR.RMRK          	AS RMRK
			     , PR.FRMHS_NM      	AS FRMHS_NM
			     , NVL(PR.FRMHS_TELNO, FI.MBL_TELNO)		AS FRMHS_TELNO
			     , PR.FRMHS_CTPV		AS FRMHS_CTPV
			     , (SELECT FN_GET_COM_CD_VL_NM('CTPV', PR.FRMHS_CTPV) FROM DUAL) AS FRMHS_CTPV_NM
			     , NVL(PR.FRMHS_ADDR, FI.ADMST_OWNR_RGDT_ADDR)		AS FRMHS_ADDR
			     , PR.DEL_YN        	AS DEL_YN
			     , PR.EXTRNL_LNKG_CD	AS EXTRNL_LNKG_CD
			     , (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = PR.APC_CD) AS APC_NM
			     , (SELECT FN_GET_ITEM_NM(PR.RPRS_ITEM_CD, PR.APC_CD) FROM DUAL) AS RPRS_ITEM_NM
			     , (SELECT FN_GET_VRTY_NM(PR.RPRS_ITEM_CD, PR.RPRS_VRTY_CD, PR.APC_CD) FROM DUAL) AS RPRS_VRTY_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', PR.GDS_SE_CD) FROM DUAL) AS GDS_SE_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', PR.WRHS_SE_CD) FROM DUAL) AS WRHS_SE_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('TRSPRT_SE_CD', PR.TRSPRT_SE_CD) FROM DUAL) AS TRSPRT_SE_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('STD_PLOR_CD', PR.PLOR_CD) FROM DUAL) AS PLOR_NM
			     , PR.BANK_CD			AS BANK_CD
			     , FN_UTL_DECRYPT_ARIA(PR.ACTNO) AS ACTNO
		]]>
		<if test='yr != null and yr != ""'>
				 , (SELECT CRTR_PRCL
                      FROM TB_CLTVTN_FRMHS_QLT X
                     WHERE X.APC_CD = PR.APC_CD
                       AND X.PRDCR_CD = PR.PRDCR_CD
                       AND X.DEL_YN = 'N'
                       AND YR = #{yr}
                   ) AS CRTR_PRCL
                 , (SELECT PLNTNG_PRCL
                      FROM TB_CLTVTN_FRMHS_QLT X
                     WHERE X.APC_CD = PR.APC_CD
                       AND X.PRDCR_CD = PR.PRDCR_CD
                       AND X.DEL_YN = 'N'
                       AND YR = #{yr}
                   ) AS PLNTNG_PRCL
                 , (SELECT PRCHS_QNTT
                      FROM TB_CLTVTN_FRMHS_QLT X
                     WHERE X.APC_CD = PR.APC_CD
                       AND X.PRDCR_CD = PR.PRDCR_CD
                       AND X.DEL_YN = 'N'
                       AND YR = #{yr}
                   ) AS PRCHS_QNTT
                 , (SELECT PRCHS_AMT
                      FROM TB_CLTVTN_FRMHS_QLT X
                     WHERE X.APC_CD = PR.APC_CD
                       AND X.PRDCR_CD = PR.PRDCR_CD
                       AND X.DEL_YN = 'N'
                       AND YR = #{yr}
                   ) AS PRCHS_AMT
	    	     , (SELECT QLT_EVL
					  FROM TB_CLTVTN_FRMHS_QLT X
                     WHERE X.APC_CD = PR.APC_CD
                       AND X.PRDCR_CD = PR.PRDCR_CD
                       AND X.DEL_YN = 'N'
                       AND YR = #{yr}
                   ) AS PRCHS_AMT
		</if>
		<![CDATA[
                 , PR.CRTR_AREA         AS CRTR_AREA
                 --, PR.CTRTAR         	AS CTRTAR
                 , PR.PLNTNG_AREA       AS PLNTNG_AREA
                 , PR.PRCHS_QNTT        AS PRCHS_QNTT
                 , PR.PRCHS_AMT         AS PRCHS_AMT
                 , FI.FRMERNO           AS FRMERNO
                 , NVL(PR.AGRC_YN, 'N')			AS AGRC_YN
	    		 , PR.USE_YN			AS USE_YN
                 , (SELECT SUM(CRTR_AREA)
	    		 --, (SELECT SUM(CTRTAR)
                      FROM TB_PRDCR_LAND_INFO X
                     WHERE X.APC_CD = PR.APC_CD
                       AND X.PRDCR_CD = PR.PRDCR_CD
                       AND X.DEL_YN = 'N'
                   ) AS LAND_CRTR_AREA
                 --) AS LAND_CTRTAR
                 , (SELECT SUM(PLNTNG_AREA)
                      FROM TB_PRDCR_LAND_INFO X
                     WHERE X.APC_CD = PR.APC_CD
                       AND X.PRDCR_CD = PR.PRDCR_CD
                       AND X.DEL_YN = 'N'
                   ) AS LAND_PLNTNG_AREA

			  FROM TB_PRDCR_INFO PR
			     , TB_AX_FRMER_INFO FI

			 WHERE PR.PRDCR_LINK_CD = FI.MNGMST_REGNO(+)
               AND FI.DEL_YN(+) = 'N'
			   AND PR.DEL_YN 	= 'N'
			   AND PR.APC_CD 	= #{apcCd}
		]]>

		<if test=' prdcrCd != null and prdcrCd !=""'>
			<choose>
				<when test='prdcrGroupYn != null and prdcrGroupYn != "" and prdcrGroupYn =="Y"'>
					AND PR.PRDCR_CD IN (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{prdcrCd})))
				</when>
				<otherwise>
					AND PR.PRDCR_CD = #{prdcrCd}
				</otherwise>
			</choose>
		</if>
		<if test=' prdcrNm != null and prdcrNm !=""'>
			   AND PR.PRDCR_NM LIKE '%' || #{prdcrNm} || '%'
		</if>
		<if test=' prdcrFrstNm != null and prdcrFrstNm !=""'>
			   AND PR.PRDCR_FRST_NM LIKE '%' || #{prdcrFrstNm} || '%'
		</if>
		<if test=' rprsItemCd != null and rprsItemCd !=""'>
			   AND PR.RPRS_ITEM_CD = #{rprsItemCd}
		</if>
		<if test=' extrnlLnkgCd != null and extrnlLnkgCd !=""'>
			   AND PR.EXTRNL_LNKG_CD = #{extrnlLnkgCd}
		</if>
		<if test=' rprsVrtyCd != null and rprsVrtyCd !=""'>
			   AND PR.RPRS_VRTY_CD = #{rprsVrtyCd}
		</if>
		<if test=' gdsSeCd != null and gdsSeCd !=""'>
			   AND PR.GDS_SE_CD = #{gdsSeCd}
		</if>
		<if test=' wrhsSeCd != null and wrhsSeCd !=""'>
			   AND PR.WRHS_SE_CD = #{wrhsSeCd}
		</if>
		<if test=' trsprtSeCd != null and trsprtSeCd !=""'>
			   AND PR.TRSPRT_SE_CD = #{trsprtSeCd}
		</if>
		<if test=' clclnCrtrCd != null and clclnCrtrCd !=""'>
			   AND PR.CLCLN_CRTR_CD = #{clclnCrtrCd}
		</if>
		<if test=' vhclno != null and vhclno !=""'>
			   AND PR.VHCLNO LIKE '%' || #{vhclno} || '%'
		</if>
		<if test=' telno != null and telno !=""'>
			   AND PR.TELNO LIKE '%' || #{telno} || '%'
		</if>
		<if test=' agrcYn != null and agrcYn !=""'>
			   AND NVL(PR.AGRC_YN, 'N') = #{agrcYn}
		</if>

    	<![CDATA[
    		 ORDER BY PRDCR_NM, PRDCR_CD
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrCdList			-->
	<!-- DESC : 생산자 목록 코드 조회.		                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	김 호        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCdList" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrList */
				   PR.APC_CD        	AS APC_CD
			     , PR.PRDCR_CD      	AS PRDCR_CD
			     , PR.PRDCR_NM      	AS PRDCR_NM
			     , PR.PRDCR_FRST_NM 	AS PRDCR_FRST_NM
			     , PR.RPRS_ITEM_CD  	AS RPRS_ITEM_CD
			     , PR.RPRS_VRTY_CD  	AS RPRS_VRTY_CD
			     , PR.GDS_SE_CD     	AS GDS_SE_CD
			     , PR.WRHS_SE_CD    	AS WRHS_SE_CD
			     , PR.TRSPRT_SE_CD  	AS TRSPRT_SE_CD
			     , PR.CLCLN_CRTR_CD		AS CLCLN_CRTR_CD
			     --, PR.VHCLNO        	AS VHCLNO
			     --, PR.TELNO        		AS TELNO
			     , PR.PRDCR_LINK_CD		AS PRDCR_LINK_CD
			     , PR.PRDCR_IDENTNO		AS PRDCR_IDENTNO
			     , PR.PLOR_CD			AS PLOR_CD
			     , PR.RMRK          	AS RMRK
			     , PR.FRMHS_NM      	AS FRMHS_NM
			     --, PR.FRMHS_TELNO		AS FRMHS_TELNO
			     --, PR.FRMHS_CTPV		AS FRMHS_CTPV
			     --, PR.FRMHS_ADDR		AS FRMHS_ADDR
			     , PR.DEL_YN        	AS DEL_YN
			     , PR.EXTRNL_LNKG_CD	AS EXTRNL_LNKG_CD
			     , (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = PR.APC_CD) AS APC_NM
			     , (SELECT FN_GET_ITEM_NM(PR.RPRS_ITEM_CD, PR.APC_CD) FROM DUAL) AS RPRS_ITEM_NM
			     , (SELECT FN_GET_VRTY_NM(PR.RPRS_ITEM_CD, PR.RPRS_VRTY_CD, PR.APC_CD) FROM DUAL) AS RPRS_VRTY_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', PR.GDS_SE_CD) FROM DUAL) AS GDS_SE_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', PR.WRHS_SE_CD) FROM DUAL) AS WRHS_SE_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('TRSPRT_SE_CD', PR.TRSPRT_SE_CD) FROM DUAL) AS TRSPRT_SE_NM

			  FROM TB_PRDCR_INFO PR
			 WHERE PR.APC_CD = #{apcCd}
			   AND PR.DEL_YN = 'N'
		]]>
		<if test=' prdcrCd != null and prdcrCd !=""'>
			   AND PR.PRDCR_CD = #{prdcrCd}
		</if>
		<if test=' prdcrNm != null and prdcrNm !=""'>
			   AND PR.PRDCR_NM LIKE '%' || #{prdcrNm} || '%'
		</if>
		<if test=' prdcrFrstNm != null and prdcrFrstNm !=""'>
			   AND PR.PRDCR_FRST_NM LIKE '%' || #{prdcrFrstNm} || '%'
		</if>
		<if test=' rprsItemCd != null and rprsItemCd !=""'>
			   AND PR.RPRS_ITEM_CD = #{rprsItemCd}
		</if>
		<if test=' extrnlLnkgCd != null and extrnlLnkgCd !=""'>
			   AND PR.EXTRNL_LNKG_CD = #{extrnlLnkgCd}
		</if>
		<if test=' rprsVrtyCd != null and rprsVrtyCd !=""'>
			   AND PR.RPRS_VRTY_CD = #{rprsVrtyCd}
		</if>
		<if test=' gdsSeCd != null and gdsSeCd !=""'>
			   AND PR.GDS_SE_CD = #{gdsSeCd}
		</if>
		<if test=' wrhsSeCd != null and wrhsSeCd !=""'>
			   AND PR.WRHS_SE_CD = #{wrhsSeCd}
		</if>
		<if test=' trsprtSeCd != null and trsprtSeCd !=""'>
			   AND PR.TRSPRT_SE_CD = #{trsprtSeCd}
		</if>
		<if test=' clclnCrtrCd != null and clclnCrtrCd !=""'>
			   AND PR.CLCLN_CRTR_CD = #{clclnCrtrCd}
		</if>
		<if test=' vhclno != null and vhclno !=""'>
			   AND PR.VHCLNO LIKE '%' || #{vhclno} || '%'
		</if>
		<if test=' telno != null and telno !=""'>
			   AND PR.TELNO LIKE '%' || #{telno} || '%'
		</if>
		<if test=' agrcYn != null and agrcYn !=""'>
			   AND NVL(PR.AGRC_YN, 'N') = #{agrcYn}
		</if>

    	<![CDATA[
    		 ORDER BY PRDCR_NM, PRDCR_CD
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectAgrixPrdcrList		-->
	<!-- DESC : 아그리스 생산자 마스터 목록 조회.	                                -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.12.04  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectAgrixPrdcrList" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectAgrixPrdcrList */
			       AFI.FRMERNO                      AS FRMERNO
			     , AFI.MNGMST_REGNO                 AS MNGMST_REGNO
			     , AFI.ADMST_OWNR_REL               AS ADMST_OWNR_REL
			     , AFI.ADMST_OWNR_CORP_NM           AS ADMST_OWNR_CORP_NM
			     , AFI.ADMST_OWNR_RGDT_ADDR         AS ADMST_OWNR_RGDT_ADDR
			     , AFI.ADMST_OWNR_ACTL_HBTN_ADDR    AS ADMST_OWNR_ACTL_HBTN_ADDR
			     , AFI.ADMST_OWNR_DADDR             AS ADMST_OWNR_DADDR
			     , AFI.VLG_NM                       AS VLG_NM
			     , AFI.PRSNA_CORP_SE_CD             AS PRSNA_CORP_SE_CD
			     , AFI.CTZN_FNGNR_SE_CD             AS CTZN_FNGNR_SE_CD
			     , AFI.TELNO                        AS TELNO
			     , AFI.MBL_TELNO                    AS MBL_TELNO
			     , AFI.FXNO                         AS FXNO
			     , AFI.EML_ADDR                     AS EML_ADDR
			     , AFI.AGRC_BGNG_YMD                AS AGRC_BGNG_YMD
			     , AFI.FRMNG_BGNG_SHAP              AS FRMNG_BGNG_SHAP
			     , AFI.FRMNG_ENGG_SHAP              AS FRMNG_ENGG_SHAP
			     , AFI.FNDN_YR                      AS FNDN_YR
			     , AFI.BRNO                         AS BRNO
			     , AFI.RPRSV_NM                     AS RPRSV_NM
			     , AFI.RPRSV_ADDR                   AS RPRSV_ADDR
			     , AFI.BRDT                         AS BRDT
			     , AFI.SXDC                         AS SXDC
			     , AFI.REG_SE_CD                    AS REG_SE_CD
			     , AFI.RMRK                         AS RMRK

			  FROM TB_AX_FRMER_INFO AFI
                 , TB_COM_USER CU
			 WHERE AFI.DEL_YN = 'N'
               AND CU.DEL_YN = 'N'
               AND AFI.BRNO = CU.BRNO
               AND CU.APC_CD = #{apcCd}
			   AND NOT EXISTS (
			                    SELECT 1
			                      FROM TB_PRDCR_INFO X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.PRDCR_LINK_CD = AFI.MNGMST_REGNO
			                       AND X.DEL_YN = 'N'
			                  )
		]]>
		<if test=' admstOwnrCorpNm != null and admstOwnrCorpNm !=""'>
			   AND AFI.ADMST_OWNR_CORP_NM LIKE '%' || #{admstOwnrCorpNm} || '%'
		</if>
		<if test=' admstOwnrRgdtAddr != null and admstOwnrRgdtAddr !=""'>
			   AND AFI.ADMST_OWNR_RGDT_ADDR LIKE '%' || #{admstOwnrRgdtAddr} || '%'
		</if>
		<if test=' telno != null and telno !=""'>
			   AND (AFI.TELNO LIKE '%' || #{telno} || '%' OR AFI.MBL_TELNO LIKE '%' || #{telno} || '%')
		</if>
    	<![CDATA[
    		 ORDER BY AFI.ADMST_OWNR_CORP_NM
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

   	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectNewPrdcrCd			-->
	<!-- DESC : 생산자 코드발번 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectNewPrdcrCd" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectNewPrdcrCd */
				   FN_GET_ID_PRDCR(#{apcCd}) AS PRDCR_CD
			  FROM DUAL
		]]>
    </select>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.insertPrdcr					-->
	<!-- DESC : 생산자 등록.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertPrdcr" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			INSERT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.insertPrdcr */
				INTO TB_PRDCR_INFO (
					  APC_CD
					, PRDCR_CD
					, PRDCR_NM
					, PRDCR_FRST_NM
					, RPRS_ITEM_CD
					, RPRS_VRTY_CD
					, GDS_SE_CD
					, WRHS_SE_CD
					, TRSPRT_SE_CD
					, CLCLN_CRTR_CD
					, VHCLNO
			     	, TELNO
			     	, PRDCR_LINK_CD
			     	, PRDCR_IDENTNO
					, FRMHS_NM
					, FRMHS_ADDR
			     	, PLOR_CD
					, RMRK
					, EXTRNL_LNKG_CD
					, AGRC_YN
					, USE_YN
					, BANK_CD
					, ACTNO
	    		  	, SYS_FRST_INPT_DT
	    		  	, SYS_FRST_INPT_USER_ID
	    		  	, SYS_FRST_INPT_PRGRM_ID
	    		  	, SYS_LAST_CHG_DT
	    		  	, SYS_LAST_CHG_USER_ID
	    		  	, SYS_LAST_CHG_PRGRM_ID
				) VALUES (
					  #{apcCd}
					, #{prdcrCd}
					, #{prdcrNm}
					, #{prdcrFrstNm}
					, #{rprsItemCd}
					, #{rprsVrtyCd}
					, #{gdsSeCd}
					, #{wrhsSeCd}
					, #{trsprtSeCd}
					, #{clclnCrtrCd}
					, #{vhclno}
					, #{telno}
					, #{prdcrLinkCd}
					, #{prdcrIdentno}
					, #{frmhsNm}
					, #{frmhsAddr}
					, #{plorCd}
					, #{rmrk}
					, #{extrnlLnkgCd}
					, #{agrcYn}
					, #{useYn}
					, #{bankCd}
					, FN_UTL_ENCRYPT_ARIA(#{actno})
					, SYSDATE
	   			  	, #{sysFrstInptUserId}
	   			  	, #{sysFrstInptPrgrmId}
	   			  	, SYSDATE
	   			  	, #{sysLastChgUserId}
	   			  	, #{sysLastChgPrgrmId}
				)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcr					-->
	<!-- DESC : 생산자 변경.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updatePrdcr" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcr */
	    		TB_PRDCR_INFO
			   SET
				  PRDCR_CD = #{prdcrCd}
				, PRDCR_NM = #{prdcrNm}
				, PRDCR_FRST_NM = #{prdcrFrstNm}
				, RPRS_ITEM_CD = #{rprsItemCd}
				, RPRS_VRTY_CD = #{rprsVrtyCd}
				, GDS_SE_CD = #{gdsSeCd}
				, WRHS_SE_CD = #{wrhsSeCd}
				, TRSPRT_SE_CD = #{trsprtSeCd}
				, CLCLN_CRTR_CD = #{clclnCrtrCd}
				, VHCLNO = #{vhclno}
				, TELNO = #{telno}
				, PRDCR_LINK_CD = #{prdcrLinkCd}
				, PRDCR_IDENTNO = #{prdcrIdentno}
			    , FRMHS_NM = #{frmhsNm}
			    , FRMHS_ADDR = #{frmhsAddr}
				, PLOR_CD = #{plorCd}
				, RMRK = #{rmrk}
				, EXTRNL_LNKG_CD = #{extrnlLnkgCd}
				, AGRC_YN = #{agrcYn}
			    , USE_YN = #{useYn}
			    , BANK_CD = #{bankCd}
				, ACTNO = FN_UTL_ENCRYPT_ARIA(#{actno})
    	]]>
		<if test='delYn != null and delYn !=""'>
			   	, DEL_YN= #{delYn}
		</if>
    	<![CDATA[
	    	    , SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
	    	 WHERE APC_CD = #{apcCd}
	    	   AND PRDCR_CD = #{prdcrCd}
    	]]>
    </update>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcrNm				-->
	<!-- DESC : 생산자 변경.                                            	 			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updatePrdcrNm" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcrNm */
	    		TB_PRDCR_INFO
			   SET
				PRDCR_CD = #{prdcrCd}
				, RPRS_ITEM_CD = #{rprsItemCd}
				, RPRS_VRTY_CD = #{rprsVrtyCd}
				, GDS_SE_CD = #{gdsSeCd}
				, WRHS_SE_CD = #{wrhsSeCd}
				, TRSPRT_SE_CD = #{trsprtSeCd}
				, CLCLN_CRTR_CD = #{clclnCrtrCd}
				, VHCLNO = #{vhclno}
				, TELNO = #{telno}
				, PRDCR_LINK_CD = #{prdcrLinkCd}
				, PRDCR_IDENTNO = #{prdcrIdentno}
			    , FRMHS_NM = #{frmhsNm}
			    , FRMHS_ADDR = #{frmhsAddr}
				, PLOR_CD = #{plorCd}
				, RMRK = #{rmrk}
				, EXTRNL_LNKG_CD = #{extrnlLnkgCd}
				, AGRC_YN = #{agrcYn}
			    , USE_YN = #{useYn}
			    , BANK_CD = #{bankCd}
				, ACTNO = FN_UTL_ENCRYPT_ARIA(#{actno})
    	]]>
		<if test='delYn != null and delYn !=""'>
			   	, DEL_YN= #{delYn}
		</if>
    	<![CDATA[
	    	    , SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
	    	 WHERE APC_CD = #{apcCd}
	    	   AND PRDCR_NM = #{prdcrNm}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcrRprs				-->
	<!-- DESC : 생산자 변경.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updatePrdcrRprs" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcrRprs */
	    		TB_PRDCR_INFO
			   SET
				  RPRS_ITEM_CD = #{rprsItemCd}
				, RPRS_VRTY_CD = #{rprsVrtyCd}
				, GDS_SE_CD = #{gdsSeCd}
				, WRHS_SE_CD = #{wrhsSeCd}
				, TRSPRT_SE_CD = #{trsprtSeCd}
				, PLOR_CD = #{plorCd}
    	]]>
		<if test='vhclno != null and vhclno !=""'>
			   	, VHCLNO = #{vhclno}
		</if>
    	<![CDATA[
	    	    , SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
	    	 WHERE APC_CD = #{apcCd}
	    	   AND PRDCR_CD = #{prdcrCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.deletePrdcr					-->
	<!-- DESC : 생산자 삭제.                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="deletePrdcr" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			UPDATE TB_PRDCR_INFO /* com.at.apcss.am.cmns.mapper.PrdcrMapper.deletePrdcr */
			  SET DEL_YN = 'Y'
	    	 WHERE APC_CD = #{apcCd}
	    	   AND PRDCR_CD = #{prdcrCd}
    	]]>
    </update>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.updateApcPrdcr				-->
	<!-- DESC : APC 생산자 정보 업데이트  		                            				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.04.05  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateApcPrdcr" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
    		UPDATE TB_PRDCR_INFO
			  SET SYS_LAST_CHG_DT		= SYSDATE
				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
				, PRDCR_NM	 			= #{prdcrNm}
				, EXTRNL_LNKG_CD 		= #{extrnlLnkgCd}
				, RMRK 					= #{rmrk}
			WHERE APC_CD 				= #{apcCd}
			  AND PRDCR_CD 				= #{prdcrCd}
    	]]>
    </update>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.updateApcPrdcrFrmhs			-->
	<!-- DESC : APC 생산자 정농가 기본 정보 업데이트  		                        -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.08  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateApcPrdcrFrmhs" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			UPDATE TB_PRDCR_INFO
			   SET SYS_LAST_CHG_DT		= SYSDATE
			 	 , SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
				 , SYS_LAST_CHG_PRGRM_ID= #{sysLastChgPrgrmId}
				 , FRMHS_TELNO			= #{frmhsTelno}
				 , FRMHS_CTPV           = #{frmhsCtpv}
				 , FRMHS_ADDR           = #{frmhsAddr}
			 WHERE APC_CD 				= #{apcCd}
			   AND PRDCR_CD 			= #{prdcrCd}
    	]]>
    </update>


    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrTypeDtlList				-->
	<!-- DESC : 생산자 유형상세 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2025.02.12  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrTypeDtlList" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT
				A.APC_CD
				, A.PRDCR_CD
				, A.PRDCR_NM
				, B.PRDCR_CRTR_TYPE
				, B.CRTR_CD
				, B.CRTR_DTL_CD
				, B.INDCT_SEQ
				, B.DEL_YN
				, B.USE_YN


				 FROM TB_PRDCR_INFO A
				   , TB_PRDCR_TYPE_DTL B

				WHERE A.APC_CD = B.APC_CD
				  AND A.PRDCR_CD = B.PRDCR_CD
				  AND A.DEL_YN = 'N'
				  AND A.APC_CD  = #{apcCd}

		]]>
		<if test='prdcrCd != null and prdcrCd !=""'>
			   	AND A.PRDCR_CD = #{prdcrCd}
		</if>
		<if test='crtrCd != null and crtrCd !=""'>
			   	AND SUBSTRING(B.CRTR_CD,0,4) = #{crtrCd}
		</if>

    		 ORDER BY A.PRDCR_NM, A.PRDCR_CD

		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcrTypeDtl			-->
	<!-- DESC : 생산자 상세 유형 등록.				  		                        -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.08  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertPrdcrTypeDtl" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			INSERT INTO TB_PRDCR_TYPE_DTL
			(
			 	APC_CD
				, CRTR_CD
				, CRTR_DTL_CD
				, DEL_YN
				, INDCT_SEQ
				, PRDCR_CD
				, PRDCR_CRTR_TYPE
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_FRST_INPT_USER_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_PRGRM_ID
				, SYS_LAST_CHG_USER_ID

			)VALUES(
				#{apcCd}
				, #{crtrCd}
				, #{crtrDtlCd}
				, 'N'
				, #{indctSeq}
				, #{prdcrCd}
				, #{prdcrCrtrType}
				, SYSDATE
				, #{sysFrstInptPrgrmId}
				, #{sysFrstInptUserId}
				, SYSDATE
				, #{sysLastChgPrgrmId}
				, #{sysLastChgUserId}
			)

    	]]>
    </insert>

     <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcrTypeDtl			-->
	<!-- DESC : 생산자 상세 유형 수정.				  		                        -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.08  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updatePrdcrTypeDtl" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			UPDATE TB_PRDCR_TYPE_DTL SET
				USE_YN = #{useYn}
				, INDCT_SEQ = #{indctSeq}
			WHERE APC_CD = #{apcCd}
			  AND CRTR_CD = #{crtrCd}
			  AND CRTR_DTL_CD = #{crtrDtlCd}

    	]]>
    </update>

    <!-- =========================================================================  -->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.deletePrdcrTypeDtl			-->
	<!-- DESC : 생산자 상세 유형 삭제.				  		                        -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.07.08  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deletePrdcrTypeDtl" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			DELETE FROM TB_PRDCR_TYPE_DTL
			WHERE APC_CD = #{apcCd}
				AND APC_CD = #{apcCd}
				AND CRTR_CD = #{crtrCd}
				AND CRTR_DTL_CD = #{crtrDtlCd}
				AND PRDCR_CD = #{prdcrCd}
				AND PRDCR_CRTR_TYPE = #{prdcrCrtrType}
		]]>
    </delete>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrTypeDtlList				-->
	<!-- DESC : 생산자 목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrTypeDtlVrty" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">

    	<![CDATA[
    	SELECT * FROM
	    (SELECT

			APC_CD
			,SUBSTR(CRTR_CD,0,4) AS ITEM_CD
			,(SELECT FN_GET_ITEM_NM(SUBSTR(CRTR_CD,0,4), APC_CD) FROM DUAL) AS ITEM_NM
			,CRTR_CD AS ITEM_VRTY_CD
			,CRTR_DTL_CD AS VRTY_CD
			,(SELECT FN_GET_VRTY_NM(SUBSTR(CRTR_CD,0,4),CRTR_DTL_CD, APC_CD) FROM DUAL) AS VRTY_NM
			,PRDCR_CD
			,(SELECT FN_GET_PRDCR_NM(PRDCR_CD, APC_CD) FROM DUAL) AS PRDCR_NM
			,USE_YN
			,DEL_YN

  		  FROM TB_PRDCR_TYPE_DTL
  		 WHERE APC_CD = #{apcCd}
  		   AND PRDCR_CD = #{prdcrCd}
  	  	   AND USE_YN = 'Y'
  	  	   AND DEL_YN = 'N'
  	  	   AND PRDCR_CRTR_TYPE = 'ITEM_VRTY_FILTER'
		]]>
		<if test='crtrCd != null and crtrCd !=""'>
			   	AND SUBSTRING(CRTR_CD,0,4) = #{crtrCd}
		</if>
		)
		   ORDER BY ITEM_CD, VRTY_NM



    </select>



</mapper>
