<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : PrdcrMapper.xml                                   					-->
<!-- DESC : 생산자 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.25  	김 호        	Initial Creation                            	-->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.PrdcrMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcr					-->
	<!-- DESC : 생산자 단건 조회.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectPrdcr" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcr */
				   PR.APC_CD        AS APC_CD
			     , PR.PRDCR_CD      AS PRDCR_CD
			     , PR.PRDCR_NM      AS PRDCR_NM
			     , PR.PRDCR_FRST_NM AS PRDCR_FRST_NM
			     , PR.RPRS_ITEM_CD  AS RPRS_ITEM_CD
			     , PR.RPRS_VRTY_CD  AS RPRS_VRTY_CD
			     , PR.GDS_SE_CD     AS GDS_SE_CD
			     , PR.WRHS_SE_CD    AS WRHS_SE_CD
			     , PR.TRSPRT_SE_CD  AS TRSPRT_SE_CD
			     , PR.CLCLN_CRTR_CD	AS CLCLN_CRTR_CD
			     , PR.VHCLNO        AS VHCLNO
			     , PR.TELNO        	AS TELNO
			     , PR.PRDCR_LINK_CD	AS PRDCR_LINK_CD
			     , PR.PRDCR_IDENTNO	AS PRDCR_IDENTNO
			     , PR.PLOR_CD			AS PLOR_CD
			     , PR.RMRK          AS RMRK
			     , PR.DEL_YN        AS DEL_YN
			  FROM TB_PRDCR_INFO PR
			 WHERE PR.APC_CD = #{apcCd}
			   AND PR.PRDCR_CD = #{prdcrCd}
		]]>
    </select>



	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrList				-->
	<!-- DESC : 생산자 목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrList" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectPrdcrList */
				   PR.APC_CD        	AS APC_CD
			     , PR.PRDCR_CD      	AS PRDCR_CD
			     , PR.PRDCR_NM      	AS PRDCR_NM
			     , PR.PRDCR_FRST_NM 	AS PRDCR_FRST_NM
			     , PR.RPRS_ITEM_CD  	AS RPRS_ITEM_CD
			     , PR.RPRS_VRTY_CD  	AS RPRS_VRTY_CD
			     , PR.GDS_SE_CD     	AS GDS_SE_CD
			     , PR.WRHS_SE_CD    	AS WRHS_SE_CD
			     , PR.TRSPRT_SE_CD  	AS TRSPRT_SE_CD
			     , PR.CLCLN_CRTR_CD		AS CLCLN_CRTR_CD
			     , PR.VHCLNO        	AS VHCLNO
			     , PR.TELNO        		AS TELNO
			     , PR.PRDCR_LINK_CD		AS PRDCR_LINK_CD
			     , PR.PRDCR_IDENTNO		AS PRDCR_IDENTNO
			     , PR.PLOR_CD			AS PLOR_CD
			     , PR.RMRK          	AS RMRK
			     , PR.FRMHS_NM      	AS FRMHS_NM
			     , PR.FRMHS_TELNO		AS FRMHS_TELNO
			     , PR.FRMHS_CTPV		AS FRMHS_CTPV
			     , PR.FRMHS_ADDR		AS FRMHS_ADDR
			     , PR.DEL_YN        	AS DEL_YN
			     , (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = PR.APC_CD) AS APC_NM
			     , (SELECT FN_GET_ITEM_NM(PR.RPRS_ITEM_CD, PR.APC_CD) FROM DUAL) AS RPRS_ITEM_NM
			     , (SELECT FN_GET_VRTY_NM(PR.RPRS_ITEM_CD, PR.RPRS_VRTY_CD, PR.APC_CD) FROM DUAL) AS RPRS_VRTY_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', PR.GDS_SE_CD) FROM DUAL) AS GDS_SE_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', PR.WRHS_SE_CD) FROM DUAL) AS WRHS_SE_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('TRSPRT_SE_CD', PR.TRSPRT_SE_CD) FROM DUAL) AS TRSPRT_SE_NM

			  FROM TB_PRDCR_INFO PR
			 WHERE PR.APC_CD = #{apcCd}
			   AND PR.DEL_YN = 'N'
		]]>
		<if test=' prdcrCd != null and prdcrCd !=""'>
			   AND PR.PRDCR_CD = #{prdcrCd}
		</if>
		<if test=' prdcrNm != null and prdcrNm !=""'>
			   AND PR.PRDCR_NM LIKE '%' || #{prdcrNm} || '%'
		</if>
		<if test=' prdcrFrstNm != null and prdcrFrstNm !=""'>
			   AND PR.PRDCR_FRST_NM LIKE '%' || #{prdcrFrstNm} || '%'
		</if>
		<if test=' rprsItemCd != null and rprsItemCd !=""'>
			   AND PR.RPRS_ITEM_CD = #{rprsItemCd}
		</if>
		<if test=' rprsVrtyCd != null and rprsVrtyCd !=""'>
			   AND PR.RPRS_VRTY_CD = #{rprsVrtyCd}
		</if>
		<if test=' gdsSeCd != null and gdsSeCd !=""'>
			   AND PR.GDS_SE_CD = #{gdsSeCd}
		</if>
		<if test=' wrhsSeCd != null and wrhsSeCd !=""'>
			   AND PR.WRHS_SE_CD = #{wrhsSeCd}
		</if>
		<if test=' trsprtSeCd != null and trsprtSeCd !=""'>
			   AND PR.TRSPRT_SE_CD = #{trsprtSeCd}
		</if>
		<if test=' clclnCrtrCd != null and clclnCrtrCd !=""'>
			   AND PR.CLCLN_CRTR_CD = #{clclnCrtrCd}
		</if>
		<if test=' vhclno != null and vhclno !=""'>
			   AND PR.VHCLNO LIKE '%' || #{vhclno} || '%'
		</if>
		<if test=' telno != null and telno !=""'>
			   AND PR.TELNO LIKE '%' || #{telno} || '%'
		</if>

    	<![CDATA[
    		 ORDER BY PRDCR_NM, PRDCR_CD
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectAgrixPrdcrList		-->
	<!-- DESC : 아그리스 생산자 마스터 목록 조회.	                                -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.12.04  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectAgrixPrdcrList" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectAgrixPrdcrList */
			       AFI.FRMERNO                      AS FRMERNO
			     , AFI.MNGMST_REGNO                 AS MNGMST_REGNO
			     , AFI.ADMST_OWNR_REL               AS ADMST_OWNR_REL
			     , AFI.ADMST_OWNR_CORP_NM           AS ADMST_OWNR_CORP_NM
			     , AFI.ADMST_OWNR_RGDT_ADDR         AS ADMST_OWNR_RGDT_ADDR
			     , AFI.ADMST_OWNR_ACTL_HBTN_ADDR    AS ADMST_OWNR_ACTL_HBTN_ADDR
			     , AFI.ADMST_OWNR_DADDR             AS ADMST_OWNR_DADDR
			     , AFI.VLG_NM                       AS VLG_NM
			     , AFI.PRSNA_CORP_SE_CD             AS PRSNA_CORP_SE_CD
			     , AFI.CTZN_FNGNR_SE_CD             AS CTZN_FNGNR_SE_CD
			     , AFI.TELNO                        AS TELNO
			     , AFI.MBL_TELNO                    AS MBL_TELNO
			     , AFI.FXNO                         AS FXNO
			     , AFI.EML_ADDR                     AS EML_ADDR
			     , AFI.AGRC_BGNG_YMD                AS AGRC_BGNG_YMD
			     , AFI.FRMNG_BGNG_SHAP              AS FRMNG_BGNG_SHAP
			     , AFI.FRMNG_ENGG_SHAP              AS FRMNG_ENGG_SHAP
			     , AFI.FNDN_YR                      AS FNDN_YR
			     , AFI.BRNO                         AS BRNO
			     , AFI.RPRSV_NM                     AS RPRSV_NM
			     , AFI.RPRSV_ADDR                   AS RPRSV_ADDR
			     , AFI.BRDT                         AS BRDT
			     , AFI.SXDC                         AS SXDC
			     , AFI.REG_SE_CD                    AS REG_SE_CD
			     , AFI.RMRK                         AS RMRK

			  FROM TB_AX_FRMER_INFO AFI
			 WHERE AFI.DEL_YN = 'N'
			   AND NOT EXISTS (
			                    SELECT 1
			                      FROM TB_PRDCR_INFO X
			                     WHERE X.APC_CD = #{apcCd}
			                       AND X.PRDCR_LINK_CD = AFI.MNGMST_REGNO
			                       AND X.DEL_YN = 'N'
			                  )
		]]>
		<if test=' admstOwnrCorpNm != null and admstOwnrCorpNm !=""'>
			   AND AFI.ADMST_OWNR_CORP_NM LIKE '%' || #{admstOwnrCorpNm} || '%'
		</if>
		<if test=' admstOwnrRgdtAddr != null and admstOwnrRgdtAddr !=""'>
			   AND AFI.ADMST_OWNR_RGDT_ADDR LIKE '%' || #{admstOwnrRgdtAddr} || '%'
		</if>
		<if test=' telno != null and telno !=""'>
			   AND (AFI.TELNO LIKE '%' || #{telno} || '%' OR AFI.MBL_TELNO LIKE '%' || #{telno} || '%')
		</if>
    	<![CDATA[
    		 ORDER BY AFI.ADMST_OWNR_CORP_NM
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

   	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.selectNewPrdcrCd			-->
	<!-- DESC : 생산자 코드발번 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectNewPrdcrCd" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO" resultType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.selectNewPrdcrCd */
				   FN_GET_ID_PRDCR(#{apcCd}) AS PRDCR_CD
			  FROM DUAL
		]]>
    </select>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.insertPrdcr					-->
	<!-- DESC : 생산자 등록.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertPrdcr" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			INSERT /* com.at.apcss.am.cmns.mapper.PrdcrMapper.insertPrdcr */
				INTO TB_PRDCR_INFO (
					  APC_CD
					, PRDCR_CD
					, PRDCR_NM
					, PRDCR_FRST_NM
					, RPRS_ITEM_CD
					, RPRS_VRTY_CD
					, GDS_SE_CD
					, WRHS_SE_CD
					, TRSPRT_SE_CD
					, CLCLN_CRTR_CD
					, VHCLNO
			     	, TELNO
			     	, PRDCR_LINK_CD
			     	, PRDCR_IDENTNO
			     	, PLOR_CD
					, RMRK
	    		  	, SYS_FRST_INPT_DT
	    		  	, SYS_FRST_INPT_USER_ID
	    		  	, SYS_FRST_INPT_PRGRM_ID
	    		  	, SYS_LAST_CHG_DT
	    		  	, SYS_LAST_CHG_USER_ID
	    		  	, SYS_LAST_CHG_PRGRM_ID
				) VALUES (
					  #{apcCd}
					, #{prdcrCd}
					, #{prdcrNm}
					, #{prdcrFrstNm}
					, #{rprsItemCd}
					, #{rprsVrtyCd}
					, #{gdsSeCd}
					, #{wrhsSeCd}
					, #{trsprtSeCd}
					, #{clclnCrtrCd}
					, #{vhclno}
					, #{telno}
					, #{prdcrLinkCd}
					, #{prdcrIdentno}
					, #{plorCd}
					, #{rmrk}
					, SYSDATE
	   			  	, #{sysFrstInptUserId}
	   			  	, #{sysFrstInptPrgrmId}
	   			  	, SYSDATE
	   			  	, #{sysLastChgUserId}
	   			  	, #{sysLastChgPrgrmId}
				)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcr					-->
	<!-- DESC : 생산자 변경.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updatePrdcr" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcr */
	    		TB_PRDCR_INFO
			   SET
				  PRDCR_CD = #{prdcrCd}
				, PRDCR_NM = #{prdcrNm}
				, PRDCR_FRST_NM = #{prdcrFrstNm}
				, RPRS_ITEM_CD = #{rprsItemCd}
				, RPRS_VRTY_CD = #{rprsVrtyCd}
				, GDS_SE_CD = #{gdsSeCd}
				, WRHS_SE_CD = #{wrhsSeCd}
				, TRSPRT_SE_CD = #{trsprtSeCd}
				, CLCLN_CRTR_CD = #{clclnCrtrCd}
				, VHCLNO = #{vhclno}
				, TELNO = #{telno}
				, PRDCR_LINK_CD = #{prdcrLinkCd}
				, PRDCR_IDENTNO = #{prdcrIdentno}
				, PLOR_CD = #{plorCd}
				, RMRK = #{rmrk}
    	]]>
		<if test='delYn != null and delYn !=""'>
			   	, DEL_YN= #{delYn}
		</if>
    	<![CDATA[
	    	    , SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
	    	 WHERE APC_CD = #{apcCd}
	    	   AND PRDCR_CD = #{prdcrCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcrRprs				-->
	<!-- DESC : 생산자 변경.                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updatePrdcrRprs" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.PrdcrMapper.updatePrdcrRprs */
	    		TB_PRDCR_INFO
			   SET
				  RPRS_ITEM_CD = #{rprsItemCd}
				, RPRS_VRTY_CD = #{rprsVrtyCd}
				, GDS_SE_CD = #{gdsSeCd}
				, WRHS_SE_CD = #{wrhsSeCd}
				, TRSPRT_SE_CD = #{trsprtSeCd}
				, PLOR_CD = #{plorCd}
    	]]>
		<if test='vhclno != null and vhclno !=""'>
			   	, VHCLNO = #{vhclno}
		</if>
    	<![CDATA[
	    	    , SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
	    	 WHERE APC_CD = #{apcCd}
	    	   AND PRDCR_CD = #{prdcrCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.PrdcrMapper.deletePrdcr					-->
	<!-- DESC : 생산자 삭제.                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.25  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deletePrdcr" parameterType="com.at.apcss.am.cmns.vo.PrdcrVO">
    	<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.PrdcrMapper.deletePrdcr */
			  FROM TB_PRDCR_INFO
	    	 WHERE APC_CD = #{apcCd}
	    	   AND PRDCR_CD = #{prdcrCd}
    	]]>
    </delete>
</mapper>
