<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : RawMtrTrsprtCstMapper.xml                                   		-->
<!-- DESC : 원물운임비용등록 mapper                                             -->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.08.04  	하민우        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.RawMtrTrsprtCstMapper">


	<!-- ================================================================================== -->
	<!-- NAME : com.at.apcss.am.cmns.mapper.RawMtrTrsprtCstMapper.selectRawMtrTrsprtCstList -->
	<!-- DESC : 원물운임비용 목록 조회.	                                       				-->
	<!-- ==========================================================================	======= -->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      					-->
	<!-- ===========  	============  	===================================================	-->
	<!-- 2023.08.04  	하민우        	Initial Creation                            		-->
	<!-- ==================================================================================	-->
    <select id="selectRawMtrTrsprtCstList" parameterType="com.at.apcss.am.cmns.vo.RawMtrTrsprtCstVO" resultType="com.at.apcss.am.cmns.vo.RawMtrTrsprtCstVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
    	SELECT /* com.at.apcss.am.cmns.mapper.RawMtrTrsprtCstMapper.selectRawMtrTrsprtCstList */
    	       TC.APC_CD            AS APC_CD           -- APC코드
		     , TC.TRSPRT_YMD		AS TRSPRT_YMD       -- 운송일자
		     , TC.VHCLNO     		AS VHCLNO           -- 차량번호
		     , TC.SN				AS SN               -- 순번
		     , TC.TRSPRT_SE_CD      AS TRSPRT_SE_CD     -- 운송구분코드
		     , TC.TRSPRT_RGN_CD		AS TRSPRT_RGN_CD    -- 운송지역코드
		     , TC.WRHS_WGHT			AS WRHS_WGHT        -- 입고중량
		     , TC.TRSPRT_CST        AS TRSPRT_CST       -- 운임비용
		     , VI.DRVR_NM           AS DRVR_NM          -- 기사명
		     , (SELECT USRAM.FN_GET_COM_CD_VL_NM('BANK_CD', TC.BANK_CD) FROM DUAL)    	    AS BANK_NM          -- 은행명
		     , TC.BANK_CD    	    AS BANK_CD          -- 은행코드
		     , (SELECT FN_UTL_DECRYPT_ARIA(TC.ACTNO) FROM DUAL)	AS ACTNO            -- 계좌번호
		     , TC.DPSTR_NM			AS DPSTR_NM            -- 예금주명
		     , TC.RMRK              AS RMRK             -- 비고
		     , TC.DEL_YN            AS DEL_YN           -- 삭제유무
		  FROM TB_RAW_MTR_TRSPRT_CST    TC
			 , TB_WRHS_VHCL_INFO        VI
		 WHERE TC.APC_CD = VI.APC_CD
		   AND TC.VHCLNO = VI.VHCLNO
		   AND TC.DEL_YN = 'N'
		   AND VI.DEL_YN = 'N'
		   AND TC.APC_CD = #{apcCd}
		   AND TC.TRSPRT_YMD = #{trsprtYmd}
		]]>
		<if test='vhclno != null and vhclno !=""'>
		   AND TC.VHCLNO LIKE '%' || #{vhclno} || '%'
		</if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

    <!-- ==============================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.RawMtrTrsprtCstMapper.insertRawMtrTrsprtCst -->
	<!-- DESC : 원물운임비용 목록 등록.	                                       			-->
	<!-- ==============================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      				-->
	<!-- ===========  	============  	===============================================	-->
	<!-- 2023.08.04  	하민우        	Initial Creation                            	-->
	<!-- ==============================================================================	-->
    <insert id="insertRawMtrTrsprtCst" parameterType="com.at.apcss.am.cmns.vo.RawMtrTrsprtCstVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.RawMtrTrsprtCstMapper.insertRawMtrTrsprtCst */
	    		INTO TB_RAW_MTR_TRSPRT_CST
	    		(
	    			APC_CD
			   	  , TRSPRT_YMD
			   	  , VHCLNO
			   	  , SN
				  , TRSPRT_SE_CD
				  , TRSPRT_RGN_CD
				  , WRHS_WGHT
	    		  , TRSPRT_CST
	    		  , BANK_CD
	    		  , ACTNO
	    		  , DPSTR_NM
	    		  , RMRK
	    		  , DEL_YN
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
				    #{apcCd}
				  , #{trsprtYmd}
				  , #{vhclno}
				  , (SELECT FN_GET_SN_TRSPRT_CST(#{apcCd}, #{trsprtYmd}, #{vhclno}) FROM DUAL)
				  , #{trsprtSeCd}
				  , #{trsprtRgnCd}
				  , #{wrhsWght}
	    		  , #{trsprtCst}
	    		  , #{bankCd}
	    		  , FN_UTL_ENCRYPT_ARIA(#{actno})
	    		  , #{dpstrNm}
	    		  , #{rmrk}
	    		  , #{delYn}
	    		  , SYSDATE
	    		  , #{sysFrstInptUserId}
	    		  , #{sysFrstInptPrgrmId}
	    		  , SYSDATE
	    		  , #{sysLastChgUserId}
	    		  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.RawMtrTrsprtCstMapper.updateRawMtrTrsprtCst-->
	<!-- DESC : 원물운임비용 목록 수정.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.04  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateRawMtrTrsprtCst" parameterType="com.at.apcss.am.cmns.vo.RawMtrTrsprtCstVO">
		<![CDATA[
		UPDATE TB_RAW_MTR_TRSPRT_CST
		   SET SYS_LAST_CHG_DT			= SYSDATE
    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
			 , TRSPRT_SE_CD				= #{trsprtSeCd}
			 , TRSPRT_RGN_CD			= #{trsprtRgnCd}
			 , WRHS_WGHT				= #{wrhsWght}
    		 , TRSPRT_CST				= #{trsprtCst}
    		 , BANK_CD					= #{bankCd}
    		 , ACTNO					= FN_UTL_ENCRYPT_ARIA(#{actno})
    		 , DPSTR_NM					= #{dpstrNm}
    		 , RMRK						= #{rmrk}
    		 , DEL_YN					= #{delYn}
		 WHERE APC_CD					= #{apcCd}
		   AND TRSPRT_YMD				= #{trsprtYmd}
		   AND VHCLNO					= #{vhclno}
		   AND SN						= #{sn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.RawMtrTrsprtCstMapper.deleteRawMtrTrsprtCst-->
	<!-- DESC : 원물운임비용 목록 삭제.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.04  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteRawMtrTrsprtCst" parameterType="com.at.apcss.am.cmns.vo.RawMtrTrsprtCstVO">
		<![CDATA[
		DELETE FROM TB_RAW_MTR_TRSPRT_CST
		 WHERE APC_CD		= #{apcCd}
		   AND TRSPRT_YMD	= #{trsprtYmd}
		   AND VHCLNO		= #{vhclno}
		   AND SN			= #{sn}
		]]>
	</delete>

</mapper>


