<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : RgnTrsprtCstMapper.xml                                   			-->
<!-- DESC : 지역별 운임 mapper                                             		-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.13  	김홓        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.RgnTrsprtCstMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.RgnTrsprtCstMapper.selectWrhsVhclList	-->
	<!-- DESC : 지역별 운임 목록 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.12  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectRgnTrsprtCstList" parameterType="com.at.apcss.am.cmns.vo.RgnTrsprtCstVO" resultType="com.at.apcss.am.cmns.vo.RgnTrsprtCstVO">
    	<![CDATA[
    	SELECT TC.APC_CD            AS APC_CD
		     , TC.TRSPRT_RGN_CD     AS TRSPRT_RGN_CD
		     , TC.TRSPRT_RGN_NM     AS TRSPRT_RGN_NM
		     , TC.TRSPRT_CST        AS TRSPRT_CST
		     , TC.RMRK              AS RMRK
		     , TC.DEL_YN            AS DEL_YN
		  FROM TB_RGN_TRSPRT_CST_INFO TC
		 WHERE TC.APC_CD = #{apcCd}
		]]>
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.RgnTrsprtCstMapper.insertWrhsVhcl		-->
	<!-- DESC : 지역별 운임 등록.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.11  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertRgnTrsprtCst" parameterType="com.at.apcss.am.cmns.vo.RgnTrsprtCstVO">
    	<![CDATA[
    	INSERT INTO TB_RGN_TRSPRT_CST_INFO
    		(
    			APC_CD
    		  , TRSPRT_RGN_CD
    		  , TRSPRT_RGN_NM
    		  , TRSPRT_CST
    		  , RMRK
    		  , DEL_YN
    		  , SYS_FRST_INPT_DT
    		  , SYS_FRST_INPT_USER_ID
    		  , SYS_FRST_INPT_PRGRM_ID
    		  , SYS_LAST_CHG_DT
    		  , SYS_LAST_CHG_USER_ID
    		  , SYS_LAST_CHG_PRGRM_ID
    		)
   		VALUES
   			(
   				#{apcCd}
    		  , #{trsprtRgnCd}
    		  , #{trsprtRgnNm}
    		  , #{trsprtCst}
    		  , #{rmrk}
    		  , #{delYn}
    		  , SYSDATE
    		  , #{sysFrstInptUserId}
    		  , #{sysFrstInptPrgrmId}
    		  , SYSDATE
    		  , #{sysLastChgUserId}
    		  , #{sysLastChgPrgrmId}
   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.RgnTrsprtCstMapper.updateRgnTrsprtCst	-->
	<!-- DESC : 지역별 운임 변경.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.11  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateRgnTrsprtCst" parameterType="com.at.apcss.am.cmns.vo.RgnTrsprtCstVO">
		<![CDATA[
		UPDATE TB_RGN_TRSPRT_CST_INFO
		   SET SYS_LAST_CHG_DT 			= SYSDATE
    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
			 , TRSPRT_RGN_NM			= #{trsprtRgnNm}
    		 , TRSPRT_CST				= #{trsprtCst}
    		 , RMRK						= #{rmrk}
    		 , DEL_YN					= #{delYn}
		 WHERE APC_CD 					= #{apcCd}
		   AND TRSPRT_RGN_CD 			= #{trsprtRgnCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.RgnTrsprtCstMapper.deleteRgnTrsprtCst	-->
	<!-- DESC : 지역별 운임 삭제.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.11  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteRgnTrsprtCst" parameterType="com.at.apcss.am.cmns.vo.RgnTrsprtCstVO">
		<![CDATA[
		DELETE FROM TB_RGN_TRSPRT_CST_INFO
		 WHERE APC_CD			= #{apcCd}
		   AND TRSPRT_RGN_CD 	= #{trsprtRgnCd}
		]]>
	</delete>

</mapper>


