<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : SpmtPckgUnitMapper.xml                                   			-->
<!-- DESC : 출하포장단위 mapper                                             	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.31  	김 호        		Initial Creation                        -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.selectSpmtPckgUnit	-->
	<!-- DESC : 출하포장단위 단건 조회.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.31  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSpmtPckgUnit" parameterType="com.at.apcss.am.cmns.vo.SpmtPckgUnitVO" resultType="com.at.apcss.am.cmns.vo.SpmtPckgUnitVO">
    	<![CDATA[
    		SELECT pt0.*
    		     , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 					AS ITEM_NM
    		     , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) 		AS VRTY_NM
    		     , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) 	AS SPCFCT_NM
    		     , (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) 				AS GDS_GRD_NM
    		 FROM (
			    	SELECT /* com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.selectSpmtPckgUnit */
						   SPU.APC_CD               AS APC_CD
					     , SPU.SPMT_PCKG_UNIT_CD    AS SPMT_PCKG_UNIT_CD
					     , SPU.SPMT_PCKG_UNIT_NM    AS SPMT_PCKG_UNIT_NM
					     , SPU.ITEM_CD				AS ITEM_CD
					     , SPU.VRTY_CD              AS VRTY_CD
					     , SPU.SPCFCT_CD            AS SPCFCT_CD
					     , SPU.NTSL_UNTPRC          AS NTSL_UNTPRC
					     , SPU.DEL_YN               AS DEL_YN
					     , SPU.GDS_GRD				AS GDS_GRD
					     , SPU.BRND_NM				AS BRND_NM
					  FROM TB_SPMT_PCKG_UNIT SPU
				     WHERE SPU.APC_CD = #{apcCd}
		     	) pt0
		]]>
    </select>

	<!-- ===============================================================================-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.selectSpmtPckgUnitList	-->
	<!-- DESC : 출하포장단위 목록 조회.	                                       			-->
	<!-- ==============================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      				-->
	<!-- ===========  	============  	===============================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==============================================================================	-->
    <select id="selectSpmtPckgUnitList" parameterType="com.at.apcss.am.cmns.vo.SpmtPckgUnitVO" resultType="com.at.apcss.am.cmns.vo.SpmtPckgUnitVO">
    	<![CDATA[
    		SELECT
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			,
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
    			   pt0.*
    		     , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 					AS ITEM_NM
    		     , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) 		AS VRTY_NM
    		     , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) 	AS SPCFCT_NM
    		     , (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) 				AS GDS_GRD_NM
    		 FROM (

			    	SELECT /* com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.selectCmnsSpmtPckgUnitList */
						   SPU.APC_CD               AS APC_CD
					     , SPU.SPMT_PCKG_UNIT_CD    AS SPMT_PCKG_UNIT_CD
					     , SPU.SPMT_PCKG_UNIT_NM    AS SPMT_PCKG_UNIT_NM
					     , SPU.BRND_NM				AS BRND_NM
					     , SPU.ITEM_CD				AS ITEM_CD
					     , SPU.VRTY_CD              AS VRTY_CD
					     , SPU.SPCFCT_CD            AS SPCFCT_CD
					     , (SELECT MAX(X.SPMT_SLS_UNTPRC) KEEP (DENSE_RANK LAST ORDER BY X.APLCN_CRTR_YMD)
					          FROM TB_SPMT_SLS_UNTPRC_REG X
					         WHERE X.APC_CD = SPU.APC_CD
					           AND X.SPMT_PCKG_UNIT_CD = SPU.SPMT_PCKG_UNIT_CD
					           AND X.APLCN_CRTR_YMD <= TO_CHAR(SYSDATE, 'YYYYMMDD')) AS NTSL_UNTPRC
					     , SPU.DEL_YN               AS DEL_YN
					     , SPU.GDS_GRD				AS GDS_GRD
					  FROM TB_SPMT_PCKG_UNIT SPU
				     WHERE SPU.APC_CD = #{apcCd}
		]]>
		<if test='itemCd != null and itemCd != ""'>
			   AND SPU.ITEM_CD		= #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			   AND SPU.VRTY_CD		= #{vrtyCd}
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
			   AND SPU.SPCFCT_CD	= #{spcfctCd}
		</if>
		<if test='spmtPckgUnitNm != null and spmtPckgUnitNm != ""'>
			   AND SPU.SPMT_PCKG_UNIT_NM LIKE '%' ||  #{spmtPckgUnitNm} || '%'
		</if>
		<![CDATA[
			) pt0
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.insertSpmtPckgUnit	-->
	<!-- DESC : 출하포장단위 등록.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSpmtPckgUnit" parameterType="com.at.apcss.am.cmns.vo.SpmtPckgUnitVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.insertSpmtPckgUnitt */
	    		INTO TB_SPMT_PCKG_UNIT
				(
					  APC_CD
					, SPMT_PCKG_UNIT_CD
					, SPMT_PCKG_UNIT_NM
					, BRND_NM
					, ITEM_CD
					, VRTY_CD
					, SPCFCT_CD
					, GDS_GRD
					, NTSL_UNTPRC
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{apcCd}
					, #{spmtPckgUnitCd}
		    		, #{spmtPckgUnitNm}
		    		, #{brndNm}
		    		, #{itemCd}
					, #{vrtyCd}
					, #{spcfctCd}
					, #{gdsGrd}
					, #{ntslUntprc}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.updateSpmtPckgUnit	-->
	<!-- DESC : 출하포장단위 변경.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateSpmtPckgUnit" parameterType="com.at.apcss.am.cmns.vo.SpmtPckgUnitVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.updateSpmtPckgUnit */
				TB_SPMT_PCKG_UNIT
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
				, SPMT_PCKG_UNIT_NM			= #{spmtPckgUnitNm}
				, BRND_NM					= #{brndNm}
				, ITEM_CD					= #{itemCd}
				, VRTY_CD					= #{vrtyCd}
				, SPCFCT_CD					= #{spcfctCd}
				, GDS_GRD					= #{gdsGrd}
				, NTSL_UNTPRC  				= #{ntslUntprc}
	    		, DEL_YN					= #{delYn}
			 WHERE SPMT_PCKG_UNIT_CD 		= #{spmtPckgUnitCd}
			   AND APC_CD					= #{apcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.deleteSpmtPckgUnit	-->
	<!-- DESC : 출하포장단위 삭제.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteSpmtPckgUnit" parameterType="com.at.apcss.am.cmns.vo.SpmtPckgUnitVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.deleteSpmtPckgUnit */
			  FROM TB_SPMT_PCKG_UNIT
			WHERE SPMT_PCKG_UNIT_CD 		= #{spmtPckgUnitCd}
			   AND APC_CD					= #{apcCd}
		]]>
	</delete>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.getSpmtPckgUnitCd	-->
	<!-- DESC : 출하포장단위 자동발번 코드 조회.	                                -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.01  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="getSpmtPckgUnitCd" parameterType="com.at.apcss.am.cmns.vo.SpmtPckgUnitVO" resultType="com.at.apcss.am.cmns.vo.SpmtPckgUnitVO">
    	<![CDATA[
	    	/* com.at.apcss.am.cmns.mapper.SpmtPckgUnitMapper.getSpmtPckgUnitCd */
			SELECT FN_GET_ID_SPMT_PCKG_UNIT_CD(#{apcCd}) AS SPMT_PCKG_UNIT_CD FROM DUAL
		]]>
    </select>

</mapper>