<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CmnsGrdMapper.xml                                   				-->
<!-- DESC : 등급 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.14  	김 호        	Initial Creation                            	-->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.StdGrdMapper">

	<!-- APC 등급 정보 -->

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrd				-->
	<!-- DESC : APC 등급 단건 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectStdGrd" parameterType="com.at.apcss.am.cmns.vo.StdGrdVO" resultType="com.at.apcss.am.cmns.vo.StdGrdVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrd */
			       SG.APC_CD            AS APC_CD
			     , SG.ITEM_CD           AS ITEM_CD
			     , SG.GRD_SE_CD         AS GRD_SE_CD
			     , SG.GRD_KND           AS GRD_KND
			     , SG.GRD_KND_NM        AS GRD_KND_NM
			     , SG.ADTN_RT           AS ADTN_RT
			     , SG.STD_GRD_TYPE		AS STD_GRD_TYPE
			     , SG.DEL_YN            AS DEL_YN
			     , SG.SN				AS SN
			  FROM TB_APC_STD_GRD SG
			 WHERE SG.APC_CD	= #{apcCd}
			   AND SG.ITEM_CD 	= #{itemCd}
			   AND SG.GRD_SE_CD = #{grdSeCd}
			   AND SG.GRD_KND	= #{grdKnd}
			   AND SG.DEL_YN 	= 'N'
			 ORDER BY SG.APC_CD, SG.ITEM_CD, SG.SN
		]]>
    </select>



	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.selectNewGrdKnd			-->
	<!-- DESC : APC 등급코드 발번 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectNewGrdKnd" parameterType="com.at.apcss.am.cmns.vo.StdGrdVO" resultType="com.at.apcss.am.cmns.vo.StdGrdVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.selectNewGrdKnd */
			       #{apcCd}		AS APC_CD
			     , #{itemCd}	AS ITEM_CD
			     , #{grdSeCd}	AS GRD_SE_CD
			     , FN_GET_ID_APC_STD_GRD(#{apcCd}, #{itemCd}, #{grdSeCd}) AS GRD_KND
			  FROM DUAL
		]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrdList			-->
	<!-- DESC : APC 등급 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectStdGrdList" parameterType="com.at.apcss.am.cmns.vo.StdGrdVO" resultType="com.at.apcss.am.cmns.vo.StdGrdVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrd */
			       SG.APC_CD            AS APC_CD
			     , SG.ITEM_CD           AS ITEM_CD
			     , (SELECT FN_GET_ITEM_NM(SG.ITEM_CD, SG.APC_CD) FROM DUAL) AS ITEM_NM
			     , SG.GRD_SE_CD         AS GRD_SE_CD
			     , SG.GRD_KND           AS GRD_KND
			     , SG.GRD_KND_NM        AS GRD_KND_NM
			     , SG.ADTN_RT 			AS ADTN_RT
			     , SG.STD_GRD_TYPE		AS STD_GRD_TYPE
			     , SG.SN				AS SN
			     , SG.DEL_YN            AS DEL_YN
			  FROM TB_APC_STD_GRD SG
			 WHERE SG.APC_CD	= #{apcCd}
			   AND SG.DEL_YN 	= 'N'
		]]>
		<if test='itemCd != null and itemCd != ""'>
			   AND SG.ITEM_CD = #{itemCd}
		</if>
		<if test='grdSeCd != null and grdSeCd != ""'>
			   AND SG.GRD_SE_CD = #{grdSeCd}
		</if>
		<if test='grdKnd != null and grdKnd != ""'>
			   AND SG.GRD_KND = #{grdKnd}
		</if>
		<if test='grdKndNm != null and grdKndNm != ""'>
			   AND SG.GRD_KND_NM LIKE '%' || #{grdKndNm} || '%'
		</if>
		<if test='delYn != null and delYn != ""'>
			   AND SG.DEL_YN = #{delYn}
		</if>
		<![CDATA[
			 ORDER BY APC_CD, ITEM_CD, GRD_SE_CD, SN
		]]>

    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.insertStdGrd				-->
	<!-- DESC : APC 등급 등록.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <insert id="insertStdGrd" parameterType="com.at.apcss.am.cmns.vo.StdGrdVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.insertStdGrd */
	    		INTO TB_APC_STD_GRD
	    		(
	    			  APC_CD
	    			, ITEM_CD
	    			, GRD_SE_CD
	    			, GRD_KND
	    			, GRD_KND_NM
	    			, SN
	    			, ADTN_RT
	    			, STD_GRD_TYPE
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_USER_ID
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_USER_ID
					, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{apcCd}
	   				, #{itemCd}
	   				, #{grdSeCd}
	    			, #{grdKnd}
	    			, #{grdKndNm}
	    			, #{sn}
	    			, #{adtnRt}
	    			, #{stdGrdType}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.updateStdGrd				-->
	<!-- DESC : APC 등급 변경.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<update id="updateStdGrd" parameterType="com.at.apcss.am.cmns.vo.StdGrdVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.StdGrdMapper.updateStdGrd */
				TB_APC_STD_GRD
			   SET
				  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
    			, GRD_KND_NM				= #{grdKndNm}
    			, ADTN_RT					= #{adtnRt}
    			, SN						= #{sn}
    			, STD_GRD_TYPE				= #{stdGrdType}
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
			   AND GRD_SE_CD 	= #{grdSeCd}
			   AND GRD_KND 		= #{grdKnd}

		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.CmnsGrdMapper.deleteStdGrd				-->
	<!-- DESC : APC 등급 삭제.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<delete id="deleteStdGrd" parameterType="com.at.apcss.am.cmns.vo.StdGrdVO">
		<![CDATA[
			DELETE TB_APC_Std_GRD  /* com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrd */
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
			   AND GRD_SE_CD 	= #{grdSeCd}
			   AND GRD_KND 		= #{grdKnd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrdAll			-->
	<!-- DESC : APC 등급 품목별 전체 삭제.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.04  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<delete id="deleteStdGrdAll" parameterType="com.at.apcss.am.cmns.vo.StdGrdVO">
		<![CDATA[
			DELETE FROM TB_APC_STD_GRD /* com.at.apcss.am.cmns.mapper.CmnsGrdMapper.deleteStdGrdAll */
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
		]]>
	</delete>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrdDtl			-->
	<!-- DESC : APC 등급 상세 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectStdGrdDtl" parameterType="com.at.apcss.am.cmns.vo.StdGrdDtlVO" resultType="com.at.apcss.am.cmns.vo.StdGrdDtlVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrdDtl */
			       SG.APC_CD			AS APC_CD
			     , SG.ITEM_CD           AS ITEM_CD
			     , (SELECT FN_GET_ITEM_NM(SG.ITEM_CD, SGD.APC_CD) FROM DUAL) AS ITEM_NM
			     , SG.GRD_SE_CD        	AS GRD_SE_CD
			     , SG.GRD_KND           AS GRD_KND
			     , SG.GRD_KND_NM		AS GRD_KND_NM
			     , SG.ADTN_RT           AS ADTN_RT
			     , SG.STD_GRD_TYPE		AS STD_GRD_TYPE
			     , SGD.GRD_CD           AS GRD_CD
			     , SGD.GRD_NM           AS GRD_NM
			     , SGD.GRD_VL           AS GRD_VL
			     , SGD.SN               AS SN

  			  FROM TB_APC_STD_GRD SG

  			  JOIN TB_APC_STD_GRD_DTL SGD
  			    ON SGD.APC_CD = SG.APC_CD
  			   AND SGD.ITEM_CD = SG.ITEM_CD
  			   AND SGD.GRD_SE_CD = SG.GRD_SE_CD
  			   AND SGD.GRD_KND = SG.GRD_KND
  			   AND SGD.DEL_YN = 'N'

			 WHERE SG.APC_CD	= #{apcCd}
			   AND SG.GRD_SE_CD = #{grdSeCd}
			   AND SG.ITEM_CD 	= #{itemCd}
			   AND SG.GRD_KND 	= #{grdKnd}
			   AND SG.DEL_YN 	= 'N'
			   AND SGD.GRD_CD 	= #{grdCd}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrdDtlList		-->
	<!-- DESC : APC 등급 상세 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectStdGrdDtlList" parameterType="com.at.apcss.am.cmns.vo.StdGrdDtlVO" resultType="com.at.apcss.am.cmns.vo.StdGrdDtlVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrdDtlList */
				  SG.APC_CD         AS APC_CD
			    , SG.ITEM_CD        AS ITEM_CD
			    , SG.GRD_SE_CD      AS GRD_SE_CD
			    , SG.GRD_KND        AS GRD_KND
			    , SG.GRD_KND_NM		AS GRD_KND_NM
			    , SG.STD_GRD_TYPE	AS STD_GRD_TYPE
			    , (SELECT FN_GET_ITEM_NM(SG.ITEM_CD, SG.APC_CD) FROM DUAL) AS ITEM_NM
			    , SGD.GRD_CD        AS GRD_CD
			    , SGD.GRD_NM        AS GRD_NM
			    , SGD.GRD_VL      	AS GRD_VL
			    , SGD.AFTR_GRD_KND	AS AFTR_GRD_KND
				, SGD.AFTR_GRD_CD	AS AFTR_GRD_CD
				, SGD.LINK_GRD_CD	AS LINK_GRD_CD
			    , SGD.SN            AS SN
			    , SGD.DEL_YN        AS DEL_YN

			  FROM TB_APC_STD_GRD SG

  			  JOIN TB_APC_STD_GRD_DTL SGD
  			    ON SGD.APC_CD = SG.APC_CD
  			   AND SGD.ITEM_CD = SG.ITEM_CD
  			   AND SGD.GRD_SE_CD = SG.GRD_SE_CD
  			   AND SGD.GRD_KND = SG.GRD_KND
  			   AND SGD.DEL_YN = 'N'

			 WHERE SG.APC_CD		= #{apcCd}
			   AND SG.GRD_SE_CD 	= #{grdSeCd}
		]]>
		<if test='itemCd != null and itemCd != ""'>
			   AND SG.ITEM_CD = #{itemCd}
		</if>
		<if test='grdKnd != null and grdKnd != ""'>
			   AND SG.GRD_KND = #{grdKnd}
		</if>
		<if test='grdCd != null and grdCd != ""'>
			   AND SGD.GRD_CD = #{grdCd}
		</if>
		<if test='grdKndNm != null and grdKndNm != ""'>
			   AND SGD.GRD_NM LIKE '%' || #{grdKndNm} || '%'
		</if>
		<if test='delYn != null and delYn != ""'>
			   AND SGD.DEL_YN = #{delYn}
		</if>
		<![CDATA[
			 ORDER BY ITEM_CD, GRD_SE_CD, GRD_KND, SN
		]]>

    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.insertStdGrdDtl			-->
	<!-- DESC : APC 등급 상세 등록.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <insert id="insertStdGrdDtl" parameterType="com.at.apcss.am.cmns.vo.StdGrdDtlVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.insertStdGrdDtl */
	    		INTO TB_APC_STD_GRD_DTL
	    		(
	    			  APC_CD
	    			, ITEM_CD
	    			, GRD_SE_CD
	    			, GRD_KND
	    			, GRD_CD
			     	, GRD_NM
			     	, GRD_VL
			     	, SN
				  	, AFTR_GRD_KND
				  	, AFTR_GRD_CD
				  	, LINK_GRD_CD
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_USER_ID
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_USER_ID
					, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{apcCd}
	   				, #{itemCd}
	   				, #{grdSeCd}
	   				, #{grdKnd}
	    			, FN_GET_ID_APC_STD_GRD_DTL(#{apcCd}, #{itemCd}, #{grdSeCd}, #{grdKnd})
			     	, #{grdNm}
			     	, #{grdVl}
			     	, #{sn}
				    , #{aftrGrdKnd}
				    , #{aftrGrdCd}
				    , #{linkGrdCd}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.updateStdGrd				-->
	<!-- DESC : APC 등급 상세 변경.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<update id="updateStdGrdDtl" parameterType="com.at.apcss.am.cmns.vo.StdGrdDtlVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.StdGrdMapper.updateStdGrdDtl */
				TB_APC_STD_GRD_DTL
			   SET
				  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
	    		, GRD_NM					= #{grdNm}
	    		, GRD_VL					= #{grdVl}
	    		, SN						= #{sn}
				, AFTR_GRD_KND				= #{aftrGrdKnd}
				, AFTR_GRD_CD				= #{aftrGrdCd}
				, LINK_GRD_CD				= #{linkGrdCd}
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
			   AND GRD_SE_CD 	= #{grdSeCd}
			   AND GRD_KND 		= #{grdKnd}
			   AND GRD_CD		= #{grdCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrdDtl			-->
	<!-- DESC : APC 등급 상세 삭제.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<delete id="deleteStdGrdDtl" parameterType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO">
		<![CDATA[
			DELETE TB_APC_Std_GRD_DTL /* com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrdDtl */
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
			   AND GRD_SE_CD 	= #{grdSeCd}
			   AND GRD_KND 		= #{grdKnd}
			   AND GRD_CD		= #{grdCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrdDtlAll			-->
	<!-- DESC : APC 등급 상세 품목별 전체 삭제.	                                       		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.04  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<delete id="deleteStdGrdDtlAll" parameterType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO">
		<![CDATA[
			DELETE TB_APC_STD_GRD_DTL /* com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrdDtlAll */
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrdJgmtList		-->
	<!-- DESC : APC 등급 세부 정보 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <select id="selectStdGrdJgmtList" parameterType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO" resultType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.selectStdGrdJgmtList */
			       SGJ.APC_CD            AS APC_CD
			     , SGJ.ITEM_CD           AS ITEM_CD
			     , SGJ.GRD_SE_CD         AS GRD_SE_CD
			     , SGJ.GRD_CD            AS GRD_CD
			     , SGJ.GRD_NM            AS GRD_NM
			     , SGJ.GRD_VL            AS GRD_VL
			     , SGJ.JGMT_TYPE		 AS JGMT_TYPE
			     , SGJ.JGMT_MIN_VL		 AS JGMT_MIN_VL
			     , SGJ.JGMT_MAX_VL		 AS JGMT_MAX_VL
			     , SGJ.SN                AS SN
			     , SGJ.DEL_YN            AS DEL_YN
  			  FROM TB_APC_STD_GRD_JGMT SGJ
			 WHERE SGJ.DEL_YN 		= 'N'
			   AND SGJ.APC_CD		= #{apcCd}
			   AND SGJ.ITEM_CD 		= #{itemCd}
			   AND SGJ.GRD_SE_CD 	= #{grdSeCd}
		]]>

		<if test='grdCd != null and grdCd != ""'>
			   AND SGJ.GRD_CD = #{grdCd}
		</if>
		<if test='grdKndNm != null and grdKndNm != ""'>
			   AND SGJ.GRD_NM LIKE '%' || #{grdKndNm} || '%'
		</if>
		<if test='delYn != null and delYn != ""'>
			   AND SGJ.DEL_YN = #{delYn}
		</if>
		<![CDATA[
			 ORDER BY ITEM_CD, GRD_SE_CD, SN
		]]>

    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.insertStdGrdJgmt			-->
	<!-- DESC : APC 등급 세부 정보 등록.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
    <insert id="insertStdGrdJgmt" parameterType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.insertStdGrdJgmt */
	    		INTO TB_APC_STD_GRD_JGMT
	    		(
	    			  APC_CD
	    			, ITEM_CD
	    			, GRD_SE_CD
	    			, GRD_CD
			     	, GRD_NM
			     	, GRD_VL
			     	, JGMT_TYPE
			     	, JGMT_MIN_VL
			     	, JGMT_MAX_VL
			     	, SN
					, SYS_FRST_INPT_DT
					, SYS_FRST_INPT_USER_ID
					, SYS_FRST_INPT_PRGRM_ID
					, SYS_LAST_CHG_DT
					, SYS_LAST_CHG_USER_ID
					, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   				  #{apcCd}
	   				, #{itemCd}
	   				, #{grdSeCd}
	    			, FN_GET_ID_APC_STD_GRD_JGMT(#{apcCd}, #{itemCd}, #{grdSeCd})
			     	, #{grdNm}
			     	, #{grdVl}
			     	, #{jgmtType}
			     	, #{jgmtMinVl}
			     	, #{jgmtMaxVl}
			     	, #{sn}
					, SYSDATE
					, #{sysFrstInptUserId}
					, #{sysFrstInptPrgrmId}
					, SYSDATE
					, #{sysLastChgUserId}
					, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.updateStdGrd				-->
	<!-- DESC : APC 등급 세부 정보 변경.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<update id="updateStdGrdJgmt" parameterType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.cmns.mapper.StdGrdMapper.updateStdGrdJgmt */
				TB_APC_STD_GRD_JGMT
			   SET
				  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
	    		, GRD_NM					= #{grdNm}
	    		, GRD_VL					= #{grdVl}
	    		, JGMT_TYPE					= #{jgmtType}
			    , JGMT_MIN_VL				= #{jgmtMinVl}
		     	, JGMT_MAX_VL				= #{jgmtMaxVl}
	    		, SN						= #{sn}
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
			   AND GRD_SE_CD 	= #{grdSeCd}
			   AND GRD_CD		= #{grdCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrdJgmt			-->
	<!-- DESC : APC 등급 세부 정보 삭제.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<delete id="deleteStdGrdJgmt" parameterType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO">
		<![CDATA[
			DELETE FROM TB_APC_STD_GRD_JGMT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrdJgmt */
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
			   AND GRD_SE_CD 	= #{grdSeCd}
			   AND GRD_CD		= #{grdCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrdJgmtAll		-->
	<!-- DESC : APC 등급 상세 품목별 세부 정보 전체 삭제.	                                    -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.04  	김 호        	Initial Creation                            	-->
	<!-- ==========================================================================	-->
	<delete id="deleteStdGrdJgmtAll" parameterType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO">
		<![CDATA[
			DELETE TB_APC_STD_GRD_JGMT /* com.at.apcss.am.cmns.mapper.StdGrdMapper.deleteStdGrdJgmtAll */
			 WHERE APC_CD 		= #{apcCd}
			   AND ITEM_CD 		= #{itemCd}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.grdDtlInvntrDelible		-->
	<!-- DESC : APC 등급 삭제여부 조회.	                                    		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="grdDtlInvntrDelible" parameterType="com.at.apcss.am.cmns.vo.StdGrdDtlVO" resultType="com.at.apcss.am.cmns.vo.StdGrdDtlVO">
    	<choose>
    		<when test='grdSeCd == "01"'>
				<![CDATA[
					SELECT X.*	/* com.at.apcss.am.cmns.mapper.StdGrdMapper.grdDtlInvntrDelible */
					  FROM (
					        SELECT
					               '입고실적' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_RAW_MTR_STD_GRD X
					                     , TB_RAW_MTR_WRHS_PRFMNC Y
					                 WHERE X.APC_CD = Y.APC_CD
					                   AND X.WRHSNO = Y.PLTNO
					                   AND X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GRD_KND = #{grdKnd}
					                   AND X.GRD_CD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					                   AND Y.DEL_YN = 'N'
					               )  AS CNT
					          FROM DUAL
					         UNION ALL
					         SELECT
					               '원물재고' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_RAW_MTR_STD_GRD X
					                     , TB_RAW_MTR_WRHS_PRFMNC Y
					                 WHERE X.APC_CD = Y.APC_CD(+)
					                   AND X.WRHSNO = Y.PLTNO(+)
					                   AND X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GRD_KND = #{grdKnd}
					                   AND X.GRD_CD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					                   AND Y.DEL_YN = 'N'
					                   AND Y.PLTNO IS NULL
					               )  AS CNT
					          FROM DUAL
					         ) X
					 WHERE CNT > 0
				]]>
    		</when>
    		<when test='grdSeCd == "02"'>
				<![CDATA[
					SELECT X.*	/* com.at.apcss.am.cmns.mapper.StdGrdMapper.grdDtlInvntrDelible */
					  FROM (
					        SELECT
					               '선별실적' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_SORT_STD_GRD X
					                     , TB_SORT_PRFMNC Y
					                 WHERE X.APC_CD = Y.APC_CD
					                   AND X.SORTNO = Y.SORTNO
					                   AND X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GRD_KND = #{grdKnd}
					                   AND X.GRD_CD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					                   AND Y.DEL_YN = 'N'
					               )  AS CNT
					          FROM DUAL
					         UNION ALL
					          SELECT
					               '선별재고' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_SORT_STD_GRD X
					                     , TB_SORT_PRFMNC Y
					                 WHERE X.APC_CD = Y.APC_CD(+)
					                   AND X.SORTNO = Y.SORTNO(+)
					                   AND X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GRD_KND = #{grdKnd}
					                   AND X.GRD_CD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					                   AND Y.DEL_YN = 'N'
					                   AND Y.SORTNO IS NULL
					               )  AS CNT
					          FROM DUAL
					         ) X
					 WHERE CNT > 0
				]]>
    		</when>
    		<when test='grdSeCd == "03"'>
    			<![CDATA[
	    			SELECT X.*	/* com.at.apcss.am.cmns.mapper.StdGrdMapper.grdDtlInvntrDelible */
					   FROM (
					        SELECT
					               '상품재고' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_GDS_INVNTR X
					                 WHERE X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GDS_GRD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					               )  AS CNT
					          FROM DUAL
					        UNION ALL
					        SELECT '출하지시' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_SPMT_CMND X
					                 WHERE X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GDS_GRD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					               ) AS CNT
					          FROM DUAL
					        UNION ALL
					        SELECT '출하실적' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_SPMT_PRFMNC_DTL X
					                 WHERE X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GDS_GRD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					               ) AS CNT
					          FROM DUAL
					        UNION ALL
					        SELECT '매출실적' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_SLS_PRFMNC X
					                 WHERE X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GRD_CD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					               ) AS CNT
					          FROM DUAL
					         ) X
					 WHERE CNT > 0
				 ]]>
    		</when>
    	</choose>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.grdDtlInvntrDelibleNotJgmt	-->
	<!-- DESC : APC 등급 삭제여부 조회. 판정등급 없음	                            -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="grdDtlInvntrDelibleNotJgmt" parameterType="com.at.apcss.am.cmns.vo.StdGrdDtlVO" resultType="com.at.apcss.am.cmns.vo.StdGrdDtlVO">
    	<choose>
    		<when test='grdSeCd == "01"'>
				<![CDATA[
					SELECT X.*	/* com.at.apcss.am.cmns.mapper.StdGrdMapper.grdDtlInvntrDelibleNotJgmt */
					  FROM (
					        SELECT '입고실적' AS DELIBLE
					              , (SELECT COUNT(*)
					                   FROM TB_RAW_MTR_WRHS_PRFMNC RMP
					                      , TB_RAW_MTR_INVNTR RMI
					                  WHERE RMP.APC_CD = RMI.APC_CD
					                    AND RMP.WRHSNO = RMI.WRHSNO
					                    AND RMP.APC_CD = #{apcCd}
					                    AND RMI.ITEM_CD = #{itemCd}
					                    AND RMI.GRD_CD = #{grdCd}
					                    AND RMP.DEL_YN = 'N'
					                    AND RMI.DEL_YN = 'N'
					               ) AS CNT
					          FROM DUAL
					        UNION ALL
					        SELECT '원물재고' AS DELIBLE
					              , (SELECT COUNT(*)
					                   FROM TB_RAW_MTR_INVNTR RMI
					                  WHERE RMI.APC_CD = #{apcCd}
					                    AND RMI.ITEM_CD = #{itemCd}
					                    AND RMI.GRD_CD = #{grdCd}
					                    AND RMI.DEL_YN = 'N'
					               ) AS CNT
					          FROM DUAL
					       ) X
					WHERE CNT > 0
				]]>
    		</when>
    		<when test='grdSeCd == "02"'>
				<![CDATA[
					SELECT X.*	/* com.at.apcss.am.cmns.mapper.StdGrdMapper.grdDtlInvntrDelible */
					  FROM (
					        SELECT '선별실적' AS DELIBLE
					              , (SELECT COUNT(*)
					                   FROM TB_SORT_PRFMNC SP
					                      , TB_SORT_INVNTR SI
					                  WHERE SP.APC_CD = SI.APC_CD
					                    AND SP.SORTNO = SI.SORTNO
					                    AND SP.APC_CD = #{apcCd}
					                    AND SI.ITEM_CD = #{itemCd}
					                    AND SI.GRD_CD = #{grdCd}
					                    AND SI.DEL_YN = 'N'
					                    AND SP.DEL_YN = 'N'
					               ) AS CNT
					          FROM DUAL
					         UNION ALL
					         SELECT '선별재고' AS DELIBLE
					              , (SELECT COUNT(*)
					                   FROM TB_SORT_PRFMNC SP
					                      , TB_SORT_INVNTR SI
					                  WHERE SP.APC_CD(+) = SI.APC_CD
					                    AND SP.SORTNO(+) = SI.SORTNO
					                    AND SP.APC_CD = #{apcCd}
					                    AND SI.ITEM_CD = #{itemCd}
					                    AND SI.GRD_CD = #{grdCd}
					                    AND SI.DEL_YN = 'N'
					                    AND SP.DEL_YN = 'N'
					               ) AS CNT
					          FROM DUAL
					       ) X
					WHERE CNT > 0
				]]>
    		</when>
    	</choose>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.grdJgmtInvntrDelible		-->
	<!-- DESC : APC 등급 삭제여부 조회. 판정등급 없음	                            -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="grdJgmtInvntrDelible" parameterType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO" resultType="com.at.apcss.am.cmns.vo.StdGrdJgmtVO">
    	<choose>
    		<when test='grdSeCd == "01"'>
				<![CDATA[
					SELECT X.*	/* com.at.apcss.am.cmns.mapper.StdGrdMapper.grdJgmtInvntrDelible */
					  FROM (
					        SELECT
					               '입고실적' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_RAW_MTR_WRHS_PRFMNC X
					                     , TB_RAW_MTR_INVNTR Y
					                 WHERE X.APC_CD = Y.APC_CD
					                   AND X.WRHSNO = Y.WRHSNO
					                   AND X.APC_CD = #{apcCd}
					                   AND Y.ITEM_CD = #{itemCd}
					                   AND Y.GRD_CD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					                   AND Y.DEL_YN = 'N'
					               )  AS CNT
					          FROM DUAL
					         UNION ALL
					         SELECT
					               '원물재고' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_RAW_MTR_INVNTR X
					                 WHERE X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GRD_CD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					               )  AS CNT
					          FROM DUAL
					         ) X
					 WHERE CNT > 0
				]]>
    		</when>
    		<when test='grdSeCd == "02"'>
				<![CDATA[
					SELECT X.*	/* com.at.apcss.am.cmns.mapper.StdGrdMapper.grdJgmtInvntrDelible */
					  FROM (
					        SELECT
					               '선별실적' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_SORT_PRFMNC X
					                     , TB_SORT_INVNTR Y
					                 WHERE X.APC_CD = Y.APC_CD
					                   AND X.SORTNO = Y.SORTNO
					                   AND X.APC_CD = #{apcCd}
					                   AND Y.ITEM_CD = #{itemCd}
					                   AND Y.GRD_CD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					                   AND Y.DEL_YN = 'N'
					               )  AS CNT
					          FROM DUAL
					         UNION ALL
					         SELECT
					               '선별재고' AS DELIBLE
					              , (SELECT COUNT(*)
					                  FROM TB_SORT_INVNTR X
					                 WHERE X.APC_CD = #{apcCd}
					                   AND X.ITEM_CD = #{itemCd}
					                   AND X.GRD_CD = #{grdCd}
					                   AND X.DEL_YN = 'N'
					               )  AS CNT
					          FROM DUAL
					         ) X
					 WHERE CNT > 0
				]]>
    		</when>
    	</choose>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.StdGrdMapper.grdJgmtCheck				-->
	<!-- DESC : APC 등급 판정등급 체크 .	                                    	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.13  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="grdJgmtCheck" parameterType="com.at.apcss.am.cmns.vo.StdGrdVO" resultType="_int">
    	<![CDATA[
    		SELECT COUNT(*) /* com.at.apcss.am.cmns.mapper.StdGrdMapper.grdJgmtCheck */
			  FROM TB_APC_STD_GRD_JGMT
			 WHERE APC_CD = #{apcCd}
			   AND ITEM_CD = #{itemCd}
			   AND GRD_SE_CD = #{grdSeCd}
    	]]>
    </select>

</mapper>