<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : WrhsVhclMapper.xml                                   				-->
<!-- DESC : 차량정보 mapper                                             		-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.12  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.cmns.mapper.WrhsVhclMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.WrhsVhclMapper.selectWrhsVhclList		-->
	<!-- DESC : 차량정보 목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.12  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectWrhsVhclList" parameterType="com.at.apcss.am.cmns.vo.WrhsVhclVO" resultType="com.at.apcss.am.cmns.vo.WrhsVhclVO">
    	<![CDATA[
    	SELECT WV.APC_CD            AS APC_CD
		     , WV.VHCLNO            AS VHCLNO
		     , WV.DRVR_NM           AS DRVR_NM
		     , WV.BANK_CD           AS BANK_CD
		     , WV.ACTNO             AS ACTNO
		     , WV.DPSTR             AS DPSTR
		     , WV.RMRK              AS RMRK
		     , WV.DEL_YN            AS DEL_YN
		     , TO_CHAR(WV.SYS_LAST_CHG_DT, 'YYYY-MM-DD HH24:MI')   AS SYS_LAST_CHG_DT
		  FROM TB_WRHS_VHCL_INFO WV
		 WHERE WV.APC_CD = #{apcCd}
		]]>
		<if test='vhclno != null and vhclno !=""'>
		   AND WV.VHCLNO LIKE '%' || #{vhclno} || '%'
		</if>
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.WrhsVhclMapper.insertWrhsVhcl			-->
	<!-- DESC : 차량정보 등록.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.11  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertWrhsVhcl" parameterType="com.at.apcss.am.cmns.vo.WrhsVhclVO">
    	<![CDATA[
    	INSERT INTO TB_WRHS_VHCL_INFO
    		(
    			APC_CD
    		  , VHCLNO
    		  , DRVR_NM
    		  , BANK_CD
    		  , ACTNO
    		  , DPSTR
    		  , RMRK
    		  , DEL_YN
    		  , SYS_FRST_INPT_DT
    		  , SYS_FRST_INPT_USER_ID
    		  , SYS_FRST_INPT_PRGRM_ID
    		  , SYS_LAST_CHG_DT
    		  , SYS_LAST_CHG_USER_ID
    		  , SYS_LAST_CHG_PRGRM_ID
    		)
   		VALUES
   			(
   				#{apcCd}
    		  , #{vhclno}
    		  , #{drvrNm}
    		  , #{bankCd}
    		  , #{actno}
			  , #{dpstr}
    		  , #{rmrk}
    		  , #{delYn}
    		  , SYSDATE
    		  , #{sysFrstInptUserId}
    		  , #{sysFrstInptPrgrmId}
    		  , SYSDATE
    		  , #{sysLastChgUserId}
    		  , #{sysLastChgPrgrmId}
   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.WrhsVhclMapper.updateWrhsVhcl			-->
	<!-- DESC : 차량정보 변경.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.11  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateWrhsVhcl" parameterType="com.at.apcss.am.cmns.vo.WrhsVhclVO">
		<![CDATA[
		UPDATE TB_WRHS_VHCL_INFO
		   SET SYS_LAST_CHG_DT 			= SYSDATE
    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
			 , DRVR_NM					= #{drvrNm}
    		 , BANK_CD					= #{bankCd}
    		 , DPSTR					= #{dpstr}
    		 , RMRK						= #{rmrk}
    		 , DEL_YN					= #{delYn}
		 WHERE APC_CD 		= #{apcCd}
		   AND VHCLNO 		= #{vhclno}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.cmns.mapper.WrhsVhclMapper.deleteWrhsVhcl			-->
	<!-- DESC : 차량정보 삭제.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.11  	김 호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteWrhsVhcl" parameterType="com.at.apcss.am.cmns.vo.WrhsVhclVO">
		<![CDATA[
		DELETE FROM TB_WRHS_VHCL_INFO
		 WHERE APC_CD		= #{apcCd}
		   AND VHCLNO 		= #{vhclno}
		]]>
	</delete>

</mapper>


