<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : SortCmndMapper.xml                                   				-->
<!-- DESC : 선별실적 mapper                                            			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.08.16  	김호        		Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.sort.mapper.SortCmndMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.sort.mapper.SortPrfmncMapper.selectSortCmndList		-->
	<!-- DESC : 선별지시 목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.16  	김호        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <select id="selectSortCmndList" parameterType="com.at.apcss.am.sort.vo.SortCmndVO" resultType="com.at.apcss.am.sort.vo.SortCmndVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    			, (SELECT FN_GET_PRDCR_NM(pt0.PRDCR_CD, pt0.APC_CD) FROM DUAL) AS PRDCR_NM
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
                , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) AS WAREHOUSE_SE_NM
                , (SELECT FN_GET_COM_CD_VL_NM('FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) AS FCLT_NM
    		  FROM (
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
    		SELECT
    			  pt0.*
    			, (SELECT FN_GET_PRDCR_NM(pt0.PRDCR_CD, pt0.APC_CD) FROM DUAL) AS PRDCR_NM
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
                , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) AS WAREHOUSE_SE_NM
                , (SELECT FN_GET_COM_CD_VL_NM('FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) AS FCLT_NM
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
    		SELECT /* com.at.apcss.am.sort.mapper.SortPrfmncMapper.selectSortCmndList */
				   SC.APC_CD            AS APC_CD           -- APC코드
			     , SC.SORT_CMNDNO       AS SORT_CMNDNO      -- 선별지시번호
			     , SC.SORT_CMND_SN      AS SORT_CMND_SN     -- 선별지시순번
			     , SC.SORT_CMND_YMD     AS SORT_CMND_YMD    -- 선별지시일자
			     , SC.FCLT_CD           AS FCLT_CD          -- 설비코드
			     , SC.WAREHOUSE_SE_CD   AS WAREHOUSE_SE_CD  -- 창고구분코드
			     , SC.PLTNO             AS PLTNO            -- 팔레트번호
			     , SC.PRDCR_CD          AS PRDCR_CD         -- 생산자코드
			     , SC.ITEM_CD           AS ITEM_CD          -- 품목코드
			     , SC.VRTY_CD           AS VRTY_CD        	-- 품종코드
			     , SC.CMND_QNTT         AS CMND_QNTT        -- 지시수량
			     , SC.CMND_WGHT         AS CMND_WGHT        -- 지시중량
			     , SC.RMRK              AS RMRK             -- 비고
			     , SC.DEL_YN            AS DEL_YN           -- 삭제유무
			  FROM
			  	  TB_SORT_CMND SC
	        WHERE SC.DEL_YN = 'N'
		]]>
		<if test='sortCmndYmd != null and sortCmndYmd != ""'>
			 AND SC.SORT_CMND_YMD = #{sortCmndYmd}
		</if>
		<if test='fcltCd != null and fcltCd != ""'>
			 AND SC.FCLT_CD = #{fcltCd}
		</if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
    		  ) pt0
    	</if>
    	<!-- End 페이징 -->
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.sort.mapper.SortPrfmncMapper.insertSortCmnd			-->
	<!-- DESC : 선별지시 등록.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.16  	김호        		Initial Creation                        -->
	<!-- ==========================================================================	-->
	<insert id="insertSortCmnd" parameterType="com.at.apcss.am.sort.vo.SortCmndVO">
		<![CDATA[
			INSERT INTO TB_SORT_CMND
				(
					APC_CD
				  , SORT_CMNDNO
				  , SORT_CMND_SN
				  , SORT_CMND_YMD
				  , FCLT_CD
				  , WAREHOUSE_SE_CD
				  , PLTNO
				  , PRDCR_CD
				  , ITEM_CD
				  , VRTY_CD
				  , CMND_QNTT
				  , CMND_WGHT
				  , RMRK
				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
			VALUES
				(
				   #{apcCd}
				 , #{sortCmndno}
				 , #{sortCmndSn}
				 , #{sortCmndYmd}
				 , #{fcltCd}
				 , #{warehouseSeCd}
				 , #{pltno}
				 , #{prdcrCd}
				 , #{itemCd}
				 , #{vrtyCd}
				 , #{cmndQntt}
				 , #{cmndWght}
				 , #{rmrk}
				 , SYSDATE
				 , #{sysFrstInptUserId}
				 , #{sysFrstInptPrgrmId}
				 , SYSDATE
				 , #{sysLastChgUserId}
				 , #{sysLastChgPrgrmId}
				)

		]]>
	</insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.sort.mapper.SortPrfmncMapper.deleteSortCmnd			-->
	<!-- DESC : 선별지시 삭제.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.17  	김호        		Initial Creation                        -->
	<!-- ==========================================================================	-->
	<delete id="deleteSortCmnd" parameterType="com.at.apcss.am.sort.vo.SortCmndVO">
		DELETE /* com.at.apcss.am.sort.mapper.SortPrfmncMapper.deleteSortCmnd */
		  FROM TB_SORT_CMND
		 WHERE APC_CD			= #{apcCd}
		   AND SORT_CMNDNO		= #{sortCmndno}
		   AND SORT_CMND_SN 	= #{sortCmndSn}
	</delete>

</mapper>