<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : DvlpPrgrsMngMapper.xml                                    			-->
<!-- DESC : 개발진행관리 정보 mapper                                            -->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.08.07  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.selectDvlpPrgrsMngList-->
	<!-- DESC : 개발진행관리 테이블 목록 조회.                                      -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.07  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectDvlpPrgrsMngList" parameterType="com.at.apcss.co.pms.vo.DvlpPrgrsMngVO" resultType="com.at.apcss.co.pms.vo.DvlpPrgrsMngVO">
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.selectDvlpPrgrsMngList */
			      DPM.PRGRM_ID          AS PRGRM_ID
			    , DPM.PRGRM_NM          AS PRGRM_NM
			    , DPM.STTS              AS STTS
			    , DPM.CLSF              AS CLSF
			    , DPM.DVLP_PLAN_YMD     AS DVLP_PLAN_YMD
			    , DPM.DVLP_CMPTN_YMD    AS DVLP_CMPTN_YMD
			    , DPM.TEST_PLAN_YMD     AS TEST_PLAN_YMD
			    , DPM.TEST_CMPTN_YMD    AS TEST_CMPTN_YMD
			    , DPM.RMRK              AS RMRK
			    , (SELECT FN_GET_COM_CD_VL_NM('PIC',DPM.PIC) FROM DUAL)                AS PIC
			    , DPM.DEL_YN            AS DEL_YN
			    , NULLIF((SELECT COUNT(*) FROM TB_DFCT_MNG X WHERE X.PRGRM_ID = DPM.PRGRM_ID AND X.PJT_CD = DPM.PJT_CD), 0) AS DFCT_CNT
                , NULLIF((SELECT COUNT(*) FROM TB_DFCT_MNG X WHERE X.PRGRM_ID = DPM.PRGRM_ID AND X.ACTN_YMD IS NOT NULL AND X.PJT_CD = DPM.PJT_CD), 0) AS ACTN_CNT
			    , TO_CHAR(DPM.SYS_LAST_CHG_DT, 'YYYY-MM-DD HH24:MI') AS SYS_LAST_CHG_DT
			    , (SELECT FN_GET_COM_CD_VL_NM('PJT_CD',DPM.PJT_CD) FROM DUAL)		AS PROJECT
			    , DPM.PJT_CD			AS PJT_CD
    	]]>
    	<if test='dvlpPlanYmd != null and dvlpPlanYmd != ""'>
    	<![CDATA[
			    , CASE WHEN DPM.DVLP_PLAN_YMD > #{dvlpPlanYmd}
			           THEN ''
			           WHEN DPM.DVLP_PLAN_YMD <= #{dvlpPlanYmd} AND DPM.DVLP_CMPTN_YMD IS NULL
			           THEN '지연'
			           WHEN DPM.DVLP_PLAN_YMD <= #{dvlpPlanYmd} AND #{dvlpPlanYmd} < DPM.DVLP_CMPTN_YMD
			           THEN '지연'
			           WHEN DPM.DVLP_PLAN_YMD <= #{dvlpPlanYmd} AND #{dvlpPlanYmd} >= DPM.DVLP_CMPTN_YMD
			           THEN '완료'
			      END AS DVLP_STTS
		]]>
    	</if>
    	<![CDATA[
			 FROM TB_DVLP_PRGRS_MNG DPM
    	]]>
    	<where>
			<if test='stts != null and stts != ""'>
				AND DPM.STTS = #{stts}
			</if>
			<if test='clsf != null and clsf != ""'>
				AND DPM.CLSF = #{clsf}
			</if>
			<if test='pic != null and pic != ""'>
				AND DPM.PIC = #{pic}
			</if>
			<if test='prgrmNm != null and prgrmNm != ""'>
				AND DPM.PRGRM_NM LIKE '%' || #{prgrmNm} || '%'
			</if>
			 <if test='pjtCd != null and pjtCd != ""'>
				 AND DPM.PJT_CD = #{pjtCd}
			 </if>
		</where>
		<![CDATA[
			 ORDER BY DPM.DVLP_PLAN_YMD
    	]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.updateDvlpPrgrsMng	-->
	<!-- DESC : 개발진행관리 변경                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.07  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateDvlpPrgrsMng" parameterType="com.at.apcss.co.pms.vo.DvlpPrgrsMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.msg.mapper.ComMsgMapper.updateComMsg */
	    		TB_DVLP_PRGRS_MNG DPM
			   SET
				  SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
	    		, DVLP_PLAN_YMD     	= #{dvlpPlanYmd}
	    		, DVLP_CMPTN_YMD    	= #{dvlpCmptnYmd}
	    		, TEST_PLAN_YMD     	= #{testPlanYmd}
	    		, TEST_CMPTN_YMD    	= #{testCmptnYmd}
	    		, RMRK					= #{rmrk}
			 WHERE PJT_CD   = #{pjtCd}
			   AND PRGRM_ID	= #{prgrmId}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.updateDvlpStts		-->
	<!-- DESC : 개발진행관리 변경                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.07  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateDvlpStts" parameterType="com.at.apcss.co.pms.vo.DvlpPrgrsMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.msg.mapper.ComMsgMapper.updateDvlpStts */
	    		TB_DVLP_PRGRS_MNG DPM
			   SET
				  SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
	    		, STTS					= (
		    								CASE
										        WHEN
									                DPM.DVLP_CMPTN_YMD IS NOT NULL AND DPM.TEST_CMPTN_YMD IS NULL AND
									                (SELECT COUNT(*) FROM TB_DFCT_MNG X WHERE X.PRGRM_ID = DPM.PRGRM_ID AND X.PJT_CD = DPM.PJT_CD) =
									                (SELECT COUNT(*) FROM TB_DFCT_MNG X WHERE X.PRGRM_ID = DPM.PRGRM_ID AND X.PJT_CD = DPM.PJT_CD AND X.ACTN_YMD IS NOT NULL)
									            THEN '02'
									            WHEN
									                DPM.TEST_CMPTN_YMD IS NOT NULL
									                AND (SELECT COUNT(*) FROM TB_DFCT_MNG X WHERE X.PRGRM_ID = DPM.PRGRM_ID AND X.PJT_CD = DPM.PJT_CD) =
									                (SELECT COUNT(*) FROM TB_DFCT_MNG X WHERE X.PRGRM_ID = DPM.PRGRM_ID AND X.PJT_CD = DPM.PJT_CD AND X.ACTN_YMD IS NOT NULL)
									            THEN '04'
									            WHEN
									                DPM.DVLP_CMPTN_YMD IS NOT NULL
									                AND (SELECT COUNT(*) FROM TB_DFCT_MNG X WHERE X.PRGRM_ID = DPM.PRGRM_ID AND X.PJT_CD = DPM.PJT_CD) = 0
									            THEN '02'
									            WHEN
									                DPM.DVLP_CMPTN_YMD IS NULL AND DPM.TEST_CMPTN_YMD IS NULL
									                AND (SELECT COUNT(*) FROM TB_DFCT_MNG X WHERE X.PRGRM_ID = DPM.PRGRM_ID AND X.PJT_CD = DPM.PJT_CD) = 0
									            THEN '01'
									            ELSE '03'
										    END
										   )
			 WHERE PRGRM_ID	= #{prgrmId}
			   AND PJT_CD = #{pjtCd}
    	]]>
    </update>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.selectDfctMngList		-->
	<!-- DESC : 결함관리 테이블 목록 조회.                                      	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.07  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectDfctMngList" parameterType="com.at.apcss.co.pms.vo.DfctMngVO" resultType="com.at.apcss.co.pms.vo.DfctMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.selectDfctMngList */
			       DM.PRGRM_ID      AS PRGRM_ID
			     , DM.DFCT_SN       AS DFCT_SN
			     , DM.DFCT_CN       AS DFCT_CN
			     , DM.REG_PRSN_NM   AS REG_PRSN_NM
			     , DM.ACTN_RSLT     AS ACTN_RSLT
			     , DM.OCRN_YMD	 	AS OCRN_YMD
			     , DM.ACTN_YMD      AS ACTN_YMD
			     , DM.DEL_YN		AS DEL_YN
				 , DM.PJT_CD		AS PJT_CD
			  FROM TB_DFCT_MNG DM
			 WHERE DM.PRGRM_ID = #{prgrmId}
			   AND DM.PJT_CD = #{pjtCd}
    	]]>
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.insertDfctMng			-->
	<!-- DESC : 결함관리 등록                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.07  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<insert id="insertDfctMng" parameterType="com.at.apcss.co.pms.vo.DvlpPrgrsMngVO">
		<![CDATA[
			INSERT INTO TB_DFCT_MNG  /* com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.insertDfctMng */
				(
					PRGRM_ID
				  , DFCT_SN
				  , DFCT_CN
				  , REG_PRSN_NM
				  , ACTN_RSLT
				  , OCRN_YMD
				  , ACTN_YMD
				  , PJT_CD
				  , SYS_FRST_INPT_DT
				  , SYS_FRST_INPT_USER_ID
				  , SYS_FRST_INPT_PRGRM_ID
				  , SYS_LAST_CHG_DT
				  , SYS_LAST_CHG_USER_ID
				  , SYS_LAST_CHG_PRGRM_ID
				)
			VALUES
				(
				    #{prgrmId}
				  , (SELECT FN_GET_ID_DFCT_SN(#{pjtCd},#{prgrmId}) FROM DUAL)
				  , #{dfctCn}
				  , #{regPrsnNm}
				  , #{actnRslt}
				  , TO_CHAR(SYSDATE, 'YYYYMMDD')
				  , #{actnYmd}
				  , #{pjtCd}
				  , SYSDATE
				  , #{sysFrstInptUserId}
				  , #{sysFrstInptPrgrmId}
				  , SYSDATE
				  , #{sysLastChgUserId}
				  , #{sysLastChgPrgrmId}
				)
		]]>
	</insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.updateDfctMng			-->
	<!-- DESC : 결함관리 변경                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.07  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateDfctMng" parameterType="com.at.apcss.co.pms.vo.DvlpPrgrsMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.co.msg.mapper.ComMsgMapper.updateComMsg */
	    		TB_DFCT_MNG
			   SET
			      DFCT_CN    			= #{dfctCn}
			    , REG_PRSN_NM     		= #{regPrsnNm}
			    , ACTN_RSLT    			= #{actnRslt}
			    , ACTN_YMD   			= #{actnYmd}
			    , PJT_CD				= #{pjtCd}
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
			 WHERE PJT_CD	= #{pjtCd}
			   AND PRGRM_ID	= #{prgrmId}
			   AND DFCT_SN	= #{dfctSn}
    	]]>
    </update>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.deleteDfctMng			-->
	<!-- DESC : 결함관리 삭제                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.07  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteDfctMng" parameterType="com.at.apcss.co.pms.vo.DvlpPrgrsMngVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.deleteDfctMng */
	    	   FROM TB_DFCT_MNG
			  WHERE PJT_CD		= #{pjtCd}
			    AND PRGRM_ID	= #{prgrmId}
			    AND DFCT_SN		= #{dfctSn}
    	]]>
    </delete>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.selectDfct			-->
	<!-- DESC : 프로그램개발진처도 조회.                                      		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.09  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectDfct" parameterType="com.at.apcss.co.pms.vo.DfctVO" resultType="com.at.apcss.co.pms.vo.DfctVO">
    	<![CDATA[
			SELECT  /* com.at.apcss.co.pms.mapper.DvlpPrgrsMngMapper.selectDfct */
					GB
			      , SUM(TOT)    AS TOT
			      , SUM(CNT1)   AS CNT1
			      , SUM(CNT2)   AS CNT2
			      , CASE WHEN SUM(CNT1) - SUM(CNT2) < 0 THEN 0 ELSE SUM(CNT1) - SUM(CNT2) END AS CNT3
			      , CASE WHEN SUM(CNT2) > 0 THEN ROUND(SUM(CNT2) * 100 / NULLIF(SUM(CNT1), 0) ,1)||'%' ELSE null END PER1
			      , SUM(CNT4)   AS CNT4
			      , SUM(CNT5)   AS CNT5
			      , CASE WHEN SUM(CNT4) - SUM(CNT5) < 0 THEN 0 ELSE SUM(CNT4) - SUM(CNT5) END AS CNT6
			      , CASE WHEN SUM(CNT5) > 0 THEN ROUND(SUM(CNT5) * 100 / NULLIF(SUM(CNT4),0),1)||'%' ELSE null END PER2
			      , SUM(ERRCNT1) AS CNT7
			      , SUM(ERRCNT2) AS CNT8
			FROM   (SELECT  CASE WHEN A.CLSF <= '07' THEN '업무지원'
			                     WHEN A.CLSF  = '11' THEN '생산농가'
			                     WHEN A.CLSF  = '12' THEN '포탈'
			                     WHEN A.CLSF  = '13' THEN  '평가'
                                 END AS GB
			              , 1    AS TOT
			              , CASE WHEN A.DVLP_PLAN_YMD  <= #{dvlpPlanYmd} THEN 1 ELSE 0 END AS CNT1
			              , CASE WHEN A.DVLP_CMPTN_YMD <= #{dvlpPlanYmd} THEN 1 ELSE 0 END AS CNT2
			              , CASE WHEN A.TEST_PLAN_YMD  <= #{dvlpPlanYmd} THEN 1 ELSE 0 END AS CNT4
			              , CASE WHEN A.TEST_CMPTN_YMD <= #{dvlpPlanYmd} THEN 1 ELSE 0 END AS CNT5
			              , NVL(B.ERRCNT,0) AS ERRCNT1
			              , NVL(C.ERRCNT,0) AS ERRCNT2
			         FROM   USRAM.TB_DVLP_PRGRS_MNG A
			              , (SELECT PJT_CD, PRGRM_ID, COUNT(1) AS ERRCNT FROM USRAM.TB_DFCT_MNG GROUP BY PJT_CD, PRGRM_ID) B
			              , (SELECT PJT_CD, PRGRM_ID, COUNT(1) AS ERRCNT FROM USRAM.TB_DFCT_MNG WHERE ACTN_YMD IS NOT NULL GROUP BY PJT_CD, PRGRM_ID) C
			        WHERE   A.PRGRM_ID = B.PRGRM_ID(+)
			          AND   A.PRGRM_ID = C.PRGRM_ID(+)
                      AND   A.PJT_CD = B.PJT_CD(+)
                      AND   A.PJT_CD = C.PJT_CD(+)
    	]]>
    	<if test='pjtCd != null and pjtCd !=""'>
                      AND   A.PJT_CD = #{pjtCd}
    	</if>
    	<![CDATA[
			       )
			GROUP BY GB
    	]]>
    </select>


</mapper>