<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : SpmtEnggtInfoMngMapper.xml                                    				-->
<!-- DESC : 출하약정정보 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.selectSpmtEnggtInfoMng				-->
	<!-- DESC : 출하약정정보 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSpmtEnggtInfoMng" parameterType="com.at.apcss.fm.spmt.vo.SpmtEnggtInfoMngVO" resultType="com.at.apcss.fm.spmt.vo.SpmtEnggtInfoMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.selectSpmtEnggtInfoMng */
				  CM.MSG_KEY	AS MSG_KEY
				, CM.MSG_CN		AS MSG_CN
				, CM.MSG_KND	AS MSG_KND
				, CM.RMRK		AS RMRK
				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_COM_MSG CM
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.selectSpmtEnggtInfoMngList			-->
	<!-- DESC : 출하약정정보 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
<!-- 	 (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = CM.APC_CD2) AS APC_NM2,  -->
<!-- 				 CM.APC_CD3		AS APC_CD3, -->
<!-- 				 (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = CM.APC_CD3) AS APC_NM3 -->
    <select id="selectSpmtEnggtInfoMngList" parameterType="com.at.apcss.fm.spmt.vo.SpmtEnggtInfoMngVO" resultType="com.at.apcss.fm.spmt.vo.SpmtEnggtInfoMngVO">

    	<![CDATA[
			SELECT /* com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.selectSpmtEnggtInfoMngList */
				 CM.APC_CD           AS APC_CD,
				 (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = CM.APC_CD) AS APC_NM,
				 CM.SPMTNO          AS SPMTNO,
				 CM.PCKGNO          AS PCKGNO,
				 CM.PCKG_SN         AS PCKG_SN,
				 CM.ITEM_CD           AS ITEM_CD,
				 (SELECT FN_GET_ITEM_NM(CM.ITEM_CD, CM.APC_CD) FROM DUAL) AS ITEM_NM,
				 CM.VRTY_CD           AS VRTY_CD,
				 (SELECT FN_GET_VRTY_NM(CM.ITEM_CD, CM.VRTY_CD, CM.APC_CD) FROM DUAL) AS VRTY_NM,
				  CM.VRTY_CD           AS SPMT_CD,
				 (SELECT FN_GET_VRTY_NM(CM.ITEM_CD, CM.VRTY_CD, CM.APC_CD) FROM DUAL) AS SPMT_NM,
				 CM.GDS_SE_CD       AS GDS_SE_CD,
				 CM.SPCFCT_CD       AS SPCFCT_CD,
				 CM.PRDCTN_QNTT    AS PRDCTN_QNTT,
				 CM.SPMT_QNTT        AS SPMT_QNTT,
				 CM.SPMT_WGHT       AS SPMT_WGHT,
				 CM.PCKG_SE_CD       AS PCKG_SE_CD,
				 CM.BRND_CD             AS BRND_CD,
				 CM.GDS_CD               AS GDS_CD,
				 CM.PRDCR_CD           AS PRDCR_CD,
				 (SELECT X.PRDCR_NM FROM TB_PRDCR_INFO X WHERE X.PRDCR_CD = CM.PRDCR_CD AND X.APC_CD = CM.APC_CD) AS PRDCR_NM,
				 CM.SPMT_CMNDNO    AS SPMT_CMNDNO,
				 CM.CLTVTN_AREA       AS CLTVTN_AREA,
				 CM.SPMT_TYPE          AS SPMT_TYPE,
				 (SELECT FN_GET_COM_CD_VL_NM('SPMT_TYPE', CM.SPMT_TYPE) FROM DUAL) AS SPMT_TYPE_NM,
				 CM.TRMT_TYPE          AS TRMT_TYPE,
				 (SELECT FN_GET_COM_CD_VL_NM('TRMT_TYPE', CM.TRMT_TYPE) FROM DUAL) AS TRMT_TYPE_NM,
				 CM.SPMT_STR_DT      AS SPMT_STR_DT,
				 CM.SPMT_END_DT      AS SPMT_END_DT,
				 CM.DEL_YN                  AS DEL_YN,
				 CM.SYS_FRST_INPT_DT        AS SYS_FRST_INPT_DT,
				 CM.SYS_FRST_INPT_USER_ID         AS SYS_FRST_INPT_USER_ID,
				 CM.SYS_FRST_INPT_PRGRM_ID      AS SYS_FRST_INPT_PRGRM_ID,
				 CM.SYS_LAST_CHG_DT                   AS SYS_LAST_CHG_DT,
				 CM.SYS_LAST_CHG_USER_ID           AS SYS_LAST_CHG_USER_ID,
				 CM.SYS_LAST_CHG_PRGRM_ID        AS SYS_LAST_CHG_PRGRM_ID,
				 CM.DTL_MTTR	    AS DTL_MTTR,
				 CM.QLT_GRD		AS QLT_GRD,
				 CM.PRC			    AS PRC,
				 CM.PRC_PBLNT	AS PRC_PBLNT,
				 CM.UNIT		        AS UNIT,
				 CM.PRC_GIVE_DT	AS PRC_GIVE_DT,
				 CM.SPCL_MTTR	    AS SPCL_MTTR,
				 CM.ADVNC_PAY	    AS ADVNC_PAY,
				 CM.RMRK		    AS RMRK,
				 CM.APC_CD2		AS APC_CD2,
				 CM.APC_NM2 AS APC_NM2,
				 CM.APC_CD3		AS APC_CD3,
				 CM.APC_NM3 AS APC_NM3
			  FROM TB_SPMT_ENGGT_INFO_MNG CM
			  WHERE 1=1
			  AND CM.DEL_YN = 'N'
    	]]>

    		<if test='apcNm2 != null and apcNm2 != ""'>
				AND  CM.APC_NM2 LIKE '%'||#{apcNm2}||'%'
			</if>
    		<if test='apcNm3 != null and apcNm3 != ""'>
				AND  CM.APC_NM3 LIKE '%'||#{apcNm3}||'%'
			</if>
			<if test='spmtStrDt != null and spmtStrDt != "" and spmtEndDt != null and spmtEndDt != ""'>
				AND  CM.SPMT_DT BETWEEN TO_DATE(#{spmtStrDt}) AND TO_DATE(#{spmtEndDt})
			</if>
			<if test='itemCd != null and itemCd != ""'>
				AND CM.ITEM_CD = #{itemCd}
			</if>
			<if test='vrtyCd != null and vrtyCd != ""'>
				AND  CM.VRTY_CD = #{vrtyCd}
			</if>
			<if test='spmtType != null and spmtType != ""'>
				AND  CM.SPMT_TYPE = #{spmtType}
			</if>
			<if test='trmtType != null and trmtType != ""'>
				AND  CM.TRMT_TYPE = #{trmtType}
			</if>


    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.insertSpmtEnggtInfoMng				-->
	<!-- DESC : 출하약정정보 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSpmtEnggtInfoMng" parameterType="com.at.apcss.fm.spmt.vo.SpmtEnggtInfoMngVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.insertSpmtEnggtInfoMng */
	    	  INTO TB_SPMT_ENGGT_INFO_MNG
	    		(
	    			 APC_CD,
					 SPMTNO,
					 PCKGNO,
					 PCKG_SN,
					 ITEM_CD,
					 VRTY_CD,
					 GDS_SE_CD,
					 SPCFCT_CD,
					 PRDCTN_QNTT,
					 SPMT_QNTT,
					 SPMT_WGHT,
					 PCKG_SE_CD,
					 BRND_NM,
					 GDS_CD,
					 PRDCR_CD,
					 SPMT_CMNDNO,
					 CLTVTN_AREA,
					 SPMT_TYPE,
					 TRMT_TYPE,
					 SPMT_STR_DT,
					 SPMT_END_DT,
					 DEL_YN,
					 SYS_FRST_INPT_DT,
					 SYS_FRST_INPT_USER_ID,
					 SYS_FRST_INPT_PRGRM_ID,
					 SYS_LAST_CHG_DT,
					 SYS_LAST_CHG_USER_ID,
					 SYS_LAST_CHG_PRGRM_ID,
					 DTL_MTTR,
					 QLT_GRD,
					 PRC,
					 PRC_PBLNT,
					 UNIT,
					 PRC_GIVE_DT,
					 SPCL_MTTR,
					 ADVNC_PAY,
					 RMRK,
					 APC_CD2,
					 APC_NM2,
					 APC_CD3,
					 APC_NM3
	    		)
	   		VALUES
	   			(
	   			    #{apcCd}
	   			  , #{spmtNo}
	   			  , #{pckgNo}
	   			  ,  (SELECT NVL(MAX(PCKG_SN), 0) + 1 FROM TB_SPMT_ENGGT_INFO_MNG)
	   			  , #{itemCd}
	   			  , #{vrtyCd}
	   			  , #{gdsSeCd}
	   			  , #{spcfctCd}
	   			  , #{prdctnQntt}
	   			  , #{spmtQntt}
	   			  , #{spmtWght}
	   			  , #{pckgSeCd}
	   			  , #{brndNm}
	   			  , #{gdsCd}
	   			  , #{prdcrCd}
	   			  , #{spmtCmndno}
	   			  , #{cltvtnArea}
	   			  , #{spmtType}
	   			  , #{trmtType}
	   			  , #{spmtStrDt}
	   			  , #{spmtEndDt}
	   			  , 'N'
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			  , #{dtlMttr}
	   			  , #{qltGrd}
	   			  , #{prc}
	   			  , #{prcPblnt}
	   			  , #{unit}
	   			  , #{prcGiveDt}
	   			  , #{spclMttr}
	   			  , #{advncPay}
	   			  , #{rmrk}
	   			  , #{apcCd2}
	   			  , #{apcNm2}
	   			  , #{apcCd3}
	   			  , #{apcNm3}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.updateSpmtEnggtInfoMng				-->
	<!-- DESC : 출하약정정보 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateSpmtEnggtInfoMng" parameterType="com.at.apcss.fm.spmt.vo.SpmtEnggtInfoMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.updateSpmtEnggtInfoMng */
	    		TB_SPMT_ENGGT_INFO_MNG
			   SET
					  SPMTNO  =#{spmtNo}
					 ,PCKGNO  =  #{pckgNo}
					 ,ITEM_CD  = #{itemCd}
					 ,VRTY_CD  = #{vrtyCd}
					 ,GDS_SE_CD  = #{gdsSeCd}
					 ,SPCFCT_CD  =#{spcfctCd}
					 ,PRDCTN_QNTT  = #{prdctnQntt}
					 ,SPMT_QNTT  =  #{spmtQntt}
					 ,SPMT_WGHT  = #{spmtWght}
					 ,PCKG_SE_CD  =  #{pckgSeCd}
					 ,BRND_NM  =  #{brndNm}
					 ,GDS_CD  =  #{gdsCd}
					 ,PRDCR_CD  =  #{prdcrCd}
					 ,SPMT_CMNDNO  =#{spmtCmndno}
					 ,CLTVTN_AREA  =   #{cltvtnArea}
					 ,SPMT_TYPE  = #{spmtType}
					 ,TRMT_TYPE  =  #{trmtType}
					 ,SPMT_STR_DT  =  #{spmtStrDt}
					 ,SPMT_END_DT  = #{spmtEndDt}
					 ,DTL_MTTR  =  #{dtlMttr}
					 ,QLT_GRD  =   #{qltGrd}
					 ,PRC  =   #{prc}
					 ,PRC_PBLNT  =  #{prcPblnt}
					 ,UNIT  =  #{unit}
					 ,PRC_GIVE_DT  =   #{prcGiveDt}
					 ,SPCL_MTTR  = #{spclMttr}
					 ,ADVNC_PAY  =  #{advncPay}
					 ,RMRK  =  #{rmrk}
					 ,APC_CD2  =  #{apcCd2}
					 ,APC_NM2  =   #{apcNm2}
					 ,APC_CD3  =   #{apcCd3}
					 ,APC_NM3 =  #{apcNm3}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND APC_CD = #{apcCd}
		     AND  PCKG_SN = #{pckgSn}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.deleteSpmtEnggtInfoMng				-->
	<!-- DESC : 출하약정정보 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteSpmtEnggtInfoMng" parameterType="com.at.apcss.fm.spmt.vo.SpmtEnggtInfoMngVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.spmt.mapper.SpmtEnggtInfoMngMapper.deleteSpmtEnggtInfoMng */
	    		TB_SPMT_ENGGT_INFO_MNG
			 WHERE 1=1
		     AND APC_CD = #{apcCd}
		     AND  PCKG_SN = #{pckgSn}
    	]]>
    </delete>

</mapper>