log.server.ip=192.168.100.178
log.server.port=46014
log.server.sub.ip=192.168.100.178
log.server.sub.port=46015
command.server.port=56091
log.file.name=Ezmon_SmartAPC_39
system.code=39
print.session.info=false
print.object.info=false
mon.agent=use
request.content.type=all
req.id=loginId
req.id.cut=
socket.timeout=1500
log.limit.size=10
log.level=1
log.file.write=false
file.log.path=/tmp/
exclude.url=
max.queue.cnt=1000
max.thread.cnt=10
monitor.term=30000
file.store=use
file.store.upload.size.max=1
file.store.upload.path=/app/easycerti/upload
file.store.upload.encoding=UTF-8
file.store.download.path=/app/easycerti/download
file.store.download.encoding=UTF-8
socket.send.buff=1048576
socket.recv.buff=146988