<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : TrnsfGdsInvntrMapper.xml                                   			-->
<!-- DESC : 상품재고 이송 mapper                                            	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.28  	김현호        		Initial Creation                        -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.trnsf.mapper.TrnsfGdsInvntrMapper">

	<!-- =========================================================================================	-->
	<!-- NAME : com.at.apcss.am.trnsf.mapper.TrnsfGdsInvntrMapper.selectUpdateTrnsfGdsInvntrList	-->
	<!-- DESC : 상품재고 목록 조회.	                                       							-->
	<!-- =========================================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      							-->
	<!-- ===========  	============  	==========================================================	-->
	<!-- 2023.07.28  	김현호      		Initial Creation                            			-->
	<!-- =========================================================================================	-->
    <select id="selectUpdateTrnsfGdsInvntrList" parameterType="com.at.apcss.am.trnsf.vo.TrnsfGdsInvntrVO" resultType="com.at.apcss.am.trnsf.vo.TrnsfGdsInvntrVO">
    	<![CDATA[
    		SELECT
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			,
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
				  pt0.*
    			, (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = pt0.APC_CD) 								AS APC_NM
    			, (SELECT FN_GET_PRDCR_NM(pt0.RPRS_PRDCR_CD, pt0.APC_CD) FROM DUAL) 							AS PRDCR_NM
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 									AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) 						AS VRTY_NM
                , (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) 								AS GDS_GRD_NM
                , (SELECT FN_GET_COM_CD_VL_NM('PCKG_FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) 				AS FCLT_NM
                , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) 					AS SPCFCT_NM
				, (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', pt0.GDS_SE_CD) FROM DUAL) 							AS GDS_SE_NM
				, (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) 	AS WAREHOUSE_SE_NM
                , (SELECT FN_GET_SPMT_PCKG_UNIT_NM(pt0.SPMT_PCKG_UNIT_CD, pt0.APC_CD) FROM DUAL) 				AS SPMT_PCKG_UNIT_NM
                , (pt0.INVNTR_QNTT - pt0.CMND_QNTT) 															AS PSBLTY_INVNTR_QNTT
     			, (pt0.INVNTR_WGHT - pt0.CMND_WGHT) 															AS PSBLTY_INVNTR_WGHT
    		  FROM (
		    	SELECT /* com.at.apcss.am.trnsf.mapper.TrnsfGdsInvntrMapper.selectUpdateTrnsfGdsInvntrList */
				       GI.APC_CD				AS APC_CD
				     , GI.PCKGNO				AS PCKGNO
				     , GI.PCKG_SN				AS PCKG_SN
				     , GI.PCKG_YMD				AS PCKG_YMD
				     , GI.FCLT_CD				AS FCLT_CD
				     , GI.RPRS_PRDCR_CD			AS RPRS_PRDCR_CD
				     , GI.ITEM_CD				AS ITEM_CD
				     , GI.VRTY_CD				AS VRTY_CD
				     , GI.SPCFCT_CD				AS SPCFCT_CD
				     , GI.GDS_GRD				AS GDS_GRD
				     , GI.GDS_SE_CD      		AS GDS_SE_CD
				     , GI.PRDCTN_YR      		AS PRDCTN_YR
				     , GI.SPMT_PCKG_UNIT_CD  	AS SPMT_PCKG_UNIT_CD
				     , GI.WAREHOUSE_SE_CD		AS WAREHOUSE_SE_CD
				     , GI.PCKG_QNTT				AS PCKG_QNTT
				     , GI.PCKG_WGHT				AS PCKG_WGHT
				     , GI.SPMT_QNTT				AS SPMT_QNTT
				     , GI.SPMT_WGHT				AS SPMT_WGHT
				     , GI.INVNTR_QNTT			AS INVNTR_QNTT
				     , GI.INVNTR_WGHT			AS INVNTR_WGHT
				     , GI.PLOR_CD 				AS PLOR_CD
				     , GI.DEL_YN				AS DEL_YN
				     , (SELECT NVL(SUM(CMND_QNTT),0)
				          FROM TB_SPMT_CMND X
				         WHERE X.APC_CD = GI.APC_CD
				           AND X.ITEM_CD = GI.ITEM_CD
				           AND X.VRTY_CD = GI.VRTY_CD
				           AND X.SPCFCT_CD = GI.SPCFCT_CD
				           AND X.GDS_GRD = GI.GDS_GRD
				        ) AS CMND_QNTT
				    , (SELECT NVL(SUM(CMND_WGHT), 0)
				          FROM TB_SPMT_CMND X
				         WHERE X.APC_CD = GI.APC_CD
				           AND X.ITEM_CD = GI.ITEM_CD
				           AND X.VRTY_CD = GI.VRTY_CD
				           AND X.SPCFCT_CD = GI.SPCFCT_CD
				           AND X.GDS_GRD = GI.GDS_GRD
				        ) AS CMND_WGHT
				  FROM TB_GDS_INVNTR GI
				 WHERE GI.DEL_YN = 'N'
				   AND GI.INVNTR_QNTT > 0
				   AND GI.APC_CD = #{apcCd}
		]]>
		<if test='warehouseSeCd != null and warehouseSeCd != ""'>
			   	  AND GI.WAREHOUSE_SE_CD = #{warehouseSeCd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
			   	  AND GI.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			   	  AND GI.VRTY_CD = #{vrtyCd}
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
			   	  AND GI.SPCFCT_CD = #{spcfctCd}
		</if>
		<if test='gdsSeCd != null and gdsSeCd != ""'>
			   	  AND GI.GDS_SE_CD = #{gdsSeCd}
		</if>
		<if test='prdcrCd != null and prdcrCd != ""'>
			   	  AND GI.RPRS_PRDCR_CD = #{prdcrCd}
		</if>
		<!-- 	 상품재고 내역 검색조건 -->
		<if test='wrhsSeCd != null and wrhsSeCd != ""'>
			   	  AND GI.WRHS_SE_CD = #{wrhsSeCd}
		</if>

    	<![CDATA[
			 ORDER BY PCKG_YMD, PCKGNO, PCKG_SN
    		  ) pt0
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
	<!-- =========================================================================================	-->
	<!-- NAME : com.at.apcss.am.trnsf.mapper.TrnsfGdsInvntrMapper.selectTrnsfCfmtnGdsInvntrList		-->
	<!-- DESC : 재고이송확정 목록.	                                       							-->
	<!-- =========================================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      							-->
	<!-- ===========  	============  	==========================================================	-->
	<!-- 2023.11.29  	김호      		Initial Creation                            				-->
	<!-- =========================================================================================	-->
    <select id="selectTrnsfCfmtnGdsInvntrList" parameterType="com.at.apcss.am.trnsf.vo.TrnsfGdsInvntrVO" resultType="com.at.apcss.am.trnsf.vo.TrnsfGdsInvntrVO">
    	<![CDATA[
    		SELECT pt0.*
			     , (SELECT FN_GET_APC_NM(pt0.TRNSF_APC_CD) FROM DUAL)					                        AS TRNSF_APC_NM
			     , (SELECT FN_GET_PRDCR_NM(pt0.RPRS_PRDCR_CD, pt0.APC_CD) FROM DUAL) 							AS PRDCR_NM
			     , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 									AS ITEM_NM
			     , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) 						AS VRTY_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) 								AS GRD_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('PCKG_FCLT_CD', pt0.FCLT_CD, pt0.APC_CD) FROM DUAL) 				AS FCLT_NM
			     , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) 					AS SPCFCT_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', pt0.GDS_SE_CD) FROM DUAL) 							AS GDS_SE_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', pt0.WRHS_SE_CD) FROM DUAL)                         AS WRHS_SE_NM
	 			 , (SELECT FN_GET_COM_CD_VL_NM('TRSPRT_SE_CD', pt0.TRSPRT_SE_CD) FROM DUAL)                     AS TRSPRT_SE_NM
			     , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) 	AS WAREHOUSE_SE_NM
			     , (SELECT FN_GET_SPMT_PCKG_UNIT_NM(pt0.SPMT_PCKG_UNIT_CD, pt0.APC_CD) FROM DUAL) 				AS SPMT_PCKG_UNIT_NM
			  FROM (
			            SELECT	/* com.at.apcss.am.trnsf.mapper.TrnsfGdsInvntrMapper.selectTrnsfCfmtnGdsInvntrList */
			                   GI.APC_CD                AS APC_CD
			                 , GI.PCKGNO                AS PCKGNO
			                 , GI.PCKG_SN               AS PCKG_SN
			                 , GI.PCKG_YMD              AS PCKG_YMD
			                 , GI.FCLT_CD               AS FCLT_CD
			                 , GI.RPRS_PRDCR_CD         AS RPRS_PRDCR_CD
			                 , GI.ITEM_CD               AS ITEM_CD
			                 , GI.VRTY_CD               AS VRTY_CD
			                 , GI.SPCFCT_CD             AS SPCFCT_CD
			                 , GI.GDS_GRD               AS GDS_GRD
			                 , GI.PCKG_SE_CD            AS PCKG_SE_CD
			                 , GI.WAREHOUSE_SE_CD       AS WAREHOUSE_SE_CD
			                 , GI.GDS_SE_CD             AS GDS_SE_CD
			                 , GI.PRDCTN_YR             AS PRDCTN_YR
			                 , GI.SPMT_PCKG_UNIT_CD     AS SPMT_PCKG_UNIT_CD
			                 , GI.PLOR_CD               AS PLOR_CD
			                 , GI.RMRK                  AS RMRK
			                 , GI.GDS_CD                AS GDS_CD
			                 , GI.INVNTR_QNTT           AS INVNTR_QNTT
			                 , GI.INVNTR_WGHT           AS INVNTR_WGHT
			                 , GI.SPMT_QNTT				AS SPMT_QNTT
			                 , GI.SPMT_WGHT				AS SPMT_WGHT
			                 , GI.TRNSF_QNTT            AS TRNSF_QNTT
			                 , GI.TRNSF_WGHT            AS TRNSF_WGHT
			                 , GI.RTN_GDS_QNTT          AS RTN_GDS_QNTT
			                 , GI.RTN_GDS_WGHT          AS RTN_GDS_WGHT
			                 , GI.WRHS_SE_CD            AS WRHS_SE_CD
			                 , GI.TRSPRT_SE_CD          AS TRSPRT_SE_CD
			                 , GI.INVNTR_CHG_RSN_CD     AS INVNTR_CHG_RSN_CD
			                 , GI.PRCS_SN               AS PRCS_SN
			                 , GI.PRCSNO                AS PRCSNO
			                 , GI.PRCS_TYPE             AS PRCS_TYPE
			                 , TH.APC_CD                AS TRNSF_APC_CD
			                 , TH.TRNSF_YMD             AS TRNSF_YMD
                             , TH.TRNSF_SN              AS TRNSF_SN
			              FROM TB_GDS_INVNTR GI
			                 , TB_INVNTR_TRNSF_HSTRY TH
			             WHERE GI.APC_CD = TH.TRNSF_APC_CD
			               AND GI.PRCSNO = TH.PRCSNO
			               AND GI.PRCS_SN = TH.PRCS_SN
			               AND GI.DEL_YN = 'N'
			               AND TH.DEL_YN = 'N'
			               AND TH.INVNTR_SE_CD = '3'

		]]>
			<if test='apcCd != null and apcCd != ""'>
				   	  	   AND GI.APC_CD = #{apcCd}
			</if>
			<if test='itemCd != null and itemCd != ""'>
				   	  	   AND GI.ITEM_CD = #{itemCd}
			</if>
			<if test='pckgYmdFrom != null and pckgYmdFrom != ""'>
			   	   		  AND GI.PCKG_YMD <![CDATA[>=]]> #{pckgYmdFrom}
			</if>
			<if test='pckgYmdTo != null and pckgYmdTo != ""'>
			   	   		  AND GI.PCKG_YMD <![CDATA[<=]]> #{pckgYmdTo}
			</if>
    	<![CDATA[
    		ORDER BY GI.PCKG_YMD DESC, GI.PCKGNO DESC, GI.PCKG_SN DESC
			 ) pt0
		]]>
    </select>


	<!-- ==================================================================================	-->
	<!-- NAME : com.at.apcss.am.trnsf.mapper.TrnsfGdsInvntrMapper.updateSortInvntrDsctnList	-->
	<!-- DESC : 원물재고내역 변경.		                                       				-->
	<!-- ==================================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      					-->
	<!-- ===========  	============  	==================================================	-->
	<!-- 2023.09.18  	김현호        		Initial Creation                            	-->
	<!-- =================================================================================	-->
    <update id="updateTrnsfGdsInvntrList" parameterType="com.at.apcss.am.trnsf.vo.TrnsfGdsInvntrVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.trnsf.mapper.TrnsfGdsInvntrMapper.updateTrnsfGdsInvntrList */
				TB_GDS_INVNTR
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
		]]>
			<if test='warehouseSeCd != null and warehouseSeCd != ""'>
				, WAREHOUSE_SE_CD			= #{trnsfWarehouse}
			</if>
			<if test='invntrQntt != null and invntrQntt != ""'>
				, INVNTR_QNTT			= #{mvmnQntt}
			</if>
			<if test='invntrWght != null and invntrWght != ""'>
				, INVNTR_Wght			= #{mvmnWght}
			</if>
		<![CDATA[
			 WHERE APC_CD = #{apcCd}
			   AND PCKGNO = #{pckgno}
		]]>
	</update>


</mapper>