<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnSpItmPurSalNMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->

    <select id="selectPrdcrCrclOgnSpItmPurSalNMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalNMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalNMngVO">
    	SELECT * FROM
    	(
		SELECT
				ST.APO_CD
				, ST.APO_SE
				,'출자출하조직' AS UO_SE_NM
				,'전속출하' AS SE_NM
				, ST.BRNO
				, ST.YR
				, ST.CTGRY_CD
				, ST.ITEM_CD
				, ST.STTG_UPBR_ITEM_SE
				, (SELECT ITEM_NM FROM TB_EV_GPC_CD WHERE ITEM_CD = ST.ITEM_CD) AS ITEM_NM
				, ST.PRDCR_OGNZ_SN
				, ST.PRDCR_OGNZ_CD
				, ST.FLNM
				,  (CASE WHEN TOT.SLS_CNSGN_PRCHS_AMT IS NOT NULL THEN TOT.SLS_CNSGN_PRCHS_AMT
					ELSE ST.SPMT_PRC
					END) AS SLS_CNSGN_PRCHS_AMT
				, TOT.UO_SPMT_AMT
				, TOT.UO_OTHER_SPMT_AMT
				, TOT.RMRK
			FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN ST
			LEFT JOIN TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT TOT
			ON ST.APO_CD = TOT.APO_CD
			AND ST.APO_SE = TOT.APO_SE
			AND ST.YR = TOT.YR
			AND ST.CTGRY_CD = TOT.CTGRY_CD
			AND ST.ITEM_CD = TOT.ITEM_CD
			AND ST.PRDCR_OGNZ_SN = TOT.PRDCR_OGNZ_SN
			WHERE 1=1
				AND 	ST.BRNO IN (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{brno} )

			UNION ALL

			SELECT
				ITEM.APO_CD
				, ITEM.APO_SE
				,'출자출하조직' AS UO_SE_NM
				,'생산자조직 외' AS SE_NM
				, ITEM.BRNO
				, ITEM.YR
				, ITEM.CTGRY_CD
				, ITEM.ITEM_CD
				, ITEM.STTG_UPBR_ITEM_SE
				, (SELECT ITEM_NM FROM TB_EV_GPC_CD WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
				, 0 AS PRDCR_OGNZ_SN
				, '99' AS PRDCR_OGNZ_CD
				, '농가 법인 등' AS FLNM
				,  (CASE WHEN TOT.SLS_CNSGN_PRCHS_AMT IS NOT NULL THEN TOT.SLS_CNSGN_PRCHS_AMT
					ELSE ''
					END) AS SLS_CNSGN_PRCHS_AMT
				, TOT.UO_SPMT_AMT
				, TOT.UO_OTHER_SPMT_AMT
				, TOT.RMRK
			FROM (SELECT ITEM_CD , APO_CD , APO_SE , YR , BRNO , STTG_UPBR_ITEM_SE , CTGRY_CD
						FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
						WHERE 1=1
						GROUP BY ITEM_CD , APO_CD , APO_SE , YR , BRNO , STTG_UPBR_ITEM_SE , CTGRY_CD
						) ITEM
			LEFT JOIN TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT TOT
			ON ITEM.ITEM_CD = TOT.ITEM_CD
			AND ITEM.APO_CD = TOT.APO_CD
			AND TOT.PRDCR_OGNZ_CD = '99'
			WHERE 1=1
				AND 	ITEM.BRNO IN (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{brno})

			UNION ALL

			SELECT
				ST.APO_CD
				, ST.APO_SE
				,'(통합조직 직속)생산자조직' AS UO_SE_NM
				,'전속출하' AS SE_NM
				, ST.BRNO
				, ST.YR
				, ST.CTGRY_CD
				, ST.ITEM_CD
				, ST.STTG_UPBR_ITEM_SE
				, (SELECT ITEM_NM FROM TB_EV_GPC_CD WHERE ITEM_CD = ST.ITEM_CD) AS ITEM_NM
				, ST.PRDCR_OGNZ_SN
				, ST.PRDCR_OGNZ_CD
				, ST.FLNM
				,  (CASE WHEN TOT.SLS_CNSGN_PRCHS_AMT IS NOT NULL THEN TOT.SLS_CNSGN_PRCHS_AMT
					ELSE ST.SPMT_PRC
					END) AS SLS_CNSGN_PRCHS_AMT
				, TOT.UO_SPMT_AMT
				, TOT.UO_OTHER_SPMT_AMT
				, TOT.RMRK
			FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN ST
			LEFT JOIN TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT TOT
			ON ST.APO_CD = TOT.APO_CD
			AND ST.APO_SE = TOT.APO_SE
			AND ST.YR = TOT.YR
			AND ST.CTGRY_CD = TOT.CTGRY_CD
			AND ST.ITEM_CD = TOT.ITEM_CD
			AND ST.PRDCR_OGNZ_SN = TOT.PRDCR_OGNZ_SN
			WHERE 1=1
				AND ST.BRNO = #{brno}

			UNION ALL

			SELECT
				ITEM.APO_CD
				, ITEM.APO_SE
				,'기타매입' AS UO_SE_NM
				,'생산자조직 외' AS SE_NM
				, ITEM.BRNO
				, ITEM.YR
				, ITEM.CTGRY_CD
				, ITEM.ITEM_CD
				, ITEM.STTG_UPBR_ITEM_SE
				, (SELECT ITEM_NM FROM TB_EV_GPC_CD WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
				, 0 AS PRDCR_OGNZ_SN
				, '99' AS PRDCR_OGNZ_CD
				, '공판장 매입,단순매취 등' AS FLNM
				,  (CASE WHEN TOT.SLS_CNSGN_PRCHS_AMT IS NOT NULL THEN TOT.SLS_CNSGN_PRCHS_AMT
					ELSE ''
					END) AS SLS_CNSGN_PRCHS_AMT
				, TOT.UO_SPMT_AMT
				, TOT.UO_OTHER_SPMT_AMT
				, TOT.RMRK
			FROM (SELECT ITEM_CD , APO_CD , APO_SE , YR , BRNO , STTG_UPBR_ITEM_SE , CTGRY_CD
						FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
						WHERE 1=1
						GROUP BY ITEM_CD , APO_CD , APO_SE , YR , BRNO , STTG_UPBR_ITEM_SE , CTGRY_CD
						) ITEM
			LEFT JOIN TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT TOT
			ON ITEM.ITEM_CD = TOT.ITEM_CD
			AND ITEM.APO_CD = TOT.APO_CD
			AND TOT.PRDCR_OGNZ_CD = '99'
			WHERE 1=1
				AND ITEM.BRNO = #{brno}
		)
		ORDER BY ITEM_CD , APO_SE  DESC, PRDCR_OGNZ_SN DESC , FLNM
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnSpItmPurSalNMngList" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalNMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalNMngVO">
    	SELECT * FROM
    	(
		SELECT
				ST.APO_CD
				, ST.APO_SE
				,'출자출하조직' AS UO_SE_NM
				,'전속출하' AS SE_NM
				, ST.BRNO
				, ST.YR
				, ST.CTGRY_CD
				, ST.ITEM_CD
				, ST.STTG_UPBR_ITEM_SE
				, (SELECT ITEM_NM FROM TB_EV_GPC_CD WHERE ITEM_CD = ST.ITEM_CD) AS ITEM_NM
				, ST.PRDCR_OGNZ_SN
				, ST.PRDCR_OGNZ_CD
				, ST.FLNM
				,  (CASE WHEN TOT.SLS_CNSGN_PRCHS_AMT IS NOT NULL THEN TOT.SLS_CNSGN_PRCHS_AMT
					ELSE ST.SPMT_PRC
					END) AS SLS_CNSGN_PRCHS_AMT
				, TOT.UO_SPMT_AMT
				, TOT.UO_OTHER_SPMT_AMT
				, TOT.RMRK
			FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN ST
			LEFT JOIN TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT TOT
			ON ST.APO_CD = TOT.APO_CD
			AND ST.APO_SE = TOT.APO_SE
			AND ST.YR = TOT.YR
			AND ST.CTGRY_CD = TOT.CTGRY_CD
			AND ST.ITEM_CD = TOT.ITEM_CD
			AND ST.PRDCR_OGNZ_SN = TOT.PRDCR_OGNZ_SN
			WHERE 1=1
				AND 	ST.BRNO IN (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{brno} )

			UNION ALL

			SELECT
				ITEM.APO_CD
				, ITEM.APO_SE
				,'출자출하조직' AS UO_SE_NM
				,'생산자조직 외' AS SE_NM
				, ITEM.BRNO
				, ITEM.YR
				, ITEM.CTGRY_CD
				, ITEM.ITEM_CD
				, ITEM.STTG_UPBR_ITEM_SE
				, (SELECT ITEM_NM FROM TB_EV_GPC_CD WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
				, 0 AS PRDCR_OGNZ_SN
				, '99' AS PRDCR_OGNZ_CD
				, '농가 법인 등' AS FLNM
				,  (CASE WHEN TOT.SLS_CNSGN_PRCHS_AMT IS NOT NULL THEN TOT.SLS_CNSGN_PRCHS_AMT
					ELSE ''
					END) AS SLS_CNSGN_PRCHS_AMT
				, TOT.UO_SPMT_AMT
				, TOT.UO_OTHER_SPMT_AMT
				, TOT.RMRK
			FROM (SELECT ITEM_CD , APO_CD , APO_SE , YR , BRNO , STTG_UPBR_ITEM_SE , CTGRY_CD
						FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
						WHERE 1=1
						GROUP BY ITEM_CD , APO_CD , APO_SE , YR , BRNO , STTG_UPBR_ITEM_SE , CTGRY_CD
						) ITEM
			LEFT JOIN TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT TOT
			ON ITEM.ITEM_CD = TOT.ITEM_CD
			AND ITEM.APO_CD = TOT.APO_CD
			AND TOT.PRDCR_OGNZ_CD = '99'
			WHERE 1=1
				AND 	ITEM.BRNO IN (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO = #{brno})

			UNION ALL

			SELECT
				ST.APO_CD
				, ST.APO_SE
				,'(통합조직 직속)생산자조직' AS UO_SE_NM
				,'전속출하' AS SE_NM
				, ST.BRNO
				, ST.YR
				, ST.CTGRY_CD
				, ST.ITEM_CD
				, ST.STTG_UPBR_ITEM_SE
				, (SELECT ITEM_NM FROM TB_EV_GPC_CD WHERE ITEM_CD = ST.ITEM_CD) AS ITEM_NM
				, ST.PRDCR_OGNZ_SN
				, ST.PRDCR_OGNZ_CD
				, ST.FLNM
				,  (CASE WHEN TOT.SLS_CNSGN_PRCHS_AMT IS NOT NULL THEN TOT.SLS_CNSGN_PRCHS_AMT
					ELSE ST.SPMT_PRC
					END) AS SLS_CNSGN_PRCHS_AMT
				, TOT.UO_SPMT_AMT
				, TOT.UO_OTHER_SPMT_AMT
				, TOT.RMRK
			FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN ST
			LEFT JOIN TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT TOT
			ON ST.APO_CD = TOT.APO_CD
			AND ST.APO_SE = TOT.APO_SE
			AND ST.YR = TOT.YR
			AND ST.CTGRY_CD = TOT.CTGRY_CD
			AND ST.ITEM_CD = TOT.ITEM_CD
			AND ST.PRDCR_OGNZ_SN = TOT.PRDCR_OGNZ_SN
			WHERE 1=1
				AND ST.BRNO = #{brno}

			UNION ALL

			SELECT
				ITEM.APO_CD
				, ITEM.APO_SE
				,'기타매입' AS UO_SE_NM
				,'생산자조직 외' AS SE_NM
				, ITEM.BRNO
				, ITEM.YR
				, ITEM.CTGRY_CD
				, ITEM.ITEM_CD
				, ITEM.STTG_UPBR_ITEM_SE
				, (SELECT ITEM_NM FROM TB_EV_GPC_CD WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
				, 0 AS PRDCR_OGNZ_SN
				, '99' AS PRDCR_OGNZ_CD
				, '공판장 매입,단순매취 등' AS FLNM
				,  (CASE WHEN TOT.SLS_CNSGN_PRCHS_AMT IS NOT NULL THEN TOT.SLS_CNSGN_PRCHS_AMT
					ELSE ''
					END) AS SLS_CNSGN_PRCHS_AMT
				, TOT.UO_SPMT_AMT
				, TOT.UO_OTHER_SPMT_AMT
				, TOT.RMRK
			FROM (SELECT ITEM_CD , APO_CD , APO_SE , YR , BRNO , STTG_UPBR_ITEM_SE , CTGRY_CD
						FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN
						WHERE 1=1
						GROUP BY ITEM_CD , APO_CD , APO_SE , YR , BRNO , STTG_UPBR_ITEM_SE , CTGRY_CD
						) ITEM
			LEFT JOIN TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT TOT
			ON ITEM.ITEM_CD = TOT.ITEM_CD
			AND ITEM.APO_CD = TOT.APO_CD
			AND TOT.PRDCR_OGNZ_CD = '99'
			WHERE 1=1
				AND ITEM.BRNO = #{brno}
		)
		ORDER BY ITEM_CD , APO_SE  DESC, PRDCR_OGNZ_SN DESC , FLNM
    </select>


	<insert id="insertPrdcrCrclOgnSpItmPurSalNMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalNMngVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnSpItmPurSalNMng.insertPrdcrCrclOgnSpItmPurSalNMng */
	    	  INTO TB_PD_PrdcrCrclOgnVluIdctrMng
	    		(
	    			TEST_NO
	    		  , AA
	    		  , BB
	    		  , CC
	    		  , CC_CODE
	    		  , DD
	    		  , DD_CODE
	    		  , EE
	    		  , FF
	    		  , GG
	    		  , HH
	    		  , II
	    		  , II_CODE
	    		  , JJ
	    		  , KK
	    		  , LL
	    		  , MM
	    		  , NN
	    		  , OO
	    		  , PP
	    		  , QQ
	    		  , RR
	    		  , SS
	    		  , TT
	    		  , UU
	    		  , VV
	    		  , WW
	    		  , XX
	    		  , YY
	    		  , ZZ
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    (SELECT NVL(MAX(TEST_NO),0)+1 FROM TB_PD_PrdcrCrclOgnVluIdctrMng)
	   			  , #{aa}
	   			  , #{bb}
	   			  , #{cc}
	   			  , #{ccCode}
	   			  , #{dd}
	   			  , #{ddCode}
	   			  , #{ee}
	   			  , #{ff}
	   			  , #{gg}
	   			  , #{hh}
	   			  , #{ii}
	   			  , #{iiCode}
	   			  , #{jj}
	   			  , #{kk}
	   			  , #{ll}
	   			  , #{mm}
	   			  , #{nn}
	   			  , #{oo}
	   			  , #{pp}
	   			  , #{qq}
	   			  , #{rr}
	   			  , #{ss}
	   			  , #{tt}
	   			  , #{uu}
	   			  , #{vv}
	   			  , #{ww}
	   			  , #{xx}
	   			  , #{yy}
	   			  , #{zz}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>
	<update id="updatePrdcrCrclOgnSpItmPurSalNMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalNMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnSpItmPurSalNMng.upatePrdcrCrclOgnSpItmPurSalNMng */
	    		TB_PD_PrdcrCrclOgnVluIdctrMng
			   SET
			 	  AA	= #{aa}
			 	, BB 	= #{bb}
			 	, CC 	= #{cc}
			 	, CC_CODE 	= #{ccCode}
			 	, DD 	= #{dd}
			 	, DD_CODE 	= #{ddCode}
			 	, EE 	= #{ee}
			 	, FF 	= #{ff}
			 	, GG 	= #{gg}
			 	, HH 	= #{hh}
			 	, II 	= #{ii}
			 	, II_CODE 	= #{iiCode}
			 	, JJ 	= #{jj}
			 	, KK 	= #{kk}
			 	, LL 	= #{ll}
			 	, MM 	= #{mm}
			 	, NN 	= #{nn}
			 	, OO 	= #{oo}
			 	, PP 	= #{pp}
			 	, QQ 	= #{qq}
			 	, RR 	= #{rr}
			 	, SS 	= #{ss}
			 	, TT 	= #{tt}
			 	, UU 	= #{uu}
			 	, VV 	= #{vv}
			 	, WW 	= #{ww}
			 	, XX 	= #{xx}
			 	, YY 	= #{yy}
			 	, ZZ 	= #{zz}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND TEST_NO	= #{testNo}
    	]]>
    </update>


	<delete id="deletePrdcrCrclOgnSpItmPurSalNMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalNMngVO">
		<![CDATA[
		DELETE FROM TB_PD_PrdcrCrclOgnVluIdctrMng
		 WHERE TEST_NO 	= #{testNo}
		]]>
	</delete>

</mapper>