<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnGenalTblMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnGenalTblMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnGenalTblMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnGenalTblMngVO">
    	SELECT /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnGenalTblMngMapper.selectPrdcrCrclOgnGenalTblMng */
			'a' as BRNO
		FROM DUAL
		WHERE 1=1
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnGenalTblMngList" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnGenalTblMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnGenalTblMngVO">
    	SELECT /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnGenalTblMngMapper.selectPrdcrCrclOgnGenalTblMngList */
			ITEM.ITEM_CD
			, ITEM.ITEM_NM
			, ITEM.STTG_UPBR_ITEM_SE
			, ITEM.STTG_UPBR_ITEM_NM
			, ITEM.CTGRY_CD
			, ITEM.CTGRY_NM
			, TOTA.SLS_TOT_AMT AS TOT_TRMT_PRFMNC
			, TOTB.SLS_TOT_AMT AS TOT_SPMT_PRFMNC
			, (NVL( TOTB.SLS_TOT_AMT / NULLIF( TOTA.SLS_TOT_AMT, 0 ) , 0 ) * 100 ) AS TOT_TRMT_RT
		FROM
			(SELECT
					ITEM_CD
					, YR
					, STTG_UPBR_ITEM_SE
					, CTGRY_CD
					,(SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = AYGC.ITEM_CD) AS ITEM_NM
					,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'CTGRY_CD' AND CD_VL = AYGC.CTGRY_CD) AS CTGRY_NM
					,(SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = AYGC.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
				FROM TB_EV_APO_YR_GPC_CD AYGC
				WHERE BRNO = #{brno}
		  		  AND YR = #{yr}
			) ITEM ,
			(SELECT BRNO , ITEM_CD , SUM( NVL( SLS_CNSGN_SLS_AMT , 0 ) ) AS SLS_TOT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '1'
			  		  AND TYPE_SE_NO IN ('2','3','5','7')

			  		  <if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					  </if>
					  <if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					  </if>

					  GROUP BY  BRNO , ITEM_CD
			) TOTA ,
			(SELECT BRNO , ITEM_CD , SUM( NVL( SLS_CNSGN_SLS_AMT , 0 ) ) AS SLS_TOT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '1'
			  		  AND TYPE_SE_NO IN ('2','5')

			  		  <if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					  </if>
					  <if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					  </if>

					  GROUP BY  BRNO , ITEM_CD
			) TOTB
		WHERE 1=1
		  AND ITEM.ITEM_CD = TOTA.ITEM_CD(+)
		  AND ITEM.ITEM_CD = TOTB.ITEM_CD(+)
    </select>

	<select id="selectPrdcrCrclOgnGenalTblMngUoList" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnGenalTblMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnGenalTblMngVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>

		SELECT /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnGenalTblMngMapper.selectPrdcrCrclOgnGenalTblMngUoList */
			TEA.APO_CD
			,TEA.APO_SE
			,TEA.BRNO
			,TEA.CRNO
			,TEA.CTPV
			,TEA.SGG
			,TEA.CORP_NM
			,TEA.CORP_SE_CD
			,TEAM.YR
		FROM TB_EV_APO TEA
			,TB_EV_APLY_MNG TEAM
		WHERE 1=1
		  AND TEA.BRNO = TEAM.BRNO(+)
		  AND TEA.APO_SE = '1'
		  <if test='brno != null and brno != ""'>
		  AND TEA.BRNO = #{brno}
		  </if>
		  <if test='yr != null and yr != ""'>
		  AND TEAM.YR = #{yr}
		  </if>
		  <if test='cmptnInst != null and cmptnInst != ""'>
		  AND TEA.CMPTN_INST = #{cmptnInst}
		  </if>
		  <if test='ctpv != null and ctpv != ""'>
		  AND TEA.CTPV = #{ctpv}
		  </if>

		  <if test='corpSeCd != null and corpSeCd != ""'>
		  AND TEA.CORP_SE_CD = #{corpSeCd}
		  </if>
		  <if test='corpDtlSeCd != null and corpDtlSeCd != ""'>
		  AND TEA.CORP_DTL_SE_CD = #{corpDtlSeCd}
		  </if>
		  <if test='corpNm != null and corpNm != ""'>
		  AND CM.CORP_NM LIKE '%' || #{corpNm} || '%'
		  </if>

		 <!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    </select>
</mapper>