<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnSpItmPurSalYMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnSpItmPurSalYMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalYMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalYMngVO">
SELECT * FROM (   /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnSpItmPurSalYMngMapper.selectPrdcrCrclOgnSpItmPurSalYMng */
    	--=='1' AS TYPE_SE_NO===출하조직리스트======================================

SELECT
	'1' AS TYPE_SE_NO
	,'출자출하조직' AS SE_NM
	, '전속출하'  AS SE_DTL_NM
	, (SELECT CORP_NM FROM TB_EV_APO WHERE BRNO = ISO.ISO_BRNO AND APO_SE = '2') AS PRCHS_NM
	, ISO.ISO_BRNO  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	,  (SELECT NVL( SUM( STT.SPMT_PRC ) , 0 )
		FROM
			(SELECT PRDCR_OGNZ_SN FROM TB_EV_FRMHS_APO WHERE BRNO = ISO.ISO_BRNO) SN
			,(SELECT NVL(SPMT_PRC,0) AS SPMT_PRC , PRDCR_OGNZ_SN FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN WHERE ITEM_CD = ITEM.ITEM_CD) STT
		WHERE SN.PRDCR_OGNZ_SN = STT.PRDCR_OGNZ_SN(+)
	) AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT UOCD.ISO_BRNO
		FROM (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO =#{brno} ) UOCD
				, (SELECT BRNO,STBLT_YN FROM TB_EV_APO WHERE APO_SE = '2') APO
		WHERE 1=1
			AND  UOCD.ISO_BRNO = APO.BRNO(+)
			--AND APO.STBLT_YN = 'Y'  --적합여부 추후 추가
	)  ISO  ,
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '1'
	) TOT
WHERE 1=1
  AND ISO.ISO_BRNO = TOT.ISO_BRNO(+)
  AND TOT.ITEM_CD = ITEM.ITEM_CD(+)
--=='2' AS TYPE_SE_NO===출하조직 소계======================================
UNION ALL

SELECT
	'2' AS TYPE_SE_NO
	,'출자출하조직' AS SE_NM
	, '전속출하'  AS SE_DTL_NM
	, '소계' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	,'0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, NVL(TOT.SLS_CNSGN_SLS_AMT, 0) AS SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '2'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='3' AS TYPE_SE_NO===출자출하조직 생산자조직 외======================================
UNION ALL

SELECT
	'3' AS TYPE_SE_NO
	,'출자출하조직' AS SE_NM
	, '생산자조직 외'  AS SE_DTL_NM
	, '농가, 법인 등' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, TOT.SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '3'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='4' AS TYPE_SE_NO===출자출하조직 전체 소계 ======================================
UNION ALL

SELECT
	'4' AS TYPE_SE_NO
	,'출자출하조직' AS SE_NM
	, '소계'  AS SE_DTL_NM
	, '소계' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, NVL(TOT.SLS_CNSGN_SLS_AMT, 0) AS SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '4'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='5' AS TYPE_SE_NO===통합조직 직속 생산자조직======================================
UNION ALL

SELECT
	'5' AS TYPE_SE_NO
	,'(통합조직 직속)생산자조직' AS SE_NM
	, '전속출하'  AS SE_DTL_NM
	, UOFA.PRDCR_OGNZ_NM AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, NVL ( UOFA.PRDCR_OGNZ_SN , 0 ) AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
		, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, UOFA.STTG_UPBR_ITEM_SE
	, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = UOFA.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, UOFA.SPMT_PRC_TOT AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT
			FA.PRDCR_OGNZ_SN
			,FA.PRDCR_OGNZ_NM
			,FA.BRNO
			,FA.ITEM_CD
			,FA.STTG_UPBR_ITEM_SE
			,(SELECT SUM(SPMT_PRC) FROM  TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN WHERE PRDCR_OGNZ_SN = FA.PRDCR_OGNZ_SN  AND  ITEM_CD = FA.ITEM_CD
			) AS SPMT_PRC_TOT
		FROM TB_EV_FRMHS_APO FA
		WHERE FA.BRNO = #{brno}
		  --AND FA.STBLT_YN = 'Y'  --적합여부 추후 추가
	)  UOFA ,
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '5'
	) TOT
WHERE 1=1
 AND UOFA.BRNO = TOT.ISO_BRNO(+)
 AND ITEM.ITEM_CD = UOFA.ITEM_CD(+)

 --=='6' AS TYPE_SE_NO===통합조직 직속 생산자조직 소계======================================
UNION ALL

SELECT
	'6' AS TYPE_SE_NO
	, '(통합조직 직속)생산자조직' AS SE_NM
	, '전속출하'  AS SE_DTL_NM
	, '소계' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	,'0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '6'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='7' AS TYPE_SE_NO===기타매입======================================
UNION ALL

SELECT
	'7' AS TYPE_SE_NO
	,'기타매입' AS SE_NM
	, '생산자조직 외'  AS SE_DTL_NM
	, '공판장 매입 , 단순 매취 등' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, TOT.SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '7'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='8' AS TYPE_SE_NO===합계======================================
UNION ALL

SELECT
	'8' AS TYPE_SE_NO
	,'합계' AS SE_NM
	, ''  AS SE_DTL_NM
	, '' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, 0 AS SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '8'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)
)
ORDER BY ITEM_CD , TYPE_SE_NO , SE_NM , SE_DTL_NM , STTG_UPBR_ITEM_SE , PRCHS_NM
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnSpItmPurSalYMngList" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalYMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalYMngVO">
SELECT * FROM(  /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnSpItmPurSalYMngMapper.selectPrdcrCrclOgnSpItmPurSalYMngList */
    	--=='1' AS TYPE_SE_NO===출하조직리스트======================================
SELECT
	'1' AS TYPE_SE_NO
	,'출자출하조직' AS SE_NM
	, '전속출하'  AS SE_DTL_NM
	, (SELECT CORP_NM FROM TB_EV_APO WHERE BRNO = ISO.ISO_BRNO AND APO_SE = '2') AS PRCHS_NM
	, ISO.ISO_BRNO  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	,  (SELECT NVL( SUM( STT.SPMT_PRC ) , 0 )
		FROM
			(SELECT PRDCR_OGNZ_SN FROM TB_EV_FRMHS_APO WHERE BRNO = ISO.ISO_BRNO) SN
			,(SELECT NVL(SPMT_PRC,0) AS SPMT_PRC , PRDCR_OGNZ_SN FROM TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN WHERE ITEM_CD = ITEM.ITEM_CD) STT
		WHERE SN.PRDCR_OGNZ_SN = STT.PRDCR_OGNZ_SN(+)
	) AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT UOCD.ISO_BRNO
		FROM (SELECT ISO_BRNO FROM TB_EV_APO_UO_CD WHERE UO_BRNO =#{brno} ) UOCD
				, (SELECT BRNO,STBLT_YN FROM TB_EV_APO WHERE APO_SE = '2') APO
		WHERE 1=1
			AND  UOCD.ISO_BRNO = APO.BRNO(+)
			--AND APO.STBLT_YN = 'Y'  --적합여부 추후 추가
	)  ISO  ,
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '1'
	) TOT
WHERE 1=1
  AND ISO.ISO_BRNO = TOT.ISO_BRNO(+)
  AND TOT.ITEM_CD = ITEM.ITEM_CD(+)
--=='2' AS TYPE_SE_NO===출하조직 소계======================================
UNION ALL

SELECT
	'2' AS TYPE_SE_NO
	,'출자출하조직' AS SE_NM
	, '전속출하'  AS SE_DTL_NM
	, '소계' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	,'0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, NVL(TOT.SLS_CNSGN_SLS_AMT, 0) AS SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '2'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='3' AS TYPE_SE_NO===출자출하조직 생산자조직 외======================================
UNION ALL

SELECT
	'3' AS TYPE_SE_NO
	,'출자출하조직' AS SE_NM
	, '생산자조직 외'  AS SE_DTL_NM
	, '농가, 법인 등' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, TOT.SLS_CNSGN_PRCHS_AMT
	, NVL(TOT.SLS_CNSGN_SLS_AMT, 0) AS SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '3'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='4' AS TYPE_SE_NO===출자출하조직 전체 소계 ======================================
UNION ALL

SELECT
	'4' AS TYPE_SE_NO
	,'출자출하조직' AS SE_NM
	, '소계'  AS SE_DTL_NM
	, '소계' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, 0 AS SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '4'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='5' AS TYPE_SE_NO===통합조직 직속 생산자조직======================================
UNION ALL

SELECT
	'5' AS TYPE_SE_NO
	,'(통합조직 직속)생산자조직' AS SE_NM
	, '전속출하'  AS SE_DTL_NM
	, UOFA.PRDCR_OGNZ_NM AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, NVL ( UOFA.PRDCR_OGNZ_SN , 0 ) AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
		, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, UOFA.STTG_UPBR_ITEM_SE
	, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE' AND CD_VL = UOFA.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, UOFA.SPMT_PRC_TOT AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT
			FA.PRDCR_OGNZ_SN
			,FA.PRDCR_OGNZ_NM
			,FA.BRNO
			,FA.ITEM_CD
			,FA.STTG_UPBR_ITEM_SE
			,(SELECT SUM(SPMT_PRC) FROM  TB_EV_FRMHS_PRDCTN_EC_SPMT_STTN WHERE PRDCR_OGNZ_SN = FA.PRDCR_OGNZ_SN  AND  ITEM_CD = FA.ITEM_CD
			) AS SPMT_PRC_TOT
		FROM TB_EV_FRMHS_APO FA
		WHERE FA.BRNO = #{brno}
		  --AND FA.STBLT_YN = 'Y'  --적합여부 추후 추가
	)  UOFA ,
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '5'
	) TOT
WHERE 1=1
 AND UOFA.BRNO = TOT.ISO_BRNO(+)
 AND ITEM.ITEM_CD = UOFA.ITEM_CD(+)

--=='6' AS TYPE_SE_NO===통합조직 직속 생산자조직 소계======================================
UNION ALL

SELECT
	'6' AS TYPE_SE_NO
	, '(통합조직 직속)생산자조직' AS SE_NM
	, '전속출하'  AS SE_DTL_NM
	, '소계' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	,'0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, TOT.SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '6'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='7' AS TYPE_SE_NO===기타매입======================================
UNION ALL

SELECT
	'7' AS TYPE_SE_NO
	,'기타매입' AS SE_NM
	, '생산자조직 외'  AS SE_DTL_NM
	, '공판장 매입 , 단순 매취 등' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, TOT.SLS_CNSGN_PRCHS_AMT
	, NVL(TOT.SLS_CNSGN_SLS_AMT, 0) AS SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '7'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)

--=='8' AS TYPE_SE_NO===합계======================================
UNION ALL

SELECT
	'8' AS TYPE_SE_NO
	,'합계' AS SE_NM
	, ''  AS SE_DTL_NM
	, '' AS PRCHS_NM
	, '0'  AS ISO_BRNO
	, 0 AS PRDCR_OGNZ_SN
	, '0' AS PRDCR_OGNZ_CD
	, '0' AS CLTVTN_LAND_SN
	, ITEM.ITEM_CD AS ITEM_CD
	, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
	, '' AS STTG_UPBR_ITEM_SE
	, '' AS STTG_UPBR_ITEM_NM
	, ITEM.YR AS YR
	, 0 AS SLS_CNSGN_PRCHS_AMT
	, 0 AS SLS_CNSGN_SLS_AMT
	, TOT.RMRK
FROM
	(SELECT ITEM_CD , YR
		FROM TB_EV_APO_YR_GPC_CD
		WHERE BRNO = #{brno}
		AND YR =#{yr}
	) ITEM ,
	(SELECT *
		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
		WHERE BRNO = #{brno}
		AND YR =#{yr}
		AND TYPE_SE_NO = '8'
	) TOT
WHERE 1=1
	AND ITEM.ITEM_CD = TOT.ITEM_CD(+)
)
ORDER BY ITEM_CD , TYPE_SE_NO , SE_NM , SE_DTL_NM , STTG_UPBR_ITEM_SE , PRCHS_NM
    </select>


	<insert id="insertPrdcrCrclOgnSpItmPurSalYMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalYMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT CLT  /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnSpItmPurSalYMngMapper.insertPrdcrCrclOgnSpItmPurSalYMng */
		USING DUAL
			ON (
					CLT.APO_CD   		= #{apoCd}
				AND CLT.APO_SE	 		= #{apoSe}
				AND CLT.BRNO 			= #{brno}
				AND CLT.YR	 			= #{yr}
				AND CLT.CTGRY_CD	 	= #{ctgryCd}
				AND CLT.ITEM_CD 		= #{itemCd}
				AND CLT.ISO_BRNO 		= #{isoBrno}
				AND CLT.ISO_BRNO 		= #{isoBrno}
				AND CLT.PRDCR_OGNZ_SN 	= #{prdcrOgnzSn}
				AND CLT.CLTVTN_LAND_SN 	= #{cltvtnLandSn}
				AND CLT.TYPE_SE_NO		= #{typeSeNo}
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	        SLS_CNSGN_PRCHS_AMT		= #{slsCnsgnPrchsAmt}
		    	        , SLS_CNSGN_SLS_AMT		= #{slsCnsgnSlsAmt}

		    	        , RMRK					= #{rmrk}

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					   AND CLT.APO_CD   		= #{apoCd}
					   AND CLT.APO_SE	 		= #{apoSe}
					   AND CLT.BRNO 			= #{brno}
					   AND CLT.YR	 			= #{yr}
					   AND CLT.CTGRY_CD	 		= #{ctgryCd}
					   AND CLT.ITEM_CD 			= #{itemCd}
					   AND CLT.ISO_BRNO 		= #{isoBrno}
					   AND CLT.PRDCR_OGNZ_SN 	= #{prdcrOgnzSn}
					   AND CLT.CLTVTN_LAND_SN 	= #{cltvtnLandSn}
					   AND CLT.TYPE_SE_NO		= #{typeSeNo}
		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , CRNO
		    		  , YR
		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , ISO_BRNO
		    		  , PRDCR_OGNZ_SN
		    		  , PRDCR_OGNZ_CD
		    		  , CLTVTN_LAND_SN
		    		  , TYPE_SE_NO

		    		  , SLS_CNSGN_PRCHS_AMT
		    		  , SLS_CNSGN_SLS_AMT

		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		    		  , #{apoSe}
		    		  , #{brno}
		    		  , #{crno}
		    		  , TO_CHAR(SYSDATE,'YYYY')
		    		  , #{ctgryCd}
		    		  , #{itemCd}
		    		  , #{isoBrno}
		    		  , #{prdcrOgnzSn}
		    		  , #{prdcrOgnzCd}
		    		  , #{cltvtnLandSn}
		    		  , #{typeSeNo}

		   			  , #{slsCnsgnPrchsAmt}
		   			  , #{slsCnsgnSlsAmt}

		   			  , #{rmrk}

		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>
	<update id="updatePrdcrCrclOgnSpItmPurSalYMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalYMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnSpItmPurSalYMngMapper.upatePrdcrCrclOgnSpItmPurSalYMng */
	    		TB_PD_PrdcrCrclOgnVluIdctrMng
			   SET
			 	  AA	= #{aa}
			 	, BB 	= #{bb}
			 	, CC 	= #{cc}
			 	, CC_CODE 	= #{ccCode}
			 	, DD 	= #{dd}
			 	, DD_CODE 	= #{ddCode}
			 	, EE 	= #{ee}
			 	, FF 	= #{ff}
			 	, GG 	= #{gg}
			 	, HH 	= #{hh}
			 	, II 	= #{ii}
			 	, II_CODE 	= #{iiCode}
			 	, JJ 	= #{jj}
			 	, KK 	= #{kk}
			 	, LL 	= #{ll}
			 	, MM 	= #{mm}
			 	, NN 	= #{nn}
			 	, OO 	= #{oo}
			 	, PP 	= #{pp}
			 	, QQ 	= #{qq}
			 	, RR 	= #{rr}
			 	, SS 	= #{ss}
			 	, TT 	= #{tt}
			 	, UU 	= #{uu}
			 	, VV 	= #{vv}
			 	, WW 	= #{ww}
			 	, XX 	= #{xx}
			 	, YY 	= #{yy}
			 	, ZZ 	= #{zz}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND TEST_NO	= #{testNo}
    	]]>
    </update>


	<delete id="deletePrdcrCrclOgnSpItmPurSalYMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnSpItmPurSalYMngVO">
		<![CDATA[
		DELETE FROM TB_PD_PrdcrCrclOgnVluIdctrMng
		 WHERE TEST_NO 	= #{testNo}
		]]>
	</delete>

</mapper>