<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnPurSalMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.selectPrdcrCrclOgnPurSalMng */
				  CM.YR
				, CM.APO_CD
				, CM.APO_SE
				, CM.BRNO
				, CM.CRNO
				, CM.CTGRY_CD
				, CM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS ITEM_NM
				, CM.PRCHS_SLS_SE

				, CM.PRCHS_TRST_VLM
				, CM.PRCHS_TRST_AMT
				, CM.PRCHS_EMSPAP_VLM
				, CM.PRCHS_EMSPAP_AMT

				, CM.SLS_CPRTN_SORT_TRST_VLM
				, CM.SLS_CPRTN_SORT_TRST_AMT
				, CM.SLS_CPRTN_TRST_VLM
				, CM.SLS_CPRTN_TRST_AMT
				, CM.SLS_CPRTN_SORT_EMSPAP_VLM
				, CM.SLS_CPRTN_SORT_EMSPAP_AMT

				, CM.SLS_SMPL_TRST_VLM
				, CM.SLS_SMPL_TRST_AMT
				, CM.SLS_SMPL_EMSPAP_VLM
				, CM.SLS_SMPL_EMSPAP_AMT

				, CM.SLS_EMSPAP_VLM
				, CM.SLS_EMSPAP_AMT
				, CM.SLS_TRST_VLM
				, CM.SLS_TRST_AMT

				, CM.RMRK

				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_EV_UO_ISO_ALL_PRCHS_SLS CM
			 WHERE 1=1

    	]]>
    		<if test='apoCd != null and apoCd != ""'>
				AND CM.APO_CD = #{apoCd}
			</if>
			<if test='apoSe != null and apoSe != ""'>
				AND CM.APO_SE = #{apoSe}
			</if>
		ORDER BY CM.ITEM_CD DESC
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnPurSalMngList" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO">
		SELECT * FROM
		(
			SELECT /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.selectPrdcrCrclOgnPurSalMngList */
				ITEM.YR
				, ITEM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
				, ITEM.CTGRY_CD
				, ITEM.STTG_UPBR_ITEM_SE
				, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE_1' AND CD_VL = ITEM.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM

				, CM.APO_CD
				, CM.APO_SE
				, CM.BRNO
				, CM.CRNO

				, '1' AS PRCHS_SLS_SE

				/*매입*/
				, CM.PRCHS_TRST_VLM
				, CM.PRCHS_TRST_AMT
				, CM.PRCHS_EMSPAP_VLM
				, CM.PRCHS_EMSPAP_AMT

				, '' AS PRCHS_TOT_VLM
				, NVL(TOT.PRCHS_TOT_AMT,'') AS PRCHS_TOT_AMT

				/*매출*/
				, CM.SLS_EMSPAP_VLM
				, CM.SLS_EMSPAP_AMT
				, CM.SLS_TRST_VLM
				, CM.SLS_TRST_AMT

				, '' AS SLS_TOT_VLM
				, '' AS SLS_TOT_AMT

				, CM.DDC_VLM
				, CM.DDC_AMT

				/*출하실적*/
				, CM.PBLC_WHLSL_MRKT_VLM
				, CM.PBLC_WHLSL_MRKT_AMT
				, CM.ONLN_WHLSL_MRKT_VLM
				, CM.ONLN_WHLSL_MRKT_AMT
				, CM.LGSZ_RTL_VLM
				, CM.LGSZ_RTL_AMT
				, CM.ARMY_DLVGDS_VLM
				, CM.ARMY_DLVGDS_AMT
				, CM.EATOUT_MTRL_MLSR_VLM
				, CM.EATOUT_MTRL_MLSR_AMT
				, CM.MNFC_RTL_VLM
				, CM.MNFC_RTL_AMT
				, CM.EXPRT_VLM
				, CM.EXPRT_AMT
				, CM.ONLN_DLNG_PRFMNC_VLM
				, CM.ONLN_DLNG_PRFMNC_AMT
				, CM.ETC_VLM
				, CM.ETC_AMT

				, CM.RMRK

				, NVL(CM.DEL_YN,'N')		AS DEL_YN

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM (SELECT *
			  			FROM TB_EV_UO_ISO_ALL_PRCHS_SLS
			  			WHERE APO_SE = '1'
			  			  AND PRCHS_SLS_SE = '1'
			  			<if test='brno != null and brno != ""'>
					  	  AND BRNO = #{brno}
						</if>
						<if test='yr != null and yr != ""'>
						  AND YR = #{yr}
						</if>
			  		) CM ,
			  	(SELECT *
			  		FROM TB_EV_APO_YR_GPC_CD
			  		WHERE 1=1
					<if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					</if>
					<if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					</if>
			  	) ITEM ,
			  	(SELECT BRNO , ITEM_CD , SUM( NVL( SLS_CNSGN_PRCHS_AMT , 0 ) ) AS PRCHS_TOT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '1'
			  		  AND TYPE_SE_NO IN ('1','3','5','7')
					  AND (
					  		(PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
					  						FROM TB_EV_FRMHS_APO
					  						WHERE 1=1
					  						  AND STBLT_YN = 'Y'
					  						  AND NVL(EXCL_YN,'N') != 'Y'
					  						  AND APO_SE = '1'
					  						<if test='brno != null and brno != ""'>
					  						  AND BRNO = #{brno}
					  						</if>
					  						<if test='yr != null and yr != ""'>
					  						  AND YR = #{yr}
					  						</if>
					  						  AND ITEM_CD IN  (SELECT ITEM_CD
					  											FROM TB_EV_APO_YR_GPC_CD
					  											WHERE 1=1
					  											<if test='brno != null and brno != ""'>
					  											  AND BRNO = #{brno}
					  											</if>
					  											<if test='yr != null and yr != ""'>
					  											  AND YR = #{yr}
					  											</if>
					  											)
					  						)
					  		) OR
					  		(PRDCR_OGNZ_SN = '0')
					  	)
					  AND (
					  		(ISO_BRNO IN (SELECT BRNO
					  						FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
											WHERE 1=1
											  AND APO_SE = '2'
											  AND STBLT_YN = 'Y'
											<if test='brno != null and brno != ""'>
					  						  AND UO_BRNO = #{brno}
					  						</if>
					  						<if test='yr != null and yr != ""'>
					  						  AND YR = #{yr}
					  						</if>
											GROUP BY BRNO
											)
					  		) OR
					  		(ISO_BRNO = '0')
					  		)
			  		  <if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					  </if>
					  <if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					  </if>

					  GROUP BY  BRNO , ITEM_CD
			  		) TOT
			 WHERE 1=1
			   AND ITEM.ITEM_CD = CM.ITEM_CD(+)
			   AND ITEM.BRNO = CM.BRNO(+)
			   AND ITEM.ITEM_CD = TOT.ITEM_CD(+)
			   AND ITEM.BRNO = TOT.BRNO(+)
			   AND ITEM.STTG_UPBR_ITEM_SE = CM.STTG_UPBR_ITEM_SE(+)

			UNION ALL

			SELECT
				ITEM.YR
				, ITEM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = ITEM.ITEM_CD) AS ITEM_NM
				, ITEM.CTGRY_CD
				, ITEM.STTG_UPBR_ITEM_SE
				, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE_1' AND CD_VL = ITEM.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM

				, CM.APO_CD
				, CM.APO_SE
				, CM.BRNO
				, CM.CRNO

				, '2' AS PRCHS_SLS_SE

				/*매입*/
				, CM.PRCHS_TRST_VLM
				, CM.PRCHS_TRST_AMT
				, CM.PRCHS_EMSPAP_VLM
				, CM.PRCHS_EMSPAP_AMT

				, '' AS PRCHS_TOT_AMT
				, '' AS PRCHS_TOT_AMT

				/*매출*/
				, CM.SLS_EMSPAP_VLM
				, CM.SLS_EMSPAP_AMT
				, CM.SLS_TRST_VLM
				, CM.SLS_TRST_AMT

				, (NVL(CM.SLS_EMSPAP_VLM , 0) + NVL(CM.SLS_TRST_VLM , 0)) AS SLS_TOT_VLM
				, TOT.SLS_TOT_AMT AS SLS_TOT_AMT

				, CM.DDC_VLM
				, CM.DDC_AMT

				/*출하실적*/
				, CM.PBLC_WHLSL_MRKT_VLM
				, CM.PBLC_WHLSL_MRKT_AMT
				, CM.ONLN_WHLSL_MRKT_VLM
				, CM.ONLN_WHLSL_MRKT_AMT
				, CM.LGSZ_RTL_VLM
				, CM.LGSZ_RTL_AMT
				, CM.ARMY_DLVGDS_VLM
				, CM.ARMY_DLVGDS_AMT
				, CM.EATOUT_MTRL_MLSR_VLM
				, CM.EATOUT_MTRL_MLSR_AMT
				, CM.MNFC_RTL_VLM
				, CM.MNFC_RTL_AMT
				, CM.EXPRT_VLM
				, CM.EXPRT_AMT
				, CM.ONLN_DLNG_PRFMNC_VLM
				, CM.ONLN_DLNG_PRFMNC_AMT
				, CM.ETC_VLM
				, CM.ETC_AMT

				, CM.RMRK

				, NVL(CM.DEL_YN,'N')		AS DEL_YN

				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM (SELECT *
			  			FROM TB_EV_UO_ISO_ALL_PRCHS_SLS
			  			WHERE APO_SE = '1'
			  			  AND PRCHS_SLS_SE = '2'
			  			<if test='brno != null and brno != ""'>
						  AND BRNO = #{brno}
						</if>
						<if test='yr != null and yr != ""'>
						  AND YR = #{yr}
						</if>
			  		) CM ,
			  	(SELECT *
			  		FROM TB_EV_APO_YR_GPC_CD
			  		WHERE 1=1
					<if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					</if>
					<if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					</if>
			  	) ITEM ,
			  	(SELECT BRNO , ITEM_CD , SUM( NVL( SLS_CNSGN_SLS_AMT , 0 ) ) AS SLS_TOT_AMT
			  		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
			  		WHERE 1=1
			  		  AND APO_SE = '1'
			  		  AND TYPE_SE_NO IN ('2','3','6','7')
			  		  <if test='brno != null and brno != ""'>
					  AND BRNO = #{brno}
					  </if>
					  <if test='yr != null and yr != ""'>
					  AND YR = #{yr}
					  </if>

					  GROUP BY  BRNO , ITEM_CD
			  		) TOT
			 WHERE 1=1
			   AND ITEM.ITEM_CD = CM.ITEM_CD(+)
			   AND ITEM.BRNO = CM.BRNO(+)
			   AND ITEM.ITEM_CD = TOT.ITEM_CD(+)
			   AND ITEM.BRNO = TOT.BRNO(+)
			   AND ITEM.STTG_UPBR_ITEM_SE = CM.STTG_UPBR_ITEM_SE(+)

			UNION ALL

			SELECT
				CM.YR
				, CM.ITEM_CD
				, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = CM.ITEM_CD) AS ITEM_NM
				, CM.CTGRY_CD
				, CM.STTG_UPBR_ITEM_SE
				, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE_1' AND CD_VL = CM.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM

				, CM.APO_CD
				, CM.APO_SE
				, CM.BRNO
				, CM.CRNO

				, CM.PRCHS_SLS_SE

				/*매입*/
				, CM.PRCHS_TRST_VLM
				, CM.PRCHS_TRST_AMT
				, CM.PRCHS_EMSPAP_VLM
				, CM.PRCHS_EMSPAP_AMT

				, '' AS PRCHS_TOT_AMT
				, '' AS PRCHS_TOT_AMT

				/*매출*/
				, CM.SLS_EMSPAP_VLM
				, CM.SLS_EMSPAP_AMT
				, CM.SLS_TRST_VLM
				, CM.SLS_TRST_AMT

				, (NVL(CM.SLS_EMSPAP_VLM , 0) + NVL(CM.SLS_TRST_VLM , 0)) AS SLS_TOT_VLM
				, (NVL(CM.SLS_EMSPAP_AMT , 0) + NVL(CM.SLS_TRST_AMT , 0)) AS SLS_TOT_AMT

				, CM.DDC_VLM
				, CM.DDC_AMT

				/*출하실적*/
				, CM.PBLC_WHLSL_MRKT_VLM
				, CM.PBLC_WHLSL_MRKT_AMT
				, CM.ONLN_WHLSL_MRKT_VLM
				, CM.ONLN_WHLSL_MRKT_AMT
				, CM.LGSZ_RTL_VLM
				, CM.LGSZ_RTL_AMT
				, CM.ARMY_DLVGDS_VLM
				, CM.ARMY_DLVGDS_AMT
				, CM.EATOUT_MTRL_MLSR_VLM
				, CM.EATOUT_MTRL_MLSR_AMT
				, CM.MNFC_RTL_VLM
				, CM.MNFC_RTL_AMT
				, CM.EXPRT_VLM
				, CM.EXPRT_AMT
				, CM.ONLN_DLNG_PRFMNC_VLM
				, CM.ONLN_DLNG_PRFMNC_AMT
				, CM.ETC_VLM
				, CM.ETC_AMT

				, CM.RMRK

				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			FROM TB_EV_UO_ISO_ALL_PRCHS_SLS CM
			WHERE 1=1
			  AND STTG_UPBR_ITEM_SE = '3' /*기타*/
			  AND APO_SE = '1'
			<if test='brno != null and brno != ""'>
			  AND BRNO = #{brno}
			</if>
			<if test='yr != null and yr != ""'>
			  AND YR = #{yr}
			</if>
		)
		ORDER BY STTG_UPBR_ITEM_SE , ITEM_CD DESC
    </select>


	<insert id="insertPrdcrCrclOgnPurSalMng01" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_UO_ISO_ALL_PRCHS_SLS CLT  /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.insertPrdcrCrclOgnPurSalMng01 */
		USING DUAL
			ON (
					CLT.BRNO   				= #{brno}
				AND CLT.STTG_UPBR_ITEM_SE 	= #{sttgUpbrItemSe}
				AND CLT.ITEM_CD	 			= #{itemCd}
				AND CLT.YR	 				= #{yr}
				AND CLT.APO_SE	 			= '1'
				AND CLT.PRCHS_SLS_SE		= '1'
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	        PRCHS_TRST_VLM			= #{prchsTrstVlm}
		    	        , PRCHS_TRST_AMT		= #{prchsTrstAmt}
		    	        , PRCHS_EMSPAP_VLM		= #{prchsEmspapVlm}
		    	        , PRCHS_EMSPAP_AMT		= #{prchsEmspapAmt}

		    	        , RMRK					= #{rmrk}

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 AND CLT.BRNO   			= #{brno}
					 AND CLT.STTG_UPBR_ITEM_SE 	= #{sttgUpbrItemSe}
					 AND CLT.ITEM_CD	 		= #{itemCd}
					 AND CLT.YR	 				= #{yr}
					 AND CLT.APO_SE	 			= '1'
					 AND CLT.PRCHS_SLS_SE		= '1'
		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , UO_BRNO
		    		  , CRNO
		    		  , YR
		    		  , STTG_UPBR_ITEM_SE

		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , PRCHS_SLS_SE

		    		  , PRCHS_TRST_VLM
		    		  , PRCHS_TRST_AMT
		    		  , PRCHS_EMSPAP_VLM
		    		  , PRCHS_EMSPAP_AMT

		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , #{apoSe}
		   			  , #{brno}
		   			  , '0'
		   			  , NVL(#{crno},'NULL')
		   			  , #{yr}
		   			  , #{sttgUpbrItemSe}

		   			  , #{ctgryCd}
		   			  , #{itemCd}
		   			  , '1'

		   			  , #{prchsTrstVlm}
		   			  , #{prchsTrstAmt}
		   			  , #{prchsEmspapVlm}
		   			  , #{prchsEmspapAmt}

		   			  , #{rmrk}

		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>

    <insert id="insertPrdcrCrclOgnPurSalMng02" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_UO_ISO_ALL_PRCHS_SLS CLT  /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.insertPrdcrCrclOgnPurSalMng02 */
		USING DUAL
			ON (
					CLT.BRNO   				= #{brno}
				AND CLT.STTG_UPBR_ITEM_SE 	= #{sttgUpbrItemSe}
				AND CLT.ITEM_CD	 			= #{itemCd}
				AND CLT.YR	 				= #{yr}
				AND CLT.APO_SE	 			= '1'
				AND CLT.PRCHS_SLS_SE	= '2'
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	        SLS_EMSPAP_VLM			= #{slsEmspapVlm}
		    	        , SLS_EMSPAP_AMT		= #{slsEmspapAmt}
		    	        , SLS_TRST_VLM			= #{slsTrstVlm}
		    	        , SLS_TRST_AMT			= #{slsTrstAmt}

		    	        , DDC_VLM				= #{ddcVlm}
		    	        , DDC_AMT				= #{ddcAmt}

		    	        , RMRK					= #{rmrk}

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 AND CLT.BRNO   			= #{brno}
					 AND CLT.STTG_UPBR_ITEM_SE 	= #{sttgUpbrItemSe}
					 AND CLT.ITEM_CD	 		= #{itemCd}
					 AND CLT.YR	 				= #{yr}
					 AND CLT.APO_SE	 			= '1'
					 AND CLT.PRCHS_SLS_SE		= '2'

		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , UO_BRNO
		    		  , CRNO
		    		  , YR

		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , PRCHS_SLS_SE
		    		  , STTG_UPBR_ITEM_SE

		    		  , SLS_EMSPAP_VLM
		    		  , SLS_EMSPAP_AMT
		    		  , SLS_TRST_VLM
		    		  , SLS_TRST_AMT

		    		  , DDC_VLM
		    		  , DDC_AMT

		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , #{apoSe}
		   			  , #{brno}
		   			  , '0'
		   			  , NVL(#{crno},'NULL')
		   			  , #{yr}

		   			  , #{ctgryCd}
		   			  , #{itemCd}
		   			  , '2'
		   			  , #{sttgUpbrItemSe}

		   			  , #{slsEmspapVlm}
		   			  , #{slsEmspapAmt}
		   			  , #{slsTrstVlm}
		   			  , #{slsTrstAmt}

		   			  , #{ddcVlm}
		   			  , #{ddcAmt}

		   			  , #{rmrk}

		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>


    <insert id="insertPrdcrCrclOgnPurSalMng03" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO">
    	<![CDATA[
    	MERGE INTO TB_EV_UO_ISO_ALL_PRCHS_SLS CLT  /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.insertPrdcrCrclOgnPurSalMng03 */
		USING DUAL
			ON (
					CLT.BRNO   				= #{brno}
				AND CLT.STTG_UPBR_ITEM_SE 	= #{sttgUpbrItemSe}
				AND CLT.ITEM_CD	 			= #{itemCd}
				AND CLT.YR	 				= #{yr}
				AND CLT.APO_SE	 			= '1'
				AND CLT.PRCHS_SLS_SE		= '2'
				)
		WHEN MATCHED THEN
				 UPDATE
					   SET
		    	          PBLC_WHLSL_MRKT_VLM 	= #{pblcWhlslMrktVlm}
					    , PBLC_WHLSL_MRKT_AMT 	= #{pblcWhlslMrktAmt}
					    , ONLN_WHLSL_MRKT_VLM 	= #{onlnWhlslMrktVlm}
					    , ONLN_WHLSL_MRKT_AMT 	= #{onlnWhlslMrktAmt}
					    , LGSZ_RTL_VLM 			= #{lgszRtlVlm}
					    , LGSZ_RTL_AMT 			= #{lgszRtlAmt}
					    , ARMY_DLVGDS_VLM 		= #{armyDlvgdsVlm}
					    , ARMY_DLVGDS_AMT 		= #{armyDlvgdsAmt}
					    , EATOUT_MTRL_MLSR_VLM 	= #{eatoutMtrlMlsrVlm}
					    , EATOUT_MTRL_MLSR_AMT 	= #{eatoutMtrlMlsrAmt}
					    , MNFC_RTL_VLM 			= #{mnfcRtlVlm}
					    , MNFC_RTL_AMT 			= #{mnfcRtlAmt}
					    , EXPRT_VLM 			= #{exprtVlm}
					    , EXPRT_AMT 			= #{exprtAmt}
					    , ONLN_DLNG_PRFMNC_VLM 	= #{onlnDlngPrfmncVlm}
					    , ONLN_DLNG_PRFMNC_AMT 	= #{onlnDlngPrfmncAmt}
					    , ETC_VLM 				= #{etcVlm}
					    , ETC_AMT 				= #{etcAmt}

		    	        , RMRK					= #{rmrk}

		    	        , SYS_LAST_CHG_DT		= SYSDATE
	    				, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    				, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}
		    	]]>
		    	<![CDATA[

					 WHERE 1=1
					 AND CLT.BRNO   			= #{brno}
					 AND CLT.STTG_UPBR_ITEM_SE 	= #{sttgUpbrItemSe}
					 AND CLT.ITEM_CD	 		= #{itemCd}
					 AND CLT.YR	 				= #{yr}
					 AND CLT.APO_SE	 			= '1'
					 AND CLT.PRCHS_SLS_SE		= '2'

		WHEN NOT MATCHED THEN
			 INSERT
		    		(
		    			APO_CD
		    		  , APO_SE
		    		  , BRNO
		    		  , UO_BRNO
		    		  , CRNO
		    		  , YR

		    		  , CTGRY_CD
		    		  , ITEM_CD
		    		  , PRCHS_SLS_SE
		    		  , STTG_UPBR_ITEM_SE

		    		  , PBLC_WHLSL_MRKT_VLM
					  , PBLC_WHLSL_MRKT_AMT
					  , ONLN_WHLSL_MRKT_VLM
					  , ONLN_WHLSL_MRKT_AMT
					  , LGSZ_RTL_VLM
					  , LGSZ_RTL_AMT
					  , ARMY_DLVGDS_VLM
					  , ARMY_DLVGDS_AMT
					  , EATOUT_MTRL_MLSR_VLM
					  , EATOUT_MTRL_MLSR_AMT
					  , MNFC_RTL_VLM
					  , MNFC_RTL_AMT
					  , EXPRT_VLM
					  , EXPRT_AMT
					  , ONLN_DLNG_PRFMNC_VLM
					  , ONLN_DLNG_PRFMNC_AMT
					  , ETC_VLM
					  , ETC_AMT

		    		  , RMRK

		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apoCd}
		   			  , #{apoSe}
		   			  , #{brno}
		   			  , '0'
		   			  , NVL(#{crno},'NULL')
		   			  , #{yr}

		   			  , #{ctgryCd}
		   			  , #{itemCd}
		   			  , '2'
		   			  , #{sttgUpbrItemSe}

		   			  , #{pblcWhlslMrktVlm}
					  , #{pblcWhlslMrktAmt}
					  , #{onlnWhlslMrktVlm}
					  , #{onlnWhlslMrktAmt}
					  , #{lgszRtlVlm}
					  , #{lgszRtlAmt}
					  , #{armyDlvgdsVlm}
					  , #{armyDlvgdsAmt}
					  , #{eatoutMtrlMlsrVlm}
					  , #{eatoutMtrlMlsrAmt}
					  , #{mnfcRtlVlm}
					  , #{mnfcRtlAmt}
					  , #{exprtVlm}
					  , #{exprtAmt}
					  , #{onlnDlngPrfmncVlm}
					  , #{onlnDlngPrfmncAmt}
					  , #{etcVlm}
					  , #{etcAmt}

		   			  , #{rmrk}

		   			  , SYSDATE
	   			  	  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>

	<update id="updatePrdcrCrclOgnPurSalMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.upatePrdcrCrclOgnPurSalMng */
	    		TB_PD_PrdcrCrclOgnVluIdctrMng
			   SET
			 	  AA	= #{aa}
			 	, BB 	= #{bb}
			 	, CC 	= #{cc}
			 	, CC_CODE 	= #{ccCode}
			 	, DD 	= #{dd}
			 	, DD_CODE 	= #{ddCode}
			 	, EE 	= #{ee}
			 	, FF 	= #{ff}
			 	, GG 	= #{gg}
			 	, HH 	= #{hh}
			 	, II 	= #{ii}
			 	, II_CODE 	= #{iiCode}
			 	, JJ 	= #{jj}
			 	, KK 	= #{kk}
			 	, LL 	= #{ll}
			 	, MM 	= #{mm}
			 	, NN 	= #{nn}
			 	, OO 	= #{oo}
			 	, PP 	= #{pp}
			 	, QQ 	= #{qq}
			 	, RR 	= #{rr}
			 	, SS 	= #{ss}
			 	, TT 	= #{tt}
			 	, UU 	= #{uu}
			 	, VV 	= #{vv}
			 	, WW 	= #{ww}
			 	, XX 	= #{xx}
			 	, YY 	= #{yy}
			 	, ZZ 	= #{zz}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND TEST_NO	= #{testNo}
    	]]>
    </update>


	<delete id="deletePrdcrCrclOgnPurSalMng" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO">
		DELETE FROM TB_EV_UO_ISO_ALL_PRCHS_SLS /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.deletePrdcrCrclOgnPurSalMng */
		 WHERE 1=1
					 AND BRNO				= #{brno}
					 AND CTGRY_CD			= #{ctgryCd}
					 AND ITEM_CD			= #{itemCd}
					 AND STTG_UPBR_ITEM_SE	= #{sttgUpbrItemSe}
					 AND PRCHS_SLS_SE		= #{prchsSlsSe}
					 AND APO_SE 			= '1'
					 AND YR	 				= #{yr}
	</delete>

	<select id="selectRawDataList" parameterType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO" resultType="com.at.apcss.pd.pcom.vo.PrdcrCrclOgnPurSalMngVO">
		SELECT /* com.at.apcss.pd.pcom.mapper.PrdcrCrclOgnPurSalMngMapper.selectRawDataList */
			YR
			, BRNO
			, (SELECT CORP_NM FROM TB_EV_APO WHERE BRNO = A.BRNO) AS CORP_NM
			, DECODE( (SELECT APRV
						FROM TB_EV_APO
						WHERE BRNO = A.BRNO
						)
						, '1' , '승인형'
						, '2' , '육성형'
						, ''
			) AS APRV
			, PRCHS_SLS_SE
			, DECODE(A.PRCHS_SLS_SE,'1','매입',2,'매출','') AS PRCHS_SLS_SE_NM
			, STTG_UPBR_ITEM_SE
			, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'STTG_UPBR_ITEM_SE_1' AND CD_VL = A.STTG_UPBR_ITEM_SE) AS STTG_UPBR_ITEM_NM
			, ITEM_CD
			, (SELECT ITEM_NM FROM TB_ITEM_CRTR WHERE ITEM_CD = A.ITEM_CD) AS ITEM_NM
			, CTGRY_CD
			, (SELECT CD_VL_NM FROM TB_COM_CD_DTL WHERE CD_ID = 'CTGRY_CD_1' AND CD_VL = A.CTGRY_CD) AS CTGRY_NM
			/*매입*/
			, PRCHS_TRST_VLM
			, PRCHS_TRST_AMT
			, PRCHS_EMSPAP_VLM
			, PRCHS_EMSPAP_AMT
			, NVL(PRCHS_TRST_VLM , 0) + NVL(PRCHS_EMSPAP_VLM , 0) AS PRCHS_TOT_VLM
			, NVL(PRCHS_EMSPAP_AMT , 0) + NVL(PRCHS_EMSPAP_AMT , 0) AS ORG_PRCHS_TOT_AMT
			, DECODE( A.PRCHS_SLS_SE , '1' , (SELECT SUM( NVL( SLS_CNSGN_PRCHS_AMT , 0 ) ) AS PRCHS_TOT_AMT
			  									FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT PST
												WHERE 1=1
												  AND APO_SE = '1'
												  AND TYPE_SE_NO IN ('1','3','5','7')
												  AND (
														(PRDCR_OGNZ_SN IN (SELECT PRDCR_OGNZ_SN
																			FROM TB_EV_FRMHS_APO EFA
																			WHERE 1=1
																			  AND STBLT_YN = 'Y'
																			  AND NVL(EXCL_YN,'N') != 'Y'
																			  AND APO_SE = '1'
																			  AND BRNO = PST.BRNO
																			  AND YR = PST.YR
																			  AND ITEM_CD IN  (SELECT ITEM_CD
																								FROM TB_EV_APO_YR_GPC_CD
																								WHERE 1=1
																								  AND BRNO = EFA.BRNO
																								  AND YR = EFA.YR
																								)
																		)
														) OR
														(PRDCR_OGNZ_SN = '0')
													)
												  AND (
														(ISO_BRNO IN (SELECT BRNO
																		FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
																		WHERE 1=1
																		  AND APO_SE = '2'
																		  AND STBLT_YN = 'Y'
																		  AND UO_BRNO = A.BRNO
																		  AND YR = A.YR
																		GROUP BY BRNO
																		)
												  		) OR
												  		(ISO_BRNO = '0')
												  		)
												  AND BRNO = A.BRNO
												  AND YR = A.YR
												  AND ITEM_CD = A.ITEM_CD
										  		)
							,NVL(PRCHS_EMSPAP_AMT , 0) + NVL(PRCHS_EMSPAP_AMT , 0)
			) AS PRCHS_TOT_AMT

			/*매출*/
			, SLS_EMSPAP_VLM
			, SLS_EMSPAP_AMT
			, SLS_TRST_VLM
			, SLS_TRST_AMT

			, NVL(SLS_EMSPAP_VLM , 0) + NVL(SLS_TRST_VLM , 0) AS SLS_TOT_VLM
			, NVL(SLS_EMSPAP_AMT , 0) + NVL(SLS_TRST_AMT , 0) AS ORG_SLS_TOT_AMT
			, DECODE( A.PRCHS_SLS_SE , '2' , (SELECT SUM( NVL( SLS_CNSGN_SLS_AMT , 0 ) )
											FROM TB_EV_UO_ISO_PRCHS_PRCHS_SLS_TOT
											WHERE 1=1
											  AND APO_SE = '1'
											  AND TYPE_SE_NO IN ('2','3','6','7')
											  AND BRNO = A.BRNO
											  AND YR = A.YR
											  AND ITEM_CD = A.ITEM_CD)
									, NVL(SLS_EMSPAP_AMT , 0) + NVL(SLS_TRST_AMT , 0)
			)AS SLS_TOT_AMT

			, DDC_VLM
			, DDC_AMT

			/*출하처별 출하실적 명세*/
			, PBLC_WHLSL_MRKT_VLM
			, PBLC_WHLSL_MRKT_AMT
			, ONLN_WHLSL_MRKT_VLM
			, ONLN_WHLSL_MRKT_AMT
			, LGSZ_RTL_VLM
			, LGSZ_RTL_AMT
			, ARMY_DLVGDS_VLM
			, ARMY_DLVGDS_AMT
			, EATOUT_MTRL_MLSR_VLM
			, EATOUT_MTRL_MLSR_AMT
			, MNFC_RTL_VLM
			, MNFC_RTL_AMT
			, EXPRT_VLM
			, EXPRT_AMT
			, ONLN_DLNG_PRFMNC_VLM
			, ONLN_DLNG_PRFMNC_AMT
			, ETC_VLM
			, ETC_AMT

		FROM TB_EV_UO_ISO_ALL_PRCHS_SLS A
		WHERE APO_SE ='1'
			AND YR = #{yr}
			AND BRNO NOT IN (SELECT BRNO
								FROM TB_COM_USER
								WHERE USER_ID IN ('at11','at12','at13','at14','at15','at16','at17','at51')
							)
			AND ITEM_CD = DECODE(A.STTG_UPBR_ITEM_SE
									, '3' , A.ITEM_CD
									, (SELECT ITEM_CD FROM TB_EV_APO_YR_GPC_CD WHERE BRNO = A.BRNO AND YR = A.YR AND ITEM_CD = A.ITEM_CD)
								)
		ORDER BY BRNO , PRCHS_SLS_SE , STTG_UPBR_ITEM_SE , ITEM_CD
	</select>
</mapper>