<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : PruoMngMapper.xml                                    				-->
<!-- DESC : 생산유통통합조직등록 관리 mapper                                      	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2025.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pcom.mapper.PruoMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.pd.pcom.vo.PruoMngMapper.selectPruoRegMst				-->
	<!-- DESC : 생산유통통합조직등록 마스터 조회                                  		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2025.09.24  	jcshin     		Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectPruoRegMst" parameterType="com.at.apcss.pd.pcom.vo.PruoMstVO" resultType="com.at.apcss.pd.pcom.vo.PruoMstVO">
		<![CDATA[
			SELECT	/* com.at.apcss.pd.pcom.vo.PruoMngMapper.selectPruoRegMst */
				  PM.CRTR_YR		AS CRTR_YR
				, PM.INDCT_NM		AS INDCT_NM
				, PM.CMPTN_YN		AS CMPTN_YN
				, PM.DDLN_STTS_CD	AS DDLN_STTS_CD
				, PM.BGNG_YMD		AS BGNG_YMD
				, PM.END_YMD		AS END_YMD
				, PM.DEL_YN 		AS DEL_YN
			FROM TB_EV_PRUO_REG_MST PM
			WHERE PM.CRTR_YR = #{crtrYr}
		]]>
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.pd.pcom.vo.PruoMngMapper.selectPruoRegMstList			-->
	<!-- DESC : 생산유통통합조직등록 마스터 목록 조회                                  	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2025.09.24  	jcshin     		Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectPruoRegMstList" parameterType="com.at.apcss.pd.pcom.vo.PruoMstVO" resultType="com.at.apcss.pd.pcom.vo.PruoMstVO">
		<![CDATA[
			SELECT	/* com.at.apcss.pd.pcom.vo.PruoMngMappeselectPruoRegMstListegMst */
				  PM.CRTR_YR		AS CRTR_YR
				, PM.INDCT_NM		AS INDCT_NM
				, PM.CMPTN_YN		AS CMPTN_YN
				, PM.DDLN_STTS_CD	AS DDLN_STTS_CD
				, PM.BGNG_YMD		AS BGNG_YMD
				, PM.END_YMD		AS END_YMD
				, PM.DEL_YN 		AS DEL_YN
			FROM TB_EV_PRUO_REG_MST PM
			WHERE PM.DEL_YN = 'N'
		]]>
		<if test='crtrYr != null and crtrYr !=""'>
			AND PM.CRTR_YR = #{crtrYr}
		</if>
		<![CDATA[
			ORDER BY CRTR_YR DESC
		]]>
	</select>
</mapper>