<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BizPlanReqMngMapper.xml													-->
<!-- DESC : 게시판 정보 mapper											 			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR			DESCRIPTION					  			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin			Initial Creation							-->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pcorm.mapper.BizPlanReqMngMapper">
	<!-- 제출 서류 리스트 -->
	<select id="selectBizPlanReqMngList" parameterType="com.at.apcss.pd.pcorm.vo.BizPlanReqMngVO" resultType="com.at.apcss.pd.pcorm.vo.BizPlanReqMngVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>

		<![CDATA[
			SELECT /* com.at.apcss.pd.pcorm.mapper.BizPlanReqMngMapper.selectBizPlanReqMngList */
				TEA.APO_CD
				, TEA.APO_SE
				, TEA.BRNO
				, TEA.CRNO
				, TEA.CORP_NM
				, (CASE WHEN
					( TO_DATE(BPSD.SYS_LAST_CHG_DT, 'YYYY-MM-DD') - TO_DATE(SSD.SYS_LAST_CHG_DT, 'YYYY-MM-DD') ) > 0
					THEN BPSD.SYS_LAST_CHG_DT
					ELSE SSD.SYS_LAST_CHG_DT
					END
				) AS LAST_ULD_DT

				, (CASE WHEN
					BPSD.FILE_SN IS NOT NULL
					THEN '제출'
					ELSE '미제출'
					END
				) AS BIZ_PLAN_SBMSN_YN
				, DECODE(BPSD.STTS, '1' , '미승인' , '2' , '승인' , '3' , '반려'
				) AS BIZ_PLAN_APRV_YN

				, (CASE WHEN
					SSD.FILE_SN IS NOT NULL
					THEN '제출'
					ELSE '미제출'
					END
				) AS SGNTR_SBMSN_YN
				, DECODE(SSD.STTS, '1' , '미승인' , '2' , '승인' , '3' , '반려'
				) AS SGNTR_APRV_YN

			FROM TB_EV_APO TEA
				,(SELECT *
					FROM TB_EV_SBMSN_DCMNT
					WHERE 1=1
					  AND DEL_YN = 'N'
					  AND DCMNT_KND = 'BP'
				) AS BPSD
				,(SELECT *
					FROM TB_EV_SBMSN_DCMNT
					WHERE 1=1
					  AND DEL_YN = 'N'
					  AND DCMNT_KND = 'S'
				) AS SSD
			WHERE 1=1
			  AND TEA.BRNO = BPSD.BRNO(+)
			  AND TEA.BRNO = SSD.BRNO(+)
			  AND TEA.APO_SE = '1'
			  AND TEA.APRV IS NOT NULL
		]]>
			<if test='yr != null and yr != ""'>
				AND SD.YR = #{yr}
			</if>
			<if test='brno != null and brno != ""'>
				AND SD.BRNO = #{brno}
			</if>
		ORDER BY SD.BRNO ASC

		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
	</select>
</mapper>