<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pcorm.mapper.PrdcrCrclOgnVluFndsMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbs				-->
	<!-- DESC : 게시판 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnVluFndsMng" parameterType="com.at.apcss.pd.pcorm.vo.PrdcrCrclOgnVluFndsMngVO" resultType="com.at.apcss.pd.pcorm.vo.PrdcrCrclOgnVluFndsMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.pcorm.mapper.PrdcrCrclOgnVluFndsMngMapper.selectPrdcrCrclOgnVluFndsMng */
				  CM.TEST_NO
				, CM.AA
				, CM.BB
				, CM.CC
				, CM.DD
				, CM.EE
				, CM.FF
				, CM.GG
				, CM.HH
				, CM.II
				, CM.II_CODE
				, CM.JJ
				, CM.KK
				, CM.LL
				, CM.MM
				, CM.NN
				, CM.OO
				, CM.PP
				, CM.QQ
				, CM.RR
				, CM.SS
				, CM.TT
				, CM.UU
				, CM.VV
				, CM.WW
				, CM.XX
				, CM.YY
				, CM.ZZ
				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_PD_PrdcrCrclOgnVluIdctrMng CM
			 WHERE 1=1

    	]]>
    		<if test='ccCode != null and ccCode != ""'>
				AND CM.CC_CODE LIKE #{ccCode} || '%'
			</if>
			<if test='iiCode != null and iiCode != ""'>
				AND CM.II_CODE LIKE '%' || #{iiCode} || '%'
			</if>
			<if test='testNo != null and testNo != ""'>
				AND CM.TEST_NO LIKE '%' || #{testNo} || '%'
			</if>
		ORDER BY CM.SYS_LAST_CHG_DT DESC
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.bbs.mapper.BbsMngMapper.selectBbsList			-->
	<!-- DESC : 게시판 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectPrdcrCrclOgnVluFndsMngList" parameterType="com.at.apcss.pd.pcorm.vo.PrdcrCrclOgnVluFndsMngVO" resultType="com.at.apcss.pd.pcorm.vo.PrdcrCrclOgnVluFndsMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.pd.pcorm.mapper.PrdcrCrclOgnVluFndsMngMapper.selectPrdcrCrclOgnVluFndsMngList */
				  CM.TEST_NO
				, CM.AA
				, CM.BB
				, CM.CC
				, CM.CC_CODE
				, CM.DD
				, CM.DD_CODE
				, CM.EE
				, CM.FF
				, CM.GG
				, CM.HH
				, CM.II
				, CM.II_CODE
				, CM.JJ
				, CM.KK
				, CM.LL
				, CM.MM
				, CM.NN
				, CM.OO
				, CM.PP
				, CM.QQ
				, CM.RR
				, CM.SS
				, CM.TT
				, CM.UU
				, CM.VV
				, CM.WW
				, CM.XX
				, CM.YY
				, CM.ZZ
				, CM.DEL_YN		AS DEL_YN
				, CM.SYS_FRST_INPT_DT		AS SYS_FRST_INPT_DT
				, TO_CHAR(CM.SYS_FRST_INPT_DT,'YYYY-MM-DD')		AS SYS_FRST_INPT_DT_YMD
				, CM.SYS_FRST_INPT_USER_ID	AS SYS_FRST_INPT_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_FRST_INPT_USER_ID) AS SYS_FRST_INPT_USER_ID_NM
				, CM.SYS_FRST_INPT_PRGRM_ID	AS SYS_FRST_INPT_PRGRM_ID
				, CM.SYS_LAST_CHG_DT		AS SYS_LAST_CHG_DT
				, TO_CHAR(CM.SYS_LAST_CHG_DT,'YYYY-MM-DD')		AS SYS_LAST_CHG_DT_YMD
				, CM.SYS_LAST_CHG_USER_ID	AS SYS_LAST_CHG_USER_ID
				, (SELECT USER_NM FROM TB_COM_USER WHERE USER_ID = CM.SYS_LAST_CHG_USER_ID) AS SYS_LAST_CHG_USER_ID_NM
				, CM.SYS_LAST_CHG_PRGRM_ID	AS SYS_LAST_CHG_PRGRM_ID
			  FROM TB_PD_PrdcrCrclOgnVluIdctrMng CM
			  WHERE 1=1
    	]]>
    		<if test='ccCode != null and ccCode != ""'>
				AND CM.CC_CODE LIKE #{ccCode} || '%'
			</if>
			<if test='iiCode != null and iiCode != ""'>
				AND CM.II_CODE LIKE '%' || #{iiCode} || '%'
			</if>
			<if test='testNo != null and testNo != ""'>
				AND CM.TEST_NO LIKE '%' || #{testNo} || '%'
			</if>
    </select>


	<insert id="insertPrdcrCrclOgnVluFndsMng" parameterType="com.at.apcss.pd.pcorm.vo.PrdcrCrclOgnVluFndsMngVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.pd.pcorm.mapper.PrdcrCrclOgnVluFndsMngMapper.insertPrdcrCrclOgnVluFndsMng */
	    	  INTO TB_PD_PrdcrCrclOgnVluIdctrMng
	    		(
	    			TEST_NO
	    		  , AA
	    		  , BB
	    		  , CC
	    		  , CC_CODE
	    		  , DD
	    		  , DD_CODE
	    		  , EE
	    		  , FF
	    		  , GG
	    		  , HH
	    		  , II
	    		  , II_CODE
	    		  , JJ
	    		  , KK
	    		  , LL
	    		  , MM
	    		  , NN
	    		  , OO
	    		  , PP
	    		  , QQ
	    		  , RR
	    		  , SS
	    		  , TT
	    		  , UU
	    		  , VV
	    		  , WW
	    		  , XX
	    		  , YY
	    		  , ZZ
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    (SELECT NVL(MAX(TEST_NO),0)+1 FROM TB_PD_PrdcrCrclOgnVluIdctrMng)
	   			  , #{aa}
	   			  , #{bb}
	   			  , #{cc}
	   			  , #{ccCode}
	   			  , #{dd}
	   			  , #{ddCode}
	   			  , #{ee}
	   			  , #{ff}
	   			  , #{gg}
	   			  , #{hh}
	   			  , #{ii}
	   			  , #{iiCode}
	   			  , #{jj}
	   			  , #{kk}
	   			  , #{ll}
	   			  , #{mm}
	   			  , #{nn}
	   			  , #{oo}
	   			  , #{pp}
	   			  , #{qq}
	   			  , #{rr}
	   			  , #{ss}
	   			  , #{tt}
	   			  , #{uu}
	   			  , #{vv}
	   			  , #{ww}
	   			  , #{xx}
	   			  , #{yy}
	   			  , #{zz}
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>
	<update id="updatePrdcrCrclOgnVluFndsMng" parameterType="com.at.apcss.pd.pcorm.vo.PrdcrCrclOgnVluFndsMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.pd.pcorm.mapper.PrdcrCrclOgnVluFndsMngMapper.upatePrdcrCrclOgnVluFndsMng */
	    		TB_PD_PrdcrCrclOgnVluIdctrMng
			   SET
			 	  AA	= #{aa}
			 	, BB 	= #{bb}
			 	, CC 	= #{cc}
			 	, CC_CODE 	= #{ccCode}
			 	, DD 	= #{dd}
			 	, DD_CODE 	= #{ddCode}
			 	, EE 	= #{ee}
			 	, FF 	= #{ff}
			 	, GG 	= #{gg}
			 	, HH 	= #{hh}
			 	, II 	= #{ii}
			 	, II_CODE 	= #{iiCode}
			 	, JJ 	= #{jj}
			 	, KK 	= #{kk}
			 	, LL 	= #{ll}
			 	, MM 	= #{mm}
			 	, NN 	= #{nn}
			 	, OO 	= #{oo}
			 	, PP 	= #{pp}
			 	, QQ 	= #{qq}
			 	, RR 	= #{rr}
			 	, SS 	= #{ss}
			 	, TT 	= #{tt}
			 	, UU 	= #{uu}
			 	, VV 	= #{vv}
			 	, WW 	= #{ww}
			 	, XX 	= #{xx}
			 	, YY 	= #{yy}
			 	, ZZ 	= #{zz}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
			   AND TEST_NO	= #{testNo}
    	]]>
    </update>


	<delete id="deletePrdcrCrclOgnVluFndsMng" parameterType="com.at.apcss.pd.pcorm.vo.PrdcrCrclOgnVluFndsMngVO">
		<![CDATA[
		DELETE FROM TB_PD_PrdcrCrclOgnVluIdctrMng
		 WHERE TEST_NO 	= #{testNo}
		]]>
	</delete>

</mapper>