<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : BbsMapper.xml                                    				-->
<!-- DESC : 게시판 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pcorm.mapper.PrdcrCrclOgnVluFndsMngMapper">

	<!-- 통합조직 등록결과 리스트 -->
	<select id="selectScoreList" parameterType="com.at.apcss.pd.pcorm.vo.PrdcrCrclOgnVluFndsMngVO" resultType="com.at.apcss.pd.pcorm.vo.PrdcrCrclOgnVluFndsMngVO">
		SELECT /* com.at.apcss.pd.pcorm.mapper.PrdcrCrclOgnVluFndsMngMapper.selectScoreList */
			EAM.YR
			,EAM.BRNO
			,'전문품목  총취급액' AS DD
			,'1' AS AA
			,ETS.BB
			,ETS.CC
			,ETS.SCORE
		FROM (SELECT * FROM TB_EV_APLY_MNG WHERE BRNO = #{brno} AND YR = #{yr} AND APO_SE = '1') EAM
			, (SELECT * FROM TB_EV_TEST_SCORE WHERE BRNO = #{brno} AND YR = #{yr} AND AA = '1') ETS
		WHERE 1=1
			AND EAM.BRNO = ETS.BRNO(+)

		UNION ALL

		SELECT
			EAM.YR
			,EAM.BRNO
			,'전문품목  전속취급율' AS DD
			,'2' AS AA
			,ETS.BB
			,ETS.CC
			,ETS.SCORE
		FROM (SELECT * FROM TB_EV_APLY_MNG WHERE BRNO = #{brno} AND YR = #{yr} AND APO_SE = '1') EAM
			, (SELECT * FROM TB_EV_TEST_SCORE WHERE BRNO = #{brno} AND YR = #{yr} AND AA = '2') ETS
		WHERE 1=1
			AND EAM.BRNO = ETS.BRNO(+)

		UNION ALL

		SELECT
			ETS.YR
			,ETS.BRNO
			,'' AS DD
			,ETS.AA
			,ETS.BB
			,ETS.CC
			,ETS.SCORE
		FROM
			TB_EV_TEST_SCORE ETS
		WHERE 1=1
			AND AA = '3'
			AND BRNO = #{brno}
			AND YR = #{yr}
	</select>
</mapper>