<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : SrvyMapper.xml													-->
<!-- DESC : 게시판 정보 mapper											 			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR			DESCRIPTION					  			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin			Initial Creation							-->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.pd.pcorm.mapper.SrvyMapper">
	<!-- 제출 서류 리스트 -->
	<select id="selectSrvyList" parameterType="com.at.apcss.pd.pcorm.vo.SrvyVO" resultType="com.at.apcss.pd.pcorm.vo.SrvyVO">
		<!-- Start 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			SELECT
				  ROWNUM AS ROW_SEQ
				, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
				, pt0.*
			  FROM (
		</if>
			SELECT /* com.at.apcss.pd.pcorm.mapper.SrvyMapper.selectSrvyList */
				TES.YR
				, TES.USER_ID
				/*, (SELECT DECODE(APRV , '1' , '승인형' , '2' , '육성형' , '')
					FROM TB_EV_APO
					WHERE 1=1
					  AND BRNO = (SELECT BRNO
									FROM TB_COM_USER
									WHERE 1=1
									  AND USER_ID = TES.USER_ID)
					  AND APO_SE = '1'
				) AS APRV
				, (SELECT CORP_NM
					FROM TB_EV_APO
					WHERE 1=1
					  AND BRNO = (SELECT BRNO
					  				FROM TB_COM_USER
					  				WHERE 1=1
					  				  AND USER_ID = TES.USER_ID)
				) AS CORP_NM*/
				, TES.SRVY_KND
				, TES.SRVY_SN
				, TES.SRVY_CN
				, TES.RSPNS_CN

				, DECODE(EAH.APRV, '1','승인형', '2','육성형', '') AS APRV
				, EAH.CORP_NM AS CORP_NM
			FROM TB_EV_SRVY TES

			LEFT JOIN TB_COM_USER CU
				ON CU.USER_ID = TES.USER_ID
				AND CU.DEL_YN = 'N'

			LEFT JOIN TB_EV_APO_HSTRY EAH
				ON EAH.BRNO = CU.BRNO
				AND EAH.YR = TES.YR
				AND EAH.APO_SE = 1
				AND EAH.DEL_YN = 'N'

		WHERE 1=1
			  AND TES.USER_ID NOT IN ('at11','at12','at13','at14','at15','at16','at17','at51'
										, 'at21','at22','at23','at24','at25','at26','at27','at61')
			<if test='yr != null and yr != ""'>
			  AND TES.YR = #{yr}
			</if>
			<if test='aprv != null and aprv != ""'>
			  AND EAH.APRV = #{aprv}
			</if>
		<!-- 페이징 -->
		<if test='pagingYn != null and pagingYn.equals("Y")'>
			  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
		</if>
	</select>
</mapper>