<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : RawMtrWrhsMapper.xml                                   				-->
<!-- DESC : 입고실적 mapper                                            				-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.07.28  	신정철        		Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.selectRawMtrWrhs		-->
	<!-- DESC : 입고실적 단건 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectRawMtrWrhs" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO" resultType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.selectRawMtrWrhs */
				  WP.APC_CD		AS APC_CD
				, WP.WRHSNO		AS WRHSNO
				, WP.WGHNO		AS WGHNO
				, WP.PLTNO		AS PLTNO
				, WP.WRHS_YMD	AS WRHS_YMD
				, WP.PRDCR_CD	AS PRDCR_CD
				, WP.VHCLNO		AS VHCLNO
				, WP.BX_QNTT	AS BX_QNTT
				, WP.WRHS_WGHT	AS WRHS_WGHT
				, WP.RMRK		AS RMRK
				, WP.DEL_YN		AS DEL_YN
			  FROM TB_RAW_MTR_WRHS_PRFMNC WP
			 WHERE WP.APC_CD = #{apcCd}
			   AND WP.WRHSNO = #{wrhsno}
		]]>
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.selectRawMtrWrhsList	-->
	<!-- DESC : 입고실적 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectRawMtrWrhsList" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO" resultType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
    	<![CDATA[
    		SELECT
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			,
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
				  pt0.*
    			, (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = pt0.APC_CD) AS APC_NM
    			, (SELECT FN_GET_PRDCR_NM(pt0.PRDCR_CD, pt0.APC_CD) FROM DUAL) AS PRDCR_NM
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
    			, (SELECT FN_GET_GRD_NM_RAWMTR(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL) AS GRD_NM
                , (SELECT FN_GET_STD_GRD_RAWMTR(pt0.APC_CD, pt0.WRHSNO) FROM DUAL) AS STD_GRD
                , (SELECT FN_GET_STD_GRD_RAWMTR(pt0.APC_CD, pt0.WRHSNO, 'CD') FROM DUAL) AS STD_GRD_CD
                , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) AS WAREHOUSE_SE_NM
                , (SELECT X.PLT_BX_NM FROM TB_PLT_BX_INFO X WHERE X.APC_CD = pt0.APC_CD AND X.PLT_BX_SE_CD = 'B' AND X.PLT_BX_CD = pt0.BX_KND) AS BX_KND_NM
				, (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', pt0.GDS_SE_CD) FROM DUAL) AS GDS_SE_NM
				, (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', pt0.WRHS_SE_CD) FROM DUAL) AS WRHS_SE_NM
				, (SELECT FN_GET_COM_CD_VL_NM('TRSPRT_SE_CD', pt0.TRSPRT_SE_CD) FROM DUAL) AS TRSPRT_SE_NM
    		  FROM (

	    	SELECT /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.selectRawMtrWrhsList */
				  WP.APC_CD         AS APC_CD
				, WP.WRHSNO         AS WRHSNO
				, WP.WGHNO          AS WGHNO
				, WP.PLTNO          AS PLTNO
				, WP.WRHS_YMD		AS WRHS_YMD
				, WP.PRDCR_CD       AS PRDCR_CD
				, INV.ITEM_CD       AS ITEM_CD
				, INV.VRTY_CD       AS VRTY_CD
				, INV.GDS_SE_CD     AS GDS_SE_CD
				, INV.WRHS_SE_CD    AS WRHS_SE_CD
				, INV.TRSPRT_SE_CD  AS TRSPRT_SE_CD
				, INV.GRD_CD        AS GRD_CD
				, WP.VHCLNO         AS VHCLNO
				, WP.BX_QNTT        AS BX_QNTT
				, WP.WRHS_WGHT      AS WRHS_WGHT
				, INV.BX_KND        AS BX_KND
				, INV.WAREHOUSE_SE_CD   AS WAREHOUSE_SE_CD
				, INV.PRDCTN_YR		AS PRDCTN_YR
				, WP.RMRK           AS RMRK
			  FROM
			  	  TB_RAW_MTR_WRHS_PRFMNC WP
			  	, TB_RAW_MTR_INVNTR INV

			 WHERE WP.APC_CD = INV.APC_CD
			   AND WP.WRHSNO = INV.WRHSNO
			   AND WP.DEL_YN = 'N'
			   AND INV.DEL_YN = 'N'
		]]>

		<if test='apcCd != null and apcCd != ""'>
			   AND WP.APC_CD = #{apcCd}
		</if>
		<if test='wrhsno != null and wrhsno != ""'>
			   AND WP.WRHSNO = #{wrhsno}
		</if>
		<if test='pltno != null and pltno != ""'>
			   AND WP.PLTNO = #{pltno}
		</if>
		<if test='wghno != null and wghno != ""'>
			   AND WP.WGHNO = #{wghno}
		</if>
		<if test='wrhsYmd != null and wrhsYmd != ""'>
			   AND WP.WRHS_YMD = #{wrhsYmd}
		</if>
		<if test='wrhsYmdFrom != null and wrhsYmdFrom != ""'>
			   AND WP.WRHS_YMD <![CDATA[>=]]> #{wrhsYmdFrom}
		</if>
		<if test='wrhsYmdTo != null and wrhsYmdTo != ""'>
			   AND WP.WRHS_YMD <![CDATA[<=]]> #{wrhsYmdTo}
		</if>
		<if test='prdcrCd != null and prdcrCd != ""'>
			   AND WP.PRDCR_CD = #{prdcrCd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
			   AND INV.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			   AND INV.VRTY_CD = #{vrtyCd}
		</if>
		<if test='gdsSeCd != null and gdsSeCd != ""'>
			   AND INV.GDS_SE_CD = #{gdsSeCd}
		</if>
		<if test='wrhsSeCd != null and wrhsSeCd != ""'>
			   AND INV.WRHS_SE_CD = #{wrhsSeCd}
		</if>
		<if test='trsprtSeCd != null and trsprtSeCd != ""'>
			   AND INV.TRSPRT_SE_CD = #{trsprtSeCd}
		</if>
		<if test='grdCd != null and grdCd != ""'>
			   AND INV.GRD_CD = #{grdCd}
		</if>
		<if test='bxKnd != null and bxKnd != ""'>
			   INV INV.BX_KND = #{bxKnd}
		</if>
		<if test='warehouseSeCd != null and warehouseSeCd != ""'>
			   AND INV.WAREHOUSE_SE_CD = #{warehouseSeCd}
		</if>
		<if test='vhclno != null and vhclno != ""'>
			   AND WP.VHCLNO = #{vhclno}
		</if>

		<![CDATA[
		 	 ORDER BY APC_CD, WRHS_YMD, WRHSNO
    		  ) pt0
		]]>

		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.insertRawMtrWrhs		-->
	<!-- DESC : 입고실적 등록.		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertRawMtrWrhs" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.insertRawMtrWrhs */
	    		INTO TB_RAW_MTR_WRHS_PRFMNC
				(
					  APC_CD
					, WRHSNO
					, WGHNO
					, PLTNO
					, WRHS_YMD
					, PRDCR_CD
					, VHCLNO
					, WRHS_WGHT
					, BX_QNTT
					, RMRK
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
					  #{apcCd}
					, #{wrhsno}
					, #{wghno}
					, #{pltno}
					, #{wrhsYmd}
					, #{prdcrCd}
					, #{vhclno}
					, #{wrhsWght}
					, #{bxQntt}
					, #{rmrk}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.updateRawMtrWrhs		-->
	<!-- DESC : 입고실적 변경.		                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateRawMtrWrhs" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.updateRawMtrWrhs */
				TB_RAW_MTR_WRHS_PRFMNC
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}

	    		, PLTNO		= #{pltno}
				, WRHS_YMD	= #{wrhsYmd}
				, PRDCR_CD	= #{prdcrCd}
				, VHCLNO	= #{vhclno}
				, WRHS_WGHT	= #{wrhsWght}
				, BX_QNTT	= #{bxQntt}
				, RMRK		= #{rmrk}

			 WHERE APC_CD = #{apcCd}
			   AND WRHSNO = #{wrhsno}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.deleteRawMtrWrhs		-->
	<!-- DESC : 입고실적 삭제.		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteRawMtrWrhs" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.deleteRawMtrWrhs */
			  FROM TB_RAW_MTR_WRHS_PRFMNC
			 WHERE APC_CD = #{apcCd}
			   AND WRHSNO = #{wrhsno}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.updateRawMtrWrhsDelY	-->
	<!-- DESC : 입고실적 삭제 : delYn Y		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateRawMtrWrhsDelY" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.updateRawMtrWrhsDelY */
				TB_RAW_MTR_WRHS_PRFMNC
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}

				, DEL_YN	= 'Y'
			 WHERE APC_CD = #{apcCd}
			   AND WRHSNO = #{wrhsno}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.insertRawMtrPrcs		-->
	<!-- DESC : 원물처리 등록.		                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertRawMtrPrcs" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.insertRawMtrPrcs */
	    		INTO TB_RAW_MTR_PRCS (
				  APC_CD
				, WRHSNO
				, PRCS_SN
				, PRCS_YMD
				, PRCSNO
				, QNTT
				, WGHT
				, RMRK
	    		, SYS_FRST_INPT_DT
	    		, SYS_FRST_INPT_USER_ID
	    		, SYS_FRST_INPT_PRGRM_ID
	    		, SYS_LAST_CHG_DT
	    		, SYS_LAST_CHG_USER_ID
	    		, SYS_LAST_CHG_PRGRM_ID
			) VALUES (
					  #{apcCd}
					, #{wrhsno}
					, #{prcsSn}
					, #{prcsYmd}
					, #{prcsno}
					, #{qntt}
					, #{wght}
					, #{rmrk}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.updateRawMtrPrcsDelY	-->
	<!-- DESC : 원물처리 삭제 : delYn Y		                                       	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.07.28  	신정철        		Initial Creation                    	-->
	<!-- ==========================================================================	-->
    <update id="updateRawMtrPrcsDelY" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
		<![CDATA[
			UPDATE /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.updateRawMtrPrcsDelY */
				TB_RAW_MTR_PRCS
			   SET
			   	  SYS_LAST_CHG_DT 			= SYSDATE
	    		, SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}

				, DEL_YN	= 'Y'
			 WHERE APC_CD = #{apcCd}
			   AND WRHSNO = #{wrhsno}
			   AND PRCS_SN = #{prcsSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.selectRawMtrWrhsPrfmncList	-->
	<!-- DESC : 입고실적 목록 조회.	                                       				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.16  	정희운        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <select id="selectRawMtrWrhsPrfmncList" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO" resultType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
    	<![CDATA[
			SELECT  /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsMapper.selectRawMtrWrhsPrfmncList */
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, 
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
				  pt0.*
    			, (SELECT FN_GET_APC_NM(pt0.APC_CD) FROM DUAL) AS APC_NM
    			, (SELECT FN_GET_PRDCR_NM(pt0.PRDCR_CD, pt0.APC_CD) FROM DUAL) AS PRDCR_NM
                , (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) AS ITEM_NM
                , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
    			, (SELECT FN_GET_GRD_NM_RAWMTR(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL) AS GRD_NM
                , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', pt0.WAREHOUSE_SE_CD, pt0.APC_CD) FROM DUAL) AS WAREHOUSE_SE_NM
                , (SELECT FN_GET_COM_CD_VL_NM('BX_KND', pt0.BX_KND, pt0.APC_CD) FROM DUAL) AS BX_KND_NM
				, (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', pt0.GDS_SE_CD) FROM DUAL) AS GDS_SE_NM
				, (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', pt0.WRHS_SE_CD) FROM DUAL) AS WRHS_SE_NM
				, (SELECT FN_GET_COM_CD_VL_NM('TRSPRT_SE_CD', pt0.TRSPRT_SE_CD) FROM DUAL) AS TRSPRT_SE_NM
				, (SELECT FN_GET_COM_CD_VL_NM('PRCS_TYPE', pt0.PRCS_TYPE) FROM DUAL) AS PRCS_TYPE_NM
    		  FROM (
	    	SELECT
				  WP.APC_CD         AS APC_CD
				, WP.WRHSNO         AS WRHSNO
				, WP.WGHNO          AS WGHNO
				, WP.PLTNO          AS PLTNO
				, WP.WRHS_YMD		AS WRHS_YMD
				, WP.PRDCR_CD       AS PRDCR_CD
				, INV.ITEM_CD       AS ITEM_CD
				, INV.VRTY_CD       AS VRTY_CD
				, INV.GDS_SE_CD     AS GDS_SE_CD
				, INV.WRHS_SE_CD    AS WRHS_SE_CD
				, INV.TRSPRT_SE_CD  AS TRSPRT_SE_CD
				, INV.GRD_CD        AS GRD_CD
				, WP.VHCLNO         AS VHCLNO
				, WP.BX_QNTT        AS BX_QNTT
				, WP.WRHS_WGHT      AS WRHS_WGHT
				, INV.BX_KND        AS BX_KND
				, INV.WAREHOUSE_SE_CD   AS WAREHOUSE_SE_CD
				, WP.RMRK           AS RMRK
				, TRS.TRSPRT_CST AS TRSPRT_CST
				, INV.PRCS_TYPE		AS PRCS_TYPE
				, INV.PRCSNO		AS PRCSNO
			  FROM
			  	  TB_RAW_MTR_WRHS_PRFMNC WP
			  	, TB_RAW_MTR_INVNTR INV
			  	, TB_RAW_MTR_TRSPRT_CST TRS
			 WHERE WP.APC_CD = INV.APC_CD
			   AND WP.WRHSNO = INV.WRHSNO
			   AND WP.WRHS_YMD = TRS.TRSPRT_YMD(+)
			   AND WP.VHCLNO = TRS.VHCLNO(+)
			   AND WP.DEL_YN = 'N'
			   AND INV.DEL_YN = 'N'
		]]>

		<if test='apcCd != null and apcCd != ""'>
			   AND WP.APC_CD = #{apcCd}
		</if>
		<if test='wrhsno != null and wrhsno != ""'>
			   AND WP.WRHSNO = #{wrhsno}
		</if>
		<if test='wghno != null and wghno != ""'>
			   AND WP.WGHNO = #{wghno}
		</if>
		<if test='wrhsYmdFrom != null and wrhsYmdFrom != ""'>
			   AND WP.WRHS_YMD <![CDATA[>=]]> #{wrhsYmdFrom}
		</if>
		<if test='wrhsYmdTo != null and wrhsYmdTo != ""'>
			   AND WP.WRHS_YMD <![CDATA[<=]]> #{wrhsYmdTo}
		</if>
		<if test='prdcrCd != null and prdcrCd != ""'>
			   AND WP.PRDCR_CD = #{prdcrCd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
			   AND INV.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			   AND INV.VRTY_CD IN (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{vrtyCd})))
		</if>
		<if test='gdsSeCd != null and gdsSeCd != ""'>
			   AND INV.GDS_SE_CD IN (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{gdsSeCd})))
		</if>
		<if test='wrhsSeCd != null and wrhsSeCd != ""'>
			   AND INV.WRHS_SE_CD IN (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{wrhsSeCd})))
		</if>
		<if test='trsprtSeCd != null and trsprtSeCd != ""'>
			   AND INV.TRSPRT_SE_CD IN (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{trsprtSeCd})))
		</if>
		<if test='warehouseSeCd != null and warehouseSeCd != ""'>
			   AND INV.WAREHOUSE_SE_CD = #{warehouseSeCd}
		</if>
		<if test='vhclno != null and vhclno != ""'>
			   AND WP.VHCLNO LIKE '%' || #{vhclno} || '%'
		</if>
		<![CDATA[
		 	 ORDER BY APC_CD, WRHS_YMD, WRHSNO
    		  ) pt0
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

</mapper>