<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : RawMtrWrhsPlanMapper.xml                                   			-->
<!-- DESC : 계량입고계획 mapper                                            		-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.08.08  	김 호        		Initial Creation                        -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.wrhs.mapper.RawMtrWrhsPlanMapper">


	<!-- ================================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsPlanMapper.selectRawMtrWrhsPlan		-->
	<!-- DESC : 계량입고계획 단건 조회.	                                       				-->
	<!-- ================================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      					-->
	<!-- ===========  	============  	=================================================	-->
	<!-- 2023.08.08  	 김 호        		Initial Creation                        		-->
	<!-- ================================================================================	-->
    <select id="selectRawMtrWrhsPlan" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsPlanVO" resultType="com.at.apcss.am.wrhs.vo.RawMtrWrhsPlanVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsPlanMapper.selectRawMtrWrhsPlan */
			       WP.APC_CD            AS APC_CD
			     , WP.PLANNO            AS PLANNO
			     , WP.PLAN_YMD          AS PLAN_YMD
			     , WP.PLAN_HR           AS PLAN_HR
			     , WP.PRDCR_CD          AS PRDCR_CD
			     , WP.PRDCR_NM          AS PRDCR_NM
			     , WP.ITEM_CD           AS ITEM_CD
			     , (SELECT FN_GET_ITEM_NM(WP.ITEM_CD, WP.APC_CD) FROM DUAL) AS ITEM_NM
			     , WP.VRTY_CD           AS VRTY_CD
			     , (SELECT FN_GET_VRTY_NM(WP.VRTY_CD, WP.APC_CD) FROM DUAL) AS VRTY_NM
			     , WP.GDS_SE_CD         AS GDS_SE_CD
			     , (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', WP.GDS_SE_CD ) FROM DUAL ) AS GDS_SE_NM
			     , WP.WRHS_SE_CD        AS WRHS_SE_CD
			     , (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', WP.WRHS_SE_CD ) FROM DUAL ) AS WRHS_SE_NM
			     , WP.TRSPRT_SE_CD      AS TRSPRT_SE_CD
			     , (SELECT FN_GET_COM_CD_VL_NM('TRSPRT_SE_CD', WP.TRSPRT_SE_CD ) FROM DUAL ) AS TRSPRT_SE_NM
			     , WP.WAREHOUSE_SE_CD   AS WAREHOUSE_SE_CD
			     , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', WP.WAREHOUSE_SE_CD, WP.APC_CD ) FROM DUAL ) AS WAREHOUSE_SE_NM
			     , WP.PLAN_QNTT         AS PLAN_QNTT
			     , WP.PLAN_WGHT         AS PLAN_WGHT
			     , WP.RMRK              AS RMRK
			     , WP.DEL_YN            AS DEL_YN
			  FROM TB_RAW_MTR_WRHS_PLAN WP
			 WHERE WP.APC_CD	= #{apcCd}
			   AND WP.PLANNO	= #{planno}
		]]>
    </select>

	<!-- ================================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsPlanMapper.selectRawMtrWrhsPlanList	-->
	<!-- DESC : 계량입고계획 목록 조회.	                                       				-->
	<!-- ================================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      					-->
	<!-- ===========  	============  	=================================================	-->
	<!-- 2023.08.08  	 김 호        		Initial Creation                        		-->
	<!-- ================================================================================	-->
    <select id="selectRawMtrWrhsPlanList" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsPlanVO" resultType="com.at.apcss.am.wrhs.vo.RawMtrWrhsPlanVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsPlanMapper.selectRawMtrWrhsPlanList */
			       WP.APC_CD            AS APC_CD
			     , WP.PLANNO            AS PLANNO
			     , WP.PLAN_YMD          AS PLAN_YMD
			     , WP.PLAN_HR           AS PLAN_HR
			     , WP.PRDCR_CD          AS PRDCR_CD
			     , WP.PRDCR_NM          AS PRDCR_NM
			     , WP.ITEM_CD           AS ITEM_CD
			     , (SELECT FN_GET_ITEM_NM(WP.ITEM_CD, WP.APC_CD) FROM DUAL) AS ITEM_NM
			     , WP.VRTY_CD           AS VRTY_CD
			     , (SELECT FN_GET_VRTY_NM(WP.VRTY_CD, WP.APC_CD) FROM DUAL) AS VRTY_NM
			     , WP.GDS_SE_CD         AS GDS_SE_CD
			     , (SELECT FN_GET_COM_CD_VL_NM('GDS_SE_CD', WP.GDS_SE_CD ) FROM DUAL ) AS GDS_SE_NM
			     , WP.WRHS_SE_CD        AS WRHS_SE_CD
			     , (SELECT FN_GET_COM_CD_VL_NM('WRHS_SE_CD', WP.WRHS_SE_CD ) FROM DUAL ) AS WRHS_SE_NM
			     , WP.TRSPRT_SE_CD      AS TRSPRT_SE_CD
			     , (SELECT FN_GET_COM_CD_VL_NM('TRSPRT_SE_CD', WP.TRSPRT_SE_CD ) FROM DUAL ) AS TRSPRT_SE_NM
			     , WP.WAREHOUSE_SE_CD   AS WAREHOUSE_SE_CD
			     , (SELECT FN_GET_COM_CD_VL_NM('WAREHOUSE_SE_CD', WP.WAREHOUSE_SE_CD, WP.APC_CD ) FROM DUAL ) AS WAREHOUSE_SE_NM
			     , WP.PLAN_QNTT         AS PLAN_QNTT
			     , WP.PLAN_WGHT         AS PLAN_WGHT
			     , WP.RMRK              AS RMRK
			     , WP.DEL_YN            AS DEL_YN
			  FROM TB_RAW_MTR_WRHS_PLAN WP
			 WHERE WP.DEL_YN  	= 'N'
			   AND WP.APC_CD	= #{apcCd}
		]]>

		<if test='prdcrCd != null and prdcrCd != ""'>
			   AND WP.PRDCR_CD = #{prdcrCd}
		</if>
		<if test='planYmdFrom != null and planYmdFrom != ""'>
			   AND WP.PLAN_YMD <![CDATA[>=]]> #{planYmdFrom}
		</if>
		<if test='planYmdTo != null and planYmdTo != ""'>
			   AND WP.PLAN_YMD <![CDATA[<=]]> #{planYmdTo}
		</if>

		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>


	<!-- ================================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsPlanMapper.selectRawMtrWrhsPlanList	-->
	<!-- DESC : 계량입고계획 등록.	                                       					-->
	<!-- ================================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      					-->
	<!-- ===========  	============  	=================================================	-->
	<!-- 2023.08.22  	 김 호        		Initial Creation                        		-->
	<!-- ================================================================================	-->
    <insert id="insertRawMtrWrhsPlan" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsPlanVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsPlanMapper.insertRawMtrWrhsPlan */
	    		INTO TB_RAW_MTR_WRHS_PLAN
				(
					  APC_CD
					, PLANNO
					, PLAN_YMD
					, PLAN_HR
					, PRDCR_CD
					, PRDCR_NM
					, ITEM_CD
					, VRTY_CD
					, GDS_SE_CD
					, WRHS_SE_CD
					, TRSPRT_SE_CD
					, WAREHOUSE_SE_CD
					, PLAN_QNTT
					, PLAN_WGHT
					, RMRK
		    		, SYS_FRST_INPT_DT
		    		, SYS_FRST_INPT_USER_ID
		    		, SYS_FRST_INPT_PRGRM_ID
		    		, SYS_LAST_CHG_DT
		    		, SYS_LAST_CHG_USER_ID
		    		, SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
					  #{apcCd}
					, #{planno}
					, #{planYmd}
					, #{planHr}
					, #{prdcrCd}
					, #{prdcrNm}
					, #{itemCd}
					, #{vrtyCd}
					, #{gdsSeCd}
					, #{wrhsSeCd}
					, #{trsprtSeCd}
					, #{warehouseSeCd}
					, #{planQntt}
					, #{planWght}
					, #{rmrk}
		    		, SYSDATE
		    		, #{sysFrstInptUserId}
		    		, #{sysFrstInptPrgrmId}
		    		, SYSDATE
		    		, #{sysLastChgUserId}
		    		, #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ================================================================================	-->
	<!-- NAME : com.at.apcss.am.wrhs.mapper.RawMtrWrhsPlanMapper.deleteRawMtrWrhsPlan		-->
	<!-- DESC : 계량입고계획 삭제.	                                       					-->
	<!-- ================================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      					-->
	<!-- ===========  	============  	=================================================	-->
	<!-- 2023.08.22  	 김 호        		Initial Creation                        		-->
	<!-- ================================================================================	-->
	<delete id="deleteRawMtrWrhsPlan" parameterType="com.at.apcss.am.wrhs.vo.RawMtrWrhsVO">
		<![CDATA[
			UPDATE TB_RAW_MTR_WRHS_PLAN /* com.at.apcss.am.wrhs.mapper.RawMtrWrhsPlanMapper.deleteRawMtrWrhsPlan */
			   SET DEL_YN 					= 'Y'
			   	 , SYS_LAST_CHG_DT			= SYSDATE
		    	 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
		    	 , SYS_LAST_CHG_PRGRM_ID    = #{sysLastChgPrgrmId}
			 WHERE APC_CD = #{apcCd}
			   AND PLANNO = #{planno}
		]]>
	</delete>

</mapper>