<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.at.apcss.am.spmt.mapper.SlsMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsPrfmnc			-->
	<!-- DESC : 매출실적조회                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->
    <select id="selectSlsPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO" resultType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
    		SELECT
    			  pt0.*
    			, (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 						AS ITEM_NM
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_PRDCR_NM(pt0.PRDCR_CD, pt0.APC_CD) FROM DUAL)						AS PRDCR_NM
    		 FROM (	
		    		SELECT	/* com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsPrfmnc */
					     SPD.APC_CD		AS APC_CD
					    ,SPD.PRDCR_CD 	AS PRDCR_CD
					    ,SP.SLS_YMD		AS SLS_YMD
					    ,SP.ITEM_CD 	AS ITEM_CD
					    ,SP.VRTY_CD 	AS VRTY_CD
					    ,SP.BRND_NM		AS BRND_NM
					    ,SP.SPMT_YMD	AS SPMT_YMD
					    ,SP.QNTT		AS QNTT
					    ,SP.WGHT		AS WGHT
					    ,SP.SLS_UNTPRC 	AS SLS_UNTPRC
					    ,SP.RKNG_AMT	AS RKNG_AMT
					    ,SP.CFMTN_AMT 	AS CFMTN_AMT
					    ,SP.SPMTNO		AS SPMTNO
					    ,SP.SLS_SN 		AS SLS_SN
					FROM TB_SPMT_PRFMNC_DTL SPD 
					LEFT JOIN TB_SLS_PRFMNC SP
					ON SPD.APC_CD = SP.APC_CD
					AND SPD.SPMTNO = SP.SPMTNO
					WHERE SP.DEL_YN = 'N'
		]]>
				<if test='apcCd != null and apcCd != ""'>
	   				AND SPD.APC_CD = #{apcCd}
				</if>
				<if test='slsYmdFrom != null and apcCd != ""'>
		    		AND SP.SLS_YMD <![CDATA[>=]]> #{slsYmdFrom}
				</if>
				<if test='slsYmdTo != null and apcCd != ""'>
	    			AND SP.SLS_YMD <![CDATA[<=]]> #{slsYmdTo}
				</if>
				<if test='itemCd != null and apcCd != ""'>
	    			AND SP.ITEM_CD = #{itemCd}
				</if>
				<![CDATA[
		    		  ) pt0
				]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsPrfmnc  	-->
	<!-- DESC : 매출실적삭제	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
    <update id="deleteSlsPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsPrfmnc */
	    	  TB_SLS_PRFMNC SET
				DEL_YN = 'Y'
				, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}

			 WHERE APC_CD = #{apcCd}
			   AND SLS_YMD >= #{slsYmdFrom}
			   AND SLS_YMD <= #{slsYmdTo}
			   AND SLS_SN = #{slsSn}
		]]>
    </update>
	
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSlsPrfmnc  	-->
	<!-- DESC : 매출실적변경	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
    <update id="updateSlsPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSlsPrfmnc */
	    	  TB_SLS_PRFMNC SET
				 ITEM_CD = #{itemCd}
				, VRTY_CD = #{vrtyCd}
				, QNTT = #{qntt}
				, WGHT = #{wght}
				, RKNG_AMT = #{rkngAmt}
				, CFMTN_AMT = #{cfmtnAmt}
				, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}

			 WHERE APC_CD = #{apcCd}
			   AND SLS_YMD >= #{slsYmdFrom}
			   AND SLS_YMD <= #{slsYmdTo}
			   AND SLS_SN = #{slsSn}
		]]>
    </update>
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsUntprc			-->
	<!-- DESC : 매출단가조회                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->
    <select id="selectSlsUntprc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO" resultType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[   	
   		    SELECT
    			  pt0.*
    			, (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 						AS ITEM_NM
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)		AS SPCFCT_NM
    		 FROM (		
			    	SELECT /* com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsUntprc */
		    			SSUR.APC_CD				AS APC_CD,
		    			SSUR.SPMT_PCKG_UNIT_CD 	AS SPMT_PCKG_UNIT_CD,
		    			SPU.SPMT_PCKG_UNIT_NM 	AS SPMT_PCKG_UNIT_NM,
		    			SPU.ITEM_CD 			AS ITEM_CD,
		    			SPU.VRTY_CD 			AS VRTY_CD,
		    			SPU.SPCFCT_CD 			AS SPCFCT_CD,
		    			SPU.NTSL_UNTPRC 		AS NTSL_UNTPRC,
		    			SPU.DEL_YN 				AS DEL_YN,
		    			SPU.RMRK 				AS RMRK,
		    			SPU.BRND_NM 			AS BRND_NM,
		    			SSUR.APLCN_CRTR_YMD 	AS APLCN_CRTR_YMD,
		    			SSUR.SPMT_SLS_UNTPRC_CD AS SPMT_SLS_UNTPRC_CD
		    		FROM TB_SPMT_PCKG_UNIT SPU 
		    			LEFT JOIN TB_SPMT_SLS_UNTPRC_REG SSUR
		    			ON SSUR.SPMT_PCKG_UNIT_CD = SPU.SPMT_PCKG_UNIT_CD
		    		WHERE SSUR.DEL_YN = 'N'
	    			
		]]>
    			<if test='apcCd != null and apcCd != ""'>
		   			AND SPU.APC_CD = #{apcCd}
				</if>
				<if test='aplcnCrtrYmdFrom != null and apcCd != ""'>
		    		AND SSUR.APLCN_CRTR_YMD <![CDATA[>=]]> #{aplcnCrtrYmdFrom}
				</if>
				<if test='aplcnCrtrYmdTo != null and apcCd != ""'>
	    			AND SSUR.APLCN_CRTR_YMD <![CDATA[<=]]> #{aplcnCrtrYmdTo}
				</if>
				<if test='itemCd != null and apcCd != ""'>
		    		AND SPU.ITEM_CD = #{itemCd}
				</if>
				<if test='vrtyCd != null and apcCd != ""'>
		    		AND SPU.VRTY_CD = #{vrtyCd}	
				</if>	
				<![CDATA[
		    		  ) pt0
				]]>
									
    
    </select>
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsUntprc  	-->
	<!-- DESC : 매출단가삭제	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
    <update id="deleteSlsUntprc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
	    	UPDATE  /*com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsUntprc*/
				TB_SPMT_SLS_UNTPRC_REG	    	
	    	SET DEL_YN = 'Y'
	    		, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}	    		
	    	WHERE APC_CD = #{apcCd}
    		AND SPMT_PCKG_UNIT_CD = #{spmtPckgUnitCd}
    		AND SPMT_SLS_UNTPRC_CD = #{spmtSlsUntprcCd}
		]]>			
    </update>
    

  
  
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSpmtPckgUnitCd  	-->
	<!-- DESC : 매출단가변경	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
    <update id="updateSpmtPckgUnitCd" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
	    	UPDATE /*com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSpmtPckgUnitCd*/	
	    		TB_SPMT_PCKG_UNIT 
    		SET NTSL_UNTPRC = #{ntslUntprc}
    			, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
    		WHERE APC_CD = #{apcCd}
    			AND SPMT_PCKG_UNIT_CD = #{spmtPckgUnitCd}
	    		AND ITEM_CD = #{itemCd}
	    	
	    			    			
		]]>			
    </update>
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSpmtSlsUntprcReg  	-->
	<!-- DESC : 매출단가변경	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
    <update id="updateSpmtSlsUntprcReg" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
	    	UPDATE /*com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSpmtSlsUntprcReg*/
	    		TB_SPMT_SLS_UNTPRC_REG 
    		SET APLCN_CRTR_YMD = #{aplcnCrtrYmd}
    			, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
    		WHERE APC_CD = #{apcCd}
    		AND SPMT_PCKG_UNIT_CD = #{spmtPckgUnitCd}
    		AND SPMT_SLS_UNTPRC_CD = #{spmtSlsUntprcCd}
	    			    			
		]]>			
    </update>
	
</mapper>


