<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.at.apcss.am.spmt.mapper.SlsMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsPrfmnc			-->
	<!-- DESC : 매출실적조회                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->
    <select id="selectSlsPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO" resultType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
    		SELECT
    			  pt0.*
    			, (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 						AS ITEM_NM
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_PRDCR_NM(pt0.PRDCR_CD, pt0.APC_CD) FROM DUAL)						AS PRDCR_NM
    		 FROM (	
		    		SELECT	/* com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsPrfmnc */
					     SPD.APC_CD		AS APC_CD
					    ,SPD.PRDCR_CD 	AS PRDCR_CD
					    ,SP.SLS_YMD		AS SLS_YMD
					    ,SP.ITEM_CD 	AS ITEM_CD
					    ,SP.VRTY_CD 	AS VRTY_CD
					    ,SP.BRND_NM		AS BRND_NM
					    ,SP.SPMT_YMD	AS SPMT_YMD
					    ,SP.QNTT		AS QNTT
					    ,SP.WGHT		AS WGHT
					    ,SP.SLS_UNTPRC 	AS SLS_UNTPRC
					    ,SP.RKNG_AMT	AS RKNG_AMT
					    ,SP.CFMTN_AMT 	AS CFMTN_AMT
					    ,SP.SPMTNO		AS SPMTNO
					    ,SP.SLS_SN 		AS SLS_SN
					FROM TB_SPMT_PRFMNC_DTL SPD 
					LEFT JOIN TB_SLS_PRFMNC SP
					ON SPD.APC_CD = SP.APC_CD
					AND SPD.SPMTNO = SP.SPMTNO
					WHERE SP.DEL_YN = 'N'
		]]>
				<if test='apcCd != null and apcCd != ""'>
	   				AND SPD.APC_CD = #{apcCd}
				</if>
				<if test='slsYmdFrom != null and apcCd != ""'>
		    		AND SP.SLS_YMD <![CDATA[>=]]> #{slsYmdFrom}
				</if>
				<if test='slsYmdTo != null and apcCd != ""'>
	    			AND SP.SLS_YMD <![CDATA[<=]]> #{slsYmdTo}
				</if>
				<if test='itemCd != null and apcCd != ""'>
	    			AND SP.ITEM_CD = #{itemCd}
				</if>
				<if test='prdcrCd != null and prdcrCd != ""'>
					AND SPD.PRDCR_CD = #{prdcrCd}
				</if>
				<![CDATA[
		    		  ) pt0
				]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsPrfmnc  	-->
	<!-- DESC : 매출실적삭제	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
    <update id="deleteSlsPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsPrfmnc */
	    	  TB_SLS_PRFMNC SET
				DEL_YN = 'Y'
				, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}

			 WHERE APC_CD = #{apcCd}
			   AND SLS_YMD >= #{slsYmdFrom}
			   AND SLS_YMD <= #{slsYmdTo}
			   AND SLS_SN = #{slsSn}
		]]>
    </update>
	
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSlsPrfmnc  	-->
	<!-- DESC : 매출실적변경	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
    <update id="updateSlsPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSlsPrfmnc */
	    	  TB_SLS_PRFMNC SET
				 ITEM_CD = #{itemCd}
				, VRTY_CD = #{vrtyCd}
				, QNTT = #{qntt}
				, WGHT = #{wght}
				, RKNG_AMT = #{rkngAmt}
				, CFMTN_AMT = #{cfmtnAmt}
				, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}

			 WHERE APC_CD = #{apcCd}
			   AND SLS_YMD >= #{slsYmdFrom}
			   AND SLS_YMD <= #{slsYmdTo}
			   AND SLS_SN = #{slsSn}
		]]>
    </update>
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsUntprc			-->
	<!-- DESC : 매출단가조회                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->
    <select id="selectSlsUntprc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO" resultType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
			    SELECT
					  pt0.*
					, (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 						AS ITEM_NM
					, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
					, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)		AS SPCFCT_NM
				 FROM (
						SELECT /* com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsUntprc */
							SPU.APC_CD					AS APC_CD,
							SPU.SPMT_PCKG_UNIT_CD 		AS SPMT_PCKG_UNIT_CD,
							SPU.SPMT_PCKG_UNIT_NM 		AS SPMT_PCKG_UNIT_NM,
							SPU.ITEM_CD 				AS ITEM_CD,
							SPU.VRTY_CD 				AS VRTY_CD,
							SPU.SPCFCT_CD 				AS SPCFCT_CD,
							SPU.NTSL_UNTPRC 			AS NTSL_UNTPRC,
							SPU.DEL_YN 					AS DEL_YN,
							SPU.GDS_GRD					AS GDS_GRD,
							SPU.BRND_NM 				AS BRND_NM,
							SSUR.APLCN_CRTR_YMD 		AS APLCN_CRTR_YMD,
							SSUR.SPMT_SLS_UNTPRC 		AS SPMT_SLS_UNTPRC,
							SSUR.RMRK					AS RMRK
						FROM TB_SPMT_PCKG_UNIT SPU
							LEFT JOIN TB_SPMT_SLS_UNTPRC_REG SSUR
							ON SSUR.SPMT_PCKG_UNIT_CD = SPU.SPMT_PCKG_UNIT_CD
							AND SSUR.APC_CD = SPU.APC_CD
						WHERE SPU.DEL_YN = 'N'
						    AND SSUR.DEL_YN = 'N'

			]]>
				<if test='apcCd != null and apcCd != ""'>
					AND SPU.APC_CD = #{apcCd}
				</if>
				<if test='aplcnCrtrYmd != null and aplcnCrtrYmd != ""'>
					AND  SSUR.APLCN_CRTR_YMD = #{aplcnCrtrYmd}
				</if>
				<if test='itemCd != null and itemCd != ""'>
					AND  SPU.ITEM_CD = #{itemCd}
				</if>
				<if test='vrtyCd != null and vrtyCd != ""'>
					AND  SPU.VRTY_CD = #{vrtyCd}
				</if>
				<if test='gdsNm != null and gdsNm != ""'>
					AND  SPU.SPMT_PCKG_UNIT_NM LIKE '%'||#{gdsNm}||'%'
				</if>
		<![CDATA[
		    		  ) pt0
			]]>


	</select>
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsUntprc  	-->
	<!-- DESC : 매출단가 삭제	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
    <update id="deleteSlsUntprc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
	    	UPDATE  /*com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsUntprc*/
				TB_SPMT_SLS_UNTPRC_REG	    	
	    	SET DEL_YN = 'Y'
	    		, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}	    		
	    	WHERE APC_CD = #{apcCd}
    		AND SPMT_PCKG_UNIT_CD = #{spmtPckgUnitCd}
    		AND SPMT_SLS_UNTPRC_CD = #{spmtSlsUntprcCd}
		]]>			
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsUntprcDtl			-->
	<!-- DESC : 매출단가상세조회 			                      	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->
	<select id="selectSlsUntprcDtl" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO" resultType="com.at.apcss.am.spmt.vo.SlsMngVO">
		<![CDATA[

						SELECT /* com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsUntprcDtl */
							SSUR.APC_CD					AS APC_CD
							,SSUR.SPMT_PCKG_UNIT_CD 	AS SPMT_PCKG_UNIT_CD
							,SSUR.SPMT_SLS_UNTPRC_CD	AS SPMT_SLS_UNTPRC_CD
							,SSUR.SPMT_SLS_UNTPRC		AS SPMT_SLS_UNTPRC
							,SSUR.RMRK					AS RMRK
							,SSUR.DEL_YN				AS DEL_YN
							,SSUR.APLCN_CRTR_YMD 		AS APLCN_CRTR_YMD
						FROM
						     TB_SPMT_SLS_UNTPRC_REG SSUR
							LEFT JOIN TB_SPMT_PCKG_UNIT SPU
							ON SSUR.SPMT_PCKG_UNIT_CD = SPU.SPMT_PCKG_UNIT_CD
						    AND SSUR.APC_CD = SPU.APC_CD
						WHERE SPU.DEL_YN = 'N'
						  AND SSUR.DEL_YN = 'N'

			]]>
					<if test='apcCd != null and apcCd != ""'>
						AND SSUR.APC_CD = #{apcCd}
					</if>
					<if test='itemCd != null and itemCd != ""'>
						AND SPU.ITEM_CD = #{itemCd}
					</if>
					<if test='vrtyCd != null and vrtyCd != ""'>
						AND SPU.VRTY_CD = #{vrtyCd}
					</if>
					<if test='spcfctCd != null and spcfctCd != ""'>
						AND SPU.SPCFCT_CD = #{spcfctCd}
					</if>
	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSlsUntprc			-->
	<!-- DESC : 매출단가 변경			                      	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->

	<update id="updateSlsUntprc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
		<![CDATA[
			UPDATE
				TB_SPMT_SLS_UNTPRC_REG
			SET
			    SPMT_SLS_UNTPRC = #{spmtSlsUntprc}
				,RMRK = #{rmrk}
				,APLCN_CRTR_YMD = #{aplcnCrtrYmd}
			  	,SYS_LAST_CHG_DT = SYSDATE
				,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
			WHERE
			    APC_CD = #{apcCd}
				AND SPMT_PCKG_UNIT_CD = #{spmtPckgUnitCd}
				AND SPMT_SLS_UNTPRC_CD = #{spmtSlsUntprcCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.insertSlsUntprc			-->
	<!-- DESC : 매출단가 등록			                      	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->

	<insert id="insertSlsUntprc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
		<![CDATA[
			INSERT INTO
			    TB_SPMT_SLS_UNTPRC_REG
				(
					APC_CD
					,SPMT_PCKG_UNIT_CD
					,SPMT_SLS_UNTPRC_CD
					,SPMT_SLS_UNTPRC
					,RMRK
					,SYS_FRST_INPT_DT
					,SYS_FRST_INPT_USER_ID
					,SYS_FRST_INPT_PRGRM_ID
					,SYS_LAST_CHG_DT
					,SYS_LAST_CHG_USER_ID
					,SYS_LAST_CHG_PRGRM_ID
					,APLCN_CRTR_YMD
				)
				VALUES (
				        #{apcCd}
				        ,#{spmtPckgUnitCd}
				        ,(SELECT FN_GET_ID_SPMT_SLS_UNTPRC_CD(#{apcCd}) FROM DUAL)
				        ,#{spmtSlsUntprc}
				        ,#{rmrk}
				        ,SYSDATE
				        ,#{sysFrstInptUserId}
				        ,#{sysFrstInptPrgrmId}
				        ,SYSDATE
				        ,#{sysLastChgUserId}
				        ,#{sysLastChgPrgrmId}
				        ,#{aplcnCrtrYmd}
					   )
		]]>
	</insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsCrtr				-->
	<!-- DESC : 매출 기준 조회 			                      	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->
	<select id="selectSlsCrtr" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO" resultType="com.at.apcss.am.spmt.vo.SlsMngVO">
		<![CDATA[
			SELECT
			    APC_CD
				,SLS_CRTR_TYPE
				,CRTR_CD
				,CRTR_VL
				,CRTR_INDCT_NM
				,INDCT_SEQ
				,USE_YN
				,DEL_YN
			FROM
			    TB_SLS_CRTR
			WHERE DEL_YN = 'N'
		]]>
			<if test='apcCd != null and apcCd != ""'>
				AND APC_CD = #{apcCd}
			</if>
			<if test='slsCrtrType != null and slsCrtrType != ""'>
				AND SLS_CRTR_TYPE = #{slsCrtrType}
			</if>

	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsCrtrDtl			-->
	<!-- DESC : 매출 기준 상세 조회 			                      	             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->

	<select id="selectSlsCrtrDtl" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO" resultType="com.at.apcss.am.spmt.vo.SlsMngVO">
		<![CDATA[
			SELECT
			    APC_CD
				,SLS_CRTR_TYPE
				,CRTR_CD
				,DTL_SN
			    ,DTL_CD
			    ,DTL_VL
			    ,DTL_CHR_VL
			    ,DTL_INDCT_NM
			    ,INDCT_SEQ
				,INDCT_SEQ
				,USE_YN
				,DEL_YN
			FROM
			    TB_SLS_CRTR_DTL
			WHERE DEL_YN = 'N'
		]]>
		<if test='apcCd != null and apcCd != ""'>
			AND APC_CD = #{apcCd}
		</if>
		<if test='slsCrtrType != null and slsCrtrType != ""'>
			AND SLS_CRTR_TYPE = #{slsCrtrType}
		</if>
		<if test='crtrCd != null and crtrCd != ""'>
			AND CRTR_CD = #{crtrCd}
		</if>


	</select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.insertSlsCrtr  			-->
	<!-- DESC : 매출 기준 등록	                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->

	<insert id="insertSlsCrtr" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
		<![CDATA[
			INSERT INTO
				TB_SLS_CRTR(
				    APC_CD
				    ,SLS_CRTR_TYPE
				    ,CRTR_CD
				    ,CRTR_VL
				    ,CRTR_INDCT_NM
				    ,INDCT_SEQ
				    ,USE_YN
				    ,DEL_YN
				    ,SYS_FRST_INPT_DT
				    ,SYS_FRST_INPT_USER_ID
				    ,SYS_FRST_INPT_PRGRM_ID
				    ,SYS_LAST_CHG_DT
				    ,SYS_LAST_CHG_USER_ID
				    ,SYS_LAST_CHG_PRGRM_ID
			) VALUES (
					#{apcCd}
					,#{slsCrtrType}
					,#{crtrCd}
					,#{crtrVl}
					,#{crtrIndctNm}
					,#{indctSeq}
					,#{useYn}
					,'N'
					,SYSDATE
					,#{sysFrstInptUserId}
					,#{sysFrstInptPrgrmId}
					,SYSDATE
					,#{sysLastChgUserId}
					,#{sysLastChgPrgrmId}
		 	)
		]]>
	</insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.updateSlsCrtr  			-->
	<!-- DESC : 매출 기준 변경	                                             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->

	<update id="updateSlsCrtr" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
		<![CDATA[
		    UPDATE
		    	TB_SLS_CRTR
		    SET
		        CRTR_VL = #{crtrVl}
		    	,CRTR_INDCT_NM = #{crtrIndctNm}
		      	,INDCT_SEQ = #{indctSeq}
		    	,USE_YN = #{useYn}
		    	,SYS_LAST_CHG_DT = SYSDATE
			  	,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
			  	,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
		    WHERE
		        APC_CD = #{apcCd}
		    	AND SLS_CRTR_TYPE = #{slsCrtrType}
		    	AND CRTR_CD =#{crtrCd}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.insertSlsCrtrDtl  			-->
	<!-- DESC : 매출 기준 상세 등록	                                             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
	<insert id="insertSlsCrtrDtl" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
		<![CDATA[
		INSERT INTO
			TB_SLS_CRTR_DTL(
						APC_CD
					   ,SLS_CRTR_TYPE
					   ,CRTR_CD
					   ,DTL_SN
					   ,DTL_CD
					   ,DTL_VL
					   ,DTL_CHR_VL
					   ,DTL_INDCT_NM
					   ,INDCT_SEQ
					   ,USE_YN
					   ,DEL_YN
					   ,SYS_FRST_INPT_DT
					   ,SYS_FRST_INPT_USER_ID
					   ,SYS_FRST_INPT_PRGRM_ID
					   ,SYS_LAST_CHG_DT
					   ,SYS_LAST_CHG_USER_ID
					   ,SYS_LAST_CHG_PRGRM_ID
		) VALUES (
				  #{apcCd}
				 ,#{slsCrtrType}
				 ,#{crtrCd}
				 ,(SELECT COALESCE(MAX(DTL_SN),0) +1
				   FROM TB_SLS_CRTR_DTL
				   WHERE APC_CD = #{apcCd}
					 AND SLS_CRTR_TYPE = #{slsCrtrType}
					 AND CRTR_CD = #{crtrCd}
				  )
				 ,#{dtlCd}
				 ,#{dtlVl}
				 ,#{dtlChrVl}
				 ,#{dtlIndctNm}
				 ,#{indctSeq}
				 ,#{useYn}
				 ,'N'
				 ,SYSDATE
				 ,#{sysFrstInptUserId}
				 ,#{sysFrstInptPrgrmId}
				 ,SYSDATE
				 ,#{sysLastChgUserId}
				 ,#{sysLastChgPrgrmId}
				 )
		]]>
	</insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.insertSlsCrtrDtl  			-->
	<!-- DESC : 매출 기준 상세 수정	                                             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->

	<update id="updateSlsCrtrDtl" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
		UPDATE
			TB_SLS_CRTR_DTL
		SET
		    DTL_CD = #{dtlCd}
			,DTL_VL = #{dtlVl}
			,DTL_CHR_VL = #{dtlChrVl}
		  	,INDCT_SEQ = #{indctSeq}
			,USE_YN = #{useYn}
		  	,SYS_LAST_CHG_DT = SYSDATE
		  	,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
		  	,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
		WHERE
		    APC_CD = #{apcCd}
			AND SLS_CRTR_TYPE = #{slsCrtrType}
			AND CRTR_CD = #{crtrCd}
			AND DTL_SN = #{dtlSn}
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsCrtr  			-->
	<!-- DESC : 매출 기준 삭제		                                             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->

	<delete id="deleteSlsCrtr" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
		DELETE
		FROM
			TB_SLS_CRTR
		WHERE
			APC_CD = #{apcCd}
		  	AND SLS_CRTR_TYPE = #{slsCrtrType}
		  	AND CRTR_CD = #{crtrCd}
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsCrtrDtl  			-->
	<!-- DESC : 매출 기준 상세 삭제		                                            -->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->

	<update id="deleteSlsCrtrDtl" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
		UPDATE
			TB_SLS_CRTR_DTL
		SET
			DEL_YN = 'Y'
		  ,SYS_LAST_CHG_DT = SYSDATE
		  ,SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
		  ,SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}
		WHERE
			APC_CD = #{apcCd}
		  AND SLS_CRTR_TYPE = #{slsCrtrType}
		  AND CRTR_CD = #{crtrCd}
		  AND DTL_SN = #{dtlSn}
	</update>
</mapper>


