<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.at.apcss.am.spmt.mapper.SlsMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsPrfmnc			-->
	<!-- DESC : 매출실적조회                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                            -->
	<!-- ==========================================================================	-->
    <select id="selectSlsPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO" resultType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
    		SELECT	/* com.at.apcss.am.spmt.mapper.SlsMngMapper.selectSlsPrfmnc */
			    *
			  FROM TB_SLS_PRFMNC SP
			 WHERE SP.APC_CD 	= #{apcCd}
			   AND SP.SLS_YMD 	= #{slsYmd}
			   AND SP.DEL_YN = 'N'
		]]>
    </select>

		<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsPrfmnc  	-->
	<!-- DESC : 매출실적삭제	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!--                       -->
	<!-- ==========================================================================	-->
    <update id="deleteSlsPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SlsMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.spmt.mapper.SlsMngMapper.deleteSlsPrfmnc */
	    	  TB_SLS_PRFMNC SET
				DEL_YN = 'Y'
				, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}

			 WHERE APC_CD = #{apcCd}
			   AND SLS_YMD = #{slsYmd}
			   AND SLS_SN = #{slsSn}
		]]>
    </update>
	
</mapper>


