<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : SpmtCmndMapper.xml                                   				-->
<!-- DESC : 출하지시조회 mapper                   				                 	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.08.16  	하민우        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.spmt.mapper.SpmtCmndMapper">
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtCmndMapper.selectSpmtCmndList		-->
	<!-- DESC : 출하지시대상내역 목록 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.23  	정희운        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<select id="selectSpmtCmndTrgList" parameterType="com.at.apcss.am.ordr.vo.OrdrVO" resultType="com.at.apcss.am.ordr.vo.OrdrVO">
	   	<if test='pagingYn != null and pagingYn.equals("Y")'>
	  		SELECT
			  ROWNUM AS ROW_SEQ
			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
			, pt0.*
			,(SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)   		AS VRTY_NM
			,(SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)    	AS SPCFCT_NM
			,(SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)	AS GDS_NM
	  		 FROM (
	  	</if>
	  	<if test='pagingYn == null or pagingYn.equals("N")'>
	  		SELECT
	  			  pt0.*
			,(SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)   		AS VRTY_NM
			,(SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)    	AS SPCFCT_NM
			,(SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)	AS GDS_NM
	  		 FROM (
	  	</if>
			SELECT 
				OI.APC_CD    AS APC_CD
				,OI.APC_SE_CD    AS APC_SE_CD
				,OI.OUTORDRNO    AS OUTORDRNO
				,OI.RCPTN_SE_CD    AS RCPTN_SE_CD
				,OI.RCPTNNO    AS RCPTNNO
				,OI.RCPT_CFMTN_APC_CD    AS RCPT_CFMTN_APC_CD
				,OI.RCPT_CFMTN_YMD    AS RCPT_CFMTN_YMD
				,OI.PCKG_CMNDNO    AS PCKG_CMNDNO
				,OI.DOCNO    AS DOCNO
				,OI.CNPT_ORDRNO    AS CNPT_ORDRNO
				,OI.OUTORDR_TYPE    AS OUTORDR_TYPE
				,OI.WRHS_TYPE    AS WRHS_TYPE
				,OI.OUTORDR_YMD    AS OUTORDR_YMD
				,OI.OUTORDR_PRSN    AS OUTORDR_PRSN
				,OI.OUTORDR_PRSN_CD    AS OUTORDR_PRSN_CD
				,OI.DOCK_INFO    AS DOCK_INFO
				,OI.SPLY_PRSN    AS SPLY_PRSN
				,OI.GDS_CD    AS GDS_CD
				,OI.ITEM_CD    AS ITEM_CD
				,OI.VRTY_CD    AS VRTY_CD
				,OI.SPCFCT_CD    AS SPCFCT_CD
				,OI.TPND    AS TPND
				,OI.TPNB    AS TPNB
				,OI.DIAMONDLINE    AS DIAMONDLINE
				,OI.DLDTN    AS DLDTN
				,OI.BX_GDS_QNTT    AS BX_GDS_QNTT
				,OI.OUTORDR_QNTT    AS OUTORDR_QNTT
				,OI.PIECE_QNTT    AS PIECE_QNTT
				,OI.UNIT    AS UNIT
				,OI.BX_UNTPRC    AS BX_UNTPRC
				,OI.OUTORDR_UNTPRC    AS OUTORDR_UNTPRC
				,OI.OUTORDR_UNIT    AS OUTORDR_UNIT
				,OI.LOT    AS LOT
				,OI.TX_AMT    AS TX_AMT
				,OI.OUTORDR_AMT    AS OUTORDR_AMT
				,OI.DLDTN_CD    AS DLDTN_CD
				,OI.WRHS_YMD    AS WRHS_YMD
				,OI.DLVGDS_NM    AS DLVGDS_NM
				,OI.DLVGDS_CD    AS DLVGDS_CD
				,OI.APC_CNPT_NM    AS APC_CNPT_NM
				,OI.APC_CNPT_CD    AS APC_CNPT_CD
				,OI.CNTR_SE    AS CNTR_SE
				,OI.CNTR_RCVD_WRHS_YMD    AS CNTR_RCVD_WRHS_YMD
				,OI.CNTR_CD    AS CNTR_CD
				,OI.CNTR_NM    AS CNTR_NM
				,OI.DLVGDS_SE_CD    AS DLVGDS_SE_CD
				,OI.ETC    AS ETC
				,OI.DEL_YN    AS DEL_YN
				,OI.SYS_FRST_INPT_DT    AS SYS_FRST_INPT_DT
				,OI.SYS_FRST_INPT_USER_ID    AS SYS_FRST_INPT_USER_ID
				,OI.SYS_FRST_INPT_PRGRM_ID    AS SYS_FRST_INPT_PRGRM_ID
				,OI.SYS_LAST_CHG_DT    AS SYS_LAST_CHG_DT
				,OI.SYS_LAST_CHG_USER_ID    AS SYS_LAST_CHG_USER_ID
				,OI.SYS_LAST_CHG_PRGRM_ID    AS SYS_LAST_CHG_PRGRM_ID
				,OI.BUYER_NM    AS BUYER_NM
				,GI.SPMT_QNTT AS SPMT_QNTT
				,GI.INVNTR_QNTT AS INVNTR_QNTT
				,SC.CMND_QNTT AS CMND_QNTT
			FROM TB_OUTORDR_INFO OI
			LEFT OUTER JOIN 
				(SELECT APC_CD, ITEM_CD, VRTY_CD, SPCFCT_CD, SUM(SPMT_QNTT) AS SPMT_QNTT, SUM(SPMT_WGHT) AS SPMT_WGHT, SUM(INVNTR_QNTT) AS INVNTR_QNTT, SUM(INVNTR_WGHT) AS INVNTR_WGHT
				FROM TB_GDS_INVNTR
				<if test='warehouseSeCd != null and warehouseSeCd != ""'>
				   	   WHERE TB_GDS_INVNTR.WAREHOUSE_SE_CD >= #{warehouseSeCd}
				</if>				
				GROUP BY APC_CD, ITEM_CD, VRTY_CD, SPCFCT_CD) GI
			ON GI.APC_CD = OI.APC_CD
			AND GI.ITEM_CD = OI.ITEM_CD
			AND GI.VRTY_CD = OI.VRTY_CD
			AND GI.SPCFCT_CD = OI.SPCFCT_CD
			LEFT OUTER JOIN
				(SELECT APC_CD, OUTORDRNO, SUM(CMND_QNTT) AS CMND_QNTT
				FROM TB_SPMT_CMND
				GROUP BY APC_CD, OUTORDRNO) SC
			ON SC.APC_CD = OI.APC_CD
			AND SC.OUTORDRNO = OI.OUTORDRNO
			WHERE OI.APC_CD >= #{apcCd}
			AND NVL(GI.INVNTR_QNTT, 0) - NVL(SC.CMND_QNTT, 0) - NVL(GI.SPMT_QNTT, 0) > 0
		<if test='outordrYmdFrom != null and outordrYmdFrom != ""'>
		   	   AND OI.OUTORDR_YMD >= #{outordrYmdFrom}
		</if>
		<if test='outordrYmdTo != null and outordrYmdTo != ""'>
		       AND OI.OUTORDR_YMD <![CDATA[<=]]> #{outordrYmdTo}
		</if>
		<if test='itemCd != null and itemCd != ""'>
		       AND OI.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
		       AND OI.VRTY_CD = #{vrtyCd}
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
		       AND OI.SPCFCT_CD = #{spcfctCd}
		</if>
		<if test='pagingYn != null and pagingYn.equals("Y")'>
	   		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
	   	</if>
	   	<if test='pagingYn == null or pagingYn.equals("N")'>
	   		  ) pt0
	   	</if>
   	</select>

<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtCmndMapper.selectSpmtCmndList		-->
	<!-- DESC : 출하지시내역 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.25  	정희운        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSpmtCmndList2" parameterType="com.at.apcss.am.spmt.vo.SpmtCmndVO" resultType="com.at.apcss.am.spmt.vo.SpmtCmndVO">
    	<![CDATA[
			SELECT pt0.*  /* com.at.apcss.am.spmt.mapper.SpmtPrfmncMapper.selectSpmtPrfmnDtlcList */
		     , (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL) AS VRTY_NM
		     , (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL) AS SPCFCT_NM
		     , (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) AS GDS_GRD_NM
		     , (SELECT FN_GET_TRSPRT_CO_NM(pt0.TRSPRT_CO_CD, pt0.APC_CD) FROM DUAL) AS TRSPRT_CO_NM
		     , (SELECT FN_GET_SPMT_PCKG_UNIT_NM(pt0.SPMT_PCKG_UNIT_CD, pt0.APC_CD) FROM DUAL) AS SPMT_PCKG_UNIT_NM
		     FROM(
				SELECT /* com.at.apcss.am.spmt.mapper.SpmtCmndMapper.selectSpmtCmndList */
					SC.APC_CD    AS APC_CD
					,SC.SPMT_CMNDNO    AS SPMT_CMNDNO
					,MAX(SC.CMND_YMD)    AS CMND_YMD
					,SC.CNPT_CD    AS CNPT_CD
					,SC.DLDTN    AS DLDTN
					,MAX(SC.TRSPRT_CO_CD)    AS TRSPRT_CO_CD
					,SC.GDS_GRD    AS GDS_GRD
					,SUM(SC.CMND_QNTT)    AS CMND_QNTT
					,SUM(SC.CMND_WGHT)    AS CMND_WGHT
					,SC.SPMT_PCKG_UNIT_CD    AS SPMT_PCKG_UNIT_CD
					,MAX(SC.OUTORDRNO)    AS OUTORDRNO
					,SC.ITEM_CD    AS ITEM_CD
					,SC.VRTY_CD    AS VRTY_CD
					,SC.SPCFCT_CD    AS SPCFCT_CD
					,SC.GDS_CD    AS GDS_CD
					,SC.RMRK    AS RMRK
					,SC.DEL_YN    AS DEL_YN
					,MAX(CI.CNPT_NM)	AS CNPT_NM
			  FROM TB_SPMT_CMND SC
			  LEFT OUTER JOIN(
			  		SELECT APC_CD, CNPT_CD, CNPT_NM
			  		FROM TB_CNPT_INFO
			  		WHERE DEL_YN = 'N') CI
				ON CI.APC_CD = SC.APC_CD
				AND CI.CNPT_CD = SC.CNPT_CD
				WHERE SC.DEL_YN = 'N'
		]]>
		<if test='apcCd != null and apcCd != ""'>
		   	   AND SC.APC_CD >= #{apcCd}
		</if>
		<if test='cmndYmd != null and cmndYmd != ""'>
		   	   AND SC.CMND_YMD = #{cmndYmd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
		       AND SC.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
		       AND SC.VRTY_CD = #{vrtyCd}
		</if>
		<![CDATA[
 			 GROUP BY  SC.APC_CD
				, SC.SPMT_CMNDNO
				, SC.CNPT_CD
				, SC.DLDTN
				, SC.GDS_GRD
				, SC.SPMT_PCKG_UNIT_CD
				, SC.ITEM_CD
				, SC.VRTY_CD
				, SC.SPCFCT_CD
				, SC.GDS_CD
				, SC.RMRK
				, SC.DEL_YN
		 	) pt0
		]]>
    </select>
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtCmndMapper.selectSpmtCmndnoList		-->
	<!-- DESC : 출하지시번호 목록 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.09.04  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSpmtCmndnoList" parameterType="com.at.apcss.am.spmt.vo.SpmtCmndVO" resultType="com.at.apcss.am.spmt.vo.SpmtCmndVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		 	, (SELECT FN_GET_SPMT_PCKG_UNIT_NM(pt0.SPMT_PCKG_UNIT_CD, pt0.APC_CD) FROM DUAL) 	AS SPMT_PCKG_UNIT_NM
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)		AS SPCFCT_NM
	    		, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)							AS GDS_NM
		     	, (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) 					AS GDS_GRD_NM
		        , (SELECT FN_GET_TRSPRT_CO_NM(pt0.TRSPRT_CO_CD, pt0.APC_CD) FROM DUAL) 				AS TRSPRT_CO_NM
    		 FROM (
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
    		SELECT
    			  pt0.*
    		 	, (SELECT FN_GET_SPMT_PCKG_UNIT_NM(pt0.SPMT_PCKG_UNIT_CD, pt0.APC_CD) FROM DUAL) 	AS SPMT_PCKG_UNIT_NM
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)		AS SPCFCT_NM
	    		, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)							AS GDS_NM
		     	, (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) 					AS GDS_GRD_NM
		        , (SELECT FN_GET_TRSPRT_CO_NM(pt0.TRSPRT_CO_CD, pt0.APC_CD) FROM DUAL) 				AS TRSPRT_CO_NM
    		 FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.spmt.mapper.SpmtCmndMapper.selectSpmtCmndList */
	    		   SC.APC_CD						AS APC_CD
	    		 , SC.SPMT_CMNDNO					AS SPMT_CMNDNO
	    		 , MAX(SC.CMND_YMD)					AS CMND_YMD
	    		 , SC.SPMT_PCKG_UNIT_CD				AS SPMT_PCKG_UNIT_CD
	    		 , SC.ITEM_CD						AS ITEM_CD
	    		 , SC.VRTY_CD						AS VRTY_CD
	    		 , SC.SPCFCT_CD						AS SPCFCT_CD
	    		 , SC.GDS_CD						AS GDS_CD
	    		 , MAX(CI.CNPT_NM)				 	AS CNPT_NM
	    		 , CI.CNPT_CD						AS CNPT_CD
	    		 , SC.DLDTN							AS DLDTN
	    		 , MAX(SC.TRSPRT_CO_CD)				AS TRSPRT_CO_CD
	    		 , PC.VHCLNO						AS VHCLNO
	    		 , PC.TRSPRT_CST					AS TRSPRT_CST
	    		 , SC.GDS_GRD						AS GDS_GRD
	    		 , SUM(SC.CMND_QNTT)				AS CMND_QNTT
	    		 , SUM(SC.CMND_WGHT)				AS CMND_WGHT
			  FROM TB_SPMT_CMND 		SC
			  	 , TB_SPMT_PRFMNC_COM	PC
				 , TB_SPMT_PRFMNC_DTL	PD
				 , TB_CNPT_INFO			CI
			 WHERE SC.APC_CD = PC.APC_CD
			   AND SC.APC_CD = PD.APC_CD
			   AND SC.APC_CD = CI.APC_CD
			   AND SC.CNPT_CD = PC.CNPT_CD
			   AND SC.CNPT_CD = CI.CNPT_CD
			   AND SC.TRSPRT_CO_CD = PC.TRSPRT_CO_CD
			   AND SC.DLDTN = PC.DLDTN
			   AND SC.VRTY_CD = PD.VRTY_CD
			   AND SC.SPCFCT_CD = PD.SPCFCT_CD
			   AND SC.GDS_CD = PD.GDS_CD
			   AND SC.GDS_GRD = PD.GDS_GRD
			   AND SC.SPMT_CMNDNO = PD.SPMT_CMNDNO
			   AND SC.SPMT_PCKG_UNIT_CD = PD.SPMT_PCKG_UNIT_CD
			   AND SC.OUTORDRNO = PD.OUTORDRNO
			   AND PC.SPMTNO = PD.SPMTNO
			   AND SC.DEL_YN = 'N'
			   AND PC.DEL_YN = 'N'
			   AND PD.DEL_YN = 'N'
			   AND CI.DEL_YN = 'N'
		]]>
		<if test='apcCd != null and apcCd != ""'>
		   	   AND SC.APC_CD >= #{apcCd}
		</if>
		<if test='cmndYmd != null and cmndYmd != ""'>
		   	   AND SC.CMND_YMD = #{cmndYmd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
		       AND SC.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
		       AND SC.VRTY_CD = #{vrtyCd}
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
		       AND SC.SPCFCT_CD = #{spcfctCd}
		</if>
		<if test='spmtPckgUnitCd != null and spmtPckgUnitCd != ""'>
		       AND SC.SPMT_PCKG_UNIT_CD = #{spmtPckgUnitCd}
		</if>
		<![CDATA[
		 	 GROUP BY SC.APC_CD
	    		 	, SC.SPMT_CMNDNO
	    		 	, SC.CMND_YMD
	    		 	, SC.SPMT_PCKG_UNIT_CD
	    		 	, SC.ITEM_CD
	    		 	, SC.VRTY_CD
	    		 	, SC.SPCFCT_CD
	    		 	, SC.GDS_CD
	    		 	, CI.CNPT_NM
	    		 	, CI.CNPT_CD
	    		 	, SC.DLDTN
	    		 	, SC.TRSPRT_CO_CD
	    		 	, PC.VHCLNO
	    		 	, PC.TRSPRT_CST
	    		 	, SC.GDS_GRD
	    		 	, SC.CMND_QNTT
	    		 	, SC.CMND_WGHT
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
    		  ) pt0
    	</if>
    	<!-- End 페이징 -->
    </select>
    
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtCmndMapper.selectSpmtCmndList		-->
	<!-- DESC : 출하지시조회 목록 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.16  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSpmtCmndList" parameterType="com.at.apcss.am.spmt.vo.SpmtCmndVO" resultType="com.at.apcss.am.spmt.vo.SpmtCmndVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		 	, (SELECT FN_GET_SPMT_PCKG_UNIT_NM(pt0.SPMT_PCKG_UNIT_CD, pt0.APC_CD) FROM DUAL) 	AS SPMT_PCKG_UNIT_NM
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)		AS SPCFCT_NM
	    		, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)							AS GDS_NM
		     	, (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) 					AS GDS_GRD_NM
		        , (SELECT FN_GET_TRSPRT_CO_NM(pt0.TRSPRT_CO_CD, pt0.APC_CD) FROM DUAL) 				AS TRSPRT_CO_NM
    		 	, (SELECT FN_GET_CNPT_NM(pt0.CNPT_CD, pt0.APC_CD) FROM DUAL)						AS CNPT_NM
    		 FROM (
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
    		SELECT
    			  pt0.*
    		 	, (SELECT FN_GET_SPMT_PCKG_UNIT_NM(pt0.SPMT_PCKG_UNIT_CD, pt0.APC_CD) FROM DUAL) 	AS SPMT_PCKG_UNIT_NM
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)		AS SPCFCT_NM
	    		, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)							AS GDS_NM
		     	, (SELECT FN_GET_COM_CD_VL_NM('GDS_GRD', pt0.GDS_GRD) FROM DUAL) 					AS GDS_GRD_NM
		        , (SELECT FN_GET_TRSPRT_CO_NM(pt0.TRSPRT_CO_CD, pt0.APC_CD) FROM DUAL) 				AS TRSPRT_CO_NM
    		 	, (SELECT FN_GET_CNPT_NM(pt0.CNPT_CD, pt0.APC_CD) FROM DUAL)						AS CNPT_NM
    		 FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.spmt.mapper.SpmtCmndMapper.selectSpmtCmndList */
	    		   SC.APC_CD						AS APC_CD
				 , SC.SPMT_CMNDNO    				AS SPMT_CMNDNO
	    		 , MAX(SC.CMND_YMD)					AS CMND_YMD
	    		 , SC.SPMT_PCKG_UNIT_CD				AS SPMT_PCKG_UNIT_CD
	    		 , SC.ITEM_CD						AS ITEM_CD
	    		 , SC.VRTY_CD						AS VRTY_CD
	    		 , SC.SPCFCT_CD						AS SPCFCT_CD
	    		 , SC.GDS_CD						AS GDS_CD
	    		 , SC.CNPT_CD					 	AS CNPT_CD
	    		 , SC.DLDTN							AS DLDTN
	    		 , MAX(SC.TRSPRT_CO_CD)				AS TRSPRT_CO_CD
	    		 , SC.GDS_GRD						AS GDS_GRD
	    		 , SUM(SC.CMND_QNTT)				AS CMND_QNTT
	    		 , SUM(SC.CMND_WGHT)				AS CMND_WGHT
	    		 , SC.RMRK							AS RMRK
				 , MAX(SC.OUTORDRNO)    			AS OUTORDRNO
				 , SC.DEL_YN   						AS DEL_YN
			  FROM TB_SPMT_CMND SC
			  LEFT OUTER JOIN(
				  		SELECT APC_CD, CNPT_CD, CNPT_NM
				  		FROM TB_CNPT_INFO
				  		WHERE DEL_YN = 'N') CI
				ON CI.APC_CD = SC.APC_CD
			   AND CI.CNPT_CD = SC.CNPT_CD
			 WHERE SC.DEL_YN = 'N'
		]]>
		<if test='apcCd != null and apcCd != ""'>
		   	   AND SC.APC_CD >= #{apcCd}
		</if>
		<if test='cmndYmd != null and cmndYmd != ""'>
		   	   AND SC.CMND_YMD = #{cmndYmd}
		</if>
		<if test='cmndYmdFrom != null and cmndYmdFrom != ""'>
		   	   AND SC.CMND_YMD >= #{cmndYmdFrom}
		</if>
		<if test='cmndYmdTo != null and cmndYmdTo != ""'>
		       AND #{cmndYmdTo} >= SC.CMND_YMD
		</if>
		<if test='cnptNm != null and cnptNm != ""'>
		       AND CI.CNPT_NM LIKE '%' ||  #{cnptNm} || '%'
		</if>
		<if test='trsprtCoCd != null and trsprtCoCd != ""'>
		       AND SC.TRSPRT_CO_CD = #{trsprtCoCd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
		       AND SC.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
		       AND SC.VRTY_CD = #{vrtyCd}
		</if>
		<if test='spcfctCd != null and spcfctCd != ""'>
		       AND SC.SPCFCT_CD = #{spcfctCd}
		</if>
		<if test='spmtPckgUnitCd != null and spmtPckgUnitCd != ""'>
		       AND SC.SPMT_PCKG_UNIT_CD = #{spmtPckgUnitCd}
		</if>
		<![CDATA[
		 	 GROUP BY SC.SPMT_CMNDNO
		 	 		, SC.CMND_YMD
		 	 	    , SC.APC_CD
	    		 	, SC.SPMT_PCKG_UNIT_CD
	    		 	, SC.ITEM_CD
	    		 	, SC.VRTY_CD
	    		 	, SC.SPCFCT_CD
	    		 	, SC.GDS_CD
	    		 	, SC.CNPT_CD
	    		 	, SC.DLDTN
	    		 	, SC.TRSPRT_CO_CD
					, SC.OUTORDRNO
	    		 	, SC.GDS_GRD
	    		 	, SC.CMND_QNTT
	    		 	, SC.CMND_WGHT
	    		 	, SC.RMRK
				 	, SC.DEL_YN
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
    		  ) pt0
    	</if>
    	<!-- End 페이징 -->
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtCmndMapper.insertSpmtCmnd			-->
	<!-- DESC : 출하지시조회 목록 등록.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.16  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSpmtCmnd" parameterType="com.at.apcss.am.spmt.vo.SpmtCmndVO">
		<![CDATA[
		INSERT INTO TB_SPMT_CMND
			(
				APC_CD
			  , SPMT_CMNDNO
			  , SPMT_CMND_SN
			  , CMND_YMD
			  , CNPT_CD
			  , DLDTN
			  , TRSPRT_CO_CD
			  , GDS_GRD
			  , CMND_QNTT
			  , CMND_WGHT
			  , SPMT_PCKG_UNIT_CD
			  , OUTORDRNO
			  , ITEM_CD
			  , VRTY_CD
			  , SPCFCT_CD
			  , GDS_CD
			  , RMRK
			  , DEL_YN
			  , SYS_FRST_INPT_DT
			  , SYS_FRST_INPT_PRGRM_ID
			  , SYS_FRST_INPT_USER_ID
			  , SYS_LAST_CHG_DT
			  , SYS_LAST_CHG_USER_ID
			  , SYS_LAST_CHG_PRGRM_ID
			)
		VALUES
			(
				#{apcCd}
			  , #{spmtCmndno}
			  , #{spmtCmndSn}
			  , #{cmndYmd}
			  , #{cnptCd}
			  , #{dldtn}
			  , #{trsprtCoCd}
			  , #{gdsGrd}
			  , #{cmndQntt}
			  , #{cmndWght}
			  , #{spmtPckgUnitCd}
			  , #{outordrno}
			  , #{itemCd}
			  , #{vrtyCd}
			  , #{spcfctCd}
			  , #{gdsCd}
			  , #{rmrk}
			  , #{delYn}
			  , SYSDATE
			  , #{sysFrstInptPrgrmId}
			  , #{sysFrstInptUserId}
			  , SYSDATE
			  , #{sysLastChgUserId}
			  , #{sysLastChgPrgrmId}
			)
		]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtCmndMapper.updateSpmtCmnd			-->
	<!-- DESC : 출하지시조회 목록 수정.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.16  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateSpmtCmnd" parameterType="com.at.apcss.am.spmt.vo.SpmtCmndVO">
		<![CDATA[
		UPDATE TB_SPMT_CMND
		   SET SYS_LAST_CHG_DT 			= SYSDATE
    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
			 , TRSPRT_CO_NM				= #{trsprtCoNm}
    		 , CMND_YMD 				= #{cmndYmd}
    		 , CNPT_CD 					= #{cnptCd}
    		 , DLDTN 					= #{dldtn}
    		 , TRSPRT_CO_CD 			= #{trsprtCoCd}
		     , TRSPRT_CO_NM 			= #{trsprtCoNm}
    		 , GDS_GRD 					= #{gdsGrd}
    		 , CMND_QNTT 				= #{cmndQntt}
    		 , CMND_WGHT 				= #{cmndWght}
    		 , SPMT_PCKG_UNIT_CD 		= #{spmtPckgUnitCd}
    		 , ORDR_NO 					= #{ordrNo}
    		 , ITEM_CD 					= #{itemCd}
    		 , VRTY_CD 					= #{vrtyCd}
    		 , SPCFCT_CD 				= #{spcfctCd}
    		 , GDS_CD 					= #{gdsCd}
    		 , RMRK						= #{rmrk}
    		 , DEL_YN					= #{delYn}
		 WHERE APC_CD 					= #{apcCd}
		   AND SPMT_CMNDNO 				= #{spmtCmndNo}
		   AND SPMT_CMND_SN 			= #{spmtCmndSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtCmndMapper.deleteSpmtCmnd			-->
	<!-- DESC : 출하지시조회 목록 삭제.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.16  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteSpmtCmnd" parameterType="com.at.apcss.am.spmt.vo.SpmtCmndVO">
		<![CDATA[
		DELETE FROM TB_SPMT_CMND
		 WHERE APC_CD 					= #{apcCd}
		   AND SPMT_CMNDNO 				= #{spmtCmndNo}
		   AND SPMT_CMND_SN 			= #{spmtCmndSn}
		]]>
	</delete>
	
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtCmndMapper.deleteSpmtCmnd			-->
	<!-- DESC : 출하지시내역 삭제.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.25  	정희운        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteSpmtCmnd2" parameterType="com.at.apcss.am.spmt.vo.SpmtCmndVO">
		UPDATE TB_SPMT_CMND
		SET DEL_YN = 'Y'
		 WHERE APC_CD 					= #{apcCd}
		   AND SPMT_CMNDNO 				= #{spmtCmndno}
		   <if test='cnptCd != null and cnptCd != ""'>
		   		AND CNPT_CD 					= #{cnptCd}
	   		</if>
		   <if test='dldtn != null and dldtn != ""'>
		   		AND DLDTN 					= #{dldtn}
	   		</if>
		   <if test='gdsGrd != null and gdsGrd != ""'>
		   		AND GDS_GRD 					= #{gdsGrd}
	   		</if>
		   <if test='spmtPckgUnitCd != null and spmtPckgUnitCd != ""'>
		   		AND SPMT_PCKG_UNIT_CD 		= #{spmtPckgUnitCd}
	   		</if>
		   <if test='itemCd != null and itemCd != ""'>
		   		AND ITEM_CD 					= #{itemCd}
	   		</if>
		   <if test='vrtyCd != null and vrtyCd != ""'>
		   		AND VRTY_CD 					= #{vrtyCd}
	   		</if>
		   <if test='spcfctCd != null and spcfctCd != ""'>
		   		AND SPCFCT_CD 				= #{spcfctCd}
	   		</if>
		   <if test='gdsCd != null and gdsCd != ""'>
		   		AND GDS_CD 					= #{gdsCd}
	   		</if>
		   <if test='rmrk != null and rmrk != ""'>
		   		AND RMRK 					= #{rmrk}
	   		</if>
	   		AND DEL_YN 					= #{delYn}
	</delete>

</mapper>


