<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : SpmtPrfmncMapper.xml                                   				-->
<!-- DESC : 출하실적조회 mapper                   				                 	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.08.17  	하민우        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.spmt.mapper.SpmtPrfmncMapper">


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtPrfmncMapper.selectSpmtPrfmncList	-->
	<!-- DESC : 출하실적조회 목록 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.17  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSpmtPrfmncList" parameterType="com.at.apcss.am.spmt.vo.SpmtPrfmncVO" resultType="com.at.apcss.am.spmt.vo.SpmtPrfmncVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    			, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)						AS GDS_NM
    			, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)		AS VRTY_NM
    		 	, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)	AS SPCFCT_NM
    		 FROM (
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
    		SELECT
    			  pt0.*
    			, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)						AS GDS_NM
    			, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)		AS VRTY_NM
    		 	, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)	AS SPCFCT_NM
    		 FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.spmt.mapper.SpmtPrfmncMapper.selectSpmtPrfmncList */
	    		   PC.APC_CD						AS APC_CD
	    		 , PC.SPMT_YMD						AS SPMT_YMD
	    		 , PD.BRND_CD						AS BRND_CD
	    		 , PD.GDS_CD						AS GDS_CD
	    		 , VC.ITEM_CD						AS ITEM_CD
	    		 , VC.VRTY_CD						AS VRTY_CD
	    		 , SC.SPCFCT_CD						AS SPCFCT_CD
	    		 , (SELECT CI.CNPT_NM
	    		 	  FROM TB_CNPT_INFO CI
	    		 	 WHERE CI.APC_CD = PC.APC_CD
	    		 	   AND CI.CNPT_CD = PC.CNPT_CD
	    		 	   AND CI.DEL_YN = 'N')			AS CNPT_NM
	    		 , PC.DLDTN							AS DLDTN
	    		 , PC.TRSPRT_CO_NM					AS TRSPRT_CO_NM
	    		 , PC.VHCLNO						AS VHCLNO
	    		 , PC.TRSPRT_CST					AS TRSPRT_CST
	    		 , PD.SPMT_QNTT						AS SPMT_QNTT
	    		 , PD.SPMT_WGHT						AS SPMT_WGHT
			  FROM
				   TB_SPMT_PRFMNC_COM	PC
				 , TB_SPMT_PRFMNC_DTL	PD
				 , TB_APC_VRTY_CRTR		VC
				 , TB_APC_SPCFCT_CRTR	SC
				 , TB_GDS_INVNTR		GI
			 WHERE PC.APC_CD = PD.APC_CD
			   AND PC.APC_CD = VC.APC_CD
			   AND PC.APC_CD = SC.APC_CD
			   AND PC.APC_CD = GI.APC_CD
			   AND PC.SPMTNO = PD.SPMTNO
			   AND PD.VRTY_CD = VC.VRTY_CD
			   AND PD.VRTY_CD = GI.VRTY_CD
			   AND PD.SPCFCT_CD = SC.SPCFCT_CD
			   AND PD.SPCFCT_CD = GI.SPCFCT_CD
			   AND VC.ITEM_CD = SC.ITEM_CD
			   AND VC.ITEM_CD = GI.ITEM_CD
			   AND PD.PCKGNO = GI.PCKGNO
			   AND PD.PCKG_SN = GI.PCKG_SN
			   AND PD.SPMT_QNTT = GI.SPMT_QNTT
			   AND PD.SPMT_WGHT = GI.SPMT_WGHT
			   AND PC.APC_CD = #{apcCd}
			   AND PC.DEL_YN = 'N'
			   AND PD.DEL_YN = 'N'
			   AND VC.DEL_YN = 'N'
			   AND SC.DEL_YN = 'N'
		]]>
		<if test='spmtYmdFrom != null and spmtYmdFrom != ""'>
		   	   AND PC.SPMT_YMD >= #{spmtYmdFrom}
		</if>
		<if test='spmtYmdTo != null and spmtYmdTo != ""'>
		   	   AND #{spmtYmdTo} >= PC.SPMT_YMD
		</if>
		<if test='cnptCd != null and cnptCd != ""'>
		       AND PC.CNPT_CD = #{cnptCd}
		</if>
		<if test='trsprtCoCd != null and trsprtCoCd != ""'>
		       AND PC.TRSPRT_CO_CD = #{trsprtCoCd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
		       AND VC.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
		       AND VC.VRTY_CD = #{vrtyCd}
		</if>
		<if test='warehouseSeCd != null and warehouseSeCd != ""'>
		       AND GI.WAREHOUSE_SE_CD = #{warehouseSeCd}
		</if>
		<if test='dldtn != null and dldtn != ""'>
		       AND PC.DLDTN = #{dldtn}
		</if>
		<if test='vhclno != null and vhclno != ""'>
		       AND PC.VHCLNO = #{vhclno}
		</if>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<if test='pagingYn == null or pagingYn.equals("N")'>
    		  ) pt0
    	</if>
    	<!-- End 페이징 -->
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtPrfmncMapper.insertSpmtPrfmnc		-->
	<!-- DESC : 출하실적조회 목록 등록.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.17  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSpmtPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SpmtPrfmncVO">
    	<![CDATA[
    	INSERT INTO TB_SPMT_CMND
    		(
    			APC_CD
    		  , SPMT_CMNDNO
    		  , SPMT_CMND_SN
    		  , CMND_YMD
    		  , CNPT_CD
    		  , DLDTN
    		  , TRSPRT_CO_CD
		      , TRSPRT_CO_NM
    		  , GDS_GRD
    		  , CMND_QNTT
    		  , CMND_WGHT
    		  , PCKG_SE_CD
    		  , ORDR_NO
    		  , ITEM_CD
    		  , VRTY_CD
    		  , SPCFCT_CD
    		  , GDS_CD
    		  , RMRK
    		  , DEL_YN
    		  , SYS_FRST_INPT_DT
    		  , SYS_FRST_INPT_USER_ID
    		  , SYS_FRST_INPT_PRGRM_ID
    		  , SYS_LAST_CHG_DT
    		  , SYS_LAST_CHG_USER_ID
    		  , SYS_LAST_CHG_PRGRM_ID
    		)
   		VALUES
   			(
   				#{apcCd}
    		  , #{spmtCmndNo}
    		  , #{spmtCmndSn}
    		  , #{cmndYmd}
    		  , #{cnptCd}
    		  , #{dldtn}
    		  , #{trsprtCoCd}
    		  , #{trsprtCoNm}
    		  , #{gdsGrd}
    		  , #{cmndQntt}
    		  , #{cmndWght}
    		  , #{pckgSeCd}
    		  , #{ordrNo}
    		  , #{itemCd}
    		  , #{vrtyCd}
    		  , #{spcfctCd}
    		  , #{gdsCd}
    		  , #{rmrk}
    		  , #{delYn}
    		  , SYSDATE
    		  , #{sysFrstInptUserId}
    		  , #{sysFrstInptPrgrmId}
    		  , SYSDATE
    		  , #{sysLastChgUserId}
    		  , #{sysLastChgPrgrmId}
   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtPrfmncMapper.updateSpmtPrfmnc		-->
	<!-- DESC : 출하실적조회 목록 수정.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.17  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateSpmtPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SpmtPrfmncVO">
		<![CDATA[
		UPDATE TB_SPMT_CMND
		   SET SYS_LAST_CHG_DT 			= SYSDATE
    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
			 , TRSPRT_CO_NM				= #{trsprtCoNm}
    		  , CMND_YMD 				= #{cmndYmd}
    		  , CNPT_CD 				= #{cnptCd}
    		  , DLDTN 					= #{dldtn}
    		  , TRSPRT_CO_CD 			= #{trsprtCoCd}
		      , TRSPRT_CO_NM 			= #{trsprtCoNm}
    		  , GDS_GRD 				= #{gdsGrd}
    		  , CMND_QNTT 				= #{cmndQntt}
    		  , CMND_WGHT 				= #{cmndWght}
    		  , PCKG_SE_CD 				= #{pckgSeCd}
    		  , ORDR_NO 				= #{ordrNo}
    		  , ITEM_CD 				= #{itemCd}
    		  , VRTY_CD 				= #{vrtyCd}
    		  , SPCFCT_CD 				= #{spcfctCd}
    		  , GDS_CD 					= #{gdsCd}
    		 , RMRK						= #{rmrk}
    		 , DEL_YN					= #{delYn}
		 WHERE APC_CD 					= #{apcCd}
		   AND SPMT_CMNDNO 				= #{spmtCmndNo}
		   AND SPMT_CMND_SN 			= #{spmtCmndSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.SpmtPrfmncMapper.deleteSpmtPrfmnc		-->
	<!-- DESC : 출하실적조회 목록 삭제.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.17  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteSpmtPrfmnc" parameterType="com.at.apcss.am.spmt.vo.SpmtCmndVO">
		<![CDATA[
		DELETE FROM TB_SPMT_CMND
		 WHERE APC_CD 					= #{apcCd}
		   AND SPMT_CMNDNO 				= #{spmtCmndNo}
		   AND SPMT_CMND_SN 			= #{spmtCmndSn}
		]]>
	</delete>

</mapper>


