<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : asstMapper.xml                                   			-->
<!-- DESC : 집계 mapper                                             	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2024.10.08  	박승진       Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.spmt.mapper.SpmtPurSalCrtrInfoMapper">



	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.selectSpmtPusrSalCrtrInfoList  	-->
	<!-- DESC : 매출 기준 조회.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.10.08  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSpmtPusrSalCrtrInfoList" parameterType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO" resultType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.spmt.mapper.selectSpmtPusrSalCrtrInfoList */
				*
			  FROM TB_SLS_CRTR TC
			 WHERE TC.APC_CD = #{apcCd}
		]]>

	   	  <if test='slsCrtrType != null and slsCrtrType != ""'>
	   		AND TC.TB_SLS_CRTR = #{slsCrtrType}
		  </if>
		  ORDER BY TC.INDCT_SEQ
    </select>
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.selectSpmtPusrSalCrtrInfoList  	-->
	<!-- DESC : 매출 기준 조회.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.10.08  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSpmtPusrSalCrtrInfoDtlList" parameterType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO" resultType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO">
    	<![CDATA[
	    	SELECT /* com.at.apcss.am.spmt.mapper.selectSpmtPusrSalCrtrInfoDtlList */
				TCD.APC_CD
				, TCD.SLS_CRTR_TYPE
				, TCD.CRTR_CD
				, TCD.DTL_SN
				, TCD.DTL_CD
				, TCD.DTL_VL
				, TCD.DTL_CHR_VL
				, TCD.DTL_INDCT_NM
				, TCD.INDCT_SEQ
				, TCD.USE_YN
				, TCD.DEL_YN
				, (SELECT FN_GET_COM_CD_VL_NM('SLS_CRTR_TYPE',TCD.DTL_CD,'0000') FROM DUAL) AS DTL_NM
			  FROM TB_SLS_CRTR_DTL TCD
			 WHERE TCD.APC_CD = #{apcCd}
		]]>

	   	  <if test='slsCrtrType != null and slsCrtrType != ""'>
	   		AND TCD.TB_SLS_CRTR = #{slsCrtrType}
		  </if>
		  
		  <if test='crtrCd != null and crtrCd != ""'>
	   			AND TCD.CRTR_CD = #{crtrCd}
		  	</if>
		  
		  ORDER BY TCD.DTL_SN
    </select>

 	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.insertSlsCrtrInfo  	-->
	<!-- DESC : 매출 기준 등록.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.10.08  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSlsCrtrInfo" parameterType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.spmt.mapper.insertSlsCrtrInfo  */
	    	  INTO TB_SLS_CRTR (
				APC_CD
				, SLS_CRTR_TYPE
				, CRTR_CD
				, CRTR_VL
				, CRTR_INDCT_NM
				, INDCT_SEQ
				, USE_YN
				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_USER_ID
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_USER_ID
				, SYS_LAST_CHG_PRGRM_ID



	    	  ) VALUES (

				#{apcCd}
				, #{slsCrtrType}
				, #{crtrCd}
				, #{crtrVl}
				, #{crtrIndctNm}
	
				, #{indctSeq}
				, #{useYn}
				, #{delYn}
				, SYSDATE
				, #{sysFrstInptUserId}
				, #{sysFrstInptPrgrmId}
				, SYSDATE
				, #{sysLastChgUserId}
				, #{sysLastChgPrgrmId}
	    	  )
		]]>
    </insert>
 	

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.updateSlsCrtrInfo  	-->
	<!-- DESC : 매출 기준 수정.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.10.08  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateSlsCrtrInfo" parameterType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.spmt.mapper.updateSlsCrtrInfo */
	    	  TB_SLS_CRTR SET
				CRTR_VL = #{crtrVl}
				, CRTR_INDCT_NM = #{crtrIndctNm}
				
				, INDCT_SEQ = #{indctSeq}
				, USE_YN = #{useYn}
				, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}


			 WHERE APC_CD = #{apcCd}
			   AND SLS_CRTR_TYPE = #{slsCrtrType}
			   AND CRTR_CD = #{crtrCd}
		]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.insertSlsCrtrDtlInfo  	-->
	<!-- DESC : 매출 상세 기준 등록.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.10.08  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSlsCrtrDtlInfo" parameterType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.am.spmt.mapper.insertSlsCrtrDtlInfo  */
	    	  INTO TB_SLS_CRTR_DTL (
				APC_CD
				, SLS_CRTR_TYPE
				, CRTR_CD
				, DTL_SN
				, DTL_CD
				, DTL_VL
				, DTL_CHR_VL
				, DTL_INDCT_NM
				, INDCT_SEQ
				, USE_YN
				, DEL_YN
				, SYS_FRST_INPT_DT
				, SYS_FRST_INPT_USER_ID
				, SYS_FRST_INPT_PRGRM_ID
				, SYS_LAST_CHG_DT
				, SYS_LAST_CHG_USER_ID
				, SYS_LAST_CHG_PRGRM_ID


	    	  ) VALUES (
				#{apcCd}
				, #{slsCrtrType}
				, #{crtrCd}
				, (SELECT COALESCE(MAX(DTL_SN), 0) + 1 FROM TB_SLS_CRTR_DTL)
				, #{dtlCd}
				, #{dtlVl}
				, #{dtlChrVl}
				, #{dtlIndctNm}
				, #{indctSeq}
				, #{useYn}
				, #{delYn}
				, SYSDATE
				, #{sysFrstInptUserId}
				, #{sysFrstInptPrgrmId}
				, SYSDATE
				, #{sysLastChgUserId}
				, #{sysLastChgPrgrmId}
	    	  )
		]]>
    </insert>
	
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.updateSlsCrtrDtlInfo  	-->
	<!-- DESC : 매출 상세기준 수정.	                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.10.08  	박승진        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateSlsCrtrDtlInfo" parameterType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.updateSlsCrtrDtlInfo */
	    	  TB_SLS_CRTR_DTL SET
				DTL_CD = #{dtlCd}
				, DTL_VL = #{dtlVl}
				, DTL_INDCT_NM = #{dtlIndctNm}
				, DTL_CHR_VL = #{dtlChrVl}
				, INDCT_SEQ = #{indctSeq}
				, USE_YN = #{useYn}
				, SYS_LAST_CHG_DT = SYSDATE
				, SYS_LAST_CHG_USER_ID = #{sysLastChgUserId}
				, SYS_LAST_CHG_PRGRM_ID = #{sysLastChgPrgrmId}



			 WHERE APC_CD = #{apcCd}
			   AND SLS_CRTR_TYPE = #{slsCrtrType}
			   AND CRTR_CD = #{crtrCd}
			   AND DTL_SN = #{dtlSn}
		]]>
    </update>
    
    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.deleteSpmtPurSalCrtrInfo	-->
	<!-- DESC : 매출기준정보삭제	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.10.24  	박승진        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <delete id="deleteSpmtPurSalCrtrInfo" parameterType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.deleteSpmtPurSalCrtrInfo */
			  FROM TB_SLS_CRTR
			 WHERE APC_CD = #{apcCd}
			   AND SLS_CRTR_TYPE = #{slsCrtrType}
			   AND CRTR_CD = #{crtrCd}
		]]>
	</delete>
	
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.deleteSpmtPurSalCrtrDtlInfo -->
	<!-- DESC : 집계기준상세정보 삭제.	                                       					-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2024.10.24  	박승진        		Initial Creation                        -->
	<!-- ==========================================================================	-->
    <delete id="deleteSpmtPurSalCrtrDtlInfo" parameterType="com.at.apcss.am.spmt.vo.SpmtPurSalCrtrInfoVO">
		<![CDATA[
			DELETE /* com.at.apcss.am.spmt.mapper.spmtPurSalCrtrInfoMapper.deleteSpmtPurSalCrtrDtlInfo */
			  FROM TB_SLS_CRTR_DTL
			 WHERE APC_CD = #{apcCd}
			   AND SLS_CRTR_TYPE = #{slsCrtrType}
			   AND CRTR_CD = #{crtrCd}
			   AND DTL_SN = #{dtlSn}
		]]>
	</delete>
	
	
	
</mapper>
