/*select*/
.sbux-sel.sbux-sel-focus {
  border: 1px solid #307ea5;
}
.sbux-sel.sbux-sel-required {
  border: 1px solid #307ea5;
}
.sbux-sel-chk a.sbux-sel.sbux-sel-focus {
  border: 1px solid #307ea5;
}
.sbux-sel-chk a.sbux-sel.sbux-sel-required {
  border: 1px solid #307ea5;
}
.sbux-sel-form .sbux-sel-form-wrap.sbux-sel-required {
  border: 1px solid #307ea5;
}
.sbux-sel-form .sbux-sel-form-wrap.sbux-sel-focus {
  border: 1px solid #307ea5;
}
/*textarea*/
.sb-textarea.sbux-txa-focus,
.sbux-txa.sbux-txa-focus {
  border: 1px solid #307ea5;
}
span.sbux-pik-group {
  margin: 0px;
}
.sbux-mol-ft{
	display: none;
}
/* 사이트 상단 menu 리스트 숨김 처리 */
#sbux_idxTop_json > ul > li.sbux-ddl.sbux-meu-top-item-wrap.open > .sbux-ddl-menu{
	display:none;
}
.sbt-input-tab .tab-content {
  padding: 0px !important;
}
.content {
	padding: 0px !important;
}
.box-title{
	line-height: 30px !important;
}
.form-control[readonly]{
	background-color : #eee !important;;
}

select.form-control.input-sm.inpt_data_reqed {
	background-color:#FFF8DC !important;
}
.form-control[readonly].inpt_data_reqed{
	background-color:#FFF8DC !important;
}
.sbux-sel-form-wrap {
    margin-left: 4px !important;
    border-radius : 0px !important;
}
.sbux-sel-form-input{
	padding-right : 50px !important;
	padding-left : 5px !important;
	margin-left : 5px !important;
}
.sbux-sel-form .sbux-sel-form-list{
	margin-left: 4px !important;
	width: 98% !important;
}
.tab-pane iframe {
	overflow-x:hidden !important;
	overflow:auto;
	width:100%;
	min-height:780px;
	border:0px;
}
.sbmaps-panel text{
	font-size : 20px !important;
	fill : black !important;
}
nav.sbux-meu-wrap .sbux-meu-fluid .sbux-meu-hd-wrap .sbux-meu-brand img{
	margin-top : 0px !important;
}
nav.sbux-meu-wrap .sbux-meu-fluid{
	padding : 0px !important;
}
.sbgrid-ui-datepicker-year{
	color:black !important;
}
.sbgrid-ui-datepicker-month{
	color:black !important;
}
.sbgrid-ui-datepicker-title select{
	-webkit-appearance : auto !important;
	appearance: auto  !important;
}
.sbux-pik-pop-day .sbgrid_tree_ui {
	border-width: 0px !important;
}
.sbux-pik-pop-day > thead > tr > th{
	background-color : #149FFF !important;
}
.sbux-pik-pop-day > thead > tr > th.sbux-pik-dow{
	background-color : #fff !important;
	text-align: center !important;
}