/*select*/
.sbux-sel.sbux-sel-focus {
  border: 1px solid #307ea5;
}
.sbux-sel.sbux-sel-required {
  border: 1px solid #307ea5;
}
.sbux-sel-chk a.sbux-sel.sbux-sel-focus {
  border: 1px solid #307ea5;
}
.sbux-sel-chk a.sbux-sel.sbux-sel-required {
  border: 1px solid #307ea5;
}
.sbux-sel-form .sbux-sel-form-wrap.sbux-sel-required {
  border: 1px solid #307ea5;
}
.sbux-sel-form .sbux-sel-form-wrap.sbux-sel-focus {
  border: 1px solid #307ea5;
}
/*textarea*/
.sb-textarea.sbux-txa-focus,
.sbux-txa.sbux-txa-focus {
  border: 1px solid #307ea5;
}
span.sbux-pik-group {
  margin: 0px;
}
.sbux-mol-ft{
	display: none;
}
/* 사이트 상단 menu 리스트 숨김 처리 */
#sbux_idxTop_json > ul > li.sbux-ddl.sbux-meu-top-item-wrap.open > .sbux-ddl-menu{
	display:none;
}
.sbt-input-tab .tab-content {
  padding: 0px !important;
}
.content {
	padding: 0px !important;
}
.box-title{
	line-height: 30px !important;
}
.form-control[readonly]{
	background-color : #eee !important;;
}

select.form-control.input-sm.inpt_data_reqed {
	background-color:#FFF8DC !important;
}
.form-control[readonly].inpt_data_reqed{
	background-color:#FFF8DC !important;
}