<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : MobileApiMapper.xml                                    				-->
<!-- DESC : 모바일 입고 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.11.22  	joon        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.mobile.mapper.MobileApiMapper">
	<insert id="addRefreshToken" parameterType="map">
		<![CDATA[
			INSERT INTO TB_REFRESHTOKEN
			(USER_ID, TOKEN, EXPRY_DT, CRT_DT)
			values (#{USER_ID}, #{TOKEN}, #{EXPRY_DT}, SYSDATE)
		]]>
	</insert>
	
	<delete id="delRefreshToken" parameterType="java.lang.String">
		<![CDATA[
		DELETE FROM TB_REFRESHTOKEN
		WHERE USER_ID=#{USER_ID}
		]]>
	</delete>	
	
	<select id="findRefreshToken" parameterType="java.lang.String" resultType="map">
		<![CDATA[
			SELECT *
			FROM TB_REFRESHTOKEN
			WHERE USER_ID=#{USER_ID}
		]]>
	</select>

	<select id="getWrhsValuesForOneYearBySearchYmd" parameterType="map" resultType="map">
		<![CDATA[
			SELECT
				SUM(CASE RS.YM WHEN RS.T_0 THEN RS.QNTT ELSE 0 END) AS Q_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.QNTT ELSE 0 END) AS Q_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.QNTT ELSE 0 END) AS Q_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.QNTT ELSE 0 END) AS Q_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.QNTT ELSE 0 END) AS Q_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.QNTT ELSE 0 END) AS Q_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.QNTT ELSE 0 END) AS Q_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.QNTT ELSE 0 END) AS Q_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.QNTT ELSE 0 END) AS Q_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.QNTT ELSE 0 END) AS Q_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.QNTT ELSE 0 END) AS Q_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.QNTT ELSE 0 END) AS Q_11
				, SUM(CASE RS.YM WHEN RS.T_0 THEN RS.WGHT ELSE 0 END) AS W_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.WGHT ELSE 0 END) AS W_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.WGHT ELSE 0 END) AS W_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.WGHT ELSE 0 END) AS W_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.WGHT ELSE 0 END) AS W_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.WGHT ELSE 0 END) AS W_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.WGHT ELSE 0 END) AS W_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.WGHT ELSE 0 END) AS W_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.WGHT ELSE 0 END) AS W_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.WGHT ELSE 0 END) AS W_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.WGHT ELSE 0 END) AS W_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.WGHT ELSE 0 END) AS W_11
				, SUM(RS.QNTT) AS QNTT
				, SUM(RS.WGHT) AS WGHT
			FROM (
			SELECT
				SUBSTR(RP.WRHS_YMD, 1, 6) AS YM
				, SUM(RP.BX_QNTT)     AS QNTT
				, SUM(RP.WRHS_WGHT)    AS WGHT
				, TO_CHAR(DL.DT, 'YYYYMM')          AS T_0
				, TO_CHAR(ADD_MONTHS(DL.DT, -1), 'YYYYMM')   AS T_1
				, TO_CHAR(ADD_MONTHS(DL.DT, -2), 'YYYYMM')   AS T_2
				, TO_CHAR(ADD_MONTHS(DL.DT, -3), 'YYYYMM')   AS T_3
				, TO_CHAR(ADD_MONTHS(DL.DT, -4), 'YYYYMM')   AS T_4
				, TO_CHAR(ADD_MONTHS(DL.DT, -5), 'YYYYMM')   AS T_5
				, TO_CHAR(ADD_MONTHS(DL.DT, -6), 'YYYYMM')   AS T_6
				, TO_CHAR(ADD_MONTHS(DL.DT, -7), 'YYYYMM')   AS T_7
				, TO_CHAR(ADD_MONTHS(DL.DT, -8), 'YYYYMM')   AS T_8
				, TO_CHAR(ADD_MONTHS(DL.DT, -9), 'YYYYMM')   AS T_9
				, TO_CHAR(ADD_MONTHS(DL.DT, -10), 'YYYYMM')   AS T_10
				, TO_CHAR(ADD_MONTHS(DL.DT, -11), 'YYYYMM')   AS T_11
			FROM
				(SELECT TO_DATE(#{SEARCH_YMD}, 'YYYYMMDD')  AS DT FROM DUAL) DL,
				TB_RAW_MTR_WRHS_PRFMNC RP
				JOIN TB_RAW_MTR_INVNTR RI
					ON RI.APC_CD = RP.APC_CD
					AND RI.WRHSNO = RP.WRHSNO
					AND RI.DEL_YN = 'N'
					AND RI.PRCS_TYPE IS NULL
			WHERE 1=1
				AND RP.WRHS_YMD BETWEEN #{SEARCH_YMD_FROM} AND #{SEARCH_YMD_TO}
			GROUP BY SUBSTR(RP.WRHS_YMD, 1, 6)
			) RS
		]]>
	</select>

	<select id="getSortValuesForOneYearBySearchYmd" parameterType="map" resultType="map">
		<![CDATA[
			SELECT
				SUM(CASE RS.YM WHEN RS.T_0 THEN RS.QNTT ELSE 0 END) AS Q_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.QNTT ELSE 0 END) AS Q_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.QNTT ELSE 0 END) AS Q_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.QNTT ELSE 0 END) AS Q_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.QNTT ELSE 0 END) AS Q_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.QNTT ELSE 0 END) AS Q_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.QNTT ELSE 0 END) AS Q_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.QNTT ELSE 0 END) AS Q_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.QNTT ELSE 0 END) AS Q_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.QNTT ELSE 0 END) AS Q_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.QNTT ELSE 0 END) AS Q_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.QNTT ELSE 0 END) AS Q_11
				, SUM(CASE RS.YM WHEN RS.T_0 THEN RS.WGHT ELSE 0 END) AS W_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.WGHT ELSE 0 END) AS W_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.WGHT ELSE 0 END) AS W_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.WGHT ELSE 0 END) AS W_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.WGHT ELSE 0 END) AS W_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.WGHT ELSE 0 END) AS W_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.WGHT ELSE 0 END) AS W_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.WGHT ELSE 0 END) AS W_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.WGHT ELSE 0 END) AS W_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.WGHT ELSE 0 END) AS W_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.WGHT ELSE 0 END) AS W_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.WGHT ELSE 0 END) AS W_11
				, SUM(RS.QNTT) AS QNTT
				, SUM(RS.WGHT) AS WGHT
			FROM (
			SELECT
				SUBSTR(RP.INPT_YMD, 1, 6) AS YM
				, SUM(RP.SORT_QNTT)   AS QNTT
				, SUM(RP.SORT_WGHT)   AS WGHT
				, TO_CHAR(DL.DT, 'YYYYMM')          AS T_0
				, TO_CHAR(ADD_MONTHS(DL.DT, -1), 'YYYYMM')   AS T_1
				, TO_CHAR(ADD_MONTHS(DL.DT, -2), 'YYYYMM')   AS T_2
				, TO_CHAR(ADD_MONTHS(DL.DT, -3), 'YYYYMM')   AS T_3
				, TO_CHAR(ADD_MONTHS(DL.DT, -4), 'YYYYMM')   AS T_4
				, TO_CHAR(ADD_MONTHS(DL.DT, -5), 'YYYYMM')   AS T_5
				, TO_CHAR(ADD_MONTHS(DL.DT, -6), 'YYYYMM')   AS T_6
				, TO_CHAR(ADD_MONTHS(DL.DT, -7), 'YYYYMM')   AS T_7
				, TO_CHAR(ADD_MONTHS(DL.DT, -8), 'YYYYMM')   AS T_8
				, TO_CHAR(ADD_MONTHS(DL.DT, -9), 'YYYYMM')   AS T_9
				, TO_CHAR(ADD_MONTHS(DL.DT, -10), 'YYYYMM')   AS T_10
				, TO_CHAR(ADD_MONTHS(DL.DT, -11), 'YYYYMM')   AS T_11
			FROM
				(SELECT TO_DATE(#{SEARCH_YMD}, 'YYYYMMDD')  AS DT FROM DUAL) DL,
				TB_SORT_PRFMNC RP
				JOIN TB_SORT_INVNTR RI
					ON RI.APC_CD = RP.APC_CD
					AND RI.SORTNO = RP.SORTNO
					AND RI.SORT_SN = RP.SORT_SN
					AND RI.DEL_YN = 'N'
            WHERE 1=1
              	AND RP.INPT_YMD BETWEEN #{SEARCH_YMD_FROM} AND #{SEARCH_YMD_TO}
			GROUP BY SUBSTR(RP.INPT_YMD, 1, 6)
			) RS
		]]>
	</select>

	<select id="getSpmtValuesForOneYearBySearchYmd" parameterType="map" resultType="map">
		<![CDATA[
			SELECT
				SUM(CASE RS.YM WHEN RS.T_0 THEN RS.QNTT ELSE 0 END) AS Q_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.QNTT ELSE 0 END) AS Q_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.QNTT ELSE 0 END) AS Q_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.QNTT ELSE 0 END) AS Q_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.QNTT ELSE 0 END) AS Q_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.QNTT ELSE 0 END) AS Q_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.QNTT ELSE 0 END) AS Q_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.QNTT ELSE 0 END) AS Q_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.QNTT ELSE 0 END) AS Q_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.QNTT ELSE 0 END) AS Q_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.QNTT ELSE 0 END) AS Q_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.QNTT ELSE 0 END) AS Q_11
				, SUM(CASE RS.YM WHEN RS.T_0 THEN RS.WGHT ELSE 0 END) AS W_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.WGHT ELSE 0 END) AS W_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.WGHT ELSE 0 END) AS W_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.WGHT ELSE 0 END) AS W_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.WGHT ELSE 0 END) AS W_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.WGHT ELSE 0 END) AS W_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.WGHT ELSE 0 END) AS W_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.WGHT ELSE 0 END) AS W_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.WGHT ELSE 0 END) AS W_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.WGHT ELSE 0 END) AS W_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.WGHT ELSE 0 END) AS W_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.WGHT ELSE 0 END) AS W_11
				, SUM(RS.QNTT) AS QNTT
				, SUM(RS.WGHT) AS WGHT
			FROM (
			SELECT
				SUBSTR(RP.SPMT_YMD, 1, 6) AS YM
				, SUM(SD.SPMT_QNTT)   AS QNTT
				, SUM(SD.SPMT_WGHT)   AS WGHT
				, TO_CHAR(DL.DT, 'YYYYMM')          AS T_0
				, TO_CHAR(ADD_MONTHS(DL.DT, -1), 'YYYYMM')   AS T_1
				, TO_CHAR(ADD_MONTHS(DL.DT, -2), 'YYYYMM')   AS T_2
				, TO_CHAR(ADD_MONTHS(DL.DT, -3), 'YYYYMM')   AS T_3
				, TO_CHAR(ADD_MONTHS(DL.DT, -4), 'YYYYMM')   AS T_4
				, TO_CHAR(ADD_MONTHS(DL.DT, -5), 'YYYYMM')   AS T_5
				, TO_CHAR(ADD_MONTHS(DL.DT, -6), 'YYYYMM')   AS T_6
				, TO_CHAR(ADD_MONTHS(DL.DT, -7), 'YYYYMM')   AS T_7
				, TO_CHAR(ADD_MONTHS(DL.DT, -8), 'YYYYMM')   AS T_8
				, TO_CHAR(ADD_MONTHS(DL.DT, -9), 'YYYYMM')   AS T_9
				, TO_CHAR(ADD_MONTHS(DL.DT, -10), 'YYYYMM')   AS T_10
				, TO_CHAR(ADD_MONTHS(DL.DT, -11), 'YYYYMM')   AS T_11
			FROM
				(SELECT TO_DATE(#{SEARCH_YMD}, 'YYYYMMDD')  AS DT FROM DUAL) DL,
				TB_SPMT_PRFMNC_COM RP
				JOIN TB_SPMT_PRFMNC_DTL SD
					ON SD.APC_CD = RP.APC_CD
					AND SD.SPMTNO = RP.SPMTNO
					AND SD.DEL_YN = 'N'
				JOIN TB_GDS_INVNTR RI
					ON RI.APC_CD = SD.APC_CD
					AND RI.PCKGNO = SD.PCKGNO
					AND RI.PCKG_SN = SD.PCKG_SN
					AND RI.DEL_YN = 'N'
			WHERE 1=1
				AND RP.SPMT_YMD BETWEEN #{SEARCH_YMD_FROM} AND #{SEARCH_YMD_TO}
			GROUP BY SUBSTR(RP.SPMT_YMD, 1, 6)
			) RS
		]]>
	</select>

	<select id="getStatsForOneYearBySearchYmd" parameterType="map" resultType="map">
		<![CDATA[
			SELECT
				SUM(CASE RS.YM WHEN RS.T_0 THEN RS.QNTT ELSE 0 END) AS Q_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.QNTT ELSE 0 END) AS Q_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.QNTT ELSE 0 END) AS Q_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.QNTT ELSE 0 END) AS Q_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.QNTT ELSE 0 END) AS Q_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.QNTT ELSE 0 END) AS Q_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.QNTT ELSE 0 END) AS Q_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.QNTT ELSE 0 END) AS Q_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.QNTT ELSE 0 END) AS Q_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.QNTT ELSE 0 END) AS Q_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.QNTT ELSE 0 END) AS Q_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.QNTT ELSE 0 END) AS Q_11
				, SUM(CASE RS.YM WHEN RS.T_0 THEN RS.WGHT ELSE 0 END) AS W_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.WGHT ELSE 0 END) AS W_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.WGHT ELSE 0 END) AS W_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.WGHT ELSE 0 END) AS W_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.WGHT ELSE 0 END) AS W_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.WGHT ELSE 0 END) AS W_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.WGHT ELSE 0 END) AS W_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.WGHT ELSE 0 END) AS W_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.WGHT ELSE 0 END) AS W_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.WGHT ELSE 0 END) AS W_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.WGHT ELSE 0 END) AS W_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.WGHT ELSE 0 END) AS W_11
				, SUM(RS.QNTT) AS QNTT
				, SUM(RS.WGHT) AS WGHT
				, 'WRHS' AS RS_TYPE
			FROM (
			SELECT
				SUBSTR(RP.WRHS_YMD, 1, 6) AS YM
				, SUM(RP.BX_QNTT)     AS QNTT
				, SUM(RP.WRHS_WGHT)    AS WGHT
				, TO_CHAR(DL.DT, 'YYYYMM')          AS T_0
				, TO_CHAR(ADD_MONTHS(DL.DT, -1), 'YYYYMM')   AS T_1
				, TO_CHAR(ADD_MONTHS(DL.DT, -2), 'YYYYMM')   AS T_2
				, TO_CHAR(ADD_MONTHS(DL.DT, -3), 'YYYYMM')   AS T_3
				, TO_CHAR(ADD_MONTHS(DL.DT, -4), 'YYYYMM')   AS T_4
				, TO_CHAR(ADD_MONTHS(DL.DT, -5), 'YYYYMM')   AS T_5
				, TO_CHAR(ADD_MONTHS(DL.DT, -6), 'YYYYMM')   AS T_6
				, TO_CHAR(ADD_MONTHS(DL.DT, -7), 'YYYYMM')   AS T_7
				, TO_CHAR(ADD_MONTHS(DL.DT, -8), 'YYYYMM')   AS T_8
				, TO_CHAR(ADD_MONTHS(DL.DT, -9), 'YYYYMM')   AS T_9
				, TO_CHAR(ADD_MONTHS(DL.DT, -10), 'YYYYMM')   AS T_10
				, TO_CHAR(ADD_MONTHS(DL.DT, -11), 'YYYYMM')   AS T_11
			FROM
				(SELECT TO_DATE(#{SEARCH_YMD}, 'YYYYMMDD')  AS DT FROM DUAL) DL,
				TB_RAW_MTR_WRHS_PRFMNC RP
				JOIN TB_RAW_MTR_INVNTR RI
					ON RI.APC_CD = RP.APC_CD
					AND RI.WRHSNO = RP.WRHSNO
					AND RI.DEL_YN = 'N'
					AND RI.PRCS_TYPE IS NULL
			WHERE 1=1
				AND RP.WRHS_YMD BETWEEN #{SEARCH_YMD_FROM} AND #{SEARCH_YMD_TO}
			GROUP BY SUBSTR(RP.WRHS_YMD, 1, 6)
			) RS

			UNION ALL

			SELECT
				SUM(CASE RS.YM WHEN RS.T_0 THEN RS.QNTT ELSE 0 END) AS Q_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.QNTT ELSE 0 END) AS Q_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.QNTT ELSE 0 END) AS Q_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.QNTT ELSE 0 END) AS Q_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.QNTT ELSE 0 END) AS Q_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.QNTT ELSE 0 END) AS Q_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.QNTT ELSE 0 END) AS Q_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.QNTT ELSE 0 END) AS Q_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.QNTT ELSE 0 END) AS Q_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.QNTT ELSE 0 END) AS Q_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.QNTT ELSE 0 END) AS Q_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.QNTT ELSE 0 END) AS Q_11
				, SUM(CASE RS.YM WHEN RS.T_0 THEN RS.WGHT ELSE 0 END) AS W_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.WGHT ELSE 0 END) AS W_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.WGHT ELSE 0 END) AS W_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.WGHT ELSE 0 END) AS W_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.WGHT ELSE 0 END) AS W_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.WGHT ELSE 0 END) AS W_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.WGHT ELSE 0 END) AS W_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.WGHT ELSE 0 END) AS W_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.WGHT ELSE 0 END) AS W_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.WGHT ELSE 0 END) AS W_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.WGHT ELSE 0 END) AS W_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.WGHT ELSE 0 END) AS W_11
				, SUM(RS.QNTT) AS QNTT
				, SUM(RS.WGHT) AS WGHT
				, 'SORT' AS RS_TYPE
			FROM (
			SELECT
				SUBSTR(RP.INPT_YMD, 1, 6) AS YM
				, SUM(RP.SORT_QNTT)   AS QNTT
				, SUM(RP.SORT_WGHT)   AS WGHT
				, TO_CHAR(DL.DT, 'YYYYMM')          AS T_0
				, TO_CHAR(ADD_MONTHS(DL.DT, -1), 'YYYYMM')   AS T_1
				, TO_CHAR(ADD_MONTHS(DL.DT, -2), 'YYYYMM')   AS T_2
				, TO_CHAR(ADD_MONTHS(DL.DT, -3), 'YYYYMM')   AS T_3
				, TO_CHAR(ADD_MONTHS(DL.DT, -4), 'YYYYMM')   AS T_4
				, TO_CHAR(ADD_MONTHS(DL.DT, -5), 'YYYYMM')   AS T_5
				, TO_CHAR(ADD_MONTHS(DL.DT, -6), 'YYYYMM')   AS T_6
				, TO_CHAR(ADD_MONTHS(DL.DT, -7), 'YYYYMM')   AS T_7
				, TO_CHAR(ADD_MONTHS(DL.DT, -8), 'YYYYMM')   AS T_8
				, TO_CHAR(ADD_MONTHS(DL.DT, -9), 'YYYYMM')   AS T_9
				, TO_CHAR(ADD_MONTHS(DL.DT, -10), 'YYYYMM')   AS T_10
				, TO_CHAR(ADD_MONTHS(DL.DT, -11), 'YYYYMM')   AS T_11
			FROM
				(SELECT TO_DATE(#{SEARCH_YMD}, 'YYYYMMDD')  AS DT FROM DUAL) DL,
				TB_SORT_PRFMNC RP
				JOIN TB_SORT_INVNTR RI
					ON RI.APC_CD = RP.APC_CD
					AND RI.SORTNO = RP.SORTNO
					AND RI.SORT_SN = RP.SORT_SN
					AND RI.DEL_YN = 'N'
			WHERE 1=1
				AND RP.INPT_YMD BETWEEN #{SEARCH_YMD_FROM} AND #{SEARCH_YMD_TO}
			GROUP BY SUBSTR(RP.INPT_YMD, 1, 6)
			) RS

			UNION ALL

			SELECT
				SUM(CASE RS.YM WHEN RS.T_0 THEN RS.QNTT ELSE 0 END) AS Q_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.QNTT ELSE 0 END) AS Q_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.QNTT ELSE 0 END) AS Q_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.QNTT ELSE 0 END) AS Q_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.QNTT ELSE 0 END) AS Q_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.QNTT ELSE 0 END) AS Q_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.QNTT ELSE 0 END) AS Q_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.QNTT ELSE 0 END) AS Q_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.QNTT ELSE 0 END) AS Q_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.QNTT ELSE 0 END) AS Q_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.QNTT ELSE 0 END) AS Q_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.QNTT ELSE 0 END) AS Q_11
				, SUM(CASE RS.YM WHEN RS.T_0 THEN RS.WGHT ELSE 0 END) AS W_0
				, SUM(CASE RS.YM WHEN RS.T_1 THEN RS.WGHT ELSE 0 END) AS W_1
				, SUM(CASE RS.YM WHEN RS.T_2 THEN RS.WGHT ELSE 0 END) AS W_2
				, SUM(CASE RS.YM WHEN RS.T_3 THEN RS.WGHT ELSE 0 END) AS W_3
				, SUM(CASE RS.YM WHEN RS.T_4 THEN RS.WGHT ELSE 0 END) AS W_4
				, SUM(CASE RS.YM WHEN RS.T_5 THEN RS.WGHT ELSE 0 END) AS W_5
				, SUM(CASE RS.YM WHEN RS.T_6 THEN RS.WGHT ELSE 0 END) AS W_6
				, SUM(CASE RS.YM WHEN RS.T_7 THEN RS.WGHT ELSE 0 END) AS W_7
				, SUM(CASE RS.YM WHEN RS.T_8 THEN RS.WGHT ELSE 0 END) AS W_8
				, SUM(CASE RS.YM WHEN RS.T_9 THEN RS.WGHT ELSE 0 END) AS W_9
				, SUM(CASE RS.YM WHEN RS.T_10 THEN RS.WGHT ELSE 0 END) AS W_10
				, SUM(CASE RS.YM WHEN RS.T_11 THEN RS.WGHT ELSE 0 END) AS W_11
				, SUM(RS.QNTT) AS QNTT
				, SUM(RS.WGHT) AS WGHT
				, 'SPMT' AS RS_TYPE
			FROM (
			SELECT
				SUBSTR(RP.SPMT_YMD, 1, 6) AS YM
				, SUM(SD.SPMT_QNTT)   AS QNTT
				, SUM(SD.SPMT_WGHT)   AS WGHT
				, TO_CHAR(DL.DT, 'YYYYMM')          AS T_0
				, TO_CHAR(ADD_MONTHS(DL.DT, -1), 'YYYYMM')   AS T_1
				, TO_CHAR(ADD_MONTHS(DL.DT, -2), 'YYYYMM')   AS T_2
				, TO_CHAR(ADD_MONTHS(DL.DT, -3), 'YYYYMM')   AS T_3
				, TO_CHAR(ADD_MONTHS(DL.DT, -4), 'YYYYMM')   AS T_4
				, TO_CHAR(ADD_MONTHS(DL.DT, -5), 'YYYYMM')   AS T_5
				, TO_CHAR(ADD_MONTHS(DL.DT, -6), 'YYYYMM')   AS T_6
				, TO_CHAR(ADD_MONTHS(DL.DT, -7), 'YYYYMM')   AS T_7
				, TO_CHAR(ADD_MONTHS(DL.DT, -8), 'YYYYMM')   AS T_8
				, TO_CHAR(ADD_MONTHS(DL.DT, -9), 'YYYYMM')   AS T_9
				, TO_CHAR(ADD_MONTHS(DL.DT, -10), 'YYYYMM')   AS T_10
				, TO_CHAR(ADD_MONTHS(DL.DT, -11), 'YYYYMM')   AS T_11
			FROM
				(SELECT TO_DATE(#{SEARCH_YMD}, 'YYYYMMDD')  AS DT FROM DUAL) DL,
				TB_SPMT_PRFMNC_COM RP
				JOIN TB_SPMT_PRFMNC_DTL SD
					ON SD.APC_CD = RP.APC_CD
					AND SD.SPMTNO = RP.SPMTNO
					AND SD.DEL_YN = 'N'
				JOIN TB_GDS_INVNTR RI
					ON RI.APC_CD = SD.APC_CD
					AND RI.PCKGNO = SD.PCKGNO
					AND RI.PCKG_SN = SD.PCKG_SN
					AND RI.DEL_YN = 'N'
			WHERE 1=1
				AND RP.SPMT_YMD BETWEEN #{SEARCH_YMD_FROM} AND #{SEARCH_YMD_TO}
			GROUP BY SUBSTR(RP.SPMT_YMD, 1, 6)
			) RS
		]]>
	</select>

    <select id="getApcAgtStats" parameterType="map" resultType="map">
        <![CDATA[
            SELECT
                  TAAS.ID
                , (SELECT X.APC_NM FROM USRAM.TB_APC_INFO X WHERE X.APC_CD = TAAS.APC_CD) AS APC_NM
                , TAAS.APC_CD AS APC_CD
                , TAAS.NH_FLAG AS NH
                , TAAS.CX AS CX
                , TAAS.CY AS CY
                , TAAS.KINDS_WRHS AS KINDS_WRHS
                , TAAS.KINDS_SORT AS KINDS_SORT
                , TAAS.KINDS_SPMT AS KINDS_SPMT
                , TAAS.STATUS_IN AS STATUS_IN
                , TAAS.STATUS_SORT AS STATUS_SORT
                , TAAS.STATUS_OUT AS STATUS_OUT
                , TAAS.STATUS_STOCK AS STATUS_STOCK
                , TAAS.STATUS_FARM AS STATUS_FARM
                , TAAS.STATUS_SETTLE AS STATUS_SETTLE
                , TAAS.DEL_YN AS DEL_YN
                , TAAS.SYS_FRST_INPT_DT AS SYS_FRST_INPT_DT
                , TAAS.SYS_FRST_INPT_USER_ID AS SYS_FRST_INPT_USER_ID
                , TAAS.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
                , TAAS.SYS_LAST_CHG_DT AS SYS_LAST_CHG_DT
                , TAAS.SYS_LAST_CHG_USER_ID AS SYS_LAST_CHG_USER_ID
                , TAAS.SYS_LAST_CHG_PRGRM_ID AS SYS_LAST_CHG_PRGRM_ID
            FROM TB_APC_AGT_STATS TAAS
            WHERE TAAS.DEL_YN = 'Y'
        ]]>
    </select>
</mapper>