<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CltvtnEnggtAplyMngMapper.xml                                    				-->
<!-- DESC : 재배약정계획관리 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.selectCltvtnEnggtAplyMng				-->
	<!-- DESC : 재배약정계획관리 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCltvtnEnggtAplyMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEnggtAplyMngVO" resultType="com.at.apcss.fm.clt.vo.CltvtnEnggtAplyMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.selectCltvtnEnggtAplyMng */
				  APC_CD                      AS APC_CD
				, CLT.PRDCR_CD                AS PRDCR_CD
				, CLT.FRMER_SN                AS FRMER_SN
				, CLT.REQ_SN                  AS REQ_SN
				, CLT.FRMER_NM                AS FRMER_NM
				, CLT.ITEM_CD                 AS ITEM_CD
				, CLT.VRTY_CD                 AS VRTY_CD
				, CLT.SPCFCT_CD               AS SPCFCT_CD
				, CLT.CLTVTN_AREA             AS CLTVTN_AREA
				, CLT.ENGGT_VLM               AS ENGGT_VLM
				, CLT.EXPCT_HRVST_QNTT        AS EXPCT_HRVST_QNTT
			    , CLT.PLOR                    AS PLOR
			    , CLT.CTRT_AMT                AS CTRT_AMT
			    , CLT.PRTPAY                  AS PRTPAY
			    , CLT.SRPLS                   AS SRPLS
			    , CLT.ENGGT_YMD               AS ENGGT_YMD
			    , CLT.ADDR                    AS ADDR
			    , CLT.ZIP                     AS ZIP
			    , CLT.TELNO                   AS TELNO
			    , CLT.FXNO                    AS FXNO
			    , CLT.BANK_CD                 AS BANK_CD
			    , CLT.ACTNO                   AS ACTNO
			    , CLT.DPSTR_NM                AS DPSTR_NM
			    , CLT.RMRK                    AS RMRK
			    , CLT.DEL_YN                  AS DEL_YN
			    , CLT.SYS_FRST_INPT_DT        AS SYS_FRST_INPT_DT
			    , CLT.SYS_FRST_INPT_USER_ID   AS SYS_FRST_INPT_USER_ID
			    , CLT.SYS_FRST_INPT_PRGRM_ID  AS SYS_FRST_INPT_PRGRM_ID
			    , CLT.SYS_LAST_CHG_DT         AS SYS_LAST_CHG_DT
			    , CLT.SYS_LAST_CHG_USER_ID    AS SYS_LAST_CHG_USER_ID
			    , CLT.SYS_LAST_CHG_PRGRM_ID   AS SYS_LAST_CHG_PRGRM_ID
			 FROM TB_CLTVTN_ENGGT_APLY_MNG CLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.selectCltvtnEnggtAplyMngList			-->
	<!-- DESC : 재배약정계획관리 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCltvtnEnggtAplyMngList" parameterType="com.at.apcss.fm.clt.vo.CltvtnEnggtAplyMngVO" resultType="com.at.apcss.fm.clt.vo.CltvtnEnggtAplyMngVO">

    	<![CDATA[
			SELECT /* com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.selectCltvtnEnggtAplyMngList */
				  APC_CD                      AS APC_CD
				, (SELECT X.APC_NM FROM TB_APC_INFO X WHERE X.APC_CD = CLT.APC_CD) AS APC_NM
				, CLT.PRDCR_CD                AS PRDCR_CD
				, (SELECT X.PRDCR_NM FROM TB_PRDCR_INFO X WHERE X.PRDCR_CD = CLT.PRDCR_CD AND X.APC_CD = CLT.APC_CD) AS PRDCR_NM
				, CLT.FRMER_SN                AS FRMER_SN
				, CLT.REQ_SN                  AS REQ_SN
				, CLT.FRMER_NM                AS FRMER_NM
				, CLT.ITEM_CD                 AS ITEM_CD
				, (SELECT FN_GET_ITEM_NM(CLT.ITEM_CD, CLT.APC_CD) FROM DUAL) AS ITEM_NM
				, CLT.VRTY_CD                 AS VRTY_CD
				, (SELECT FN_GET_VRTY_NM(CLT.ITEM_CD, CLT.VRTY_CD, CLT.APC_CD) FROM DUAL) AS VRTY_NM
				, CLT.SPCFCT_CD               AS SPCFCT_CD
				, CLT.CLTVTN_AREA             AS CLTVTN_AREA
				, CLT.ENGGT_VLM               AS ENGGT_VLM
				, CLT.EXPCT_HRVST_QNTT        AS EXPCT_HRVST_QNTT
			    , CLT.PLOR                    AS PLOR
			    , CLT.CTRT_AMT                AS CTRT_AMT
			    , CLT.PRTPAY                  AS PRTPAY
			    , CLT.SRPLS                   AS SRPLS
			    , CLT.ENGGT_YMD               AS ENGGT_YMD
			    , CLT.ADDR                    AS ADDR
			    , CLT.ZIP                     AS ZIP
			    , CLT.TELNO                   AS TELNO
			    , CLT.FXNO                    AS FXNO
			    , CLT.BANK_CD                 AS BANK_CD
			    , CLT.ACTNO                   AS ACTNO
			    , CLT.DPSTR_NM                AS DPSTR_NM
			    , CLT.RMRK                    AS RMRK
			    , CLT.DEL_YN                  AS DEL_YN
			    , CLT.SYS_FRST_INPT_DT        AS SYS_FRST_INPT_DT
			    , CLT.SYS_FRST_INPT_USER_ID   AS SYS_FRST_INPT_USER_ID
			    , CLT.SYS_FRST_INPT_PRGRM_ID  AS SYS_FRST_INPT_PRGRM_ID
			    , CLT.SYS_LAST_CHG_DT         AS SYS_LAST_CHG_DT
			    , CLT.SYS_LAST_CHG_USER_ID    AS SYS_LAST_CHG_USER_ID
			    , CLT.SYS_LAST_CHG_PRGRM_ID   AS SYS_LAST_CHG_PRGRM_ID
   			 FROM TB_CLTVTN_ENGGT_APLY_MNG CLT
			 WHERE 1=1
			 AND DEL_YN = 'N'

    	]]>

			<if test='apcCd != null and apcCd != ""'>
				AND  APC_CD = #{apcCd}
			</if>
			<if test='enggtSrtYmd != null and enggtSrtYmd != "" and enggtEndYmd != null and enggtEndYmd != ""'>
				AND  ENGGT_YMD BETWEEN TO_DATE(#{enggtSrtYmd}) AND TO_DATE(#{enggtEndYmd})
			</if>
			<if test='itemCd != null and itemCd != ""'>
				AND  ITEM_CD = #{itemCd}
			</if>
			<if test='vrtyCd != null and vrtyCd != ""'>
				AND  VRTY_CD = #{vrtyCd}
			</if>

			ORDER BY REQ_SN ASC
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.insertCltvtnEnggtAplyMng				-->
	<!-- DESC : 재배약정계획관리 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertCltvtnEnggtAplyMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEnggtAplyMngVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.insertCltvtnEnggtAplyMng */
	    	  INTO TB_CLTVTN_ENGGT_APLY_MNG CLT
	    		(
	    			APC_CD
	    		  , PRDCR_CD
	    		  , FRMER_SN
	    		  , REQ_SN
	    		  , FRMER_NM
	    		  , ITEM_CD
	    		  , VRTY_CD
	    		  , SPCFCT_CD
	    		  , CLTVTN_AREA
	    		  , ENGGT_VLM
	    		  , EXPCT_HRVST_QNTT
	    		  , PLOR
	    		  , CTRT_AMT
	    		  , PRTPAY
	    		  , SRPLS
	    		  , ENGGT_YMD
	    		  , ADDR
	    		  , ZIP
	    		  , TELNO
	    		  , FXNO
	    		  , BANK_CD
	    		  , ACTNO
	    		  , DPSTR_NM
	    		  , RMRK
	    		  , DEL_YN
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    #{apcCd}
	   			  , #{prdcrCd}
	   			  , #{frmerSn}
	   			  , (SELECT NVL(MAX(REQ_SN), 0) + 1 FROM TB_CLTVTN_ENGGT_APLY_MNG)
	   			  , #{frmerNm}
	   			  , #{itemCd}
	   			  , #{vrtyCd}
	   			  , #{spcfctCd}
	   			  , #{cltvtnArea}
	   			  , #{enggtVlm}
	   			  , #{expctHrvstQntt}
	   			  , #{plor}
	   			  , #{ctrtAmt}
	   			  , #{prtpay}
	   			  , #{srpls}
	   			  , #{enggtYmd}
	   			  , #{addr}
	   			  , #{zip}
	   			  , #{telno}
	   			  , #{fXNO}
	   			  , #{bankCd}
	   			  , #{actno}
	   			  , #{dpstrNm}
	   			  , #{rmrk}
	   			  , 'N'
	   			  , SYSDATE
	   			  , #{sysFrstInptUserId}
	   			  , #{sysFrstInptPrgrmId}
	   			  , SYSDATE
	   			  , #{sysLastChgUserId}
	   			  , #{sysLastChgPrgrmId}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.updateCltvtnEnggtAplyMng				-->
	<!-- DESC : 재배약정계획관리 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <update id="updateCltvtnEnggtAplyMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEnggtAplyMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.updateCltvtnEnggtAplyMng */
	    		TB_CLTVTN_ENGGT_APLY_MNG CLT
			   SET
    	         ENGGT_VLM          = #{enggtVlm}
    	        , EXPCT_HRVST_QNTT   = #{expctHrvstQntt}
    	        , ENGGT_YMD          = #{enggtYmd}
    	        , RMRK               = #{rmrk}
    	]]>
		<if test='delYn != null and delYn != ""'>
				, DEL_YN 	= #{delYn}
		</if>
    	<![CDATA[
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND APC_CD = #{apcCd}
			 AND PRDCR_CD = #{prdcrCd}
			 AND FRMER_SN = #{frmerSn}
    	     AND REQ_SN = #{reqSn}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.deleteCltvtnEnggtAplyMng				-->
	<!-- DESC : 재배약정계획관리 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteCltvtnEnggtAplyMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEnggtAplyMngVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.deleteCltvtnEnggtAplyMng */
	    		TB_CLTVTN_ENGGT_APLY_MNG CLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.vo.mapper.CltvtnEnggtAplyMngMapper.selectApcList		-->
	<!-- DESC : 차량정보 목록 조회.	                                       			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.30  	       김보름        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectApcList" parameterType="com.at.apcss.fm.clt.vo.CltvtnApcItemVO" resultType="com.at.apcss.fm.clt.vo.CltvtnApcItemVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
    	SELECT /* com.at.apcss.fm.clt.vo.mapper.CltvtnEnggtAplyMngMapper.selectApcList */
    		   A.APC_CD            AS APC_CD
		     , A.APC_NM            AS APC_NM
		  FROM TB_APC_INFO A
		 WHERE A.DEL_YN = 'N'
		 ]]>
		 <if test='apcNm != null and apcNm != ""'>
				AND A.APC_NM LIKE '%'||#{apcNm}||'%'
		</if>
		 ORDER BY APC_NM ASC

		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

</mapper>