<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CltvtnEngttSptMngMapper.xml                                    				-->
<!-- DESC : 재배약정현장관리 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.selectCltvtnEngttSptMng				-->
	<!-- DESC : 재배약정현장관리 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCltvtnEngttSptMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttSptMngVO" resultType="com.at.apcss.fm.clt.vo.CltvtnEngttSptMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.selectCltvtnEngttSptMng */
				  CLT.APC_CD                 AS APC_CD
				, CLT.PRDCR_CD               AS PRDCR_CD
				, CLT.FRMER_SN               AS FRMER_SN
				, CLT.REQ_SN                 AS REQ_SN
				, CLT.ITEM_CD                AS ITEM_CD
				, CLT.VRTY_CD                AS VRTY_CD
				, CLT.SPCFCT_CD              AS SPCFCT_CD
				, CLT.CLTVTN_AREA            AS CLTVTN_AREA
				, CLT.ENGGT_VLM              AS ENGGT_VLM
				, CLT.EXPCT_HRVST_QNTT       AS EXPCT_HRVST_QNTT
				, CLT.PLOR                   AS PLOR
			    , CLT.CTRT_AMT               AS CTRT_AMT
			    , CLT.PRTPAY                 AS PRTPAY
			    , CLT.SRPLS                  AS SRPLS
			    , CLT.ENGGT_YMD              AS ENGGT_YMD
			    , CLT.ADDR                   AS ADDR
			    , CLT.ZIP                    AS ZIP
			    , CLT.TELNO                  AS TELNO
			    , CLT.FXNO                   AS FXNO
			    , CLT.BANK_CD                AS BANK_CD
			    , CLT.ACTNO                  AS ACTNO
			    , CLT.DPSTR_NM               AS DPSTR_NM
			    , CLT.RMRK                   AS RMRK
			    , CLT.DEL_YN                 AS DEL_YN
			    , CLT.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
			    , CLT.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
			    , CLT.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
			    , CLT.SYS_LAST_CHG_DT        AS SYS_LAST_CHG_DT
			    , CLT.SYS_LAST_CHG_USER_ID   AS SYS_LAST_CHG_USER_ID
			    , CLT.SYS_LAST_CHG_PRGRM_ID  AS SYS_LAST_CHG_PRGRM_ID
			 FROM TB_CLTVTN_ENGGT_SPT_MNG CLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.selectCltvtnEngttSptMngList			-->
	<!-- DESC : 재배약정현장관리 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCltvtnEngttSptMngList" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttSptMngVO" resultType="com.at.apcss.fm.clt.vo.CltvtnEngttSptMngVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.selectCltvtnEngttSptMngList */
				  CLT.APC_CD                 AS APC_CD
				, CLT.PRDCR_CD               AS PRDCR_CD
				, CLT.FRMER_SN               AS FRMER_SN
				, CLT.REQ_SN                 AS REQ_SN
				, CLT.ITEM_CD                AS ITEM_CD
				, CLT.VRTY_CD                AS VRTY_CD
				, CLT.SPCFCT_CD              AS SPCFCT_CD
				, CLT.CLTVTN_AREA            AS CLTVTN_AREA
				, CLT.ENGGT_VLM              AS ENGGT_VLM
				, CLT.EXPCT_HRVST_QNTT       AS EXPCT_HRVST_QNTT
				, CLT.PLOR                   AS PLOR
			    , CLT.CTRT_AMT               AS CTRT_AMT
			    , CLT.PRTPAY                 AS PRTPAY
			    , CLT.SRPLS                  AS SRPLS
			    , CLT.ENGGT_YMD              AS ENGGT_YMD
			    , CLT.ADDR                   AS ADDR
			    , CLT.ZIP                    AS ZIP
			    , CLT.TELNO                  AS TELNO
			    , CLT.FXNO                   AS FXNO
			    , CLT.BANK_CD                AS BANK_CD
			    , CLT.ACTNO                  AS ACTNO
			    , CLT.DPSTR_NM               AS DPSTR_NM
			    , CLT.RMRK                   AS RMRK
			    , CLT.DEL_YN                 AS DEL_YN
			    , CLT.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
			    , CLT.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
			    , CLT.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
			    , CLT.SYS_LAST_CHG_DT        AS SYS_LAST_CHG_DT
			    , CLT.SYS_LAST_CHG_USER_ID   AS SYS_LAST_CHG_USER_ID
			    , CLT.SYS_LAST_CHG_PRGRM_ID  AS SYS_LAST_CHG_PRGRM_ID
			 FROM TB_CLTVTN_ENGGT_SPT_MNG CLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
		     ]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>
	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.insertCltvtnEngttSptMng				-->
	<!-- DESC : 재배약정현장관리 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertCltvtnEngttSptMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttSptMngVO">
    	<![CDATA[
    	MERGE INTO TB_CLTVTN_ENGGT_SPT_MNG CLT  /* com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.insertCltvtnEngttSptMng */
		USING DUAL
			ON (	         CLT.APC_CD      = #{apcCd}
				      AND CLT.PRDCR_CD  =  #{prdcrCd}
				      AND CLT.FRMER_SN  = #{frmerSn}
				      AND CLT.REQ_SN      = #{reqSn}
				   )
		WHEN MATCHED THEN
				 UPDATE /* com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.updateCltvtnEngttSptMng */
					   SET
		    	          ENGGT_VLM          = #{enggtVlmSpt}
		    	        , EXPCT_HRVST_QNTT   = #{expctHrvstQnttSpt}
		    	        , ENGGT_YMD          = #{enggtSptYmd}
		    	        , RMRK               = #{rmrkSpt}
		    	]]>
				<if test='delYn != null and delYn != ""'>
						, DEL_YN 	= #{delYn}
				</if>
		    	<![CDATA[
						, SYS_LAST_CHG_DT		= SYSDATE
			    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
			    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

					 WHERE 1=1
					     AND APC_CD = #{apcCd}
						 AND PRDCR_CD = #{prdcrCd}
						 AND FRMER_SN = #{frmerSn}
			    	     AND REQ_SN = #{reqSn}
		WHEN NOT MATCHED THEN
			 INSERT /* com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.insertCltvtnEngttSptMng */
		    		(
		    			APC_CD
		    		  , PRDCR_CD
		    		  , FRMER_SN
		    		  , REQ_SN
		    		  , FRMER_NM
		    		  , ITEM_CD
		    		  , VRTY_CD
		    		  , SPCFCT_CD
		    		  , REQ_CD
		    		  , CLTVTN_AREA
		    		  , ENGGT_VLM
		    		  , EXPCT_HRVST_QNTT
		    		  , PLOR
		    		  , CTRT_AMT
		    		  , PRTPAY
		    		  , SRPLS
		    		  , ENGGT_YMD
		    		  , ADDR
		    		  , ZIP
		    		  , TELNO
		    		  , FXNO
		    		  , BANK_CD
		    		  , ACTNO
		    		  , DPSTR_NM
		    		  , RMRK
		    		  , DEL_YN
		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apcCd}
		   			  , #{prdcrCd}
		   			  , #{frmerSn}
		   			  ,  #{reqSn}
		   			  , #{frmerNm}
		   			  , #{itemCd}
		   			  , #{vrtyCd}
		   			  , #{spcfctCd}
		   			  , '0002'
		   			  , #{cltvtnArea}
		   			  , #{enggtVlmSpt}
		   			  , #{expctHrvstQnttSpt}
		   			  , #{plor}
		   			  , #{ctrtAmt}
		   			  , #{prtpay}
		   			  , #{srpls}
		   			  , #{enggtSptYmd}
		   			  , #{addr}
		   			  , #{zip}
		   			  , #{telno}
		   			  , #{fXNO}
		   			  , #{bankCd}
		   			  , #{actno}
		   			  , #{dpstrNm}
		   			  , #{rmrkSpt}
		   			  , 'N'
		   			  , SYSDATE
		   			  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.updateCltvtnEngttSptMng				-->
	<!-- DESC : 재배약정현장관리 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateCltvtnEngttSptMng2" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttSptMngVO">
	 	UPDATE /* com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.updateCltvtnEnggtAplyMng */
	    	         TB_CLTVTN_ENGGT_APLY_MNG CLT
			   SET
    	          REQ_CD          = '0002'
	 	WHERE 1=1
		     AND APC_CD = #{apcCd}
			 AND PRDCR_CD = #{prdcrCd}
			 AND FRMER_SN = #{frmerSn}
    	     AND REQ_SN = #{reqSn}
	</update>
    <update id="updateCltvtnEngttSptMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttSptMngVO">
    	<![CDATA[
    	MERGE INTO TB_CLTVTN_ENGGT_SPT_MNG CLT  /* com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.updateCltvtnEngttSptMng */
		USING DUAL
			ON (	         CLT.APC_CD      = #{apcCd}
				      AND CLT.PRDCR_CD  =  #{prdcrCd}
				      AND CLT.FRMER_SN  = #{frmerSn}
				      AND CLT.REQ_SN      = #{reqSn}
				   )
		WHEN MATCHED THEN
				 UPDATE /* com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.updateCltvtnEngttSptMng */
					   SET
		    	          ENGGT_VLM          = #{enggtVlmSpt}
		    	        , EXPCT_HRVST_QNTT   = #{expctHrvstQnttSpt}
		    	        , ENGGT_YMD          = #{enggtSptYmd}
		    	        , RMRK               = #{rmrkSpt}
		    	]]>
				<if test='delYn != null and delYn != ""'>
						, DEL_YN 	= #{delYn}
				</if>
		    	<![CDATA[
						, SYS_LAST_CHG_DT		= SYSDATE
			    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
			    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

					 WHERE 1=1
					     AND APC_CD = #{apcCd}
						 AND PRDCR_CD = #{prdcrCd}
						 AND FRMER_SN = #{frmerSn}
			    	     AND REQ_SN = #{reqSn}
		WHEN NOT MATCHED THEN
			 INSERT /* com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.insertCltvtnEngttSptMng */
		    		(
		    			APC_CD
		    		  , PRDCR_CD
		    		  , FRMER_SN
		    		  , REQ_SN
		    		  , FRMER_NM
		    		  , ITEM_CD
		    		  , VRTY_CD
		    		  , SPCFCT_CD
		    		  , REQ_CD
		    		  , CLTVTN_AREA
		    		  , ENGGT_VLM
		    		  , EXPCT_HRVST_QNTT
		    		  , PLOR
		    		  , CTRT_AMT
		    		  , PRTPAY
		    		  , SRPLS
		    		  , ENGGT_YMD
		    		  , ADDR
		    		  , ZIP
		    		  , TELNO
		    		  , FXNO
		    		  , BANK_CD
		    		  , ACTNO
		    		  , DPSTR_NM
		    		  , RMRK
		    		  , DEL_YN
		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apcCd}
		   			  , #{prdcrCd}
		   			  , #{frmerSn}
		   			  ,  #{reqSn}
		   			  , #{frmerNm}
		   			  , #{itemCd}
		   			  , #{vrtyCd}
		   			  , #{spcfctCd}
		   			  , '0002'
		   			  , #{cltvtnArea}
		   			  , #{enggtVlmSpt}
		   			  , #{expctHrvstQnttSpt}
		   			  , #{plor}
		   			  , #{ctrtAmt}
		   			  , #{prtpay}
		   			  , #{srpls}
		   			  , #{enggtSptYmd}
		   			  , #{addr}
		   			  , #{zip}
		   			  , #{telno}
		   			  , #{fXNO}
		   			  , #{bankCd}
		   			  , #{actno}
		   			  , #{dpstrNm}
		   			  , #{rmrkSpt}
		   			  , 'N'
		   			  , SYSDATE
		   			  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.deleteCltvtnEngttSptMng				-->
	<!-- DESC : 재배약정현장관리 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteCltvtnEngttSptMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttSptMngVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.clt.mapper.CltvtnEngttSptMngMapper.deleteCltvtnEngttSptMng */
	    		TB_CLTVTN_ENGGT_SPT_MNG CLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>