<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : CltvtnEngttRsltMngMapper.xml                                    				-->
<!-- DESC : 재배약정실적관리 정보 mapper                                             			-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.selectCltvtnEngttRsltMng				-->
	<!-- DESC : 재배약정실적관리 테이블 단건조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCltvtnEngttRsltMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO" resultType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO">
    	<![CDATA[
			SELECT /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.selectCltvtnEngttRsltMng */
				  CLT.APC_CD                 AS APC_CD
				, CLT.PRDCR_CD               AS PRDCR_CD
				, CLT.FRMER_SN               AS FRMER_SN
				, CLT.REQ_SN                 AS REQ_SN
				, CLT.ITEM_CD                AS ITEM_CD
				, CLT.VRTY_CD                AS VRTY_CD
				, CLT.SPCFCT_CD              AS SPCFCT_CD
				, CLT.CLTVTN_AREA            AS CLTVTN_AREA
				, CLT.ENGGT_VLM              AS ENGGT_VLM
				, CLT.EXPCT_HRVST_QNTT       AS EXPCT_HRVST_QNTT
				, CLT.PLOR_CD                   AS PLOR
			    , CLT.CTRT_AMT               AS CTRT_AMT
			    , CLT.PRTPAY                 AS PRTPAY
			    , CLT.SRPLS                  AS SRPLS
			    , CLT.ENGGT_YMD              AS ENGGT_YMD
			    , CLT.ADDR                   AS ADDR
			    , CLT.ZIP                    AS ZIP
			    , CLT.TELNO                  AS TELNO
			    , CLT.FXNO                   AS FXNO
			    , CLT.BANK_CD                AS BANK_CD
			    , CLT.ACTNO                  AS ACTNO
			    , CLT.DPSTR_NM               AS DPSTR_NM
			    , CLT.RMRK                   AS RMRK
			    , CLT.DEL_YN                 AS DEL_YN
			    , CLT.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
			    , CLT.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
			    , CLT.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
			    , CLT.SYS_LAST_CHG_DT        AS SYS_LAST_CHG_DT
			    , CLT.SYS_LAST_CHG_USER_ID   AS SYS_LAST_CHG_USER_ID
			    , CLT.SYS_LAST_CHG_PRGRM_ID  AS SYS_LAST_CHG_PRGRM_ID
			 FROM TB_CLTVTN_ENGGT_RSLT_MNG CLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </select>


	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.selectCltvtnEngttRsltMngList			-->
	<!-- DESC : 재배약정실적관리 테이블 목록 조회.                                             		-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.29  	jcshin        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectCltvtnEngttRsltMngList" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO" resultType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO">
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		SELECT
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			, pt0.*
    		  FROM (
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
			SELECT /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.selectCltvtnEngttRsltMngList */
				  CLT.APC_CD                 AS APC_CD
				, CLT.PRDCR_CD               AS PRDCR_CD
				, CLT.FRMER_SN               AS FRMER_SN
				, CLT.REQ_SN                 AS REQ_SN
				, CLT.ITEM_CD                AS ITEM_CD
				, CLT.VRTY_CD                AS VRTY_CD
				, CLT.SPCFCT_CD              AS SPCFCT_CD
				, CLT.CLTVTN_AREA            AS CLTVTN_AREA
				, CLT.ENGGT_VLM              AS ENGGT_VLM
				, CLT.EXPCT_HRVST_QNTT       AS EXPCT_HRVST_QNTT
				, CLT.PLOR_CD                   AS PLOR
			    , CLT.CTRT_AMT               AS CTRT_AMT
			    , CLT.PRTPAY                 AS PRTPAY
			    , CLT.SRPLS                  AS SRPLS
			    , CLT.ENGGT_YMD              AS ENGGT_YMD
			    , CLT.ADDR                   AS ADDR
			    , CLT.ZIP                    AS ZIP
			    , CLT.TELNO                  AS TELNO
			    , CLT.FXNO                   AS FXNO
			    , CLT.BANK_CD                AS BANK_CD
			    , CLT.ACTNO                  AS ACTNO
			    , CLT.DPSTR_NM               AS DPSTR_NM
			    , CLT.RMRK                   AS RMRK
			    , CLT.DEL_YN                 AS DEL_YN
			    , CLT.SYS_FRST_INPT_DT       AS SYS_FRST_INPT_DT
			    , CLT.SYS_FRST_INPT_USER_ID  AS SYS_FRST_INPT_USER_ID
			    , CLT.SYS_FRST_INPT_PRGRM_ID AS SYS_FRST_INPT_PRGRM_ID
			    , CLT.SYS_LAST_CHG_DT        AS SYS_LAST_CHG_DT
			    , CLT.SYS_LAST_CHG_USER_ID   AS SYS_LAST_CHG_USER_ID
			    , CLT.SYS_LAST_CHG_PRGRM_ID  AS SYS_LAST_CHG_PRGRM_ID
			 FROM TB_CLTVTN_ENGGT_RSLT_MNG CLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    		  ) pt0
			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.insertCltvtnEngttRsltMng				-->
	<!-- DESC : 재배약정실적관리 등록                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertCltvtnEngttRsltMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO">
    <![CDATA[
    	MERGE INTO TB_CLTVTN_ENGGT_RSLT_MNG CLT  /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.insertCltvtnEngttRsltMng */
		USING DUAL
			ON (	         CLT.APC_CD      = #{apcCd}
				      AND CLT.PRDCR_CD  =  #{prdcrCd}
				      AND CLT.FRMER_SN  = #{frmerSn}
				      AND CLT.REQ_SN      = #{reqSn}
				   )
		WHEN MATCHED THEN
				 UPDATE  /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.updateCltvtnEngttRsltMng */
					   SET
		    	          ENGGT_VLM          = #{enggtVlmRslt}
		    	        , EXPCT_HRVST_QNTT   = #{expctHrvstQnttRslt}
		    	        , ENGGT_YMD          = #{enggtRsltYmd}
		    	        , RMRK               = #{rmrkRslt}
		    	        , DEL_YN 	= 'N'
						, SYS_LAST_CHG_DT		= SYSDATE
			    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
			    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

					 WHERE 1=1
					     AND APC_CD = #{apcCd}
						 AND PRDCR_CD = #{prdcrCd}
						 AND FRMER_SN = #{frmerSn}
			    	     AND REQ_SN = #{reqSn}
		WHEN NOT MATCHED THEN
			 INSERT /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.insertCltvtnEngttRsltMng */
		    		(
		    			APC_CD
		    		  , PRDCR_CD
		    		  , FRMER_SN
		    		  , REQ_SN
		    		  , FRMER_NM
		    		  , ITEM_CD
		    		  , VRTY_CD
		    		  , SPCFCT_CD
		    		  , REQ_CD
		    		  , CLTVTN_AREA
		    		  , ENGGT_VLM
		    		  , EXPCT_HRVST_QNTT
		    		  , PLOR_CD
		    		  , CTRT_AMT
		    		  , PRTPAY
		    		  , SRPLS
		    		  , ENGGT_YMD
		    		  , ADDR
		    		  , ZIP
		    		  , TELNO
		    		  , FXNO
		    		  , BANK_CD
		    		  , ACTNO
		    		  , DPSTR_NM
		    		  , RMRK
		    		  , DEL_YN
		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apcCd}
		   			  , #{prdcrCd}
		   			  , #{frmerSn}
		   			  ,  #{reqSn}
		   			  , #{frmerNm}
		   			  , #{itemCd}
		   			  , #{vrtyCd}
		   			  , #{spcfctCd}
		   			  , '0003'
		   			  , #{cltvtnArea}
		   			  , #{enggtVlmRslt}
		   			  , #{expctHrvstQnttRslt}
		   			  , #{plor}
		   			  , #{ctrtAmt}
		   			  , #{prtpay}
		   			  , #{srpls}
		   			  , #{enggtRsltYmd}
		   			  , #{addr}
		   			  , #{zip}
		   			  , #{telno}
		   			  , #{fXNO}
		   			  , #{bankCd}
		   			  , #{actno}
		   			  , #{dpstrNm}
		   			  , #{rmrkRslt}
		   			  , 'N'
		   			  , SYSDATE
		   			  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </insert>
    <insert id="insertCltvtnEngttRsltMng_backup" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO">
    	<![CDATA[
	    	INSERT /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.insertCltvtnEngttRsltMng */
	    	  INTO TB_CLTVTN_ENGGT_RSLT_MNG CLT
	    		(
	    			APC_CD
	    		  , PRDCR_CD
	    		  , FRMER_SN
	    		  , REQ_SN
	    		  , ITEM_CD
	    		  , VRTY_CD
	    		  , SPCFCT_CD
	    		  , CLTVTN_AREA
	    		  , ENGGT_VLM
	    		  , EXPCT_HRVST_QNTT
	    		  , PLOR_CD
	    		  , CTRT_AMT
	    		  , PRTPAY
	    		  , SRPLS
	    		  , ENGGT_YMD
	    		  , ADDR
	    		  , ZIP
	    		  , TELNO
	    		  , FXNO
	    		  , BANK_CD
	    		  , ACTNO
	    		  , DPSTR_NM
	    		  , RMRK
	    		  , DEL_YN
	    		  , SYS_FRST_INPT_DT
	    		  , SYS_FRST_INPT_USER_ID
	    		  , SYS_FRST_INPT_PRGRM_ID
	    		  , SYS_LAST_CHG_DT
	    		  , SYS_LAST_CHG_USER_ID
	    		  , SYS_LAST_CHG_PRGRM_ID
	    		)
	   		VALUES
	   			(
	   			    #{APC_CD}
	   			  , #{PRDCR_CD}
	   			  , #{FRMER_SN}
	   			  , #{REQ_SN}
	   			  , #{ITEM_CD}
	   			  , #{VRTY_CD}
	   			  , #{SPCFCT_CD}
	   			  , #{CLTVTN_AREA}
	   			  , #{ENGGT_VLM}
	   			  , #{EXPCT_HRVST_QNTT}
	   			  , #{PLOR}
	   			  , #{CTRT_AMT}
	   			  , #{PRTPAY}
	   			  , #{SRPLS}
	   			  , #{ENGGT_YMD}
	   			  , #{ADDR}
	   			  , #{ZIP}
	   			  , #{TELNO}
	   			  , #{FXNO}
	   			  , #{BANK_CD}
	   			  , #{ACTNO}
	   			  , #{DPSTR_NM}
	   			  , #{RMRK}
	   			  , #{DEL_YN}
	   			  , #{SYS_FRST_INPT_DT}
	   			  , #{SYS_FRST_INPT_USER_ID}
	   			  , #{SYS_FRST_INPT_PRGRM_I}
	   			  , #{SYS_LAST_CHG_DT}
	   			  , #{SYS_LAST_CHG_USER_ID}
	   			  , #{SYS_LAST_CHG_PRGRM_ID}
	   			)
    	]]>
    </insert>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.updateCltvtnEngttRsltMng				-->
	<!-- DESC : 재배약정실적관리 변경                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->

   <update id="updateCltvtnEngttRsltMng2" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO">
	 	UPDATE /* com.at.apcss.fm.clt.mapper.CltvtnEnggtAplyMngMapper.updateCltvtnEnggtAplyMng */
	    	         TB_CLTVTN_ENGGT_APLY_MNG CLT
			   SET
    	          REQ_CD          = '0003'
	 	WHERE 1=1
		     AND APC_CD = #{apcCd}
			 AND PRDCR_CD = #{prdcrCd}
			 AND FRMER_SN = #{frmerSn}
    	     AND REQ_SN = #{reqSn}
	</update>
    <update id="updateCltvtnEngttRsltMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO">
   <![CDATA[
    	MERGE INTO TB_CLTVTN_ENGGT_RSLT_MNG CLT   /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.updateCltvtnEngttRsltMng */
		USING DUAL
			ON (	         CLT.APC_CD      = #{apcCd}
				      AND CLT.PRDCR_CD  =  #{prdcrCd}
				      AND CLT.FRMER_SN  = #{frmerSn}
				      AND CLT.REQ_SN      = #{reqSn}
				   )
		WHEN MATCHED THEN
				 UPDATE  /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.updateCltvtnEngttRsltMng */
					   SET
		    	          ENGGT_VLM          = #{enggtVlmRslt}
		    	        , EXPCT_HRVST_QNTT   = #{expctHrvstQnttRslt}
		    	        , ENGGT_YMD          = #{enggtRsltYmd}
		    	        , RMRK               = #{rmrkRslt}
		    	        , DEL_YN 	= 'N'
						, SYS_LAST_CHG_DT		= SYSDATE
			    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
			    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

					 WHERE 1=1
					     AND APC_CD = #{apcCd}
						 AND PRDCR_CD = #{prdcrCd}
						 AND FRMER_SN = #{frmerSn}
			    	     AND REQ_SN = #{reqSn}
		WHEN NOT MATCHED THEN
			 INSERT /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.insertCltvtnEngttRsltMng */
		    		(
		    			APC_CD
		    		  , PRDCR_CD
		    		  , FRMER_SN
		    		  , REQ_SN
		    		  , FRMER_NM
		    		  , ITEM_CD
		    		  , VRTY_CD
		    		  , SPCFCT_CD
		    		  , REQ_CD
		    		  , CLTVTN_AREA
		    		  , ENGGT_VLM
		    		  , EXPCT_HRVST_QNTT
		    		  , PLOR_CD
		    		  , CTRT_AMT
		    		  , PRTPAY
		    		  , SRPLS
		    		  , ENGGT_YMD
		    		  , ADDR
		    		  , ZIP
		    		  , TELNO
		    		  , FXNO
		    		  , BANK_CD
		    		  , ACTNO
		    		  , DPSTR_NM
		    		  , RMRK
		    		  , DEL_YN
		    		  , SYS_FRST_INPT_DT
		    		  , SYS_FRST_INPT_USER_ID
		    		  , SYS_FRST_INPT_PRGRM_ID
		    		  , SYS_LAST_CHG_DT
		    		  , SYS_LAST_CHG_USER_ID
		    		  , SYS_LAST_CHG_PRGRM_ID
		    		)
		   		VALUES
		   			(
		   			    #{apcCd}
		   			  , #{prdcrCd}
		   			  , #{frmerSn}
		   			  ,  #{reqSn}
		   			  , #{frmerNm}
		   			  , #{itemCd}
		   			  , #{vrtyCd}
		   			  , #{spcfctCd}
		   			  , '0003'
		   			  , #{cltvtnArea}
		   			  , #{enggtVlmRslt}
		   			  , #{expctHrvstQnttRslt}
		   			  , #{plor}
		   			  , #{ctrtAmt}
		   			  , #{prtpay}
		   			  , #{srpls}
		   			  , #{enggtRsltYmd}
		   			  , #{addr}
		   			  , #{zip}
		   			  , #{telno}
		   			  , #{fXNO}
		   			  , #{bankCd}
		   			  , #{actno}
		   			  , #{dpstrNm}
		   			  , #{rmrkRslt}
		   			  , 'N'
		   			  , SYSDATE
		   			  , #{sysFrstInptUserId}
		   			  , #{sysFrstInptPrgrmId}
		   			  , SYSDATE
		   			  , #{sysLastChgUserId}
		   			  , #{sysLastChgPrgrmId}
		   			)
    	]]>
    </update>
    <update id="updateCltvtnEngttRsltMng_backup" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO">
    	<![CDATA[
	    	UPDATE /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.updateCltvtnEngttRsltMng */
	    		TB_CLTVTN_ENGGT_RSLT_MN CLT
			   SET
			 	  APC_CD           = #{APC_CD}
			 	, PRDCR_CD         = #{PRDCR_CD}
			 	, FRMER_SN         = #{FRMER_SN}
    	        , REQ_SN           = #{REQ_SN}
    	        , ITEM_CD          = #{ITEM_CD}
    	        , VRTY_CD          = #{VRTY_CD}
    	        , SPCFCT_CD        = #{SPCFCT_CD}
    	        , CLTVTN_AREA      = #{CLTVTN_AREA}
    	        , ENGGT_VLM        = #{ENGGT_VLM}
    	        , EXPCT_HRVST_QNTT = #{EXPCT_HRVST_QNTT}
    	        , PLOR_CD             = #{PLOR}
    	        , CTRT_AMT         = #{CTRT_AMT}
    	        , PRTPAY           = #{PRTPAY}
    	        , SRPLS            = #{SRPLS}
    	        , ENGGT_YMD        = #{ENGGT_YMD}
    	        , ADDR             = #{ADDR}
    	        , ZIP              = #{ZIP}
    	        , TELNO            = #{TELNO}
    	        , FXNO             = #{FXNO}
    	        , BANK_CD          = #{BANK_CD}
    	        , ACTNO            = #{ACTNO}
    	        , DPSTR_NM         = #{DPSTR_NM}
    	        , RMRK             = #{RMRK}
    	        , DEL_YN 	= 'N'
				, SYS_LAST_CHG_DT		= SYSDATE
	    		, SYS_LAST_CHG_USER_ID	= #{sysLastChgUserId}
	    		, SYS_LAST_CHG_PRGRM_ID	= #{sysLastChgPrgrmId}

			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.deleteCltvtnEngttRsltMng				-->
	<!-- DESC : 재배약정실적관리 삭제                                             				-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.06.09  	kimho        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <delete id="deleteCltvtnEngttRsltMng" parameterType="com.at.apcss.fm.clt.vo.CltvtnEngttRsltMngVO">
    	<![CDATA[
	    	DELETE /* com.at.apcss.fm.clt.mapper.CltvtnEngttRsltMngMapper.deleteCltvtnEngttRsltMng */
	    		TB_CLTVTN_ENGGT_RSLT_MN CLT
			 WHERE 1=1
		     AND TRGT_YR = #{trgtYr}
		     AND  APC_CD = #{apcCd}
    	]]>
    </delete>

</mapper>