@charset "utf-8";

/*  scrollbar */
.mCSB_horizontal.mCSB_inside > .mCSB_container{
	margin-bottom: 8px;
}

/* 모바일에서 세로방향 터치불가 fix */
.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox {
	height: auto;
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}
.mCustomScrollBox.mCSB_vertical_horizontal {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox.mCSB_horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
/*.mCustomScrollBox.mCSB_horizontal { touch-action: pan-y pinch-zoom; }*/

.tbl {
	position: relative;
}
.tbl table {
	width: 100%;
	text-align: center; font-size: 1.5rem;
	background-color: #fff;
	border-bottom: 1px solid #eeeeee;
}
.tbl table thead th {
	padding: 10px;
	color: #101424; font-weight: 500; text-align: center; 
	background-color: #eaebf8;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.tbl table tbody th, .tbl table tfoot th {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #eeeeee;
}
.tbl table tbody td, .tbl table tfoot td {
	padding: 10px;
	text-align: center; color: #101424;
	border-bottom: 1px solid #eeeeee;
}

.tbl_col table {
	border-top: 2px solid #3338bd;
}
.tbl_col table thead th {
	padding: 10px 0;
	font-weight: 500;
	background-color: #eaebf8;
	border: 1px solid #eeeeee;
}
.tbl_col table tbody td {
	position: relative;
	border: 1px solid #eeeeee;
}
.tbl_col table thead th:first-child {
	border-left: none;
}
.tbl_col table thead th:last-child {
	border-right: none;
}
.tbl_col table tbody th:first-child {
	border-left: none;
}
.tbl_col table tbody td:last-child {
	border-right: none;
}
.tbl_col .bg_td {
	background: #eaebf8;
}

.tbl_row table thead th {
	padding: 10px 0;
	font-weight: 500;
	background-color: #eaebf8;
	border: 1px solid #eeeeee;
}
.tbl_row table thead th:first-child {
	border-left: none;
}
.tbl_row table thead th:last-child {
	border-right: none;
}
.tbl_row table tbody th {
	font-weight: 500; text-align: center; color: #101424;
	background-color: #eaebf8;
	border: 1px solid #eeeeee;
}
.tbl_row table tbody td {
	text-align: left;
	border: 1px solid #eeeeee;
}
.tbl_row table thead th:first-child {
	border-left: none;
}
.tbl_row table thead th:last-child {
	border-right: none;
}
.tbl_row table tbody th:first-child, .tbl_row table tbody td:first-child {
	border-left: none;
}
.tbl_row table tbody td:last-child {
	border-right: none;
}
.tbl_row .bg_td {
	background: #eaebf8;
}

.tbl .ellipsis {
	display: table-cell;
}

.tbl_row table tfoot th {
	background-color: #eaebf8;
	border: 1px solid #eeeeee;
	border-left: none;
}
.tbl_row table tfoot td {
	border: 1px solid #eeeeee;
}
.tbl_row table tfoot td:last-child {
	border-right: none;
}

/* 테이블 링크 */
.td_append {
	display: table;
	width: auto;
	word-break: break-word;
	table-layout: fixed;
}
.td_append a {
	display: table-cell;
	font-weight: inherit; word-break: break-word;
}
.td_append a p {
	position: relative;
	display: block;
	display: -webkit-box;
	height: 22px;
	font-weight: inherit; text-overflow: ellipsis; word-break: break-all; 
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.td_append .td_appendicon {
	display: table-cell;
	font-size: 0; line-height: 0; white-space: nowrap;
}
.linked {
	position: relative; top: -1px;
	display: inline-block;
	margin-left: 6px;
	width: 15px; height: 15px;
	vertical-align: 0;
	background: url(../../images/client/formstyle/icon_td_linked.png) no-repeat center;
}
.filelinked {
	position: relative; top: -2px;
	display: inline-block;
	margin-left: 6px;
	width: 15px; height: 17px;
	vertical-align: 0;
	background: url(../../images/client/formstyle/icon_filelinked.png) no-repeat center;
}
.td_append a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.tbl_col .filedown {
	position: absolute; top: 50%; left: 50%;
	display: inline-block;
	width: 16px; height: 15px;
	font-size: 0; line-height: 0; vertical-align: top;
	background: url(../../images/client/formstyle/icon_filelinked.png) no-repeat center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* 테이블 추가 */
.reply_count {
	display: inline-block;
	vertical-align: text-bottom; font-size: 1.3rem; color: #b9190f;
}

/* 전공 로드맵 테이블 */
.tbl_pamphlet table {
	border-bottom: none;
	border-spacing: 10px; border-collapse: separate;
}
.tbl_pamphlet table tbody td, .tbl_pamphlet table tfoot td {
	padding: 10px;
	color: #222; text-align: left;
	border-bottom: none;
}
.tbl_pamphlet table thead th {
	background: #fff;
	border: none;
}
.tbl_pamphlet table tbody th {
	border: none;
}

.tbl_pamphlet .bg_th, .tbl_pamphlet .bg_th1, .tbl_pamphlet .bg_th2, .tbl_pamphlet .bg_th3, .tbl_pamphlet .bg_th4 {
	padding: 16px 8px;
	font-size: 1.7rem; font-weight: 600; line-height: 1.3em;
}

.tbl_pamphlet table thead .bg_th, .tbl_pamphlet table tbody .bg_th {
	color: #101424; font-weight: 600;
	background: #eee;
}
.tbl_pamphlet table thead .bg_td, .tbl_pamphlet table tbody .bg_td {
	background: #eee;
}

.tbl_pamphlet .bg_th1 {
	color: #fff;
	background: #d48be2;
}
.tbl_pamphlet .bg_td1 {
	background: #efdbf3;
}

.tbl_pamphlet .bg_th2 {
	color: #fff;
	background: #1aa8b5;
}
.tbl_pamphlet .bg_td2 {
	background: #c8e6e9;
}

.tbl_pamphlet .bg_th3 {
	color: #fff;
	background: #717cd3;
}
.tbl_pamphlet .bg_td3 {
	background: #d5d7e9;
}

.tbl_pamphlet .bg_th4 {
	color: #fff;
	background: #f39700;
}
.tbl_pamphlet .bg_td4 {
	background: #fcebcf;
}


/* 가로 스크롤 테이블 */
.mCSB_container {
	width: 100% !important;
}
.scrollx_tbl_xs {
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xs .mCSB_container {
	min-width: 500px !important;
}
.scrollx_tbl_xs table{
	min-width: 500px;
}
.scrollx_tbl_sm {
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_sm .mCSB_container {
	min-width: 600px !important;
}
.scrollx_tbl_sm table{
	width: 100%;
	min-width: 600px;
}
.scrollx_tbl_md{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_md .mCSB_container {
	min-width: 800px !important;
}
.scrollx_tbl_md table{
	min-width: 800px;
}
.scrollx_tbl_lg{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_lg .mCSB_container {
	min-width: 1000px !important;
}
.scrollx_tbl_lg table{
	min-width: 1000px;
}
.scrollx_tbl_xl{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xl .mCSB_container {
	min-width: 1200px !important;
}
.scrollx_tbl_xl table{
	min-width: 1200px;
}
.scrollx_tbl_xxl{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xxl .mCSB_container {
	min-width: 1600px !important;
}
.scrollx_tbl_xxl table{
	min-width: 1600px;
}

.tbl_hover tbody tr:hover {
	background-color: #dbecf6;
	cursor: pointer;
}


.td_input {
	padding: 6px !important;
}
.tbl_fixed table {
	table-layout: fixed;
	word-break: break-all;
}

/* 공통 */
.tb .select_form {
	margin: 0;
	margin-left: 0 !important;
}


















/* 비교과 상세 테이블 */
.tbl_text tbody tr {
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}
.tbl_text tbody tr th, .tbl_text tbody tr td {
	padding: 9px;
	text-align: left;
}

/* 교과활동 이수 테이블 */
.subject_addlist table tr.selected {
	background-color: #dbecf6;
}

/* 포트폴리오 희망취업스타일 */
.resume_container .tbl_col table th {
	text-align: center;
}
.resume_container .tbl_col table td {
	text-align: center;
}


/*=================== hover ===================*/
@media screen and (min-width:1025px) {

	/* 테이블 링크 hover */
	.td_append a:hover {
		color: #0a199e;
	}
	.td_append a:hover p::after {
		content: "";
		position: absolute; bottom: 0; left: 0;
		display: block;
		width: 100%; height: 1px;
		background: #0a199e;
	}


}
/*=================== //hover ===================*/
@media screen and (max-width:768px) {
	
	

}
