<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- ==========================================================================	-->
<!-- NAME : SlsPrfmncMapper.xml                                   				-->
<!-- DESC : 매출실적조회 mapper                   				                 	-->
<!-- ==========================================================================	-->
<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
<!-- ===========  	============  	===========================================	-->
<!-- 2023.08.18  	하민우        	Initial Creation                            -->
<!-- ==========================================================================	-->

<mapper namespace="com.at.apcss.am.sls.mapper.SlsPrfmncMapper">

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.sls.mapper.SlsPrfmncMapper.selectSlsPrfmncList		-->
	<!-- DESC : 매출실적조회 목록 조회.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectSlsPrfmncList" parameterType="com.at.apcss.am.sls.vo.SlsPrfmncVO" resultType="com.at.apcss.am.sls.vo.SlsPrfmncVO">
    	<![CDATA[
    		SELECT /* com.at.apcss.am.sls.mapper.SlsPrfmncMapper.selectSlsPrfmncList */
		]]>
    	<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>
    			  ROWNUM AS ROW_SEQ
    			, COUNT(*) OVER() AS TOTAL_RECORD_COUNT
    			,
    	</if>
    	<!-- End 페이징 -->
    	<![CDATA[
				  pt0.*
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)		AS SPCFCT_NM
	    		, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)							AS GDS_NM
    		 FROM (
	    	SELECT
	    		   SP.APC_CD						AS APC_CD
	    		 , SP.SLS_YMD						AS SLS_YMD
	    		 , SP.SLS_SN						AS SLS_SN
	    		 , SP.SLS_YMD || SP.SLS_SN			AS SLSNO
	    		 , SP.ITEM_CD						AS ITEM_CD
	    		 , SP.VRTY_CD						AS VRTY_CD
	    		 , SP.SPCFCT_CD						AS SPCFCT_CD
	    		 , SP.GDS_CD						AS GDS_CD
	    		 , CI.CNPT_NM				 		AS CNPT_NM
	    		 , SP.BRND_NM						AS BRND_NM
	    		 , SP.SPMT_YMD						AS SPMT_YMD
	    		 , SP.SLS_UNTPRC					AS SLS_UNTPRC
	    		 , SP.QNTT							AS QNTT
	    		 , SP.WGHT							AS WGHT
	    		 , SP.CFMTN_AMT						AS CFMTN_AMT
	    		 , SP.CFMTN_YN						AS CFMTN_YN
	    		 , SP.CLCTM_YN						AS CLCTM_YN
	    		 , SUM(SP.QNTT)	OVER()				AS TOT_QNTT
	    		 , SUM(SP.WGHT)	OVER()				AS TOT_WGHT
	    		 , SUM(SP.CFMTN_AMT) OVER()			AS TOT_CFMTN_AMT
			  FROM TB_SLS_PRFMNC SP
			     , TB_CNPT_INFO CI
			 WHERE SP.APC_CD = CI.APC_CD
	    	   AND SP.CNPT_CD = CI.CNPT_CD
	    	   AND SP.CFMTN_YN = 'Y'
			   AND SP.DEL_YN = 'N'
	    	   AND CI.DEL_YN = 'N'
		]]>
		<if test='apcCd != null and apcCd != ""'>
			   AND SP.APC_CD = #{apcCd}
		</if>
		<if test='slsYmdFrom != null and slsYmdFrom != ""'>
		   	   AND SP.SLS_YMD <![CDATA[>=]]> #{slsYmdFrom}
		</if>
		<if test='slsYmdTo != null and slsYmdTo != ""'>
		       AND SP.SLS_YMD <![CDATA[<=]]> #{slsYmdTo}
		</if>
		<if test='cnptNm != null and cnptNm != ""'>
		       AND CI.CNPT_NM LIKE '%' ||  #{cnptNm} || '%'
		</if>
		<if test='itemCd != null and itemCd != ""'>
		       AND SP.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
			 AND SP.VRTY_CD in (SELECT COL1  FROM TABLE(FN_SYS_SPLIT_STRING(#{vrtyCd})))
		</if>
		<if test='cfmtnYn != null and cfmtnYn != ""'>
		       AND SP.CFMTN_YN = #{cfmtnYn}
		</if>
    	<![CDATA[
    		  ) pt0
		]]>
		<!-- Start 페이징 -->
    	<if test='pagingYn != null and pagingYn.equals("Y")'>

			OFFSET (#{currentPageNo} - 1) * #{recordCountPerPage} ROWS
			FETCH FIRST #{recordCountPerPage} ROWS ONLY
    	</if>
    	<!-- End 페이징 -->
    </select>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.sls.mapper.SlsPrfmncMapper.insertSlsPrfmnc			-->
	<!-- DESC : 매출실적조회 목록 등록.	                         	             	 	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <insert id="insertSlsPrfmnc" parameterType="com.at.apcss.am.sls.vo.SlsPrfmncVO">
    	<![CDATA[
    	INSERT INTO TB_SLS_PRFMNC
    		(
    			APC_CD
		   	  , SLS_YMD
		      , SLS_SN
    		  , CNPT_CD
    		  , GDS_CD
    		  , QNTT
    		  , WGHT
    		  , ITEM_CD
    		  , VRTY_CD
    		  , SPCFCT_CD
    		  , GRD_CD
    		  , BRND_NM
    		  , SPMT_YMD
    		  , SLS_UNTPRC
    		  , RKNG_AMT
    		  , CFMTN_AMT
    		  , CFMTN_YN
    		  , DEL_YN
    		  , SYS_FRST_INPT_DT
    		  , SYS_FRST_INPT_USER_ID
    		  , SYS_FRST_INPT_PRGRM_ID
    		  , SYS_LAST_CHG_DT
    		  , SYS_LAST_CHG_USER_ID
    		  , SYS_LAST_CHG_PRGRM_ID
    		)
   		VALUES
   			(
		 	    #{apcCd}
		   	  , #{slsYmd}
		   	  , #{slsSn}
    		  , #{cnptCd}
    		  , #{gdsCd}
    		  , #{qntt}
    		  , #{wght}
    		  , #{itemCd}
    		  , #{vrtyCd}
    		  , #{spcfctCd}
    		  , #{grdCd}
    		  , #{brndNm}
    		  , #{spmtYmd}
    		  , #{slsUntprc}
    		  , #{rkngAmt}
    		  , #{cfmtnAmt}
    		  , #{cfmtnYn}
    		  , #{delYn}
    		  , SYSDATE
    		  , #{sysFrstInptUserId}
    		  , #{sysFrstInptPrgrmId}
    		  , SYSDATE
    		  , #{sysLastChgUserId}
    		  , #{sysLastChgPrgrmId}
   			)
    	]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.sls.mapper.SlsPrfmncMapper.updateSlsPrfmnc			-->
	<!-- DESC : 매출실적조회 목록 수정.	                         	             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<update id="updateSlsPrfmnc" parameterType="com.at.apcss.am.sls.vo.SlsPrfmncVO">
		<![CDATA[
		UPDATE TB_SLS_PRFMNC
		   SET SYS_LAST_CHG_DT 			= SYSDATE
    		 , SYS_LAST_CHG_USER_ID		= #{sysLastChgUserId}
    		 , SYS_LAST_CHG_PRGRM_ID 	= #{sysLastChgPrgrmId}
		]]>
		<if test='cfmtnAmt != null and cfmtnAmt != ""'>
    		 , CFMTN_AMT 				= #{cfmtnAmt}
		</if>
		<if test='cfmtnYn != null and cfmtnYn != ""'>
    		 , CFMTN_YN 				= #{cfmtnYn}
		</if>
		<if test='clctmYn != null and clctmYn != ""'>
			 , CLCTM_YN					= #{clctmYn}
		</if>
		<![CDATA[
		 WHERE APC_CD 					= #{apcCd}
		   AND SLS_YMD 					= #{slsYmd}
		   AND SLS_SN 					= #{slsSn}
		]]>
	</update>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.sls.mapper.SlsPrfmncMapper.deleteSlsPrfmnc			-->
	<!-- DESC : 매출실적 삭제.	                         	             			-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.08.18  	하민우        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<delete id="deleteSlsPrfmnc" parameterType="com.at.apcss.am.sls.vo.SlsPrfmncVO">
		<![CDATA[
		DELETE FROM TB_SLS_PRFMNC
		 WHERE APC_CD 		= #{apcCd}
		   AND SLS_YMD 		= #{slsYmd}
		   AND SLS_SN 		= #{slsSn}
		]]>
	</delete>

	<!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.sls.mapper.SlsPrfmncMapper.insertSlsPrfmncCrt		-->
	<!-- DESC : 매출생성 프로시저 호출.	                         	             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.10.12  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
	<insert id="insertSlsPrfmncCrt" statementType="CALLABLE" parameterType="com.at.apcss.am.sls.vo.SlsPrfmncVO">
    	<![CDATA[
			{call /* com.at.apcss.am.sls.mapper.SlsPrfmncMapper.insertSlsPrfmncCrt */
				SP_SLS_PRFMNC_CRT (
					  #{sysLastChgUserId}
	   		  		, #{sysLastChgPrgrmId}
	   		  		, #{apcCd}
					, #{slsYmdFrom}
					, #{slsYmdTo}
					, #{rtnCd, jdbcType=VARCHAR, mode=OUT}
					, #{rtnMsg, jdbcType=VARCHAR, mode=OUT}
				)
			}
		]]>
    </insert>

    <!-- ==========================================================================	-->
	<!-- NAME : com.at.apcss.am.sls.mapper.SlsPrfmncMapper.selectRegSlsPrfmncList	-->
	<!-- DESC : 매출실적조회 목록 조회.	                         	             	-->
	<!-- ==========================================================================	-->
	<!-- DATE   		AUTHOR        	DESCRIPTION                      			-->
	<!-- ===========  	============  	===========================================	-->
	<!-- 2023.10.12  	김호        	Initial Creation                            -->
	<!-- ==========================================================================	-->
    <select id="selectRegSlsPrfmncList" parameterType="com.at.apcss.am.sls.vo.SlsPrfmncVO" resultType="com.at.apcss.am.sls.vo.SlsPrfmncVO">
    	<![CDATA[
    		SELECT
    			  pt0.*
    			, (SELECT FN_GET_GDS_NM(pt0.GDS_CD, pt0.APC_CD) FROM DUAL)							AS GDS_NM
    			, (SELECT FN_GET_ITEM_NM(pt0.ITEM_CD, pt0.APC_CD) FROM DUAL) 						AS ITEM_NM
	    		, (SELECT FN_GET_VRTY_NM(pt0.ITEM_CD, pt0.VRTY_CD, pt0.APC_CD) FROM DUAL)			AS VRTY_NM
	    		, (SELECT FN_GET_SPCFCT_NM(pt0.ITEM_CD, pt0.SPCFCT_CD, pt0.APC_CD) FROM DUAL)		AS SPCFCT_NM
	    		, (SELECT FN_GET_CNPT_NM(pt0.CNPT_CD, pt0.APC_CD) FROM DUAL)						AS CNPT_NM
	    		, (SELECT FN_GET_GRD_NM_GDS(pt0.APC_CD, pt0.ITEM_CD, pt0.GRD_CD) FROM DUAL)         AS GRD_NM
    		 FROM (
			    	SELECT
					       SP.APC_CD                AS APC_CD
					     , SP.SLS_YMD               AS SLS_YMD
					     , SP.SLS_SN                AS SLS_SN
					     , SP.CNPT_CD               AS CNPT_CD
					     , SP.GDS_CD                AS GDS_CD
					     , SP.ITEM_CD               AS ITEM_CD
					     , SP.VRTY_CD               AS VRTY_CD
					     , SP.SPCFCT_CD             AS SPCFCT_CD
					     , SP.GRD_CD                AS GRD_CD
					     , SP.BRND_NM               AS BRND_NM
					     , SP.SPMT_YMD              AS SPMT_YMD
					     , SP.QNTT                  AS QNTT
					     , SP.WGHT                  AS WGHT
					     , SP.SLS_UNTPRC            AS SLS_UNTPRC
					     , SP.RKNG_AMT              AS RKNG_AMT
					     , SP.CFMTN_AMT             AS CFMTN_AMT
					     , SP.CFMTN_YN              AS CFMTN_YN
					     , SP.DEL_YN                AS DEL_YN
					     , CASE WHEN
                                    (SELECT COUNT(*)
                                      FROM TB_SPMT_PRFMNC_DTL X
                                     WHERE X.APC_CD = SP.APC_CD
                                       AND X.SPMTNO = SP.SPMTNO
                                       AND X.PCKGNO = SP.PCKGNO
                                       AND X.PCKG_SN = SP.PCKG_SN) = 1
                                THEN 'Y'
                                ELSE 'N'
                            END AS CFMTN_PSBLTY_YN
  					  FROM TB_SLS_PRFMNC SP
  					 WHERE SP.DEL_YN = 'N'
		]]>
		<if test='apcCd != null and apcCd != ""'>
			   AND SP.APC_CD = #{apcCd}
		</if>
		<if test='slsYmdFrom != null and slsYmdFrom != ""'>
		   	   AND SP.SLS_YMD <![CDATA[>=]]> #{slsYmdFrom}
		</if>
		<if test='slsYmdTo != null and slsYmdTo != ""'>
		       AND SP.SLS_YMD <![CDATA[<=]]> #{slsYmdTo}
		</if>
		<if test='cnptCd != null and cnptCd != ""'>
		       AND SP.CNPT_CD = #{cnptCd}
		</if>
		<if test='itemCd != null and itemCd != ""'>
		       AND SP.ITEM_CD = #{itemCd}
		</if>
		<if test='vrtyCd != null and vrtyCd != ""'>
		       AND SP.VRTY_CD = #{vrtyCd}
		</if>
		<if test='cfmtnYn != null and cfmtnYn != ""'>
		       AND SP.CFMTN_YN = #{cfmtnYn}
		</if>
		<if test='cnptNm != null and cnptNm != ""'>
		       AND (SELECT FN_GET_CNPT_NM(SP.CNPT_CD, SP.APC_CD) FROM DUAL) LIKE '%' ||  #{cnptNm} || '%'
		</if>
    	<![CDATA[
    		  ) pt0
		]]>
    </select>

</mapper>


